    <section id="section-hd-oferta" class="section section-gris margin-0 text-center">
	    <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
			<h1>AUXILIAR DE COCINA (MEDELLÍN) - Dann Carlton </h1>
		</div>
		<div class="container">
    		<div class="row">
    			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
    					<center><img src="assets/images/logo_thumb_empresa1.jpg" class="img-circle img-responsive margin-5" width="100%" height="" /></center>
    				</div>
    				<div class="col-lg-7 col-md-7 col-sm-7 hidden-xs">
                        <p class="text-justify padding-top-15 padding-bottom-15 padding-left-10">El Hotel Dann Carlton Medellín, desde su apertura creó una nueva perspectiva en el mundo de la hotelería por medio de un servicio más amable y personalizado, que le ha permitido convertirse en un punto de encuentro para visitantes residentes y extranjeros, pues es símbolo perdurable de excelencia, lujo y sofisticación.</p>
    				</div>
    				<!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-50">
    					<a href="#/actualiza" class="btn btn-lg bton-green">Editar mi Perfil</a>
    				</div> -->
    			</div>
    		</div>
    	</div>
    </section>
    <section id="section-dt-oferta" class="section section-blanco margin-0 text-center padding-top-30">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 margin-bottom-20">
    				<div class="titulo text-left col-lg-12 col-md-12 col-sm-12 col-xs-12">
    					Auxiliar de Cocina
    				</div>
    				<div class="detalle text-left col-lg-12 col-md-12 col-sm-12 col-xs-12">
    					Dann Carlton<br />Colombia | Medellín
    				</div>
    				<div class="descripcion text-left padding-top-20 padding-bottom-20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    					<strong>OPCIONES DE CARRERA</strong><br />
    					Gastronomía y Cocina
    				</div>
    				<div class="descripcion text-left padding-top-20 padding-bottom-20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    					<strong>NIVEL PROFESIONAL REQUERIDO</strong><br />
    					EDUCACIÓN MÍNIMA: Tecnico o Tecnologo. Tecnica en Cocina
    				</div>
    				<div class="descripcion text-left padding-top-20 padding-bottom-20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    					<strong>IDIOMAS REQUERIDOS</strong><br />
    					Ninguno
    				</div>
    				<div class="descripcion text-left padding-top-20 padding-bottom-20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-0">
    					   <strong>DESCRIPCIÓN</strong><br />
    					   <p>Asistir las funciones del area, realizar el mise-place de las reparaciones, apoyar al chef en las labores asignadas</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    					   <strong>FUNCIONES</strong><br/>
	    				   <ul>
                                <li> Experiencia: 1 año</li>
	    				   </ul>
                        </div>
    				</div>
    				<div class="descripcion text-left padding-top-20 padding-bottom-20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    					<strong>SALARIO:  750000 $</strong><br />
    					Contrato a Termino fijo. Incluye prestaciones sociales. Se recomienda experiencia en el sector hotelero.
    				</div>
                    <div class="row text-center margin-top-30 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    				    <button class="btn btn-lg bton-green" ng-click="nbc.applyForJob('AUXILIAR DE COCINA','Dann Carlton')">Enviar mi Hoja de Vida</button>
                    </div>
    			</div>
    			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    				<div class="compartir text-center padding-15">
	    				<span class="hidden-xs">Compartir</span>
	    				<ul class="list-inline">
                            <li class="margin-10"><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.soyempleo.com/"><i class="fa fa-facebook fa-lg"></i></a></li>
                            <li class="margin-10"><a href="https://twitter.com/?status=Tuitear Oferta de Empleo http://www.soyempleo.com/"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="margin-10"><a href="https://plus.google.com/share?url=http://www.soyempleo.com/"><i class="fa fa-google-plus fa-lg"></i></a></li>
                            <li class="margin-10"><a href="http://www.linkedin.com/shareArticle?url=http://www.soyempleo.com/"><i class="fa fa-linkedin fa-lg"></i></a></li>
                        </ul>
    				</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-0">
        				<hr class="hidden-xs" />
        				<h4>Ofertas Sugeridas</h4>
                    </div>
    				<div class="sugeridas col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-0 text-left margin-bottom-10">
    					<img src="assets/images/logo_empresa_1.png" class="img-responsive" width="100%" height="" />
    					<p class="padding-left-10"><strong><a href="#/ofertas/empleo/medellin/hotel-dann-carlton/ejecutivo-de-ventas">EJECUTIVO DE VENTAS</a></strong><br />Ciudad: Medellín<br />Salario: 900000<br />Área: Comercial y Ventas</p>
    				</div>
    				<div class="sugeridas col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-0 text-left margin-bottom-10">
    					<img src="assets/images/logo_empresa_1.png" width="100%" class="img-responsive" height="" />
    					<p class="padding-left-10"><strong><a href="#/ofertas/empleo/medellin/hotel-dann-carlton/mesero">MESERO</a></strong><br />Ciudad: Medellín<br />Salario: 644000<br />Área: Atención al Cliente</p>
    				</div>
    			</div>
    		</div>
    	</div>
	</section>
	<section id="section-ofertas" class="text-center padding-top-30 padding-right-10 padding-left-10 padding-bottom-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-sm-offset-1 col-sm-10 col-xs-12">
                    <h1>Últimas <strong>Ofertas</strong></h1>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-left-0">
                        <div class="panel panel-default panel-pricing">
                            <div class="panel-heading padding-0">
                                <img src="assets/images/logo_empresa_1.png"class="img-responsive" alt="Empresa Ofertante SoyEmpleo" width="" height="">
                            </div>
                             <div class="panel-body text-left">
                                <h4>Ejecutivo de <strong>Ventas</strong></h4>
                                <p><img src="assets/images/icon-map-market.png" alt="Ciudad vacantes" width="" height="" /> Medellín </p>
                                <p><img src="assets/images/icon-suitcase.png" alt="Salario ofrecido" width="" height="" /> 900000 / <strong>Termino fijo</strong></p>
                            </div>
                            <div class="panel-footer">
                                <a href="#/ofertas/empleo/medellin/hotel-dann-carlton/ejecutivo-de-ventas" class="btn btn-sm bton-green" onClick="$.scrollTo('html, body',900)">Ver Oferta!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-left-0">
                        <div class="panel panel-default panel-pricing">
                            <div class="panel-heading padding-0">
                                <img src="assets/images/logo_empresa_3.png" class="img-responsive" width="" height="" alt="Empresa Ofertante SoyEmpleo">
                            </div>
                             <div class="panel-body text-left">
                                <h4>Asistente de <strong>Recursos Humanos</strong></h4>
                                <p><img src="assets/images/icon-map-market.png" alt="Ciudad vacante" width="" height="" /> Medellín </p>
                                <p><img src="assets/images/icon-suitcase.png" alt="Salario ofrecido" width="" height="" /> 800000 / <strong>Termino fijo</strong></p>
                            </div>
                            <div class="panel-footer">
                                <a href="#/ofertas/empleo/medellin/joystaz-jeans/asistente-de-recursos-humanos" class="btn btn-sm bton-green" onClick="$.scrollTo('html, body',900)">Ver Oferta!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-left-0">
                        <div class="panel panel-default panel-pricing">
                            <div class="panel-heading padding-0">
                                <img src="assets/images/logo_empresa_4.png"class="img-responsive" alt="Empresa Ofertante SoyEmpleo" width="" height="">
                            </div>
                             <div class="panel-body text-left">
                                <h4>Analista de <strong>Nómina</strong></h4>
                                <p><img src="assets/images/icon-map-market.png" alt="Ciudad Vacante" width="" height="" /> Medellín </p>
                                <p><img src="assets/images/icon-suitcase.png" alt="Salario Ofrecido" width="" height="" /> 1600000 / <strong>Termino fijo</strong></p>
                            </div>
                            <div class="panel-footer">
                                <a href="#/ofertas/empleo/medellin/crepes-y-waffles/analista-de-nomina" class="btn btn-sm bton-green" onClick="$.scrollTo('html, body',900)">Ver Oferta!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /Sección Ofertas -->