<!--      Empresa: AirTrecks.com
Cargo: Asesor Comercial - Bilingüe
Salario: $1.000 USD mensuales
Contrato: Prestación de servicios
Sobre la empresa: AirTreks.com is the worldwide leader in providing affordable, customized and efficient international air tickets through advanced technologies for complex multi-stop international journeys.
AirTreks.com enables travelers and travel agents to create customized itineraries — with an unlimited number of destinations — and receive instant online price estimates with one click.

Sobre el Cargo: La persona estará a cargo de llevar a cabo los planes comerciales de la empresa en Colombia, orientado al cumplimiento de objetivos y metas de ventas. Se busca una persona amable, cálida y comercial, con excelentes relaciones interpersonales.  INDISPENSABLE tener un completo dominio del idioma ingles, si no cumple con este requisito por favor abstenerse de aplicar a esta oferta. -->

    <section id="section-hd-oferta" class="section section-gris margin-0 text-center">
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
            <h1>ASESOR COMERCIAL - AirTrecks.com </h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <center><img src="assets/images/logo_thumb_empresa7.jpg" class="img-circle img-responsive margin-5" width="100%" height="" /></center>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 hidden-xs">
                        <p class="text-justify padding-top-15 padding-bottom-15 padding-left-10">AirTreks.com is the worldwide leader in providing affordable, customized and efficient international air tickets through advanced technologies for complex multi-stop international journeys. AirTreks.com enables travelers and travel agents to create customized itineraries — with an unlimited number of destinations — and receive instant online price estimates with one click.</p>
                    </div>
                    <!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-50">
                        <a href="#/actualiza" class="btn btn-lg bton-green">Editar mi Perfil</a>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    <section id="section-dt-oferta" class="section section-blanco margin-0 text-center padding-top-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 margin-bottom-20">
                    <div class="titulo text-left col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        Asesor Comercial
                    </div>
                    <div class="detalle text-left col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        AirTrecks.com<br />Colombia | Medellín
                    </div>
                    <div class="descripcion text-left padding-top-20 padding-bottom-20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <strong>OPCIONES DE CARRERA</strong><br />
                        Contrato de Prestación de Servicios
                    </div>
                    <div class="descripcion text-left padding-top-20 padding-bottom-20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <strong>NIVEL PROFESIONAL REQUERIDO</strong><br />
                        Profesional
                    </div>
                    <div class="descripcion text-left padding-top-20 padding-bottom-20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <strong>IDIOMAS REQUERIDOS</strong><br />
                        INGLÉS: Indispensable
                    </div>
                    <div class="descripcion text-left padding-top-20 padding-bottom-20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-0">
                            <strong>DESCRIPCIÓN</strong><br />
                            <p style="width:100% !important;">La persona estará a cargo de llevar a cabo los planes comerciales de la empresa en Colombia, orientado al cumplimiento de objetivos y metas de ventas. Se busca una persona amable, cálida y comercial, con excelentes relaciones interpersonales.  INDISPENSABLE tener un completo dominio del idioma ingles, si no cumple con este requisito por favor abstenerse de aplicar a esta oferta.</p>
                        </div>
                        <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <strong>FUNCIONES</strong><br/>
                            <ul>
                               <li> Experiencia: 6 meses en atención al cliente</li>
                               <li> Buena presentación personal </li>
                               <li> Preferiblemente mujeres cabezas de familia</li>
                            </ul>
                        </div> -->
                    </div>
                    <div class="descripcion text-left padding-top-20 padding-bottom-20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <strong>SALARIO:  1.000 USD</strong><br />
                    </div>
                    <div class="row text-center margin-top-30 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btn-lg bton-green" ng-click="nbc.applyForJob('ASESOR COMERCIAL','AirTrecks.com')">Enviar mi Hoja de Vida</button>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="compartir text-center padding-15">
                        <span class="hidden-xs">Compartir</span>
                        <ul class="list-inline">
                            <li class="margin-10"><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.soyempleo.com/"><i class="fa fa-facebook fa-lg"></i></a></li>
                            <li class="margin-10"><a href="https://twitter.com/?status=Tuitear Oferta de Empleo http://www.soyempleo.com/"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="margin-10"><a href="https://plus.google.com/share?url=http://www.soyempleo.com/"><i class="fa fa-google-plus fa-lg"></i></a></li>
                            <li class="margin-10"><a href="http://www.linkedin.com/shareArticle?url=http://www.soyempleo.com/"><i class="fa fa-linkedin fa-lg"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-0">
                        <hr class="hidden-xs" />
                        <h4>Ofertas Sugeridas</h4>
                    </div>
                    <div class="sugeridas col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-0 text-left margin-bottom-10">
                        <img src="assets/images/logo_empresa_4.png" class="img-responsive" width="100%" height="" />
                        <p class="padding-left-10"><strong><a href="#/ofertas/empleo/medellin/crepes-y-waffles/analista-de-nomina">ANALISTA DE NÓMINA</a></strong><br />Ciudad: Medellín<br />Salario: 1600000<br />Área: Financiera</p>
                    </div>
                    <div class="sugeridas col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-0 text-left margin-bottom-10">
                        <img src="assets/images/logo_empresa_4.png" class="img-responsive" width="100%" height="" />
                        <p class="padding-left-10"><strong><a href="#/ofertas/empleo/medellin/crepes-y-waffles/asistente-de-seleccion-de-personal">ASISTENTE DE SELECCIÓN PERSONAL</a></strong><br />Ciudad: Medellín<br />Salario: 1500000<br />Área: Recursos Humanos</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-ofertas" class="text-center padding-top-30 padding-right-10 padding-left-10 padding-bottom-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-sm-offset-1 col-sm-10 col-xs-12">
                    <h1>Últimas <strong>Ofertas</strong></h1>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-left-0">
                        <div class="panel panel-default panel-pricing">
                            <div class="panel-heading padding-0">
                                <img src="assets/images/logo_empresa_1.png"class="img-responsive" alt="Empresa Ofertante SoyEmpleo" width="" height="">
                            </div>
                             <div class="panel-body text-left">
                                <h4>Ejecutivo de <strong>Ventas</strong></h4>
                                <p><img src="assets/images/icon-map-market.png" alt="Ciudad vacantes" width="" height="" /> Medellín </p>
                                <p><img src="assets/images/icon-suitcase.png" alt="Salario ofrecido" width="" height="" /> 900000 / <strong>Termino fijo</strong></p>
                            </div>
                            <div class="panel-footer">
                                <a href="#/ofertas/empleo/medellin/hotel-dann-carlton/ejecutivo-de-ventas" class="btn btn-sm bton-green" onClick="$.scrollTo('html, body',900)">Ver Oferta!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-left-0">
                        <div class="panel panel-default panel-pricing">
                            <div class="panel-heading padding-0">
                                <img src="assets/images/logo_empresa_3.png" class="img-responsive" width="" height="" alt="Empresa Ofertante SoyEmpleo">
                            </div>
                             <div class="panel-body text-left">
                                <h4>Asistente de <strong>Recursos Humanos</strong></h4>
                                <p><img src="assets/images/icon-map-market.png" alt="Ciudad vacante" width="" height="" /> Medellín </p>
                                <p><img src="assets/images/icon-suitcase.png" alt="Salario ofrecido" width="" height="" /> 800000 / <strong>Termino fijo</strong></p>
                            </div>
                            <div class="panel-footer">
                                <a href="#/ofertas/empleo/medellin/joystaz-jeans/asistente-de-recursos-humanos" class="btn btn-sm bton-green" onClick="$.scrollTo('html, body',900)">Ver Oferta!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-left-0">
                        <div class="panel panel-default panel-pricing">
                            <div class="panel-heading padding-0">
                                <img src="assets/images/logo_empresa_4.png"class="img-responsive" alt="Empresa Ofertante SoyEmpleo" width="" height="">
                            </div>
                             <div class="panel-body text-left">
                                <h4>Analista de <strong>Nómina</strong></h4>
                                <p><img src="assets/images/icon-map-market.png" alt="Ciudad Vacante" width="" height="" /> Medellín </p>
                                <p><img src="assets/images/icon-suitcase.png" alt="Salario Ofrecido" width="" height="" /> 1600000 / <strong>Termino fijo</strong></p>
                            </div>
                            <div class="panel-footer">
                                <a href="#/ofertas/empleo/medellin/crepes-y-waffles/analista-de-nomina" class="btn btn-sm bton-green" onClick="$.scrollTo('html, body',900)">Ver Oferta!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /Sección Ofertas -->