
.efectoMouse {
    cursor: pointer
}

.efectoMouseCancel {
    cursor: not-allowed
}

.btn-agregarEstudio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 8px
}

.select-stylep {
    font-size: 14px;
    line-height: inherit;
    color: #555;
    border: 0;
    border-bottom: 1px solid #ccc;
    appearance: none;
    background: url(../images/row.png) 95% 50% no-repeat #fff !important
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center
}

.etiqueta {
    color: #fff;
    border-radius: 8%;
    padding: 4px 15px;
    text-align: center
}

.complete-section {
    position: absolute;
    border-radius: 50%;
    background-color: #0f9634;
    color: #FFF;
    right: 10vw;
    width: 130px;
    height: 127px;
    font-size: 20px;
    margin-top: 15px;
    z-index: 99;
}

.textarea-large {
    width: 70vw;
}

.button-noStyle {
    border: transparent;
    background: transparent;
}

.inputw {
    height: 40px;
    border: none;
    margin: 4px;
    color: #bababa;
    padding: 4px 3px 4px 8px;
    border-radius: 4px;
}

.select select, .select2 select {

    color: #928d8d !important;

}

@media (min-width: 1024px) and (max-width: 1439px) {
    .margin-left-28 {
        margin-left: 28px !important;
    }

    .select-ext {
        width: 46.3% !important;
        margin-left: 65px;
    }
}

@media (max-width: 480px) {
    .select-ext {
        width: 93.3% !important;
        margin-left: 4% !important;
    }
}

.mas-palabras .keywords {
    float: left;
    background-color: #cdcdcd;
    color: #ffffff;
    border-radius: 16px;
    padding: 5px 5px !important;
    margin: 4px 3px !important;;
}

.vertical-bar {
    display: inline-block;
    width: 100px;
    height: 100px;
    -webkit-transform: rotate(-90deg);/* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    border-radius: 50%;
    border: 2px solid #00B34F;
    background: #C5C5C5;
}

.horizontal-bar {
    display: inline-block;
    width: 20%;
    height: 40px;
    -webkit-transform: rotate(90deg) !important;/* Chrome, Safari, Opera */
    transform: rotate(90deg) !important;
    padding-left: 30px;
}

.progress-bar {
    background-color: #495BC1 !important;
}

.esHidden{visibility:hidden;} 

.esVisible{visibility: visible;}

.topline{
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  margin-top: 20px;
  width: 100%;
}

.form-control, output {
    font-weight: 700;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.checkboxdemoBasicUsage div.flex-xs {
  min-height: 40px; }

.checkboxdemoBasicUsage .checkboxDemo1 div {
  clear: both; }

.checkboxdemoBasicUsage .checkboxDemo1 md-checkbox {
  float: left; }

.checkboxdemoBasicUsage p {
  padding-left: 8px; }

.checkboxdemoBasicUsage fieldset.standard {
  border-style: solid;
  border-width: 1px; }

.checkboxdemoBasicUsage legend {
  color: #3F51B5; }

.checkboxdemoBasicUsage legend code {
  color: #3F51B5;
  font-weight: normal; }

.checkboxdemoBasicUsage .ipsum {
  color: saddlebrown; }