/*Esto es opcion, aqui se incluyen las fuentes iconos del proyecto */
/*This is optional, here include the font icon in project */
@font-face {
    font-family: 'roboto';
    src: url('../../fonts/glyphicons-halflings-regular.ttf');
}

@font-face {
    font-family: 'Material Icons';
    src: url('../../fonts/MaterialIcons-Regular.ttf');
}

@font-face {
    font-family: 'roboto';
    src: url('../../fonts/glyphicons-halflings-regular.ttf');
}

@font-face {
    font-family: 'Material Icons';
    src: url('../../fonts/MaterialIcons-Regular.ttf');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* --------------------------- Generally ------------------------------*/
html, body {

    background-color: #EFEFEF;
    color: #464646;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.sombra-navbar {

    -webkit-box-shadow: 0px 21px 37px -18px rgba(219, 219, 219, 1);
    -moz-box-shadow: 0px 21px 37px -18px rgba(219, 219, 219, 1);
    box-shadow: 0px 21px 37px -18px rgba(219, 219, 219, 1);

}

/* --------------------------- Managing resolutions ------------------------------*/

@media screen and (max-width: 480px) {

    .menu-lg {
        top: 38px !important;
    }

    .btn-will {
        top: 8px !important;
        color: #fff !important;
        font-size: 26px;
        position: absolute !important;

    }

    .col-xs-10-will {
        width: 100% !important;
        transition: width 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -webkit-transition: 1s;
        -o-transition: 1s;
    }

    .col-xs-12-will {
        position: relative;
        min-height: 1px;
        padding-right: 0 !important;
        padding-left: 0 !important;
        float: right;
    }

    .align-body {

        margin-left: 3.4%;
        width: 89.5%;
        padding-right: 0;
        padding-left: 0;
    }

    .align-body-full {

        margin-left: 3.4%;
        width: 92.5%;
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-menu {
        height: 37px !important;
    }

    .navbar {
        min-height: 30px !important;
    }

    .logoSite {
        height: 37px !important;
        width: 130px !important;
    }

    .logoSite a {
        margin-top: -11px !important;
        margin-left: -13px;
        font-size: 20px;
    }

    .logoSite img {
        margin-top: 2px !important;
        margin-left: 24px !important;
        height: 30px !important;
    }

    .home {
        margin-top: -7px !important;
        margin-left: 130px !important;
    }

    .nav-search {
        width: 32% !important;
        margin-left: 165px !important;
        margin-top: -6px !important;
    }

    .nav a:hover {
        text-decoration: none;
    }

    .notify {
        position: absolute;
        width: 16% !important;
        right: 17px !important;
        margin-top: 0 !important;

    }

    .nav .profile {
        position: absolute;
        right: -22px;
        margin-top: 0 !important;
        width: 17% !important;
        border: 0;
        font-size: 12px !important;

    }

    .nav-show {
        margin-top: -30px !important;
        margin-left: 380px !important;
    }

}

@media screen and (min-width: 481px) and (max-width: 560px) {

    .menu-lg {
        top: 38px !important;
    }

    .btn-will {
        top: 8px !important;
        color: #fff !important;
        font-size: 26px;
        position: absolute !important;

    }

    .col-xs-10-will {
        width: 100% !important;
        transition: width 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -webkit-transition: 1s;
        -o-transition: 1s;
    }

    .col-xs-12-will {
        position: relative;
        min-height: 1px;
        padding-right: 0 !important;
        padding-left: 0 !important;
        float: right;
    }

    .align-body {

        margin-left: 3.4%;
        width: 89.5%;
        padding-right: 0;
        padding-left: 0;
    }

    .align-body-full {

        margin-left: 3.4%;
        width: 92.5%;
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-menu {
        height: 37px !important;
    }

    .navbar {
        min-height: 30px !important;
    }

    .logoSite {
        height: 37px !important;
        width: 130px !important;
    }

    .logoSite a {
        margin-top: -11px !important;
        margin-left: -13px;
        font-size: 20px;
    }

    .logoSite img {
        margin-top: 2px !important;
        margin-left: 24px !important;
        height: 30px !important;
    }

    .home {
        margin-top: -7px !important;
        margin-left: 130px !important;
    }

    .nav-search {
        width: 40% !important;
        margin-left: 168px !important;
        margin-top: -6px !important;
    }

    .nav a:hover {
        text-decoration: none;
    }

    .notify {
        position: absolute;
        width: 17% !important;
        right: 28px !important;
        margin-top: 0 !important;

    }

    .nav .profile {
        position: absolute;
        right: -10px;
        margin-top: 0 !important;
        width: 17% !important;
        border: 0;
        font-size: 12px !important;

    }

    .nav-show {
        margin-top: -30px !important;
        margin-left: 380px !important;
    }

}

@media screen and (min-width: 560px) and (max-width: 700px) {

    .menu-lg {
        top: 38px !important;
    }

    .btn-will {
        top: 8px !important;
        color: #fff !important;
        font-size: 26px;
        position: absolute !important;

    }

    .col-xs-10-will {
        width: 70% !important;
        transition: width 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -webkit-transition: 1s;
        -o-transition: 1s;
    }

    .col-xs-12-will {
        position: relative;
        min-height: 1px;
        padding-right: 0 !important;
        padding-left: 0 !important;
        float: right;
    }

    .align-body {

        margin-left: 3.4%;
        width: 89.5%;
        padding-right: 0;
        padding-left: 0;
    }

    .align-body-full {

        margin-left: 3.4%;
        width: 89.5%;
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-menu {
        height: 37px !important;
    }

    .navbar {
        min-height: 30px !important;
    }

    .logoSite {
        height: 37px !important;
        width: 130px !important;
    }

    .logoSite a {
        margin-top: -11px !important;
        margin-left: -13px;
        font-size: 20px;
    }

    .logoSite img {
        margin-top: 2px !important;
        margin-left: 24px !important;
        height: 30px !important;
    }

    .home {
        margin-top: -7px !important;
        margin-left: 130px !important;
    }

    .nav-search {
        width: 48% !important;
        margin-left: 172px !important;
        margin-top: -6px !important;
    }

    .nav a:hover {
        text-decoration: none;
    }

    .notify {
        position: absolute;
        width: 16% !important;
        right: 28px !important;
        margin-top: 0 !important;

    }

    .nav .profile {
        position: absolute;
        right: -22px;
        margin-top: 0 !important;
        width: 14% !important;
        border: 0;
        font-size: 12px !important;

    }

    .nav-show {
        margin-top: -30px !important;
        margin-left: 380px !important;
    }

}

@media screen and (min-width: 700px) and (max-width: 768px) {

    #ladoDerecho {

        margin-right: -25px !important;
    }

    .col-xs-2-will {
        width: 20.444444445% !important;
    }

    .btn-will {
        top: 8px !important;
        color: #fff !important;
        font-size: 26px;
        position: absolute !important;

    }

    .col-xs-10-will {
        width: 100% !important;
        transition: width 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -webkit-transition: 1s;
        -o-transition: 1s;
    }

    .col-xs-12-will {
        position: relative;
        min-height: 1px;
        padding-right: 0 !important;
        padding-left: 0 !important;
        float: right;
    }

    .align-body {

        margin-left: 3.4%;
        width: 89.5%;
        padding-right: 0;
        padding-left: 0;
    }

    .align-body-full {

        margin-left: 1.4% !important;
        width: 92% !important;
        padding-right: 0;
        padding-left: 0;
    }

    .nav-search {
        width: 37% !important;
    }

    .logoSite {
        height: 65px !important;
    }

    .logoSite a {
        margin-top: 2px !important;
        margin-left: -13px;
    }

    .logoSite img {
        margin-top: 8px !important;
        margin-left: 50px !important;
    }

    .nav a:hover {
        text-decoration: none;
    }

    .notify {
        position: absolute;
        width: 15% !important;
        right: 28px !important;
        margin-top: 0 !important;

    }

    .body-accordion {
        background: #ffffff !important;
    }

    .nav .profile {
        position: absolute;
        right: -22px;
        margin-top: 0 !important;
        width: 14% !important;
        border: 0;
        font-size: 12px !important;

    }

    .nav-show {
        margin-top: -30px !important;
        margin-left: 380px !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 940px) {

    #ladoDerecho {

        margin-right: -25px !important;
    }

    .col-xs-2-will {
        width: 20.444444445% !important;
    }

    .btn-will {
        top: 3px !important;
        color: #fff !important;
        font-size: 26px;
        position: absolute !important;

    }

    .col-xs-10-will {
        width: 100% !important;
        transition: width 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -webkit-transition: 1s;
        -o-transition: 1s;
    }

    .col-xs-12-will {
        position: relative;
        min-height: 1px;
        padding-right: 0 !important;
        padding-left: 0 !important;
        float: right;
    }

    .align-body {

        margin-left: 3.4%;
        width: 89.5 .5%;
        padding-right: 0;
        padding-left: 0;
    }

    .align-body-full {

        margin-left: 1.4% !important;
        width: 92% !important;
        padding-right: 0;
        padding-left: 0;
    }

    .nav-search {
        width: 89.5% !important;
    }

    .logoSite {
        height: 50px !important;
    }

    .logoSite a {
        margin-top: -2px !important;
        margin-left: -13px;
    }

    .logoSite img {
        margin-top: 1px !important;
        margin-left: 50px !important;
    }

    .nav a:hover {
        text-decoration: none;
    }

    .notify {
        position: absolute;
        width: 15% !important;
        right: 28px !important;
        margin-top: 0 !important;

    }

    .body-accordion {
        background: #ffffff !important;
        min-width: 247px !important;
    }

    .nav .profile {
        position: absolute;
        right: -22px;
        margin-top: 0 !important;
        width: 14% !important;
        border: 0;
        font-size: 12px !important;

    }

    .nav-show {
        margin-top: -30px !important;
        margin-left: 380px !important;
    }
}

@media screen and (min-width: 940px) and (max-width: 1199px) {

    #ladoDerecho {

        margin-right: -25px !important;
    }

    .col-xs-2-will {
        width: 20.444444445% !important;
    }

    .btn-will {
        top: 3px !important;
        color: #fff !important;
        font-size: 26px;
        position: absolute !important;

    }

    .col-xs-10-will {
        width: 100% !important;
        transition: width 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -webkit-transition: 1s;
        -o-transition: 1s;
    }

    .col-xs-12-will {
        position: relative;
        min-height: 1px;
        padding-right: 0 !important;
        padding-left: 0 !important;
        float: right;
    }

    .align-body {

        margin-left: 21.5% !Important;
        width: 74.5% !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .align-body-full {

        margin-left: 1.4% !important;
        width: 92% !important;
        padding-right: 0;
        padding-left: 0;
    }

    .nav-search {
        width: 100% !important;
    }

    .logoSite {
        height: 50px !important;
    }

    .logoSite a {
        margin-top: -2px !important;
        margin-left: -13px;
    }

    .logoSite img {
        margin-top: 1px !important;
        margin-left: 50px !important;
    }

    .nav a:hover {
        text-decoration: none;
    }

    .notify {
        position: absolute;
        right: 0;
        margin-top: 43px !important;
        width: 14% !important;
        border: 0;
        font-size: 12px !important;

    }

    .body-accordion {
        background: #ffffff !important;
        min-width: 247px !important;
    }

    .nav .profile {
        position: absolute;
        right: -64px;
        margin-top: 43px !important;
        width: 14% !important;
        border: 0;
        font-size: 12px !important;

    }

    .nav-show {
        margin-top: -30px !important;
        margin-left: 380px !important;
    }

    .container {
        width: 970px !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1345px) {

    #ladoDerecho {

        margin-right: -25px !important;
    }

    .col-xs-2-will {
        width: 20.444444445% !important;
    }

    .btn-will {
        top: 3px !important;
        color: #fff !important;
        font-size: 26px;
        position: absolute !important;

    }

    .col-xs-10-will {
        width: 100% !important;
        transition: width 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -webkit-transition: 1s;
        -o-transition: 1s;
    }

    .col-xs-12-will {
        position: relative;
        min-height: 1px;
        padding-right: 0 !important;
        padding-left: 0 !important;
        float: right;
    }

    .align-body {

        margin-left: 18.3% !Important;
        width: 78.5% !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .align-body-full {

        margin-left: 1.4% !important;
        width: 92% !important;
        padding-right: 0;
        padding-left: 0;
    }

    .nav-search {
        width: 114% !important;
    }

    .logoSite {
        height: 50px !important;
    }

    .logoSite a {
        margin-top: -2px !important;
        margin-left: -13px;
    }

    .logoSite img {
        margin-top: 1px !important;
        margin-left: 50px !important;
    }

    .nav a:hover {
        text-decoration: none;
    }

    .body-accordion {
        background: #ffffff !important;
        min-width: 247px !important;
    }

    .nav-show {
        margin-top: -30px !important;
        margin-left: 380px !important;
    }

    .container {
        width: 970px !important;
    }
}

/* --------------------------- Style of left menu ------------------------------*/
.menu-lg {

    position: fixed;
    background: #FFF none repeat scroll 0% 0%;
    text-align: center;
    height: 100% !important;
    left: 0;
    top: 50px;
    width: 250px;
    z-index: 1031;
    padding-right: 25px;

}

.menu-lg .row {

    padding: 7px;
    margin-left: 4px;

}

.menu-lg .row a, .menu-lg .row span {

    text-decoration: none;
    color: #444444;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2px;

}

.menu-lg .row:hover {

    background: #f4f4f4;

}

.lateral-izquierdo {

    height: 100%;

}

.btn-will {

    font-size: 25px;
    width: 50px;
    padding: 7px;
    margin-bottom: 30px;
    margin-left: -20px;
    color: #415CBC !important;
    cursor: pointer;
    text-align: center;
    background: transparent;
    position: absolute;
}

.btn-will:hover {
    background: transparent !important;
    text-decoration: none;
}

.body-accordion {

    width: 244px !important;
    margin-left: 3px;

}

.body-accordion {

    overflow-y: auto;
    overflow-x: hidden;
    max-height: 87%;
    min-width: 263px;
    background: transparent;
}

.body-accordion .panel-heading {

    background: transparent;
    max-width: 249px !important;
}

.body-accordion .panel-heading {

    margin-bottom: 4px;
    max-width: 247px !important;
}

.body-accordion .panel-heading:hover {

    background: #f1f1f1;
}

.btn-accordion {
    background: transparent;
    border: 0;
    width: 100%;

}

.link-accordion {

    padding: 0 !important;
    margin: auto !important;
    border-bottom: 1px solid #e1e1e1;
    background: #f4f4f4;
    max-width: 248px !important;
    margin-left: -2px !important;

}

.link-accordion button {

    text-decoration: none;
    color: #444;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    height: 38px;
    background: transparent;
    border: 0;
    width: 249px !important;
    margin-left: -3px !important;
    margin-top: 0;
    margin-bottom: 0;

}

.title-in-button {

    margin-left: 20px;
    margin-top: 3px;
}

.link-accordion button:hover {

    background: #dfdfdf;

}

.link-accordion span {

    margin-left: 30px;

}

.profile-img {

    margin-left: -15px
}

.profile-img img {
    max-width: 65px;
    margin-top: 5px;
}

.profile {

    border-bottom: 1px solid #ccc;

}

.profile:hover {

    background: transparent !important;

}

/*container fluid, to columns*/
.col-xs-10-will, .col-xs-12-will {

    position: relative;
    min-height: 1px;
    padding-left: 15px;
    float: right;

}

.col-xs-10-will {
    width: 83.33333333%;
    transition: width 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -webkit-transition: 1s;
    -o-transition: 1s;
}

.col-xs-2-will {
    width: 16.66666667%;
}

.col-xs-12-will {
    width: 100%;
    transition: width 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -webkit-transition: 1s;
    -o-transition: 1s;
}

/*Animations and transitions of MenuWIL*/

.will-left {
    -webkit-transform: translate3d(-268px, 0, 0);
    -moz-transform: translate3d(-268px, 0, 0);
    -ms-transform: translate3d(-268px, 0, 0);
    -o-transform: translate3d(-268px, 0, 0);
    transform: translate3d(-268px, 0, 0);
}

.will-open {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.content-open {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.pushy, #container, .push {
    -webkit-transition: -webkit-transform 1s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform 1s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform 1s cubic-bezier(.16, .68, .43, .99);
    transition: transform 1s cubic-bezier(.16, .68, .43, .99);
}

/* Site Overlay */

.site-overlay {
    display: none;
}

.pushy-active .site-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-animation: fade 500ms;
    -moz-animation: fade 500ms;
    -o-animation: fade 500ms;
    animation: fade 500ms;
}

/*Style of navbar, color, font and size*/

.navbar-menu {

    background-color: #2848b1 !important;
    border-bottom: 0;
    -webkit-box-shadow: 2px 7px 5px -6px rgba(156, 156, 156, 1);
    -moz-box-shadow: 2px 7px 5px -6px rgba(156, 156, 156, 1);
    box-shadow: 2px 7px 5px -6px rgba(156, 156, 156, 1);
}

.navbar-menu a {

    color: #ffffff;
    font-family: 'Open Sans', sans-serif;

}

.navbar-menu .navbar-title-link:hover {

    background: #144fb0;
    color: #FFF;
}

.logoSite {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    height: 50px;
    width: 250px;
    background-color: #fff;
    text-align: center;
}

.logoSite img {

    margin-top: 1px;
    margin-left: 35px;

}

.menu-btn {
    width: 50px;
    padding: 9px;
    margin-bottom: 30px;
    margin-left: 2px;
    color: #FFF;
    cursor: pointer;
    text-align: center;
}

.menu-btn:hover {
    background: #144fb0;
    color: #FFF;
}

.list-pushy {
    margin-top: 50px;
    background-color: #ffffff;
    color: #444444;
}

.navbar-menu ul {

    height: 50px !important;
}

/*Decoration the container, it is optional*/
.panel {

    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    border-color: #E4E4E4;

}

.panel-heading-title {

    height: 42px;
    padding: 10px;
    text-align: left;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    color: #847584;
    font-size: 17px;
    border-bottom: 1px solid #EEEEEE;
}

.form-group {

    margin-top: 10px !important;
}

.content-body {
    margin-top: 80px;
}

.align-body {

    margin-left: 5.2%;
    width: 89.5%;
    padding-right: 0;
    padding-left: 0;
}

.align-body-full {

    margin-left: 3.4%;
    width: 92.5%;
    padding-right: 0;
    padding-left: 0;
}

.text-green-soy {
    color: #00B250;
}

.text-blue-soy {
    color: #415CBC;
}

.home {
    color: #fff;
    margin-left: 250px;
    background: transparent;
    border: transparent;
    position: absolute;
    margin-top: 5px;
}

.nav-search {
    margin-left: 300px;
    margin-top: 7px;
    width: 140%;
}

.nav a:hover, .navbar-title-link, .nav {
    background: transparent !important;
}

.notify {
    width: 170px;
    margin-top: -2px;
}

.notify span {
    position: absolute;
    margin-left: 30px;
    margin-top: 2px;
}

.nav .profile {
    margin-top: -2px;
    width: 195px;
    border: 0;

}

.nav .profile img {
    max-height: 27px !important;
    margin-right: 10px !important;
    margin-top: -1px !important;
}

.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 0 !important;
}

.link-accordion {
    border-bottom: 0 !important;
}

.md-button {
    border-radius: 3px;
    box-sizing: border-box;
    color: currentColor;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0 !important;
    margin: 0 0 !important;
    line-height: 0 !important;
    min-height: 10px !important;
    background: 0 0;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    text-transform: inherit !important;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
}

.md-open-menu-container.md-active {
    z-index: 9999 !important;
    text-align: center;
}

.md-menu-item {
    justify-content: center !important;
    align-items: center !important;
    align-self: center !important;
    font-weight: bold !important;
}

.md-button {
    text-align: center !important;

}