.font-size-14 {
    font-size: 14px
}

.font-size-15 {
    font-size: 15px
}

.font-size-16 {
    font-size: 16px
}

.font-size-17 {
    font-size: 17px
}

.font-size-18 {
    font-size: 18px !important
}

.font-size-20 {
    font-size: 20px !important
}

.font-size-22 {
    font-size: 22px
}

.font-size-24 {
    font-size: 24px
}

.font-size-26 {
    font-size: 26px
}

.font-size-28 {
    font-size: 28px
}

.font-size-30 {
    font-size: 30px
}

.font-size-32 {
    font-size: 32px
}

.font-size-36 {
    font-size: 36px
}

.font-size-42 {
    font-size: 42px !important;
}

.font-size-48 {
    font-size: 48px
}

.font-size-52 {
    font-size: 52px
}

.font-size-56 {
    font-size: 56px
}

.font-size-60 {
    font-size: 60px !important;
}

.font-size-70 {
    font-size: 70px
}

.font-size-80 {
    font-size: 80px
}

.font-size-85 {
    font-size: 85px
}

.font-size-95 {
    font-size: 95px
}

.font-size-100 {
    font-size: 100px
}

.font-size-105 {
    font-size: 105px
}

.font-size-120 {
    font-size: 120px
}

.font-size-140 {
    font-size: 140px
}

.text-gray-hard {
    color: #444 !important
}

.text-gray{
    color: #a0a0a0 !important
}

.text-white {
    color: #fff !important
}

.text-orange {
    color: #dd764e !important
}

.text-teal {
    color: #009688 !important
}

.text-blue {
    color: #0f318f !important
}

.text-pink-dark {
    color: #c51162 !important
}

.text-yellow {
    color: #e5aa33 !important
}

.background-blue-inactive {
    background-color: #4d70be;
    color: #fff;
    border-right: 1px solid #5870a9
}

.background-blue-active {
    background-color: #2848B1 !important;
    color: #fff !important
}

.background-white {
    background-color: #fff;
    color: #444
}

.background-green-lime {
    background-color: #c0ca33;
    color: #fff
}

.background-orange {
    background-color: #ff9800;
    color: #fff
}

.background-deep-orange {
    background-color: #ff5722;
    color: #fff
}

.background-transparent {
    background: 0 0
}

.margin-0 {
    margin: 0px !important
}

.margin-5 {
    margin: 5px !important
}

.margin-10 {
    margin: 10px !important
}

.margin-20 {
    margin: 20px !important
}

.margin-30 {
    margin: 30px !important
}

.margin-40 {
    margin: 40px !important
}

.margin-50 {
    margin: 50px !important;
}

.margin-top-n20 {
    margin-top: -20px;
}
.margin-top-n15 {
    margin-top: -15px;
}
.margin-top-n10 {
    margin-top: -10px;
}
.margin-top-n5 {
    margin-top: -5px;
}

.margin-top-5 {
    margin-top: 5px
}

.margin-top-10 {
    margin-top: 10px !important
}

.margin-top-15 {
    margin-top: 15px !important
}

.margin-top-18 {
    margin-top: 18px !important
}

.margin-top-20 {
    margin-top: 20px !important
}

.margin-top-30 {
    margin-top: 30px !important
}

.margin-top-40 {
    margin-top: 40px !important
}

.margin-top-50 {
    margin-top: 50px !important
}

.margin-top-60 {
    margin-top: 60px !important
}

.margin-top-80 {
    margin-top: 80px !important
}

.margin-top-100 {
    margin-top: 100px !important
}

.margin-top-120 {
    margin-top: 120px !important
}

.margin-top-150 {
    margin-top: 150px !important
}

.margin-top-160 {
    margin-top: 160px !important
}

.margin-top-180 {
    margin-top: 180px !important
}

.margin-top-200 {
    margin-top: 200px !important
}

.margin-top-220 {
    margin-top: 220px !important
}

.margin-top-250 {
    margin-top: 250px !important
}

.margin-top-280 {
    margin-top: 280px !important
}

.margin-top-300 {
    margin-top: 300px !important
}

.margin-top-n5 {
    margin-top: -5px !important
}

.margin-top-n10 {
    margin-top: -10px !important
}

.margin-top-n15 {
    margin-top: -15px !important
}

.margin-top-n20 {
    margin-top: -20px !important
}

.margin-top-n40 {
    margin-top: -40px !important
}

.margin-bottom-5 {
    margin-bottom: 5px
}

.margin-bottom-10 {
    margin-bottom: 10px
}

.margin-bottom-20 {
    margin-bottom: 20px
}

.margin-bottom-30 {
    margin-bottom: 30px
}

.margin-bottom-50 {
    margin-bottom: 50px
}

.margin-bottom-60 {
    margin-bottom: 60px
}

.margin-bottom-80 {
    margin-bottom: 80px
}

.margin-bottom-100 {
    margin-bottom: 100px
}

.margin-bottom-120 {
    margin-bottom: 120px
}

.margin-bottom-150 {
    margin-bottom: 150px
}

.margin-bottom-200 {
    margin-bottom: 200px
}

.margin-bottom-250 {
    margin-bottom: 250px
}

.margin-bottom-300 {
    margin-bottom: 300px
}

.margin-bottom-350 {
    margin-bottom: 350px
}

.margin-right-5 {
    margin-right: 5px
}

.margin-right-10 {
    margin-right: 10px
}

.margin-right-20 {
    margin-right: 20px
}

.margin-right-40 {
    margin-right: 40px
}

.margin-right-50 {
    margin-right: 50px
}

.margin-right-75 {
    margin-right: 75px
}

.margin-right-80 {
    margin-right: 80px
}

.margin-right-100 {
    margin-right: 100px
}

.margin-left-0 {
    margin-left: 0px !important;
}

.margin-left-5 {
    margin-left: 5px
}

.margin-left-10 {
    margin-left: 10px
}

.margin-left-20 {
    margin-left: 20px
}

.margin-left-28 {
    margin-left: 28px !important;
}

.margin-left-30 {
    margin-left: 30px
}

.margin-left-40 {
    margin-left: 40px
}

.margin-left-50 {
    margin-left: 50px
}

.margin-left-60 {
    margin-left: 60px !important;
}

.margin-left-57 {
    margin-left: 57px !important;
}

.margin-left-75 {
    margin-left: 75px
}

.margin-left-80 {
    margin-left: 80px
}

.margin-left-100 {
    margin-left: 100px;
}
.padding-left-0 {
    padding: 0 !important;
}
.padding-0 {
    padding: 0 !important;
}

.padding-10 {
    padding: 10px
}

.padding-15 {
    padding: 15px
}

.padding-20 {
    padding: 20px
}

.padding-30 {
    padding: 30px
}

.padding-40 {
    padding: 40px
}

.padding-50 {
    padding: 50px
}

.padding-top-0 {
    padding-top: 0px
}

.padding-top-5 {
    padding-top: 5px
}

.padding-top-10 {
    padding-top: 10px
}

.padding-top-15 {
    padding-top: 15px
}

.padding-top-20 {
    padding-top: 20px
}

.padding-top-30 {
    padding-top: 30px
}

.padding-top-40 {
    padding-top: 40px
}

.padding-top-50 {
    padding-top: 50px
}

.padding-bottom-0 {
    padding-bottom: 0
}

.padding-bottom-5 {
    padding-bottom: 5px
}

.padding-bottom-10 {
    padding-bottom: 10px
}

.padding-bottom-20 {
    padding-bottom: 20px
}

.padding-bottom-30 {
    padding-bottom: 30px
}

.padding-bottom-40 {
    padding-bottom: 40px
}

.padding-bottom-50 {
    padding-bottom: 50px
}

.padding-bottom-60 {
    padding-bottom: 60px
}

.padding-bottom-80 {
    padding-bottom: 80px
}

.z-index-2 {
    z-index: 2 !important
}

.z-index-3 {
    z-index: 3 !important
}

.z-index-4 {
    z-index: 4 !important
}

.z-index-5 {
    z-index: 5 !important
}

.z-index-7 {
    z-index: 7 !important
}

.z-index-9 {
    z-index: 9 !important
}

.btn-deep-orange {
    color: #fff;
    background-color: #ff5722
}

.btn-yellow {
    color: #fff;
    background-color: #FFEB3B
}

.btn-yellow:hover {
    color: #fff;
    background-color: #ffd649
}

.btn-teal {
    color: #fff;
    background-color: #009688
}

.btn-teal:hover {
    color: #fff;
    background-color: #138569
}

.btn-blue {
    color: #fff;
    background-color: #0f318f;
    border-color: #233660
}

.btn-grey {
    background: #b4b6b6;
    border-color: #bbb;
    color: #fff
}

.btn-pink {
    background: #E91E63;
    border: #d81e61;
    color: #fff
}

.btn-pink:hover {
    background: #d61d5e
}

.btn-grey:hover {
    background: #a6a8a8
}

.btn-blue.active, .btn-blue.focus, .btn-blue:active, .btn-blue:focus, .btn-blue:hover, .open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #0f2a75;
    border-color: #233660
}

.btn-50 {
    width: 50px
}

.btn-70 {
    width: 70px
}

.btn-80 {
    width: 80px
}

.btn-100 {
    width: 100px
}

.btn-120 {
    width: 120px
}

.btn-150 {
    width: 150px
}

.btn-180 {
    width: 180px
}

.btn-200 {
    width: 200px
}

.bnt-small {
    width: 220px
}

.bnt-small-lg {
    width: 300px
}

.vertical-align-center {
    display: flex;
    align-items: center;
    justify-content: center
}

.to-upper {
    text-transform: uppercase
}

.to-lower {
    text-transform: lowercase
}
.btn-sinStyle {
    background: 0 0;
    color: #444;
    border: 0
}
.text-justify{
    text-align: justify;
}

.text-start{
    text-align: start;
}

.font-bold{
    font-weight: bold;
}
