 <section id="section-bienvenida" class="text-center margin-0">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>¡Página no encontrada!</h2>
    </div>
</section>
<section id="section-404" class="section section-blanco margin-0 text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-10 col-md-10 col-sm-12 text-center col-xs-12">
                <img alt="Error 404 Pagina No Encontrada SoyEmpleo" class="img-responsive" src="assets/images/error404.jpg">
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center col-xs-12">
                <p class="padding-top-20 padding-bottom-10">Para volver al inicio puede hacer click <a href="#/">Aquí</a></p>
            </div>
        </div>
    </div>
</section>