<div ng-controller="companyOffersController as co" ng-init="co.cargaInicial()">
    <section id="section-hd-oferta" class="section section-gris margin-0 text-center">

	    <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
			<h1>{{co.company.social_name}}</h1>
		</div>
		<div class="container">
    		<div class="row">
    			<div class="col-lg-12 col-sm-12 col-xs-12">
    				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
    					<center><img ng-src="{{co.company.logo}}" class="img-circle img-responsive margin-5" /></center>
    				</div>
    				<div class="col-lg-7 col-md-7 col-sm-7 hidden-xs">
    					<p class="text-justify padding-top-15 padding-bottom-15 padding-left-10">{{co.company.description}}</p>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    <section id="section-sugerencias" class="section section-gris margin-0 text-center"> 
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center"  ng-if="co.company.offers.length > 0">
            <h1>OFERTAS SUGERIDAS</h1>
        </div>
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center"  ng-if="co.company.offers.length == 0">
            <h1>NO HAY OFERTAS DISPONIBLES EN ESTE MOMENTO</h1>
        </div>
        <div class="odd margin-0 padding-0 col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="offer in co.company.offers">
            <div class="logo col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-0">
                <img ng-src="{{co.company.logo}}" width="120" height="120" class="img-responsive center-block" />
            </div>
            <div class="detalle text-left col-lg-5 col-md-5 col-sm-4 col-xs-12 padding-top-10">
                <h3>{{offer.job_title}}</h3>
                <div class="padding-0">{{co.company.social_name}} | {{co.company.city}}</div>
                <div class="padding-0">{{offer.base_salary}} COP | {{offer.type_contract}}</div>
            </div>
            <div class="boton col-lg-3 col-md-3 col-sm-2 col-xs-12 padding-30">
                <a ng-click="co.offersUrl(offer.city,co.company.social_name,offer.job_title,offer._id);" class="btn btn-lg bton-green">Ver Oferta</a>
            </div>
        </div>
    </section>
</div>


    <section id="section-blog" class="text-center margin-0 padding-20">
        <div class="container">
            <div class="row">
                <h1 class="padding-bottom-20 padding-top-20">Visita <strong>Nuestro Blog</strong></h1>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="post in nbc.lastPosts.posts">
                    <div class="thumbnail padding-0">
                        <div class="img-hover">
                            <a href="{{post.link}}"><img src="https://soyempleo.com/assets/images/{{post.image}}" class="img-responsive" alt="{{post.title}}">
                            <h4>{{post.title}}</h4></a>
                        </div>
                        <div class="caption text-left">
                            <span class="autor margin-bottom-5">por <strong>{{post.author}}</strong></span><span class="fecha margin-bottom-5 text-right pull-right">{{post.date}}</span>
                            <p><a href="{{post.link}}" class="info">{{post.description}}...</a></p>
                            <a class="info" href="{{post.link}}">Leer más ></a>
                            <span class="comentarios pull-right text-right"><i class="fa fa-comment-o fa-lg"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /Sección Blog -->