<style>
    md-dialog {
        min-width: 10%;
        max-width: 90% !important;
    }
    md-dialog-actions{
        padding: 10px !important;
        margin: 10px !important; 
    }
</style>
<script type="text/ng-template" id="dialog1.tmpl.html" style="width:10%;height:10%;">
<md-dialog aria-label="" ng-cloak style="background: transparent;box-shadow: none;overflow: hidden;">

      <form id="premiumForm" name="premiumForm" method="post" action="https://api.soyempleo.com/payments/senddata" ng-submit="procesarOfertaCompra(reference)">
        <input name="description"   type="hidden"  value="Pago de oferta:{{descripcion}}">
        <input name="referenceCode" type="hidden"  ng-value="reference">
        <input name="amount"        type="hidden"  ng-value="precio">
        <input name="signature"     type="hidden"  ng-value="signature">
        <input name="buyerEmail"    type="hidden"  value="{{companyEmail}}">
        <input name="extra1"    type="hidden" ng-value="idCompany">
        <input name="extra2"    type="hidden" value="{{nombreVacante}}">
      </form>
      <div class="bubblingG">
        <span id="bubblingG_1">
        </span>
        <span id="bubblingG_2">
        </span>
        <span id="bubblingG_3">
        </span>
      </div>
</md-dialog>
</script>
