<div>
	<section>
		<div class="container">
			<div class="col-xs-12 text-center padding-10"> 
				<span class="font-bold font-open-sans text-blue-soy font-size-30">
        			{{postulates.length}}
        		</span>
        		<span class="font-light font-open-sans font-size-30"> Postulados actualmente en: </span>
        		<span class="font-bold font-open-sans font-size-30"> {{ofertaSelect.job_title}} </span>
        	</div>
		</div>
	</section>
	<section id="contenido" class="margin-0"> 
        <div class="container-fluid padding-0">
        	<div class="tabs effect-3">

                <input type="radio" id="tab-1" name="tab" ng-click="nbc.goToUrl('/#/dashboard-company');">
                <span href="#tab-item-1" class="font-bold font-size-15" style="color: #00b34f !important;"><i class="fa fa-chevron-left" aria-hidden="true"></i> Volver a mi perfil</span>

                <input type="radio" id="tab-2" name="tab" checked="checked">
                <span href="#tab-item-2" class="font-bold font-size-15">Candidatos ({{listaInicial.length}})</span>

                <input type="radio" id="tab-3" name="tab" ng-click="noParpadear('preseleccionado');">
                <span href="#tab-item-3" class="font-bold font-size-15 {{styles.preseleccionado}}">Preseleccionados ({{listaPreseleccionados.length}})</span>

                <input type="radio" id="tab-4" name="tab" ng-click="noParpadear('entrevistado');">
                <span href="#tab-item-4" class="font-bold font-size-15 {{styles.entrevistado}}" >Entrevistados ({{listaEntrevistados.length}})</span>

                <input type="radio" id="tab-5" name="tab" ng-click="noParpadear('contratado');">
                <span href="#tab-item-5" class="font-bold font-size-15 {{styles.contratado}}" >Finalistas ({{listaContratados.length}})</span>

                <div class="line ease"></div>

                <div class="tab-content">
                    <section id="tab-item-2">
                        <div ng-include="'public/app/sections/dashboard-empresa-postulados.html'"></div>
                    </section>
                    <section id="tab-item-3">
                        <div ng-include="'public/app/sections/dashboard-empresa-preseleccionados.html'"></div>
                    </section>
                    <section id="tab-item-4">
                        <div ng-include="'public/app/sections/dashboard-empresa-entrevistados.html'"></div>                    
                    </section>
                    <section id="tab-item-5">
                        <div ng-include="'public/app/sections/dashboard-empresa-contratados.html'"></div>                    
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>
<div ng-include="'public/app/sections/myPopoverTemplate.html'"></div>