	<section id="headerwrap" class="margin-0 header-contacto">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12 encabeza margin-top-30 margin-bottom-30">
					<div class="col-xs-12 text-center">
						<img src="assets/images/logo_contacto.png" align="absmiddle" class="padding-20" alt="Contacta a SoyEmpleo" width="25%" height="" />
					</div>
					<div class="col-xs-12 text-center">
						<h2 class="padding-top-30 font-open-sans"><span class="font-light">¿Necesitas</span> <strong>Contactarnos</strong>?</h2>
						<!-- <p class="margin-left-10">Dirección<br /> Calle 10 # 43 E 72, El Poblado, Medellín<br/> Teléfono: (+4) 504 99 70<br/> Email: hola@soyempleo.com</p> -->
					</div> 
				</div>
			</div>
		</div>
	</section><!-- /header-contacto -->
	<section id="section-contacto" class="section section-blanco text-center margin-0 margin-top-50 padding-20" ng-controller="contactController as contact">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-5 col-xs-12 font-size-15">
					<div class="col-xs-12 text-left margin-bottom-20">
						<p class="font-green-soy font-open-sans font-bold">
							Dirección:
						</p>
						<p class="font-color-878787 font-open-sans">
							Calle 10 # 43 E 72, El Poblado, Medellín
						</p>
					</div>
					<div class="col-xs-12 text-left margin-bottom-20">
						<p class="font-green-soy font-open-sans font-bold">
							Teléfono:
						</p>
						<p class="font-color-878787 font-open-sans">
							(+57) 315-511-3219
						</p>
					</div>
					<div class="col-xs-12 text-left margin-bottom-20">
						<p class="font-green-soy font-open-sans font-bold">
							Email:
						</p>
						<p class="font-color-878787 font-open-sans">
							hola@soyempleo.com
						</p>
					</div>
					<div class="col-xs-12 text-left margin-bottom-20">
						<p class="font-green-soy font-open-sans font-bold">
							Social:
						</p>
						<div class="compartir text-left">
                                <ul class="list-inline text-center">
                                    <li class="margin-10 bg-faceb padding-8 border-radius-50 width-35 height-35">
                                        <a target="_blank" 
                                        href="javascript:myPopup('https://www.facebook.com/sharer/sharer.php?u=https://soyempleo.com')" class="font-white">
                                            <i class="fa fa-facebook fa-lg"></i>
                                        </a>
                                    </li>
                                    <li class="margin-10 bg-twitt padding-8 border-radius-50 width-35 height-35">
                                        <a target="_blank" 
                                        href="javascript:myPopup('https://twitter.com/intent/tweet?text=Excelentes Oportunidades de empleo en https://soyempleo.com')" class="font-white">
                                            <i class="fa fa-twitter fa-lg"></i>
                                        </a>
                                    </li>
                                    <li class="margin-10 bg-googlpls padding-8 border-radius-50 width-35 height-35">
                                        <a href="javascript:myPopup('https://plus.google.com/share?url=https://soyempleo.com')" class="font-white">
                                            <i class="fa fa-google-plus fa-lg"></i>
                                        </a>
                                    </li>
                                    <li class="margin-10 bg-linkd padding-8 border-radius-50 width-35 height-35">
                                        <a href="javascript:myPopup('http://www.linkedin.com/shareArticle?url=https://soyempleo.com')" class="font-white">
                                            <i class="fa fa-linkedin fa-lg"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
					</div>
		   		</div>
				<div class="col-md-7 col-sm-7 col-xs-12">
					<form class="formas" role="form" novalidate>
						<div class="col-xs-12">
							<input type="text" placeholder="Nombre" ng-model="contact.name">
						</div>
						<div class="col-xs-6 padding-right-4">
							<input type="text" placeholder="Email" ng-model="contact.email">
						</div>
						<div class="col-xs-6 padding-left-4">
							<input type="text" placeholder="Tema" ng-model="contact.subject">
						</div>
						<div class="col-xs-12">
							<textarea placeholder="Mensaje o sugerencia" class="resize-none" ng-model="contact.message"></textarea>
						</div>
						<div class="col-xs-12 text-right">
							<button class="btn btn-lg bton-green pull-right" ng-click="contact.correoContacto()">Enviar mensaje</button>
						</div>
		   			</form>
		   		</div>
		   		<!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		   			<div class="ad margin-top-5 padding-40">
		   				<div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
		   					<img src="assets/images/apuntador_soyempleo.png" class="img-responsive pull-right margin-right-40 hidden-xs" alt="Logo SoyEmpleo">
		   				</div>
		   				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
		   					<a href="#/persona" class="btn btn-lg margin-top-15 bton-green">¡Crea tu perfil <strong>GRATIS</strong>!</a>
		   				</div>
		   			</div>
		   		</div> -->
		   	</div>
		</div>
	</section>
	<section id="section-blog" class="text-center margin-0 padding-20" style="border-top: 1px solid #eaeaea;">
    	<div class="container">
    		<div class="col-xs-12">
    			<img src="assets/images/Footer_SPE.jpg" alt="Servicio Público de Empleo" class="img-responsive center-block">
    		</div>
    		<div class="col-xs-12">
    			<small>
	    			<p>
	    				SoyEmpleo es una agencia de empleo vinculada a la red de prestadores del Servicio Público de Empleo. Autorizado por la Unidad Administrativa Especial del Servicio Público de Empleo según resolución No. 384 de Abril de 2016.
	    			</p>
	    		</small>
    		</div>
    	</div>
    </section>