	<section id="headerwrap" class="margin-0 header-contacto">
		<div class="container">
			<div class="row">
				<div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10 col-sm-12 col-xs-12 encabeza">
					<div class="col-lg-offset-1 col-md-offset-1 col-lg-5 col-md-5 col-sm-5 hidden-xs">
						<img src="assets/images/logo_contacto.png" align="absmiddle" class="img-responsive padding-20" alt="Contacta a SoyEmpleo" width="" height="" />
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<h2 class="padding-top-30">¿Necesitas <strong>Contactarnos</strong>?</h2>
						<p class="margin-left-10">Dirección<br /> Calle 10 # 43 E 72, El Poblado, Medellín<br/> Teléfono: (+4) 504 99 70<br/> Email: hola@soyempleo.com</p>
					</div>
				</div>
			</div>
		</div>
	</section><!-- /header-contacto -->
	<section id="section-contacto" class="section section-blanco text-center margin-0 padding-20">
		<div class="container">
			<div class="row">
				<div class="col-lg-offset-1 col-md-offset-1 col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<form class="formas" role="form" novalidate>
						<input type="text" placeholder="Nombre">
						<input type="text" placeholder="Email">
						<input type="text" placeholder="Tema">
						<textarea placeholder="Mensaje o sugerencia"></textarea>
		   				<button class="btn btn-lg bton-green pull-right">ENVIAR</button>
		   			</form>
		   		</div>
		   		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		   			<div class="ad margin-top-5 padding-40">
		   				<div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
		   					<img src="assets/images/apuntador_soyempleo.png" class="img-responsive pull-right margin-right-40 hidden-xs" alt="Logo SoyEmpleo">
		   				</div>
		   				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
		   					<a href="#/persona" class="btn btn-lg margin-top-15 bton-green">¡Crea tu perfil <strong>GRATIS</strong>!</a>
		   				</div>
		   			</div>
		   		</div>
		   	</div>
		</div>
	</section>