<section ng-controller="nuevaOfertaController as noc">
    <form class="form-registro" name="formDatos" role="form" novalidate>
        <section id="section-editardatos" class=" section-gris text-center" ng-cloak>
            <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
                <h1>Edición de oferta: {{noc.titulo}}</h1>
            </div>
            <!-- <div>
                <div class="container text-center">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-20">
                        <p class="padding-left-20 padding-right-20">Edita la oferta a tu gusto</p>

                        <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center margin-bottom-20">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-left-0">
                                <input type="text" placeholder="Titulo de la oferta" name="titulo"
                                       class="input margin-5" disabled
                                       ng-model="noc.oferta.job_title"/>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-left-0">
                                <div class="select margin-5" style="width: 100% !important;">
                                    <select name="area" class="select-style" required ng-model="noc.area"
                                            ng-class='{error: formDatos.area.$invalid && formDatos.area.$touched, success: formDatos.area.$valid && formDatos.area.$touched}'
                                            ng-change="noc.basicSectionValid('2')">
                                        <option value="" selected>Área de la oferta</option>
                                        <option ng-repeat="l in noc.listaAreas" value="{{l.description}}">
                                            {{l.description}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 padding-left-0">
                                <div class="select margin-5" style="width: 100% !important;">
                                    <select name="departamento" class="select-style" required
                                            ng-model="noc.departamento"
                                            ng-class='{error: formDatos.departamento.$invalid && formDatos.departamento.$touched, success: formDatos.departamento.$valid && formDatos.departamento.$touched}'
                                            ng-change="noc.depaSelected(noc.departamento);noc.basicSectionValid('2')">
                                        <option value="" selected>Departamento</option>

                                        <option ng-repeat="depa in noc.departmentList" value="{{depa._id}}">
                                            {{depa.name}}
                                        </option>
                                    </select>
                                </div>  
                            </div>
                            <div class="col-xs-12 col-sm-6 padding-right-sm-0 padding-left-xs-0">
                                <div class="select margin-5" style="width: 100% !important;">
                                    <select name="ciudad" class="select-style" required ng-model="noc.ciudad"
                                            ng-class='{error: formDatos.ciudad.$invalid && formDatos.ciudad.$touched, success: formDatos.ciudad.$valid && formDatos.ciudad.$touched}'
                                            ng-change="noc.basicSectionValid('2')">
                                        <option value="" selected>Ciudad</option>
                                        <option ng-repeat="l in noc.cityList" value="{{l.name}}">{{l.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 margin-top-20 text-center">
                            <button id="goButton" class="btn btn-lg bton-green padding-right-15 padding-left-15"
                                    ng-click="noc.basicValido();"
                                    ng-disabled="formDatos.titulo.$invalid || formDatos.area.$invalid || formDatos.departamento.$invalid || formDatos.ciudad.$invalid">
                                ¡Empecemos!
                            </button>
                        </div>
                    </div>
                </div>
            </div> -->
        </section>

        <div id="div_details" name="div_details" ng-include="'public/app/sections/nuevaOfertaDetails.html'"></div>
    </form>
    <div ng-include="'public/app/compraDialog.html'"></div>
</section>