<!-- <div ng-controller="empresaController as emc">
  <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
    <h1>HOLA! Bienvenido a SoyEmpleo.com</h1>
  </div>
  <section id="section-registroempresa" class="section margin-0 text-center bg-company text-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <p class="padding-left-20 padding-right-20">La forma más fácil y efectiva de encontrar el personal
          capacitado para tus ofertas laborales. A medida que vayas avanzando te haremos algunas preguntas para conocerte mejor. Primero dime,</p>
          <h4>¿Cuál es el nombre de la empresa y correo electrónico?</h4>
          <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-10 col-xs-12 text-center margin-bottom-20">
            <form class="form-registro padding-10" name="formRegistroEmpresa" role="form" novalidate onsubmit="false">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <input type="text" placeholder="Nombre de la Empresa" name="nombre"
                class="input margin-5" ng-model="nombre" minlength="4"
                required data-ng-class='{ error: formRegistroEmpresa.nombre.$invalid &&  formRegistroEmpresa.nombre.$dirty}'
                uib-popover="{{formRegistroEmpresa.nombre.$touched && formRegistro.nombre.$error.required ?
                'Valor es requerido' : ''}}" popover-trigger="focus"
                ng-blur="cortarString(nombre)"
                />
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <input type="email" placeholder="Correo electrónico" class="input margin-5"
                ng-model="email" name="email" required data-ng-class='{ error: formRegistroEmpresa.email.$invalid &&  formRegistroEmpresa.email.$dirty}'
                uib-popover="{{(formRegistroEmpresa.email.$touched && formRegistroEmpresa.email.$error.required) ||
                formRegistroEmpresa.email.$error.email ? 'Email invalido' : ''}}"
                popover-trigger="focus"/>
              </div>
              <div ng-show="formRegistroEmpresa.nombre.$error.minlength  && formRegistroEmpresa.nombre.$touched" class="text-center msg-warn">
                Nombres invalido
              </div>
              <div ng-show="formRegistroEmpresa.nombre.$error.required && formRegistroEmpresa.nombre.$touched" class="text-center msg-warn">
                Ingrese sus Nombres
              </div>
              <div ng-show="formRegistroEmpresa.email.$error.required && formRegistroEmpresa.email.$touched" class="text-center msg-warn">
                Ingrese un correo electrónico
              </div>
              <div ng-show="formRegistroEmpresa.email.$error.email && formRegistroEmpresa.email.$touched" class="text-center msg-warn">
                Formato de correo electrónico invalido
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <input type="password" placeholder="Contraseña para tu cuenta" class="input margin-5"
                name="password" ng-model="password" minlength="6" required
                data-ng-class='{error: password!=repetir &&
                (formRegistroEmpresa.password.$touched && formRegistroEmpresa.repetir.$touched) ||
                (formRegistroEmpresa.password.$invalid && formRegistroEmpresa.password.$dirty)}'
                uib-popover="{{formRegistroEmpresa.password.$touched &&
                formRegistroEmpresa.password.$error.required ? 'Valor es requerido' : ''}}"
                popover-placement="bottom" popover-trigger="focus"/>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <input type="password" placeholder="Confirmar contraseña" class="input margin-5"
                minlength="6" name="repetir" ng-model="repetir" required
                data-ng-class='{ error: password!=repetir && (formRegistroEmpresa.password.$touched &&
                formRegistroEmpresa.repetir.$touched) || (formRegistroEmpresa.repetir.$invalid &&
                formRegistroEmpresa.repetir.$dirty)}'
                uib-popover="{{(formRegistroEmpresa.repetir.$touched && formRegistroEmpresa.repetir.$error.required)
                || (formData.password!=formData.repetir) ? 'Contraseñas NO coinciden' : ''}}"
                popover-placement="bottom" popover-trigger="focus"/>
              </div>

              <div ng-show="( formRegistroEmpresa.password.$error.required || formRegistroEmpresa.repetir.$error.required) && (formRegistroEmpresa.password.$touched &&
                formRegistroEmpresa.repetir.$touched)" class="text-center msg-warn">
                Tu contraseña o confirmación esta vaciá
              </div>
              <div ng-show="( formRegistroEmpresa.password.$error.minlength || formRegistroEmpresa.repetir.$error.minlength) && (formRegistroEmpresa.password.$touched &&
                formRegistroEmpresa.repetir.$touched)" class="text-center msg-warn">
                Contraseña muy corta, ingresa una contraseña mayor a 6 dígitos
              </div>
              <div ng-show="password != repetir  && (formRegistroEmpresa.password.$touched &&
                formRegistroEmpresa.repetir.$touched)" class="text-center msg-warn">
                Las contraseñas ingresadas no coinciden
              </div>
              <div class="radio col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin-top-10 margin-bottom-10" id="legalTerms">
                <div class="col-xs-12">
                  <button class="btn btn-lg" ng-model="emc.legalTerms" ng-click="emc.legalTerms = !emc.legalTerms; emc.validarForm();" ng-class="emc.legalTerms ? 'bton-green' : 'btn-default'" style="outline: 0;">
                      Aceptar condiciones
                  </button>
                </div>
                <div class="col-xs-12">
                  <label for="terminos">
                    <p style="color: #FFF;">
                      <span></span>He leído y aceptado las
                      <a id="termLink" href="public/app/modals/terminos-legales.html" target="_blank" style="color:cyan">Condiciones Legales</a>, <a id="termLink" href="public/app/modals/reglamento.html" target="_blank" style="color:cyan">Reglamento de prestación de servicios</a> y la
                      <a id="termLink" href="public/app/modals/politicas-privacidad.html" target="_blank" style="color:cyan">Política de Privacidad</a> de SoyEmpleo.com.
                    </p>
                  </label>
                </div>
                
                <div ng-show="emc.msgVal.legal" class="msg-warn">
                  Para continuar tiene que aceptar las condiciones legales
                </div>
                <div ng-show="emc.msgVal.revisar" class="msg-warn">
                  Algunos campos no están bien, verifique los datos para continuar
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <button class="btn btn-lg bton-green padding-right-15 padding-left-15"
                ng-click="emc.registrar(nombre, email, password, repetir, formRegistroEmpresa.$valid )" ng-disabled="emc.isResfresing">¡Registrar!
                </button> 
              </div>
            </form>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
            <img src="assets/images/apuntador_soyempleo.png" alt="SoyEmpleo Registro Empresa" width="" height=""/>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> -->

<div ng-controller="empresaController as emc">
  <section id="headerwrap" 
    class="section section-gris margin-0 text-center header-home" 
    style="background-color: #fff;padding-bottom:50px;">
      
    <div class="col-xs-12 text-center padding-top-50">
      <span>
        <h1 class="font-white">
          <span class="font-light">Bienvenidos a</span> <strong>SoyEmpleo</strong>
        </h1>
      </span>
    </div>

    <div class="container">
      <section id='section-registroP' 
        class="section-blanca-somos padding-10 box-shadow-gray2" 
        style="margin-top: 200px; padding-top: 60px; padding-bottom:60px;">
        <div class="row">
          <div class="col-xs-12 col-sm-12 registro padding-20">
            <div class="col-xs-12 text-center margin-bottom-20">
              <div class="col-xs-12">
                <p class="text-center font-light font-open-sans font-color-707070">
                  Llena nuestro formulario de registro, la forma más fácil y efectiva de encontrar el personal capacitado para tus ofertas laborales
                </p>
              </div>

              <div class="col-xs-12 col-sm-12 text-center margin-top-20 txt-black">
                <form class="form-registro padding-10" 
                  name="formRegistroEmpresa" 
                  role="form" 
                  novalidate 
                  onsubmit="false">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <input type="text" 
                      placeholder="Nombre de la Empresa" 
                      name="nombre"
                      class="input margin-5" 
                      ng-model="nombre" 
                      minlength="4"
                      required
                      data-ng-class='{ error: formRegistroEmpresa.nombre.$invalid &&  formRegistroEmpresa.nombre.$dirty}'
                      uib-popover="{{formRegistroEmpresa.nombre.$touched && formRegistro.nombre.$error.required ? 'Valor es requerido' : ''}}"
                      popover-trigger="focus"
                      ng-blur="cortarString(nombre)"
                    />
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <input type="email" 
                      placeholder="Correo electrónico" 
                      class="input margin-5"
                      ng-model="email" 
                      name="email" 
                      required 
                      data-ng-class='{ error: formRegistroEmpresa.email.$invalid &&  formRegistroEmpresa.email.$dirty}'
                      uib-popover="{{(formRegistroEmpresa.email.$touched && formRegistroEmpresa.email.$error.required) || formRegistroEmpresa.email.$error.email ? 'Email invalido' : ''}}"
                      popover-trigger="focus"/>
                  </div>
                  <div ng-show="formRegistroEmpresa.nombre.$error.minlength  && formRegistroEmpresa.nombre.$touched" class="text-center msg-warn">
                    Nombres invalido
                  </div>
                  <div ng-show="formRegistroEmpresa.nombre.$error.required && formRegistroEmpresa.nombre.$touched" class="text-center msg-warn">
                    Ingrese sus Nombres
                  </div>
                  <div ng-show="formRegistroEmpresa.email.$error.required && formRegistroEmpresa.email.$touched" class="text-center msg-warn">
                    Ingrese un correo electrónico
                  </div>
                  <div ng-show="formRegistroEmpresa.email.$error.email && formRegistroEmpresa.email.$touched" class="text-center msg-warn">
                    Formato de correo electrónico invalido
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <input type="password" 
                      placeholder="Contraseña para tu cuenta" 
                      class="input margin-5"
                      name="password" 
                      ng-model="password" 
                      minlength="6" 
                      required
                      data-ng-class='{error: password!=repetir && (formRegistroEmpresa.password.$touched && formRegistroEmpresa.repetir.$touched) || (formRegistroEmpresa.password.$invalid && formRegistroEmpresa.password.$dirty)}'
                      uib-popover="{{formRegistroEmpresa.password.$touched && formRegistroEmpresa.password.$error.required ? 'Valor es requerido' : ''}}"
                      popover-placement="bottom" 
                      popover-trigger="focus"/>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <input type="password" 
                      placeholder="Confirmar contraseña" 
                      class="input margin-5"
                      minlength="6" 
                      name="repetir" 
                      ng-model="repetir" 
                      required
                      data-ng-class='{ error: password!=repetir && (formRegistroEmpresa.password.$touched && formRegistroEmpresa.repetir.$touched) || (formRegistroEmpresa.repetir.$invalid && formRegistroEmpresa.repetir.$dirty)}'
                      uib-popover="{{(formRegistroEmpresa.repetir.$touched && formRegistroEmpresa.repetir.$error.required) || (formData.password!=formData.repetir) ? 'Contraseñas NO coinciden' : ''}}"
                      popover-placement="bottom" 
                      popover-trigger="focus"/>
                  </div>

                  <div class="text-center msg-warn"
                    ng-show="( formRegistroEmpresa.password.$error.required || formRegistroEmpresa.repetir.$error.required) && (formRegistroEmpresa.password.$touched && formRegistroEmpresa.repetir.$touched)">
                    Tu contraseña o confirmación esta vaciá
                  </div>
                  <div class="text-center msg-warn"
                    ng-show="( formRegistroEmpresa.password.$error.minlength || formRegistroEmpresa.repetir.$error.minlength) && (formRegistroEmpresa.password.$touched && formRegistroEmpresa.repetir.$touched)">
                    Contraseña muy corta, ingresa una contraseña mayor a 6 dígitos
                  </div>
                  <div class="text-center msg-warn"
                    ng-show="password != repetir  && (formRegistroEmpresa.password.$touched && formRegistroEmpresa.repetir.$touched)">
                    Las contraseñas ingresadas no coinciden
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin-top-10 margin-bottom-10"
                    id="legalTerms">
                    <div class="col-xs-12">
                      <button class="btn btn-lg" 
                        ng-model="emc.legalTerms" 
                        ng-click="emc.legalTerms = !emc.legalTerms; emc.validarForm();" 
                        ng-class="emc.legalTerms ? 'bton-green' : 'btn-default'" 
                        style="outline: 0;"
                        ng-disabled="emc.isResfresing">
                        Aceptar condiciones
                      </button>
                    </div>
                    <div class="col-xs-12">
                      <label for="terminos">
                        <p style="color: #223780;">
                          <span></span>He leído y aceptado las
                          <a id="termLink" href="public/app/modals/terminos-legales.html"
                            target="_blank"
                            style="color:#147aba">Condiciones Legales</a>, 
                          <a id="termLink"
                            href="public/app/modals/reglamento.html"
                            target="_blank"
                            style="color:#147aba">Reglamento de prestación de servicios</a> y la
                          <a id="termLink"
                            href="public/app/modals/politicas-privacidad.html"
                            target="_blank" 
                            style="color:#147aba">Política de Privacidad</a> de
                            SoyEmpleo.com.
                        </p>
                      </label>
                    </div>

                    <div ng-show="emc.msgVal.legal" class="msg-error">
                      Para continuar tiene que aceptar las condiciones legales
                    </div>
                    <div ng-show="emc.msgVal.revisar" class="msg-error">
                      Algunos campos no están bien, verifique los datos para continuar
                    </div>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <button class="btn btn-lg bton-green padding-right-15 padding-left-15"
                    ng-click="emc.registrar(nombre, email, password, repetir, formRegistroEmpresa.$valid )" ng-disabled="emc.isResfresing">
                      <span ng-show="emc.isResfresing">
                        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                        ¡Registrando!
                      </span>
                      <span ng-show="!emc.isResfresing">
                        ¡Registrar!
                      </span>
                    </button> 
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>           
      </section>
    </div>
  </section>

  <section id="section-blog" class="text-center margin-0 padding-20" style="border-top: 1px solid #eaeaea;">
    <div class="container">
      <div class="col-xs-12">
        <img src="assets/images/Footer_SPE.jpg" alt="Servicio Público de Empleo" class="img-responsive center-block">
      </div>
      <div class="col-xs-12">
        <small>
          <p>
            SoyEmpleo es una agencia de empleo vinculada a la red de prestadores del Servicio Público de Empleo. Autorizado por la Unidad Administrativa Especial del Servicio Público de Empleo según resolución No. 384 de Abril de 2016.
          </p>
        </small>
      </div>
    </div>
  </section>
</div>