<style>
    md-dialog {
        min-width: 10%;
        max-width: 90% !important;
    }
    md-dialog-actions{
        padding: 10px !important;
        margin: 10px !important; 
    }
</style>
<script type="text/ng-template" id="dialog2.tmpl.html" style="width:10%;height:10%;">
<md-dialog aria-label="" ng-cloak>
<md-toolbar>
<div class="md-toolbar-tools">
  <h2>Paquete empresarial</h2>
  <span flex></span>
  <md-button class="md-icon-button" ng-click="cancel()">
  <i class="material-icons text-white"><i class="fa fa-times" aria-hidden="true"></i></i>
  </md-button>
</div>
</md-toolbar>
<md-dialog-content>
<div class="md-dialog-content text-center">
  <div>
    <div class="col-xs-10 col-xs-offset-1 padding-5 text-center">
      <img id="header-compra" src="assets/images/header-pagos.png" class="padding-5" alt="Logo SoyEmpleo"/>
    </div>
    <div class="col-xs-12 col-sm-4 padding-top-10" ng-show="!isConfirm">
      <div class="col-xs-12 box-shadow-blue height-280" style="border: 1px solid #3F51B5;padding: 10px;">
        <div class="col-xs-12 font-size-22 padding-5">
          <strong class="text-blue-soy">Paquete empresarial</strong>
        </div>
        <div class="col-xs-12 padding-5">
          <span class="text-blue-soy">Compra 12 vacantes <strong>Premium.</strong> Tendrás 1 año para usarlas, por tan sólo:</span>
        </div>
        <div class="col-xs-12 font-size-35">
          <strong class="text-blue-soy"> $ 1.000.000</strong>
        </div>
        <div class="col-xs-12">
          <form method="post"
            action="https://gateway.payulatam.com/ppp-web-gateway/"
            ng-submit="procesarOferta('enterprise1')" >
            <input name="merchantId"    type="hidden"  value="562401">
            <input name="accountId"     type="hidden"  value="564925">
            <input name="description"   type="hidden"  value="Paquete empresarial">
            <input name="referenceCode" type="hidden"  ng-value="reference">
            <input name="amount"        type="hidden"  value="1000000">
            <input name="tax"           type="hidden"  value="0">
            <input name="taxReturnBase" type="hidden"  value="0">
            <input name="currency"      type="hidden"  value="COP" >
            <input name="signature"     type="hidden"  ng-value="signature">
            <input name="buyerEmail"    type="hidden"  value="{{companyEmail}}">
            <input name="responseUrl"    type="hidden"  value="{{urlFront}}" >
            <input name="confirmationUrl"    type="hidden"  value="{{urlBack}}">
            <input name="extra1"    type="hidden" ng-value="idCompany">
            <input name="extra2"    type="hidden" value="{{nombreVacante}}">
            <button class="btn btn-lg bton-green margin-bottom-10 btn-buy" type="submit" ng-disabled="isRefreshing">
            ¡ COMPRAR !
            </button>
          </form>
        </div>
        <!-- <div class="col-xs-12 padding-5">
          <span class="text-blue-soy">Podrás recibir hasta 16 hojas de vida seleccionadas por sólo $ 99.000</span>
        </div> -->
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 padding-top-10" ng-show="!isConfirm">
      <div class="col-xs-12 box-shadow-blue height-280" style="border: 1px solid #3F51B5;padding: 10px;">
        <div class="col-xs-12 font-size-22 padding-5">
          <strong class="text-blue-soy">Contáctanos</strong>
        </div>
        <div class="col-xs-12 padding-5 margin-top-25">
          <span class="text-blue-soy">Comunicate con nuestro equipo comercial al celular:</span>
        </div>
        <div class="col-xs-12 font-size-1-2vw">
          <p><strong class="text-blue-soy">3108229856 <br>o al correo:<br> <a href="mailto:facturacion@soyempleo.com">facturacion@soyempleo.com</a></strong></p>
        </div>
        <!-- <div class="col-xs-12">
          <button class="btn btn-lg bton-green" ng-click="procesarOferta('test',reference)" ng-disabled="isRefreshing">Probar</button>
        </div> -->
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 padding-top-10" ng-show="!isConfirm">
      <div class="col-xs-12 box-shadow-blue height-280" style="border: 1px solid #3F51B5;padding: 10px;">
        <div class="col-xs-12 font-size-22 padding-5">
          <strong class="text-blue-soy">Confirma tus datos</strong>
        </div>
        <div class="col-xs-12 padding-5 margin-top-25">
          <span class="text-blue-soy">Confirma tus datos tus datos y nos pondremos en contacto contigo</span>
        </div>
        <!-- <div class="col-xs-12 font-size-1-2vw">
          <p><strong class="text-blue-soy">3108229856 <br>o al correo:<br> <a href="mailto:facturacion@soyempleo.com">facturacion@soyempleo.com</a></strong></p>
        </div> -->
        <div class="col-xs-12 margin-top-20">
          <button class="btn btn-lg bton-green" ng-click="confirmarDatos()" ng-disabled="isRefreshing">Confirmar</button>
        </div>
      </div>
    </div>
    <div class="col-xs-12 padding-top-10" ng-show="isConfirm">
      <div class="col-xs-12 box-shadow-blue height-280" style="border: 1px solid #3F51B5;padding: 10px;">
        <form class="form-registro" name="formConfirm" role="form" novalidate>
            <div class="col-xs-12 font-size-22 padding-5">
              <strong class="text-blue-soy">Verifica tus datos</strong>
            </div>
            <!-- nombre de la empresa, persona de contacto, numero de teléfono, correo -->
            <div class="col-xs-12 col-sm-6 text-center padding-5 margin-top-25">
              <input type="text" 
                    ng-model="companyEditName"
                    class="form-control fondo-eaeaea" 
                    id="enterpriseName" 
                    name="enterpriseName" 
                    placeholder="Nombre de la empresa" 
                    maxlength="250" 
                    required 
                    data-ng-class='{ error: formConfirm.enterpriseName.$invalid && formConfirm.enterpriseName.$dirty,success: formConfirm.enterpriseName.$valid && formConfirm.enterpriseName.$dirty}'>
            </div>
            <div class="col-xs-12 col-sm-6 text-center padding-5 margin-top-25">
              <input type="text" 
                    ng-model="companyEditContact"
                    class="form-control fondo-eaeaea" 
                    id="enterpriseContact" 
                    name="enterpriseContact" 
                    placeholder="Persona de contato" 
                    maxlength="250" 
                    required 
                    data-ng-class='{ error: formConfirm.enterpriseContact.$invalid && formConfirm.enterpriseContact.$dirty,success: formConfirm.enterpriseContact.$valid && formConfirm.enterpriseContact.$dirty}'>
            </div>
            <div class="col-xs-12 col-sm-6 text-center padding-5 margin-top-25">
              <input type="text" 
                    ng-model="companyEditTel"
                    class="form-control fondo-eaeaea" 
                    id="enterpriseTel" 
                    name="enterpriseTel" 
                    placeholder="Teléfono de contacto" 
                    maxlength="250" 
                    required 
                    data-ng-class='{ error: formConfirm.enterpriseTel.$invalid && formConfirm.enterpriseTel.$dirty,success: formConfirm.enterpriseTel.$valid && formConfirm.enterpriseTel.$dirty}'>
            </div>
            <div class="col-xs-12 col-sm-6 text-center padding-5 margin-top-25">
              <input type="email" 
                    ng-model="companyEditEmail"
                    class="form-control fondo-eaeaea" 
                    id="enterpriseEmail" 
                    name="enterpriseEmail" 
                    placeholder="Correo eléctronico" 
                    maxlength="250" 
                    required 
                    data-ng-class='{ error: formConfirm.enterpriseEmail.$invalid && formConfirm.enterpriseEmail.$dirty,success: formConfirm.enterpriseEmail.$valid && formConfirm.enterpriseEmail.$dirty}'>
            </div>
            <!-- <div class="col-xs-12 font-size-1-2vw">
              <p><strong class="text-blue-soy">3108229856 <br>o al correo:<br> <a href="mailto:facturacion@soyempleo.com">facturacion@soyempleo.com</a></strong></p>
            </div> -->
            <div class="col-xs-12 margin-top-20">
              <button class="btn btn-lg bton-green" ng-click="procesarOferta('enterprise3')" ng-disabled="isRefreshing">Confirmar</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
</md-dialog-content>
<md-dialog-actions layout="row paddin-5 text-center">
<div>
  <button class="btn btn-lg bton-green" ng-click="cancel()">
  Cerrar
  </button>
</div>
</md-dialog-actions>
</md-dialog>
</script>