<section id="section-faq" class="section section-blanco margin-0 text-center">
    <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
        <h1>FAQ - Preguntas Frecuentes - SoyEmpleo</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                <img src="assets/images/soyempleo_empresa.png" class="img-responsive" align="right" alt="Logo SoyEmpleo" width="" height="" /></a>
            	<h3>¿Cuál es misión y visión de SoyEmpleo.com?</h3>
            	<p class="padding-top-20 padding-bottom-10">La <strong>misión</strong> es conectar a las empresas con las personas correctas para cada oferta laboral.<br />La <strong>visión</strong> es contribuir a mejorar la calidad de vida de las personas y la competitividad de las empresas, vinculando talento humano calificado con empleos de alta calidad.</p>
                <br>
                <h3 class="text-blue-soy">Preguntas Frecuentes Empresas</h3>
                
                <h3>¿Cuánto cuesta una vacante en SoyEmpleo?</h3>
                <p class="padding-top-20 padding-bottom-10">
                    Depende del tipo de vacante que elijas. Tenemos vacantes GRATIS ($0), vacante básica ($50.000) y vacante Premium la cual cuesta $149.000 o para perfiles cuyo salario sea superior a un millón de pesos, cobramos el 15% del salario.
                </p>
                
                <h3>¿Que recibo en una vacante gratis?</h3>
                <p class="padding-top-20 padding-bottom-10">
                    Cuando creas una vacante gratis, la publicamos en nuestro portal, siempre que cumpla con los términos y condiciones de SoyEmpleo. Los candidatos podrán ver la oferta de empleo y postularse a ella, podrás ver los perfiles y datos de contacto de todos los postulados, la publicación dura 30 días, sin límite de postulados. Publicando en SoyEmpleo cumples con el decreto 2852 de 2013 que obliga a todas las empresas a hacer públicas sus ofertas laborales.
                    <br>
                    En nuestra plataforma puedes administrar tu proceso de selección, moviendo los candidatos a través de las diferentes fases del proceso de selección (pre-seleccionados, entrevistados, finalistas o descartados), los candidatos recibirán un mensaje cada vez que se modifique el estado de su postulación. Nunca más tendrás que realizar esa incomoda llamada para informar a un candidato que ha sido descartado, nosotros lo hacemos por ti.
                </p>

                <h3>¿En que consiste la vacante Premium de SoyEmpleo?</h3>
                <p class="padding-top-20 padding-bottom-10">
                    SoyEmpleo ha construido una comunidad de reclutadores y caza-talentos virtuales, que son psicólogos profesionales en selección de personal. Cuando creas una vacante Premium, uno de nuestros caza-talentos recibe tu solicitud, se comunica contigo para entender tus necesidades y posteriormente realiza una búsqueda intensiva de candidatos en nuestras bases de datos, en redes sociales y en otros portales de empleo. Selecciona los más indicados, los pre-entrevista y escoge 4 finalistas. Así sólo recibes candidatos filtrados que les interesa tu oferta y cumplen el perfil, listos para una entrevista con su jefe inmediato, para que contrates el mejor.
                </p>

                <h3>¿Cuanto se demora el proceso de selección de una vacante Premium?</h3>
                <p class="padding-top-20 padding-bottom-10">
                    Depende de la dificultad del perfil, en la mayoría de los casos podremos entregar los 4 finalistas en menos de 48 horas hábiles. En todo momento puedes ver en tiempo real los avances de tu proceso de selección en nuestra plataforma.
                </p>

                <h3>¿Como aumentar mis posibilidades de hacer una contratación exitosa?</h3>
                <p class="padding-top-20 padding-bottom-10">
                    No garantizamos que termines contratando una persona. Pero nuestras estadísticas nos dicen que el 80% de las vacantes Premium terminan en contrataciones exitosas. Algunos consejos son:
                    <ol>
                        <li>
                            <b>Definir perfil</b>, cuando nuestro reclutador te contacte para iniciar el proceso. Es importante que dediques el tiempo necesario para atender su llamada. Queremos entender tu negocio, su ADN y su estructura, para así poder hacer nuestra búsqueda más efectiva. 
                        </li>
                        <li>
                            <b>Entrevista pronto</b>, todas las empresas quieren los mejores talentos, así que debemos movernos rápido. Entre que se remiten los finalistas y tú los citas a entrevista no debe pasar más de 48 horas, de lo contrario los candidatos pueden perder interés o comprometerse con otro empleo.
                        </li>
                        <li>
                            <b>Comunicación oportuna</b>, es importante que estés en contacto con nosotros y nos des feedback acerca de los candidatos que te enviamos. De eso depende que podamos hacer bien nuestro trabajo y mejoremos cada día más.</li>
                    </ol>
                    Como inicio el proceso?<br>
                    Todo empieza <span ng-redirect='landing-company' class="mouse-pointer font-bold text-blue-soy">AQUÍ</span>
                </p>
                <br>

                <h3 class="text-blue-soy">Preguntas Frecuentes Personas</h3>

                <h3>¿Subir mi hoja de vida a SoyEmpleo.com tiene algún costo?</h3>
                <p class="padding-top-20 padding-bottom-10">
                    No. SoyEmpleo es un servicio gratuito para todas las personas que quieran encontrar empleo. Queremos que siga siendo así siempre. No tenemos paquetes VIP, ni preferencias con ningún usuario. Nos regimos bajo principios de igualdad y no discriminación.
                </p>

                <h3>¿Que puedo hacer para que mi perfil sea tenido en cuenta más frecuentemente a las empresas?</h3>
                <p class="padding-top-20 padding-bottom-10">
                    Te podemos dar algunos tips para rankear mejor en la búsqueda de candidatos:
                    <ol>
                        <li>
                            Completa tu perfil al 100%, es muy importante. No olvides poner una foto tuya.
                        </li>
                        <li>
                            Utiliza las opciones que te sugieren en los autocompletados, especialmente en el campo de estudios y habilidades. Evita utilizar la opción “Otros” en las áreas o sectores de tus experiencias laborales.
                        </li>
                        <li>
                            No olvides poner los salarios de tus experiencias laborales, estos NO serán vistos por las empresas, pero es una parte importante en nuestro análisis.
                        </li>
                        <li>
                            Cuida la ortografía, resalta tus habilidades y los logros que has alcanzado en tu vida.
                        </li>
                    </ol>
                </p>

                <h3>¿Como registrarme y llenar mi perfil?</h3>
                <p class="padding-top-20 padding-bottom-10">
                    Para registrarte por primera vez ingresa <span ng-redirect='persona' class="mouse-pointer font-bold text-blue-soy">AQUÍ</span>, después podrás dirigirte a tu perfil y llenar la información de tu hoja de vida.
                </p>

                <h3>¿Puedo postularme a las ofertas que me llamen la atención?</h3>
                <p class="padding-top-20 padding-bottom-10">
                    Si, puedes postularte a las vacantes que te llamen la atención. El perfil será remitido a la psicóloga responsable del reclutamiento, ella los va a analizar y si cumples con el perfil se comunicará contigo. No te postules a todas las vacantes ya que el sistema puede bloquear tu cuenta temporalmente.
                </p>

                <h3>La psicóloga de SoyEmpleo me ha contactado para una pre-entrevista telefónica, ¿ahora qué hago?</h3>
                <p class="padding-top-20 padding-bottom-10">
                    Felicitaciones! Estás más cerca de obtener el empleo que quieres, es importante que estés pendiente en los próximos días ya que es posible que recibas una llamada para programar una entrevista presencial. Si no pasas al proceso de entrevista recibirás un email notificándote la novedad.
                </p>

                <h3>Recibí una llamada para un proceso de entrevista, ¿ahora qué hago?</h3>
                <p class="padding-top-20 padding-bottom-10">
                    Vamos muy bien, ahora prepárate! Te recomendamos seguir los siguientes consejos:
                    <ol>
                        <li>
                            Busca en internet información sobre la empresa, a que se dedica? Donde tienen sede?
                        </li>
                        <li>
                            Prepara tu “elevator pitch”. No sabes qué es un Elevator Pitch? Mira este video, te va a ayudar a crear el tuyo <a href="https://www.youtube.com/watch?v=L9e_PMkgAvQ" target="_blank">https://www.youtube.com/watch?v=L9e_PMkgAvQ</a>
                        </li>
                        <li>
                            La presentación personal es fundamental, vístete como si ya fuera un día de trabajo. Intenta averiguar si en la empresa visten con trajes formales o si usar un jean está bien.
                        </li>
                        <li>
                            Asiste a la entrevista y sé puntual! 
                        </li>
                    </ol>
                    Si no vas a asistir, escríbenos con 24 horas de anticipación a <a href="mailto:seleccion@soyempleo.com">seleccion@soyempleo.com</a> cancelando tu cita, nuestra imagen está en tus manos. Si faltas a una entrevista previamente programa sin justificación, no volverás a ser tenido en cuenta para otros procesos.
                </p>

                <h3>¿Puedo desactivar mi cuenta para no ser tenido en cuenta en ningún proceso?</h3>
                <p class="padding-top-20 padding-bottom-10">
                    Si, en cualquier momento puedes deshabilitar tu cuenta desde la pestaña configuraciones, en la parte superior derecha de tu perfil, puedes volverla a habilitar cuando desees ser tenido en cuenta nuevamente. En este menú también puedes eliminar tu cuenta de forma permanente de la base de datos, este proceso es permanente y no se puede revertir.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="section-blog" class="text-center margin-0 padding-20">
    <div class="container">
        <div class="row">
            <h1 class="padding-bottom-20 padding-top-20">Visita <strong>Nuestro Blog</strong></h1>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="post in nbc.lastPosts.posts">
                <div class="thumbnail padding-0">
                    <div class="img-hover">
                        <a href="{{post.link}}"><img src="https://soyempleo.com/assets/images/{{post.image}}" class="img-responsive" alt="{{post.title}}">
                        <h4>{{post.title}}</h4></a>
                    </div>
                    <div class="caption text-left">
                        <span class="autor margin-bottom-5">por <strong>{{post.author}}</strong></span><span class="fecha margin-bottom-5 text-right pull-right">{{post.date}}</span>
                        <p><a href="{{post.link}}" class="info">{{post.description}}...</a></p>
                        <a class="info" href="{{post.link}}">Leer más ></a>
                        <span class="comentarios pull-right text-right"><i class="fa fa-comment-o fa-lg"></i></span>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section><!-- /Sección Blog -->