<!-- <div class="container-fluid padding-0"> -->
<!-- ng-if="nbc.consultar();" -->
	<section id="headerwrap" class="margin-0 col-xs-12 padding-0 header-funciona">
		<div class="container-fluid padding-left-0 padding-right-0">
			<div class="col-xs-12 col-sm-12 margin-0 padding-top-50 text-center padding-bottom-50">
				<div class="col-xs-12">
					<button class="font-open-sans btn-switch btn-switch-left {{nbc.btnSwitch[0].btnClass}}" ng-click="nbc.botonSwitch('empresa');">
						Empresa
					</button>
					<button class="font-open-sans btn-switch btn-switch-right {{nbc.btnSwitch[1].btnClass}}" ng-click="nbc.botonSwitch('persona');">
						Persona
					</button>
				</div>
				<span id="header-persona-enter" ng-if="!nbc.textSwitch">
					<img src="assets/images/profileweb.png" alt="" width="10%" class="element margin-20">
				</span>
				<span id="header-persona-person" ng-if="nbc.textSwitch">
					<img src="assets/images/fav2web-wt.png" alt="" width="10%" class="element margin-20">
				</span>
				<h1 class="font-open-sans font-white">
					<strong ng-if="!nbc.textSwitch">¿Buscas Personal?</strong>
					<strong ng-if="nbc.textSwitch">¿Buscas Empleo?</strong>
					<br/>
				</h1>
				<p class="font-white font-size-17" ng-if="!nbc.textSwitch">
					Nosotros lo hacemos por ti
				</p>
				<p class="font-white font-size-17" ng-if="nbc.textSwitch">
					Déjanos ayudarte a conseguirlo
				</p>
				
			</div>
		</div>
	</section>
    <section id="somoshome1">
    	<div class="container padding-left-0 padding-right-0">  		
	    	<div class="col-xs-12 padding-left-0 padding-right-0">
	    		<div class="col-xs-12 col-sm-6 text-left margin-top-50">
					<span class="font-size-35 font-green-soy font-open-sans">
						¿Como funciona <strong>SoyEmpleo.com?</strong>
					</span>
					<p class="font-open-sans font-color-717171 font-size-17 padding-top-20 padding-bottom-20" ng-if="!nbc.textSwitch">
						<strong>1. Registra la empresa</strong> en SoyEmpleo.com
					</p>
					<p class="font-open-sans font-color-717171 font-size-17 padding-top-20 padding-bottom-20" ng-if="nbc.textSwitch">
						<strong>1. Registrate en SoyEmpleo.com.</strong> <span class="mouse-pointer font-color-azul-soyempleo" ng-click="nbc.redirect('persona')">Registrate AHORA</span>
					</p>
					<p class="font-open-sans font-color-717171 font-size-17 padding-top-20 padding-bottom-20" ng-if="!nbc.textSwitch">
						2. Crea una oferta de empleo, elige el tipo de oferta que se ajusta a tus necesidades: <b>Gratis, Básica o Premium.</b>
					</p>
					<p class="font-open-sans font-color-717171 font-size-17 padding-top-20 padding-bottom-20" ng-if="nbc.textSwitch">
						<b>2. Completa tu perfil</b> con toda la información relevante de estudios, experiencia, perfil profesional...
					</p>
		    	</div>
		    	<div class="hidden-xs col-sm-6 text-center margin-top-50">
					<span>
						<img src="assets/images/editweb.png" alt="" width="65%">
					</span>
		    	</div>
	    	</div>
	    	<div class="col-xs-12 padding-left-0 padding-right-0">
	    		<div class="hidden-xs col-sm-6 text-center margin-top-50">
					<span>
						<img src="assets/images/smsweb.png" alt="" width="65%">
					</span>
		    	</div>
		    	<div class="col-xs-12 col-sm-6 text-left margin-top-50">
					<p class="font-open-sans font-color-717171 font-size-17 padding-top-20 padding-bottom-20" ng-if="!nbc.textSwitch">
						<b>3. Empieza a recibir candidatos, revisa sus perfiles y las respuestas a las preguntas personales.</b>
					</p>
					<p class="font-open-sans font-color-717171 font-size-17 padding-top-20 padding-bottom-20" ng-if="nbc.textSwitch">
						3. En la sección <b>“Ofertas Sugeridas”</b> de tu perfil podrás encontrar ofertas de acuerdo a tus preferencias. Puedes postularte con sólo un click.				
					</p>
					<p class="font-open-sans font-color-717171 font-size-17 padding-top-20 padding-bottom-20" ng-if="!nbc.textSwitch">
						4. Entrevista y contrata a los mejores!
					</p>
					<p class="font-open-sans font-color-717171 font-size-17 padding-top-20 padding-bottom-20" ng-if="nbc.textSwitch">
						4. Nuestros caza-talentos virtuales siempre están buscando talento entre nuestros usuarios, estar en <b>SoyEmpleo es estar en el radar de cientos de empresas.</b> Postúlate a las vacantes que te llamen la atención!						
					</p>
					<p class="font-open-sans font-color-717171 font-size-17 padding-top-20 padding-bottom-20" ng-if="nbc.textSwitch">
						<b>5. Puedes descargar tu hoja de vida</b> en PDF e immprimirla para llevarla a las entrevistas.
					</p>
		    	</div>
	    	</div>
	    </div>
    </section>

    <section id="somoshome2">
    	<div class="container padding-left-0 padding-right-0">
	    	<div class="col-xs-12 text-center margin-bottom-20 margin-top-50">
				<span class="font-size-35 font-green-soy font-open-sans" ng-if="!nbc.textSwitch">
					¿Por qué buscar personal en <strong>SoyEmpleo.com?</strong>
				</span>

				<span class="font-size-35 font-green-soy font-open-sans" ng-if="nbc.textSwitch">
					¿Por qué registrarme en <strong>SoyEmpleo.com?</strong>
				</span>
	    	</div>
	    	<div class="col-xs-12 col-sm-4 text-center">
	    		<span class="margin-bottom-20">
					<img src="assets/images/fav2web.png" alt="" width="28%" class="margin-20">
				</span>
				<p class="font-size-17" ng-if="!nbc.textSwitch">
					<strong>Más del 80% de las vacantes Premium</strong> terminan en contrataciones exitosas.


				</p>
				<p class="font-size-17" ng-if="nbc.textSwitch">
					<strong>Las mejores empresas</strong> buscan personal en SoyEmpleo.com
				</p>
	    	</div>
	    	<div class="col-xs-12 col-sm-4 text-center">
	    		<span class="margin-bottom-20">
					<img src="assets/images/favweb.png" alt="" width="30%" class="margin-20">
				</span>
				<p class="font-size-17" ng-if="!nbc.textSwitch">
					Nuestra plataforma es <strong>amigable y fácil de usar.</strong>
				</p>
				<p class="font-size-17" ng-if="nbc.textSwitch">
					<strong>Te ayudamos a crecer profesionalmente.</strong> Sólo te remitimos a empleos que mejoren tus condiciones actuales.
				</p>
	    	</div>
	    	<div class="col-xs-12 col-sm-4 text-center">
	    		<span class="margin-bottom-20">
					<img src="assets/images/handsgivingweb.png" alt="" width="30%" class="margin-20">
				</span>
				<p class="font-size-17" ng-if="!nbc.textSwitch">
					Nuestro servicio <b>Premium es personalizado y efectivo!</b>
				</p>
				<p class="font-size-17" ng-if="nbc.textSwitch">
					Las oportunidades llegan a ti, escucha ofertas de las <strong>mejores empresas.</strong>
				</p>
	    	</div>
	    	<div class="col-xs-12 margin-top-30 margin-bottom-30 text-center">
	    		<button ng-redirect="/landing-company" class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30" ng-if="!nbc.textSwitch">¡Crear <strong>Vacante</strong>! 
		    	</button>
		    	<button ng-redirect="/persona" class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30" ng-if="nbc.textSwitch">¡Registrarse <b>Ahora</b>! 
		    	</button>
	    	</div>
    	</div>
    </section>
    <section id="somoshome3">
    	<div class="container padding-left-0 padding-right-0">
    		<div class="col-xs-12 text-center margin-bottom-20 margin-top-50">
				<span class="font-size-35 text-blue-soy font-open-sans">
					Preguntas <b>Frecuentes</b>
				</span>
	    	</div>
	    	<div class="dropdownw col-xs-12"> 
	    		<div class="col-xs-12 border-bottom-2px border-color-e3e3e3" ng-repeat="pre in nbc.preguntas">
		    		<button ng-click="nbc.openDropdown($index);" class="word-spacing--10 dropbtnw background-color-inherit border-none dropbtnw-style width-100 font-size-20 text-left margin-10">
		    			{{pre.pregunta}}
		    		</button>
		    		<div id="myDropdown{{$index}}" class="dropdownw-content" ng-if="!nbc.textSwitch && !pre.especial && !pre.especial2 && !pre.especialX" style="padding: 20px 50px;">
					    <p style="text-align: justify;" ng-repeat="res in pre.respuesta">{{res}}</p>
				    </div>
				    <div id="myDropdown{{$index}}" class="dropdownw-content" ng-if="!nbc.textSwitch && pre.especial && !pre.especial2 && !pre.especialX" style="padding: 20px 50px;">
					    <p style="text-align: justify;">El precio estándar es de 159.000 pesos + IVA pero hay descuentos de acuerdo a la cantidad de vacantes que contrates. Las vacantes tienen un año de vigencia a partir de la fecha de compra. Puedes ver la tabla de precios <span class="mouse-pointer font-color-azul-soyempleo" ng-click="nbc.goToPrecios();">AQUÍ</span></p> 

				    </div>
				    <div id="myDropdown{{$index}}" class="dropdownw-content" ng-if="!nbc.textSwitch && !pre.especial && pre.especial2 && !pre.especialX" style="padding: 20px 50px;">
					    <p style="text-align: justify;">No garantizamos que termines contratando una persona. Pero nuestras estadísticas nos dicen que el 80% de las vacantes Premium terminan en contrataciones exitosas. Algunos consejos son:<br> 
							<ol>
								<li>Definir perfil, cuando nuestro reclutador te contacte para iniciar el proceso. Es importante que dediques el tiempo necesario para atender su llamada. Queremos entender tu negocio, su ADN y su estructura, para así poder hacer nuestra búsqueda más efectiva.</li>
								<li>Entrevista pronto, todas las empresas quieren los mejores talentos, así que debemos movernos rápido. Entre que se remiten los finalistas y tú los citas a entrevista no debe pasar más de 48 horas, de lo contrario los candidatos pueden perder interés o comprometerse con otro empleo.</li>
								<li>Comunicación oportuna, es importante que estés en contacto con nosotros y nos des feedback acerca de los candidatos que te enviamos. De eso depende que podamos hacer bien nuestro trabajo y mejoremos cada día más.</li>
							</ol>
							¿Como inicio el proceso?<br>
							Todo empieza <span class="mouse-pointer font-color-azul-soyempleo" ng-click="nbc.redirect('landing-company')">AQUÍ</span>
						</p>
				    </div>

				    <div id="myDropdown{{$index}}" class="dropdownw-content" ng-if="nbc.textSwitch && !pre.especial && !pre.especialX" style="padding: 20px 50px;">
					    <p style="text-align: justify;" ng-repeat="res in pre.respuesta">{{res}}</p>
				    </div>
				    <div id="myDropdown{{$index}}" class="dropdownw-content" ng-if="nbc.textSwitch && pre.especial && !pre.especialX" style="padding: 20px 50px;">
					    <p style="text-align: justify;">Para registrarte por primera vez ingresa <span class="mouse-pointer font-color-azul-soyempleo" ng-click="nbc.redirect('persona')">AQUÍ</span>, después podrás dirigirte a tu perfil y llenar la información de tu hoja de vida.</p>
				    </div>

				    <div id="myDropdown{{$index}}" class="dropdownw-content" ng-if="nbc.textSwitch && !pre.especial && pre.especialX" style="padding: 20px 50px;">
					    <p style="text-align: justify;">Vamos muy bien, ahora prepárate! Te recomendamos seguir los siguientes consejos:<br> 
							<ol>
								<li>Busca en internet información sobre la empresa, a que se dedica? Donde tienen sede?</li>
								<li>Prepara tu “elevator pitch”. No sabes qué es un Elevator Pitch? Mira este video, te va a ayudar a crear el tuyo <a href="https://www.youtube.com/watch?v=L9e_PMkgAvQ" target="_blank" style="display:inline-block; padding: 0;color: blueviolet;">https://www.youtube.com/watch?v=L9e_PMkgAvQ</a></li>
								<li>La presentación personal es fundamental, vístete como si ya fuera un día de trabajo. Intenta averiguar si en la empresa visten con trajes formales o si usar un jean está bien.</li>
								<li>Asiste a la entrevista y sé puntual!</li>
							</ol>
							Si no vas a asistir, escríbenos con 24 horas de anticipación a <a href="mailto:seleccion@soyempleo.com" target="_top" style="display:inline-block; padding: 0;color: blueviolet;">seleccion@soyempleo.com</a> cancelando tu cita, nuestra imagen está en tus manos. Si faltas a una entrevista previamente programa sin justificación, no volverás a ser tenido en cuenta para otros procesos.
						</p>
				    </div>
	    		</div>
			</div>

			<div id="preciosBox" class="col-xs-12 padding-top-100" ng-show="nbc.isPrecios && !nbc.textSwitch">
				<div class="col-xs-12 col-sm-4 col-sm-offset-2 padding-0 margin-top-30">
					<div class="pricing-box-blue-gradient-bg-to-top text-center padding-top-10 padding-bottom-10">
						<span class="font-bold font-open-sans font-white font-size-20">
							UNA VACANTE
						</span>
					</div>
					<div class="text-center border-1-solid border-color-c5c5c5">
						<div class="pricing-arrow-down-white padding-0">
							<div class="tooltips-inner padding-10">
								<img src="assets/images/icon-pricing-box-premium.png" alt="" width="25%">
								<p class="font-color-707070 font-open-sans padding-10">
									Cuando buscas personas con estudios o <strong>experiencia especifica, esta es la mejor opción.</strong>
								</p>
							</div>
						</div>
						<div class="pricing-box-inner-bg-gray padding-top-50 padding-bottom-30">
							<div class="text-left padding-left-30 padding-right-30 font-open-sans font-color-707070 padding-bottom-20">
								<p>• <strong>Cuatro (4) candidatos preseleccionados acordes al perfil.</strong></p>
								<p>• <strong>Trazabilidad </strong> del proceso en tiempo real</p>
								<p>• Acompañamiento de un (1) <strong>experto en selección</strong>
							</div>
							<div class="border-top-1px border-bottom-1px border-color-c5c5c5 padding-10 text-center margin-left-30 margin-right-30">
								<span class="font-open-sans font-bold font-size-25 text-blue-soy">
									$ 89.000 + 15%
								</span>
								<span class="font-open-sans font-bold font-size-20 text-blue-soy">
									 del salario de cada contratación exitosa.
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-4 padding-0 princing-box-blue-gradient-bg-to-bottom">
					<div class="ribbon-gold"><span style="font-size:9px !important;">Recomendado</span></div>
					<div class=" text-center padding-top-20 padding-bottom-20">
						<span class="font-bold font-open-sans font-white font-size-20">
							MEMBRESIA
						</span>
					</div>
					<div class="text-center padding-bottom-5">
						<div class="margin-left-5 margin-right-5">
							<div class="pricing-arrow-down-gray padding-0">
								<div class="tooltips-inner padding-10">
									<img src="assets/images/icon-pricing-box-membership.png" alt="" width="28%">
									<p class="font-color-707070 font-open-sans padding-10">
										Contrata tu <strong>departamento de selección virtual</strong>
									</p>
								</div>
							</div>
							<div class="pricing-box-inner-bg-white padding-top-50 padding-bottom-30">
								<div class="text-left padding-left-30 padding-right-30 font-open-sans font-color-707070 padding-bottom-40">
									<p>• Creación de <strong>vacantes ilimitadas</strong></p>
									<p>• <strong>Psicóloga de selección permanente</strong></p>
									<p>• <strong>Reclutamiento masivo</strong></p>
								</div>
								<div class="border-top-1px border-bottom-1px border-color-c5c5c5 padding-10 text-center margin-left-30 margin-right-30">
									<span class="font-open-sans font-bold font-size-25 text-blue-soy">
										$ 200.000 /mes + 12%
									</span>
									<span class="font-open-sans font-bold font-size-20 text-blue-soy">
										 del salario de cada contratación exitosa.
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 margin-top-30 margin-bottom-30 text-center">
	    		<button ng-redirect="/landing-company" class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30" ng-if="!nbc.textSwitch">¡Crear <b>Vacante</b>! 
		    	</button>
		    	<button ng-redirect="/persona" class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30" ng-if="nbc.textSwitch">¡Registrarse <b>Ahora</b>! 
		    	</button>
	    	</div>
    	</div>
    </section>
    <section id="section-blog" class="text-center margin-0 padding-20" style="border-top: 1px solid #eaeaea;">
    	<div class="container">
    		<div class="col-xs-12">
    			<img src="assets/images/Footer_SPE.jpg" alt="Servicio Público de Empleo" class="img-responsive center-block">
    		</div>
    		<div class="col-xs-12">
    			<small>
	    			<p>
	    				SoyEmpleo es una agencia de empleo vinculada a la red de prestadores del Servicio Público de Empleo. Autorizado por la Unidad Administrativa Especial del Servicio Público de Empleo según resolución No. 384 de Abril de 2016.
	    			</p>
	    		</small>
    		</div>
    	</div>
    </section>
    <script>
    	/*document.getElementById("0").addEventListener('click', myFunction, false);
    	document.getElementById("1").addEventListener('click', myFunction, false);
    	document.getElementById("2").addEventListener('click', myFunction, false);
    	document.getElementById("3").addEventListener('click', myFunction, false);
    	document.getElementById("4").addEventListener('click', myFunction, false);
    	document.getElementById("5").addEventListener('click', myFunction, false);

    	function myFunction(evt){
    		document.getElementById("myDropdown"+this.id).classList.toggle("show");
		    if ( confirm("Soy "+this.id) ) {
		               // Hacer algo
		        return true;
		    } else {
		     evt.preventDefault();
		    }
		}*/

    	/*function myFunction(id) {
    		console.log("Esta pasando por aqui",id);
		    document.getElementById("myDropdown"+id.toString()).classList.toggle("show");
		}*/

		// Close the dropdown menu if the user clicks outside of it
		/*window.onclick = function(event) {
		  if (!event.target.matches('.dropbtnw')) {

		    var dropdowns = document.getElementsByClassName("dropdownw-content");
		    var i;
		    for (i = 0; i < dropdowns.length; i++) {
		      var openDropdown = dropdowns[i];
		      if (openDropdown.classList.contains('show')) {
		        openDropdown.classList.remove('show');
		      }
		    }
		  }
		}*/
    </script>
<!-- </div> -->
