<div>
	<section id="headerwrap" class="margin-0 col-xs-12 padding-0" ng-if="nbc.consultar();">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin-0 padding-0 text-center side-persona padding-bottom-20">
			<h1 class="padding-top-50">¿Eres <strong>Persona</strong>?<br/></h1>
			<a href="#/persona"><img src="assets/images/soyempleo_persona.png" class="img-responsive" alt="Crea tu perfil en SoyEmpleo" width="" height="" /></a>
		    <div class="col-lg-12 col-sm-12 col-xs-12 padding-top-10 banner_bttom">
		    	<button ng-redirect="/persona" class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30"> Buscar Empleo </button>
				<p>¿Ya estás registrado? <a href="#/login"><strong>Ingresa Aquí</strong></a></p>
		    </div>
		</div><!-- /Side-Persona -->
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin-0 padding-0 text-center side-empresa">
			<h1 class="padding-top-50">¿Eres <strong>Empresa</strong>?<br/></h1>
			<a href="#/empresa"><img src="assets/images/soyempleo_empresa.png" class="img-responsive" alt="Crea tu oferta laboral en SoyEmpleo" width="" height="" /></a>
			<div class="col-lg-12 col-sm-12 col-xs-12 padding-top-10 banner_bttom">
				<button ng-redirect="/empresa" class="btn btn-lg bton-green button button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30"> Crear Vacante </button>
				<p>¿Ya estás registrado? <a href="#/login"><strong>Ingresa Aquí</strong></a></p>
			</div>
		</div><!-- /Side-Empresa -->
	</section><!-- /Banner Principal -->
	<section id="section-buscar" class="text-center padding-20">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top-15">
					<form class="form-inline">
						<div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 margin-right-5 text-center input-group input-group-lg pull-left">
						  <span class="input-group-addon" id="basic-addon3"><i class="fa fa-search fa-lg"></i></span>
						  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="¿qué empleo buscas?">
						</div>
						<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 padding-0">
							<div class="styled-select">
			   				    <select>
							        <option>Categoria</option>
							        <option>Ketchup</option>
							        <option>Relish</option>
							    </select>
			    			</div>
			    		</div>
			    		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 padding-0 text-center">
		   					<button class="btn btn-lg bton-green padding-left-20 padding-right-20">Buscar</button>
		   				</div>
		   			</form>
		   		</div>
		   	</div>
		</div>
	</section>
    <section id="section-somos" class="text-center">
    	<div class="col-sm-offset-2 col-lg-8 col-sm-8 col-md-8 col-xs-12">
    		<a href="#/" onClick="$.scrollTo('#video',900)" class="hidden-xs"><img src="assets/images/arrow_home.png" alt="Conocenos SoyEmpleo" class="padding-20 img-responsive" height="" width="" ng-if="nbc.consultar();"/></a>
    		<h1>¿Qué es <strong>SoyEmpleo.com</strong>?</h1>
    		<h3 class="margin-top-20 margin-bottom-30">Somos una agencia virtual de búsqueda de empleo en Colombia. Por medio de nuestra plataforma hacemos procesos de reclutamiento y pre-selección de personal para empresas a nivel nacional. Crea tu perfil y muestra quien eres!</h3>
    		<div id="video" class="embed-responsive embed-responsive-4by3 margin-top-20 ">
				<iframe class="embed-responsive-item" width="360" height="155" src="https://www.youtube.com/embed/DnbCyb796Lw" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="arrow col-lg-offset-3 col-md-offset-3 col-sm-offset-2 hidden-xs padding-0">
				<img src="assets/images/arrow_home_somos.png" alt="Crea tu Perfil" class="img-responsive padding-0" width="" height="" />
			</div>
			<a href="#/persona" class="btn btn-lg bton-green font-size-24" onClick="$.scrollTo('html,body',900)">¡Crea tu perfil GRATIS!</a>
    	</div>
    </section><!-- /Sección Somos -->

    <section id="section-ofertas" class="text-center padding-top-30 padding-right-10 padding-left-10 padding-bottom-30">
    	<div class="container">
    		<div class="row">
				<h1>Últimas <strong>Ofertas</strong></h1>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="ofertas in nbc.lastOffert.offers">
               		<div class="panel panel-default panel-pricing">
                   		<div class="panel-heading padding-0">
                            <img src="{{ofertas.companies.logo}}"class="img-responsive img-offert" alt="Empresa Ofertante SoyEmpleo" style="width:100%;">
                        </div>
                         <div class="panel-body text-left">
                            <h4>{{ofertas.job_title}}</h4>
                            <p class="ellipsis"><img src="assets/images/icon-map-market.png" alt="Ciudad vacantes" width="" height="" /> {{ofertas.department}} | {{ofertas.city}} </p>
                            <p><img src="assets/images/icon-suitcase.png" alt="Salario ofrecido" width="" height="" /> <span ng-show="ofertas.show_salary=='Si'">$ {{ofertas.total}} |</span><span ng-show="ofertas.show_salary!='Si'">A Convenir |</span> <strong>{{ofertas.type_contract}}</strong></p>
                        </div>
                        <div class="panel-footer">
                            <a href="" ng-click="nbc.offersUrl(ofertas.city,ofertas.companies.name,ofertas.job_title,ofertas._id);" class="btn btn-sm bton-green" onClick="$.scrollTo('html, body',900)">Ver Oferta!</a>
                        </div>
                    </div>
                </div>
			</div>
		</div>
    </section><!-- /Sección Ofertas -->
    <section id="section-clientes" class="col-lg-12 col-md-12 col-sm-12 hidden-xs margin-0 padding-0 text-center">
    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    		<h1 class="padding-10">Empresas que confían <strong>en SoyEmpleo.com</strong></h1>
			<div id="carousel" class="carousel slide" data-ride="carousel">
		        <!-- <ol class="carousel-indicators">
		            <li class="border-color: rgba(12, 4, 4, 0.39);" data-target="#carousel" data-slide-to="0" class="active"></li>
		            <li class="border-color: rgba(12, 4, 4, 0.39);" data-target="#carousel" data-slide-to="1"></li>
		            <li class="border-color: rgba(12, 4, 4, 0.39);" data-target="#carousel" data-slide-to="2"></li>
		        </ol> -->
		        
		        <!-- Items -->
		        <div class="carousel-inner">
		            
		            <div class="item active">
		                <div class="col-lg-5ths col-sm-5ths col-xs-12 view thumbnail" ng-repeat="company in nbc.companies">
		    				<img ng-src="https://api.soyempleo.com/profile/companies/logos/{{company.logo}}" width="150" height="150" class="img-responsive comp-logos" alt="Logo Empresa ofertante" />
		        			<div class="mask">
		        				<img src="assets/images/soyempleo-registro.png" class="img-responsive"  width="15%" height="15%" alt="Logo Empresa ofertante" />
							    <a ng-click="nbc.companyUrl(company.social_name, company._id)" onClick="$.scrollTo('html, body',900)" class="info" title="Ver Ofertas">Ver Ofertas</a>
							</div>
							<p class="social_name">{{company.social_name | lowercase}}</p>
						</div>
		            	<!-- <div class="col-lg-5ths col-sm-5ths col-xs-12 view thumbnail">
		    				<img src="assets/images/empresa_2.png" class="img-responsive" alt="Logo Empresa ofertante" />
		        			<div class="mask">
		        				<img src="assets/images/tbm_logo2.png" class="img-responsive" alt="Logo Empresa ofertante" />
							    <a href="#/pionera/2" onClick="$.scrollTo('html, body',900)" class="info" title="Ver Ofertas">Ver Ofertas</a>
							</div>
						</div>
		            	<div class="col-lg-5ths col-sm-5ths col-xs-12 view thumbnail">
		    				<img src="assets/images/empresa_3.png" class="img-responsive" alt="Logo Empresa ofertante" />
		        			<div class="mask">
		        				<img src="assets/images/tbm_logo3.png" class="img-responsive" alt="Logo Empresa ofertante" />
							    <a href="#/pionera/3" onClick="$.scrollTo('html, body',900)" class="info" title="Ver Ofertas">Ver Ofertas</a>
							</div>
						</div>
		            	<div class="col-lg-5ths col-sm-5ths col-xs-12 view thumbnail">
		    				<img src="assets/images/empresa_4.png" class="img-responsive" alt="Logo Empresa ofertante" />
		        			<div class="mask">
		        				<img src="assets/images/tbm_logo4.png" class="img-responsive" alt="Logo Empresa ofertante" />
							    <a href="#/pionera/4" onClick="$.scrollTo('html, body',900)" class="info" title="Ver Ofertas">Ver Ofertas</a>
							</div>
						</div>
						<div class="col-lg-5ths col-sm-5ths col-xs-12 view thumbnail">
		    				<img src="assets/images/empresa_5.png" class="img-responsive" alt="Logo Empresa ofertante" />
		        			<div class="mask">
		        				<img src="assets/images/tbm_logo5.png" class="img-responsive" alt="Logo Empresa ofertante" />
							    <a href="#/pionera/5" onClick="$.scrollTo('html, body',900)" class="info" title="Ver Ofertas">Ver Ofertas</a>
							</div>
						</div> -->
		            </div>
		        </div> 
		    </div>
		</div>
    </section>
    <section id="section-blog" class="text-center margin-0 padding-20">
    	<div class="container">
        	<div class="row">
        		<h1 class="padding-bottom-20 padding-top-20" style="font-size: 40px">Visita <a href="https://blog.soyempleo.com/" style="text-decoration: none;">Nuestro Blog</strong></h1>
        		
        		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="post in nbc.lastPosts.posts">
        			<div class="thumbnail padding-0">
        				<div class="img-hover">
                   			<a href="{{post.link}}"><img src="https://soyempleo.com/assets/images/{{post.image}}" class="img-responsive" alt="{{post.title}}">
                        	<h4>{{post.title}}</h4></a>
                        </div>
                        <div class="caption text-left">
                            <span class="autor margin-bottom-5">por <strong>{{post.author}}</strong></span><span class="fecha margin-bottom-5 text-right pull-right">{{post.date}}</span>
                            <p><a href="{{post.link}}" class="info">{{post.description}}...</a></p>
                            <a class="info" href="{{post.link}}">Leer más ></a>
                            <span class="comentarios pull-right text-right"><i class="fa fa-comment-o fa-lg"></i></span>
                        </div>
                    </div>
        		</div>
        		
        	</div>
        </div>
    </section><!-- /Sección Blog -->
    <section id="section-blog" class="text-center margin-0 padding-20" style="border-top: 1px solid #eaeaea;">
    	<div class="container">
    		<div class="col-xs-12">
    			<img src="assets/images/Footer_SPE.jpg" alt="Servicio Público de Empleo" class="img-responsive center-block">
    		</div>
    		<div class="col-xs-12">
    			<small>
	    			<p>
	    				SoyEmpleo es una agencia de empleo vinculada a la red de prestadores del Servicio Público de Empleo. Autorizado por la Unidad Administrativa Especial del Servicio Público de Empleo según resolución No. 384 de Abril de 2016.
	    			</p>
	    		</small>
    		</div>
    	</div>
    </section>
</div>
