<!-- <div class="container-fluid padding-0"> -->
<!-- ng-if="nbc.consultar();" -->
	<section id="headerwrap" class="margin-0 col-xs-12 padding-0 header-home">
		<div class="container-fluid padding-left-0 padding-right-0">
			<div class="col-xs-12 text-center padding-top-30">
				<h1 class="font-open-sans font-white">
					Descubre el poder de un <strong>Caza-talentos Virtual</strong>
				</h1>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 margin-0 padding-0 text-center padding-bottom-20">
				<h1 class="padding-top-50 font-open-sans font-white">
					¿Eres <strong>Persona</strong>?<br/>
				</h1>
				<span id="header-persona" class="mouse-pointer">
					<img src="assets/images/icon-home-persona.png" alt="" width="25%" class="margin-20">
				</span>
				<div class="col-lg-12 col-sm-12 col-xs-12 padding-top-10 banner_bttom">
			    	<button ng-redirect="/persona" class="btn btn-lg bton-green-invert button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30 font-bold"> 	Regístrate
			    	</button>
					<p class="font-white">
						¿Ya estás registrado? <a href="#/login" class="font-cyan"><strong>Ingresa Aquí</strong></a>
					</p>
			    </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 margin-02 padding-0 text-center margin-bottom-70">
				<h1 class="padding-top-50 font-open-sans font-white">
					¿Eres <strong>Empresa</strong>?<br/>
				</h1>
				<span id="header-empresa" class="mouse-pointer">
					<img src="assets/images/icon-home-empresa.png" alt="" width="22%" class="margin-20">
				</span>
			    <div class="col-lg-12 col-sm-12 col-xs-12 padding-top-10 banner_bttom">
					<button ng-redirect="/landing-company" class="btn btn-lg bton-green-invert button button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30 font-bold">
						Portal Empresas
					</button>
					<p class="font-white">
						¿Ya estás registrado? <a href="#/login" class="font-cyan"><strong>Ingresa Aquí</strong></a>
					</p>
				</div>
			</div>
		</div>
	</section>
    <section id="somoshome">
    	<div class="container-fluid padding-left-0 padding-right-0">
	    	<!-- <div class="col-xs-12 text-center top--35">
				<span onClick="$.scrollTo('#somoshome',900)" class="unstyled font-green-soy font-size-45 border-radius-50 bg-white2 box-shadow-blue" style="padding: 5px 7px;">
					<i class="fa fa-chevron-down" aria-hidden="true"></i>
				</span>
			</div> -->
	    	<div class="container">
		    	<div class="col-xs-12 text-center margin-top-50">
					<span class="font-size-30 font-green-soy font-open-sans">
						¿Qué es <strong>SoyEmpleo.com?</strong>
					</span>
		    	</div>
		    	<div class="col-xs-12 text-center margin-top-50 margin-bottom-30">
		    		<p class="font-open-sans font-color-717171">
		    			Somos una plataforma digital,donde pequeñas y medianas empresas se conectan con profesionales en recursos humanos (caza-talentos virtuales) para hacer procesos de reclutamiento, evaluación y selección de personal. Sin intermediarios. Fácil y rápido.
		    		</p>
		    	</div>

		    	<div class="col-xs-12 col-sm-4 text-center">
		    		<span class="margin-bottom-20">
						<img src="assets/images/icon-1-home-somos.png" alt="" width="30%" class="margin-20">
					</span>
					<p>
						Nuestro modelo de economía colaborativa te conecta con un caza-talentos virtual en minutos.
					</p>
		    	</div>
		    	<div class="col-xs-12 col-sm-4 text-center">
		    		<span class="margin-bottom-20">
						<img src="assets/images/icon-2-home-somos.png" alt="" width="30%" class="margin-20">
					</span>
					<p>
						Crear tu perfil es fácil y rápido, ponte en el radar de cientos de empresas en minutos.
					</p>
		    	</div>
		    	<div class="col-xs-12 col-sm-4 text-center">
		    		<span class="margin-bottom-20">
						<img src="assets/images/icon-3-home-somos.png" alt="" width="30%" class="margin-20">
					</span>
					<p>
						Mediante algoritmos de búsqueda y análisis de big data, nuestros reclutadores encuentran los mejores candidatos para cada vacante.
					</p>
		    	</div>
		    	<div class="col-xs-12 margin-top-30 margin-bottom-30 text-center">
		    		<button ng-redirect="/persona" class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30"> 	¡Crear <strong>Perfíl</strong>!
			    	</button>
		    	</div>
	    	</div>
    	</div>
    </section>

    <section id="section-ofertas" class="text-center padding-top-30 padding-right-10 padding-left-10 padding-bottom-30">
    	<div class="container">
			<h1 class="text-blue-soy font-size-30 margin-bottom-30">Últimas <strong>Ofertas</strong></h1>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="ofertas in nbc.lastOffert.offers">
           		<div class="panel panel-default panel-pricing">
               		<div class="panel-heading padding-0">
                        <img ng-if="ofertas.company.logo != ''" ng-src="https://api.soyempleo.com/profile/companies/logos/{{ofertas.company.logo}}" class="img-responsive img-offert" alt="Empresa Ofertante SoyEmpleo" style="width:100%;">
                        <img ng-if="ofertas.company.logo == ''" ng-src="assets/images/logo-offert-default.png" class="img-responsive img-offert" alt="Empresa Ofertante SoyEmpleo" style="width:100%;">
                    </div>
                     <div class="panel-body text-left">
                        <h4 style="width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" 
                        	title="{{ofertas.job_title}}">
                        	{{ofertas.job_title}}
                        </h4>
                        <p class="ellipsis"><img src="assets/images/icon-map-market.png" alt="Ciudad vacantes" width="" height="" /> {{ofertas.department}} | {{ofertas.city}} </p>
                        <p><img src="assets/images/icon-suitcase.png" alt="Salario ofrecido" width="" height="" /> <span ng-show="ofertas.show_salary=='Si'">$ {{ofertas.total}} |</span><span ng-show="ofertas.show_salary!='Si'">A Convenir |</span> <strong>{{ofertas.type_contract}}</strong></p>
                    </div>
                    <div class="panel-footer">
                        <a href="" ng-click="nbc.offersUrl(ofertas.city,ofertas.company.name,ofertas.job_title,ofertas._id);" class="btn btn-sm bton-green" onClick="$.scrollTo('html, body',900)">Ver Oferta!</a>
                    </div>
                </div>
            </div>
            <div class="text-center">
            	<a href="" 
            		ng-click="nbc.goToPath('listOfertas');" 
            		class="btn btn-sm bton-green" 
            		onClick="$.scrollTo('html, body',900)">
            		Ver lista de ofertas!
            	</a>
            </div>
		</div>
    </section>
    <section id="sect-conect">
    	<div class="container-fluid padding-left-0 padding-right-0">
    		<div class="col-xs-12 padding-0 margin-0 sect-conect">
				<div class="col-sm-1 hidden-xs top-250">
					<span id="header-persona">
						<img src="assets/images/soyempleo-final.png" alt="" width="100%" class="margin-20">
					</span>
				</div>
				<div class="col-sm-5 col-xs-12 margin-bottom-52 margin-top-92 ">
					<span class="font-pt-sans font-bold font-white font-size-50 font-italic">
						"Conectar empresas y personas nunca había sido tan fácil, rápido e inteligente"
					</span><br>
					<span class="font-raleway font-size-30 font-white font-italic">
						Ruta N - Medellín.
					</span>
				</div>
			</div>
    	</div>
    </section>
    <!-- <section id="sect-price-home" >
		<div class="container">
			<div class="col-xs-12 text-center margin-top-50 margin-bottom-100">
				<h1 class="text-blue-soy font-size-40 margin-bottom-30">Nuestros <strong>precios</strong></h1>
			</div>

			<div id="divBasic" class=" visible-xs col-xs-12 col-sm-4 padding-left-0 padding-right-0" style="border: 3px solid #D0D7DB;border-top: none;">
				<div class="col-xs-12 text-center">
					<span class="font-green-soy font-size-18 font-bold border-color-2F9BD9 bg-white2 border-7-solid padding-65-35 border-radius-50 circles-solapa">
						BÁSICA
					</span>
				</div>
				<div class="col-xs-12 border-color-2F9BD9 border-7-solid padding-right-0 margin-bottom-100"></div>
				<div class="col-xs-12 text-center padding-10" style="background-color: #2F9BD9; height: 100px;">
					<span class="text-white font-open-sans font-bold font-size-18">"Sólo recibes candidatos postulados voluntariamente a tu oferta"</span><br>
					<span style="color:red">* </span><span style="color: #fff">Totalmente GRATIS</span>
				</div>
				<div class="col-xs-12 text-left padding-10 padding-top-20">
					<div class="col-xs-1">
						<span class="font-green-soy font-size-25"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
					</div>
					<div class="col-xs-10">
						<span class="font-open-sans font-light font-size-18"> Tu empresa tendrá un perfil con su logo y las vancates activas</span>
					</div>
				</div>
				<div class="col-xs-12 text-left padding-10 padding-top-20">
					<div class="col-xs-1">
						<span class="font-green-soy font-size-25"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
					</div>
					<div class="col-xs-10">
						<span class="font-open-sans font-light font-size-18"> Podrás ver ver el perfil de todos los candidatos que se postulen a tu oferta.</span>
					</div>
				</div>
				<div class="col-xs-12 text-left padding-10 padding-top-20">
					<div class="col-xs-1">
						<span class="font-red-soy font-size-25"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
					</div>
					<div class="col-xs-10">
						<span class="font-open-sans font-light font-size-18"> No hacemos búsqueda activa de candidatos.</span>
					</div>
				</div>
				<div class="col-xs-12 text-left padding-10 padding-top-20">
					<div class="col-xs-1">
						<span class="font-red-soy font-size-25"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
					</div>
					<div class="col-xs-10">
						<span class="font-open-sans font-light font-size-18"> No tendrás acompañamiento personalizado.</span>
					</div>
				</div>
				<div class="col-xs-12 text-left padding-10 padding-top-20 padding-bottom-55">
					<div class="col-xs-1">
						<span class="font-red-soy font-size-25"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
					</div>
					<div class="col-xs-10">
						<span class="font-open-sans font-light font-size-18"> No te garantizamos que los candidatos cumplan el perfil requerido.</span>
					</div>
				</div>
				<div class="col-xs-12 text-center padding-bottom-20">
					<button class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30 font-bold">
						Empezar ahora
		    		</button>
				</div>
			</div>
			<div id="divPremium" class=" visible-xs col-xs-12 col-sm-4 padding-left-0 padding-right-0 cajon-precio-xs" style="border: 3px solid #D0D7DB;border-top: none;">
				<div class="col-xs-12 text-center">
					<span class="font-green-soy font-size-18 font-bold border-color-3E5BC5 bg-white2 padding-65-15 border-7-solid border-radius-50 circles-solapa">
						PREMIUM
					</span>
				</div>
				<div class="col-xs-12 border-color-3E5BC5 border-7-solid padding-right-0 margin-bottom-100"></div>
				<div class="col-xs-12 text-center padding-10" style="background-color: #3E5BC5; height: 100px;">
					<span class="text-white font-open-sans font-bold font-size-16">"No pierdas tiempo. Recibes candidatos que cumplen el perfil y les interesa tu oferta"</span><br>
					<span style="color:red">* </span><span style="color: #fff">Por un costo de $149.000 COP</span>
				</div>
				<div class="col-xs-12 text-left padding-10 padding-top-20">
					<div class="col-xs-1">
						<span class="font-green-soy font-size-25"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
					</div>
					<div class="col-xs-10">
						<span class="font-open-sans font-light font-size-18"> Buscamos y pre-seleccionamos entre miles de hojas de vida los candidatos que cumplen tus requerimientos.</span>
					</div>
				</div>
				<div class="col-xs-12 text-left padding-10 padding-top-20">
					<div class="col-xs-1">
						<span class="font-green-soy font-size-25"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
					</div>
					<div class="col-xs-10">
						<span class="font-open-sans font-light font-size-18"> Realizamos la verificación teléfonica de cada candidato.</span>
					</div>
				</div>
				<div class="col-xs-12 text-left padding-10 padding-top-20">
					<div class="col-xs-1">
						<span class="font-green-soy font-size-25"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
					</div>
					<div class="col-xs-10">
						<span class="font-open-sans font-light font-size-18"> Tendrás acompañamiento personalizado de un experto en selección.</span>
					</div>
				</div>
				<div class="col-xs-12 text-left padding-10 padding-top-20">
					<div class="col-xs-1">
						<span class="font-green-soy font-size-25"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
					</div>
					<div class="col-xs-10">
						<span class="font-open-sans font-light font-size-18"> Recibirás candidatos verificados en 48 horas o menos.</span>
					</div>
				</div>
				<div class="col-xs-12 text-left padding-10 padding-top-20">
					<div class="col-xs-1">
						<span class="font-green-soy font-size-25"></span>
					</div>
					<div class="col-xs-10">
						<span class="font-open-sans font-light font-size-18"></span>
					</div>
				</div>
				<div class="col-xs-12 text-center padding-bottom-20">
					<button class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30 font-bold">
						Empezar ahora
		    		</button>
				</div>
			</div>
			<div id="divPackage" class=" visible-xs col-xs-12 col-sm-4 padding-left-0 padding-right-0 cajon-precio-xs" style="border: 3px solid #D0D7DB;border-top: none;">
				<div class="col-xs-12 text-center">zzzz
					<span class="font-green-soy font-size-18 font-bold border-color-1B3297 bg-white2  padding-65-15 border-7-solid border-radius-50 circles-solapa">
						PAQUETES
					</span>
				</div>
				<div class="col-xs-12 border-color-1B3297 border-7-solid padding-right-0 margin-bottom-100"></div>
				<div class="col-xs-12 text-center padding-10 padding-top-25" style="background-color: #1B3297; height: 100px;">
					<span class="text-white font-open-sans font-bold font-size-18">"Entre más compres, más ahorras"</span><br>
					<span style="color:red">* </span><span style="color: #fff">Precios unitarios por vacante</span>
				</div>
				<div class="col-xs-12 text-center padding-10 padding-top-50">
					<div class="col-xs-12">
						<span class="text-blue-soy font-light font-size-18">1 oferta | </span><span class="font-color-808080 font-bold font-size-18">189.000 COP</span>
					</div>
				</div>
				<div class="col-xs-12 text-center padding-10 padding-top-30">
					<div class="col-xs-12">
						<span class="text-blue-soy font-light font-size-18">2 a 3 ofertas | </span><span class="font-color-808080 font-bold font-size-18">175.000 COP</span>
					</div>
				</div>
				<div class="col-xs-12 text-center padding-10 padding-top-30">
					<div class="col-xs-12">
						<span class="text-blue-soy font-light font-size-18">4 o 5 ofertas | </span><span class="font-color-808080 font-bold font-size-18">160.000 COP</span>
					</div>
				</div>
				<div class="col-xs-12 text-center padding-10 padding-top-30">
					<div class="col-xs-12">
						<span class="text-blue-soy font-light font-size-18">6 a 11 ofertas | </span><span class="font-color-808080 font-bold font-size-18">149.000 COP</span>
					</div>
				</div>
				<div class="col-xs-12 text-center padding-10 padding-top-30">
					<div class="col-xs-12">
						<span class="text-blue-soy font-light font-size-18">12 a 17 ofertas | </span><span class="font-color-808080 font-bold font-size-18">139.000 COP</span>
					</div>
				</div>
				<div class="col-xs-12 text-center padding-10 padding-top-30">
					<div class="col-xs-12">
						<span class="text-blue-soy font-light font-size-18">18 a 25 ofertas | </span><span class="font-color-808080 font-bold font-size-18">125.000 COP</span>
					</div>
				</div>
				<div class="col-xs-12 text-center padding-10 padding-top-30">
					<div class="col-xs-12">
						Todos Nuestros precios Incluyen IVA
					</div>
				</div>
				
				<div class="col-xs-12 text-center padding-bottom-20">
					<button class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30 font-bold">
						Empezar ahora
		    		</button>
				</div>
			</div>
			<center class="hide-xs">
				<table style="table-layout: fixed !important;">
					<tr>
						<td class="col-xs-4" style="padding: 0px 20px; text-align:center;">
							<span class="font-green-soy font-size-18 font-bold border-color-2F9BD9 bg-white2 border-7-solid border-radius-50" style="padding: 55px 30px;">
								BÁSICA
							</span>
						</td>
						<td class="col-xs-4" style="padding: 0px 20px; text-align:center;">
							<span class="font-green-soy font-size-18 font-bold border-color-3E5BC5 bg-white2 border-7-solid border-radius-50" style="padding: 55px 23px;">
								PREMIUM
							</span>
						</td>
						<td class="col-xs-4" style="padding: 0px 20px; text-align:center;">
							<span class="font-green-soy font-size-18 font-bold border-color-1B3297 bg-white2 border-7-solid border-radius-50" style="padding: 55px 16px;">
								PAQUETES
							</span>
						</td>
					</tr>
					<tr>
						<td style="height: 100px; border-top: 7px solid #2F9BD9; border-left: 5px solid #c5c5c5; border-right: 5px solid #c5c5c5;">
							<span></span>
						</td>
						<td style="height: 100px; border-top: 7px solid #3E5BC5; border-left: 5px solid #c5c5c5; border-right: 5px solid #c5c5c5;">
							<span></span>
						</td>
						<td style="height: 100px; border-top: 7px solid #1B3297; border-left: 5px solid #c5c5c5; border-right: 5px solid #c5c5c5;">
							<span></span>
						</td>
					</tr>
					<tr style="height: 120px;">
						<td class="col-xs-4 text-center" style="background-color: #2f9bd9; color: #fff; border-left: 5px solid #c5c5c5; border-right: 5px solid #c5c5c5;">
							<span class="text-white font-open-sans font-bold font-size-16">
								"Sólo recibes candidatos postulados voluntariamente a tu oferta"
							</span><br>
							<span style="color:red">* </span>
							<span style="color: #fff">Totalmente GRATIS</span>
						</td>
						<td class="col-xs-4 text-center" style="background-color: #3E5BC5; color: #fff; border-left: 5px solid #c5c5c5; border-right: 5px solid #c5c5c5;">
							<span class="text-white font-open-sans font-bold font-size-16">
								"No pierdas tiempo. Recibes candidatos que cumplen el perfil y les interesa tu oferta"
							</span><br>
							<span style="color:red">* </span>
							<span style="color: #fff">Por un costo de $189.000 COP</span>
						</td>
						<td class="col-xs-4 text-center" style="background-color: #1B3297; color: #fff; border-left: 5px solid #c5c5c5; border-right: 5px solid #c5c5c5;">
							<span class="text-white font-open-sans font-bold font-size-16">
								"Entre más compres, más ahorras"
							</span><br>
							<span style="color:red">* </span>
							<span style="color: #fff">Precios unitarios por vacante</span>
						</td>
					</tr>
					<tr>
						<td style="border-left: 5px solid #c5c5c5; border-right: 5px solid #c5c5c5; vertical-align: top">
							<div class="col-xs-12 text-left padding-10 padding-top-20">
								<div class="col-xs-1">
									<span class="font-green-soy font-size-25"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
								</div>
								<div class="col-xs-10">
									<span class="font-open-sans font-light font-size-18"> Tu empresa tendrá un perfil con su logo y las vancates activas</span>
								</div>
							</div>
							<div class="col-xs-12 text-left padding-10 padding-top-20">
								<div class="col-xs-1">
									<span class="font-green-soy font-size-25"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
								</div>
								<div class="col-xs-10">
									<span class="font-open-sans font-light font-size-18"> Podrás ver ver el perfil de todos los candidatos que se postulen a tu oferta.</span>
								</div>
							</div>
							<div class="col-xs-12 text-left padding-10 padding-top-20">
								<div class="col-xs-1">
									<span class="font-red-soy font-size-25"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
								</div>
								<div class="col-xs-10">
									<span class="font-open-sans font-light font-size-18"> No hacemos búsqueda activa de candidatos.</span>
								</div>
							</div>
							<div class="col-xs-12 text-left padding-10 padding-top-20">
								<div class="col-xs-1">
									<span class="font-red-soy font-size-25"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
								</div>
								<div class="col-xs-10">
									<span class="font-open-sans font-light font-size-18"> No tendrás acompañamiento personalizado.</span>
								</div>
							</div>
							<div class="col-xs-12 text-left padding-10 padding-top-20 padding-bottom-55">
								<div class="col-xs-1">
									<span class="font-red-soy font-size-25"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
								</div>
								<div class="col-xs-10">
									<span class="font-open-sans font-light font-size-18"> No te garantizamos que los candidatos cumplan el perfil requerido.</span>
								</div>
							</div>
						</td>
						<td style="border-left: 5px solid #c5c5c5; border-right: 5px solid #c5c5c5; vertical-align: top">
							<div class="col-xs-12 text-left padding-10 padding-top-20">
								<div class="col-xs-1">
									<span class="font-green-soy font-size-25"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
								</div>
								<div class="col-xs-10">
									<span class="font-open-sans font-light font-size-18"> Buscamos y pre-seleccionamos entre miles de hojas de vida los candidatos que cumplen tus requerimientos.</span>
								</div>
							</div>
							<div class="col-xs-12 text-left padding-10 padding-top-20">
								<div class="col-xs-1">
									<span class="font-green-soy font-size-25"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
								</div>
								<div class="col-xs-10">
									<span class="font-open-sans font-light font-size-18"> Realizamos la verificación teléfonica de cada candidato.</span>
								</div>
							</div>
							<div class="col-xs-12 text-left padding-10 padding-top-20">
								<div class="col-xs-1">
									<span class="font-green-soy font-size-25"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
								</div>
								<div class="col-xs-10">
									<span class="font-open-sans font-light font-size-18"> Tendrás acompañamiento personalizado de un experto en selección.</span>
								</div>
							</div>
							<div class="col-xs-12 text-left padding-10 padding-top-20">
								<div class="col-xs-1">
									<span class="font-green-soy font-size-25"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
								</div>
								<div class="col-xs-10">
									<span class="font-open-sans font-light font-size-18"> Recibirás candidatos verificados en 48 horas o menos.</span>
								</div>
							</div>
							
						</td>
						<td style="border-left: 5px solid #c5c5c5; border-right: 5px solid #c5c5c5; vertical-align: top">
							<div class="col-xs-12 text-center padding-10 padding-top-50">
								<div class="col-xs-12">
									<span class="text-blue-soy font-light font-size-18">1 oferta | </span><span class="font-color-808080 font-bold font-size-18">189.000 COP</span>
								</div>
							</div>
							<div class="col-xs-12 text-center padding-10 padding-top-30">
								<div class="col-xs-12">
									<span class="text-blue-soy font-light font-size-18">2 a 3 ofertas | </span><span class="font-color-808080 font-bold font-size-18">175.000 COP</span>
								</div>
							</div>
							<div class="col-xs-12 text-center padding-10 padding-top-30">
								<div class="col-xs-12">
									<span class="text-blue-soy font-light font-size-18">4 o 5 ofertas | </span><span class="font-color-808080 font-bold font-size-18">160.000 COP</span>
								</div>
							</div>
							<div class="col-xs-12 text-center padding-10 padding-top-30">
								<div class="col-xs-12">
									<span class="text-blue-soy font-light font-size-18">6 a 11 ofertas | </span><span class="font-color-808080 font-bold font-size-18">149.000 COP</span>
								</div>
							</div>
							<div class="col-xs-12 text-center padding-10 padding-top-30">
								<div class="col-xs-12">
									<span class="text-blue-soy font-light font-size-18">12 a 17 ofertas | </span><span class="font-color-808080 font-bold font-size-18">139.000 COP</span>
								</div>
							</div>
							<div class="col-xs-12 text-center padding-10 padding-top-30">
								<div class="col-xs-12">
									<span class="text-blue-soy font-light font-size-18">18 a 25 ofertas | </span><span class="font-color-808080 font-bold font-size-18">125.000 COP</span>
								</div>
							</div>
							<div class="col-xs-12 text-center padding-10 padding-top-30 padding-bottom-30">
								<div class="col-xs-12">
									<span class="font-color-808080 font-size-16">* Todos nuestros precios tienen IVA incluido</span>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td style="border-left: 5px solid #c5c5c5; border-right: 5px solid #c5c5c5; border-bottom: 5px solid #c5c5c5;">
							<div class="col-xs-12 text-center padding-bottom-20">
								<button class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30 font-bold" ng-click="nbc.goToUrl('#/landing-company')">
									Empezar ahora
					    		</button>
							</div>
						</td>
						<td style="border-left: 5px solid #c5c5c5; border-right: 5px solid #c5c5c5; border-bottom: 5px solid #c5c5c5;">
							<div class="col-xs-12 text-center padding-bottom-20">
								<button class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30 font-bold" ng-click="nbc.goToUrl('#/landing-company')">
									Empezar ahora
					    		</button>
							</div>
						</td>
						<td style="border-left: 5px solid #c5c5c5; border-right: 5px solid #c5c5c5; border-bottom: 5px solid #c5c5c5;">
							<div class="col-xs-12 text-center padding-bottom-20">
								<button class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30 font-bold" ng-click="nbc.goToUrl('#/landing-company')">
									Empezar ahora
					    		</button>
							</div>
						</td>
					</tr>
				</table>
			</center>
		</div>
	</section> -->




	<!-- <section id="section-companies" class="text-center padding-top-30 padding-right-10 padding-left-10 padding-bottom-30">
    	<div class="container">
			<h1 class="text-blue-soy font-size-30 margin-bottom-30">Empresas que confian en <strong>SoyEmpleo.com</strong></h1>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" ng-repeat="company in nbc.companies">
				<a href="" ng-click="nbc.companyUrl(company.social_name, company._id);" onClick="$.scrollTo('html, body',900)">
	           		<div class="panel panel-default panel-pricing">
	               		<div class="panel-heading padding-0">
	                        <img src="https://api.soyempleo.com/img/pictures/companies/logos/{{company.logo}}" class="img-responsive" alt="{{company.social_name}}" style="width:100%;">
	                    </div>
	                     <div class="panel-body text-left">
	                        <h5 class="text-primary text-center" style="text-transform: capitalize;">{{company.social_name | lowercase}}</h5>                        
	                    </div>                        
	                </div>
                </a>
            </div>
		</div>
    </section> -->

    <section id="section-companies" class="text-center padding-top-30 padding-right-10 padding-left-10 padding-bottom-30">
    	<div class="container">
			<h1 class="text-blue-soy font-size-30 margin-bottom-40">Estas empresas ya usan <strong>SoyEmpleo</strong></h1>
			<div class="col-md-5ths col-xs-12">
				<img ng-src="assets/images/empresa_1.png" alt="" width="75%">
            </div>
            <div class="col-md-5ths col-xs-12">
				<img ng-src="assets/images/empresa_2.png" alt="" width="75%">
            </div>
            <div class="col-md-5ths col-xs-12">
				<img ng-src="assets/images/empresa_4.png" alt="" width="75%">
            </div>
            <div class="col-md-5ths col-xs-12">
				<img ng-src="assets/images/empresa_6.png" alt="" width="75%">
            </div>
            <div class="col-md-5ths col-xs-12">
				<img ng-src="assets/images/empresa_7.png" alt="" width="75%">
            </div>
		</div>
    </section>












	<section id="sext-blog-home" class="margin-top-50 margin-bottom-20">
		<div class="container">
			<div class="col-xs-12 text-center margin-top-10 margin-bottom-10">
				<h1 class="text-blue-soy font-size-40 margin-bottom-30">Visita <strong>Nuestro Blog</strong></h1>
			</div>
			<div class="col-xs-12 padding-bottom-20 margin-bottom-50 border-bottom-1px" ng-repeat="post in nbc.lastPosts.posts">
				<div class="col-xs-12 col-sm-3 text-right centrar-xs margin-bottom-10">
					<img ng-src="assets/images/{{post.image}}" alt="" width="55%">
				</div>
				<div class="col-xs-12 col-sm-9">
					<div class="col-xs-12">
						<p class="font-bold font-green-soy font-size-15">
							{{post.title}}
						</p>
						<p class="font-light font-color-878787 font-size-12">
							Por {{post.author}} | {{post.date}}
						</p>
					</div>
					<div class="col-xs-12">
						<p class="font-color-878787 font-size-inherit">
							{{post.description}}
						</p>
					</div>
					<div class="col-xs-12 text-right centrar-xs">
						<a target="_blank" ng-href="{{post.link}}" class="btn btn-lg bton-green-invert button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30 font-bold border-1-solid">
							Leer más
			    		</a>
					</div>
				</div>
			</div>

			<div class="col-xs-12 text-center">
				<a href="https://blog.soyempleo.com" target="_blank" class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30 font-bold">
					Visitar blog
	    		</a>
			</div>
		</div>
	</section>
    <section id="section-blog" class="text-center margin-0 padding-20" style="border-top: 1px solid #eaeaea;">
    	<div class="container">
    		<div class="col-xs-12">
    			<img src="assets/images/Footer_SPE.jpg" alt="Servicio Público de Empleo" class="img-responsive center-block">
    		</div>
    		<div class="col-xs-12">
    			<small>
	    			<p>
	    				SoyEmpleo es una agencia de empleo vinculada a la red de prestadores del Servicio Público de Empleo. Autorizado por la Unidad Administrativa Especial del Servicio Público de Empleo según resolución No. 384 de Abril de 2016.
	    			</p>
	    		</small>
    		</div>
    	</div>
    </section>
<!-- </div> -->
