<section ng-controller="informationController as inf"><!--Bloque inicial (Bienvenida) -->
	<section>
		<center>
			<section class="row padding-20" style="margin-right: inherit;">
				<div class="col-sm-1 col-sm-offset-1 text-right col-xs-12 col-xs-0 text-center">
					<img src="assets/images/soyempleo_preferencias.png" style="max-height: 120px;"  alt="">
				</div>
				<div class="col-sm-8 col-xs-12">
					<h1 class="text-blue-soy">¿Necesitas un empleado?</h1>
					<p>¡Nosotros lo buscamos por ti! Echa un vistazo a nuestro proceso de selección</p>
					<div class="text-blue-soy col-sm-offset-1 col-sm-10 margin-top-n5 font-bold font-size-16">
						Hacemos procesos de reclutamiento y preselección de candidatos a las mejores empresas
						
					</div>
				</div>
			</section>
		</center>
	</section>
	<section class="row padding-30" style="margin-right: inherit;">
		<div class="col-sm-4 col-xs-12">
			<div class="col-xs-8 text-center">
				<center>
					<div class="circle-step font-size-60">1</div>
				</center>
				<h3 class="text-blue-soy">
					Cuéntanos tu Perfil Ideal
				</h3>
				<p class="padding-5 font-size-16 text-center">
					¿Que estudios debe tener? <br>
					¿Que experiencia necesita? <br>
					¿Cuál es su perfil personal?
				</p>
			</div>
			<div class="col-xs-4">
				<img src="assets/images/img01.jpg" style="max-height: 10%" alt="">
			</div>
		</div>
		<div class="col-sm-4 col-xs-12">
			<div class="col-xs-8 text-center">
				<center>
					<div class="circle-step font-size-60">2</div>
				</center>
				<h3 class="text-blue-soy">
					Buscaremos
				</h3>
				<p class="padding-5 font-size-16 text-justify">
					Entre miles de hojas de vida las personas que mejor se ajustan a tu perfil ideal. Créeme, somos buenos en eso.
				</p>
			</div>
			<div class="col-xs-4">
				<img src="assets/images/img02.jpg" style="max-height: 10%" alt="">
			</div>
		</div>
		<div class="col-sm-4 col-xs-12">
			<div class="col-xs-8 text-center">
				<center>
					<div class="circle-step font-size-60">3</div>
				</center>
				<h3 class="text-blue-soy">
					Encontramos
				</h3>
				<p class="padding-5 font-size-16 text-justify">
					En menos de 24 horas estaremos en contacto contigo para presentarte los resultados de la búsqueda
				</p>
			</div>
			<div class="col-xs-4">
				<img src="assets/images/img03.jpg" style="max-height: 10%" alt="">
			</div>
		</div>
	</section>
	<center>
		<div class="margin-bottom-20">
			<button class="btn btn-lg bton-green padding-right-15 padding-left-15" ng-click="inf.goOff()">¡Continuar!</button>
		</div>
	</center>

</section>
	<!-- Seccion que se muestra cuando el usuario puede probar -->