<!-- <div class="container-fluid padding-0"> -->
<!-- ng-if="nbc.consultar();" -->
	<section id="headerwrap" class="margin-0 col-xs-12 padding-0 header-landComp">
		<div class="container-fluid padding-left-0 padding-right-0">
			<div class="padding-top-150 padding-bottom-150 col-xs-12 margin-0 text-center">
				<h1 class="font-open-sans font-white">
					<span class="font-light">
						Conoce el poder de un
					</span> <br>
					<strong>caza-talentos virtual</strong>
				</h1>
				<div class="col-xs-12 margin-top-30 text-center">
		    		<button ng-redirect="/empresa" class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30"> 	¡Crear <b>Oferta</b>!
			    	</button><!-- <br>
			    	<span class="font-light font-open-sans font-white">
						Regístra tu empresa y crea tu primera oferta gratis
					</span> -->
		    	</div>
			</div>
		</div>
	</section>
	<section id="somoshome">
    	<div class="container-fluid padding-left-0 padding-right-0">
	    	<!-- <div class="col-xs-12 text-center top--35">
				<span onClick="$.scrollTo('#somoshome',900)" class="unstyled font-green-soy font-size-45 border-radius-50 bg-white2 box-shadow-blue" style="padding: 5px 7px;">
					<i class="fa fa-chevron-down" aria-hidden="true"></i>
				</span>
			</div> -->
	    	<div class="container">
		    	<div class="col-xs-12 text-center margin-top-50">
					<span class="font-size-30 text-blue-soy font-open-sans">
						¿Qué es <strong>Caza-talentos virtual?</strong>
					</span>
		    	</div>
		    	<div class="col-xs-12 text-center margin-top-50 margin-bottom-30">
		    		<p class="font-open-sans font-color-717171">
		    			Un caza talentos es un profesional en recursos humanos, por lo general un psicólogo organizacional. Que te ayudará a escoger a los mejores candidatos para que trabajen en tu empresa. El va a analizar el proceso de reclutamiento, pre-selección y entrevista telefónica para seleccionar 4 finalistas, que cumplan el perfil y tengan la actitud que buscas. Para que al final tu entrevistes y escojas el mejor. <br>
		    			El éxito de una empresa depende de decisiones claves y la más importante es a quien eliges para ser parte de tu equipo. Pon tus procesos de selección en manos de un experto.
		    		</p>
		    	</div>

		    	<div class="col-xs-12 margin-top-30 margin-bottom-30 text-center">
		    		<button ng-redirect="/empresa" class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30"> 	¡Crear <strong>Oferta</strong>!
			    	</button>
		    	</div>
	    	</div>
    	</div>
    </section>
    <section id="somoshome">
    	<div class="container padding-left-0 padding-right-0">
	    	<div class="col-xs-12 text-center margin-top-50 margin-bottom-20" id="somoshome-title">
				<span class="font-size-30 text-blue-soy font-open-sans">
					Tipos de <b>Vacante</b>
				</span>
	    	</div>
			
			<div class="col-xs-12 col-sm-4 padding-0 margin-top-30 margin-bottom-30">
				<div class="pricing-box-blue-gradient-bg-to-top text-center padding-top-10 padding-bottom-10">
					<span class="font-bold font-open-sans font-white font-size-20">
						GRATIS
					</span>
				</div>
				<div class="text-center border-1-solid border-color-c5c5c5">
					<div class="pricing-arrow-down-white padding-0">
						<div class="tooltips-inner padding-10">
							<img src="assets/images/icon-pricing-box-basic.png" alt="" width="25%">
							<p class="font-color-707070 font-open-sans padding-10">
								Úsala para cargos operativos, cuando los más importante son las <strong>ganas de trabajar.</strong>
							</p>
						</div>
					</div>
					<div class="pricing-box-inner-bg-gray padding-top-50 padding-bottom-30">
						<div class="text-left padding-left-30 padding-right-30 font-open-sans font-color-707070 padding-bottom-40">
							<p>• Recibe <strong>postulados ilimitados por 30 días.</strong></p>
							<p>• Podrás ver los perfiles y datos de contacto de todos los postulados.</p>
							<p>• No hacemos búsqueda activa de candidatos.</p>
						</div>
						<div class="border-top-1px border-bottom-1px border-color-c5c5c5 padding-10 text-center margin-left-30 margin-right-30">
							<span class="font-open-sans font-bold font-size-30 text-blue-soy">
								$ 0
							</span>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-xs-12 col-sm-4 padding-0 margin-top-30">
				<div class="pricing-box-blue-gradient-bg-to-top text-center padding-top-10 padding-bottom-10">
					<span class="font-bold font-open-sans font-white font-size-20">
						BÁSICA
					</span>
				</div>
				<div class="text-center border-1-solid border-color-c5c5c5">
					<div class="pricing-arrow-down-white padding-0">
						<div class="tooltips-inner padding-10">
							<img src="assets/images/icon-pricing-box-premium.png" alt="" width="25%">
							<p class="font-color-707070 font-open-sans padding-10">
								Cuando buscas personas con estudios o <strong>experiencia especifica, esta es la mejor opción.</strong>
							</p>
						</div>
					</div>
					<div class="pricing-box-inner-bg-gray padding-top-50 padding-bottom-30">
						<div class="text-left padding-left-30 padding-right-30 font-open-sans font-color-707070 padding-bottom-20">
							<p>• El equipo de SoyEmpleo te va a remitir <strong>4 hojas de vida de candidatos acordes a tu perfil.</strong></p>
							<p>• No hay verificación telefónica de los candidatos.</p>
							<p>• No hacemos pre-entrevista</p>
							<p>• Demás beneficios de la vacante gratis</p>
						</div>
						<div class="border-top-1px border-bottom-1px border-color-c5c5c5 padding-10 text-center margin-left-30 margin-right-30">
							<span class="font-open-sans font-bold font-size-25 text-blue-soy">
								$ 50.000
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4 padding-0 princing-box-blue-gradient-bg-to-bottom">
				<div class="ribbon-gold"><span style="font-size:9px !important;">Recomendado</span></div>
				<div class=" text-center padding-top-20 padding-bottom-20">
					<span class="font-bold font-open-sans font-white font-size-20">
						PREMIUM
					</span>
				</div>
				<div class="text-center padding-bottom-5">
					<div class="margin-left-5 margin-right-5">
						<div class="pricing-arrow-down-gray padding-0">
							<div class="tooltips-inner padding-10">
								<img src="assets/images/icon-pricing-box-membership.png" alt="" width="28%">
								<p class="font-color-707070 font-open-sans padding-10">
									Contrata un <strong>caza-talentos virtual</strong>
								</p>
							</div>
						</div>
						<div class="pricing-box-inner-bg-white padding-top-50 padding-bottom-30">
							<div class="text-left padding-left-30 padding-right-30 font-open-sans font-color-707070 padding-bottom-5">
								<p>• Contrata un experto en selección.</p>
								<p>• Validación y pre-entrevista de los candidatos.</p>
								<p>• Informe y concepto profesional de cada uno de los aspirantes</p>
								<p>• <strong>Recibes candidatos listos para entrevista final y contratación.</strong></p>
								<p>• <strong>Publicación destacada.</strong></p>
							</div>
							<div class="border-top-1px border-bottom-1px border-color-c5c5c5 padding-5 text-center margin-left-30 margin-right-30">
								<span class="font-open-sans font-bold font-size-20 text-blue-soy">
									$149.000 <span class="font-size-18">ó el 15% del salario*</span>
								</span>
							</div>
							<div class="col-xs-12 text-center padding-top-10">
								<span class="font-open-sans font-bold font-size-10 text-blue-soy">
									*El cobro es de $149.000 pesos o el 15% del salario, el valor más alto.
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			

			<div class="col-xs-12 text-center padding-top-30 padding-bottom-50">
				<button ng-redirect="/empresa" class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30"> 	¡Crear <strong>Oferta</strong>!
		    	</button>
			</div>
    	</div>
    </section>

    <section id="sect-conect">
    	<div class="container-fluid padding-left-0 padding-right-0">
    		<div class="col-xs-12 padding-0 margin-0 sect-membership">
				<div class="col-sm-6 col-xs-12 margin-bottom-52 margin-top-92 text-shadow-light">
					<span class="font-pt-sans font-white font-size-50 font-italic">
						<span class="font-light">
							"El 80% de las vacantes Premium
						</span>
						<strong>terminan en contrataciones exitosas.</strong>"
					</span><br>
					<button ng-redirect="/empresa"class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30"> 	¡Suscribirse <strong>Ahora</strong>!
			    	</button>
				</div>
			</div>
    	</div>
    </section>
    
    <section id="section-companies" class="text-center padding-top-30 padding-right-10 padding-left-10 padding-bottom-30">
    	<div class="container">
			<h1 class="text-blue-soy font-size-30 margin-bottom-40">Estas empresas ya usan <strong>SoyEmpleo</strong></h1>
			<div class="col-md-5ths col-xs-12">
				<img ng-src="assets/images/empresa_1.png" alt="" width="75%">
            </div>
            <div class="col-md-5ths col-xs-12">
				<img ng-src="assets/images/empresa_2.png" alt="" width="75%">
            </div>
            <div class="col-md-5ths col-xs-12">
				<img ng-src="assets/images/empresa_4.png" alt="" width="75%">
            </div>
            <div class="col-md-5ths col-xs-12">
				<img ng-src="assets/images/empresa_6.png" alt="" width="75%">
            </div>
            <div class="col-md-5ths col-xs-12">
				<img ng-src="assets/images/empresa_7.png" alt="" width="75%">
            </div>

            <div class="col-xs-12 margin-top-40 margin-bottom-40 text-center">
            	<h1 class="text-blue-soy font-size-30 margin-bottom-40">¿Qué esperas para <strong>registrar tu empresa</strong>?</h1>
            	<div class="col-xs-12 text-center">
					<button ng-redirect="/empresa" class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30"> 	¡Registrar <strong> Empresa</strong>!
			    	</button>
	            </div>
            </div>
		</div>
    </section>
	
	<section id="section-blog" class="text-center margin-0 padding-20" style="border-top: 1px solid #eaeaea;">
    	<div class="container">
    		<div class="col-xs-12">
    			<img src="assets/images/Footer_SPE.jpg" alt="Servicio Público de Empleo" class="img-responsive center-block">
    		</div>
    		<div class="col-xs-12">
    			<small>
	    			<p>
	    				SoyEmpleo es una agencia de empleo vinculada a la red de prestadores del Servicio Público de Empleo. Autorizado por la Unidad Administrativa Especial del Servicio Público de Empleo según resolución No. 384 de Abril de 2016.
	    			</p>
	    		</small>
    		</div>
    	</div>
    </section>
<!-- </div> -->
