<div ng-controller="loginController2 as lg">
    
    <section id="headerwrap" 
        class="section section-gris margin-0 text-center header-home" 
        style="background-color: #fff;padding-bottom:50px;">
        
        <div class="col-xs-12 text-center padding-top-50">
            <span>
                <h1 class="font-white">
                    <span class="font-light">Bienvenidos a</span> <strong>SoyEmpleo</strong>
                </h1>
            </span>
        </div>

        <div class="container">
            <section class="section-blanca-somos padding-10 box-shadow-gray2" 
                style="margin-top: 200px; padding-top: 60px; padding-bottom:60px;">
                <div class="row">
                    
                    <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1 registro padding-20 div-line-right-c5c5c5">
                        <div class="col-xs-12 text-center margin-bottom-20">
                            <div class="col-xs-12">
                                <p class="text-center font-light font-open-sans font-color-707070">
                                    Ingresa tu usuario y contraseña para iniciar sesión
                                </p>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8  text-center margin-top-20 txt-black">
                                <form class="form-registro" name="formLogin" role="form" novalidate>
                                    <input type="email" 
                                        placeholder="Correo electrónico" 
                                        class="inputx2 margin-5" 
                                        ng-model="email" 
                                        maxlength="50"
                                        name="email" 
                                        required 
                                        data-ng-class='{ error: formLogin.email.$error.email, success: !formLogin.email.$invalid && formLogin.email.$dirty}'
                                        uib-popover="{{(formLogin.email.$touched && formLogin.email.$error.required) || formLogin.email.$error.email ? 'Email invalido' : ''}}" 
                                        popover-trigger="focus"
                                        style='margin-bottom:15px !important;'/>

                                    <input type="password" 
                                        placeholder="Contraseña" 
                                        class="inputx2 margin-5"
                                        name="password"
                                        ng-model="password" 
                                        minlength="6" 
                                        maxlength="25" 
                                        data-ng-class='{ error: formLogin.password.$invalid && formLogin.password.$dirty, success: !formLogin.password.$invalid && formLogin.password.$dirty}' 
                                        required 
                                        uib-popover="{{formLogin.password.$touched && formLogin.password.$error ? 'Valor es requerido' : ''}}"
                                        popover-placement="bottom" 
                                        popover-trigger="focus"
                                        style='margin-bottom:15px !important;'/>

                                    <a href="#/olvido" >¿Olvidó contraseña?</a>

                                    <div class="text-center margin-top-15">
                                        <button class="btn btn-lg bton-green padding-right-15 padding-left-15"
                                            ng-disabled="!formLogin.$valid || lg.isRefresing"
                                            ng-click="lg.iniciarSesion(email,password)">¡Iniciar Sesión!
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-xs-10 col-xs-offset-1 div-line-down-c5c5c5"></div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-5 col-md-outset-1 registro padding-20">
                        <div class="col-xs-12 text-center margin-bottom-20">
                            <div class="col-xs-12">
                                <p class="text-center font-light font-open-sans font-color-707070">
                                    Inicia sesión en SoyEmpleo.com con un solo click
                                </p>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 text-center text-black">
                                <a class="btn padding-5 btn-primary col-xs-12 font-size-20 font-light font-open-sans margin-top-20"
                                   href="https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=77i3mq16pn3izc&scope=r_basicprofile+r_emailaddress&state=57743c851c26d5.25098013&redirect_uri=https://api.soyempleo.com/linkedin/userdata/"
                                   style="background-color: #347ab8">
                                    <i
                                            class="fa fa-linkedin-square col-xs-1 margin-top-3" aria-hidden="true">
                                    </i>
                                    <span class="col-xs-10">Entrar con LinkedIn</span>
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1  padding-top-40 padding-bottom-30">
                                <p class="text-left font-light font-open-sans font-color-707070">
                                    Sí no tienes usuario persona haz click en <a href="#/persona" >Registro persona</a>
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-12 col-md-10 col-md-offset-1">
                                <p class="text-left font-light font-open-sans font-color-707070">
                                    Sí no tienes usuario empresa haz click en <a href="#/empresa" >Registro empresa</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
               
            </section>
        </div>
    </section>

    <section id="section-blog" class="text-center margin-0 padding-20" style="border-top: 1px solid #eaeaea;">
        <div class="container">
            <div class="col-xs-12">
                <img src="assets/images/Footer_SPE.jpg" alt="Servicio Público de Empleo" class="img-responsive center-block">
            </div>
            <div class="col-xs-12">
                <small>
                    <p>
                        SoyEmpleo es una agencia de empleo vinculada a la red de prestadores del Servicio Público de Empleo. Autorizado por la Unidad Administrativa Especial del Servicio Público de Empleo según resolución No. 384 de Abril de 2016.
                    </p>
                </small>
            </div>
        </div>
    </section>
</div>
