<!-- <div class="container-fluid padding-0"> -->
<!-- ng-if="nbc.consultar();" -->
<div class="container-fluid padding-0" ng-controller="navbarCompanyController as nbc">
	<section id="headerwrap" class="margin-0 col-xs-12 padding-0 header-membership">
		<div class="container-fluid padding-left-0 padding-right-0">
			<div class="col-xs-12 margin-0 padding-0 text-center padding-bottom-20">
				<h1 class="padding-top-150 font-open-sans font-white">
					<span class="font-light">
						"Somos el departamento de selección
					</span> <br>
					<strong>de pequeñas y medianas empresas</strong>"
				</h1>
				<div class="col-xs-12 text-center padding-bottom-150">
					<button ng-click="nbc.openModal($event,'dialog65');" 
						class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30 "> 	¡Suscribirse <strong>Ahora</strong>!
				    </button>
				</div>
			</div>
		</div>
	</section>
    <section id="somoshome">
    	<div class="container-fluid padding-left-0 padding-right-0">
	    	<div class="container">
		    	<div class="col-xs-12 text-center margin-top-50">
					<span class="font-size-30 font-green-soy font-open-sans">
						¿Cómo funciona <strong>la Membresia?</strong>
					</span>
		    	</div>

		    	<div class="col-xs-12 col-sm-4 text-center">
		    		<span class="margin-bottom-20">
						<img src="assets/images/icon-1-membership.png" alt="" width="30%" class="margin-20">
					</span>
					<p>
						Publica vacantes de empleo ilimitadas y recibe <strong>candidatos ilimitados</strong>
					</p>
		    	</div>
		    	<div class="col-xs-12 col-sm-4 text-center">
		    		<span class="margin-bottom-20">
						<img src="assets/images/icon-2-membership.png" alt="" width="30%" class="margin-20">
					</span>
					<p>
						Crea una <strong>vacante premium al mes</strong>, utilízala para cargos importantes de tu empresa.
					</p>
		    	</div>
		    	<div class="col-xs-12 col-sm-4 text-center">
		    		<span class="margin-bottom-20">
						<img src="assets/images/icon-3-membership.png" alt="" width="30%" class="margin-20">
					</span>
					<p>
						<strong>Acompañamiento de expertos </strong> en todos tus procesos de selección.
					</p>
		    	</div>
		    	<div class="col-xs-12 margin-top-30 text-center">
		    		<p class="font-bold font-open-sans font-size-18 font-green-soy">
		    			$200.000 + iva / mes
		    		</p>
		    	</div>
		    	<div class="col-xs-12 margin-bottom-30 text-center">
		    		<button ng-click="nbc.openModal($event,'dialog65');" class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30"> 	Comprar <strong>Membresia</strong>
			    	</button>
		    	</div>
		    	
	    	</div>
    	</div>
    </section>

    <section id="sect-conect">
    	<div class="container-fluid padding-left-0 padding-right-0">
    		<div class="col-xs-12 padding-0 margin-0 sect-membership">
				<div class="col-sm-6 col-xs-12 margin-bottom-52 margin-top-92 text-shadow-light">
					<span class="font-pt-sans font-white font-size-40 font-italic">
						<span class="font-light">
							"Me encanta el servicio de membresia, es un 
						</span>
						<strong>gran apoyo para mis procesos de selección</strong>"
					</span><br>
					<button ng-click="nbc.openModal($event,'dialog65');" class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30"> 	¡Suscribirse <strong>Ahora</strong>!
			    	</button>
				</div>
			</div>
    	</div>
    </section>
    
    <section id="section-companies" class="text-center padding-top-30 padding-right-10 padding-left-10 padding-bottom-30">
    	<div class="container">
			<h1 class="text-blue-soy font-size-30 margin-bottom-40">Estas empresas ya usan <strong>SoyEmpleo</strong></h1>
			<div class="col-md-5ths col-xs-12">
				<img ng-src="assets/images/empresa_1.png" alt="" width="75%">
            </div>
            <div class="col-md-5ths col-xs-12">
				<img ng-src="assets/images/empresa_2.png" alt="" width="75%">
            </div>
            <div class="col-md-5ths col-xs-12">
				<img ng-src="assets/images/empresa_4.png" alt="" width="75%">
            </div>
            <div class="col-md-5ths col-xs-12">
				<img ng-src="assets/images/empresa_6.png" alt="" width="75%">
            </div>
            <div class="col-md-5ths col-xs-12">
				<img ng-src="assets/images/empresa_7.png" alt="" width="75%">
            </div>

            <div class="col-xs-12 margin-top-40 margin-bottom-40 text-center">
            	<h1 class="text-blue-soy font-size-30 margin-bottom-40">¿Qué esperas para <strong>Suscribibirte</strong>?</h1>
            	<div class="col-xs-12 text-center">
					<button ng-click="nbc.openModal($event,'dialog65');" class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30"> 	¡Comprar <strong> Membresia ahora</strong>!
			    	</button>
	            </div>
            </div>
		</div>
    </section>
	
	<section id="section-blog" class="text-center margin-0 padding-20" style="border-top: 1px solid #eaeaea;">
    	<div class="container">
    		<div class="col-xs-12">
    			<img src="assets/images/Footer_SPE.jpg" alt="Servicio Público de Empleo" class="img-responsive center-block">
    		</div>
    		<div class="col-xs-12">
    			<small>
	    			<p>
	    				SoyEmpleo es una agencia de empleo vinculada a la red de prestadores del Servicio Público de Empleo. Autorizado por la Unidad Administrativa Especial del Servicio Público de Empleo según resolución No. 384 de Abril de 2016.
	    			</p>
	    		</small>
    		</div>
    	</div>
    </section>
    <div ng-include="'public/app/sections/payingDiag.html'"></div>
</div>
<!-- </div> -->
