<div style="padding-bottom: 50px;" ng-controller="nuevaOfertaController as noc">
    <form class="form-registro" name="formDatos" role="form" novalidate autocomplete="off">
        <section id="section-editardatos" class=" section-gris text-center" ng-cloak>
            <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
                <h1>¡Bienvenido! Te ayudaremos a crear una nueva oferta laboral</h1>
            </div>
            <div>
                <div class="container text-center">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-20">
                        <p class="padding-left-20 padding-right-20">Crear una oferta laboral con nosotros es muy fácil, para empezar cuéntanos un poco más sobre la oferta</p>                         
                        <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center margin-bottom-20">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-left-0">
                                <angucomplete 
                                id="ex3" 
                                ng-enter="noc.posicionSelected($('#ex3_value').val())"
                                placeholder="Agregar el título de la oferta" 
                                pause="100"
                                selectedobject="noc.titulo" 
                                localdata="noc.posiciones" 
                                name="titulo" 
                                searchfields="name" 
                                titlefield="name" 
                                minlength="1" 
                                maxlength="100" 
                                inputclass="input margin-5" 
                                required
                                ng-keyup="noc.basicSectionValid('1');"
                                popover-trigger="focus" 
                                data-ng-class='{ error: formDatos.titulo.$invalid && formDatos.titulo.$dirty,
                                success: formDatos.titulo.$valid && formDatos.titulo.$dirty}' 
                                uib-popover="{{formDatos.titulo.$touched && formDatos.titulo.$error.required ?
                                'Valor es requerido' : ''}}"
                                class='font-capitalize'/>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-left-0">
                                <div class="select margin-5" style="width: 100% !important;">
                                    <select 
                                        name="area" 
                                        class="select-style hidden-xs" 
                                        required 
                                        ng-model="noc.area" 
                                        ng-class='{error: formDatos.area.$invalid && formDatos.area.$touched, success: formDatos.area.$valid && formDatos.area.$touched}' 
                                        ng-change="noc.basicSectionValid('2')">
                                        <option value="" selected>Área de la oferta</option>
                                        <option ng-repeat="l in noc.listaAreas" value="{{l.description}}">{{l.description}}</option>
                                    </select>

                                    <md-select 
                                        ng-model="noc.area" 
                                        placeholder="Área" 
                                        class="md-no-underline visible-xs" 
                                        ng-change="noc.basicSectionValid('2')"
                                        style="border: 1px solid #ccc; border-radius: 4px;">
                                        <md-option 
                                            ng-repeat="l in noc.listaAreas" 
                                            value="{{l.description}}">
                                            {{l.description}}
                                        </md-option>
                                    </md-select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 padding-left-0">
                                <div class="select margin-5" style="width: 100% !important;">
                                    <select 
                                        name="departamento" 
                                        class="select-style hidden-xs" 
                                        required 
                                        ng-model="noc.departamento" 
                                        ng-class='{error: formDatos.departamento.$invalid && formDatos.departamento.$touched, success: formDatos.departamento.$valid && formDatos.departamento.$touched}' 
                                        ng-change="noc.depaSelected(noc.departamento);noc.basicSectionValid('2')">
                                        <option value="" selected>Departamento</option>
                                        <option ng-repeat="depa in noc.departmentList" value="{{depa._id}}">{{depa.name}}</option>
                                    </select>

                                    <md-select 
                                        ng-model="noc.departamento" 
                                        placeholder="Departamento" 
                                        class="md-no-underline visible-xs" 
                                        style="border: 1px solid #ccc; border-radius: 4px;"
                                        ng-change="noc.depaSelected(noc.departamento);noc.basicSectionValid('2')">
                                        <md-option 
                                            ng-repeat="depa in noc.departmentList" 
                                            value="{{depa._id}}">
                                            {{depa.name}}
                                        </md-option>
                                    </md-select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 padding-right-sm-0 padding-left-xs-0">
                                <div class="select margin-5" style="width: 100% !important;">
                                    <select 
                                        name="ciudad" 
                                        class="hidden-xs" 
                                        required 
                                        ng-model="noc.ciudad" 
                                        ng-class="{error: formDatos.ciudad.$invalid && formDatos.ciudad.$touched, success: formDatos.ciudad.$valid && formDatos.ciudad.$touched, 'select-style-red': !departamentoAjax && !noc.departamento, 'select-style': !departamentoAjax && noc.departamento, 'select-style-red-loading':departamentoAjax}" 
                                        ng-change="noc.basicSectionValid('2')">
                                        <option value="" selected ng-if='noc.departamento && !departamentoAjax'>Ciudad</option> 
                                        <option value="" selected ng-if='!noc.departamento && !departamentoAjax'>No has Seleccionado departamento</option> 
                                        <option value="" selected ng-if='departamentoAjax'>Cargando</option> 
                                        <option ng-repeat="l in noc.cityList" value="{{l.name}}">{{l.name}}</option>
                                    </select> 

                                    <md-select 
                                        ng-model="noc.ciudad" 
                                        placeholder="Ciudad" 
                                        class="md-no-underline visible-xs"
                                        ng-change="noc.basicSectionValid('2')" 
                                        style="border: 1px solid #ccc; border-radius: 4px;">
                                        <md-option value="" 
                                            ng-if='!noc.departamento && !departamentoAjax'>
                                            No haz Seleccionado departamento
                                        </md-option> 
                                        <md-option value=""
                                            ng-if='departamentoAjax'>
                                            Cargando
                                        </md-option>
                                        <md-option 
                                            ng-repeat="l in noc.cityList" 
                                            value="{{l.name}}">
                                            {{l.name}}
                                        </md-option>
                                    </md-select>
                                </div> 
                            </div>
                        </div>
                        <div class="col-xs-12 margin-top-20 text-center">
                            <button id="goButton" class="btn btn-lg bton-green padding-right-15 padding-left-15"  ng-click="noc.basicValido();" ng-disabled="!noc.titulo.originalObject.display || formDatos.titulo.$invalid || formDatos.area.$invalid || formDatos.departamento.$invalid || formDatos.ciudad.$invalid">¡Empecemos!</button>
                        </div>                       
                    </div>
                </div>
            </div>
        </section>

        <div id="div_details" name="div_details" ng-include="'public/app/sections/nuevaOfertaDetails.html'"></div>
    </form>
    <div ng-include="'public/app/sections/payingDiag2.html'"></div>
</div>
