<div ng-controller="ofertaInController as ofi">
    <div ng-include="'public/app/sections/modalSesion.html'"></div>
    <section id="section-hd-oferta" class="section margin-0 text-center">
        <!-- <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
            <h1>{{ofi.o.job_title}} ({{ofi.o.city}}) - {{ofi.o.company.name | uppercase}} </h1>ofi.o.company.description
        </div> -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 padding-top-50 padding-bottom-100">
                    <div class="col-xs-12 text-center">
                            <div class="col-xs-2 col-xs-offset-5">
                                <img src="{{ofi.o.company.logo}}" class="img-circle img-responsive margin-5 mouse-pointer"
                                ng-click="ofi.irPerfil()"
                                width="100%" height=""/>
                            </div>
                    </div>
                    <div class="col-xs-12 text-center">
                        <p class="padding-top-15 margin-0 padding-left-10 font-weight-900 mouse-pointer" ng-click="ofi.irPerfil()">
                            {{ofi.o.company.name | uppercase}}</p>
                        <p class="padding-bottom-15 padding-left-10 raleway font-size-115">
                            Solicita en {{ofi.o.city | capitalize:true}}...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-blanco margin-0 text-center">
        <div class="container">
            <div class="col-xs-12 box-shadow-gray bw-ffffff top--50 padding-0">
                <div class="col-xs-12">
                    <div class="col-xs-10 col-xs-offset-1 padding-tb-30">
                        <h2 class="text-blue-soy"><span class="font-weight-700">{{ofi.o.job_title | capitalize}}</span></h2>
                        <h3 class="margin-top-0 text-blue-soy"><span class="raleway">{{ofi.o.area | uppercase}}</span></h3>
                    </div>
                </div>
                <div class="col-xs-12 section-gris padding-15">
                    <div class="col-xs-12 col-sm-8 text-left padding-0">
                        <div class="col-xs-4 border-right">
                            <div class="col-xs-12 font-color-949494 font-weight-700">
                                <span>
                                    TIPO CONTRATO
                                </span>
                            </div>
                            <div class="col-xs-12 font-color-949494">
                                <span>
                                    {{ofi.o.type_contract}}
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-3 border-right">
                            <div class="col-xs-12 font-color-949494 font-weight-700">
                                <span>
                                    NIVEL
                                </span>
                            </div>
                            <div class="col-xs-12 font-color-949494">
                                <span>
                                    {{ofi.o.required_level}}
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="col-xs-12 font-color-949494 font-weight-700">
                                <span>
                                    FECHA LÍMITE
                                </span>
                            </div>
                            <div class="col-xs-12 font-color-949494">
                                <span>
                                    {{ofi.o.limit_date.date | date:'dd/MM/yyyy'}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-12 section-blanco">
                    <div class="col-xs-12 {{ofi.colsm8}} text-left padding-0">
                        <div class="col-xs-12 font-weight-700 text-blue-soy text-center">
                            <span>
                                DESCRIPCIÓN
                            </span>
                        </div>
                        <div class="col-xs-12 font-color-949494 border-bottom2 padding-bottom-10 padding-top-10">
                            <span>
                                {{ofi.o.job_description}}
                            </span>
                        </div>
                        <div class="col-xs-12 font-weight-700 text-blue-soy padding-top-10 text-center">
                            <span>
                                FUNCIONES
                            </span>
                        </div>
                        <div class="col-xs-12 font-color-949494 border-bottom2 padding-bottom-10 padding-top-10">
                            <ul class="padding-left-0" style="width:100% !important">
                                <li ng-repeat="i in ofi.o.functions" class="text-gray-dark font-size-14 padding-bottom-10" style="text-align: justify;">{{i | capitalize:true}}</li>
                            </ul>
                        </div>
                        <div class="col-xs-12 font-weight-700 text-blue-soy padding-top-10 text-center">
                            <span>
                                OPCIONES DE CARRERA
                            </span>
                        </div>
                        <div class="col-xs-12 font-color-949494 border-bottom2 padding-bottom-10 padding-top-10">
                            <ul class="padding-left-0" style="width:100% !important">
                                <li ng-repeat="i in ofi.o.carrers" class="text-gray-dark font-size-14 padding-bottom-10" style="text-align: justify;">{{i | capitalize:true}}</li>
                            </ul>
                        </div>
                        <div class="col-xs-12 font-weight-700 text-blue-soy padding-top-10 text-center" ng-show="ofi.o.softwares.length>0">
                            <span>
                                SOFTWARES
                            </span>
                        </div>
                        <div class="col-xs-12 font-color-949494 border-bottom2 padding-bottom-10 padding-top-10" ng-show="ofi.o.softwares.length>0">
                            <ul class="padding-left-0" style="width:100% !important">
                                <li ng-repeat="i in ofi.o.softwares">
                                    
                                        {{i.name | capitalize}}
                                    
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 font-weight-700 text-blue-soy padding-top-10 text-center" ng-show="ofi.o.languages[0].language.length>0">
                            <span>
                                IDIOMAS
                            </span>
                        </div>
                        <div class="col-xs-12 font-color-949494 border-bottom2 padding-bottom-10 padding-top-10" ng-show="ofi.o.languages[0].language.length>0">
                            <div class="col-xs-12 col-sm-2 text-center padding-bottom-10" ng-repeat="i in ofi.o.languages[0].language">
                                <div class="col-xs-12 text-gray-dark font-size-14">
                                    {{i.nombre | capitalize}}
                                </div>
                                <div class="col-xs-12 text-blue-soy">
                                    <span class="raleway">
                                        {{i.nivel | capitalize}}
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 font-weight-700 text-blue-soy padding-top-10 text-center">
                            <span>
                                RANGO DE EXPERIENCIA REQUERIDA
                            </span>
                        </div>
                        <div class="col-xs-12 font-color-949494 border-bottom2 padding-bottom-10 padding-top-10 text-center"
                            ng-show="ofi.o.min_experience=='' || ofi.o.min_experience==null">
                            <span>
                                No Requerida
                            </span>
                        </div>
                        <div class="col-xs-12 font-color-949494 border-bottom2 padding-bottom-10 padding-top-10 text-center" 
                            ng-show="ofi.o.min_experience=='0' && ofi.o.max_experience=='0'">
                            <span>
                                No Requerida
                            </span>
                        </div>
                        <div class="col-xs-12 font-color-949494 border-bottom2 padding-bottom-10 padding-top-10 text-center" 
                            ng-show="ofi.o.max_experience!='0' && ofi.o.max_experience!=null && ofi.o.max_experience!='' && ofi.o.min_experience!='' && ofi.o.min_experience!=null">
                            <span>
                                De {{ofi.o.min_experience}} a {{ofi.o.max_experience}} años
                            </span>
                        </div>
                        <div class="col-xs-12 font-color-949494 border-bottom2 padding-bottom-10 padding-top-10 text-center" 
                            ng-show="ofi.o.min_experience!='' && ofi.o.min_experience!='0' && ofi.o.min_experience!=null && ofi.o.max_experience==''">
                            <span>
                                Mínima: {{ofi.o.mni_experience}} años
                            </span>
                        </div>
                        <div class="col-xs-12 font-weight-700 text-blue-soy padding-top-10 text-center">
                            <span>
                                SALARIO
                            </span>
                        </div>
                        <div class="col-xs-12 font-color-949494 padding-bottom-10 padding-top-10 text-center">
                            <span ng-show="ofi.o.show_salary=='Si'">
                                $ {{ofi.o.total}}
                            </span>
                            <span ng-show="ofi.o.show_salary!='Si'">
                                A convenir
                            </span>
                        </div>
                        <div class="text-center margin-top-30 col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="isLoged">
                            <button class="btn btn-lg bton-green" ng-if="!ofi.o.finish"
                                    ng-click="nbc.applyForJob(ofi.o.job_title,ofi.o.company.name, ofi.o._id)">Enviar mi Hoja de
                                Vida
                            </button>
                        </div>
                        <div class="text-center margin-top-30 col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="!isLoged">
                            <button class="btn btn-lg bton-green"  ng-if="!ofi.o.finish"
                                ng-click="ofi.openModal($event,'dialog55');">
                                Enviar mi Hoja de Vida
                            </button>                            
                        </div>
                        <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="ofi.o.finish">
                            <p class="padding-top-15 margin-0 padding-left-10 font-weight-900 text-danger">
                                Esta vacante ha finalizado el {{ofi.o.limit_date.date | date:'dd/MM/yyyy'}}
                            </p>
                        </div>

                        <div class="col-xs-8 col-xs-offset-2 margin-top-20">
                            <div class="compartir text-center">
                                <ul class="list-inline">
                                    <li class="margin-10 bg-faceb padding-8 border-radius width-35 height-35">
                                        <a target="_blank" 
                                        href="javascript:myPopup('https://www.facebook.com/sharer/sharer.php?u=https://soyempleo.com')" class="font-white">
                                            <i class="fa fa-facebook fa-lg"></i>
                                        </a>
                                    </li>
                                    <li class="margin-10 bg-twitt padding-8 border-radius width-35 height-35">
                                        <a target="_blank" 
                                        href="javascript:myPopup('https://twitter.com/intent/tweet?text=Excelentes Oportunidades de empleo en https://soyempleo.com')" class="font-white">
                                            <i class="fa fa-twitter fa-lg"></i>
                                        </a>
                                    </li>
                                    <li class="margin-10 bg-googlpls padding-8 border-radius width-35 height-35">
                                        <a href="javascript:myPopup('https://plus.google.com/share?url=https://soyempleo.com')" class="font-white">
                                            <i class="fa fa-google-plus fa-lg"></i>
                                        </a>
                                    </li>
                                    <li class="margin-10 bg-linkd padding-8 border-radius width-35 height-35">
                                        <a href="javascript:myPopup('http://www.linkedin.com/shareArticle?url=https://soyempleo.com')" class="font-white">
                                            <i class="fa fa-linkedin fa-lg"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="text-center padding-bottom-20">
                                <span class="font-weight-900">
                                    COMPARTENOS EN TUS REDES
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 text-center padding-0 bg-white2" ng-show="!isLoged">
                        <div class="col-xs-2 col-xs-outset-10 top--95 padding-0 z-index-1">
                            <img src="assets/images/percent-25.png" alt="">
                        </div>
                        <div class="col-xs-12 bg-azul margin-10 top--180">

                            <div class="col-xs-12 font-white text-center padding-bottom-10">
                                <p class="padding-top-15 margin-0 font-weight-700 font-size-115">
                                ¿No tienes usuario aún?</p>
                                <p class="margin-0 font-weight-700 font-size-115">
                                Qué esperas, regístrate ya</p>
                            </div>
                            <!-- <div class="col-xs-12 font-white text-justify padding-bottom-10">
                                <span class="raleway font-size-12">
                                    ...Regsítrate ya
                                </span>
                            </div> -->
                            <div class="col-xs-12 text-center">
                                <div class="col-xs-8 col-xs-offset-2 text-center padding-bottom-20">
                                    <a href="#/persona"
                               class="btn btn-sm bton-green" onClick="$.scrollTo('html, body',900)">Empecemos</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 padding-0 text-center {{ofi.colsm4}}">
                            <p class="padding-top-15 margin-0 padding-left-10 font-weight-900 mouse-pointer" ng-click="ofi.irPerfil()">
                                Conoce más de:</p>
                            <p class="padding-bottom-15 padding-left-10 raleway font-size-115 mouse-pointer text-blue-soy" ng-click="ofi.irPerfil()">
                                {{ofi.o.company.name | uppercase}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
<!--
function myPopup(url) {
window.open( url, "myWindow", "status = 1, height = 500, width = 560, resizable = 0" )
}
//-->
//
//
</script>