<div ng-controller="olvidoController as oc">
    <section id="section-buscar-int" class="text-center padding-15">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form class="form-inline" name="formBuscar" role="form" novalidate>
                        <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 margin-right-5 text-center input-group input-group-sm pull-left">
                            <span class="input-group-addon" id="basic-addon3"><i class="fa fa-search fa-lg"></i></span>
                            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                                   placeholder="¿Qué empleo buscas?">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 padding-0">
                            <div class="styled-select">
                                <select>
                                    <option>Categoria</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 padding-0 text-center">
                            <button class="btn btn-lg bton-green padding-bottom-5 padding-top-5 padding-left-15 padding-right-15">
                                Buscar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section id="section-laboral" class="section margin-0 text-center padding-bottom-40">
        <div class="header-section2 col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
            <h1>Recuperar Contraseña</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 registro padding-20">
                    <h4>Ingresa tu correo electrónico para recuperar la contraseña.</h4>

                    <div class="col-lg-offset-3 col-sm-offset-3 col-lg-6 col-md-6 col-sm-8 col-xs-12">
                        <form class="form-registro" name="formOlvido" role="form" novalidate>
                            <input type="email" placeholder="Correo electrónico" class="inputx2 margin-5"
                                   ng-model="email" minlength="4"
                                   name="email" required data-ng-class='{ error: formOlvido.email.$invalid && formOlvido.email.$dirty,
                                success: formOlvido.email.$dirty && formOlvido.email.$valid}'
                                   uib-popover="{{(formOlvido.email.$touched && formOlvido.email.$error.required) ||
                                       formOlvido.email.$error.email ? 'Email invalido' : ''}}"
                                   popover-trigger="focus" maxlength="50" />

                            <div class="text-center margin-5">
                                <button class="btn btn-lg bton-green padding-right-15 padding-left-15"
                                        ng-disabled="!formOlvido.$valid" ng-click="oc.consultarCorreo(email)">Recuperar Contraseña
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>