<style>
    @media screen and (max-width: 765px) {
        .margin-topx-20 {
            margin-top: 20px;
        }
    }
</style>
<script>
    $(document).ready(function () {
        $.scrollTo('html, body', 900)
    });
</script>
<div ng-controller="navbarCompanyController as nbc">
    <section id="section-info" class="section section-gris">
        <div class="header-section text-center">
            <h1>{{nbc.companyBasicData.company_basicdata.name | uppercase}} </ </h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-1 col-lg-11 col-sm-11 col-xs-12">
                    <div class="col-lg-3 col-sm-3 col-xs-12 foto">
                        <div class="hovereffect">
                            <img src="{{userAvatar}}" class="img-responsive img-circle" width="164.578" height="164.578"
                                 style="width:164.578px;height:164.578px;">

                            <div class="overlay img-circle img-responsive"
                                 width="164.500"
                                 height="164.578"
                                 style="width:164.500px;height:164.500px;">
                                <a class="info"
                                   href=""
                                   data-toggle="modal"
                                   data-target=".bs-example-modal-sm"
                                   ng-click="nbc.openModal($event,'dialog1');">
                                    <i class="fa fa-cogs font-size-100"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs-12 informacion padding-20">
                        <p>
                            <span ng-class="nbc.companyBasicData.company_basicdata.description=='' || nbc.companyBasicData.company_basicdata.description==undefined ? 'displayNone':'displayBlock'">{{nbc.companyBasicData.company_basicdata.description}}</span>
                            <br ng-class="nbc.companyBasicData.company_basicdata.description=='' || nbc.companyBasicData.company_basicdata.description==undefined ? 'displayNone':'displayBlock'">

                            <span ng-class="nbc.companyBasicData.company_basicdata.description=='' || nbc.companyBasicData.company_basicdata.description==undefined ? ' displayBlock':'displayNone'">Te invitamos a completar los datos de tu empresa</span>
                        </p>
                        <a class="btn btn-lg button bton-green col-xs-12 col-sm-8 col-sm-outset-4 col-md-8 col-md-outset-4"
                           ng-click="nbc.goProfile();">Actualizar datos</a>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-12" style="padding-top: 25px;">
                        <p class="porciento col-xs-12" style="margin-top: 20px;">PERFIL COMPLETO</p>

                        <div class="row padding-top-20">
                            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                                <div class="progress vertical-bar">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                         style="width:{{nbc.percent}}%;">
                                        <span><img src="assets/images/logo-soyempleo-percent.png" alt=""
                                                   class="img-responsive miImagen"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="porciento col-xs-12" style="margin-top: 0;"><span
                                class="porcentaje">{{nbc.percent}}%</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-sugerencias" class="section section-gris">
        <div class="header-section text-center">
            <h1>MIS OFERTAS</h1>
        </div>
        <div class="container-fluid">
            <div class="row"
                 ng-repeat="item in nbc.items | startFrom:(nbc.currentPage-1)*nbc.entryLimit | limitTo:nbc.entryLimit"
                 ng-class="($index % 2 == 0) ? 'color-par':'color-impar'">
                <div class="col-xs-10 col-sm-9 col-xs-offset-2 col-sm-offset-2"
                     style="text-align: justify; text-justify: inter-word;">

                    <div class="col-sm-5 celda-off">
                        <strong>
                            <h2 class="ellipsis margin-top-n4">{{item.job_title}}</h2>
                        </strong>

                        <div class="font-size-18">
                            {{item.department}} | {{item.city}}
                        </div>
                    </div>
                    <div class="col-sm-4 separador celda-off">
                        <div class="col-xs-12 text-center">
                            <strong class="font-size-16 margin-top-n3">
                                Cantidad de postulados
                            </strong>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-6 num-postu margin-top-n7">
                                08
                            </div>
                            <div class="col-xs-6">
                                <button class="btn bton-green margin-top-8">
                                    Más detalles
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 celda-off separador">
                        <div class="col-xs-12 text-center">
                            <strong class="margin-top-n1">
                                Finalizar oferta
                            </strong>
                        </div>
                        <div class="col-xs-12 margin-top-7">
                            <center>
                                <div class="check-design">
                                    <input type="checkbox" id="check1" checked>
                                    <span id="hola"></span>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-1 celda-off">
                        <div class="font-size-28 text-success">
                            <i class="fa fa-pencil-square-o mouse-pointer" aria-hidden="true"
                               ng-click="nbc.irEdicion(item._id)"></i>
                        </div>
                        <div class="font-size-28 text-danger">
                            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="nbc.resp>0" class="row text-center"
                 style="border-top: 1px solid #D8D8D8;background-color: #fff;">
                 <ul uib-pagination 
                    total-items="nbc.totalItems" 
                    ng-model="nbc.currentPage" 
                    max-size="10" 
                    class="pagination-sm" 
                    boundary-links="true" 
                    force-ellipses="true"
                    previous-text="Anterior" 
                    next-text="Siguiente" 
                    first-text="Primero" 
                    last-text="Último"></ul>
            </div>
        </div>
        <div class="container-fluid text-center padding-20" style="margin-top: 20px;">
            <div class="col-xs-12" style="margin-bottom: 10px; font-weight:700">
                ¿Tienes vacantes disponibles en tu empresa y quieres conseguir el candidato ideal?
            </div>
            <div class="col-xs-12">
                <a class="btn btn-lg button bton-green" href="" ng-click="nbc.vacantCreateValidate()">Crear vacante</a>
            </div>
        </div>
    </section>
    <section id="pricing-box-sect">
        <div class="header-section text-center">
            <h1 id="pricing-title-h1">Escoge la opción que prefieras</h1>
        </div>
        <div class="container-fluid text-center padding-0 bg-eaeaea">
            <div class="col-xs-12 col-sm-4 text-center padding-0 pricing-container">
                <div class="pricing-header">
                <span class="font-size-3em">
                    <strong>Básico</strong>
                </span>
                </div>
                <div class="pricing-body padding-top-10">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
                    <span class="font-size-1-5em line-height-0">
                        <strong>Ideal para Pequeñas Empresas</strong>
                    </span>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center padding-top-10">
                    <span class="font-size-1-2em line-height-0">
                        4 Hojas de vida. <br>Preseleccionadas.
                    </span>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center padding-top-10">
                    <span class="font-size-2-5em font-color-azul-soyempleo">
                        <strong>Gratis</strong>
                    </span>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center padding-top-10">
                    <span class="font-size-1-5em line-height-0">
                        <strong>Tiempo de respuesta: 48 horas</strong>
                    </span>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center padding-top-10 padding-bottom-20">
                        <a class="btn btn-lg button bton-green" href="" ng-click="nbc.tOffert('g');">Seleccionar</a>
                    </div>
                </div>
            </div>
            <div id="mid-pricing" class="col-xs-12 col-sm-4 text-center padding-0 pricing-container borders-pricing">
                <div class="pricing-header">
                <span class="font-size-3em">
                    <strong>Premium</strong>
                </span>
                </div>
                <div class="pricing-body padding-top-10">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
                    <span class="font-size-1-5em line-height-0">
                        <strong>Reclutamiento Profesional a su alcance</strong>
                    </span>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center padding-top-10">
                    <span class="font-size-1-2em line-height-0">
                        Hojas de vida ilimitadas. <br>Asesor Personalizado.
                    </span>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center padding-top-10">
                    <span class="font-size-2-5em font-color-azul-soyempleo">
                        <strong>$ 99.000</strong>
                    </span>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center padding-top-10">
                    <span class="font-size-1-5em line-height-0">
                        <strong>Tiempo de respuesta: 24 horas</strong>
                    </span>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center padding-top-10 padding-bottom-20">
                        <a class="btn btn-lg button bton-green" href="" ng-click="nbc.tOffert('p');">Seleccionar</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 text-center padding-0 pricing-container">
                <div class="pricing-header">
                <span class="font-size-3em">
                    <strong>Empresarial</strong>
                </span>
                </div>
                <div class="pricing-body padding-top-10">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
                    <span class="font-size-1-5em line-height-0">
                        <strong>Perfecto para grandes empleadores</strong>
                    </span>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 text-left padding-top-10">
                        <ul class="list-style-type-none padding-0">
                            <li>
                            <span>
                                <p>Paquete de vacantes Premium que podrás gastar en un año</p>                                    
                            </span>
                            </li>
                            <li>
                            <span>
                                 <p>Ejecutivo de cuenta especializado.</p>   
                            </span>
                            </li>
                            <li>
                            <span>
                                <p>Servicio de vacantes permanentes.</p>
                            </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center padding-top-10">
                    <span class="font-size-1-5em font-color-azul-soyempleo">
                        <strong>Compra un paquete</strong>
                    </span>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center padding-top-10 padding-bottom-20">
                        <a class="btn btn-lg button bton-green"
                           href=""
                           ng-click="nbc.openModal($event,'dialog2');nbc.tOffert('e');">
                            Seleccionar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-blog">
        <div class="container">
            <div class="row">
                <h1 class="col-xs-12 text-center">Visita <strong>Nuestro Blog</strong></h1>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="post in nbc.lastPosts.posts">
                    <div class="thumbnail padding-0">
                        <div class="img-hover">
                            <a href="{{post.link}}"><img src="https://soyempleo.com/assets/images/{{post.image}}"
                                                         class="img-responsive" alt="{{post.title}}">
                                <h4>{{post.title}}</h4></a>
                        </div>
                        <div class="caption text-left">
                            <span class="autor margin-bottom-5">por <strong>{{post.author}}</strong></span><span
                                class="fecha margin-bottom-5 text-right pull-right">{{post.date}}</span>

                            <p><a href="{{post.link}}" class="info">{{post.description}}...</a></p>
                            <a class="info" href="{{post.link}}">Leer más ></a>
                            <span class="comentarios pull-right text-right"><i class="fa fa-comment-o fa-lg"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Sección Blog -->
    <div ng-include="'public/app/imagenDialogCompany.html'">
        <div ng-include="'public/app/enterpriseDialogCompany.html'">
        </div>

            
       
