<style>
    @media screen and (max-width: 765px) {
        .margin-topx-20{
            margin-top: 20px;
        }
    }
</style>
<div ng-controller="navbarCompanyController as nbc">

    <section id="section-head-persona" class="margin-0  padding-0 header-empresa">
        <div class="container-fluid padding-left-0 padding-right-0 text-center membership-flag-parent">
            <div class="col-xs-5 col-xs-offset-3 col-sm-3 col-md-3 col-lg-2 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xl-4 foto padding-top-50 text-left">
                <div class="hovereffect" style="overflow:visible;">
                    <img src="{{userAvatar}}" class="img-circle" width="184.578" height="184.578"
                    style="width:164.578px;height:164.578px;">
                    <div class="overlay img-circle" width="184.500" height="184.578"
                    style="width:164.500px;height:164.500px;">
                        <a class="info text-center" 
                            href="" 
                            data-toggle="modal" 
                            data-target=".bs-example-modal-sm"
                            ng-click="nbc.openModal($event,'dialog1');">
                            <i class="fa fa-cogs font-size-100"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 padding-0 text-left padding-bottom-20 centrar-xs">
                <h1 class="padding-top-50 font-open-sans font-white">
                    <strong ng-if="nbc.companyBasicData.company_basicdata.social_name==''">{{nbc.companyBasicData.company_basicdata.name | capitalize:true }}</strong>
                    <strong ng-if="nbc.companyBasicData.company_basicdata.social_name!=''">{{nbc.companyBasicData.company_basicdata.social_name | capitalize:true }}</strong>
                </h1>
                <p class="font-open-sans font-white font-light font-size-18 margin-bottom-2"> 
                    {{nbc.companyBasicData.company_basicdata.sector | capitalize:true}}
                </p>
                <p class="font-open-sans font-white font-light font-size-18 margin-bottom-2">
                    <img src="assets/images/icon-map-marke-wt.png" alt="" ng-if="nbc.companyBasicData.company_basicdata.city || nbc.companyBasicData.company_basicdata.department">
                    {{nbc.companyBasicData.company_basicdata.department | capitalize:true}} <span ng-if="nbc.companyBasicData.company_basicdata.city && nbc.companyBasicData.company_basicdata.department">| </span>{{nbc.companyBasicData.company_basicdata.city | capitalize:true}}
                </p>
                <p class="font-open-sans font-white font-light font-size-18 margin-bottom-2" ng-if="nbc.aditionalData.website!=''">
                    <span class="font-size-25"><i class="fa fa-globe" aria-hidden="true"></i></span> {{nbc.aditionalData.website}}
                </p>
                <a class="btn btn-lg button bton-green col-xs-8 col-sm-12 col-md-8 col-xs-offset-2 col-sm-offset-0 margin-bottom-20" 
                ng-click="nbc.openModal($event,'dialog55');" ng-disabled="blockOffer">
                    <span ng-show="blockOffer">
                        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                        Crear oferta
                      </span>
                    <span ng-show="!blockOffer">
                        Crear oferta
                    </span>
                </a>
                <!-- <a class="btn btn-lg button bton-green col-xs-8 col-sm-12 col-md-8 col-xs-offset-2 col-sm-offset-0 margin-bottom-20" 
                ng-click="nbc.openModal($event,'dialog65');">
                    pago
                </a> -->
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 padding-top-50 text-center margin-bottom-70">
                <div class="progress-percentage-wrapper">
                    <div class="progress-percentage ng-cloak top-40">{{nbc.percent}}%</div>
                    <round-progress 
                        max="100"
                        current="nbc.percent"
                        color="#45ccce"
                        bgcolor="#eaeaea"
                        radius="80"
                        stroke="10"
                        semi="false"
                        rounded="false"
                        clockwise="false"
                        responsive="false"
                        duration="1000"
                        animation="easeInOutQuart"
                        animation-delay="500">
                    </round-progress>
                </div>
            </div>
            <!-- <div class="membership-flag-container">
                <span class="membership-flag-circle" ng-class="nbc.companyBasicData.company_basicdata.membership ? 'active':'error'"></span>
                <span class="padding-left-20 text-white font-open-sans font-bold" ng-if="nbc.companyBasicData.company_basicdata.membership">
                    Membresia Activa
                </span>
                <span class="padding-left-20 text-white font-open-sans font-bold" ng-if="!nbc.companyBasicData.company_basicdata.membership">
                    Membresia Inactiva
                </span>
            </div>
            <div style="position: absolute;right: 40px;top: 55px;" ng-if="!nbc.companyBasicData.company_basicdata.membership">
                <a class="mouse-pointer text-white font-open-sans font-bold font-italic"
                    ng-redirect="/membership">
                    Suscríbete ahora
                </a>
            </div> -->
        </div>
    </section>

    <section id="contenido-empresa" class="margin-0"> 
        <div class="container-fluid padding-0">
            <div class="tabs effect-3 top--40">
                <input type="radio" id="tab-1" name="tab" ng-checked="nbc.isCheckedTab">
                <span href="#tab-item-1" class="font-bold font-size-15">Mi Perfil</span>

                <input type="radio" id="tab-2" name="tab" ng-checked="!nbc.isCheckedTab">
                <span href="#tab-item-2" class="font-bold font-size-15">Mis Ofertas</span>

                <input type="radio" id="tab-3" name="tab" ng-click="nbc.resizeDivs()">
                <span href="#tab-item-3" class="font-bold font-size-15">Servicios adicionales</span>

                <input type="radio" id="tab-4" name="tab" ng-click="nbc.openModal($event,'dialog55'); nbc.resizeDivs();" ng-disabled="blockOffer">
                <span href="#tab-item-4" class="font-bold font-size-15" ng-click="nbc.openModal($event,'dialog55');"> Crear ofertas</span>
                
                <input type="radio" id="tab-5" name="tab" ng-click="nbc.goToBlog();">
                <span href="#tab-item-1" class="font-bold font-size-15">Blog</span>

                <div class="line ease"></div> 

                <div class="tab-content">
                    <section id="tab-item-1">
                        <div id="perfil-empresa" ng-include="'public/app/sections/dashboard-empresa-perfil.html'"></div>
                    </section>
                    <section id="tab-item-2">
                        <div ng-include="'public/app/sections/dashboard-empresa-ofertas.html'"></div>
                    </section>
                    <section id="tab-item-3">
                        <div ng-include="'public/app/sections/dashboard-empresa-ofertasdis.html'"></div>
                    </section>
                    <section id="tab-item-4">
                        <div ng-include="'public/app/sections/dashboard-empresa-ofertasdis.html'"></div>                    
                    </section>
                    <section id="tab-item-5">
                        <div ng-include="'public/app/sections/dashboard-empresa-perfil.html'"></div>
                    </section>
                </div>
            </div>
        </div>
    </section>

    <div ng-include="'public/app/imagenDialogCompany.html'"></div>
    <div ng-include="'public/app/sections/packageDialog.html'"></div>
    <div ng-include="'public/app/sections/payingDiag.html'"></div>
    <div ng-include="'public/app/sections/packageDialog2.html'"></div>
    <script>
        $(function(){
          var $ppc = $('.progress-pie-chart'),
            percent = parseInt($ppc.data('percent')),
            deg = 360*percent/100;
          if (percent > 50) {
            $ppc.addClass('gt-50');
          }
          $('.ppc-progress-fill').css('transform','rotate('+ deg +'deg)');
          $('.ppc-percents span').html(percent+'%');
        });
    </script>

</div>  