<style>
    @media screen and (max-width: 765px) {
        .margin-topx-20{
            margin-top: 20px;
        }
    }
</style>
<div ng-controller="navbarController as nbc">
    <section id="section-head-persona" class="margin-0  padding-0 header-persona">
        <div class="container-fluid padding-left-0 padding-right-0 text-center">
            <div class="col-xs-5 col-xs-offset-3 col-sm-3 col-md-3 col-lg-2 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xl-4 foto padding-top-50 text-left">
                <div class="hovereffect" style="overflow:visible;">
                    <img src="{{userAvatar}}" class="img-circle" width="184.578" height="184.578"
                    style="width:164.578px;height:164.578px;">
                    <div class="overlay img-circle" width="184.500" height="184.578"
                    style="width:164.500px;height:164.500px;">
                        <a class="info text-center" href="" data-toggle="modal" data-target=".bs-example-modal-sm"
                        ng-click="nbc.openModal($event);"><i class="fa fa-cogs font-size-100"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 padding-0 text-left padding-bottom-20 centrar-xs">
                <h1 class="padding-top-50 font-open-sans font-white">
                    <strong>{{nbc.nombreCompleto | capitalize:true }}</strong>
                </h1>
                <p class="font-open-sans font-white font-bold font-size-18 margin-bottom-2" ng-if="nbc.profileData.person.title && !nbc.cambiandoTitle">
                    {{nbc.profileData.person.title | capitalize:true}}
                </p>
                <input type="text" ng-if="nbc.cambiandoTitle" placeholder="EJ: Diseñador Gráfico" ng-model="nbc.nuevoTitulo" ng-blur="nbc.enviarTitulo();" ng-enter="nbc.enviarTitulo();" maxlength="25" style="text-transform: capitalize;">
                <span class="font-white">
                    <i class="fa fa-check" ng-click="nbc.enviarTitulo();" ng-if="nbc.cambiandoTitle"></i>
                </span>
                <span class="mouse-pointer font-open-sans font-white font-light font-size-18 margin-bottom-2" style="text-decoration: underline; color: #ccccf5 !important;"  ng-click="nbc.cambiarTitle();" ng-if="!nbc.cambiandoTitle && !nbc.profileData.person.title">Agregar un título</span>
                <p class="font-open-sans font-white font-light font-size-18 margin-bottom-2">
                    <img src="assets/images/icon-map-marke-wt.png" alt="">
                        <span ng-if="!nbc.profileData.person.act_department" class="mouse-pointer" style="text-decoration: underline; color: #ccccf5 !important;"  ng-click="nbc.goToUrl('/profile/#/actualiza');">
                            Agregar Departamento
                        </span>
                        <span ng-if="nbc.profileData.person.act_department">{{nbc.profileData.person.act_department | capitalize:true}} </span>| <span ng-if="nbc.profileData.person.act_city">{{nbc.profileData.person.act_city | capitalize:true}}</span>
                        <span ng-if="!nbc.profileData.person.act_city" class="mouse-pointer" style="text-decoration: underline; color: #ccccf5 !important;"  ng-click="nbc.goToUrl('/profile/#/actualiza');">Agregar ciudad</span>
                </p>
                <p class="font-open-sans font-white font-light font-size-18 margin-bottom-2" ng-if="!nbc.profileData.person.numb_doc">
                    Documento de identidad: <span class="mouse-pointer" style="text-decoration: underline; color: #ccccf5 !important;"  ng-click="nbc.goToUrl('/profile/#/actualiza');">Agregar documento</span>
                </p>
                <p class="font-open-sans font-white font-light font-size-18 margin-bottom-2" ng-if="nbc.profileData.person.numb_doc">
                    Documento de identidad: {{nbc.profileData.person.numb_doc}}
                </p>
                 <p class="font-open-sans font-white font-light font-size-18 margin-bottom-20" ng-if="nbc.edad=='Agregar edad'">
                    Edad: <span class="mouse-pointer" style="text-decoration: underline; color: #ccccf5 !important;"  ng-click="nbc.goToUrl('/profile/#/actualiza');">{{nbc.edad}}</span>
                </p>
                <p class="font-open-sans font-white font-light font-size-18 margin-bottom-20"ng-if="nbc.edad!='Agregar edad'">
                    Edad: {{nbc.edad | capitalize:true}}
                </p>
                <a class="btn btn-lg button bton-green col-xs-8 col-sm-12 col-md-8 col-xs-offset-2 col-sm-offset-0 margin-bottom-20" ng-click="nbc.goProfile();">Actualizar mi Hoja de Vida</a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 padding-top-50 text-center margin-bottom-70">
                <div class="progress-percentage-wrapper">
                    <div class="progress-percentage ng-cloak top-40">{{nbc.percentage}}%</div>
                    <round-progress 
                        max="100"
                        current="nbc.percentage"
                        color="#45ccce"
                        bgcolor="#eaeaea"
                        radius="80"
                        stroke="10"
                        semi="false"
                        rounded="false"
                        clockwise="false"
                        responsive="false"
                        duration="1000"
                        animation="easeInOutQuart"
                        animation-delay="500">
                    </round-progress>
                </div>
            </div>
        </div>
    </section>
    <section id="contenido" class="margin-0"> 
        <div class="container-fluid padding-0">
            <div class="tabs effect-3 top--40">
                <input type="radio" id="tab-1" name="tab" checked="checked">
                <span href="#tab-item-1" class="font-bold font-size-15">Mi Perfil</span>

                <input type="radio" id="tab-2" name="tab">
                <span href="#tab-item-2" class="font-bold font-size-15">Mis Postulaciones</span>

                <input type="radio" id="tab-3" name="tab">
                <span href="#tab-item-3" class="font-bold font-size-15">Ofertas sugeridas</span>

                <!-- <input type="radio" id="tab-4" name="tab">
                <span href="#tab-item-4" class="font-bold font-size-15">Blog</span> -->

                <input type="radio" id="tab-4" name="tab" ng-click="nbc.goToBlog2();">
                <span href="#tab-item-1" class="font-bold font-size-15">Blog</span>
                
                <input type="radio" id="tab-5" name="tab">
                <span href="#tab-item-5" class="font-bold font-size-15">Buscar Ofertas</span>

                <div class="line ease"></div>

                <div class="tab-content">
                    <section id="tab-item-1">
                        <div ng-include="'public/app/sections/dashboard-persona-perfil.html'"></div>
                    </section>
                    <section id="tab-item-2">
                        <div ng-include="'public/app/sections/dashboard-persona-postulaciones.html'"></div>
                    </section>
                    <section id="tab-item-3">
                        <div ng-include="'public/app/sections/dashboard-persona-ofertas.html'"></div>
                    </section>
                    <section id="tab-item-4">
                        <div ng-include="'public/app/sections/dashboard-persona-perfil.html'"></div>                    
                    </section>
                    <section id="tab-item-5">
                        <div ng-include="'public/app/sections/dashboard-persona-buscar.html'"></div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <!-- <section id="section-info" class="section section-gris text-center"> -->
    <!-- <div class="header-section">
        <h1>{{nbc.nombreCompleto | uppercase}} </h1>
    </div> -->
    <!-- <div class="container">
        <div class="row">
            <div class="col-sm-offset-1 col-lg-11 col-sm-11 col-xs-12">
                <div class="col-lg-3 col-sm-3 col-xs-12 foto">
                    <div class="hovereffect">
                        <img src="{{userAvatar}}" class="img-responsive img-circle" width="184.578" height="184.578"
                        style="width:164.578px;height:164.578px;">
                        <div class="overlay img-circle img-responsive" width="184.500" height="184.578"
                        style="width:164.500px;height:164.500px;">
                            <a class="info" href="" data-toggle="modal" data-target=".bs-example-modal-sm"
                            ng-click="nbc.openModal($event);"><i class="fa fa-cogs font-size-100"></i></a>
                        </div>
                    </div>
                </div>
            <div class="col-lg-6 col-sm-6 col-xs-12 informacion padding-20">
                <p>
                    <span ng-class="nbc.profileData.person.title=='' || nbc.profileData.person.title==undefined ? 'displayNone':'displayBlock'">{{nbc.profileData.person.title | uppercase}}</span><br ng-class="nbc.profileData.person.title=='' || nbc.profileData.person.title==undefined ? 'displayNone':'displayBlock'">
                    <span ng-class="nbc.profileData.person.act_department=='' || nbc.profileData.person.act_department==undefined ? 'displayNone':'displayBlock'">{{nbc.profileData.person.act_department}} | {{nbc.profileData.person.act_city}}<br/></span>
                    <span ng-class="nbc.profileData.person.numb_doc=='' || nbc.profileData.person.numb_doc==undefined ? 'displayNone':'displayBlock'">DOCUMENTO DE IDENTIDAD: {{nbc.profileData.person.numb_doc}}<br/></span>
                    <br ng-class="nbc.profileData.person.title=='' || nbc.profileData.person.title==undefined ? ' displayBlock':'displayNone'">
                    <span ng-class="nbc.profileData.person.title=='' || nbc.profileData.person.title==undefined ? ' displayBlock':'displayNone'">Te invitamos a completar tus datos personales, y empieza tu viaje hacia completar tu hoja de vida</span>
                </p>
                        <a class="btn btn-lg button bton-green col-xs-12 col-sm-8 col-md-8" ng-click="nbc.goProfile();">Actualizar mi Hoja de Vida</a>
                        
                        <a class="btn btn-lg button bton-green col-xs-12 col-sm-8 col-md-8 margin-top-10" ng-click="nbc.desHojaVida()">Descargar Hoja de Vida</a>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-12" style="padding-top: 25px;">
                        <p class="porciento col-xs-12" style="margin-top: 20px;">PERFIL COMPLETO</p>
                        <div class="row padding-top-20">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="progress vertical-bar">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{nbc.percentage}}%;">
                                        <span><img src="assets/images/logo-soyempleo-percent.png" alt="" class="img-responsive miImagen"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="porciento col-xs-12" style="margin-top: 0;"><span class="porcentaje">{{nbc.percentage}}%</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Info Basica -->
    <!-- Barra Buscar-->
    <!-- <section id="section-ofertas" class="text-center padding-top-30 padding-right-10 padding-left-10 padding-bottom-30" style="padding-bottom: 15px;">
        <div class="header-section" style="margin-bottom:40px;margin-left: -10px !important; margin-right: -5px !important;">
            <h1 style="color:#fff !important">OFERTAS SUGERIDAS</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="ofertas in nbc.lastOffert.offers">
                    <div class="panel panel-default panel-pricing">
                        <div class="panel-heading padding-0">
                            <img src="{{ofertas.companies.logo}}"class="img-responsive img-offert" alt="Empresa Ofertante SoyEmpleo" style="width:100%;">
                        </div>
                        <div class="panel-body text-left">
                            <h4>{{ofertas.job_title | uppercase}}</h4>
                            <p><img src="assets/images/icon-map-market.png" alt="Ciudad vacantes" width="" height="" /> {{ofertas.department}} | {{ofertas.city}} </p>
                            <p><img src="assets/images/icon-suitcase.png" alt="Salario ofrecido" width="" height="" /> <span ng-show="ofertas.show_salary=='Si'">$ {{ofertas.total}} |</span><span ng-show="ofertas.show_salary!='Si'">A Convenir |</span> <strong>{{ofertas.type_contract}}</strong></p>
                        </div>
                        <div class="panel-footer">
                            <a href="" ng-click="nbc.offersUrl(ofertas.city,ofertas.companies.name,ofertas.job_title,ofertas._id);" class="btn btn-sm bton-green" onClick="$.scrollTo('html, body',900)">Ver Oferta!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button ng-click="nbc.redirect('/listOfertas')" class="btn btn-lg bton-green" style="margin-top: 35px;">Ver mas ofertas</button>
    </section>
    <section id="section-blog">
        <div class="container">
            <div class="row">
                <center><h1 class="padding-bottom-20 padding-top-20" style="font-size: 40px">Visita <a target="_blank" href="https://blog.soyempleo.com/" style="text-decoration: none;">Nuestro Blog</strong></h1></center>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="post in nbc.lastPosts.posts">
                    <div class="thumbnail padding-0">
                        <div class="img-hover">
                            <a href="{{post.link}}"><img src="https://soyempleo.com/assets/images/{{post.image}}" class="img-responsive" alt="{{post.title}}">
                            <h4>{{post.title}}</h4></a>
                        </div>
                        <div class="caption text-left">
                            <span class="autor margin-bottom-5">por <strong>{{post.author}}</strong></span><span class="fecha margin-bottom-5 text-right pull-right">{{post.date}}</span>
                            <p><a href="{{post.link}}" class="info">{{post.description}}...</a></p>
                            <a class="info" href="{{post.link}}">Leer más ></a>
                            <span class="comentarios pull-right text-right"><i class="fa fa-comment-o fa-lg"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   <section> -->
   <!-- /Sección Blog -->
    <div ng-include="'public/app/imagenDialog.html'"></div>
    <script>
        $(function(){
          var $ppc = $('.progress-pie-chart'),
            percent = parseInt($ppc.data('percent')),
            deg = 360*percent/100;
          if (percent > 50) {
            $ppc.addClass('gt-50');
          }
          $('.ppc-progress-fill').css('transform','rotate('+ deg +'deg)');
          $('.ppc-percents span').html(percent+'%');
        });
    </script>
</div>
