<style>
    @media screen and (max-width: 765px) {
        .margin-topx-20{
            margin-top: 20px;
        }
    }
</style>
<!-- <div ng-controller="postulatesController as po"> -->
<div>
    <section id="section-head-persona" class="margin-0  padding-0 header-persona">
        <div class="container-fluid padding-left-0 padding-right-0 text-center">
            <div class="col-xs-5 col-xs-offset-4 col-sm-3 col-md-3 col-lg-2 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xl-4 foto padding-top-50 text-left">
                <div class="hovereffect">
                    <img src="{{selectedAvatar}}" class="img-circle" width="184.578" height="184.578"
                    style="width:164.578px;height:164.578px;">
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-xl-5 padding-0 text-left padding-bottom-20 centrar-xs">
                <h1 class="padding-top-50 font-open-sans font-white">
                    <strong>{{postulates.person.first_name | capitalize:true }} {{postulates.person.last_name | capitalize:true }}</strong>
                </h1>
                <p class="font-open-sans font-white font-bold font-size-18 margin-bottom-2" ng-if="postulates.person.title">
                    {{postulates.person.title | capitalize:true}}
                </p>
                <!-- <p class="font-open-sans font-white font-bold font-size-18 margin-bottom-2" ng-if="!postulates.person.title">
                    -
                </p> -->
                <p class="font-open-sans font-white font-light font-size-18 margin-bottom-2">
                    <img src="assets/images/icon-map-marke-wt.png" alt="">
                        <span>{{postulates.person.act_department | capitalize:true}} </span>| <span>{{postulates.person.act_city | capitalize:true}}</span>
                </p>
                <p class="font-open-sans font-white font-light font-size-18">
                    Edad: {{postulates.person.edad | capitalize:true}}
                </p>
                <p class="font-open-sans font-white font-light font-size-18 margin-bottom-20">
                    Email: {{postulates.user.email}}
                </p>
                <iframe id="pdf_container" style="display:none" src=""></iframe>
                <a class="btn btn-lg button bton-green col-xs-8 col-sm-12 col-md-8 col-xs-offset-2 col-sm-offset-0 margin-bottom-20" ng-click="desHojaVida(postulates.person._id)" ng-disabled="pdfRefresh">Descargar hoja en PDF</a>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 padding-top-80 text-right margin-bottom-70">
                <p class="font-open-sans font-white font-size-18">
                    <span class="font-bold">
                        Teléfono Móvil:
                    </span><br>
                    <span class="font-light" ng-if="postulates.person.mobile_phone">
                        {{postulates.person.mobile_phone | capitalize:true}}
                    </span>
                    <span class="font-light" ng-if="!postulates.person.mobile_phone">
                        ---
                    </span>
                </p>
                <p class="font-open-sans font-white font-size-18 margin-bottom-2">
                    <span class="font-bold">
                        Teléfono Fijo:
                    </span><br>
                    <span class="font-light" ng-if="postulates.person.local_phone">
                        {{postulates.person.local_phone | capitalize:true}}
                    </span>
                    <span class="font-light" ng-if="!postulates.person.local_phone">
                        ---
                    </span>
                </p>
                <p class="font-open-sans font-white font-size-18 margin-bottom-2">
                    <span class="font-bold">
                        Teléfono Alternativo:
                    </span><br>
                    <span class="font-light" ng-if="postulates.person.alt_phone">
                        {{postulates.person.alt_phone | capitalize:true}}
                    </span>
                    <span class="font-light" ng-if="!postulates.person.alt_phone">
                        ---
                    </span>
                </p>
            </div>
        </div>
    </section>
    <section id="contenido-public" class="margin-0"> 
        <div class="container-fluid padding-0">
            <div class="tabs effect-3">
                <div style="height: 60px; background-color: #F0F0F0;"></div>
                <input type="radio" id="tab-2" name="tab" checked="checked">
                <span href="#tab-item-2" class="font-bold font-size-15"> Perfil profesional</span>

                <input type="radio" id="tab-4" name="tab">
                <span href="#tab-item-4" class="font-bold font-size-15">Sobre mi</span>

                <div class="line ease"></div>

                <div class="tab-content">
                    <section id="tab-item-2">
                        <div ng-include="'public/app/sections/dashboard-empresa-candidate1.html'"></div>
                    </section>
                    <section id="tab-item-4">
                        <div ng-include="'public/app/sections/dashboard-empresa-candidate2.html'"></div>
                    </section>
                </div>
            </div>
        </div>
    </section>

   <!-- /Sección Blog -->
    <!-- <div ng-include="'public/app/imagenDialog.html'"></div> -->
    <script>
        $(function(){
          var $ppc = $('.progress-pie-chart'),
            percent = parseInt($ppc.data('percent')),
            deg = 360*percent/100;
          if (percent > 50) {
            $ppc.addClass('gt-50');
          }
          $('.ppc-progress-fill').css('transform','rotate('+ deg +'deg)');
          $('.ppc-percents span').html(percent+'%');
        });
    </script>
</div>
