<style>
    @media screen and (max-width: 765px) {
        .margin-topx-20{
            margin-top: 20px;
        }
    }
</style>
<div ng-controller="navbarController as nbc">
<div class="bg-white">
    <div class="opc-user col-xs-12 bg-white margin-bottom-10">
        <div class="col-sm-3 col-xs-6 col-sm-offset-4" ng-click="nbc.redirectWL('profile')">Mi Perfil</div>
        <div  ng-click="nbc.redirect('/listOfertas')" class="col-sm-3 col-xs-6">Ofertas</div>
    </div>
</div>
<section id="section-info" class="section section-gris text-center margin-top-10">
    <div class="header-section">
        <h1>{{nbc.nombreCompleto | uppercase}} </h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-1 col-lg-11 col-sm-11 col-xs-12">
                <div class="col-lg-3 col-sm-3 col-xs-12 foto">
                    <div class="hovereffect">
                        <img src="{{userAvatar}}" class="img-responsive img-circle" width="164.578" height="164.578"
                        style="width:164.578px;height:164.578px;">
                        <div class="overlay img-circle img-responsive" width="164.500" height="164.578"
                        style="width:164.500px;height:164.500px;">
                        <a class="info" href="" data-toggle="modal" data-target=".bs-example-modal-sm"
                        ng-click="nbc.openModal($event);"><i class="fa fa-cogs font-size-100"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12 informacion padding-20">
                <p>
                    <span ng-class="nbc.profileData.person.title=='' || nbc.profileData.person.title==undefined ? 'displayNone':'displayBlock'">{{nbc.profileData.person.title | uppercase}}</span><br ng-class="nbc.profileData.person.title=='' || nbc.profileData.person.title==undefined ? 'displayNone':'displayBlock'">
                    <span ng-class="nbc.profileData.person.act_department=='' || nbc.profileData.person.act_department==undefined ? 'displayNone':'displayBlock'">{{nbc.profileData.person.act_department}} | {{nbc.profileData.person.act_city}}<br/></span>
                    <span ng-class="nbc.profileData.person.numb_doc=='' || nbc.profileData.person.numb_doc==undefined ? 'displayNone':'displayBlock'">DOCUMENTO DE IDENTIDAD: {{nbc.profileData.person.numb_doc}}<br/></span>
                    <br ng-class="nbc.profileData.person.title=='' || nbc.profileData.person.title==undefined ? ' displayBlock':'displayNone'">
                    <span ng-class="nbc.profileData.person.title=='' || nbc.profileData.person.title==undefined ? ' displayBlock':'displayNone'">Te invitamos a completar tus datos personales, y empieza tu viaje hacia completar tu hoja de vida</span>
                </p>
                        <!-- <a class="btn btn-lg button bton-green" ng-disabled="true">Actualizar mi Hoja de Vida</a>
                        <a class="btn btn-lg button bton-green" ng-disabled="true">Ver mi Hoja de Vida</a> -->
                        <a class="btn btn-lg button bton-green col-xs-12 col-sm-8 col-md-8" ng-click="nbc.goProfile();">Actualizar mi Hoja de Vida</a>
                        
                        <a class="btn btn-lg button bton-green col-xs-12 col-sm-8 col-md-8 margin-top-10" ng-click="nbc.desHojaVida()">Descargar Hoja de Vida</a>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-12" style="padding-top: 25px;">
                        <p class="porciento col-xs-12" style="margin-top: 20px;">PERFIL COMPLETO</p>
                        <!-- <img src="assets/images/logo-soyempleo-percent.png" alt="" class="img-responsive col-xs-4 col-xs-offset-2" style="width:150px;height:150px;"> -->
                        <div class="row padding-top-20">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="progress vertical-bar">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{nbc.percentage}}%;">
                                        <span><img src="assets/images/logo-soyempleo-percent.png" alt="" class="img-responsive miImagen"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="porciento col-xs-12" style="margin-top: 0;"><span class="porcentaje">{{nbc.percentage}}%</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Info Basica -->
    <!-- Barra Buscar-->
    <section id="section-ofertas" class="text-center padding-top-30 padding-right-10 padding-left-10 padding-bottom-30" style="padding-bottom: 15px;">
        <div class="header-section" style="margin-bottom:40px;margin-left: -10px !important; margin-right: -5px !important;">
            <h1 style="color:#fff !important">OFERTAS SUGERIDAS</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="ofertas in nbc.lastOffert.offers">
                    <div class="panel panel-default panel-pricing">
                        <div class="panel-heading padding-0">
                            <img src="{{ofertas.companies.logo}}"class="img-responsive img-offert" alt="Empresa Ofertante SoyEmpleo" style="width:100%;">
                        </div>
                        <div class="panel-body text-left">
                            <h4>{{ofertas.job_title | uppercase}}</h4>
                            <p><img src="assets/images/icon-map-market.png" alt="Ciudad vacantes" width="" height="" /> {{ofertas.department}} | {{ofertas.city}} </p>
                            <p><img src="assets/images/icon-suitcase.png" alt="Salario ofrecido" width="" height="" /> <span ng-show="ofertas.show_salary=='Si'">$ {{ofertas.total}} |</span><span ng-show="ofertas.show_salary!='Si'">A Convenir |</span> <strong>{{ofertas.type_contract}}</strong></p>
                        </div>
                        <div class="panel-footer">
                            <a href="" ng-click="nbc.offersUrl(ofertas.city,ofertas.companies.name,ofertas.job_title,ofertas._id);" class="btn btn-sm bton-green" onClick="$.scrollTo('html, body',900)">Ver Oferta!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button ng-click="nbc.redirect('/listOfertas')" class="btn btn-lg bton-green" style="margin-top: 35px;">Ver mas ofertas</button>
    </section>
    <section id="section-blog">
        <div class="container">
            <div class="row">
                <center><h1 class="padding-bottom-20 padding-top-20" style="font-size: 40px">Visita <a target="_blank" href="https://blog.soyempleo.com/" style="text-decoration: none;">Nuestro Blog</strong></h1></center>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="post in nbc.lastPosts.posts">
                    <div class="thumbnail padding-0">
                        <div class="img-hover">
                            <a href="{{post.link}}"><img src="https://soyempleo.com/assets/images/{{post.image}}" class="img-responsive" alt="{{post.title}}">
                            <h4>{{post.title}}</h4></a>
                        </div>
                        <div class="caption text-left">
                            <span class="autor margin-bottom-5">por <strong>{{post.author}}</strong></span><span class="fecha margin-bottom-5 text-right pull-right">{{post.date}}</span>
                            <p><a href="{{post.link}}" class="info">{{post.description}}...</a></p>
                            <a class="info" href="{{post.link}}">Leer más ></a>
                            <span class="comentarios pull-right text-right"><i class="fa fa-comment-o fa-lg"></i></span>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="thumbnail">
                                <div class="img-hover">
                                    <a target="_blank" href="https://blog.soyempleo.com/como-buscar-empleo-y-no-morir-en-el-intento/"><img src="assets/images/blog_3.png" class="img-responsive" alt="Publicacion Blog SoyEmpleo">
                                        <h4 class="ellipsis">Como buscar empleo y no morir en el intento</h4></a>
                                    </div>
                                    <div class="caption">
                                        <span class="autor">por <strong>SoyEmpleo</strong></span><span class="fecha">octubre 23, 2015</span>
                                        <p><a target="_blank" href="https://blog.soyempleo.com/como-buscar-empleo-y-no-morir-en-el-intento/" class="info">La forma de encontrar trabajo ha cambiado para siempre y hay que adaptarse a una realidad: la búsqueda proactiva de trabajo. Si usted es de los que solo busca una plantilla en Word, se copia de ella y rellena todo con</a></p>
                                        <a class="info" target="_blank" href="https://blog.soyempleo.com/como-buscar-empleo-y-no-morir-en-el-intento/">Leer más ></a>
                                        <span class="comentarios"><i class="fa fa-comment-o fa-lg"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   <section><!-- /Sección Blog -->
                <div ng-include="'public/app/imagenDialog.html'">
                </div>
