<div ng-controller="registroController as rg">
    
    <section id="headerwrap" 
        class="section section-gris margin-0 text-center header-home" 
        style="background-color: #fff;padding-bottom:50px;">
        
        <div class="col-xs-12 text-center padding-top-50">
            <span>
                <h1 class="font-white">
                    <span class="font-light">Bienvenidos a</span> <strong>SoyEmpleo</strong>
                </h1>
            </span>
        </div>

        <div class="container">
            <section id='section-registroP' class="section-blanca-somos padding-10 box-shadow-gray2" 
                style="margin-top: 200px; padding-top: 60px; padding-bottom:60px;">
                <div class="row">
                    
                    <div class="col-xs-12 col-sm-12 col-md-7 registro padding-20 div-line-right-c5c5c5">
                        <div class="col-xs-12 text-center margin-bottom-20">
                            <div class="col-xs-12">
                                <p class="text-center font-light font-open-sans font-color-707070">
                                    Llena nuestro formulario de registro, la forma más fácil y efectiva de buscar el empleo que desees
                                </p>
                            </div>

                            <div class="col-xs-12 col-sm-12 text-center margin-top-20 txt-black">
                                <form class="form-registro" 
                                    name="formRegistro" 
                                    role="form" 
                                    novalidate 
                                    onsubmit="false"
                                    ng-disabled="true">
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="padding-0 col-xs-12">
                                            <input type="text" 
                                                placeholder="Nombres" 
                                                name="nombre" 
                                                class="inputx2 margin-5"
                                                ng-model="nombre" 
                                                maxlength="30" 
                                                minlength="2"
                                                pattern="[a-zA-ZA-ZΆ-ΫÀ-ÖØ-Þa-zά-ώß-öø-ÿ\s]+"
                                                required
                                                ng-class='{ error: formRegistro.nombre.$invalid && formRegistro.nombre.$touched}'
                                                uib-popover="{{formRegistro.nombre.$touched && formRegistro.nombre.$error.required ? 'Valor es requerido' : ''}}" popover-trigger="focus"
                                                ng-keyup="rg.cortarString(nombre)"
                                                ng-blur="rg.cortarString(nombre)" 
                                                ng-disabled="rg.pasoDatosBasicos"/>
                                        </div>
                                        <div class="padding-0 col-xs-12">
                                            <div ng-show="(formRegistro.nombre.$error.minlength || formRegistro.nombre.$error.pattern) && formRegistro.nombre.$touched"
                                                class="text-center msg-error col-xs-12 padding-0">
                                                Nombres no validos
                                            </div>
                                            <div ng-show="formRegistro.nombre.$error.required && formRegistro.nombre.$touched"
                                                 class="text-center msg-error col-xs-12 padding-0">
                                                Ingrese sus Nombres
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="padding-0 col-xs-12">
                                            <input type="text" 
                                                placeholder="Apellidos" 
                                                name="apellidos" 
                                                class="input margin-5"
                                                ng-model="apellidos" 
                                                minlength="2" 
                                                maxlength="30"
                                                required
                                                data-ng-class='{ error: formRegistro.apellidos.$invalid && formRegistro.apellidos.$touched}'
                                                uib-popover="{{formRegistro.apellidos.$touched && formRegistro.apellidos.$error.required ? 'Valor es requerido | Mínimo 4 letras' : ''}}" 
                                                popover-trigger="focus" 
                                                ng-disabled="rg.pasoDatosBasicos"
                                                pattern="[a-zA-ZA-ZΆ-ΫÀ-ÖØ-Þa-zά-ώß-öø-ÿ\s]+"/>
                                        </div>
                                        <div class="padding-0 col-xs-12">
                                            <div ng-show="(formRegistro.apellidos.$error.minlength || formRegistro.apellidos.$error.pattern) && formRegistro.apellidos.$touched"
                                                 class="text-center msg-error col-xs-12">
                                                Apellidos no validos
                                            </div>
                                            <div ng-show="formRegistro.apellidos.$error.required && formRegistro.apellidos.$touched"
                                                 class="text-center msg-error col-xs-12">
                                                Ingrese sus Apellidos
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <input type="email" 
                                            placeholder="Correo electrónico" 
                                            class="inputx2 margin-5"
                                            ng-model="email"
                                            name="email" 
                                            required
                                            data-ng-class='{ error: formRegistro.email.$error.email}'
                                            uib-popover="{{(formRegistro.email.$touched && formRegistro.email.$error.required) || formRegistro.email.$error.email ? 'Email inválido' : ''}}" 
                                            popover-trigger="focus"
                                            ng-disabled="rg.pasoDatosBasicos" 
                                            maxlength="50"/>
                                    </div>
                                    <div ng-show="formRegistro.email.$error.required && formRegistro.email.$touched"
                                         class="text-center msg-error col-xs-12">
                                        Ingrese un correo electrónico
                                    </div>
                                    <div ng-show="formRegistro.email.$error.email && formRegistro.email.$touched && email"
                                         class="text-center msg-error col-xs-12">
                                        Formato de correo electrónico invalido
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <input type="password" 
                                            placeholder="Contraseña"
                                            class="input margin-5"
                                            name="password"
                                            ng-model="password" 
                                            minlength="6" 
                                            maxlength="30" 
                                            required 
                                            data-ng-class='{error: password!=repetir && (formRegistro.password.$touched && formRegistro.repetir.$touched) || (formRegistro.password.$invalid && formRegistro.password.$dirty)}' uib-popover="{{formRegistro.password.$touched && formRegistro.password.$error.required ? 'Valor es requerido' : ''}}"
                                            popover-placement="bottom" 
                                            popover-trigger="focus"
                                            ng-disabled="rg.pasoDatosBasicos"/>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <input type="password" 
                                            placeholder="Confirmar" 
                                            class="input margin-5"
                                            minlength="4"
                                            name="repetir" 
                                            ng-model="repetir" 
                                            minlength="6" 
                                            maxlength="30" 
                                            required
                                            data-ng-class='{error: password!=repetir && (formRegistro.password.$touched && formRegistro.repetir.$touched) || (formRegistro.repetir.$invalid && formRegistro.repetir.$dirty)}'
                                            uib-popover="{{(formRegistro.repetir.$touched && formRegistro.repetir.$error.required) || (formData.password!=formData.repetir) ? 'Contraseñas NO coinciden' : ''}}"
                                            popover-placement="bottom" 
                                            popover-trigger="focus"
                                            ng-disabled="rg.pasoDatosBasicos"/>
                                    </div>

                                    <div ng-show="( formRegistro.password.$error.required || formRegistro.repetir.$error.required) && (formRegistro.password.$touched && formRegistro.repetir.$touched)" 
                                        class="text-center msg-error col-xs-6">
                                        Tu contraseña o confirmación esta vaciá
                                    </div>
                                    <div ng-show="( formRegistro.password.$error.minlength || formRegistro.repetir.$error.minlength) && (formRegistro.password.$touched && formRegistro.repetir.$touched)" class="text-center msg-error col-xs-6">
                                        Contraseña muy corta, ingresa una contraseña mayor a 6 dígitos
                                    </div>
                                    <div ng-show="password != repetir && (formRegistro.password.$touched && formRegistro.repetir.$touched)" class="text-center msg-error col-xs-6">
                                        Las contraseñas ingresadas no coinciden
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin-top-10 margin-bottom-10"
                                        id="legalTerms">
                                        <div class="col-xs-12">
                                            <button class="btn btn-lg" 
                                                ng-model="rg.legalTerms" 
                                                ng-click="rg.legalTerms = !rg.legalTerms; rg.validarForm();" 
                                                ng-class="rg.legalTerms ? 'bton-green' : 'btn-default'" 
                                                style="outline: 0;">
                                                Aceptar condiciones
                                            </button>
                                        </div>
                                        <div class="col-xs-12">
                                            <label for="terminos">
                                                <p style="color: #223780;">
                                                    <span></span>He leído y aceptado las
                                                    <a id="termLink" href="public/app/modals/terminos-legales.html"
                                                       target="_blank"
                                                       style="color:#147aba">Condiciones Legales</a>, <a id="termLink"
                                                                                                         href="public/app/modals/reglamento.html"
                                                                                                         target="_blank"
                                                                                                         style="color:#147aba">Reglamento
                                                    de prestación de servicios</a> y la
                                                    <a id="termLink" href="public/app/modals/politicas-privacidad.html"
                                                       target="_blank" style="color:#147aba">Política de Privacidad</a> de
                                                    SoyEmpleo.com.
                                                </p>
                                            </label>
                                        </div>

                                        <div ng-show="rg.msgVal.legal" class="msg-error">
                                            Para continuar tiene que aceptar las condiciones legales
                                        </div>
                                        <div ng-show="rg.msgVal.revisar" class="msg-error">
                                            Algunos campos no están bien, verifique los datos para continuar
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin-bottom-5">
                                        <button class="btn btn-lg bton-green padding-right-15 padding-left-15"
                                                ng-click="rg.registrarDatosBasicos(nombre,apellidos,email,password,repetir,formRegistro.$valid)"
                                                ng-disabled="rg.isResfresing">¡Empecemos!
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-xs-10 col-xs-offset-1 div-line-down-c5c5c5"></div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-5 registro padding-20">
                        <div class="col-xs-12 text-center margin-bottom-20">
                            <div class="col-xs-12">
                                <p class="text-center font-light font-open-sans font-color-707070">
                                    Inicia sesión en SoyEmpleo.com con un solo click
                                </p>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 text-center text-black">
                                <a class="btn padding-5 btn-primary col-xs-12 font-size-20 font-light font-open-sans margin-top-20"
                                   href="https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=77i3mq16pn3izc&scope=r_basicprofile+r_emailaddress&state=57743c851c26d5.25098013&redirect_uri=https://api.soyempleo.com/linkedin/userdata/"
                                   style="background-color: #347ab8">
                                    <i
                                            class="fa fa-linkedin-square col-xs-1 margin-top-3" aria-hidden="true">
                                    </i>
                                    <span class="col-xs-10">Entrar con LinkedIn</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
               
            </section>
        </div>
    </section>

    <section id="section-blog" class="text-center margin-0 padding-20" style="border-top: 1px solid #eaeaea;">
        <div class="container">
            <div class="col-xs-12">
                <img src="assets/images/Footer_SPE.jpg" alt="Servicio Público de Empleo" class="img-responsive center-block">
            </div>
            <div class="col-xs-12">
                <small>
                    <p>
                        SoyEmpleo es una agencia de empleo vinculada a la red de prestadores del Servicio Público de Empleo. Autorizado por la Unidad Administrativa Especial del Servicio Público de Empleo según resolución No. 384 de Abril de 2016.
                    </p>
                </small>
            </div>
        </div>
    </section>
</div>


