    <section id="section-hd-oferta" class="section section-gris margin-0 text-center">
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
			<h1>MetroFrenos</h1>
		</div>
		<div class="container">
    		<div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <center><img src="assets/images/logo_thumb_empresa3.jpg" class="img-circle img-responsive margin-5" /></center>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 hidden-xs">
                        <p class="text-justify padding-top-15 padding-bottom-15 padding-left-10">A partir de 1989 se creó a METROFRENOS como nombre comercial, buscando que los clientes nos identificaran como una compañía especializada exclusivamente en el mantenimiento preventivo y correctivo del sistema de frenos en vehículos livianos y camperos.</p>
                    </div>
                    <!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-50">
                        <a href="#/persona" class="btn btn-lg bton-green">Crear mi <strong>Perfil!</strong></a>
                    </div> -->
                </div>
            </div>
    	</div>
    </section>
    <section id="section-sugerencias" class="section section-gris margin-0 text-center">
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
            <h1>OFERTAS SUGERIDAS</h1>
        </div>
            <h1>OFERTAS SUGERIDAS</h1>
        </div>
        <h4>No hay ofertas laborales actualmente</h4>
    </section>
    <section id="section-blog" class="text-center margin-0 padding-20">
        <div class="container">
            <div class="row">
                <h1 class="padding-bottom-20 padding-top-20">Visita <strong>Nuestro Blog</strong></h1>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="post in nbc.lastPosts.posts">
                    <div class="thumbnail padding-0">
                        <div class="img-hover">
                            <a href="{{post.link}}"><img src="https://soyempleo.com/assets/images/{{post.image}}" class="img-responsive" alt="{{post.title}}">
                            <h4>{{post.title}}</h4></a>
                        </div>
                        <div class="caption text-left">
                            <span class="autor margin-bottom-5">por <strong>{{post.author}}</strong></span><span class="fecha margin-bottom-5 text-right pull-right">{{post.date}}</span>
                            <p><a href="{{post.link}}" class="info">{{post.description}}...</a></p>
                            <a class="info" href="{{post.link}}">Leer más ></a>
                            <span class="comentarios pull-right text-right"><i class="fa fa-comment-o fa-lg"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /Sección Blog -->