    <section id="section-hd-oferta" class="section section-gris margin-0 text-center">
	    <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
			<h1>JoyStaz Jeans</h1>
		</div>
		<div class="container">
    		<div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <center><img src="assets/images/logo_thumb_empresa2.jpg" class="img-circle img-responsive margin-5" /></center>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 hidden-xs">
                        <p class="text-justify padding-top-15 padding-bottom-15 padding-left-10">Joy Staz nos da un estilo de vida joven, sexy y aventurera, con una línea completa de jeans, ropa y accesorios. Nuestra misión es crear productos de pronta moda en el segmento Jeans Wear, adaptando las principales tendencias en moda y logrado así, responder a nuestros clientes con prendas de excelente calidad y con el mejor servicio.</p>
                    </div>
                    <!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-50">
                        <a href="#/persona" class="btn btn-lg bton-green">Crear mi <strong>Perfil!</strong></a>
                    </div> -->
                </div>
            </div>
    	</div>
    </section>
    <section id="section-sugerencias" class="section section-gris margin-0 text-center" ng-controller="navbarController as nbc">
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
            <h1>OFERTAS SUGERIDAS</h1>
        </div>
        <div class="nodd margin-0 padding-0 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="logo col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-0">
                <img src="assets/images/logo-empresa3.jpg" width="100%" class="img-responsive" />
            </div>
            <div class="detalle text-left col-lg-5 col-md-5 col-sm-4 col-xs-12 padding-top-10">
                <h3>OPERARIO DE PLANTA DE TELA INDIGO</h3>
                <div class="padding-0">JoyStaz Jeans | Medellín</div>
                <div class="padding-0">1500000 $ | Termino Fijo</div>
            </div>
            <div class="boton col-lg-3 col-md-3 col-sm-2 col-xs-12 padding-30">
                <a href="https://soyempleo.com/#/ofertas/empleo/MEDELLIN/JoyStaz-Jeans/OPERARIO-DE-PLANTA-DE-TELA-INDIGO/56fed3d2b7eb3aea4a7b23c6" class="btn btn-lg bton-green">Ver Oferta</a>
            </div>
        </div>
    </section>
    <section id="section-blog" class="text-center margin-0 padding-20">
        <div class="container">
            <div class="row">
                <h1 class="padding-bottom-20 padding-top-20">Visita <strong>Nuestro Blog</strong></h1>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="post in nbc.lastPosts.posts">
                    <div class="thumbnail padding-0">
                        <div class="img-hover">
                            <a href="{{post.link}}"><img src="https://soyempleo.com/assets/images/{{post.image}}" class="img-responsive" alt="{{post.title}}">
                            <h4>{{post.title}}</h4></a>
                        </div>
                        <div class="caption text-left">
                            <span class="autor margin-bottom-5">por <strong>{{post.author}}</strong></span><span class="fecha margin-bottom-5 text-right pull-right">{{post.date}}</span>
                            <p><a href="{{post.link}}" class="info">{{post.description}}...</a></p>
                            <a class="info" href="{{post.link}}">Leer más ></a>
                            <span class="comentarios pull-right text-right"><i class="fa fa-comment-o fa-lg"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /Sección Blog -->