<section id="section-faq" class="section section-gris margin-0 text-center">
    <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
        <h1>Política de Privacidad del Portal Web SoyEmpleo.com</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12 text-justify">
            	<h3>Política de Privacidad de soyempleo.com</h3>
            	<p class="padding-top-20 padding-bottom-10">El presente documento describe la Política de Privacidad y el tratamiento de protección de datos que SOYEMPLEO S.A.S, con domicilio en Medellín, Colombia, da a la información recibida por medio de los formularios, campos de escritura y el uso de los servicios del Sitio Web. SoyEmpleo S.A.S es responsable del tratamiento de los datos personales ingresados al portal web SoyEmpleo.com.<br />Información de contacto SoyEmpleo SAS:<br />Dirección para correspondencia: Calle10 #43 E 72, El Poblado, Medellín.<br />Correo electrónico: hola@soyempleo.com<br />Teléfono: En Medellín (+4) 5049970 o al móvil (310) 822 9856.</p>
                <h3>1. Introducción e identificación</h3>
                <p class="padding-top-20 padding-bottom-10">De ahora en adelante, para efectos del presente; cuando se exprese “la Empresa”, se entenderá que se hace referencia a SoyEmpleo S.A.S. De igual forma, al expresarse las palabras “usuario”, “usuarios”, “clientes”, “empleadores”, “trabajadores” o “usted”; se entenderá que se hace referencia a cualquier tipo de persona, bien sea natural o jurídica que tenga alguna relación con la Empresa.</p>
                <p class="padding-top-20 padding-bottom-10">En concordancia con las leyes vigentes en materia de protección de datos de carácter personal, la ley 1581 de 2012, Data Protection Act 1998, SOYEMPLEO como titular del Sitio Web debe cumplir ciertos requisitos que garantizan que cualquier información que el Usuario nos facilite es tratada con diligencia y confidencialidad. Con el uso del sitio web y la información contenida en él se entiende que el usuario está aceptando explícitamente la presente política de privacidad. El sistema no permitirá que los usuarios ingresen datos personales sin antes haber manifestado explícitamente que aceptan la política de privacidad expuesta en el presente documento.</p>
                <h3>2. Datos personales</h3>
                <p class="padding-top-20 padding-bottom-10">Durante la fase de inscripción y registro a usted se le solicitara suministrar información relacionada con: datos personales y de contacto, su experiencia laboral, preparación académica, preferencias personales y referencias personales. Concluida la fase de inscripción y registro en el sitio web, a usted se le puede requerir que brinde a la Empresa una información específica. Esta solicitud adicional de información, se puede pedir con el fin de prestar el mejor servicio posible a los clientes que se encuentran relacionados con la Empresa. En adición, usted acepta que la Empresa suministre a terceros la información entregada por usted en el proceso de solicitud y registro. Lo anterior, se hará con el fin de brindarle el mejor servicio posible y de garantizar de manera idónea, los servicios que usted ha contratado con la Empresa. Claro está, todo esto bajo los términos y condiciones aquí presentes.</p>
                <p class="padding-top-20 padding-bottom-10">Lo anterior no obsta para que la Empresa, con el fin de dar cumplimiento a las normas y disposiciones de la ley colombiana, pueda facilitar a los entes y autoridades competentes información perteneciente a los usuarios del sitio web. La empresa en ningún momento compartirá con terceros la información perteneciente a sus usuarios, como: Datos personales y de contacto, información relacionada con  su experiencia laboral, sus preferencias personales, información relacionada con su preparación académica y referencias laborales, entre otros; sin el consentimiento expreso de los mismos. La Empresa tiene derecho para ofrecerle a usted productos y servicios pertenecientes a la página web o a terceros que guarden relación con esta; todo esto atendiendo a sus gustos o preferencias expresados durante el proceso de solicitud y registro.</p>
                <h3>3. Finalidad</h3>
                <p class="padding-top-20 padding-bottom-10">SOYEMPLEO recoge datos personales de los Usuarios con la finalidad de facilitar el contacto entre demandantes de empleo y oferentes de empleo, y de ofrecer herramientas y servicios que apoyan los procesos de búsqueda, incluyendo el envío a través del e-mail de ofertas y promociones de servicios de formación u otros productos relacionados que, atendiendo al perfil del Usuario, SOYEMPLEO considere pueden ser de su interés.</p>
                <p class="padding-top-20 padding-bottom-10">También se recogen datos agregados de los Usuarios con el fin de realizar análisis estadísticos que permiten analizar y mejorar el funcionamiento de los servicios y del Site.</p>
                <h3>4. Consentimiento del Usuario</h3>
                <p class="padding-top-20 padding-bottom-10">El uso de la Web y el registro o envío a SOYEMPLEO de datos personales supone el consentimiento expreso del Usuario al tratamiento automatizado de los datos personales facilitados, así como al envío de comunicaciones vía electrónica con información relacionada con SOYEMPLEO y sus iniciativas. El Usuario consiente que sus datos sean cedidos a terceros en cumplimiento de las funcionalidades del portal. A estos efectos se entiende por Tercero “aquellos Usuarios o entidades que deseen contactar con el Usuario” en relación a los procesos de reclutamiento. El usuario podrá poner su perfil y hoja de vida en modo invisible para las empresas cuando lo desee, en el panel de control de la cuenta.</p>
                <p class="padding-top-20 padding-bottom-10">El Usuario que se registra manifiesta su conocimiento y por tanto, consiente expresamente, que sus datos y el contenido que nos facilite serán públicos y visibles en el Sitio Web y en los buscadores de Internet, y que podrán ser facilitados a otras empresas en el marco de la prestación del servicio, como por ejemplo las empresas proveedoras de pasarelas de pago.</p>
                <p class="padding-top-20 padding-bottom-10">El Usuario consiente expresamente la cesión de sus datos a empresas asociadas o pertenecientes a SOYEMPLEO o sus accionistas para el envío de promociones y ofertas propias o de terceros relacionadas con los intereses y perfil del usuario. Los efectos de la presente autorización se extenderán a las partes implicadas en una venta, fusión, transferencia de activos o reorganización empresarial.</p>
                <h3>5. Seguridad</h3>
                <p class="padding-top-20 padding-bottom-10">La seguridad de sus datos es muy importante para SOYEMPLEO.</p>
                <p class="padding-top-20 padding-bottom-10">SOYEMPLEO ha adoptado las medidas de índole técnica y organizativas reglamentariamente establecidas para garantizar la seguridad de los datos de carácter personal y evitar su alteración, pérdida, tratamiento o acceso no autorizado, teniendo en cuenta el estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a que estén expuestos.</p>
                <p class="padding-top-20 padding-bottom-10">Cuando los clientes efectúan pagos on-line en el sitio web, la información de su tarjeta de crédito está encriptada usando el protocolo SSL (Secure Socket Layer). Este protocolo hace muy difícil que la información de su tarjeta sea interceptada durante la transmisión. Usamos varias empresas especializadas para procesar todos los pagos on-line. Si desea más información sobre las políticas de privacidad y los mecanismos de seguridad de estas empresas, por favor visite la página www.payu.com.co/latam/legal.</p>
                <h3>6. Configuración de cookies</h3>
                <p class="padding-top-20 padding-bottom-10">El Portal SoyEmpleo utiliza pequeños archivos que se almacenan en el computador del usuario, conocidos como cookies, se utilizan para mejorar la experiencia de navegación del usuario. Es la mejor manera de ofrecerle contenido personalizado y de interés a través del Portal. Las cookies hacen seguimiento de la sesión de usuario, mejoran el tiempo de carga de una web, evitan mostrar al usuario información reiterativa, etc. y son fundamentales para el buen funcionamiento del portal.</p>
                <h3>Cookies del Portal SoyEmpleo</h3>
                <p class="padding-top-20 padding-bottom-10">Existen diferentes tipos de cookies. Las que utiliza el Portal SoyEmpleo para ofrecer el mejor servicio a sus usuarios son las siguientes:</p>
                <ul>
                    <li>  Cookies estrictamente necesarias: estas cookies son esenciales para el correcto funcionamiento de los servicios esperados por el usuario, y para evitar mostrar ciertas páginas informativas que el usuario ha decidido obviar. Sin estas cookies, el usuario percibiría que el servicio solicitado no funciona correctamente.</li>
                    <li>  • Cookies analíticas: estas cookies son utilizadas por SOYEMPLEO o por terceros para monitorizar el rendimiento del usuario y para analizar sus patrones de comportamiento; número de usuarios que acceden a la web, páginas vistas o secciones visitadas; duración de la navegación; datos relacionados con los navegadores utilizados, web visitada e información específica sobre el proceso de navegación en sí. El objetivo es mejorar la experiencia del usuario en la web, en lo referente a la fuente a través de la cual el usuario accede al portal, y crear informes estadísticos sobre el tráfico web, audiencia global y audiencia de una determinada campaña publicitaria, con el fin de documentar patrones genéricos de los visitantes de la web. Informamos que uno de los terceros que podrían tener acceso a esta información es Google Analytics (<a href="http://www.google.com/intl/en/policies/technologies/cookies" target="_blank">http://www.google.com/intl/en/policies/technologies/cookies</a>) sin perjuicio de otras compañías. Para consultar la política de privacidad de Google Analytics, recomendamos acceder a sus condiciones legales a través de los anteriores enlaces. SOYEMPLEO obtiene información del usuario agregada por terceros (como edad, género e intereses) a través de Google Analytics.</li>
                    <li>  Cookies publicitarias: estas cookies son correctamente tratadas por SOYEMPLEO o por terceros, y permiten gestionar, de la manera más eficaz posible, los espacios publicitarios ofertados en la web, la adaptación del contenido al servicio solicitado, o el uso que se hace del portal. Así podemos analizar comportamientos de navegación en Internet y mostrar al usuario los anuncios que mejor se adapten a sus intereses. Además las cookies son necesarias para gestionar campañas publicitarias, mediante el seguimiento de diversas pautas como número de veces que se ha visto un anuncio, o para mejorar y gestionar la exposición de anuncios, evitando al usuario la publicidad que ya se le ha mostrado.</li>
                    <li>  Utilizamos tecnología Remarketing de Google Analytics para la publicidad online.</li>
                    <li>  Cookies comportamentales: estas cookies gestionan campañas publicitarias según el perfil específico del cada usuario.</li> 
                </ul>
                <p class="padding-top-20 padding-bottom-10">Si las cookies estrictamente analíticas, publicitarias y comportamentales no están habilitadas, no afectará al usuario. Sin embargo, los anuncios exitosos que proporcionan ingresos a SOYEMPLEO sí se verán afectados, así como la posibilidad de ofrecer servicios y contenido gratuitos.</p>
                <h3>Desactivación de cookies</h3>
                <p class="padding-top-20 padding-bottom-10">El usuario es libre de desactivar y/o eliminar cookies, siguiendo las indicaciones de su navegador de Internet. Sin embargo, estas acciones pueden reducir considerablemente la capacidad del usuario para navegar por la web e incluso hacerla incompatible con sus intereses o necesidades. Los usuarios pueden elegir en cualquier momento qué cookies desean activar a través de la configuración de su navegador.</p>
                <h3>7. Derecho de Acceso, Rectificación, Oposición y Cancelación de Datos</h3>
                <p class="padding-top-20 padding-bottom-10">El Usuario tiene derecho en cualquier momento a acceder a su información, a rectificarla si los datos son erróneos, a cambiar su configuración de privacidad, a oponerse al tratamiento de sus datos y a darse de baja de los servicios de SOYEMPLEO.</p>
                <p class="padding-top-20 padding-bottom-10">Estos derechos pueden hacerse efectivos mediante la propia configuración de la página web. En caso de problemas para la realización efectiva online así como para cualquier tipo de duda o controversia respecto a nuestra política de privacidad pueden contactarnos por escrito a:<br />Calle 10 # 43 E 72, El Poblado, Medellín.</p>
                <h3>8. Modificación de la Política de Privacidad.</h3>
                <p class="padding-top-20 padding-bottom-10">SOYEMPLEO se reserva el derecho a modificar la presente política para adaptarla a futuras novedades legislativas o jurisprudenciales.</p>
                <p class="padding-top-20 padding-bottom-10">Cualquier cambio que no se derive de la adaptación a los cambios legislativos o jurisprudenciales será publicitada en la propia Página Web o, si es significativo, comunicado por e-mail a los Usuarios.</p>
            </div>
        </div>
    </div>
</section>