<div ng-controller="recuperaController as rc">
    <section id="section-buscar-int" class="text-center padding-15">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form class="form-inline" name="formBuscar" role="form" novalidate>
                        <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 margin-right-5 text-center input-group input-group-sm pull-left">
                            <span class="input-group-addon" id="basic-addon3"><i class="fa fa-search fa-lg"></i></span>
                            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                                   placeholder="¿Qué empleo buscas?">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 padding-0">
                            <div class="styled-select">
                                <select>
                                    <option>Categoria</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 padding-0 text-center">
                            <button class="btn btn-lg bton-green padding-bottom-5 padding-top-5 padding-left-15 padding-right-15">
                                Buscar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section id="section-laboral" class="section margin-0 text-center padding-bottom-40">
        <div class="header-section2 col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
            <h1>Recuperar Contraseña</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 registro padding-20">
                    <h4>Ingresa tu nueva contraseña.</h4>

                    <div class="col-lg-offset-3 col-sm-offset-3 col-lg-6 col-md-6 col-sm-8 col-xs-12">
                        <form class="form-registro" name="formRecupera" role="form" novalidate>
                            <input type="password" placeholder="Escriba la nueva contraseña para tu cuenta" class="input margin-5"
                                   name="password" ng-model="password" minlength="6" maxlength="50" required
                                   data-ng-class='{error: password!=repetir &&
                                   (formRecupera.password.$touched && formRecupera.repetir.$touched) ||
                                   (formRecupera.password.$invalid && formRecupera.password.$dirty),
                                   success: (formRecupera.password.$valid && formRecupera.password.$dirty) &&
                                   (password==repetir)}'
                                   uib-popover="{{formRecupera.password.$touched &&
                                   formRecupera.password.$error.required ? 'Valor es requerido' : ''}}"
                                   popover-placement="bottom" popover-trigger="focus"/>

                            <input type="password" placeholder="Confirmar contraseña" class="input margin-5"
                                   minlength="6" name="repetir" ng-model="repetir" required
                                   data-ng-class='{ error: password!=repetir && (formRecupera.password.$touched &&
                                   formRecupera.repetir.$touched) || (formRecupera.repetir.$invalid &&
                                   formRecupera.repetir.$dirty),
                                       success: formRecupera.repetir.$valid &&
                                       formRecupera.repetir.$dirty &&  password==repetir}'
                                   uib-popover="{{(formRecupera.repetir.$touched && formRecupera.repetir.$error.required)
                                    || (formData.password!=formData.repetir) ? 'Contraseñas NO coinciden' : ''}}"
                                   popover-placement="bottom" popover-trigger="focus"/>

                            <div class="text-center margin-5">
                                <button class="btn btn-lg bton-green padding-right-15 padding-left-15"
                                        ng-disabled="!formRecupera.$valid"
                                        ng-click="rc.cambiarContrasena(password,repetir)">Guardar Contraseña
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>