<section class="section section-blanco margin-0 text-center">
    <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
        <h1>Nuestra Misión en <strong>SoyEmpleo</strong></h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12 text-left">
                <img src="assets/images/soyempleo_persona.png" class="img-responsive" align="left" alt="Logo SoyEmpleo" /></a>
            	<h3><strong>Misión</strong></h3>
            	<p class="padding-top-20 padding-bottom-10">La <strong>misión</strong> es conectar a las empresas con las personas correctas para cada oferta laboral.</p>
                <h3><strong>Visión</strong></h3>
                <p class="padding-top-20 padding-bottom-10">La <strong>visión</strong> es contribuir a mejorar la calidad de vida de las personas y la competitividad de las empresas, vinculando talento humano calificado con empleos de alta calidad.</p>
                <h3>¿Qué es <strong>SoyEmpleo</strong>?</h3>
                <p class="padding-top-20 padding-bottom-10">Es una plataforma virtual que conecta a las personas indicadas con las <strong>ofertas de empleo</strong> disponibles en las empresas, seleccionando el mejor perfil para cada oferta. En este momento alguna empresa está buscando urgentemente alguien como tú, registra tu hoja de vida AHORA, <strong>SoyEmpleo</strong> es gratis, fácil y efectivo! <strong>Muestra quien eres!</strong></p>
            </div>
        </div>
    </div>
</section>
<section id="section-blog" class="text-center margin-0 padding-20">
        <div class="container">
            <div class="row">
                <h1 class="padding-bottom-20 padding-top-20">Visita <strong>Nuestro Blog</strong></h1>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="post in nbc.lastPosts.posts">
                    <div class="thumbnail padding-0">
                        <div class="img-hover">
                            <a href="{{post.link}}"><img src="https://soyempleo.com/assets/images/{{post.image}}" class="img-responsive" alt="{{post.title}}">
                            <h4>{{post.title}}</h4></a>
                        </div>
                        <div class="caption text-left">
                            <span class="autor margin-bottom-5">por <strong>{{post.author}}</strong></span><span class="fecha margin-bottom-5 text-right pull-right">{{post.date}}</span>
                            <p><a href="{{post.link}}" class="info">{{post.description}}...</a></p>
                            <a class="info" href="{{post.link}}">Leer más ></a>
                            <span class="comentarios pull-right text-right"><i class="fa fa-comment-o fa-lg"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /Sección Blog -->