.bton, .bton-green{
	@include boton;
}
.bton-green{
	background-color: rgba(0,179,79,1);
	-webkit-box-shadow: 0px 3px 0px rgba(17,126,71,1), 0px 9px 10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 3px 0px rgba(17,126,71,1), 0px 9px 10px rgba(0,0,0,0.7);
    box-shadow: 0px 3px 0px rgba(17,126,71,1), 0px 9px 10px rgba(0,0,0,0.7);
	&:hover {
		color: $texto_menu;
	    background-color: rgba(0,203,90,1);
	    -webkit-box-shadow: 0px 4px 0px rgba(21,148,84,1), 0px 9px 10px rgba(0,0,0,0.7);
	    -moz-box-shadow: 0px 4px 0px rgba(21,148,84,1), 0px 9px 10px rgba(0,0,0,0.7);
	    box-shadow: 0px 4px 0px rgba(21,148,84,1), 0px 9px 10px rgba(0,0,0,0.7);
	}
}

.bton-gray{
	background-color: rgba(68,68,68,1);
	-webkit-box-shadow: 0px 3px 0px rgba(51,51,51,1), 0px 9px 10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 3px 0px rgba(51,51,51,1), 0px 9px 10px rgba(0,0,0,0.7);
    box-shadow: 0px 3px 0px rgba(51,51,51,1), 0px 9px 10px rgba(0,0,0,0.7);
	&:hover {
		color: #eaeaea;
	    background-color: rgba(68,68,68,1);
	    -webkit-box-shadow: 0px 4px 0px rgba(51,51,51,1), 0px 9px 10px rgba(0,0,0,0.7);
	    -moz-box-shadow: 0px 4px 0px rgba(51,51,51,1), 0px 9px 10px rgba(0,0,0,0.7);
	    box-shadow: 0px 4px 0px rgba(51,51,51,1), 0px 9px 10px rgba(0,0,0,0.7);
	}
}