//Estilo Form SoyEmpleo
.formas{
	padding:5%;
	input{
		height:42px;
	}
	input, textarea{
		font-size:1.4em;
		border:none;
		background-color:#e6e6e6;
		border-radius:4px;
		padding:4px 3px 4px 8px;
		color:#878787;
		margin:4px;
		width:100%;
	}
	textarea{
		height: 150px;
	}
	button{
		@include lateral(3%);
	}
}
form{
	font-family:$font;
}
.form-estudios{
	input,textarea{
		background:#e6e6e6;
	}
}
.form-registro{
	padding:2% 0 2% 14%;
	float:left;
	width:85%;
	font-size:1.3em;
	margin:0 auto;
	text-align:left;
	.label, .label-white{
		width:48%;
		float:left;
		margin:4px;
		text-align: right;
		font:{
			weight:600;
			size:1.2em;
		}
	}
	.label{
		color:$txtgrismedio;
	}
	.label-white{
		color:$texto_menu;
	}
	input, .input, .input-large{
		height:40px;
		font-size:1.2em;
		border:none;
		margin:4px;
		color:$txtgrismedio;
		padding:4px 3px 4px 8px;
		border-radius:4px;
	}
	.error{
		border:1px solid #ff0000;
	}
	.warning{
		border:1px solid #ffbb00;
	}
	.success{
		border:1px solid #00b34f;
	}
	.input{
		width:48%;
		float:left;
	}
	.input-large{
		width:97%;
	}
	textarea, .textarea, .textarea-large{
		font-size:1.2em;
		color:$txtgrismedio;
		padding:4px 3px 4px 8px;
		border:none;
		border-radius:4px;
	}
	.textarea-large{
		width:97%;
		margin:4px 0.5%;
		height: 100px;
	}
	.textarea{
		width:92.5%;
		margin:4px 5%;
		height: 150px;
	}
	button{
		margin-left:42%;
		@include lateral(3%);
	}
	.select{
		color:$txtgrisclaro;
		display: inline-table;
		line-height: 1;
	    width: 48%;
	    height:30px;
		vertical-align: middle;
	    overflow: hidden;
	    float:left;
	    margin:4px;
	    border-radius:4px;
	    background: url(../images/arrow_select.png) no-repeat 98% 50% #ffffff;
	    select{
			font-size:1.2em;
		    background: transparent;
		    border:none;
			height:40px;
		    width: 100%;
		    padding: 0 4px;
		    line-height: 1;
		    -webkit-appearance: none;
		    -moz-appearance: none;
		}
	}
	.select-gray{
		background: url(../images/arrow_select.png) no-repeat 98% 50% #e6e6e6;
	}
	.fecha{
		width: 23.5%;
		float:left;
	}
	.radio{
		position:relative;
		color:$txtgrismasclaro;
		width:100%;
		clear: both;
		float:left;
		span{
			color:$txtgrisclaro;
			font:{
				size:1.1em;
			}
		}
		label, .label-white{
			font:{
				family:$font;
				size:1.1em;
			}
		}
		label{
			color:$txtgrisclaro;
		}
		.label-white{
			color:$texto_menu;
		}
		.select{
			float:right;
			width:40%;
			margin-right:3%;
		}
	}
	input[type="checkbox"], input[type="radio"]{ display: none; }
	input[type="checkbox"] + label span,
	input[type="radio"] + label span{
	 	display: inline-block;
		width: 28px;
	 	height: 28px;
	 	background: url(../images/radiobutton.png) left top no-repeat;
	 	margin: -1px 4px 0 0;
		vertical-align: middle;
		cursor:pointer;
	}
	input[type="checkbox"]:checked + label span,
	input[type="radio"]:checked + label span{
	 	background: url(../images/radiobutton.png) -28px top no-repeat;
	}
	input[type="checkbox"]:disabled + label span,
	input[type="radio"]:disabled + label span{
	 	background: url(../images/radiobutton.png) -56px top no-repeat;
	}
	.terminos{
		label{
			font:{
				weight:300;
				size:0.9em;
				color:#c8c8c8;
			}
		}
	}
	p{
		width:100%;
		clear:both;
		.texto{
			font:{
				size:1em;
			}
		}
	}
}