//Resolucion Smartphone
@media (min-width: 320px) and (max-width: 478px){
	.navbar-header{
		width: 100%;
		.navbar-brand{
		    padding: 0em;
		    width: auto;
		}
	}
	.navbar-default{
		.navbar-toggle {
			border: none;
			float: left;
		}
	}
	.navbar-nav {
		display:none;
	}
	.navbar-brand{
		padding: 0px;
	}
	.container{
    	width: 100%;
    }
    .side-persona, .side-empresa {
    	h1{
	   		display: none;
    	}
	}
	#section-somos{
		img {
   			 display: none;
		}
	}
    .menu-bottom{
    	display: none;
    }
    #section-clientes{
    	display: none;
    }
    #section-buscar, #section-buscar-int{
    	input, button{
    		width: 100%;
    	}

		.form-inline{
			.styled-select {
				margin-top: 2%;
				margin-bottom: 2%;
    			width: 100%;
    			select{
					width: 100%;
				}
			}
			
		}
    }
    #section-somos{
    	background:$back_blanco !important;
    	text-shadow:none;
    	color:#333333;
    	h1 {
		    font-size: 1.7em;
		}
		h3 {
		    font-size: 1em;
		}
    	button {
	    	padding-left: 0px;
	    	padding-right: 0px;
		}
	}
	.embed-responsive-4by3 {
	    margin: 1em 1em;
	}
	.newsletter{
		p {
	    	width: 100%;
		}
		form{
			input, button{
				margin-top:0.5em;
			}
			button{
				width:100%
			}
		}
	}
	.derechos{
		.copy{
			content: "© 2015 SoyEmpleo.com";
		}
		.credito{
			display: none;
		}
	}
	.ad {
	    margin-top: 5%;
	    img{
	    	display: none;
	    }
	}
}
@media (min-width: 479px) and (max-width: 588px){
	.menu-bottom{
    	display: none;
    }
    .navbar-header{
    	width: 100%;
    	.navbar-brand{
    		width: auto;
    	}
    }
    .navbar-default{
		.navbar-toggle {
			border: none;
			float: left;
		}
	}
	.navbar-nav {
		display:none;
	}
    .container{
    	width: 100%;
    }
    .mask{
    	padding-top: 27%;
    	img{display:none;}
    }
    #section-buscar, #section-buscar-int{
    	input{
    		width: 100%;
    	}
    	.input-group {
    		margin-left: 0;
    	}
		.form-inline{
			.styled-select {
				margin-left: 0;
    			margin-top: 1%;
    			width: 76%;
			}
			select{
				width: 100%;
			}
		}
    }
    #section-clientes{
    	display: none;
    }
    #section-ofertas{
    	.panel{
    		.panel-heading{
    			img{
    				width:100%;
    			}
    		}
    	}
    }
    .newsletter{
    	p{
			text-align: left;
			float:left;
			width:100%;
		}
		form{
			input, button{
				margin-top:0.5em;
			}
			button{
				width:100%
			}
		}
    }
    .derechos{
		.credito{
			display: none;
		}
	}
	.ad {
	    margin-top: 5%;
	    img{
	    	display: none;
	    }
	    button{
	    	width:100%;
	    }
	}
}
//Resolucion Tablet PC
@media (min-width: 589px) and (max-width: 767px){
	.navbar-header{
		width: 100%;
    	.navbar-brand{
    		padding:0em 2em 0 3em;
    		width: auto;
    	}
    }
    .navbar-default{
		.navbar-toggle {
			border: none;
			float: left;
		}
	}
    .navbar-nav {
		display:none;
	}
	.container{
    	width: 100%;
    }
    #section-clientes{
    	display: none;
    }
    .menu-bottom{
    	display: none;
    }
    #section-buscar, #section-buscar-int{
    	input{
    		width: 100%;
    	}
    	.input-group {
    		margin-left: 0;
    	}
		.form-inline{
			.styled-select {
				margin-left: 0;
    			margin-top: 1%;
    			width: 76%;
			}
			select{
				width: 100%;
			}
		}
    }
    #section-ofertas{
    	.panel{
    		.panel-heading{
    			img{
    				width:100%;
    			}
    		}
    	}
    }
    .newsletter{
    	p{
			text-align: left;
			float:left;
			width:100%;
		}
		form{
			input, button{
				margin-top:0.5em;
			}
			button{
				width:100%
			}
		}
    }
    .derechos{
		.credito, .copy, .redes{
			width: auto;
			float:left;
		}
	}
	#section-contacto{
		.formas {
    		padding-left: 0;
    	}
	}
	.formas {
	    padding: 0;
	}
	.ad {
	    margin-top: 5%;
	    img{
	    	padding-left:0;
	    }
	}
}
@media only screen and (min-width: 1440px) {
    body{
    	font-size:1.8em;
    }
    .side-persona{
		background:url(../images/banner_left_top_blur.jpg) no-repeat top center;
		&:hover{
			background:url(../images/banner_left_top.jpg)no-repeat top center;
		}
	}

	.side-empresa{
		background:url(../images/banner_right_top_blur.jpg) no-repeat top center;
		&:hover{
			background:url(../images/banner_right_top.jpg)no-repeat top center;
		}
	}
    #section-clientes{
	    .thumbnail{
	    	height:200px;
	    }
	}
}
@media only screen and (min-width: 1720px) {
	.mask{
		img{
			margin:13% 20% 2% 25%;
		}
	}
}
@media only screen and (min-width: 1820px) {
	.mask{
		img{
			margin:10.5% 20% 2% 30%;
		}
	}
}