.menu {
  	background-color: $azul_rey;
  	color: $texto_menu;
  	min-height: 50px;
}
.navbar-static-top {
    border-width: 0;
}
.navbar-header{
	background-color:$back_blanco;
	width:20%;
	.navbar-brand{
		padding:0em 2em 0 3em;
		width:100%;
		img{
			@include inicial;
			vertical-align:top;
		}
	}
}
.nav{
	>li{
		>a{
			&:hover{
				background-color:none;
			}
		}
	}
}
.top-menu{
	float: right;
	font:{
		family: $font;
		size: 1.1em;
		weight:400;
	}
	ul {
		@include inicial;
   		li{
			border-top: 5px solid rgba(0, 0, 0, 0);
		    display: inline-block;
		    position: relative;
		    a{
	    		color: $texto_menu;
			    display: block;
			    padding: 10px 13px 5px;
			    text-decoration: none;
		    }
		    &:hover{
		    	border-top: 5px solid #2b3980;
		    }
		    .active{
		    	border-top: 5px solid #7dcd40;
		    }
		    &:last-child{
		    	&::before{
			   		display: none;
				}
			}
   		}
		li::before {
		    border-right: 1px solid #fff;
		    content: "";
		    height: 1.2em;
		    position: absolute;
		    right: 0;
		    top: 12px;
		}
	}
}
.login {
    margin: 0.4em 0 0 0.2em;
    position: relative;
    &::before {
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-top: 10px solid #16210b;
	    bottom: -23px;
	    left: 50%;
	    margin-left: -10px;
	    position: absolute;
	    transition: border 0.5s ease-out 0s;
	}
	button{
		i{
			margin-right:13px;
			background-color:rgba(0,159,70,1);
		}
	}
}