//Mixins

@mixin inicial{
	margin: 0;
   	padding: 0;
}

@mixin capas{
	width:100%;
	margin:0 auto;
}

@mixin lateral($padding){
    padding-left:$padding;
    padding-right: $padding;
}

@mixin boton{
	color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(46,180,88,1);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    border-color:none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 9px 0px rgba(166,166,166,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(166,166,166,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(166,166,166,1), 0px 9px 25px rgba(0,0,0,.7);
    text-align: center;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}