#section-menu-perfil{
	background-color:$back_blanco;
	margin:0 auto;
	padding:2%;
	text-align:center;
	ul{
		list-style: none;
		margin:0 auto;
		display: block;
		padding-left:25%;
		li{
			float:left;
			padding:0 15px;
			display: inline-block;
		    position: relative;
			font:{
				size:1.3em;
				weight:400;
			}
			a{
				color:$azul_oscuro;
				display: block;
				&:hover{
					color:$azul_rey;
				}
			}
			.active{
				color:$azul_rey;
				text-decoration: underline;
			}
			&:last-child{
		    	&::before{
			   		display: none;
				}
			}
		}
		li::before {
		    border-right: 1px solid $azul_oscuro;
		    content: "";
		    height: 1.2em;
		    position: absolute;
		    right: 0;
		}
	}
}
#section-info{
	p{
		text-align:left;
		font:{
			size:1.5em;
			weight:400;
		}
		color:#000;
	}
	.foto{
		top:-55px;
		z-index: 9999;
		position:relative;
		button{
			margin-top:15px;
		}
	}
	.porciento{
		color:$txtgrismasclaro;
		text-align: center;
		padding:0;
		font:{
			size:1.4em;
			weight:400;
		}
		.porcentaje{
			font:{
				size:4.5em;
				weight:700;
			}
		}
	}
}
#section-sugerencias{
	.odd{
		background-color: $back_section;
	}
	.nodd{
		background-color: $back_blanco;
	}
	.odd, .nodd{
		margin:0;
		width:100%;
		height:128px;
		display:inline-block;
		.logo{
			width:30%;
		}
		.detalle{
			width:50%;
			text-align:left;
			padding-left:6%;
			div{
				padding:0;
				font:{
					size:1.3em;
					weight:400;
				}
			}
		}
		.boton{
			width:20%;
			padding:3% 0 0 0;
		}
		.logo, .detalle, .boton{
			float:left;
		}
	}
}