//style.scss
strong{
	font-weight: 600;
}
body{
	background-color:$back_section;
}
.clear{
	clear:both;
}
.center{
	text-align:center;
}
.navbar{
	margin-bottom:0px;
}
.navbar-right {
    margin-right: 0px;
}
//Estilo Banner Ppal
#headerwrap{
	margin:0 auto;
}
.side-persona{
	background:url(../images/banner_left_top_blur1.jpg) no-repeat top center;
	&:hover{
		background:url(../images/banner_left_top1.jpg)no-repeat top center;
	}
}

.side-empresa{
	background:url(../images/banner_right_top_blur1.jpg) no-repeat top center;
	&:hover{
		background:url(../images/banner_right_top1.jpg)no-repeat top center;
	}
}
.side-persona, .side-empresa{
	@include inicial;
	height: auto;
	text-align:center;
	color:$texto_menu;
	img{
		text-align: center;
		padding:.5em 31%;
		width: 100%;
		max-width: 100%;
	}
	h1{
		padding-top:1.5em;
	}
	.banner_bttom{
		clear: both;
		width: 100%;
		background-color:rgba(7,39,115,.6)!important;
		height: 24%;
		padding-top:1em;
		display: inline-block;
		a{
			color: $texto_menu;
			&:hover{
				text-decoration: underline;
			}
		}
		>.button{
			margin-top: 12px;
			margin-bottom: 10px;
			@include lateral(30px);
			font-size:1.3em;
		}
		p{
			font:{
				size:1.3em;
			}
		}
	}
}
//Estilo Barra Buscar
#section-buscar{
	text-align:center;
	background-color:$azul_oscuro;
	clear:both;
	padding: 15px 10px;
	button{
		font-size:1.2em;
		@include lateral(20px);
	}
	input{
		width:350px;
		border:none;
	}
	.input-group-addon{
		background-color: $back_blanco;
		color:$txtgrisoscuro;
	}
	.styled-select{
		border-collapse:separate;
		position:relative;
	}
	.form-inline{
		.styled-select{
		    border-radius: 6px;
		    box-shadow: 0 1px 1px rgba(0, 0, 0, .5) inset !important;
		    display: inline-table;
		    font-size: 14px;
		    height: 34px;
		    line-height: 1;
		    width: 240px;
			vertical-align: middle;
		    overflow: hidden;
		    background: url(../images/arrow_select.png) no-repeat right #ffffff;
		    border: 1px solid #eee;
		    color: #9f9999;
			select {
			    background: transparent;
			    width: 268px;
 				padding: 5px;
			    font-size: 18px;
			    line-height: 1;
			    border: 0;
			    height: 44px;
			    -webkit-appearance: none;
			    -moz-appearance: none;
		    }
		}
	}
}
//Estilo Somos
#section-somos{
	background:#3350AC url(../images/bkg_section2.jpg) no-repeat top center !important;
	background-size:cover;
	color:$texto_menu;
	text-align:center;
	width:100%;
	display: inline-block;
	height:auto;
	font-family:$font;
	h1{
		font:{
			size:2em;
		}
		text-shadow: 2px 2px 5px #333333;
	}
	h2{
		font:{
			size:2em;
			weight:300;
		}
	}
	h3{
		font:{
			size:1.4em;
		}
	}
	img{
		padding:1.5em ;
		vertical-align: middle;
		display: inline-block;
	}
	button{
		@include lateral(30px);
		font-size: 1.8em;
	}
	.form-registro{
		button {
			@include lateral(15px);
			font-size: 1.5em;
			margin-top: 6%;
			margin-left:37%;
		}
	}
}
.embed-responsive-4by3 {
	padding-top:15%;
	@include lateral(20%);
    padding-bottom: 30%;
    margin:5em 3em;
    box-shadow:2px 2px 3px #16210b;
    border-radius: 5px;
}
//Estilo Ofertas
.panel-heading {
	padding:0px;
}
#section-ofertas{
	background-color:$back_section;
	text-align:center;
	padding:1.7em .5em;
	h1{
		font:{
			size:1.4em;
		}
		color:#333333;
	}
	.col-sm-4{
		padding-left:0px;
	}
	.panel{
		.panel-body{
			text-align: left;
			h4{
				color:$azul_rey;
				font-size:1.1em;
			}
			p{
				font-size: 1.1em;
			}
		}
		.panel-footer {
		    background-color: $back_blanco;
		    border-top: none;
		}
	}
}
//Estilo Clientes
#section-clientes{
	text-align:center;
	background-color: $back_blanco !important;
	display:inline-block;
	width:100%;
	@include inicial;
	h1{
		padding:1em;
		font:{
			size: 1.4em;
		}
	}
	.carousel {
	    margin-bottom: 0;
	    padding: 0 40px 30px 40px;
	}
	.carousel-control {
	    height: 40px;
		width: 40px;
	    margin-top: 50px;
	    opacity: 1;
	}
	.carousel-control.right {
		right: -12px;
		background-image: none;
    	background-repeat: no-repeat;
	}
	.carousel-indicators {
		right: 50%;
		top: auto;
		bottom: -10px;
		margin-right: -19px;
	}
	.carousel-indicators li {
		background-color: $back_blanco;
	}
	.carousel-indicators .active {
		background-color: $back_blanco;
	}
	.carousel-control.left {
		background-image: none;
    	background-repeat: no-repeat;
	}
	.view{
		display: block;
		overflow: hidden;
		position:relative;
	}
}

.mask{
	background-color: rgba(73,91,193,.7)!important;
    color: $texto_menu !important;
    opacity:0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 1%;
    &:hover{
    	opacity:1;
    	transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
    }
    img{
    	margin:15.5% 20% 2% 20%;
    }
	a.info{
    	padding:7px;
    	color:$texto_menu;
    	border-radius:6px;
    	font-weight: 600;
    	text-decoration: none;
    	border:2px solid rgba(255,255,255,1);
    	-webkit-box-shadow: 0px 0px 0px rgba(48,80,172,1), 0px 9px 20px rgba(48,80,172,0.8);
	    -moz-box-shadow: 0px 0px 0px rgba(48,80,172,1), 0px 9px 20px rgba(48,80,172,0.8);
	    box-shadow: 0px 0px 0px rgba(48,80,172,1), 0px 9px 20px rgba(48,80,172,0.8);
    }
}
//Estilo Blog
#section-blog{
	text-align:center;
	padding: 1.4em;
	margin:0 auto;
	h1{
		font:{
			size:1.4em;
		}
	}
	.thumbnail{
		padding:0px;
		border:none;
		background:transparent !important;
		h4{
			position:relative;
			color: $texto_menu;
			font:{
				size:1.1em;
			}
			top:-40px;
			z-index: 5;
		}
		.img-hover {
		    width:100%;
		    height:auto;
		    overflow: hidden;
		    img {
			    -webkit-transition: all 1s ease; /* Safari and Chrome */
			    -moz-transition: all 1s ease; /* Firefox */
			    -o-transition: all 1s ease; /* IE 9 */
			    -ms-transition: all 1s ease; /* Opera */
			    transition: all 1s ease;
			    width: 100%;
			}
			&:hover img {
			    -webkit-transform:scale(1.25); /* Safari and Chrome */
			    -moz-transform:scale(1.25); /* Firefox */
			    -ms-transform:scale(1.25); /* IE 9 */
			    -o-transform:scale(1.25); /* Opera */
			     transform:scale(1.25);
			}
		}
		.caption{
			position:relative;
			background:#1E2830;
			color: $texto_menu;
			text-align:left;
			font-size: 0.9em;
			top:-40px;
			z-index:999;
			>span{
				width: 50%;
				float: left;
				margin-bottom: 5px;
			}
			.info{
				color: $texto_menu;
				&:hover{
					text-decoration: underline;
				}
			}
			.fecha{
				text-align: right;
			}
			.comentarios{
				float:right;
				text-align: right;
			}
			&:hover{
				cursor: pointer;
				background:$azul_rey;
			}
		}
	}
}
//Estilo Contacto
#section-contacto{
	text-align:center;
	padding: 1.4em;
	margin:0 auto;
	background-color: $back_blanco;
	.formas{
		padding-left:15%;
	}
}
.header-contacto{
	background:$azul_rey url(../images/hdr_contacto.jpg) no-repeat top center !important;
	margin:0 auto;
	.encabeza{
		padding-left:10%;
		padding-right:5%;
		color: $texto_menu;
		img{
			padding:3% 1% 2% 4%;
			float: left;
		}
		h2{
			float:left;
			font-size:1.6em;
			padding:3% 1% 0% 0%;
			text-shadow:2px 2px 3px #16210b;
		}
		p{
			float: left;
		    font-size: 1.3em;
		    line-height: 1.4;
		    padding-left: 4%;
		    width: 55%;
		}
	}
}
.ad{
	background-color:$azul_rey;
	padding:1em;
	margin-top:11%;
	text-align:center;
	img{
		float:left;
		padding-left:45%;
	}
}
//Registro Persona
#section-bienvenida{
	width:100%;
	margin:0 auto;
	text-align:center;
	background-color: $back_blanco;
	display:inline-block;
	h2{
		padding:0;
		color:$azul_rey;
		font:{
			size:1.7em;
			family: $font;
			weight:normal;
		}
	}
}
#section-buscar-int{
	text-align:center;
	background-color:$azul_oscuro;
	clear:both;
	padding: 12px 7px;
	button{
		font-size:1.1em;
		padding-top:5px;
		padding-bottom:5px;
		@include lateral(15px);
		border-radius:2px;
		margin-left: 1%;
	}
	input{
		border:none;
	    font-size: 14px;
	    height: 34px;
	    margin-right: 1.5%;
	    width: 420px;
	}
	.input-group-addon{
		background-color: $back_blanco;
		color:$txtgrisoscuro;
	}
	.styled-select{
		border-collapse:separate;
		position:relative;
	}
	.form-inline{
		.styled-select{
		    border-radius: 2px;
		    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset !important;
		    display: inline-table;
		    font-size: 12px;
		    height: 24px;
		    line-height: 1;
		    width: 240px;
			vertical-align: middle;
		    overflow: hidden;
		    background: url(../images/arrow_select.png) no-repeat right #ffffff;
		    border-color: none;
		    color: #9f9999;
			select {
			    background: transparent;
			    width: 100%;
 				padding: 5px;
			    font-size: 14px;
			    line-height: 1;
			    border: 0;
			    height: 35px;
			    -webkit-appearance: none;
			    -moz-appearance: none;
		    }
		}
	}
}
.registro{
	padding:2em;
	margin:0 auto;
	p{
		@include lateral(15%);
		font:{
			weight:300;
			size:1.2em;
		}
	}
	.flotante{
		float:left;
	}
}
.errormensaje{
	width:100%;
	text-align:left;
	font:{
		size:0.81em;
		weight:600;
	}
	color:#ffbb00;
	padding: 0 4%;
}
#section-asistente{
	background:rgba(73, 91, 193, .9)!important;
	margin:0 auto;
	text-align:center;
	clear:both;
	h2{
		font:{
			size:2em;
			weight:400;
		}
		color:$texto_menu;
	}
}

.header-section2, .header-section{
	margin:0 auto;
	text-align:center;
	padding:1px 0 3px 0;
	h1{
		font:{
			size:2.1em;
			weight:600;
		}
	}
}
.header-section{
	background:$azul_rey!important;
	h1{
		color:$texto_menu;
	}
}
.header-section2{
	background:$back_blanco !important;
	h1{
		color:$azul_rey;
	}
}
#section-datos{
	padding: 1.3em;
	margin:0 auto;
	background-color:$back_section;
	text-align:center;
	h3{
		text-align: center;
		color:#8d8d8d;
		font-weight: 300;
	}
}
#section-estudios, #section-idiomas, #section-laboral, 
#section-skills, #section-preferencias, #section-referencias,
#section-postulacion, #section-info, #section-sugerencias, #section-hojadevida{
	padding-bottom:1.3em;
	font-family:$font;
	margin:0 auto;
	text-align:center;
	p{
		padding:20px 0 10px 0;
		font:{
			weight:300;
			size:1.3em;
		}
	}
	h4{
		padding:0px 0 10px 0;
		font:{
			weight:300;
			size:2.25em;
		}
	}
}
#section-estudios, #section-preferencias, #section-hojadevida{
	background-color: $back_blanco;
	color:$txtgrismedio;
}
#section-idiomas, #section-skills, #section-referencias,
#section-postulacion, #section-info, #section-sugerencias{
	background-color:$back_section;
	color:$txtgrismedio;
}
#section-skills{
	.mas-palabras{
		width:98%;
		margin:0.5% 1%;
		button{
			margin-left:32.5%;
			margin-top: 2%;
			margin-bottom: 3%;
		}
		.keywords{
			float:left;
			background-color:#cdcdcd;
			color:$texto_menu;
			border-radius:20px;
			padding:7px 17px;
			margin:4px 3px;
		}
		.activo{
			background-color:$azul_rey;
		}
	}
}
#section-laboral{
	background-color:$azul_rey;
	color:$texto_menu;
	form{
		input[type="checkbox"] + label span,
		input[type="radio"] + label span{
		 	display: inline-block;
			width: 28px;
		 	height: 28px;
		 	background: url(../images/radiobutton-blanco.png) left top no-repeat;
		 	margin: -1px 4px 0 0;
			vertical-align: middle;
			cursor:pointer;
		}
		input[type="checkbox"]:checked + label span,
		input[type="radio"]:checked + label span{
		 	background: url(../images/radiobutton-blanco.png) -28px top no-repeat;
		}
		input[type="checkbox"]:disabled + label span,
		input[type="radio"]:disabled + label span{
		 	background: url(../images/radiobutton-blanco.png) -56px top no-repeat;
		}
		button{
			margin-left:31.5%;
		}
	}
}

//Estilo del Footer
.footer{
	clear: both;
    margin: 0 auto;
    font:{
    	family: $font;
    }
}
.newsletter{
	color:$texto_menu;
	background-color:$azul_oscuro;
	@include capas;
	padding: 2px 0px 10px 0px;
	h3{
		font-size:1.3em;
		font-weight: 600;
		padding:5px 0px 5px 0px;
	}
	p{
		text-align: left;
		float:left;
		width:42%;
	}
}

.derechos{
	color:$texto_menu;
	background-color: $azul_rey;
	padding:.7em;
	@include capas;
	a{
		color: $texto_menu;
		font:{
			weight:600;
		}
	}
	ul{
		@include inicial;
		list-style: none;
		li{
			float:left;
			padding: 0.5em;
		}
	}
}

.menu-bottom{
	color:$txtgrisclaro;
	border-top:1px solid;
	border-bottom:1px solid;
	border-top-color: $back_section;
	border-bottom-color: $back_section;
	padding:5em 3em 4em 2em;
	background-color: $back_blanco;
	>strong{
		font-weight: 600;
	}
	ul{
		@include inicial;
		list-style: none;
		li{
			a{
				color:$txtgrisclaro;
			}
		}
	}
}