<div class="panel-group body-accordion" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel-heading profile" id="profile" ng-cloak>
        <div class="col-xs-4 pull-left profile-img">
            <img src="{{userAvatar}}" class="img-circle" alt=""
            style="width: 65px !important; height: 65px !important;"/>
        </div>
        <div class="col-xs-6">
            <small class="text-green-soy"><strong>Bienvenido</strong></small>
            <br/>
            <h4 class="text-blue-soy font-size-18 mouse-pointer" np-redirect="">{{lt.nombreSaludo}}</h4>
        </div>
    </div>
    <div class="panel-heading margin-top-80" role="tab" id="share">
        <h4 class="panel-title ">
            <div class="fb-share-button" data-href="http://soyempleo.com/"
            data-layout="button_count"></div>
        </h4>
    </div>
    <div class="panel-heading" role="tab" id="DatosPersonales">
        <h4 class="panel-title ">
            <button data-toggle="collapse" class="collapsed btn-accordion" data-parent="#accordion"
                href="#resumenCollapse" aria-expanded="false" np-redirect="actualiza">
                <span class="material-icons col-xs-3"><i class="fa fa-info-circle"></i></span>
                <span class="col-xs-9 text-left title-in-button">Datos Personales</span>
            </button>
        </h4>
    </div>
    <div class="panel-heading" role="tab" id="Estudios">
        <h4 class="panel-title ">
            <button data-toggle="collapse" class="collapsed btn-accordion" data-parent="#accordion"
            href="#estudiosCollapse" aria-expanded="false" aria-controls="estudiosCollapse">
            <span class="material-icons col-xs-3"><i class="fa fa-graduation-cap font-size-24"></i></span>
            <span class="col-xs-9 text-left title-in-button">
                    Estudios</span>
            </button>
        </h4>
    </div>
    <div id="estudiosCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="usuarios">
        <div class="panel-body link-accordion">
            <button np-redirect="estudios">
                <span>Estudios</span></button>
        </div>
        <div class="panel-body link-accordion">
            <button np-redirect="/idiomas">
                <span>Idiomas & Software</span></button>
        </div>
    </div>
    <div class="panel-heading" role="tab" id="Experiencia">
        <h4 class="panel-title ">
            <button data-toggle="collapse" class="collapsed btn-accordion" data-parent="#accordion"
            href="#experienciaCollapse" aria-expanded="false"
            aria-controls="experienciaCollapse">
                <span class="material-icons col-xs-3"> <i class="fa fa-briefcase"></i> </span>
                <span class="col-xs-9 text-left title-in-button" np-redirect="/experiencia">Experiencia</span>
            </button>
        </h4>
    </div>
    <div class="panel-heading" role="tab" id="profesional">
        <h4 class="panel-title ">
            <button data-toggle="collapse" class="collapsed btn-accordion" data-parent="#accordion"
            href="#profesionalCollapse" aria-expanded="false"
            aria-controls="profesionalCollapse">
                <span class="material-icons col-xs-3"><i class="fa fa-user"></i></span>
                <span class="col-xs-9 text-left title-in-button">Perfil Profesional</span>
            </button>
        </h4>
    </div>
    <div id="profesionalCollapse" class="panel-collapse collapse" role="tabpanel"
    aria-labelledby="usuarios">
        <div class="panel-body link-accordion">
            <button np-redirect="profesional">
                <span>¿Quien eres?</span></button>
        </div>
        <div class="panel-body link-accordion">
            <button np-redirect="/logros">
                <span>Logros</span></button>
        </div>
        <div class="panel-body link-accordion">
            <button np-redirect="/habilidades">
                <span>Habilidades</span></button>
        </div>
    </div>
    <div class="panel-heading" role="tab" id="preferencias">
        <h4 class="panel-title ">
            <button data-toggle="collapse" class="collapsed btn-accordion" data-parent="#accordion"
            href="#preferenciasCollapse" aria-expanded="false"
            aria-controls="preferenciasCollapse">
                <span class="material-icons col-xs-3"><i class="fa fa-star"></i></span>
                <span class="col-xs-9 text-left title-in-button" np-redirect="/preferencias">Preferencias</span>
            </button>
        </h4>
    </div>
    <div class="panel-heading" role="tab" id="referencias">
        <h4 class="panel-title ">
            <button data-toggle="collapse" class="collapsed btn-accordion" data-parent="#accordion"
            href="#referenciasCollapse" aria-expanded="false"
            aria-controls="referenciasCollapse">
                <span class="material-icons col-xs-3"><i class="fa fa-users"></i></span>
                <span class="col-xs-9 text-left title-in-button" np-redirect="/referencias">Referencias</span>
            </button>
        </h4>
    </div>
</div>