body {
    background-color: #eaeaea !important;
}

.body, html {
    background-color: #EAEAEA !important;
}

.section {
    margin-bottom: 7px !important;
}

#section-bienvenida, .section {
    font-family: "Open Sans", sans-serif !important;
}

#section-menu-perfil {
    background-color: #fff
}

#section-menu-perfil ul {
    list-style: none;
    display: block
}

#section-menu-perfil ul li {
    float: left;
    display: inline-block;
    position: relative;
    font-size: 1.3em;
    font-weight: 400
}

#section-menu-perfil ul li a {
    color: #1E2830;
    display: block
}

#section-menu-perfil ul li a:hover {
    color: #495bc1
}

#section-menu-perfil ul li:last-child::before {
    display: none
}

#section-menu-perfil ul .active {
    color: #495bc1;
    text-decoration: underline
}

#section-menu-perfil ul li::before {
    border-right: 1px solid #1E2830;
    position: absolute
}

#section-info {
    padding-bottom: 1px
}

#section-info p {
    font-size: 1.5em;
    font-weight: 400;
    color: #000
}

#section-info .foto {
    z-index: 9999;
    position: relative;
    top: 25px;
}

#section-info .foto img {
    border: 2px solid #495bc1
}

#section-info .porciento {
    color: #bababa;
    font-size: 130%;
    font-weight: 400;
    line-height: 1;
    z-index: 5;
    position: relative;
}

#section-info .porciento .porcentaje {
    font-size: 500%;
    font-weight: 900
}

#section-sugerencias .odd {
    background-color: #eaeaea
}

#section-sugerencias .nodd {
    background-color: #fff
}

#section-sugerencias .nodd, #section-sugerencias .odd {
    display: inline-block;
    border-bottom: 1px solid #fff
}

#section-sugerencias .nodd .detalle h3, #section-sugerencias .odd .detalle h3 {
    font-size: 150%
}

#section-sugerencias .nodd .detalle div, #section-sugerencias .odd .detalle div {
    font-size: 1.3em;
    font-weight: 400
}

.hojadevida .mas-palabras .keywords {
    float: left;
    background-color: #cdcdcd;
    color: #fff;
    border-radius: 20px;
    padding: 7px 17px;
    margin: 4px 3px
}

.hojadevida .mas-palabras .activo {
    background-color: #495bc1
}

.hojadevida .skills span {
    color: #495bc1;
    font-weight: 400
}

.hojadevida .items {
    font-size: 130%
}

.hojadevida .items span {
    color: #495bc1;
    padding: 15px 35px;
    text-decoration: uppercase;
    line-height: 1.2;
    letter-spacing: -.5px
}

.hojadevida .items .dominio {
    color: #000
}

.config .items, .editarhv .items, .seguir .items {
    font-size: 125%
}

.config .items span, .editarhv .items span, .seguir .items span {
    color: #878787;
    padding: 15px 25px;
    text-decoration: uppercase;
    line-height: 1.2;
    letter-spacing: -.5px
}

.config .items .dominio, .editarhv .items .dominio, .seguir .items .dominio {
    color: #000
}

.config .add, .editarhv .add, .seguir .add {
    font-size: 140%;
    color: #000
}

.config table, .editarhv table, .seguir table {
    font-size: 145%;
    color: #000
}

.config table thead tr th, .editarhv table thead tr th, .seguir table thead tr th {
    font-weight: 600;
    padding: 30px 5px
}

.config table tbody tr td, .editarhv table tbody tr td, .seguir table tbody tr td {
    position: relative;
    padding: 15px 7px
}

.config table tbody tr td .titulo, .editarhv table tbody tr td .titulo, .seguir table tbody tr td .titulo {
    font-weight: 400;
    font-size: 130%
}

.config table tbody tr td .detalle, .editarhv table tbody tr td .detalle, .seguir table tbody tr td .detalle {
    color: #878787
}

.config table tbody tr td:last-child::before, .editarhv table tbody tr td:last-child::before, .seguir table tbody tr td:last-child::before {
    display: none
}

.config table tbody tr td::before, .editarhv table tbody tr td::before, .seguir table tbody tr td::before {
    border-right: 2px solid #ddd;
    content: "";
    height: 3em;
    position: absolute;
    right: 0;
    top: 25px
}

#section-listar .filtro {
    background-color: #eaeaea;
    font-size: 145%;
    font-weight: 600;
    color: #878787
}

#section-listar .filtro .titulo {
    padding: 3% 4%;
    text-transform: uppercase
}

#section-listar .filtro .header {
    background-color: #495bc1;
    color: #fff;
    text-transform: uppercase;
    padding: 2% 4%;
    margin: 1% 0
}

#section-listar .filtro .body {
    padding: 2% 4%;
    height: auto;
    overflow: auto
}

#section-listar .filtro .body .list {
    display: inline-block;
    font-weight: 400;
    font-size: 90%
}

#section-listar .filtro .body label {
    font-weight: 400
}

#section-listar .filtro .body #custom-search-input {
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    background-color: #fff
}

#section-listar .filtro .body #custom-search-input input {
    border: 0;
    box-shadow: none
}

#section-listar .filtro .body #custom-search-input button {
    margin: 2px 0 0;
    background: 0 0;
    box-shadow: none;
    border: 0;
    color: #666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc
}

#section-listar .filtro .body #custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc
}

#section-listar .filtro .body #custom-search-input .glyphicon-search {
    font-size: 145%;
    color: #495bc1
}

#section-listar .resultado .list-item {
    display: inline-block
}

#section-listar .resultado .list-item .oferta {
    border: 2px solid #495bc1;
    display: inline-block;
    color: #878787;
    font-size: 130%
}

#section-listar .resultado .list-item .oferta .hd-oferta {
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 130%
}

#section-listar .resultado .list-item .oferta .em-oferta {
    color: #000
}

#section-listar .resultado .pagination .anterior > a, #section-listar .resultado .pagination .siguiente > a {
    background-color: #495bc1 !important;
    color: #fff !important;
    font-weight: 600
}

#section-listar .resultado .pagination > li > a, #section-listar .resultado .pagination > li > span {
    font-size: 145%;
    margin: 0 5px
}

#section-hd-oferta p {
    font-size: 130%
}

#section-hd-oferta img {
    border: 1px solid #495bc1
}

#section-dt-oferta {
    color: #000;
    font-size: 120%
}

#section-dt-oferta .titulo {
    font-size: 145%;
    font-weight: 600;
    text-transform: uppercase
}

#section-dt-oferta .detalle {
    font-size: 135%
}

#section-dt-oferta .descripcion {
    border-bottom: 1px solid #bababa;
    display: inline-block
}

#section-dt-oferta .descripcion p {
    font-size: 110%
}

#section-dt-oferta strong {
    font-size: 127%
}

#section-dt-oferta .compartir {
    background-color: #495bc1;
    color: #fff;
    font-size: 130%;
    font-weight: 600
}

#section-dt-oferta .compartir > ul {
    list-style: none;
    display: inline-block
}

#section-dt-oferta .compartir > ul > li {
    float: left
}

#section-dt-oferta .compartir > ul > li a {
    color: #fff
}

#section-dt-oferta hr {
    border: 2px solid #878787
}

#section-dt-oferta h4 {
    color: #495bc1;
    font-size: 120%;
    font-weight: 600
}

#section-dt-oferta .sugeridas {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #495bc1
}

#section-dt-oferta .sugeridas p {
    color: #878787;
    font-size: 100%;
    font-weight: 400
}

#section-modal-referidos {
    border-radius: 20px;
    border: 5px solid #495bc1
}

#section-modal-referidos .msg {
    color: #878787;
    font-weight: 400
}

#section-modal-referidos .msgfinal {
    font-weight: 400
}

.section p {
    font-weight: 300;
    font-size: 1.3em
}

.section h4 {
    font-weight: 300;
    font-size: 1.8em
}

.section-blanco {
    background-color: #fff;
    color: #666
}

.section-gris {
    background-color: #eaeaea;
    color: #666
}

.header-section, .header-section2 {
    padding: 1px 0 3px
}

.header-section h1, .header-section2 h1 {
    font-size: 2.1em;
    font-weight: 600
}

.header-section {
    background: #495bc1 !important
}

.header-section h1 {
    color: #fff
}

.header-section2 {
    background: #fff !important
}

.header-section2 h1 {
    color: #495bc1
}

#section-bienvenida {
    background-color: #fff;
    display: flex
}

#section-bienvenida h2 {
    color: #495bc1;
    font-size: 1.7em;
    font-weight: 400
}

#section-asistente {
    background: rgba(73, 91, 193, .9) !important
}

#section-asistente h2 {
    font-size: 2em;
    font-weight: 400;
    color: #fff
}

#section-datos {
    background-color: #eaeaea
}

#section-datos h3 {
    color: #8d8d8d;
    font-weight: 300
}

#section-skills .mas-palabras .keywords {
    float: left;
    background-color: #cdcdcd;
    color: #fff;
    border-radius: 20px;
    padding: 7px 17px;
    margin: 4px 3px
}

#section-laboral, #section-skills .mas-palabras .activo {
    background-color: #495bc1
}

#section-laboral {
    color: #fff
}

#section-laboral form input[type=checkbox] + label span, #section-laboral form input[type=radio] + label span {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../images/radiobutton-blanco.png) left top no-repeat;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer
}

#section-menu-perfil ul li::before, .top-menu ul li::before {
    height: 1.2em;
    right: 0;
    content: ""
}

#section-laboral form input[type=checkbox]:checked + label span, #section-laboral form input[type=radio]:checked + label span {
    background: url(../images/radiobutton-blanco.png) -28px top no-repeat
}

#section-laboral form input[type=checkbox]:disabled + label span, #section-laboral form input[type=radio]:disabled + label span {
    background: url(../images/radiobutton-blanco.png) -56px top no-repeat
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%
}

.footer .newsletter {
    color: #fff;
    background-color: #1E2830
}

.footer .newsletter h3 {
    font-size: 130%;
    font-weight: 600
}

.footer .derechos {
    color: #fff;
    background-color: #495bc1;
    font-size: 13px
}

.footer .derechos a {
    color: #fff;
    font-weight: 600
}

.footer .derechos ul {
    list-style: none
}

.footer .derechos ul li {
    float: left;
    padding: .5em
}

.footer .menu-bottom {
    color: #878787;
    background-color: #fff;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea
}

.footer .menu-bottom > strong {
    font-weight: 600
}

.footer .menu-bottom ul {
    list-style: none
}

.footer .menu-bottom ul li a {
    color: #878787
}

.bton, .bton-green, .bton-orange {
    color: #fff;
    text-decoration: none;
    background-color: #2eb458;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 110%;
    border-color: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 9px 0 #a6a6a6, 0 9px 25px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 9px 0 #a6a6a6, 0 9px 25px rgba(0, 0, 0, .7);
    box-shadow: 0 9px 0 #a6a6a6, 0 9px 25px rgba(0, 0, 0, .7);
    text-align: center;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease
}

.bton-orange {
    background-color: #e67f22;
    -webkit-box-shadow: 0 3px 0 #d25400, 0 9px 10px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 3px 0 #d25400, 0 9px 10px rgba(0, 0, 0, .7);
    box-shadow: 0 3px 0 #d25400, 0 9px 10px rgba(0, 0, 0, .7)
}

.bton-orange:hover {
    color: #fff;
    background-color: #f39c11;
    -webkit-box-shadow: 0 4px 0 #e67f22, 0 9px 10px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 4px 0 #e67f22, 0 9px 10px rgba(0, 0, 0, .7);
    box-shadow: 0 4px 0 #e67f22, 0 9px 10px rgba(0, 0, 0, .7)
}

.bton-green {
    background-color: #00b34f;
    -webkit-box-shadow: 0 3px 0 #117e47, 0 9px 10px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 3px 0 #117e47, 0 9px 10px rgba(0, 0, 0, .7);
    box-shadow: 0 3px 0 #117e47, 0 9px 10px rgba(0, 0, 0, .7)
}

.bton-green:hover {
    color: #fff;
    background-color: #00cb5a;
    -webkit-box-shadow: 0 4px 0 #159454, 0 9px 10px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 4px 0 #159454, 0 9px 10px rgba(0, 0, 0, .7);
    box-shadow: 0 4px 0 #159454, 0 9px 10px rgba(0, 0, 0, .7)
}

.bton-gray {
    background-color: #444;
    -webkit-box-shadow: 0 3px 0 #333, 0 9px 10px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 3px 0 #333, 0 9px 10px rgba(0, 0, 0, .7);
    box-shadow: 0 3px 0 #333, 0 9px 10px rgba(0, 0, 0, .7)
}

.bton-gray:hover {
    color: #eaeaea;
    background-color: #444;
    -webkit-box-shadow: 0 4px 0 #333, 0 9px 10px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 4px 0 #333, 0 9px 10px rgba(0, 0, 0, .7);
    box-shadow: 0 4px 0 #333, 0 9px 10px rgba(0, 0, 0, .7)
}

.form-estudios input, .form-estudios textarea {
    background: #fff
}

.form-referidos .input {
    width: 32% !important;
    float: left
}

.form-registro {
    font-size: 120%;
    width: 100%
}

.form-registro .label, .form-registro .label-white {
    font-weight: 600;
    font-size: 110%
}

.form-registro .label {
    color: #666
}

.form-registro .label-white {
    color: #fff
}

.form-registro .input, .form-registro input {
    height: 40px;
    font-size: 110%;
    border: 1px solid #c8c8c8;
    color: #666;
    padding: 4px 3px 4px 8px;
    border-radius: 4px
}

.form-registro .input, .form-registro .inputx2, .form-registro .inputx2SP, .form-registro input {
    width: 100% !important
}

.form-registro .error, .form-registro .error:focus {
    border: 2px solid #d83c3e;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483
}

.form-registro .warning {
    border: 1px solid #fb0
}

.form-registro .success {
    border: 2px solid #49c310;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #0bc302;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #0bc302
}

.form-registro .radio {
    position: relative;
    color: #666
}

.form-registro .radio span {
    color: #878787;
    font-size: 1.1em
}

.form-registro .radio .label-white, .form-registro .radio label {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1em
}

.form-registro .radio label {
    color: #878787
}

.form-registro .radio .label-white {
    color: #fff
}

.form-registro input[type=checkbox], .form-registro input[type=radio] {
    display: none
}

.form-registro input[type=checkbox] + label span, .form-registro input[type=radio] + label span {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../images/radiobutton.png) left top no-repeat;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer
}

.form-registro input[type=checkbox]:checked + label span,
.form-registro input[type=radio]:checked + label span {
    background: url(../images/radiobutton.png) -28px top no-repeat
}

.form-registro input[type=checkbox]:disabled + label span, .form-registro input[type=radio]:disabled + label span {
    background: url(../images/radiobutton.png) -56px top no-repeat
}

.form-registro input[type=checkbox][disabled]:checked + label span, .form-registro input[type=radio][disabled]:checked + label span {
    background: url(../images/radiobutton2.png) -56px top no-repeat
}

.form-registro .terminos label {
    font-weight: 300;
    font-size: 90%;
    font-color: #c8c8c8
}

.form-registro p {
    width: 100%;
    font-size: 99% !important
}

.select select, .select-style, .select2 select {
    font-size: 100%;
    -webkit-appearance: none;
    -moz-appearance: none
}

.form-registro .span {
    width: 97%;
    color: #fff;
    text-align: right;
    display: inline-block
}

.select, .select2, .styled-select {
    display: inline-table;
    overflow: hidden;
    width: 100%;
    vertical-align: middle
}

.efecto-mouse, .efectoMouse {
    cursor: pointer
}

.select, .select2 {
    color: #666;
    line-height: 1;
    height: 30px;
    border-radius: 4px;
    background: url(../images/row.png) 95% 50% no-repeat #fff
}

.select select, .select2 select {
    background: 0 0;
    border: 1px solid #c8c8c8;
    height: 40px;
    width: 100%;
    padding: 0 4px;
    line-height: 1
}

.select-style {
    line-height: inherit;
    color: #666;
    border: 0;
    border-bottom: 1px solid #ccc;
    appearance: none;
    background: url(../images/row.png) 95% 50% no-repeat #fff !important
}

.styled-select {
    position: relative;
    border-radius: 4px;
    font-size: 14px;
    height: 30px;
    line-height: 1;
    background: url(../images/row.png) 98% 50% no-repeat #fff;
    border: 1px solid #eee;
    color: #9f9999
}

.styled-select select {
    background: 0 0;
    width: 100%;
    padding: 5px;
    font-size: 14px;
    line-height: 1;
    border: 0;
    height: 44px;
    -webkit-appearance: none;
    -moz-appearance: none
}

strong {
    font-weight: 600
}

body {
    background-color: #eaeaea !important;
}

.popover {
    color: #000
}

.modal {
    display: flex !important;
    top: -90% !important;
    margin: 0 auto !important;
    position: relative !important;
    z-index: 9999999999;
}

.vertical {
    display: inline-block;
    width: 50%;
    height: 50px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.vertical .value {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    padding: 10px 0;
    font-weight: 700
}

.progress-bar {
    box-shadow: inset 0 4px 6px rgba(100, 100, 100, .6)
}

.bg-white {
    background-color: #fff;
}

md-content {
    position: relative !important;;
    overflow: inherit !important;
    -webkit-overflow-scrolling: touch;
}

.md-autocomplete {
    border: inherit !important;
    display: inherit !important;
    height: inherit !important;
    position: inherit !important;
    overflow: visible !important;
}

md-autocomplete input:not(.md-input) {
    font-size: inherit !important;;
    box-sizing: inherit !important;
    border: transparent !important;
    box-shadow: none;
    background: transparent !important;
    width: inherit !important;
    padding: inherit !important;
    line-height: inherit !important;;
    height: inherit !important;;
}

.md-whiteframe-1dp, .md-whiteframe-z1 {
    box-shadow: none !important;
    background: transparent !important;
}

.md-autocomplete.md-default-theme, .md-autocomplete {
    background: #ffffff !important;
}

/*.umodal-open {
    overflow: hidden;
}

.umodal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 900000000000000000000000 !important;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.umodal.fade .umodal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}

.umodal.in .umodal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.umodal-open .umodal {
    overflow-x: hidden;
    overflow-y: auto;
}

.umodal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.umodal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.umodal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    }*/

    .habilidad-circle-button {
        position: absolute;
        left: 5px;
        top: 10px;
    }

    .habilidad-text-add {
        position: absolute;
        width: 70%;
        left: 25%;
        font-weight: bold;
    }

    .habilidad-box-add {
        border: 1px dashed #a0a0a0;
        padding: 30px !important;
    }

    .input {
        height: 40px;
        font-size: 110%;
        border: 1px solid #c8c8c8;
        color: #666;
        padding: 4px 3px 4px 8px;
        border-radius: 4px;
        width: 100%;
    }

    .btn-escala {
        width: 10px;
        height: 35px;
        margin: 7px;
        background-color: #c5c5c5;
        border: transparent;
    }

    .btn-escala2 {
        width: 10px;
        height: 32px;
        margin: 5.5px;
        background-color: #c5c5c5;
        border: transparent;
    }

    .lvl-escala3 {
        width: 80px;
        height: 15px;
        margin: 2px;
        background-color: #c5c5c5;
        border: transparent;
    }

    .btn-escala-green {
        width: 10px;
        height: 35px;
        margin: 7px;
        background-color: #00CB5A;
        border: transparent;
    }

    .btn-escala-green2 {
        width: 10px;
        height: 31px;
        margin: 5.5px;
        background-color: #00CB5A;
        border: transparent;
    }

    .lvl-escala-blue3 {
        width: 80px;
        height: 15px;
        margin: 2px;
        background-color: #495bc1;
        border: transparent;
    }

    .border-right {
        border-right: 1px solid #90B3FA;
    }

    .border-left {
        border-left: 1px solid #90B3FA;
    }

    .centrado-porcentual {
        position: absolute;
        left: 50%;
        /*top: 50%;*/
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }

    .ellipsis {
        width: 100%; /* o el tamaño que quiere que corte la cadena. */
        white-space: nowrap;
        overflow: hidden; /* cualquier valor excepto "visible" para que funcione. */
        text-overflow: ellipsis;
    }

    .keywords {
        float: left;
        font-weight: bold;
        background-color: #A7A7A7;
        color: #ffffff;
        border-radius: 12px;
        padding: 6px 10px;
        border: 4px solid #fff;
    }

    .activo {
        background-color: #495bc1;
    }

    .salto {
        margin-bottom: 22px;

    }

    .kv-avatar .file-preview-frame, .kv-avatar .file-preview-frame:hover {
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
        text-align: center;
    }

    .kv-avatar .file-input {
        display: table-cell;
        max-width: 220px;
    }

    .my-module {
        z-index: 1500;
    }

    /* estilos para efecto blur de imagenes*/
    .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
    }

    .hovereffect2 {
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
    }

    .hovereffect2 .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        opacity: 0;
        background-color: rgba(183, 178, 178, 0.5);
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .hovereffect .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .hovereffect img,
    .hovereffect2 img {
        display: block;
        position: relative;
        -webkit-transition: all .4s linear;
        transition: all .4s linear;
    }

    .hovereffect a.info,
    .hovereffect2 a.info {
        text-decoration: none;
        display: inline-block;
        color: #fff;
        background-color: transparent;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        padding: 100px;
        font-size: 1.5em;
        font-weight: 600;
    }

    .hovereffect:hover .overlay,
    .hovereffect2:hover .overlay {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .hovereffect:hover h2, .hovereffect:hover a.info,
    .hovereffect2:hover h2, .hovereffect2:hover a.info {
        opacity: 1;
        filter: alpha(opacity=100);
        transform: translateY(-24%);
        margin-left: -46%;
    }

    .hovereffect:hover a.info,
    .hovereffect2:hover a.info {
        -webkit-transition-delay: .1s;
        transition-delay: .1s;
    }

    .uploadLoader {
        top: 0;
        right: 0;
        width: 25px;
        height: 25px;
        font-size: 999px;
        text-align: right;
        color: #fff;
        background: transparent url('../img/loading.gif') top left no-repeat;
        border: none;
    }

    .editorCog {
        opacity: 0;
    }

    .editorCogNon {
        opacity: 1;
    }

    .textAreaNoStyle {
        border: transparent;
        box-shadow: none;
        pointer-events: none;
    }

    .sin-sombras {
        box-shadow: none
    }

    textarea {
        resize: none;
    }

    .btn-sombras {
        -webkit-box-shadow: 0 3px 0 #117e47, 0 9px 10px rgba(0, 0, 0, .7) !important;
        -moz-box-shadow: 0 3px 0 #117e47, 0 9px 10px rgba(0, 0, 0, .7) !important;;
        box-shadow: 0 3px 0 #117e47, 0 9px 10px rgba(0, 0, 0, .7) !important;;
    }

    .selectNoStyle {
        border: 2px solid #9E9E9E !important;
        background: #ccc !important;
        box-shadow: none !important;;
        pointer-events: none !important;;
    }

    .efect-link {
        cursor: pointer;
    }

    .efect-link:hover {
        font-weight: bold;
    }

    .introjs-tooltip {
        font-size: 18px;
        color: #fff !important;;
        position: absolute;
        visibility: visible;
        padding: 10px;
        background-color: #3F51B5 !important;
        min-width: 200px !important;;
        width: 480px !important;
        max-width: 500px !important;
        border-radius: 3px;
        box-shadow: 0 1px 10px rgba(0, 0, 0, .4);
        -webkit-transition: opacity .1s ease-out;
        -moz-transition: opacity .1s ease-out;
        -ms-transition: opacity .1s ease-out;
        -o-transition: opacity .1s ease-out;
        transition: opacity .1s ease-out;
    }

    .introjs-button {
        font-size: 15px !important;
        background: #fff !important;
        position: relative;
        overflow: visible;
        display: inline-block;
        padding: .3em .8em;
        border: 1px solid #d4d4d4;
        text-decoration: none;
        text-shadow: 1px 1px 0 #fff;
        white-space: nowrap;
        cursor: pointer;
        outline: 0;
        -webkit-background-clip: padding;
        -moz-background-clip: padding;
        -o-background-clip: padding-box;
        -webkit-border-radius: .2em;
        -moz-border-radius: .2em;
        border-radius: .2em;
        zoom: 1;
        margin: 5px;
        margin-top: 10px;
        color: #444 !important;
    }

    .introjs-button .introjs-nextbutton:hover {
        text-decoration: none !important;
    }

    .select-style:disabled{   
        background: url(../images/row.png) 95% 50% no-repeat  #EBEBE4!important;
    }

    .vertical-bar {
        display: inline-block;
        width: 100px;
        height: 100px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        border-radius: 50%;
        border: 2px solid #00B34F;
        background: #C5C5C5;
    }

    .horizontal-bar {
        display: inline-block;
        width: 20%;
        height: 40px;
        -webkit-transform: rotate(90deg) !important;
        transform: rotate(90deg) !important;
        padding-left: 30px;
    }

    .progress-bar {
        background-color: #495BC1 !important;
    }

    .esHidden{visibility:hidden;} 

    .esVisible{visibility: visible;}