<div class="panel" ng-controller="preguntasController as rm" ng-cloak>
    <section id="section-editarreferencias" class="margin-0 text-center">
      <div ng-include="'app/sectionActualiza/answersList.html'"></div>
    </section>
</div>