<section id="section-editarreferencias" class="section section-blanco editarhv margin-0 text-center" ng-cloak>
    <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
        <h1>PREGUNTAS Y RESPUESTAS
        </h1>
    </div>
    <!-- <div>
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="rm.isRegistrered">
                <div class="text-center">
                    <h3 class="to-upper text-orange">Usted actualmente no ha registrado ninguna referencia</h3>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p class="padding-left-20 padding-right-20" ng-if="rm.isRegistrered">Facilítanos la información sobre
                    las personas que tienen buenas referencias de ti, llena los campos de abajo con su información de
                    contacto, entre más referencias popngas mejor. Es muy valioso que consideres colocar referencias de
                    tus jefes inmediatos</p>

                <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12"
                     ng-repeat="reference in rm.references.person_references" ng-if="!rm.isEdit && !rm.isCrear">
                    <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">{{reference.name}}<br/>{{reference.position}}</span>
                    <span class="dominio col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left">{{reference.company}} <br/>{{reference.phone}}</span>
                        
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left">
                            <a href="" ng-click="rm.referencia('edit',$index);">
                                <img src="../assets/images/icon-editar.png">&nbsp;Editar&nbsp;&nbsp;
                            </a>
                            <a href="" ng-click="rm.eliminarReferencia($index);">
                                <img src="../assets/images/icon-eliminar.png">&nbsp;Eliminar
                            </a>
                        </span>

                </div>
                <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center margin-bottom-20"
                     ng-if="rm.isRegistrered || rm.isEdit || rm.isCrear">
                    <form class="form-registro" name="formReferencias" role="form" novalidate>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                            <input type="text" name="nombre" placeholder="Nombre Completo" class="input margin-5"
                                   required ng-model="rm.newReference.name"/>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                            <input type="text" name="lugar" placeholder="Empresa donde labora" class="input margin-5"
                                   required ng-model="rm.newReference.company"/>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                            <input type="text" name="cargo" placeholder="Cargo que desempeña" class="input margin-5"
                                   required ng-model="rm.newReference.position"/>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                            <input type="text" name="telefono" placeholder="Teléfono de contacto" class="input margin-5"
                                   required ng-model="rm.newReference.phone"/>
                        </div>
                    </form>
                </div>
                <div class="add col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-10 text-center"
                     ng-if="!rm.isEdit && !rm.isCrear && !rm.isRegistrered">
                    <a href="" ng-click="rm.referencia('crear');">
                        <img src="../assets/images/plus.png" width="" height=""/> Agregar referencia
                    </a>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-bottom-20 text-center"
                     ng-if="rm.isVista || rm.isRegistrered">
                    <button class="btn btn-lg bton-green padding-right-15 padding-left-15"
                            ng-disabled="rm.camposValidos();" ng-click="rm.guardarReferencia();">¡Listo!
                    </button>
                </div>
            </div>
        </div>
    </div> -->
    <div class="container-fluid"> <!--  bg-color-EAF0F2 -->
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 margin-bottom-20 margin-top-20" ng-if="rm.preguntasList.questions_not_answered.length && !rm.questionEdit">
            <div class="col-xs-12 margin-20-10">
                <span class="text-blue-soy font-open-sans font-size-18">
                    {{rm.preguntasList.questions_not_answered[rm.preguntasCount].description}}
                </span>
            </div>
            <div class="col-xs-12 margin-bottom-20">
                <textarea class="form-control resize-none" rows="3" ng-model="rm.preguntasRest" maxlength="300"></textarea>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-lg button bton-green col-xs-12 margin-bottom-20" ng-click="rm.responderPregunta(rm.preguntasList.questions_not_answered[rm.preguntasCount].question_id,rm.preguntasRest);" ng-disabled="rm.isRefreshingQuest"> 
                    Responder
                </button>
            </div>
            <div class="col-xs-6 preguntas-box">
                <button class="padding-10-16 btn2 border-color-green-soy btn-lg button col-xs-12 margin-bottom-20" ng-click="rm.saltarPreguntas()" ng-disabled="rm.isRefreshingQuest">
                    Saltar
                </button>
            </div> 
        </div>
        
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 margin-bottom-20 margin-top-20" ng-if="rm.questionEdit">
            <div class="col-xs-12 margin-20-10">
                <span class="text-blue-soy font-open-sans font-size-18">
                    {{rm.preguntasEdit.pregunta}}
                </span>
            </div>
            <div class="col-xs-12 margin-bottom-20">
                <textarea class="form-control resize-none" rows="3" ng-model="rm.preguntasEdit.respuesta" maxlength="300"></textarea>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-offset-3">
                <button class="btn btn-lg button bton-green col-xs-12 margin-bottom-20" ng-disabled="!rm.preguntasEdit.respuesta" ng-click="rm.enviarEditada(rm.preguntasEdit.id,rm.preguntasEdit.respuesta);">
                    Responder
                </button>
            </div>
        </div>

        <div class="col-xs-12 border-bottom-1px border-color-c5c5c5 padding-bottom-20 margin-top-15" ng-repeat="item in  rm.items | startFrom:(rm.currentPage-1)*rm.entryLimit | limitTo:rm.entryLimit">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="col-xs-12 text-left">
                    <span class="font-open-sans font-bold font-green-soy font-size-16">
                        {{item.question | capitalize}}
                    </span>
                </div>
                <div class="col-xs-12 text-left">
                    <span class="font-open-sans font-color-707070 font-light">
                        {{item.answer | capitalize}}
                    </span>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-4 col-sm-2 col-sm-offset-4 text-justify">
                    <span class="text-success font-open-sans font-size-18 mouse-pointer" ng-click="rm.editarPregunta(item.question_id)">
                        <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                    </span>
                </div>
                <div class="col-xs-4 col-sm-2 text-justify">
                    <span class="font-red-soy font-open-sans font-size-18 mouse-pointer" ng-click="rm.eliminarPregunta(item._id);">
                        <i class="fa fa-times" aria-hidden="true"></i> Eliminar
                    </span>
                </div>
            </div>
        </div>

        <div ng-show="rm.preguntasList.questions_answered.length>rm.entryLimit" class="row text-center">
            <pagination page="rm.currentPage" max-size="10" total-items="rm.totalItems" items-per-page="rm.entryLimit" previous-text="Anterior" next-text="Siguiente" style="cursor:pointer;"></pagination>
        </div>
    </div>
     
</section>