<style>
    md-dialog {
        min-width: 400px;
    }
    md-dialog-actions{
        padding: 10px !important;
        margin: 10px !important;
    }
</style>
<script type="text/ng-template" id="dialog1.tmpl.html" style="width:900px;height:810px;">  
    <md-dialog aria-label="" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Selecciónar Imagen</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons text-white">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            
            <div class="md-dialog-content">
                <div class="container" style="padding: 10px !important; width: 400px !important;">
                    <h4 class="to-upper text-orange">
                        Tu salario no será publico para las empresas, pero nuestro algoritmo lo tendrá en cuenta para recomendarte solo a ofertas que mejoren tu salario actual
                    </h4>

                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row paddin-10">
            <div>
                <button class="btn btn-lg bton-green" ng-click="cancel()">
                    Cerrar
                </button>
            </div>
            

        </md-dialog-actions>
    </md-dialog>
</script>
