<div class="row" ng-cloak>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="padding-left-20 padding-right-20">Cuéntanos tu experiencia, queremos conocerte más</p>
        <h4>¿En que sitios has trabajado?</h4>
        <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center margin-bottom-20">
            <form class="form-registro" role="form" name="formLaboral" novalidate>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-left-0">
                    <input type="text" name="nombreEmpresa" ng-model="nombreEmpresa" minlength="4" maxlength="45" 
                    placeholder="Nombre de la empresa" class="input margin-5" ng-disabled="pasoExpTrabajo"
                    ng-class='{error: formLaboral.nombreEmpresa.$invalid && formLaboral.nombreEmpresa.$dirty,
                    success: formLaboral.nombreEmpresa.$valid && formLaboral.nombreEmpresa.$dirty }'
                    required/>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                    <div class="select2 margin-5 hidden-xs">
                        <select 
                            name="sectorEmpresa" 
                            ng-model="sectorEmpresa" 
                            class="select-style" 
                            required
                            ng-disabled="pasoExpTrabajo"
                            ng-class='{error: formLaboral.sectorEmpresa.$invalid && formLaboral.sectorEmpresa.$touched, success: formLaboral.sectorEmpresa.$valid && formLaboral.sectorEmpresa.$touched }'>
                            <option value="" selected>Sector</option>
                            <option ng-repeat="l in exp.listSector" value="{{l.description}}">{{l.description}}</option>
                        </select>
                    </div>
                    <div class="margin-5 visible-xs">
                        <md-select 
                          ng-model="sectorEmpresa"
                          ng-class='{error: formLaboral.sectorEmpresa.$invalid && formLaboral.sectorEmpresa.$touched, success: formLaboral.sectorEmpresa.$valid && formLaboral.sectorEmpresa.$touched }'
                          placeholder="Sector" 
                          class="md-no-underline" 
                          id='sectorEmpresa' 
                          name='sectorEmpresa' 
                          style="border: 1px solid #ccc; border-radius: 4px;"
                          required>
                          <md-option ng-repeat="l in exp.listSector" value="{{l.description}}">{{l.description}}</md-option>
                        </md-select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                    <div class="select2 margin-5 hidden-xs">
                        <select name="areaCargoEmpresa" 
                            class="select-style" 
                            ng-model="areaCargoEmpresa"
                            ng-disabled="pasoExpTrabajo"
                            ng-class='{error: formLaboral.areaCargoEmpresa.$invalid && formLaboral.areaCargoEmpresa.$touched, success: formLaboral.areaCargoEmpresa.$valid && formLaboral.areaCargoEmpresa.$touched }'
                            required>
                            <option value="" selected>Áreas</option>
                            <option ng-repeat="l in exp.listAreas" value="{{l.description}}">{{l.description}}</option>
                        </select>
                    </div>
                    <div class="margin-5 visible-xs">
                        <md-select 
                          ng-model="areaCargoEmpresa"
                          ng-class='{error: formLaboral.areaCargoEmpresa.$invalid && formLaboral.areaCargoEmpresa.$touched, success: formLaboral.areaCargoEmpresa.$valid && formLaboral.areaCargoEmpresa.$touched }'
                          placeholder="Áreas" 
                          class="md-no-underline" 
                          id='areaCargoEmpresa' 
                          name='areaCargoEmpresa' 
                          style="border: 1px solid #ccc; border-radius: 4px;"
                          required>
                          <md-option ng-repeat="l in exp.listAreas" value="{{l.description}}">{{l.description}}</md-option>
                        </md-select>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-left-0">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                        <label >Fecha de inicio</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0 hidden-xs">
                        <label  ng-show="!actualmenteEmpresa">Fecha de fin</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-left-0">
                        <div class="select2 margin-5 hidden-xs">
                            <select 
                                name="annoInicioEmpresa" 
                                class="select-style" 
                                ng-model="exp.annoInicioEmpresa" 
                                required
                                ng-disabled="pasoExpTrabajo"
                                ng-change="exp.minYear(exp.annoInicioEmpresa);exp.minMonth(exp.mesInicioEmpresa,exp.annoInicioEmpresa,exp.annioFinExpe);"
                                ng-class='{error: formLaboral.annoInicioEmpresa.$invalid && formLaboral.annoInicioEmpresa.$touched, success: formLaboral.annoInicioEmpresa.$valid && formLaboral.annoInicioEmpresa.$touched }'>
                                <option value="" selected>Año</option>
                                <option ng-repeat="a in exp.listAnios" value="{{a}}">{{a}}</option>
                            </select>
                        </div>
                        <div class="margin-5 visible-xs">
                            <md-select 
                                ng-model="exp.annoInicioEmpresa"
                                ng-change="exp.minYear(exp.annoInicioEmpresa);exp.minMonth(exp.mesInicioEmpresa,exp.annoInicioEmpresa,exp.annioFinExpe);"
                                ng-class='{error: formLaboral.annoInicioEmpresa.$invalid && formLaboral.annoInicioEmpresa.$touched, success: formLaboral.annoInicioEmpresa.$valid && formLaboral.annoInicioEmpresa.$touched }'
                                placeholder="Año" 
                                class="md-no-underline" 
                                id='annoInicioEmpresa' 
                                name='annoInicioEmpresa' 
                                style="border: 1px solid #ccc; border-radius: 4px;"
                                required>
                                <md-option ng-repeat="a in exp.listAnios" value="{{a}}">{{a}}</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-left-0">
                        <div class="select2 margin-5 hidden-xs">
                            <select 
                                name="mesInicioEmpresa" 
                                class="select-style" 
                                ng-model="exp.mesInicioEmpresa"
                                ng-disabled="pasoExpTrabajo"
                                ng-change="exp.minMonth(exp.mesInicioEmpresa,exp.annoInicioEmpresa,exp.annioFinExpe);"
                                ng-class='{error: formLaboral.mesInicioEmpresa.$invalid && formLaboral.mesInicioEmpresa.$touched, success: formLaboral.mesInicioEmpresa.$valid && formLaboral.mesInicioEmpresa.$touched }'
                                required>
                                <option value="" selected>Mes</option>
                                <option value="01">Enero</option>
                                <option value="02">Febrero</option>
                                <option value="03">Marzo</option>
                                <option value="04">Abril</option>
                                <option value="05">Mayo</option>
                                <option value="06">Junio</option>
                                <option value="07">Julio</option>
                                <option value="08">Agosto</option>
                                <option value="09">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
                        <div class="margin-5 visible-xs">
                            <md-select 
                                ng-model="exp.mesInicioEmpresa"
                                ng-disabled="pasoExpTrabajo"
                                ng-change="exp.minMonth(exp.mesInicioEmpresa,exp.annoInicioEmpresa,exp.annioFinExpe);"
                                ng-class='{error: formLaboral.mesInicioEmpresa.$invalid && formLaboral.mesInicioEmpresa.$touched, success: formLaboral.mesInicioEmpresa.$valid && formLaboral.mesInicioEmpresa.$touched }'
                                placeholder="Mes" 
                                class="md-no-underline" 
                                id='mesInicioEmpresa' 
                                name='mesInicioEmpresa' 
                                style="border: 1px solid #ccc; border-radius: 4px;"
                                required>
                                <md-option value="01">Enero</md-option>
                                <md-option value="02">Febrero</md-option>
                                <md-option value="03">Marzo</md-option>
                                <md-option value="04">Abril</md-option>
                                <md-option value="05">Mayo</md-option>
                                <md-option value="06">Junio</md-option>
                                <md-option value="07">Julio</md-option>
                                <md-option value="08">Agosto</md-option>
                                <md-option value="09">Septiembre</md-option>
                                <md-option value="10">Octubre</md-option>
                                <md-option value="11">Noviembre</md-option>
                                <md-option value="12">Diciembre</md-option>
                            </md-select>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0 visible-xs">
                        <label  ng-show="!actualmenteEmpresa">Fecha de fin</label>
                    </div>
                    <div ng-if="!actualmenteEmpresa">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-left-0">
                            <div class="select2 margin-5 hidden-xs">
                                <select 
                                    name="annoFinEmpresa" 
                                    class="select-style" 
                                    ng-model="exp.annioFinExpe" 
                                    required
                                    ng-disabled="pasoExpTrabajo" 
                                    ng-change="exp.minMonth(exp.mesInicioEmpresa,exp.annoInicioEmpresa,exp.annioFinExpe);"
                                    ng-class='{error: formLaboral.annoFinEmpresa.$invalid && formLaboral.annoFinEmpresa.$touched, success: formLaboral.annoFinEmpresa.$valid && formLaboral.annoFinEmpresa.$touched }'>
                                    <option value="" selected>Año</option>
                                    <option ng-repeat="a in exp.minAnoEstudio" value="{{a}}">{{a}}</option>
                                </select>
                            </div>
                            <div class="margin-5 visible-xs">
                                <md-select 
                                    ng-model="exp.annioFinExpe"
                                    ng-disabled="pasoExpTrabajo" 
                                    ng-change="exp.minMonth(exp.mesInicioEmpresa,exp.annoInicioEmpresa,exp.annioFinExpe);"
                                    ng-class='{error: formLaboral.annoFinEmpresa.$invalid && formLaboral.annoFinEmpresa.$touched, success: formLaboral.annoFinEmpresa.$valid && formLaboral.annoFinEmpresa.$touched }'
                                    placeholder="Año" 
                                    class="md-no-underline" 
                                    id='annoFinEmpresa' 
                                    name='annoFinEmpresa' 
                                    style="border: 1px solid #ccc; border-radius: 4px;"
                                    required>
                                    <md-option ng-repeat="a in exp.minAnoEstudio" value="{{a}}">{{a}}</md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-left-0">
                            <div class="select2 margin-5 hidden-xs">
                                <select 
                                    name="mesFinEmpresa" 
                                    class="select-style" 
                                    ng-model="exp.mesFinExpe"
                                    ng-disabled="pasoExpTrabajo"
                                    ng-class='{error: formLaboral.mesFinEmpresa.$invalid && formLaboral.mesFinEmpresa.$touched, success: formLaboral.mesFinEmpresa.$valid && formLaboral.mesFinEmpresa.$touched }'
                                    required>
                                    <option value="" selected>Mes</option>
                                    <option ng-repeat="a in exp.minMonthEstudio" value="{{a.id}}">{{a.nombre}}</option>
                                </select>
                            </div>
                            <div class="margin-5 visible-xs">
                                <md-select 
                                    ng-model="exp.mesFinExpe"
                                    ng-disabled="pasoExpTrabajo"
                                    ng-class='{error: formLaboral.mesFinEmpresa.$invalid && formLaboral.mesFinEmpresa.$touched, success: formLaboral.mesFinEmpresa.$valid && formLaboral.mesFinEmpresa.$touched }'
                                    placeholder="Mes" 
                                    class="md-no-underline" 
                                    id='annoFinEmpresa' 
                                    name='annoFinEmpresa' 
                                    style="border: 1px solid #ccc; border-radius: 4px;"
                                    required>
                                    <md-option ng-repeat="a in exp.minMonthEstudio" value="{{a.id}}">{{a.nombre}}</md-option>
                                </md-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="radio col-lg-offset-6 col-md-offset-6 col-lg-6 col-md-6 col-sm-8 col-xs-12 text-left margin-top-10 margin-bottom-10">
                    <input type="checkbox" id="e1" name="actualmenteEmpresa" ng-model="actualmenteEmpresa"
                    ng-disabled="pasoExpTrabajo"/>
                    <label for="e1" >
                        <span></span>Actualmente
                        
                    </label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                    <angucomplete 
                        id="ex3" 
                        ng-enter="exp.posicionSelected($('#ex3_value').val())"
                        placeholder="Agregar el título del Cargo" 
                        pause="100"
                        selectedobject="exp.titulo" 
                        localdata="exp.posiciones" 
                        name="titulo" 
                        searchfields="name" 
                        titlefield="name" 
                        minlength="1" 
                        maxlength="100" 
                        inputclass="input margin-5" 
                        ng-required="true"
                        ng-disabled="pasoExpTrabajo"
                        ng-keyup="exp.getPosicion($('#ex3_value').val(),'crear')"
                        popover-trigger="focus" 
                        data-ng-class='{error: formLaboral.titulo.$invalid && formLaboral.titulo.$dirty, success: formLaboral.titulo.$valid && formLaboral.titulo.$dirty }' 
                        uib-popover="{{formLaboral.titulo.$touched && formLaboral.titulo.$error.required ?
                        'Valor es requerido' : ''}}"/>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                    <input class="input margin-5 col-lg-10 col-md-10 col-sm-10 col-xs-10" type="text" placeholder="Último salario devengado" name="ultSalarioEmpresa" pattern="[0-9\s]+" maxlength="100"
                    ng-model="ultSalarioEmpresa" minlength="1" onkeypress="return validarNumero(event);"
                    ng-class='{error: formLaboral.ultSalarioEmpresa.$invalid && formLaboral.ultSalarioEmpresa.$dirty,
                    success: formLaboral.ultSalarioEmpresa.$valid && formLaboral.ultSalarioEmpresa.$dirty }'
                    ng-disabled="pasoExpTrabajo" style="width: 240px !important;">
                    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center" ng-click="exp.mostrarInfoSalario();" style="width: 30px; height: 30px;color:orange; border:none !important;">
                        <i class="fa fa-exclamation-circle"></i>
                    </span>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-left-0 margin-top-20">
                    <textarea class="form-control margin-5" name="descripcionEmpresa" ng-model="descripcionEmpresa" rows="5"
                    ng-disabled="pasoExpTrabajo"
                    placeholder="Cuéntanos tus funciones y responsabilidades, que aprendiste de este empleo y que habilidades nuevas adquiriste, si te destacaste o recibiste un premio, se breve y conciso"></textarea>
                </div>
                <div ng-if="formLaboral.$invalid  || pasoExpTrabajo" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-10 text-center">
                    <label class="efectoMouseCancel text-white">
                        <img src="../assets/images/plus-blanco.png" width="" height="" /> Agregar empleo
                        
                    </label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center flex-center">
                    <span ng-repeat="l in expLaboralAgregados" style="color: #fff;"
                        class="col-xs-6 col-sm-6 etiqueta label-info margin-left-5 margin-bottom-20">
                        {{l.company}}
                        
                        
                        <span ng-if="!pasoExpTrabajo" class="margin-left-5 font-size-22 efectoMouse"
                            ng-click="eliminarExpLaboral($index)">
                            &#x2715;
                        </span>
                        <span ng-if="pasoExpTrabajo" class="margin-left-5 font-size-22 efectoMouseCancel">
                            &#x2715;
                        </span>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
            <img src="../assets/images/soyempleo-registro.png" alt="Logo SoyEmpleo" width="" height="" />
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50 margin-top-20 text-center">
            <button ng-if="!exp.showNewExp" class="btn btn-lg bton-green padding-right-15 padding-left-15 btn-sombras"
            ng-click="exp.guardarPrimeraExp(nombreEmpresa, sectorEmpresa,
            areaCargoEmpresa, exp.mesInicioEmpresa, exp.annoInicioEmpresa, exp.mesFinExpe, exp.annioFinExpe, exp.cargoEmpresa,
            ultSalarioEmpresa, descripcionEmpresa, actualmenteEmpresa )"  ng-disabled="!formLaboral.$valid">
            ¡Listo!
            </button>
            <button ng-if="exp.showNewExp" class="btn btn-lg bton-green padding-right-15 padding-left-15 btn-sombras"
            ng-click="exp.guardarMasExp(nombreEmpresa, sectorEmpresa,
            areaCargoEmpresa, exp.mesInicioEmpresa, exp.annoInicioEmpresa, exp.mesFinExpe, exp.annioFinExpe, exp.cargoEmpresa,
            ultSalarioEmpresa, descripcionEmpresa, actualmenteEmpresa )" ng-disabled="!formLaboral.$valid || exp.isRefresing">
            ¡Listo!
            </button>
            <button class="btn btn-lg bton-green padding-right-15 padding-left-15"
            ng-click="exp.cancerlarExp()" ng-disabled="exp.isRefresing">
            Cancelar
            </button>
        </div>
    </div>
</div>
