<div class="row" ng-if="!exp.hideEdit" ng-cloak>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 hidden-xs">
            <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center"><strong>CARGO</strong></span>
            <span class="dominio col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left"><strong>EMPRESA</strong></span>
            <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left"><strong>OPCIONES</strong></span>
        </div>
        <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20" ng-repeat="experiencia in exp.listExperiencias">
            <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 visible-xs">
                <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center"><strong>CARGO</strong></span>
            </div>
            <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">{{experiencia.position}}<br>{{experiencia.time_experience}} MESES</span>
            <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 visible-xs">
                <span class="dominio col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center"><strong>EMPRESA</strong></span>
            </div>
            <span class="dominio col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center visible-xs">{{experiencia.company}} <br/> {{experiencia.sector_company}}</span>
            <span class="dominio col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left hidden-xs">{{experiencia.company}} <br/> {{experiencia.sector_company}}</span>
            <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 visible-xs">
                <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center"><strong>OPCIONES</strong></span>
            </div>
            <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center visible-xs">
                <button class="btn-sinStyle" ng-click="exp.cambioEdit(experiencia,$index)">
                    <img src="../assets/images/icon-editar.png"
                             width="" height="">&nbsp;Editar&nbsp;&nbsp;
                </button>
                <button class="btn-sinStyle" ng-click="exp.eliminarExp($index)">
                    <img
                            src="../assets/images/icon-eliminar.png" width="" height="">&nbsp;Eliminar
                </button>
            </span>
            <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left hidden-xs">
                <button class="btn-sinStyle" ng-click="exp.cambioEdit(experiencia,$index)">
                    <img src="../assets/images/icon-editar.png"
                             width="" height="">&nbsp;Editar&nbsp;&nbsp;
                </button>
                <button class="btn-sinStyle" ng-click="exp.eliminarExp($index)">
                    <img
                            src="../assets/images/icon-eliminar.png" width="" height="">&nbsp;Eliminar
                </button>
            </span>
        </div>
        <button ng-click="exp.agregarMasEmpleos()" class="add col-lg-12 col-md-12 col-sm-12 col-xs-12
        margin-top-20 text-center btn-sinStyle font-size-18 text-blue-soy font-bold" style="margin-bottom:20px;">
            <img src="../assets/images/plus.png" width="" height=""/> Agregar otro empleo
        </button>
        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-bottom-20 text-center">
            <button class="btn btn-lg bton-green padding-right-15 padding-left-15"
                    np-redirect="/">¡Listo!
            </button>
        </div>-->
    </div>
</div>

<section ng-if="exp.hideEdit && !exp.showNewExp" ng-cloak>
    <div ng-include="'app/sectionActualiza/experiencesEditarEdit.html'"></div>
</section>

<section ng-if="exp.showNewExp" ng-cloak>
    <div ng-include="'app/sectionActualiza/experiencesCrear.html'"></div>
</section>