<div class="row" ng-cloak>
    <section id="section-editarlaboral" class="editarhv  text-center">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="experiencia in exp.listExperiencias">
                <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">{{experiencia.position}}</span>
                <span class="dominio col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left">{{experiencia.company}} <br/> {{experiencia.sector_company}}</span>
            </div>
            <a class="add col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="visibility :hidden;"><img
                    src="../assets/images/plus.png" width="" height=""/> Agregar otro empleo
            </a>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-bottom-20 text-center">
                <button class="btn btn-lg bton-green padding-right-15 padding-left-15"
                        ng-click="exp.experiencesEdit=exp.editar(exp.experiencesEdit);">Editar
                </button>
            </div>

        </div>
    </section>  
</div>