<div class="panel" ng-controller="experienciaController as exp" ng-cloak>
    <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12  text-center margin-bottom-20">
        <h1>EXPERIENCIA LABORAL
        </h1>
    </div>
    <section id="section-editarlaboral" ng-if="!exp.experiencesEdit && !exp.mensajeDatos" class=" text-center">
        <div ng-include="'app/sectionActualiza/experiencesEditar.html'"></div>
    </section>
    <!-- <div ng-if="exp.mensajeDatos" class="text-center">
        <h3 class="to-upper text-orange">Usted actualmente no ha registrado ninguna Experiencia laboral</h3>
    </div> -->
    <section id="section-editarlaboral" class="text-center" ng-if="exp.mensajeDatos">
        <div ng-include="'app/sectionActualiza/experiencesCrear.html'"></div>
    </section>
    <div ng-include="'app/sectionActualiza/experiencesModal.html'">
    </div> 