<div class="panel" ng-controller="habilidadesController as hb" ng-cloak>

    <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12  text-center margin-bottom-20">
        <h1>HABILIDADES
        </h1>
    </div>
    <section id="section-habilidadesEdit" class="margin-bottom-20 padding-5">
        <div ng-include="'app/sectionActualiza/habilidadesEdit.html'"></div>
    </section>
    <section id="section-habilidadesEdit">
        <div ng-include="'app/sectionActualiza/habilidadesModal.html'"></div>
    </section>

</div>