<style>
md-dialog {
min-width: 650px;
}
md-dialog-actions {
padding: 10px !important;
margin: 10px !important;
}
.form-estudios input, .form-estudios textarea {
background-color: transparent !important;
}
md-autocomplete.md-default-theme, md-autocomplete {
background-color: #fff !important;
height: 36px !important;
margin-top: -3px !important;
display: inherit;
}
.md-virtual-repeat-container.md-autocomplete-suggestions-container {
background-color: #fff !important;
}

md-virtual-repeat-container{
    z-index: 999999 !important;
    border: 1px solid #ccc !important;
}
</style>
<script type="text/ng-template" id="dialog1.tmpl.html" style="width:900px;height:810px;">
<md-dialog aria-label="">
<md-toolbar>
<div class="md-toolbar-tools">
    <h2>Agregar nueva habilidad</h2>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="cancel()">
    <i class="fa fa-times"></i>
    </md-button>
</div>
</md-toolbar>
<md-dialog-content>
<div class="md-dialog-content">
    <div class="row margin-bottom-10">
        <div class="col-lg-5"><span class="font-size-22">Nueva habilidad</span></div>
        <div class="col-lg-7 text-right">
            <md-content class="input margin-left-5">
            <md-autocomplete
            md-search-text="addHabilidad"
            md-items="item in querySearch(addHabilidad)"
             md-item-text="item.display"
            md-min-length="0" placeholder="Habilidad">
            <md-item-template>
            <span md-highlight-text="addHabilidad" md-highlight-flags="^i">{{item.display}}</span>
            </md-item-template>
            </md-autocomplete>
            </md-content>
        </div>
        <div class="margin-bottom-10">
            <div class="col-lg-5"><span class="font-size-22">¿Cuanto la dominas?</span></div>
            <div class="col-lg-7 text-right">
                <button ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]" id="v{{i}}" class="btn-escala"
                ng-click="cambiarColor(i)">
                </button>
            </div>
        </div>
    </div>
    </md-dialog-content>
    <md-dialog-actions layout="row paddin-10">
    <button class="btn btn-lg bton-green" ng-click="guardar()">
    Guardar
    </button>
    </md-dialog-actions>
    </md-dialog>
    </script>