<div class="row">
    <div class="col-xs-12 col-sm-12 margin-20">
        <div id="skills" class="col-sm-4 col-xs-12 text-center hovereffect2" ng-repeat="l in listaHabilidades" style="height:101px !important">
            <span class="font-size-24 to-upper ellipsis">{{l.skill}}</span> <br/>
            <button ng-repeat="n in l.arrayDomain" ng-class='{ "btn-escala2": n.disp===false, "btn-escala-green2": n.disp===true}'
                  >{{}}</button>
            <br/>
            <span class="font-size-17 to-upper">Dominio de Habilidad: {{l.domain}}/10</span>
            <br/>
            <div class="overlay">
                               <button class="info btn btn-danger" style="margin-top: 30px;" ng-click="hb.elimiarSkill($index);">Eliminar</button>
                            </div>
        </div>
    </div>

    <div class="col-xs-8 col-xs-offset-2 text-center">
        <button class="btn btn-lg bton-green" ng-click="hb.showDialogAddSkill($event)">
    Agregar Habilidad
    </button>
    </div>
</div> 