<div class="panel" ng-controller="idiomaController as im" ng-cloak>
    <section id="section-editarotros" class="margin-0 text-center" ng-if="!im.languagesSoftwaresEdit">
      <div ng-include="'app/sectionActualiza/languagesSoftwaresEditar.html'"></div>
    </section>

    <section id="section-editarotros" class="margin-0 text-center" ng-if="im.languagesSoftwaresEdit">
      <div ng-include="'app/sectionActualiza/languagesSoftwaresEditar.html'"></div>
    </section>

    <section id="section-editarotros" class="margin-0 text-center" ng-if="im.languagesSoftwaresCreateLang">
      <div ng-include="'app/sectionActualiza/languagesSoftwaresEditar.html'"></div>
    </section>

    <section id="section-editarotros" class="margin-0 text-center" ng-if="im.languagesSoftwaresCreateSoft">
      <div ng-include="'app/sectionActualiza/languagesSoftwaresEditar.html'"></div>
    </section>
</div>