<section id="section-idiomas" class="section section-blanco margin-0 text-center" ng-cloak>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p class="padding-left-20 padding-right-20">Queremos conocer que tan bien manejas ciertos programas y softwares, por favor selecciona los que mejor manejes de la lista que corresponde</p>
            <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center margin-bottom-20">
                <form class="form-registro" name="formOtros2" role="form" novalidate>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                        <div class="select2 margin-5 hidden-xs">
                            <select 
                                name="programa" 
                                class="select-style" 
                                ng-model="im.newSoft.software"
                                ng-class='{error: formOtros2.programa.$invalid && formOtros2.programa.$touched, success: formOtros2.programa.$valid && formOtros2.programa.$touched}'
                                required>
                                <option value="" selected>Programas</option>
                                <option ng-repeat="l in im.listSoftwares" value="{{l}}">{{l}}</option>
                            </select>
                        </div>
                        <div class="margin-5 visible-xs">
                            <md-select 
                                ng-model="im.newSoft.software"
                                ng-class='{error: formOtros2.programa.$invalid && formOtros2.programa.$touched, success: formOtros2.programa.$valid && formOtros2.programa.$touched}'
                                placeholder="Programas" 
                                class="md-no-underline" 
                                id='programa' 
                                name='programa' 
                                style="border: 1px solid #ccc; border-radius: 4px;"
                                required>
                                <md-option ng-repeat="l in im.listSoftwares" value="{{l}}">{{l}}</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                        <div class="select2 margin-5 hidden-xs">
                            <select 
                                name="nivelPrograma" 
                                class="select-style" 
                                ng-model="im.newSoft.level"
                                ng-class='{error: formOtros2.nivelPrograma.$invalid && formOtros2.nivelPrograma.$touched, success: formOtros2.nivelPrograma.$valid && formOtros2.nivelPrograma.$touched}'
                                required>
                                <option value="" selected>Nivel</option>
                                <option value="1" selected>Básico</option>
                                <option value="2" selected>Intermedio</option>
                                <option value="3" selected>Avanzado</option>
                            </select>
                        </div>
                        <div class="margin-5 visible-xs">
                            <md-select 
                                ng-model="im.newSoft.level"
                                ng-class='{error: formOtros2.nivelPrograma.$invalid && formOtros2.nivelPrograma.$touched, success: formOtros2.nivelPrograma.$valid && formOtros2.nivelPrograma.$touched}'
                                placeholder="Nivel" 
                                class="md-no-underline" 
                                id='nivelPrograma' 
                                name='nivelPrograma' 
                                style="border: 1px solid #ccc; border-radius: 4px;"
                                required>
                                <md-option value="1">Básico</md-option>
                                <md-option value="2">Intermedio</md-option>
                                <md-option value="3">Avanzado</md-option>
                            </md-select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10 margin-top-20 text-center">
                <button class="btn btn-lg bton-green padding-right-15 padding-left-15 btn-sombras" ng-disabled="im.camposValidos(im.newSoft.level,im.newSoft.software) || im.isRefresing" ng-click="im.guardarCrear('soft')">¡Listo!</button>
                <button class="btn btn-lg bton-green padding-right-15 padding-left-15" ng-click="im.cancelar()" ng-disabled="im.isRefresing">Cancelar</button>
            </div>
        </div>
    </div>
</section>