<section id="section-editarotros" class="editarhv" ng-cloak>
    <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
        <h1>IDIOMAS Y SOFTWARE
        </h1>
    </div>
    <div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12"
                     ng-repeat="language in im.languages.person_languages">
                    <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">{{language.language}}</span>
                        <span class="dominio col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left">
                            <div class="margin-5">
                                Lengua Materna
                            </div>
                        </span>
                </div>

                <div class="add col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-10 text-center"
                     style="visibility:hidden;"><img src="../assets/images/plus.png" width="" height=""/> Agregar otro
                    idioma
                </div>

                <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12"
                     ng-repeat="software in im.softwares.person_softwares">
                    <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">{{software.software}}</span>
                        <span class="dominio col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left">
                            <div class="margin-5">
                                Nivel Intermedio
                            </div>
                        </span>
                </div>
                <div class="add col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-10 text-center"
                     style="visibility:hidden;"><img src="../assets/images/plus.png" width="" height=""/> Agregar más
                    programas
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-bottom-20 text-center">
                    <button class="btn btn-lg bton-green padding-right-15 padding-left-15"
                            ng-click="im.languagesSoftwaresEdit=im.editar(im.languagesSoftwaresEdit);">Editar
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>