<section id="section-editarotros" class="editarhv" ng-cloak>
     <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
        <h1 ng-if="!im.isLangAdd && !im.isSoftAdd">IDIOMAS Y SOFTWARE
        </h1>
        <h1 ng-if="im.isLangAdd">IDIOMAS
        </h1>
        <h1 ng-if="im.isSoftAdd">SOFTWARE
        </h1>
    </div>
    <div>
        <div class="row padding-10">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="!im.isLangAdd && !im.isSoftAdd">
                <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20"
                    ng-repeat="language in im.languages.person_languages">
                    <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30 margin-top-15">
                        {{language.language}}
                    </span>
                    <span class="dominio col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left">
                        <div class="select margin-5 hidden-xs">
                            <select 
                                class="select-style" 
                                name="nivelIdioma" 
                                ng-model="language.level"
                                id="nivelIdioma"
                                ng-class='{error: formEstudios.nivelIdioma.$invalid && formEstudios.nivelIdioma.$touched, success: formEstudios.nivelIdioma.$valid && formEstudios.nivelIdioma.$touched && !pasoEstudios, selectNoStyle :!im.langEdit[$index] }'
                                class="select-style input select-ext"
                                required ng-change="im.nivelIdiomaMuestra($index);"
                                ng-selected="im.nivelIdiomaMuestra($index);"
                                ng-disabled="!im.langEdit[$index]">
                                <option value="{{language.level}}" selected>
                                    {{im.nivelesLanguages[$index].nivelLanguage}}
                                </option>
                                <option value="1">Básico</option>
                                <option value="2">Intermedio
                                </option>
                                <option value="3">Avanzado</option> 
                            </select>
                        </div>
                        <div class="margin-5 visible-xs">
                            <md-select 
                                ng-model="language.level"
                                ng-class='{error: formEstudios.nivelIdioma.$invalid && formEstudios.nivelIdioma.$touched, success: formEstudios.nivelIdioma.$valid && formEstudios.nivelIdioma.$touched && !pasoEstudios, selectNoStyle :!im.langEdit[$index] }'
                                ng-change="im.nivelIdiomaMuestra($index);"
                                ng-selected="im.nivelIdiomaMuestra($index);"
                                ng-disabled="!im.langEdit[$index]"
                                placeholder="Nivel de idioma" 
                                class="md-no-underline" 
                                id='nivelIdioma' 
                                name='nivelIdioma' 
                                style="border: 1px solid #ccc; border-radius: 4px;"
                                required>
                                <md-option value="1">Básico</md-option>
                                <md-option value="2">Intermedio</md-option>
                                <md-option value="3">Avanzado</md-option>
                            </md-select>
                        </div>
                    </span>
                    <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left margin-top-10 hidden-xs">
                        <a ng-if="!im.langEdit[$index]" href="" ng-click="im.editarObjeto($index,'lang');">
                            <img src="../assets/images/icon-editar.png">&nbsp;Editar&nbsp;&nbsp;
                        </a>
                        <a ng-if="im.langEdit[$index]" href="" ng-click="im.editarObjeto($index,'langG');">
                            <img src="../assets/images/icon-check-activo.png">&nbsp;Guardar&nbsp;&nbsp;
                        </a>
                        <a href="" ng-click="im.eliminarObjeto($index,'lang');">
                            <img src="../assets/images/icon-eliminar.png">&nbsp;Eliminar
                        </a>
                    </span>
                    <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center margin-top-10 visible-xs">
                        <a ng-if="!im.langEdit[$index]" href="" ng-click="im.editarObjeto($index,'lang');">
                            <img src="../assets/images/icon-editar.png">&nbsp;Editar&nbsp;&nbsp;
                        </a>
                        <a ng-if="im.langEdit[$index]" href="" ng-click="im.editarObjeto($index,'langG');">
                            <img src="../assets/images/icon-check-activo.png">&nbsp;Guardar&nbsp;&nbsp;
                        </a>
                        <a href="" ng-click="im.eliminarObjeto($index,'lang');">
                            <img src="../assets/images/icon-eliminar.png">&nbsp;Eliminar
                        </a>
                    </span>
                </div>

                <div class="add col-xs-12 text-center">
                    <a href="" ng-click="im.agregarIdioma();">
                        <img src="../assets/images/plus.png" width="" height=""/> Agregar idioma
                    </a>
                    <br>
                    <br>
                </div>


                <div ng-if="im.softwares.person_softwares.length<1 && !(im.noLang && im.noSoft) ">
                    <div class="text-center">
                        <h4 class="to-upper text-orange">Usted actualmente no a registrado ningun software</h4>
                    </div>
                </div>
                <br>

                <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="software in im.softwares.person_softwares">
                    <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30 margin-top-15">
                        {{software.software}}
                    </span>
                    <span class="dominio col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left">
                        <div class="select margin-5 hidden-xs">
                            <select 
                                class="select-style" 
                                name="nivelSoftware" 
                                ng-model="software.level"
                                id="nivelSoftware"
                                ng-class='{error: formEstudios.nivelSoftware.$invalid && formEstudios.nivelSoftware.$touched, success: formEstudios.nivelSoftware.$valid && formEstudios.nivelSoftware.$touched && !pasoEstudios, selectNoStyle: !im.softEdit[$index]}'
                                class="select-style input select-ext"
                                required ng-change="im.nivelSoftwareMuestra($index);"
                                ng-selected="im.nivelSoftwareMuestra($index);"
                                ng-disabled="!im.softEdit[$index]">
                                <option value="{{software.level}}" selected>
                                    {{im.nivelesSoftwares[$index].nivelSoftware}}
                                </option>
                                <option value="1">Básico</option>
                                <option value="2">Intermedio
                                </option>
                                <option value="3">Avanzado</option>
                            </select>
                        </div>
                        <div class="margin-5 visible-xs">
                            <md-select 
                                ng-model="software.level"
                                ng-class='{error: formEstudios.nivelSoftware.$invalid && formEstudios.nivelSoftware.$touched, success: formEstudios.nivelSoftware.$valid && formEstudios.nivelSoftware.$touched && !pasoEstudios, selectNoStyle: !im.softEdit[$index]}'
                                ng-change="im.nivelSoftwareMuestra($index);"
                                ng-selected="im.nivelSoftwareMuestra($index);"
                                ng-disabled="!im.softEdit[$index]"
                                placeholder="Nivel de software" 
                                class="md-no-underline" 
                                id='nivelSoftware' 
                                name='nivelSoftware' 
                                style="border: 1px solid #ccc; border-radius: 4px;"
                                required>
                                <md-option value="1">Básico</md-option>
                                <md-option value="2">Intermedio</md-option>
                                <md-option value="3">Avanzado</md-option>
                            </md-select>
                        </div>
                    </span>
                    <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left margin-top-10 hidden-xs">
                        <a ng-if="!im.softEdit[$index]" href="" ng-click="im.editarObjeto($index,'soft');">
                            <img src="../assets/images/icon-editar.png">&nbsp;Editar&nbsp;&nbsp; 
                        </a>
                        <a ng-if="im.softEdit[$index]" href="" ng-click="im.editarObjeto($index,'softG');">
                            <img src="../assets/images/icon-check-activo.png">&nbsp;Guardar&nbsp;&nbsp;
                        </a>
                        <a href="" ng-click="im.eliminarObjeto($index,'soft');">
                            <img src="../assets/images/icon-eliminar.png">&nbsp;Eliminar
                        </a>
                    </span>
                    <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center margin-top-10 visible-xs">
                        <a ng-if="!im.softEdit[$index]" href="" ng-click="im.editarObjeto($index,'soft');">
                            <img src="../assets/images/icon-editar.png">&nbsp;Editar&nbsp;&nbsp; 
                        </a>
                        <a ng-if="im.softEdit[$index]" href="" ng-click="im.editarObjeto($index,'softG');">
                            <img src="../assets/images/icon-check-activo.png">&nbsp;Guardar&nbsp;&nbsp;
                        </a>
                        <a href="" ng-click="im.eliminarObjeto($index,'soft');">
                            <img src="../assets/images/icon-eliminar.png">&nbsp;Eliminar
                        </a>
                    </span>
                </div>

                <div class="add col-xs-12 text-center">
                    <a href="" ng-click="im.agregarSoftware();">
                        <img src="../assets/images/plus.png" width="" height=""/> Agregar programa
                    </a>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="im.isLangAdd">
                <div ng-include="'app/sectionActualiza/languagesSoftwaresCreateLang.html'"></div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="im.isSoftAdd">
                <div ng-include="'app/sectionActualiza/languagesSoftwaresCreateSoft.html'"></div>
            </div>
        </div>
    </div>
</section>