<section id="section-idiomas" class="section section-blanco margin-0 text-center" ng-cloak>
    <div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p class="padding-left-20 padding-right-20">Cuéntanos que otros idiomas entiendes, selecciona de la lista de abajo los idiomas que mejor domines</p>
                <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center margin-bottom-20">
                    <form class="form-registro" ng-model="formOtros" name="formOtros" role="form" novalidate>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                            <div class="select2 margin-5 hidden-xs">
                                <select 
                                    name="idioma" 
                                    class="select-style" 
                                    ng-model="im.newLang.language"
                                    ng-class='{error: formOtros.im.newLang.language.$invalid && formOtros.im.newLang.language.$touched, success: formOtros.im.newLang.language.$valid && formOtros.im.newLang.language.$touched}'
                                    required>
                                    <option value="" selected>Idioma</option>
                                    <option ng-repeat="l in im.listIdiomas" value="{{l}}">{{l}}</option>
                                </select>
                            </div>
                            <div class="margin-5 visible-xs">
                                <md-select 
                                    ng-model="im.newLang.language"
                                    ng-class='{error: formOtros.im.newLang.language.$invalid && formOtros.im.newLang.language.$touched, success: formOtros.im.newLang.language.$valid && formOtros.im.newLang.language.$touched}'
                                    placeholder="Idioma" 
                                    class="md-no-underline" 
                                    id='idioma' 
                                    name='idioma' 
                                    style="border: 1px solid #ccc; border-radius: 4px;"
                                    required>
                                    <md-option ng-repeat="l in im.listIdiomas" value="{{l}}">{{l}}</md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                            <div class="select2 margin-5 hidden-xs">
                                <select 
                                    name="nivel" 
                                    class="select-style" 
                                    ng-model="im.newLang.level"
                                    ng-class='{error: formOtros.im.newLang.level.$invalid && formOtros.im.newLang.level.$touched, success: formOtros.im.newLang.level.$valid && formOtros.im.newLang.level.$touched}'
                                    required >
                                    <option value="" selected>Nivel</option>
                                    <option value="1" selected>Básico</option>
                                    <option value="2" selected>Intermedio</option>
                                    <option value="3" selected>Avanzado</option>
                                </select>
                            </div>
                            <div class="margin-5 visible-xs">
                                <md-select 
                                    ng-model="im.newLang.level"
                                    ng-class='{error: formOtros.im.newLang.level.$invalid && formOtros.im.newLang.level.$touched, success: formOtros.im.newLang.level.$valid && formOtros.im.newLang.level.$touched}'
                                    placeholder="Nivel" 
                                    class="md-no-underline" 
                                    id='nivel' 
                                    name='nivel' 
                                    style="border: 1px solid #ccc; border-radius: 4px;"
                                    required>
                                    <md-option value="1">Básico</md-option>
                                    <md-option value="2">Intermedio</md-option>
                                    <md-option value="3">Avanzado</md-option>
                                </md-select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10 margin-top-20 text-center">
                    <button class="btn btn-lg bton-green padding-right-15 padding-left-15 btn-sombras" ng-disabled="im.camposValidos(im.newLang.level,im.newLang.language) || im.isRefresing" ng-click="im.guardarCrear('lang')">¡Listo!</button>
                    <button class="btn btn-lg bton-green padding-right-15 padding-left-15" ng-disabled="im.isRefresing" ng-click="im.cancelar()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</section>