<div class="row" ng-cloak>

    <div class="col-xs-12 text-center">
        <h2 class="text-blue-soy to-upper">
            Queremos sabes tus mayores logros
            <img src="../assets/images/soyempleo-registro.png" alt="" style="max-height: 80px"/><br/>
            <span class="text-gray-hard font-size-16 margin-top-n10">Ninguno de los campos son obligatorios</span>
        </h2>

    </div>

    <div class="col-xs-8 col-xs-offset-2 text-center margin-bottom-20">
        <span class="text-blue-soy text-left font-size-18">¡ Un gran logro !</span>
        <textarea class="form-control" rows="5" ng-disabled="lg.data" ng-model="lg.l1"
                  placeholder="Mi mayor logro fue..."></textarea>
    </div>

    <div class="col-xs-8 col-xs-offset-2 text-center margin-bottom-20">
        <span class="text-blue-soy text-left font-size-18">Algo que te enorgullezca</span>
        <textarea class="form-control" rows="5" ng-disabled="lg.data" ng-model="lg.l2"
                  placeholder="También estoy orgulloso de haber..."></textarea>
    </div>

    <div class="col-xs-8 col-xs-offset-2 text-center margin-bottom-20">
        <span class="text-blue-soy text-left font-size-18">Un momento agradable</span>
        <textarea class="form-control" rows="5" ng-disabled="lg.data" ng-model="lg.l3"
                  placeholder="Recuerdo con alegría cuando..."></textarea>
    </div>


    <div class="col-xs-8 col-xs-offset-2 text-center margin-bottom-50" ng-if="!lg.data">
        <button class="btn btn-lg bton-green padding-right-15 padding-left-15"
                ng-click="lg.guardarLogros(lg.l1,lg.l2,lg.l3)" ng-disabled="lg.isRefresing">
            Guardar
        </button>
    </div>

    <div class="col-xs-8 col-xs-offset-2 text-center margin-bottom-50" ng-if="lg.data">
        <button class="btn btn-lg bton-green padding-right-15 padding-left-15"
                ng-click="lg.editarLogros()">
            Editar
        </button>
    </div>

</div>