<div class="panel" ng-controller="logrosController as lg" ng-cloak>

    <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12  text-center margin-bottom-20">
        <h1>Exitos y logros
        </h1>
    </div>
    <section id="section-logrosEdit">
        <div ng-include="'app/sectionActualiza/logrosEdit.html'"></div>
    </section>

</div>