<div class="panel" ng-controller="preferenciasController as pref" ng-cloak>
    <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin-bottom-20">
        <h1>PREFERENCIAS
            <button class="btn-sinStyle text-white" ng-click="pref.mostrarInfoAyuda()">
            </button>
        </h1>
    </div>
    <section id="section-preferencias" class=" text-center" ng-if="!pref.preferencesEdit">
        <div ng-include="'app/sectionActualiza/preferencesConsultar.html'"></div>
    </section>
</div>