<section id="section-preferencias">

    <!-- <div ng-if="pref.mensajeDatos" class="text-center margin-top-20">
        <h3 class="to-upper text-orange">Usted actualmente no ha seleccionado sus preferencias</h3>
    </div> -->

    <div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>Cuentános, ¿En qué área y en que sector quieres trabajar?</h4>

                <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center margin-bottom-20">
                    <form class="form-registro" name="formPreferencias" role="form" novalidate>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                            <div class="select margin-5 hidden-xs" required>
                                <select 
                                    name="areas" 
                                    class="select-style" 
                                    ng-model="pref.preferencesObj.area_position"
                                    required>
                                    <option value="" selected>Áreas</option>
                                    <option ng-repeat="l in pref.listAreas" value="{{l.description}}">{{l.description}}</option>
                                </select>
                            </div>
                            <div class="margin-5 visible-xs">
                                <md-select 
                                    ng-model="pref.preferencesObj.area_position"
                                    placeholder="Áreas" 
                                    class="md-no-underline" 
                                    id='areas' 
                                    name='areas' 
                                    style="border: 1px solid #ccc; border-radius: 4px;"
                                    required>
                                    <md-option ng-repeat="l in pref.listAreas" value="{{l.description}}">{{l.description}}</md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                            <div class="select margin-5 hidden-xs" required>
                                <select 
                                    name="sector" 
                                    class="select-style" 
                                    required
                                    ng-model="pref.preferencesObj.sector_company">
                                    <option value="" selected>Sector</option>
                                    <option ng-repeat="l in pref.listSector " value="{{l.description}}">{{l.description}}</option>
                                </select>
                            </div>
                            <div class="margin-5 visible-xs">
                                <md-select 
                                    ng-model="pref.preferencesObj.sector_company"
                                    placeholder="Sector" 
                                    class="md-no-underline" 
                                    id='sector' 
                                    name='sector' 
                                    style="border: 1px solid #ccc; border-radius: 4px;"
                                    required>
                                    <md-option ng-repeat="l in pref.listSector " value="{{l.description}}">{{l.description}}</md-option>
                                </md-select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-bottom-20 text-center">
                    <button class="btn btn-lg bton-green padding-right-15 padding-left-15"
                            ng-click="
                            pref.registrarPreferencias(pref.preferencesObj.area_position,pref.preferencesObj.sector_company)">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>