<section id="section-editardatos" class="text-center" ng-cloak>
  <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
    <h1>ACTUALIZAR MIS DATOS Y MI HOJA DE VIDA</h1>
  </div>
  <div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-20">
        <p class="padding-left-20 padding-right-20">Desde acá podrás actualizar todos tus datos personales así como tu hoja de vida, empecemos!ss</p>
        <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center margin-bottom-20">
          <form class="form-registro" name="formDatos" role="form" novalidate>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
              <input disabled="{{!vm.profileDataEdit}}" type="text" placeholder="Nombre Completo" name="nombre" class="input margin-5"
              ng-model="vm.nombreCompleto" minlength="4"
              required data-ng-class='{ error: formDatos.nombre.$invalid && formDatos.nombre.$dirty,
              success: formDatos.nombre.$valid && formDatos.nombre.$dirty}'
              uib-popover="{{formDatos.nombre.$touched && formDatos.nombre.$error.required ?
              'Valor es requerido' : ''}}" popover-trigger="focus"
              onkeypress="return soloLetras(event);" ng-keyup="cortarString(nombre)"
              ng-blur="cortarString(nombre)" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
              <input disabled="{{!vm.profileDataEdit}}" type="text" placeholder="Documento de identidad" class="input margin-5" ng-model="vm.profileData.person.numb_doc"
              maxlength="16"
              name="cedu" required data-ng-class='{error: formDatos.cedu.$invalid && formDatos.cedu.$dirty, success:
              formDatos.cedu.$valid && formDatos.cedu.$dirty}'
              uib-popover="{{formDatos.cedu.$touched
              && formDatos.cedu.$error.required ? 'Valor es requerido' : ''}}" popover-trigger="focus"/>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
              <input disabled="{{!vm.profileDataEdit}}" type="date" name="fechanac" placeholder="Fecha de Nacimiento" class="input margin-5" required
              ng-model="vm.profileData.person.birthdate" data-ng-class='{error: formDatos.fechanac.$invalid &&
              formDatos.fechanac.$touched, success: formDatos.fechanac.$valid && formDatos.fechanac.$dirty}'
              uib-popover="{{(formDatos.fechanac.$touched && formDatos.fechanac.$error.required) ?
              'Fecha Invalida' : ''}}" minlength="6"
              popover-trigger="focus">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
              <input disabled="{{!vm.profileDataEdit}}" type="text" name="ciudadnac" placeholder="Ciudad de Nacimiento" class="input margin-5" required
              ng-model="vm.profileData.person.city_birth" minlength="3" maxlength="100"
              data-ng-class='{error: formDatos.ciudadnac.$invalid && formDatos.ciudadnac.$dirty,
              success: formDatos.ciudadnac.$valid && formDatos.ciudadnac.$dirty}'
              uib-popover="{{formDatos.ciudadnac.$touched && formDatos.ciudadnac.$error.required ?
              'Valor es requerido' : ''}}"
              popover-trigger="focus"/>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
              <div class="select margin-5">
                <select disabled="{{!vm.profileDataEdit}}" name="departamento" class="select-style" required ng-model="vm.profileData.person.act_department"
                ng-class='{error: formDatos.departamento.$invalid && formDatos.departamento.$touched,
                success: formDatos.departamento.$valid && formDatos.departamento.$touched}'>
                <option value="" selected>Departamento de domicilio</option>
                <option value="{{vm.profileData.person.act_department}}" selected ng-if="vm.profileData.person.act_department!=''">{{vm.profileData.person.act_department}}</option>
                <option ng-repeat="l in listDepartamentos" value="{{l}}">{{l}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
            <div class="select margin-5">
              <select disabled="{{!vm.profileDataEdit}}" name="ciudad" class="select-style" required ng-model="vm.profileData.person.act_city"
              ng-class='{error: formDatos.ciudad.$invalid && formDatos.ciudad.$touched,
              success: formDatos.ciudad.$valid && formDatos.ciudad.$touched}'>
              <option value="" selected>Ciudad de domicilio</option>
              <option value="{{vm.profileData.person.act_city}}" ng-if="vm.profileData.person.act_city!=''" selected>
                {{vm.profileData.person.act_city}}
              </option>
              <option ng-repeat="l in listaCiudades" value="{{l}}">{{l}}</option>
            </select>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
          <input disabled="{{!vm.profileDataEdit}}" type="text" name="direccion" placeholder="Dirección Domicilio" class="input margin-5" required
          ng-model="vm.profileData.person.act_address" minlength="4" maxlength="200"
          data-ng-class='{error: formDatos.direccion.$invalid && formDatos.direccion.$dirty,
          success: formDatos.direccion.$valid && formDatos.direccion.$dirty}'
          uib-popover="{{formDatos.direccion.$touched && formDatos.direccion.$error.required ?
          'Valor es requerido' : ''}}" popover-trigger="focus"/>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
          <input disabled="{{!vm.profileDataEdit}}" type="text" name="fijo" placeholder="Teléfono Fijo" class="input margin-5" required
          ng-model="vm.profileData.person.local_phone" minlength="7" maxlength="16"
          data-ng-class='{error: formDatos.fijo.$invalid && formDatos.fijo.$dirty, success:
          formDatos.fijo.$valid && formDatos.fijo.$dirty}' uib-popover="{{formDatos.fijo.$touched
          && formDatos.fijo.$error.required ? 'Valor es requerido' : ''}}"
          popover-trigger="focus" onkeypress="return valTlf(event)"/>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
          <input disabled="{{!vm.profileDataEdit}}" type="text" name="movil" placeholder="Teléfono Movil" class="input margin-5" required
          ng-model="vm.profileData.person.mobile_phone" minlength="10" maxlength="16"
          data-ng-class='{error: formDatos.movil.$invalid && formDatos.movil.$dirty,
          success: formDatos.movil.$valid && formDatos.movil.$dirty}'
          uib-popover="{{formDatos.movil.$touched && formDatos.movil.$error.required ?
          'Valor es requerido' : ''}}" popover-trigger="focus" onkeypress="return valTlf(event)"/>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
          <input disabled="{{!vm.profileDataEdit}}" type="text" name="alternativo" placeholder="Teléfono Alternativo" class="input margin-5"
          ng-model="vm.profileData.person.alt_phone" minlength="7" maxlength="16"
          data-ng-class='{error: formDatos.alternativo.$invalid && formDatos.alternativo.$dirty ,
          success: formDatos.alternativo.$valid && formDatos.alternativo.$dirty}'
          uib-popover="{{formDatos.alternativo.$touched && formDatos.alternativo.$error.pattern ?
          'Telefono Invalido' : ''}}" popover-trigger="focus" onkeypress="return valTlf(event)"/>
        </div>

        <div class="radio col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left margin-top-10 margin-bottom-10">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-0">
            <span>Género:</span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 padding-0">
            <input disabled="{{!vm.profileDataEdit}}" type="radio" id="g1" name="genero" value="F" required ng-model="vm.profileData.person.gender" selected />
            <label for="g1"><span></span> Femenino</label>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 padding-0">
            <input disabled="{{!vm.profileDataEdit}}" type="radio" id="g2" name="genero" value="M" required ng-model="vm.profileData.person.gender"/>
            <label for="g2"><span></span> Masculino</label>
          </div>
        </div>
        <div class="radio col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left margin-top-10 margin-bottom-10">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-0">
            <span>¿Posee transporte propio?:</span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-0">
            <input disabled="{{!vm.profileDataEdit}}" type="radio" id="t1" name="vehiculo" value="S" required ng-model="vm.profileData.person.vehicle"/>
            <label for="t1"><span></span> SI</label>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-0">
            <input disabled="{{!vm.profileDataEdit}}" type="radio" id="t2" name="vehiculo" value="N" required ng-model="vm.profileData.person.vehicle" selected />
            <label for="t2"><span></span> NO</label>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="radio col-lg-6 col-md-6 col-sm-6 col-xs-12 margin-top-10 margin-bottom-10 text-left padding-0">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-0">
              <span>Licencia:</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-0">
              <input disabled="{{!vm.profileDataEdit}}" type="radio" id="l1" name="licencia" value="S" required ng-model="vm.profileData.person.driver_license"/>
              <label for="l1"><span></span> SI</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-0">
              <input disabled="{{!vm.profileDataEdit}}" type="radio" id="l2" name="licencia" value="N" required ng-model="vm.profileData.person.driver_license" selected />
              <label for="l2"><span></span> NO</label>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0" ng-if="vm.profileData.person.driver_license!='N'" >
            <div class="select margin-5" >
              <select disabled="{{!vm.profileDataEdit}}" name="grado" class="select-style" required ng-model="vm.profileData.person.degree_license" ng-class='{error:
              formDatos.grado.$invalid && formDatos.grado.$touched, success: formDatos.grado.$valid
              && formDatos.grado.$touched}'>
              <option value="{{vm.profileData.person.degree_license}}" selected>{{vm.profileData.person.degree_license}}</option>
              <option value="1">A1-A2 (Motos)</option>
              <option value="2">B1-B2 (automoviles y camionetas)</option>
              <option value="3">B3 (tractomulas)</option>
              <option value="4">C (vehículos de serv. publico)</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>
</section>