<section id="section-editardatos" class="text-center bg-white md-especial-class" ng-cloak>
  <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
    <h1>ACTUALIZAR MIS DATOS Y MI HOJA DE VIDA</h1>
  </div>
  <div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-20">
        <p class="padding-left-20 padding-right-20">Desde acá podrás actualizar todos tus datos personales así como tu hoja de vida, empecemos!</p>
        <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center margin-bottom-20">
          <form class="form-registro" name="formDatos" role="form" novalidate>
            <div class="col-xs-12 padding-left-0">
              <input type="text" placeholder="Nombre Completo" name="nombre" class="input margin-5"
              ng-model="vm.nombreCompleto" minlength="4"
              required data-ng-class='{ error: formDatos.nombre.$invalid && formDatos.nombre.$dirty}' pattern="[a-zA-ZA-ZΆ-ΫÀ-ÖØ-Þa-zά-ώß-öø-ÿ\s]+"
              uib-popover="{{formDatos.nombre.$touched && formDatos.nombre.$error.required ?
              'Valor es requerido' : ''}}" popover-trigger="focus"
              ng-keyup="vm.separarNombre(vm.nombreCompleto)"
              ng-blur="vm.mostrarError(formDatos.nombre.$error)"/>
            </div>
            <div ng-show="(formDatos.nombre.$error.minlength || formDatos.nombre.$error.pattern) && formDatos.nombre.$touched" class="text-center msg-error">
              Nombre completo invalido
            </div>
            <div ng-show="formDatos.nombre.$error.required && formDatos.nombre.$touched" class="text-center msg-error">
              Ingrese tu nombre completo
            </div>
            <div ng-show="(formDatos.cedula.$error.minlength || formDatos.cedula.$error.pattern) && formDatos.cedula.$touched" class="text-center msg-error">
              Documento de identidad invalido
            </div>
            <div ng-show="formDatos.cedula.$error.required && formDatos.cedula.$touched" class="text-center msg-error">
              Ingrese documento de identidad
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-left-0">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-left-0">
                <label  ng-show="!actualmenteEmpresa">Fecha de Nacimiento</label>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-left-0" style="padding-left:0px !important;">
                
                <div class="margin-5">
                  <input type="text" name="annoFinEmpresa" ng-model="vm.birthDay"  ng-class='{error: formDatos.annoFinEmpresa.$invalid && formDatos.annoFinEmpresa.$touched}' placeholder="Dia" ng-keyup="vm.calculateDays(vm.birthMonth)" required />
                  
                </div>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 padding-left-0">
                <div class="select2 margin-5 hidden-xs">
                  <select 
                    name="mesInicio" 
                    class="select-style" 
                    ng-model="vm.birthMonth" 
                    ng-change="vm.calculateDays(vm.birthMonth);" 
                    ng-class='{error: formDatos.mesInicio.$invalid && formDatos.mesInicio.$touched}' 
                    required>
                    <option value="" selected>Mes</option>
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                  </select>
                </div>
                <div class="margin-5 visible-xs">
                  <md-select 
                    ng-model="vm.birthMonth" 
                    placeholder="Mes" 
                    class="md-no-underline" 
                    id='mesInicio' 
                    name='mesInicio' 
                    style="border: 1px solid #ccc; border-radius: 4px;"
                    ng-change="vm.calculateDays(vm.birthMonth);"
                    ng-class='{error: formDatos.mesInicio.$invalid && formDatos.mesInicio.$touched}'>
                    <md-option value="1">Enero</md-option>
                    <md-option value="2">Febrero</md-option>
                    <md-option value="3">Marzo</md-option>
                    <md-option value="4">Abril</md-option>
                    <md-option value="5">Mayo</md-option>
                    <md-option value="6">Junio</md-option>
                    <md-option value="7">Julio</md-option>
                    <md-option value="8">Agosto</md-option>
                    <md-option value="9">Septiembre</md-option>
                    <md-option value="10">Octubre</md-option>
                    <md-option value="11">Noviembre</md-option>
                    <md-option value="12">Diciembre</md-option>
                  </md-select>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-left-0" style="padding-right: 0px !important;">
                <div class="margin-5">
                  <input type="text" name="annoInicioEmpresa" ng-model="vm.birthYear" ng-class='{error: formDatos.annoInicioEmpresa.$invalid && formDatos.annoInicioEmpresa.$touched}' minlength="4" ng-keyup="vm.calculateDays(vm.birthMonth)" placeholder="Año" required/>
                </div>
              </div>
            </div>
            <!-- Reservado para para mensajes de validaciones de fechas -->
            <div ng-show="vm.birthDay > vm.selectDay.length && formDatos.mesInicio.$touched && !formDatos.annoFinEmpresa.$error.required" class="msg-error">
              Parece que el día no es correcto. Asegúrate de usar un número de dos cifras que corresponda a un día del mes.
            </div>
            <div ng-show="(formDatos.annoFinEmpresa.$error.required && formDatos.annoFinEmpresa.$touched) || (formDatos.mesInicio.$error.required && formDatos.mesInicio.$touched) || (formDatos.annoInicioEmpresa.$error.required && formDatos.annoInicioEmpresa.$touched)" class="msg-error">
              No puedes dejar este campo en blanco.
            </div>
            <div ng-show="(vm.birthYear > (vm.anioActual-15)) && formDatos.annoInicioEmpresa.$touched" class="msg-error">
              Para poder trabajar en Colombia necesitas ser mayor a 15 años
            </div>
            <!-- Fin de mensajes de validaciones de fechas-->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
              <input type="text" name="cedula" placeholder="Documento de identidad" class="input margin-5" required
              ng-model="vm.profileData.person.numb_doc" minlength="5" maxlength="16" pattern="[0-9\s\.\+\(\)]+"
              data-ng-class='{error: formDatos.cedula.$invalid && formDatos.cedula.$dirty}' uib-popover="{{formDatos.cedula.$touched
              && formDatos.cedula.$error.required ? 'Valor es requerido' : ''}}"
              popover-trigger="focus"/>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
              <input type="text" name="ciudadnac" placeholder="Ciudad de Nacimiento" class="input margin-5" required
              ng-model="vm.profileData.person.city_birth" minlength="2" maxlength="100"
              data-ng-class='{error: formDatos.ciudadnac.$invalid && formDatos.ciudadnac.$touched}'
              uib-popover="{{formDatos.ciudadnac.$touched && formDatos.ciudadnac.$error.required ?
              'Valor es requerido' : ''}}"
              popover-trigger="focus"/>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
              <div class="select margin-5 hidden-xs">
                <select 
                  name="departamento" 
                  class="select-style" 
                  required 
                  ng-model="vm.profileData.person.act_department"                  
                  ng-class='{error: formDatos.departamento.$invalid && formDatos.departamento.$touched}'                 
                  ng-change="vm.depSelected(vm.profileData.person.act_department)">
                  <option value="" selected>Departamento de domicilio</option>
                  <option value="{{vm.profileData.person.act_department}}" selected ng-if="vm.profileData.person.act_department!=''">{{vm.profileData.person.act_department}}</option>
                  <option ng-repeat="l in vm.listDepartamentos" value="{{l.name}}">{{l.name}}</option>
                </select>
              </div>
              <div class="margin-5 visible-xs">
                <md-select 
                  ng-model="vm.profileData.person.act_department"
                  ng-class='{error: formDatos.departamento.$invalid && formDatos.departamento.$touched}'                 
                  ng-change="vm.depSelected(vm.profileData.person.act_department)"
                  placeholder="Departamento" 
                  class="md-no-underline" 
                  id='departamento' 
                  name='departamento' 
                  style="border: 1px solid #ccc; border-radius: 4px;"
                  required>
                  <md-option ng-repeat="l in vm.listDepartamentos" value="{{l.name}}">{{l.name}}</md-option>
                </md-select>
              </div>
            </div>
            <!-- Sección para validar mensajes -->
            <div ng-show="(formDatos.ciudadnac.$error.required && formDatos.ciudadnac.$touched) || (formDatos.departamento.$error.required && formDatos.departamento.$touched)" class="msg-error">
              No puedes dejar este campo en blanco.
            </div>
            <div ng-show="(formDatos.ciudadnac.$error.minlength && formDatos.ciudadnac.$touched)" class="msg-error">
              La ciudad de nacimiento que ingresaste es invalida
            </div>
            <!-- Fin de validar mensajes -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
              <div class="select margin-5 hidden-xs">
                <select 
                  name="ciudad" 
                  class="" 
                  required 
                  ng-model="vm.profileData.person.act_city"
                  ng-class="{error: formDatos.ciudad.$invalid && formDatos.ciudad.$touched, success: formDatos.ciudad.$valid && formDatos.ciudad.$touched, 'select-style-red': !vm.departamentoAjax && !vm.profileData.person.act_department, 'select-style': !vm.departamentoAjax && vm.profileData.person.act_department, 'select-style-red-loading':vm.departamentoAjax}" >
                    <option value="" 
                        selected 
                        ng-if='vm.profileData.person.act_department && !vm.departamentoAjax && vm.profileData.person.act_city==""'>
                        Ciudad
                    </option> 
                    <option value="" 
                        selected 
                        ng-if='!vm.profileData.person.act_department && !vm.departamentoAjax && vm.profileData.person.act_city==""'>
                        No haz Seleccionado departamento
                    </option> 
                    <option value="" 
                        selected 
                        ng-if='vm.departamentoAjax && vm.profileData.person.act_city==""'>
                        Cargando
                    </option>
                    <option value="{{vm.profileData.person.act_city}}" 
                        ng-if="vm.profileData.person.act_city!=''" 
                        selected>
                        {{vm.profileData.person.act_city}}
                    </option>
                    <option ng-repeat="l in vm.listaCiudades" 
                        value="{{l.name}}">
                        {{l.name}}
                    </option>
                </select>
              </div>
              <div class="margin-5 visible-xs">
                <md-select 
                    ng-model="vm.profileData.person.act_city"
                    ng-class='{error: formDatos.ciudad.$invalid && formDatos.ciudad.$touched}'
                    placeholder="Ciudad" 
                    class="md-no-underline" 
                    id='ciudad' 
                    name='ciudad' 
                    style="border: 1px solid #ccc; border-radius: 4px;"
                    required>
                    <md-option value="" 
                        ng-if='!vm.profileData.person.act_department && !vm.departamentoAjax'>
                        No haz Seleccionado departamento
                    </md-option> 
                    <md-option value=""
                        ng-if='vm.departamentoAjax'>
                        Cargando
                    </md-option>
                    <md-option ng-repeat="l in vm.listaCiudades" 
                        value="{{l.name}}">
                        {{l.name}}
                    </md-option>
                </md-select>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
              <input type="text" name="direccion" placeholder="Dirección Domicilio" class="input margin-5" required
              ng-model="vm.profileData.person.act_address" minlength="4" maxlength="200"
              data-ng-class='{error: formDatos.direccion.$invalid && formDatos.direccion.$dirty}'
              uib-popover="{{formDatos.direccion.$touched && formDatos.direccion.$error.required ?
              'Valor es requerido' : ''}}" popover-trigger="focus"/>
            </div>
            <!-- Validar mensajes -->
            <div ng-show="(formDatos.ciudad.$error.required && formDatos.ciudad.$touched) || (formDatos.ciudad.$error.required && formDatos.ciudad.$touched)" class="msg-error">
              No puedes dejar este campo en blanco.
            </div>
            <div ng-show="(formDatos.direccion.$error.minlength && formDatos.direccion.$touched)" class="msg-error">
              La dirección del domicilio que ingresaste es invalida
            </div>
            <!-- Fin de validar mensajes -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
              <input type="text" name="fijo" placeholder="Teléfono Fijo" class="input margin-5" required
              ng-model="vm.profileData.person.local_phone" minlength="7" maxlength="16"
              data-ng-class='{error: formDatos.fijo.$invalid && formDatos.fijo.$dirty}' pattern="[0-9\+\(\)]+" uib-popover="{{formDatos.fijo.$touched
              && formDatos.fijo.$error.required ? 'Valor es requerido' : ''}}"
              popover-trigger="focus"/>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
              <input type="text" name="movil" placeholder="Teléfono Movil" class="input margin-5" required pattern="[0-9\+\(\)]+"
              ng-model="vm.profileData.person.mobile_phone" minlength="10" maxlength="16"
              data-ng-class='{error: formDatos.movil.$invalid && formDatos.movil.$dirty}'
              uib-popover="{{formDatos.movil.$touched && formDatos.movil.$error.required ?
              'Valor es requerido' : ''}}" popover-trigger="focus" />
            </div>
            
            <!-- Espacio para mensajes de valiaciones -->
            <div ng-show="(formDatos.fijo.$error.minlength && formDatos.fijo.$touched)" class="msg-error">
              El teléfono fijo ingresado es muy corto
            </div>
            <div ng-show="(formDatos.fijo.$error.pattern && formDatos.fijo.$touched)" class="msg-error">
              El teléfono fijo ingresado es invalido
            </div>
            <div ng-show="(formDatos.movil.$error.minlength && formDatos.movil.$touched)" class="msg-error">
              El teléfono móvil ingresado es muy corto
            </div>

            <div ng-show="(formDatos.movil.$error.pattern && formDatos.movil.$touched)" class="msg-error">
              El teléfono móvil ingresado es invalido
            </div>

            <div ng-show="(formDatos.fijo.$error.required && formDatos.fijo.$touched) || formDatos.movil.$error.required && formDatos.movil.$touched" class="msg-error">
              No puedes dejar este campo en blanco.
            </div>


            <!-- Fin de mensajes de valiaciones -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
              <input type="text" name="alternativo" placeholder="Teléfono Alternativo" class="input margin-5"
              ng-model="vm.profileData.person.alt_phone" minlength="7" maxlength="16" pattern="[0-9\+\(\)]+"
              data-ng-class='{error: formDatos.alternativo.$invalid && formDatos.alternativo.$dirty}'
              uib-popover="{{formDatos.alternativo.$touched && formDatos.alternativo.$error.pattern ?
              'Telefono Invalido' : ''}}" popover-trigger="focus" />
            </div>

            <div class="radio col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left margin-top-10 margin-bottom-10">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-0">
                <span>Género:</span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 padding-0">
                <input type="radio" id="g1" name="genero" value="F" required ng-model="vm.profileData.person.gender" selected />
                <label for="g1"><span></span> Femenino</label>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 padding-0">
                <input type="radio" id="g2" name="genero" value="M" required ng-model="vm.profileData.person.gender"/>
                <label for="g2"><span></span> Masculino</label>
              </div>
            </div>
            <div class="radio col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left margin-top-10 margin-bottom-10">
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-0">
                <span>¿Posee transporte propio?:</span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-0">
                <input type="radio" id="t1" name="vehiculo" value="S" required ng-model="vm.profileData.person.vehicle"/>
                <label for="t1"><span></span> SI</label>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-0">
                <input type="radio" id="t2" name="vehiculo" value="N" required ng-model="vm.profileData.person.vehicle" selected />
                <label for="t2"><span></span> NO</label>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="radio col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10 margin-bottom-10 text-left padding-0">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-0">
                  <span>Licencia:</span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-0">
                  <input type="radio" id="l1" name="licencia" value="S" required ng-model="vm.profileData.person.driver_license"/>
                  <label for="l1"><span></span> SI</label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-0">
                  <input type="radio" id="l2" name="licencia" value="N" required ng-model="vm.profileData.person.driver_license" selected ng-selected="vm.opcionSelecta()"/>
                  <label for="l2"><span></span> NO</label>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0" ng-if="vm.profileData.person.driver_license!='N'">
                <div class="select margin-5 hidden-xs">
                  <select 
                    name="grado" 
                    class="select-style" 
                    required 
                    ng-model="vm.profileData.person.degree_license" 
                    ng-selected="vm.gradoLicencia()" 
                    ng-class='{error: formDatos.grado.$invalid && formDatos.grado.$touched}'>
                    <option value="{{vm.profileData.person.degree_license}}" selected>{{vm.profileData.person.degree_license}}</option>
                    <option value="A1-A2 (Motos)">A1-A2 (Motos)</option>
                    <option value="B1-B2 (automoviles y camionetas)">B1-B2 (automoviles y camionetas)</option>
                    <option value="B3 (tractomulas)">B3 (tractomulas)</option>
                    <option value="C (vehículos de serv. publico)">C (vehículos de serv. publico)</option>
                  </select>
                </div>
                <div class="margin-5 visible-xs">
                  <md-select 
                    ng-model="vm.profileData.person.degree_license" 
                    ng-selected="vm.gradoLicencia()" 
                    ng-class='{error: formDatos.grado.$invalid && formDatos.grado.$touched}'
                    placeholder="Licencia" 
                    class="md-no-underline" 
                    id='grado' 
                    name='grado' 
                    style="border: 1px solid #ccc; border-radius: 4px;"
                    required>
                    <md-option value="A1-A2 (Motos)">A1-A2 (Motos)</md-option>
                    <md-option value="B1-B2 (automoviles y camionetas)">B1-B2 (automoviles y camionetas)</md-option>
                    <md-option value="B3 (tractomulas)">B3 (tractomulas)</md-option>
                    <md-option value="C (vehículos de serv. publico)">C (vehículos de serv. publico)</md-option>
                  </md-select>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 text-center">
              <button class="btn btn-lg bton-green padding-right-15 padding-left-15" ng-disabled="!formDatos.$valid" ng-click="vm.profileDataEdit=vm.editar(vm.profileDataEdit); vm.actualizaDatos();">¡Listo!</button> 
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
