<div class="panel" ng-controller="hojadevidaController as vm" ng-cloak>
    <section id="section-datos" class="margin-0 text-center">
      <div ng-include="'app/sectionActualiza/profileDataEditar.html'"></div>
    </section>
</div>