<section id="section-skills" class=" margin-0 text-center" ng-cloak>
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
            <h1>PERFIL PROFESIONAL</h1>
        </div>
        <div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center margin-bottom-20">
                        <form class="form-registro" name="formSkills" role="form" novalidate>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-left-0 margin-top-20">
                                <textarea disabled="true" class="textarea-large margin-5" id="skills" name="skills" ng-model="vm.skills" required ng-keyup="resaltarPalabra(skills)" cols="50" rows="10"></textarea>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10 margin-bottom-10 text-center">
                                <button class="btn btn-lg bton-green padding-right-15 padding-left-15" style="visibility:hidden;"><i class="fa fa-refresh"></i> Cargar otras palabras </button>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-bottom-20 text-center">
                                <button class="btn btn-lg bton-green padding-right-15 padding-left-15" ng-disabled="formSkills.$invalid"
                                    ng-click="vm.skillsEdit=vm.editar(vm.skillsEdit);">Editar </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10 text-center">
                    <a href=""><img src="../assets/images/arrow_registro.png" width="" height="" /></a>
                </div>
            </div>
        </div>
        <!-- <script>
            $('#skills').highlightTextarea({
                words: palabras,
                caseSensitive: false
            });
        </script> -->
    </section>