<style>
    /*
     * jQuery highlightTextarea
     * Copyright 2014-2015 Damien "Mistic" Sorel (http://www.strangeplanet.fr)
     * Licensed under MIT (http://opensource.org/licenses/MIT)
     */
    .highlightTextarea {
        position: relative;
    }

    .highlightTextarea .highlightTextarea-container {
        position: absolute;
        margin: 0;
        overflow: hidden;
    }

    .highlightTextarea .highlightTextarea-highlighter {
        position: relative;
        border: none;
        padding: 0;
        margin: 0;
        color: transparent;
        cursor: text;
        overflow: hidden;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    .highlightTextarea.debug .highlightTextarea-highlighter {
        color: red;
        border: 1px solid red;
        margin: -1px;

    }

    .highlightTextarea mark {
        color: #495BC1 !important;
        font-family: inherit;
        z-index: 555 !important;
        position: relative;
        background-color: transparent;
    }

    .highlightTextarea input, .highlightTextarea textarea {
        position: absolute;
        left: 0;
        top: 0;
        resize: none;
        white-space: pre-wrap;
        word-wrap: break-word;
        height: 160px !important;
    }

    .highlightTextarea {
        width: inherit !important;

    }

    .highlightTextarea .ui-wrapper {
        margin: 0 !important;
    }

    .highlightTextarea .ui-resizable-se {
        bottom: 15px;
        right: 0;
    }
</style>
<div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center" id="perfilProfesional">
    <h1>PERFIL PROFESIONAL
    </h1>
</div>
<div class="complete-section vertical-align-center" ng-show="pasoReferidos">
    Sección Completada
</div>
<div class="row padding-top-10" ng-cloak>
    <p class="col-xs-offset-1 col-xs-10  text-justify text-gray margin-top-10 font-size-17"
       ng-if="qt.modoConsult">Esta es tal vez la parte más
        importante
        de tu hoja
        de vida,
        aquí es donde le dirás a las empresas quien eres y en que te diferencias. Hemos identificados
        algunas palabras claves que harán tu hoja de vida más atractiva y efectiva, intenta utilizar algunas
        de las palabras de la lista de abajo</p>


    <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-xs-offset-2 col-xs-10 text-center margin-bottom-20">
        <h2 class="text-blue-soy font-size-22 margin-top-30 font-bold text-left margin-left-20" ng-if="!qt.modoConsult">
            PALABRAS QUE TE DEFINEN:
        </h2>

        <form class="form-registro" name="formSkills" role="form" novalidate>

            <textarea class="form-control margin-10 font-size-20 sin-sombras" id="skills" name="skills"
                      ng-model="qt.textProfile" maxlength="300"
                      ng-disabled="pasoPerfil" required ng-keyup="qt.resaltarPalabra()" cols="20"
                      ng-class="{' textAreaNoStyle': !qt.modoConsult == true}"
                      rows="10">
            </textarea>
        </form>
    </div>

    <div class="col-lg-offset-1 col-lg-10 col-md-10 col-sm-12 col-xs-12" ng-if="qt.modoConsult == true">
                            <span class="keywords activo col-lg-3" ng-repeat="l in qt.listPalabrasClave"
                                  id="p{{$index}}" ng-class="{'salto': ($index+1)%4==0}"
                                  ng-click="qt.addPalabra(l.description,$index)">{{l.description}}</span>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10 margin-bottom-10 text-center"
         ng-if="qt.modoConsult == true">
        <button class="btn btn-lg bton-green" ng-click="qt.cargarOtrasPalabras()"><i
                class="fa fa-refresh"></i> Cargar otras palabras
        </button>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-bottom-20 text-center">
        <button class="btn btn-lg bton-green " ng-if="qt.modoConsult"
                ng-disabled="formSkills.$invalid || pasoPerfil || qt.isResfresing"
                ng-click="qt.registrarPerfilProfesional(qt.textProfile)">Guardar
        </button>

        <button class="btn btn-lg bton-green margin-bottom-30 margin-top-n40" ng-if="!qt.modoConsult"
                ng-click="qt.modoEdit()">Editar
        </button>
    </div>

</div>
