<div class="panel" ng-controller="quieneresController as qt" ng-cloak>
    <section class="margin-0 text-center" ng-if="qt.skillsEdit">
        <div ng-include="'app/sectionActualiza/skillsConsultar.html'"></div>
    </section>
    <section class="margin-0 text-center" ng-if="!qt.skillsEdit">
        <div ng-include="'app/sectionActualiza/skillsEditar.html'"></div>
    </section>
</div>