<style>
    .form-estudios input, .form-estudios textarea {
        background-color: transparent !important;
    }

    md-autocomplete.md-default-theme, md-autocomplete {
        background-color: #fff !important;
        height: 36px !important;
        margin-top: -3px !important;
        display: inherit;
    }

    .md-virtual-repeat-container.md-autocomplete-suggestions-container {
        background-color: #fff !important;
    }
</style>
<div ng-cloak>
    <div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center margin-bottom-20">
                    <form class="form-estudios form-registro" name="formEstudios" ng-model="formEstudios" role="form"
                          novalidate>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0 padding-top-10">
                            <label class="label">Tipo de Estudios</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                            <div class="select margin-5 hidden-xs">
                                <select class="select-style" name="nivelEstudio"
                                        ng-model="em.studioEditable.study_level"
                                        id="nivelEstudio"
                                        ng-class='{error: formEstudios.nivelEstudio.$invalid && formEstudios.nivelEstudio.$touched, success: formEstudios.nivelEstudio.$valid && formEstudios.nivelEstudio.$touched}'
                                        class="select-style input select-ext" ng-disabled="pasoEstudios"
                                        required ng-change="imprimex(nivelEstudio)">
                                    <option value="{{em.studioEditable.study_level}}" selected>
                                        {{em.studioEditable.study_level}}
                                    </option>
                                    <option value="Colegio" ng-if="em.studioEditable.study_level != 'Colegio'">Colegio</option>
                                    <option value="Estudios Tecnicos y Tecnologicos" ng-if="em.studioEditable.study_level != 'Estudios Tecnicos y Tecnologicos'">Estudios Tecnicos y Tecnologicos
                                    </option>
                                    <option value="Universidad" ng-if="em.studioEditable.study_level != 'Universidad'">Universidad</option>
                                    <option value="Postgrado" ng-if="em.studioEditable.study_level != 'Postgrado'">Postgrado</option>
                                </select>
                            </div>
                            <div class="margin-5 visible-xs">
                                <md-select 
                                    ng-model="em.studioEditable.study_level"
                                    ng-class='{error: formEstudios.nivelEstudio.$invalid && formEstudios.nivelEstudio.$touched, success: formEstudios.nivelEstudio.$valid && formEstudios.nivelEstudio.$touched}'
                                    ng-change="imprimex(nivelEstudio)"
                                    placeholder="Nivel de estudio" 
                                    class="md-no-underline" 
                                    id='nivelEstudio' 
                                    name='nivelEstudio' 
                                    style="border: 1px solid #ccc; border-radius: 4px;"
                                    required>
                                    <md-option value="Colegio">Colegio</md-option>
                                    <md-option value="Estudios Tecnicos y Tecnologicos">Estudios Tecnicos y Tecnologicos</md-option>
                                    <md-option value="Universidad">Universidad</md-option>
                                    <md-option value="Postgrado">Postgrado</md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                            <md-content class="input margin-left-5">
                                <md-autocomplete
                                        md-search-text="em.studioEditable.college"
                                        md-items="item in em.querySearch(em.studioEditable.college)"
                                        md-item-text="item.display"
                                        md-min-length="0" placeholder="Institución">
                                    <md-item-template>
                                        <span md-highlight-text="em.studioEditable.college" md-highlight-flags="^i">{{item.display}}</span>
                                    </md-item-template>
                                </md-autocomplete>
                            </md-content>
                        </div>

                        <div ng-if="em.studioEditable.study_level=='Universidad' || em.studioEditable.study_level=='Estudios Tecnicos y Tecnologicos'
                        || em.studioEditable.study_level=='Postgrado'" id="contentCarrera">

                            <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0 margin-bottom-5">
                                <md-content class="input margin-left-5 margin-top-10">
                                    <md-autocomplete md-search-text="em.studioEditable.career"
                                                     md-items="item in em.querySearchStudies(em.studioEditable.career)"
                                                     md-item-text="item.display"
                                                     md-min-length="0" placeholder="Estudios">
                                        <md-item-template>
                                            <span md-highlight-text="em.studioEditable.career" md-highlight-flags="^i">{{item.display}}</span>
                                        </md-item-template>
                                    </md-autocomplete>
                                </md-content>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0 padding-top-10">
                                <label class="label ">Fecha de inicio</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-sm-offset-1 col-xs-12 padding-0">
                                    <div class="select2 margin-5 hidden-xs">
                                        <select name="annofecini" id="annofecini"
                                                ng-model="em.studioEditable.start_year"
                                                class="select-style"
                                                ng-change="em.minYear(em.studioEditable.start_year); em.minMonth(em.studioEditable.start_month,em.studioEditable.start_year,em.studioEditable.end_year);"
                                                ng-class='{error: formEstudios.annofecini.$invalid && formEstudios.annofecini.$touched, success: formEstudios.annofecini.$valid && formEstudios.annofecini.$touched}'
                                                required>
                                            <option value="{{em.studioEditable.start_year}}" selected>
                                                {{em.studioEditable.start_year}}
                                            </option>
                                            <option ng-repeat="a in em.listAnios" value="{{a}}">{{a}}</option>
                                        </select>
                                    </div>
                                    <div class="margin-5 visible-xs">
                                        <md-select 
                                            ng-model="em.studioEditable.start_year"
                                            ng-change="em.minYear(em.studioEditable.start_year); em.minMonth(em.studioEditable.start_month,em.studioEditable.start_year,em.studioEditable.end_year);"
                                            ng-class='{error: formEstudios.annofecini.$invalid && formEstudios.annofecini.$touched, success: formEstudios.annofecini.$valid && formEstudios.annofecini.$touched}'
                                            placeholder="Año" 
                                            class="md-no-underline" 
                                            id='annofecini' 
                                            name='annofecini' 
                                            style="border: 1px solid #ccc; border-radius: 4px;"
                                            required>
                                            <md-option ng-repeat="a in em.listAnios" value="{{a}}">{{a}}</md-option>
                                        </md-select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-0">
                                    <div class="select2 margin-5 hidden-xs">
                                        <select 
                                            name="mesfecini" 
                                            id="mesfecini" 
                                            ng-model="em.studioEditable.start_month"
                                            required
                                            ng-change="em.minMonth(em.studioEditable.start_month,em.studioEditable.start_year,em.studioEditable.end_year)"
                                            ng-class='{error: formEstudios.mesfecini.$invalid && formEstudios.mesfecini.$touched, success: formEstudios.mesfecini.$valid && formEstudios.mesfecini.$touched}'
                                            class="select-style">
                                            <option value="" selected>Mes</option>
                                            <option value="1">Enero</option>
                                            <option value="2">Febrero</option>
                                            <option value="3">Marzo</option>
                                            <option value="4">Abril</option>
                                            <option value="5">Mayo</option>
                                            <option value="6">Junio</option>
                                            <option value="7">Julio</option>
                                            <option value="8">Agosto</option>
                                            <option value="9">Septiembre</option>
                                            <option value="10">Octubre</option>
                                            <option value="11">Noviembre</option>
                                            <option value="12">Diciembre</option>
                                        </select>
                                    </div>
                                    <div class="margin-5 visible-xs">
                                        <md-select 
                                            ng-model="em.studioEditable.start_month"
                                            ng-change="em.minMonth(em.studioEditable.start_month,em.studioEditable.start_year,em.studioEditable.end_year)"
                                            ng-class='{error: formEstudios.mesfecini.$invalid && formEstudios.mesfecini.$touched, success: formEstudios.mesfecini.$valid && formEstudios.mesfecini.$touched}'
                                            placeholder="Mes" 
                                            class="md-no-underline" 
                                            id='mesfecini' 
                                            name='mesfecini' 
                                            style="border: 1px solid #ccc; border-radius: 4px;"
                                            required>
                                            <md-option value="1">Enero</md-option>
                                            <md-option value="2">Febrero</md-option>
                                            <md-option value="3">Marzo</md-option>
                                            <md-option value="4">Abril</md-option>
                                            <md-option value="5">Mayo</md-option>
                                            <md-option value="6">Junio</md-option>
                                            <md-option value="7">Julio</md-option>
                                            <md-option value="8">Agosto</md-option>
                                            <md-option value="9">Septiembre</md-option>
                                            <md-option value="10">Octubre</md-option>
                                            <md-option value="11">Noviembre</md-option>
                                            <md-option value="12">Diciembre</md-option>
                                        </md-select>
                                    </div>
                                </div>
                            </div>
                            <div id="contentFechaFin" ng-if="!em.studioEditable.actual">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0 padding-top-10">
                                    <label class="label margin-top-5">Fecha de fin</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-sm-offset-1 col-xs-12 padding-0">
                                        <div class="select2 margin-5 hidden-xs">
                                            <select 
                                                name="annofecFin" 
                                                ng-model="em.studioEditable.end_year"
                                                class="select-style"
                                                ng-change="em.minMonth(em.studioEditable.start_month,em.studioEditable.start_year,em.studioEditable.end_year)"
                                                ng-class='{error: formEstudios.annofecFin.$invalid && formEstudios.annofecFin.$touched, success: formEstudios.annofecFin.$valid && formEstudios.annofecFin.$touched}'
                                                required>
                                                <option value="{{em.studioEditable.end_year}}" selected>
                                                    {{em.studioEditable.end_year}}
                                                </option>
                                                <option ng-repeat="a in em.minAnoEstudio" value="{{a}}">{{a}}</option>
                                            </select>
                                        </div>
                                        <div class="margin-5 visible-xs">
                                            <md-select 
                                                ng-model="em.studioEditable.end_year"
                                                ng-change="em.minMonth(em.studioEditable.start_month,em.studioEditable.start_year,em.studioEditable.end_year)"
                                                ng-class='{error: formEstudios.annofecFin.$invalid && formEstudios.annofecFin.$touched, success: formEstudios.annofecFin.$valid && formEstudios.annofecFin.$touched}'
                                                placeholder="Año" 
                                                class="md-no-underline" 
                                                id='annofecFin' 
                                                name='annofecFin' 
                                                style="border: 1px solid #ccc; border-radius: 4px;"
                                                required>
                                                <md-option ng-repeat="a in em.minAnoEstudio" value="{{a}}">{{a}}</md-option>
                                            </md-select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xs-12 padding-0">
                                        <div class="select2 margin-5 hidden-xs">
                                            <select 
                                                name="mesFecFin" 
                                                id="mesFecFin"
                                                ng-model="em.studioEditable.end_month"
                                                class="select-style"
                                                ng-class='{error: formEstudios.mesFecFin.$invalid && formEstudios.mesFecFin.$touched, success: formEstudios.mesFecFin.$valid && formEstudios.mesFecFin.$touched}'
                                                required>
                                                <option value="" selected>Mes</option>
                                                <option ng-repeat="a in em.minMonthEstudio" value="{{a.id}}">{{a.nombre}}</option>
                                            </select>
                                        </div>
                                        <div class="margin-5 visible-xs">
                                            <md-select 
                                                ng-model="em.studioEditable.end_month"
                                                ng-class='{error: formEstudios.mesFecFin.$invalid && formEstudios.mesFecFin.$touched, success: formEstudios.mesFecFin.$valid && formEstudios.mesFecFin.$touched}'
                                                placeholder="Mes" 
                                                class="md-no-underline" 
                                                id='mesFecFin' 
                                                name='mesFecFin' 
                                                style="border: 1px solid #ccc; border-radius: 4px;"
                                                required>
                                                <md-option ng-repeat="a in em.minMonthEstudio" value="{{a.id}}">{{a.nombre}}</md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="radio col-lg-offset-6 col-md-offset-6 col-lg-6 col-md-6 col-sm-8 col-xs-12 text-left margin-top-10 margin-bottom-10">
                                <input type="checkbox" id="studActualmente" name="studActualmente"
                                       ng-model="em.studioEditable.actual"
                                       ng-disabled="pasoEstudios" class="input-blanco"/>
                                <label for="studActualmente"><span></span>Actualmente</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0 padding-top-10">
                            <label class="label">Promedio de crédito acumulado</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-left-0">
                            <input type="text" name="promedio" id="promedio" placeholder="Promedio"
                                   class="input margin-5"
                                   maxlength="4" pattern="[0-9\s|.|,]+"
                                   ng-disabled="pasoEstudios"
                                   ng-model="em.studioEditable.average" ng-class='{error: formEstudios.promedio.$invalid && formEstudios.promedio.$dirty,
        success: formEstudios.promedio.$valid && formEstudios.promedio.$dirty}'
                                   onkeypress="return validarNumero(event);"
                                   style="background-color:#FFF;"/>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 text-center">
                            <span ng-if="em.editor">
                                <button class="btn bton-green padding-right-15 padding-left-15 btn-sombras"
                                        ng-disabled="em.camposValidos(em.studioEditable.actual,em.studioEditable.study_level,
                                    em.studioEditable.college,
                                    em.studioEditable.career,
                                    em.studioEditable.start_month,
                                    em.studioEditable.start_year,
                                    em.studioEditable.end_month,
                                    em.studioEditable.end_year,
                                    em.studioEditable.average);"
                                        ng-click="em.guardarEdit(em.pos)">¡Listo!
                                </button>
                            </span>
                            <button class="btn bton-green padding-right-15 padding-left-15"
                                    ng-disabled="em.editor2"
                                    ng-click="em.nuevoEstudioMostrar()">¡Cancelar!
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>