<section id="section-editarestudios" class="section section-blanco editarhv margin-0 text-center" ng-cloak>
    <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
        <h1>ESTUDIOS
        </h1>
    </div>
    <div>
        <div class="row" ng-if="!em.studiesEditarClick">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="!em.studiesRegistrered">
                <div ng-if="!em.newStudy2">
                    <!-- <div class="text-center">
                        <h3 class="to-upper text-orange">Usted actualmente no ha registrado ningun estudio</h3>
                    </div> -->

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="!em.newStudy2">
                        <div ng-include="'app/sectionActualiza/studiesCreate.html'"></div>
                    </div>
                </div>
            </div>

            <div ng-if="em.studiesRegistrered">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="!em.oldStudy">
                    <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12"
                         ng-repeat="estudio in em.studies.person_studies">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">{{estudio.study_level}}</span>
                        <span class="dominio col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left">{{estudio.college}}<br/>{{estudio.career}}  <br/>{{estudio.start_year}} {{em.separador[$index].pos}} {{estudio.end_year}}</span>

                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left">
                            <a href="" ng-click="em.editarEstudios($index);">
                                <img src="../assets/images/icon-editar.png">&nbsp;Editar&nbsp;&nbsp;
                            </a>
                            <a href="" ng-click="em.eliminarEstudios($index);">
                                <img src="../assets/images/icon-eliminar.png">&nbsp;Eliminar
                            </a>
                        </span>

                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-10 text-center" ng-if="em.adder">
                        <label class="btn-agregarEstudio efectoMouse font-size-18 text-blue-soy"
                               ng-click="em.viejoEstudioMostrar('t');">
                            <img src="../assets/images/plus.png" width="" height=""/> Agregar estudios </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-if="em.studiesEditarClick">
            <section id="section-editarestudios" class="margin-0 text-center">
                <div ng-include="'app/sectionActualiza/studiesEditarEdit.html'"></div>
            </section>
        </div>

        <div class="row" ng-if="em.oldStudy">
            <section id="section-editarestudios" class="margin-0 text-center">
                <div ng-include="'app/sectionActualiza/studiesCreate.html'"></div>
            </section>
        </div>

    </div>
</section>