<div class="panel" ng-controller="estudiosController as em" ng-cloak>


    <section id="section-editarestudios" class="margin-0 text-center">
        <div ng-include="'app/sectionActualiza/studiesEditar.html'"></div>
    </section>
</div>