<section id="section-editarestudios" class="section section-blanco editarhv margin-0 text-center" ng-cloak>
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
            <h1>ESTUDIOS </h1>
        </div>
        <div>
            <div class="row">
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="!em.studiesRegistrered">
                    <div ng-if="!em.newStudy2">
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="!em.newStudy2">
                            <div ng-include="'app/sectionActualiza/studiesCreate.html'"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="em.studiesRegistrered">
                    <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="estudio in em.studies.person_studies">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">{{estudio.study_level}}</span>
                        <span class="dominio col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left">{{estudio.college}}<br/>{{estudio.career}}  <br/>{{estudio.start_year}} {{em.separador[$index].pos}} {{estudio.end_year}}</span>
                    </div>
                    <div class="add col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-10 text-center" style="visibility: hidden;"><img src="../assets/images/plus.png"/> Agregar estudios</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-bottom-20 text-center">
                        <button class="btn btn-lg bton-green padding-right-15 padding-left-15" ng-click="em.studiesEdit=em.editar(em.studiesEdit);">Editar</button>
                    </div>
                </div>
                
                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="em.newStudy">
                    <div ng-include="'app/sectionActualiza/studiesCreate.html'"></div>
                </div>  -->
            </div>
        </div>
    </section>