<div class="panel">
    <section id="section-info" class="section section-blanco margin-0 text-center">
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
            <h1>{{vm.profileData.person.first_name | uppercase}} {{vm.profileData.person.last_name | uppercase}}</h1>
        </div>
        <div class="container">
            <div class="row"><!-- ../assets/images/user_male.png -->
                <div class="col-lg-offset-2 col-md-offset-2 col-lg-10 col-md-10 col-sm-10 col-xs-12">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 foto">
                        <center><img src="{{vm.testing}}" class="img-circle img-responsive" width="164.578" height="164.578" style="width:164.578px;height:164.578px;"/></center>
                        <!-- <button class="btn btn-lg bton-green margin-top-15 padding-right-15 padding-left-15" data-toggle="modal" data-target=".bs-example-modal-sm">Cambiar Foto</button> -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="vm.openModal($event);">Small modal</button>

                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 informacion margin-0 text-center padding-top-30">
                        <p class="text-left padding-left-10 padding-right-10">{{vm.cargo}}<br/>{{vm.profileData.person.act_department}}<span>|</span>{{vm.profileData.person.act_city}}<br />DOCUMENTO DE IDENTIDAD: {{vm.profileData.person.numb_doc}}<br />EDAD: {{vm.calculaEdad(vm.profileData.person.birthdate)}} AÑOS</p>
                        <a href="#/actualiza" class="btn btn-lg bton-green margin-right-5 margin-top-10 padding-right-15 padding-left-15">Actualizar mi Hoja de Vida</a>
                        <a href="#/descargar" class="btn btn-lg bton-green margin-right-5 margin-top-10 padding-right-15 padding-left-15">Descargar mi HV en PDF</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal de carga de imagen-->
        
            <!-- <div class="modal bs-example-modal-sm my-module" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-content" style="width: 900px !important;display: inline-block;margin-left:15% !important;">
                    <div class="modal-header header-section">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" ng-click="vm.cancelImg();">&times;</span>
                        </button>
                        <h4 class="modal-title" style="padding: 15px !important; color: #fff;">
                            Selección de imágen
                        </h4>
                    </div>
                    <div class="modal-body" style="align-items: center !important;text-align: -webkit-center !important;">
                        <div id="kv-avatar-errors" class="center-block" style="width:800px;display:none"></div>
                        <div class="modal-content" style="width: 850px !important;display: inline-flex;">
                            <div class="container" style="padding: 10px !important; width: 280px !important;">
                            
                                <form class="text-center" action="/avatar_upload.php" method="post" enctype="multipart/form-data">
                                    <div class="kv-avatar center-block" style="width:200px">
                                        <input id="avatar" name="avatar" type="file" class="file-loading">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" >
                        <div>
                            <button id="divButton" type="submit" class="btn btn-teal" data-dismiss="modal" ng-click="previewFileClick()" style="visibility: hidden;">
                                ¡Listo!
                            </button>
                        
                            <button id="buttonImg" type="button" class="btn btn-teal" data-dismiss="modal" ng-click="vm.cancelImg();">
                                ¡Cancelar!
                            </button>
                        </div>
                    </div>
                </div>
            </div> -->
        <!--Fin modal-->
    </section><!-- Info Basica -->
    <section id="section-hvacademica" class="section section-blanco hojadevida margin-0 text-center">
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
            <h1><img src="../assets/images/icon-academica.png" width="" height="" />&nbsp;&nbsp;FORMACIÓN ACADÉMICA</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-md-offset-2 col-lg-10 col-md-10 col-sm-10 col-xs-12">
                     <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="estudio in vm.studies.person_studies">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">{{estudio.study_level}}</span>
                        <span class="dominio col-lg-8 col-md-8 col-sm-8 col-xs-12 text-left">{{estudio.college}}<br />{{estudio.career}}  <br />{{estudio.start_year}} - {{estudio.end_year}}</span>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- Aplicaciones -->
    <section id="section-hvlaboral" class="section section-blanco hojadevida margin-0 text-center">
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
            <h1><img src="../assets/images/icon-experiencia.png">&nbsp;&nbsp;EXPERIENCIA LABORAL</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-md-offset-2 col-lg-10 col-md-10 col-sm-10 col-xs-12">
                    <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="experiencia in vm.experiences.person_experiences">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">{{experiencia.position}}</span>
                        <span class="dominio col-lg-8 col-md-8 col-sm-8 col-xs-12 text-left">{{experiencia.company}} <br />{{experiencia.start_year}} - {{experiencia.end_year}} ({{experiencia.start - experiencia.start + 1}} años)<br />Medellin. Colombia</span>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- Aplicaciones -->
    <section id="section-hvotros" class="section section-blanco hojadevida margin-0 text-center">
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
            <h1><img src="../assets/images/icon-otros.png" width="" height="" />&nbsp;&nbsp;IDIOMAS Y SOFTWARE</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-md-offset-2 col-lg-10 col-md-10 col-sm-10 col-xs-12">
                    <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="language in vm.languages.person_languages">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">{{language.language}}</span>
                        <span class="dominio col-lg-8 col-md-8 col-sm-8 col-xs-12 text-left">{{vm.level(language.level)}}</span>
                    </div>
                    <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="software in vm.softwares.person_softwares">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">{{software.software}}</span>
                        <span class="dominio col-lg-8 col-md-8 col-sm-8 col-xs-12 text-left">{{vm.level(software.level)}}</span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div ng-include="'app/sectionHoja/imagenDialog.html'">
</div>