<div class="panel" ng-controller="hojadevidaController as vm" ng-cloak>
  <section id="section-info" class="section section-blanco margin-0 text-center">
    <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
      <h1>HOJA DE VIDA
      </h1>
    </div>
    <div class="container-fluid section-gris">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-9 col-xs-12 z-index-2">
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 foto" style="
          padding-left: 10%;">

          <div class="hovereffect padding-left-10">
            <img src="{{userAvatar}}" class="img-responsive img-circle" width="164.578" height="164.578"
            style="width:164.578px;height:164.578px;">

            <div class="overlay img-circle img-responsive" width="164.500" height="164.578"
            style="width:164.500px;height:164.500px;">
            <a class="info" href="" data-toggle="modal" data-target=".bs-example-modal-sm"
            ng-click="vm.openModal($event);"><i class="fa fa-cogs font-size-100"></i></a>
          </div>

        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 informacion margin-0 text-center padding-top-30">
        <div class="col-xs-12">
          <div class="col-xs-outset-5">
            <p class="text-left padding-right-10">
              <strong style="color: #0084BB; font-size: 1.8em;">{{vm.primerNombre |
                uppercase}}</strong>
              </p>

              <p class="text-left padding-right-10"
              style="margin-top: -30px !important;margin-bottom: -10px !important;">
              <strong style="color: #403D40; font-size: 1.8em;">{{vm.primerApellido |
                uppercase}}</strong>
              </p>

              <p ng-if="vm.cambioDeTitulo==false" class="text-left padding-right-10"
              ng-mouseenter="vm.hover=true" ng-mouseleave="vm.hover=false"
              style="margin-top:-5px !important;"><strong
              style="color: #9B999F; font-size: 0.6em; text-transform: capitalize;">{{vm.tituloProfesional}}</strong><i
              class="fa fa-pencil" ng-click="vm.cambiarTitulo();" ng-if="vm.hover"></i></p>

              <input style="margin-left: -90px; text-transform: capitalize;" type="text"
              ng-if="vm.cambioDeTitulo" ng-model="vm.tituloProfesional"
              ng-blur="vm.enviarTitulo();" maxlength="25">

              <i class="fa fa-check" ng-click="vm.enviarTitulo();" ng-if="vm.cambioDeTitulo"></i>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-5 col-md-5 col-sm-3 col-xs-12">
        <div class="col-xs-12 padding-bottom-60 padding-top-20" style="">
          <div class="col-lg-offset-2">
            <p class="text-left" style="margin-top: 20px !important;"
            ng-class="vm.profileData.person.mobile_phone=='' || vm.profileData.person.mobile_phone==undefined ? 'esHidden':'esVisible'">
            <i class="fa fa-phone" style="font-size: .6em;"></i>
            <strong style="font-size: .5em;"> {{vm.profileData.person.mobile_phone}}</strong>
          </p>

          <p class="text-left" style="margin-top: -10px !important;"
          ng-class="vm.profileData.user.email=='' || vm.profileData.user.email==undefined ? 'esHidden':'esVisible'">
          <i class="fa fa-envelope" style="font-size: .6em;"></i>
          <strong style="font-size: .5em;"> {{vm.profileData.user.email | uppercase}}</strong>
        </p>

        <p class="text-left" style="margin-top: -10px !important;"
        ng-class="vm.profileData.person.act_city=='' || vm.profileData.person.act_city==undefined ? 'esHidden':'esVisible'">
        <i class="fa fa-home" style="font-size: .6em;"></i>
        <strong style="font-size: .5em;"> {{vm.profileData.person.act_city}}
          {{vm.profileData.person.act_department}}</strong>
        </p>

        <p class="text-left" style="margin-top: -10px !important;"
        ng-class="vm.profileData.person.numb_doc=='' || vm.profileData.person.numb_doc==undefined ? 'esHidden':'esVisible'">
        <i class="fa fa-list-alt" style="font-size: .6em;"></i>
        <strong style="font-size: .5em;"> {{vm.profileData.person.numb_doc}}</strong>
      </p>

      <p class="text-left" style="margin-top: -10px !important;"
      ng-class="vm.edad=='' ? 'esHidden':'esVisible'">
      <i class="fa fa-heart" style="font-size: 11.5;"></i>
      <strong style="font-size: 11.5pt;">{{vm.edad}}</strong>
    </p>
  </div>
</div>
</div>
</div>
</div>
</section>

<section id="section-editardatos" class="section section-blanco margin-0 text-center">
  <div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-20">
        <div class="col-xs-12 col-sm-12 col-md-8 border-right">

        <div class="row padding-top-20 visible-xs">
            <div>
              <span class="material-icons col-xs-3">
                <i class="fa fa-user font-size-24"></i>
              </span>
              <span class="col-xs-9 text-left title-in-button">
                <strong>PERFÍL COMPLETADO AL</strong>
              </span>
            </div>
          </div>
          <div class="row padding-top-20 visible-xs">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="progress vertical-bar">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.percentage}}%;">
                  <span class="horizontal-bar">{{vm.percentage}}%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div>
              <span class="material-icons col-xs-3">
                <i class="fa fa-graduation-cap font-size-24"></i>
              </span>
              <span class="col-xs-9 text-left title-in-button">
                <strong>FORMACIÓN ACADÉMICA</strong>
              </span>
            </div>
          </div>
          <div class="row padding-top-20 text-center" ng-if="vm.noStudies">
            <div class="text-center">
              <h5 class="to-upper text-orange efect-link" np-redirect="estudios">Haz click aquí para agregar un estudio</h5>
            </div>
          </div>
          <div class="row padding-top-20" ng-if="!vm.noStudies">
            <div ng-repeat="estudio in vm.studies.person_studies" class="col-xs-12 col-sm-12 col-md-6">
              <p style="color: #495bc1 !important; font-size:1em;">{{estudio.career}}</p>

              <p style="font-size: .8em; margin-top:-10px;">{{estudio.college}}</p>

              <p style="font-size: .8em; margin-top:-10px; padding-bottom:10px;">
                {{vm.annioEstudies[$index]}}</p>
              </div>
            </div>
            <div class="row padding-top-20">
              <div>
                <span class="material-icons col-xs-3">
                  <i class="fa fa-briefcase font-size-24"></i>
                </span>
                <span class="col-xs-9 text-left title-in-button">
                  <strong>EXPERIENCIA LABORAL</strong>
                </span>
              </div>
            </div>
            <div class="row padding-top-20 text-center" ng-if="vm.noExpe">
              <div class="text-center">
                <h5 class="to-upper text-orange efect-link" np-redirect="experiencia">Haz click aquí para agregar una experiencia laboral</h5>
              </div>
            </div>
            <div class="row padding-top-20" ng-if="!vm.noExpe">
              <div ng-repeat="experiencia in vm.experiences.person_experiences"
              class="col-xs-12 col-sm-12 col-md-6">
              <p style="color: #495bc1 !important; font-size:1em;">{{experiencia.position |
                uppercase}}</p>

                <p style="font-size: .8em;margin-top: -10px !important;">{{experiencia.company |
                  uppercase}}</p>

                  <p style="font-size: .8em;margin-top: -10px !important;">{{experiencia.time_experience}}
                    MESES</p>
                  </div>
                </div>
                <div class="row padding-top-20">
                  <div>
                    <span class="material-icons col-xs-3">
                      <i class="fa fa-star-o font-size-24"></i>
                    </span>
                    <span class="col-xs-9 text-left title-in-button">
                      <strong>HABILIDADES</strong>
                    </span>
                  </div>
                </div>
                <div class="row padding-top-20 text-center" ng-if="vm.noSkills">
                  <div class="text-center">
                    <h5 class="to-upper text-orange efect-link" np-redirect="habilidades">Haz click aquí para agregar una habilidad</h5>
                  </div>
                </div>
                <div class="row padding-top-20 text-center" ng-if="!vm.noSkills">
                  <div ng-repeat="skill in vm.skills" class="col-xs-12 col-sm-12 col-md-3 col-lg-3"
                  style="padding-bottom:100px;">
                  <p style="color: #495bc1 !important; font-size:1em;" class="ellipsis">
                    {{skill.skill | uppercase}}
                  </p>

                  <p style="font-size:.7em; margin-top: -10px;">DOMINIO:</p>

                  <div class="centrado-porcentual"
                  style="border-radius: 50%; height:80px; width:80px; border: 3px solid #00B34F; margin-top:30px;">
                  <span style="font-size: 1.5em; color: #00B34F !important;">
                    <p style="margin-top: 15px;">
                      {{skill.level * 10}}%
                    </p>
                  </span>
                </div>
              </div>
            </div>

          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="row padding-top-20 hidden-xs">
              <div>
                <span class="material-icons col-xs-3">
                  <i class="fa fa-user font-size-24"></i>
                </span>
                <span class="col-xs-9 text-left title-in-button">
                  <strong>PERFÍL COMPLETADO AL</strong>
                </span>
              </div>
            </div>
            <div class="row padding-top-20 hidden-xs">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="progress vertical-bar">
                  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.percentage}}%;">
                    <span class="horizontal-bar">{{vm.percentage}}%</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row padding-top-20">
              <div>
                <span class="material-icons col-xs-3">
                  <i class="fa fa-flag font-size-24"></i>
                </span>
                <span class="col-xs-9 text-left title-in-button">
                  <strong>IDIOMAS</strong>
                </span>
              </div>
            </div>
            <div class="row padding-top-20">
              <div class="row padding-top-20 text-center" ng-if="vm.noLang">
                <div class="text-center">
                  <h5 class="to-upper text-orange efect-link" np-redirect="idiomas">Haz click aquí para agregar un idioma</h5>
                </div>
              </div>
              <div ng-repeat="idioma in nivelesCounter" class="col-xs-12 col-sm-12 col-md-12"
              ng-if="!vm.noLang">
              <div class="col-xs-12">
                <p class="col-xs-4 col-xs-outset-2"
                style="color: #495bc1 !important; font-size:1em;">
                {{idioma.name | uppercase}}
              </p>

              <p class="col-xs-4 col-xs-offset-2" style="font-size:1em;">
                {{idioma.level | uppercase}}
              </p>
            </div>
            <div style="display: inline-block;" ng-repeat="n in idioma.arrayLevel"
            ng-class='{"lvl-escala3": n.disp===false, "lvl-escala-blue3": n.disp===true}'>{{}}
          </div>
        </div>
      </div>
      <div class="row padding-top-20">
        <div>
          <span class="material-icons col-xs-3">
            <i class="fa fa-user font-size-24"></i>
          </span>
          <span class="col-xs-9 text-left title-in-button">
            <strong>SOBRE MI</strong>
          </span>
        </div>
      </div>
      <div class="row padding-top-20 text-center" ng-if="vm.noAbout">
        <div class="text-center">
          <h5 class="to-upper text-orange efect-link" np-redirect="profesional">Cuentanos sobre
            ti</h5>
          </div>
        </div>
        <div class="row padding-top-20" ng-if="!vm.noAbout">
          <div class="col-xs-12">
            <div ng-repeat="sobreMi in vm.aboutMe" class="col-xs-12 col-sm-12 col-md-6"
            style="height: 60px !important;">
            <p style="font-size: .8em;" ng-class="{'margin-bottom-20': $index%2==0 }">{{sobreMi
              | uppercase}}</p>
            </div>
          </div>
        </div>
        <div class="row padding-top-20">
          <div class="col-xs-12">
            <div class="col-xs-2">
              <img src="../assets/images/logo-referidos-ok.png" alt=""
              style="width:45px; height:45px;">
            </div>
            <div class="col-xs-10" ng-if="false">
              <p class="col-xs-12 text-left" style="font-size:.9em; color: #495bc1;">
                PERFIL EN SOYEMPLEO.COM
              </p>

              <p class="col-xs-12 text-left" style="font-size:.7em; color: #495bc1;">
                <a href="">soyempleo.com/#/{{vm.profileData.person.first_name}}-{{vm.primerApellido}}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
</div>
<div ng-include="'app/sectionHoja/imagenDialog.html'">
</div>