    <section id="section-menu-perfil" class="margin-0 text-center padding-25">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-3 col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <ul>
                        <li class="padding-right-20 padding-left-20"><a href="#/session">MI PERFIL</a></li>
                        <li class="padding-right-20 padding-left-20"><a href="#">APLICACIONES</a></li>
                        <li class="padding-right-20 padding-left-20"><a href="#" class="active">BUSCAR OFERTAS</a></li>
                        <li class="padding-right-20 padding-left-20"><a href="#">CONFIG</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="section-hd-oferta" class="section section-gris margin-0 text-center">
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
            <h1>INGENIERO DE SISTEMAS (MEDELLÍN) - JoyStaz Jeans </h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <center><img src="assets/images/logo_thumb_empresa2.jpg" class="img-circle img-responsive margin-5" width="100%" height="" /></center>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 hidden-xs">
                        <p class="text-justify padding-top-15 padding-bottom-15 padding-left-10">Joy Staz nos da un estilo de vida joven, sexy y aventurera, con una línea completa de jeans, ropa y accesorios. Nuestra misión es crear productos de pronta moda en el segmento Jeans Wear, adaptando las principales tendencias en moda y logrado así, responder a nuestros clientes con prendas de excelente calidad y con el mejor servicio.</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-50">
                        <a href="#/actualiza" class="btn btn-lg bton-green">Editar mi Perfil</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-dt-oferta" class="section section-blanco margin-0 text-center padding-top-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 margin-bottom-20">
                    <div class="titulo text-left col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        Vigilante
                    </div>
                    <div class="detalle text-left col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        JoyStaz Jeans<br />Colombia | Medellín
                    </div>
                    <div class="descripcion text-left padding-top-20 padding-bottom-20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <strong>OPCIONES DE CARRERA</strong><br />
                        Seguridad
                    </div>
                    <div class="descripcion text-left padding-top-20 padding-bottom-20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <strong>NIVEL PROFESIONAL REQUERIDO</strong><br />
                        EDUCACIÓN MÍNIMA: Ninguno 
                    </div>
                    <div class="descripcion text-left padding-top-20 padding-bottom-20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <strong>IDIOMAS REQUERIDOS</strong><br />
                        Ninguno
                    </div>
                    <div class="descripcion text-left padding-top-20 padding-bottom-20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-0">
                            <strong>DESCRIPCIÓN</strong><br />
                            <p>Vigilancia de las oficinas. Control de visitantes</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <strong>FUNCIONES</strong><br/>
                            <ul>
                               <li> Experiencia: 2 años</li>
                               <li> En Seguridad y vigilancia</li>
                            </ul>
                        </div>
                    </div>
                    <div class="descripcion text-left padding-top-20 padding-bottom-20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <strong>SALARIO:  644000 $</strong><br />
                        Tambine se pagan horas extras y prestaciones sociales de ley.
                    </div>
                    <div class="row text-center margin-top-30 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btn-lg bton-green">Enviar mi Hoja de Vida</button>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="compartir text-center padding-15">
                        <span class="hidden-xs">Compartir</span>
                        <ul class="list-inline">
                            <li class="margin-10"><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.soyempleo.com/"><i class="fa fa-facebook fa-lg"></i></a></li>
                            <li class="margin-10"><a href="https://twitter.com/?status=Tuitear Oferta de Empleo http://www.soyempleo.com/"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="margin-10"><a href="https://plus.google.com/share?url=http://www.soyempleo.com/"><i class="fa fa-google-plus fa-lg"></i></a></li>
                            <li class="margin-10"><a href="http://www.linkedin.com/shareArticle?url=http://www.soyempleo.com/"><i class="fa fa-linkedin fa-lg"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-0">
                        <hr class="hidden-xs" />
                        <h4>Ofertas Sugeridas</h4>
                    </div>
                    <div class="sugeridas col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-0 text-left margin-bottom-10">
                        <img src="assets/images/logo_empresa_3.png" class="img-responsive" width="100%" height="" />
                        <p class="padding-left-10"><strong><a href="#/oferta5">OPERARIO DE PLANTA DE TELA INDIGO</a></strong><br />Ciudad: Medellín<br />Salario: 1500000<br />Área: Producción</p>
                    </div>
                    <div class="sugeridas col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-0 text-left margin-bottom-10">
                        <img src="assets/images/logo_empresa_3.png" class="img-responsive" width="100%" height="" />
                        <p class="padding-left-10"><strong><a href="#/oferta4">ASISTENTE DE RECURSOS HUMANOS</a></strong><br />Ciudad: Medellín<br />Salario: 800000<br />Área: Recursos Humanos</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-ofertas" class="text-center padding-top-30 padding-right-10 padding-left-10 padding-bottom-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-sm-offset-1 col-sm-10 col-xs-12">
                    <h1>Últimas <strong>Ofertas</strong></h1>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-left-0">
                        <div class="panel panel-default panel-pricing">
                            <div class="panel-heading padding-0">
                                <img src="assets/images/logo_empresa_1.png"class="img-responsive" alt="Empresa Ofertante SoyEmpleo" width="" height="">
                            </div>
                             <div class="panel-body text-left">
                                <h4>Ejecutivo de <strong>Ventas</strong></h4>
                                <p><img src="assets/images/icon-map-market.png" alt="Ciudad vacantes" width="" height="" /> Medellín </p>
                                <p><img src="assets/images/icon-suitcase.png" alt="Salario ofrecido" width="" height="" /> 900000 / <strong>Termino fijo</strong></p>
                            </div>
                            <div class="panel-footer">
                                <a href="#/oferta3" class="btn btn-sm bton-green" onClick="$.scrollTo('html, body',900)">Ver Oferta!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-left-0">
                        <div class="panel panel-default panel-pricing">
                            <div class="panel-heading padding-0">
                                <img src="assets/images/logo_empresa_3.png" class="img-responsive" width="" height="" alt="Empresa Ofertante SoyEmpleo">
                            </div>
                             <div class="panel-body text-left">
                                <h4>Asistente de <strong>Recursos Humanos</strong></h4>
                                <p><img src="assets/images/icon-map-market.png" alt="Ciudad vacante" width="" height="" /> Medellín </p>
                                <p><img src="assets/images/icon-suitcase.png" alt="Salario ofrecido" width="" height="" /> 800000 / <strong>Termino fijo</strong></p>
                            </div>
                            <div class="panel-footer">
                                <a href="#/oferta4" class="btn btn-sm bton-green" onClick="$.scrollTo('html, body',900)">Ver Oferta!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-left-0">
                        <div class="panel panel-default panel-pricing">
                            <div class="panel-heading padding-0">
                                <img src="assets/images/logo_empresa_4.png"class="img-responsive" alt="Empresa Ofertante SoyEmpleo" width="" height="">
                            </div>
                             <div class="panel-body text-left">
                                <h4>Analista de <strong>Nómina</strong></h4>
                                <p><img src="assets/images/icon-map-market.png" alt="Ciudad Vacante" width="" height="" /> Medellín </p>
                                <p><img src="assets/images/icon-suitcase.png" alt="Salario Ofrecido" width="" height="" /> 1600000 / <strong>Termino fijo</strong></p>
                            </div>
                            <div class="panel-footer">
                                <a href="#/oferta8" class="btn btn-sm bton-green" onClick="$.scrollTo('html, body',900)">Ver Oferta!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /Sección Ofertas -->