<div ng-controller="personaController">
    <section id="section-menu-perfil" class="margin-0 text-center padding-25">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-3 col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <ul>
                        <li class="padding-right-20 padding-left-20"><a href="#/session">MI PERFIL</a></li>
                        <li class="padding-right-20 padding-left-20"><a href="#">APLICACIONES</a></li>
                        <li class="padding-right-20 padding-left-20"><a href="#" class="active">BUSCAR OFERTAS</a></li>
                        <li class="padding-right-20 padding-left-20"><a href="#">CONFIG</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="section-editardatos" class="section section-gris margin-0 text-center">
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
            <h1>ACTUALIZAR MIS DATOS Y MI HOJA DE VIDA</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-20">
                    <p class="padding-left-20 padding-right-20">Desde acá podrás actualizar todos tus datos personales así como tu hoja de vida, empecemos!</p>
                    <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center margin-bottom-20">
                        <form class="form-registro" name="formDatos" role="form" novalidate>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="text" placeholder="Nombre Completo" name="nombre" class="input margin-5"
                                   ng-model="nombre" minlength="4"
                                   required data-ng-class='{ error: formDatos.nombre.$invalid && formDatos.nombre.$dirty,
                                        success: formDatos.nombre.$valid && formDatos.nombre.$dirty}'
                                   uib-popover="{{formDatos.nombre.$touched && formDatos.nombre.$error.required ?
                                       'Valor es requerido' : ''}}" popover-trigger="focus"
                                   onkeypress="return soloLetras(event);" ng-keyup="cortarString(nombre)"
                                   ng-blur="cortarString(nombre)" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="email" placeholder="Correo electrónico" class="input margin-5" ng-model="email"
                                   name="email" required data-ng-class='{ error: formDatos.email.$error.email,
    		    				success: !formDatos.email.$invalid && formDatos.email.$dirty}'
                                   uib-popover="{{(formDatos.email.$touched && formDatos.email.$error.required) ||
                                       formDatos.email.$error.email ? 'Email invalido' : ''}}" popover-trigger="focus"/>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="date" name="fechanac" placeholder="Fecha de Nacimiento" class="input margin-5" required
                                   ng-model="fechanac" data-ng-class='{error: formDatos.fechanac.$invalid &&
                                   formDatos.fechanac.$touched, success: formDatos.fechanac.$valid && formDatos.fechanac.$dirty}'
                                   uib-popover="{{(formDatos.fechanac.$touched && formDatos.fechanac.$error.required) ?
                                   'Fecha Invalida' : ''}}" minlength="6"
                                   popover-trigger="focus">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="text" name="ciudadnac" placeholder="Ciudad de Nacimiento" class="input margin-5" required
                                   ng-model="ciudadnac" minlength="3" maxlength="100"
                                   data-ng-class='{error: formDatos.ciudadnac.$invalid && formDatos.ciudadnac.$dirty,
                                   success: formDatos.ciudadnac.$valid && formDatos.ciudadnac.$dirty}'
                                   uib-popover="{{formDatos.ciudadnac.$touched && formDatos.ciudadnac.$error.required ?
                                    'Valor es requerido' : ''}}"
                                   popover-trigger="focus"/>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <div class="select margin-5">
                                    <select name="departamento" class="select-style" required ng-model="departamento"
                                            ng-class='{error: formDatos.departamento.$invalid && formDatos.departamento.$touched,
                                             success: formDatos.departamento.$valid && formDatos.departamento.$touched}'>
                                        <option value="" selected>Departamento</option>
                                        <option ng-repeat="l in listDepartamentos" value="{{l}}">{{l}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <div class="select margin-5">
                                    <select name="ciudad" class="select-style" required ng-model="ciudad"
                                            ng-class='{error: formDatos.ciudad.$invalid && formDatos.ciudad.$touched,
                                             success: formDatos.ciudad.$valid && formDatos.ciudad.$touched}'>
                                        <option value="" selected>Ciudad</option>
                                        <option ng-repeat="l in listaCiudades" value="{{l}}">{{l}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="text" name="direccion" placeholder="Dirección Domicilio" class="input margin-5" required
                                   ng-model="direccion" minlength="4" maxlength="200"
                                   data-ng-class='{error: formDatos.direccion.$invalid && formDatos.direccion.$dirty,
                                   success: formDatos.direccion.$valid && formDatos.direccion.$dirty}'
                                   uib-popover="{{formDatos.direccion.$touched && formDatos.direccion.$error.required ?
                                   'Valor es requerido' : ''}}" popover-trigger="focus"/>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="text" name="fijo" placeholder="Teléfono Fijo" class="input margin-5" required
                                   ng-model="fijo" minlength="7" maxlength="16"
                                   data-ng-class='{error: formDatos.fijo.$invalid && formDatos.fijo.$dirty, success:
                                   formDatos.fijo.$valid && formDatos.fijo.$dirty}' uib-popover="{{formDatos.fijo.$touched
                                   && formDatos.fijo.$error.required ? 'Valor es requerido' : ''}}"
                                   popover-trigger="focus" onkeypress="return valTlf(event)"/>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="text" name="movil" placeholder="Teléfono Movil" class="input margin-5" required
                                   ng-model="movil" minlength="10" maxlength="16"
                                   data-ng-class='{error: formDatos.movil.$invalid && formDatos.movil.$dirty,
                                   success: formDatos.movil.$valid && formDatos.movil.$dirty}'
                                   uib-popover="{{formDatos.movil.$touched && formDatos.movil.$error.required ?
                                    'Valor es requerido' : ''}}" popover-trigger="focus" onkeypress="return valTlf(event)"/>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="text" name="alternativo" placeholder="Teléfono Alternativo" class="input margin-5"
                                   ng-model="alternativo" minlength="7" maxlength="16"
                                   data-ng-class='{error: formDatos.alternativo.$invalid && formDatos.alternativo.$dirty ,
                                   success: formDatos.alternativo.$valid && formDatos.alternativo.$dirty}'
                                   uib-popover="{{formDatos.alternativo.$touched && formDatos.alternativo.$error.pattern ?
                                   'Telefono Invalido' : ''}}" popover-trigger="focus" onkeypress="return valTlf(event)"/>
                            </div>

                            <div class="radio col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left margin-top-10 margin-bottom-10">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-0">
                                    <span>Género:</span>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 padding-0">
                                    <input type="radio" id="g1" name="genero" value="F" required ng-model="formBasico.genero" selected />
                                    <label for="g1"><span></span> Femenino</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 padding-0">
                                    <input type="radio" id="g2" name="genero" value="M" required ng-model="formBasico.genero"/>
                                    <label for="g2"><span></span> Masculino</label>
                                </div>
                            </div>
                            <div class="radio col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left margin-top-10 margin-bottom-10">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-0">
                                    <span>¿Posee transporte propio?:</span>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-0">
                                    <input type="radio" id="t1" name="vehiculo" value="S" required ng-model="formBasico.vehiculo"/>
                                    <label for="t1"><span></span> SI</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-0">
                                    <input type="radio" id="t2" name="vehiculo" value="N" required ng-model="formBasico.vehiculo" selected />
                                    <label for="t2"><span></span> NO</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="radio col-lg-6 col-md-6 col-sm-6 col-xs-12 margin-top-10 margin-bottom-10 text-left padding-0">
                                    <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12 padding-0">
                                        <span>Licencia:</span>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 padding-0">
                                        <input type="radio" id="l1" name="licencia" value="S" required ng-model="licencia"/>
                                        <label for="l1"><span></span> SI</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 padding-0">
                                        <input type="radio" id="l2" name="licencia" value="N" required ng-model="licencia" selected />
                                        <label for="l2"><span></span> NO</label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0" ng-if="licencia!='N'">
                                    <div class="select margin-5">
                                        <select name="grado" class="select-style" required ng-model="grado" ng-class='{error:
                                        formDatos.grado.$invalid && formDatos.grado.$touched, success: formDatos.grado.$valid
                                         && formDatos.grado.$touched}'>
                                            <option value="" selected>Grado</option>
                                            <option value="1">A1-A2 (Motos)</option>
                                            <option value="2">B1-B2 (automoviles y camionetas)</option>
                                            <option value="3">B3 (tractomulas)</option>
                                            <option value="4">C (vehículos de serv. publico)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 text-center">
                                <button class="btn btn-lg bton-green padding-right-15 padding-left-15">Guardar y Continuar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10 text-center">
                    <a href=""><img src="assets/images/arrow_registro.png" alt="Crea tu Perfil" width="" height="" /></a>
                </div>
            </div>
        </div>
    </section>
    <section id="section-editarestudios" class="section section-blanco editarhv margin-0 text-center">
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
            <h1>ESTUDIOS</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">UNIVERSITARIA</span>
                        <span class="dominio col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left">INSTITUCIÓN EDUCATIVA LOREM IPSUM<br/>TITULO  <br/>0000 - 0000</span>
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left"><img src="assets/images/icon-editar.png">&nbsp;Editar&nbsp;&nbsp;<img src="assets/images/icon-eliminar.png">&nbsp;Eliminar</span>
                    </div>
                    <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">UNIVERSITARIA</span>
                        <span class="dominio col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left">INSTITUCIÓN EDUCATIVA LOREM IPSUM<br/>TITULO  <br/>0000 - 0000</span>
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left"><img src="assets/images/icon-editar.png">&nbsp;Editar&nbsp;&nbsp;<img src="assets/images/icon-eliminar.png">&nbsp;Eliminar</span>
                    </div>
                    <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">SECUNDARIA</span>
                        <span class="dominio col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left">INSTITUCIÓN EDUCATIVA LOREM IPSUM<br/>TITULO  <br/>0000 - 0000</span>
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left"><img src="assets/images/icon-editar.png">&nbsp;Editar&nbsp;&nbsp;<img src="assets/images/icon-eliminar.png">&nbsp;Eliminar</span>
                    </div>
                    <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">PRIMARIA</span>
                        <span class="dominio col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left">INSTITUCIÓN EDUCATIVA LOREM IPSUM<br/>TITULO  <br/>0000 - 0000</span>
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left"><img src="assets/images/icon-editar.png">&nbsp;Editar&nbsp;&nbsp;<img src="assets/images/icon-eliminar.png">&nbsp;Eliminar</span>
                    </div>
                    <div class="add col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-10 text-center"><img src="assets/images/plus.png"/> Agregar estudios</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-bottom-20 text-center">
                        <button class="btn btn-lg bton-green padding-right-15 padding-left-15">Guardar y Continuar</button>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10 text-center">
                    <a href=""><img src="assets/images/arrow_registro.png" width="" height="" /></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Estudios -->
    <section id="section-editarlaboral" class="section section-gris editarhv margin-0 text-center">
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
            <h1>EXPERIENCIA LABORAL</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">DISEÑADOR JUNIOR</span>
                        <span class="dominio col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left">DISEÑOS C.A. <br/>0000 - 0000 (4 años)<br/>Medellin. Colombia</span>
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left"><img src="assets/images/icon-editar.png" width="" height="">&nbsp;Editar&nbsp;&nbsp;<img src="assets/images/icon-eliminar.png" width="" height="">&nbsp;Eliminar</span>
                    </div>
                    <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">DISEÑADOR SENIOR</span>
                        <span class="dominio col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left">ARTE COLOMBIA C.A. <br/>0000 - 0000 (2 años)<br/>Medellin. Colombia</span>
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left"><img src="assets/images/icon-editar.png" width="" height="">&nbsp;Editar&nbsp;&nbsp;<img src="assets/images/icon-eliminar.png" width="" height="">&nbsp;Eliminar</span>
                    </div>
                    <div class="add col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-10 text-center"><img src="assets/images/plus.png" width="" height="" /> Agregar otro empleo</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-bottom-20 text-center">
                        <button class="btn btn-lg bton-green padding-right-15 padding-left-15">Guardar y Continuar</button>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10 text-center">
                    <a href=""><img src="assets/images/arrow_registro.png" width="" height="" /></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Estudios -->
    <section id="section-editarotros" class="section section-gris editarhv margin-0 text-center">
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
            <h1>IDIOMAS Y SOFTWARE</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">ESPAÑOL</span>
						<span class="dominio col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left">
							<div class="select margin-5">
                                <select name="idioma" class="select-style" required>
                                    <option checked>Lengua Materna</option>
                                </select>
                            </div>
						</span>
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left"><img src="assets/images/icon-eliminar.png" width="" height="">&nbsp;Eliminar</span>
                    </div>
                    <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">INGLÉS</span>
						<span class="dominio col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left">
							<div class="select margin-5">
                                <select name="idioma" class="select-style" required>
                                    <option checked>Nivel Intermedio</option>
                                </select>
                            </div>
						</span>
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left"><img src="assets/images/icon-eliminar.png" width="" height="">&nbsp;Eliminar</span>
                    </div>
                    <div class="add col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-10 text-center"><img src="assets/images/plus.png" width="" height="" /> Agregar otro idioma</div>
                    <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">ADOBE PHOTOSHOP</span>
						<span class="dominio col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left">
							<div class="select margin-5">
                                <select name="idioma" class="select-style" required>
                                    <option checked>Nivel Intermedio</option>
                                </select>
                            </div>
						</span>
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left"><img src="assets/images/icon-eliminar.png" width="" height="">&nbsp;Eliminar</span>
                    </div>
                    <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">ADOBE ILLUSTRATOR</span>
						<span class="dominio col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left">
							<div class="select margin-5">
                                <select name="idioma" class="select-style" required>
                                    <option checked>Nivel Avanzado</option>
                                </select>
                            </div>
						</span>
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left"><img src="assets/images/icon-eliminar.png" width="" height="">&nbsp;Eliminar</span>
                    </div>
                    <div class="add col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-10 text-center"><img src="assets/images/plus.png" width="" height="" /> Agregar más programas</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-bottom-20 text-center">
                        <button class="btn btn-lg bton-green padding-right-15 padding-left-15">Guardar y Continuar</button>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10 text-center">
                    <a href=""><img src="assets/images/arrow_registro.png" width="" height="" /></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Aplicaciones -->
    <section id="section-skills" class="section section-gris margin-0 text-center">
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
            <h1>PERFIL PROFESIONAL</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center margin-bottom-20">
                        <form class="form-registro" name="formSkills" role="form" novalidate>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-left-0 margin-top-20">
                                <textarea class="textarea-large margin-5" id="skills" name="skills" ng-model="skills" required ng-keyup="resaltarPalabra(skills)" cols="50" rows="10"></textarea>
                            </div>

                            <div class="mas-palabras col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-10">
                                <span class="keywords activo" ng-repeat="l in listPalabrasClave" id="p{{$index}}"
                              ng-click="addPalabra(l,$index)">{{l}}</span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10 margin-bottom-10 text-center">
                                <button class="btn btn-lg bton-green padding-right-15 padding-left-15"><i class="fa fa-refresh"></i> Cargar otras palabras </button>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-bottom-20 text-center">
                                <button class="btn btn-lg bton-green padding-right-15 padding-left-15" ng-disabled="formSkills.$invalid"
                                    ng-click="submitFormSkill(formAptitud)">Guardar y Continuar </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10 text-center">
                    <a href=""><img src="assets/images/arrow_registro.png" width="" height="" /></a>
                </div>
            </div>
        </div>
        <script>
            $('#skills').highlightTextarea({
                words: palabras,
                caseSensitive: false
            });
        </script>
    </section>
    <section id="section-preferencias" class="section section-gris margin-0 text-center">
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
            <h1>Preferencias</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4>Cuentános, ¿En qué área y en que sector quieres trabajar?</h4>
                    <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center margin-bottom-20">
                        <form class="form-registro" name="formPreferencias" role="form" novalidate>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <div class="select margin-5" required>
                                    <select name="areas" class="select-style" required>
                                        <option>Áreas</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <div class="select margin-5" required>
                                    <select name="sector" class="select-style" required>
                                        <option>Sector</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-bottom-20 text-center">
                                <button class="btn btn-lg bton-green padding-right-15 padding-left-15">Guardar y Continuar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10 text-center">
                    <a href=""><img src="assets/images/arrow_registro.png" width="" height="" /></a>
                </div>
            </div>
        </div>
    </section>
    <section id="section-editarreferencias" class="section section-gris editarhv margin-0 text-center">
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
            <h1>Referencias Personales</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="padding-left-20 padding-right-20">Facilítanos la información sobre las personas que tienen buenas referencias de ti, llena los campos de abajo con su información de contacto, entre más referencias popngas mejor. Es muy valioso que consideres colocar referencias de tus jefes inmediatos</p>

                    <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">Tony Stark<br/>CEO</span>
                        <span class="dominio col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left">Stark Industries. Medellin, Colombia <br/>123-456 6789</span>
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left"><img src="assets/images/icon-editar.png" width="" height="">&nbsp;Editar&nbsp;&nbsp;<img src="assets/images/icon-eliminar.png">&nbsp;Eliminar</span>
                    </div>
                    <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center margin-bottom-20">
                        <form class="form-registro" name="formReferencias" role="form" novalidate>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="text" name="nombre" placeholder="Nombre Completo" class="input margin-5" required/>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="text" name="lugar" placeholder="Empresa donde labora" class="input margin-5" required/>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="text" name="cargo" placeholder="Cargo que desempeña" class="input margin-5" required/>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="text" name="telefono" placeholder="Teléfono de contacto" class="input margin-5" required/>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left margin-5">
                                <label class="label"><img src="assets/images/plus.png"/> Agregar otra referencia</label>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-bottom-20 text-center">
                                <button class="btn btn-lg bton-green padding-right-15 padding-left-15">Guardar y Finalizar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>