    <section id="section-menu-perfil" class="margin-0 text-center padding-25">
    	<div class="container">
    		<div class="row">
                <div class="col-lg-offset-3 col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <ul>
                        <li class="padding-right-20 padding-left-20"><a href="#/session">MI PERFIL</a></li>
                        <li class="padding-right-20 padding-left-20"><a href="#">APLICACIONES</a></li>
                        <li class="padding-right-20 padding-left-20"><a href="#" class="active">BUSCAR OFERTAS</a></li>
                        <li class="padding-right-20 padding-left-20"><a href="#">CONFIG</a></li>
                    </ul>
                </div>
            </div>
    	</div>
    </section>
    <section id="section-seguir" class="section section-blanco seguir margin-0 text-center">
		<div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
			<h1>MIS APLICACIONES</h1>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr><th></th><th>Hoja Enviada</th><th>Empresa Gestionando</th><th>Proceso Finalizado</th><th></th></tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="titulo col-lg-12 col-md-12 col-sm-12 col-xs-12"><a href="#/detalle">CARGO QUE OFRECE</a></div>
										<div class="detalle col-lg-12 col-md-12 col-sm-12 col-xs-12">Empresa | Ciudad <br />Salario | Fecha de Contratación</div>
									</td>
									<td><img src="assets/images/icon-check-activo36.png" title="Hoja de Vida Enviada" class="margin-top-20" alt="HV Enviado" /></td>
									<td><img src="assets/images/icon-check-activo36.png" title="En Proceso de Gestión por la Empresa" class="margin-top-20" alt="HV en Gestión" /></td>
									<td><img src="assets/images/icon-check-activo36.png" title="Proceso Finalizado" class="margin-top-20" alt="Proceso Finalizado" />
									</td>
									<td><img src="assets/images/icon-eliminar-disable36.png" title="Eliminar Desactivado" class="margin-top-20" alt="Eliminar Desactivado" />
									</td>
								</tr>
								<tr>
									<td>
										<div class="titulo col-lg-12 col-md-12 col-sm-12 col-xs-12"><a href="#/detalle">CARGO QUE OFRECE</a></div>
										<div class="detalle col-lg-12 col-md-12 col-sm-12 col-xs-12">Empresa | Ciudad <br />Salario | Fecha de Contratación</div>
									</td>
									<td><img src="assets/images/icon-check-activo36.png" title="Hoja de Vida Enviada" class="margin-top-20" alt="HV Enviado"  /></td>
									<td><img src="assets/images/icon-check-disable36.png" title="En Proceso de Gestión por la Empresa" class="margin-top-20" alt="HV en Gestión"  /></td>
									<td><img src="assets/images/icon-check-disable36.png" title="Proceso Finalizado" class="margin-top-20" alt="Proceso Finalizado"  />
									</td>
									<td><a href=""><img src="assets/images/icon-eliminar36.png" title="Eliminar Aplicación" class="margin-top-20" alt="Eliminar Aplicación" /></a>
									</td>
								</tr>
								<tr>
									<td>
										<div class="titulo col-lg-12 col-md-12 col-sm-12 col-xs-12"><a href="#/detalle">CARGO QUE OFRECE</a></div>
										<div class="detalle col-lg-12 col-md-12 col-sm-12 col-xs-12">Empresa | Ciudad <br />Salario | Fecha de Contratación</div>
									</td>
									<td><img src="assets/images/icon-check-activo36.png" title="Hoja de Vida Enviada" class="margin-top-20" alt="HV Enviado"  /></td>
									<td><img src="assets/images/icon-check-activo36.png" title="En Proceso de Gestión por la Empresa" class="margin-top-20" alt="HV en Gestión"  /></td>
									<td><img src="assets/images/icon-check-disable36.png" title="Proceso Finalizado" class="margin-top-20" alt="Proceso Finalizado"  />
									</td>
									<td><img src="assets/images/icon-eliminar-disable36.png" title="Eliminar Aplicación" class="margin-top-20" alt="Eliminar Aplicación" />
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section><!-- Aplicaciones -->
	<section id="section-postulacion" class="section section-gris margin-0 text-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top-20 padding-bottom-20">
					<p class="padding-left-20 padding-right-20">Actualmente no haz optado por alguna oferta laboral, cuéntanos</p>
					<h4>¿Qué estas buscando?</h4>
				</div>
			</div>
		</div>
	</section><!-- Aplicaciones -->
    <section id="section-buscar-int" class="text-center padding-15">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                <form class="form-inline" name="formBuscar" role="form" novalidate>
	                    <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 margin-right-5 text-center input-group input-group-sm pull-left">
	                        <span class="input-group-addon" id="basic-addon3"><i class="fa fa-search fa-lg"></i></span>
	                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="¿Qué empleo buscas?">
	                    </div>
	                    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 padding-0">
	                        <div class="styled-select">
	                            <select>
	                                <option>Categoria</option>
	                                <option>Ketchup</option>
	                                <option>Relish</option>
	                            </select>
	                        </div>
	                    </div>
	                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 padding-0 text-center">
	                        <button class="btn btn-lg bton-green padding-bottom-5 padding-top-5 padding-left-15 padding-right-15">Buscar</button>
	                    </div>
	                </form>
	            </div>
	        </div>
	    </div>
	</section>
	<section id="section-sugerencias" class="section section-gris margin-0 text-center">
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
			<h1>OFERTAS SUGERIDAS</h1>
		</div>
		<div class="odd margin-0 padding-0 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="logo col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-0">
                <img src="assets/images/logo-empresa1.jpg" width="100%" class="img-responsive" />
            </div>
            <div class="detalle text-left col-lg-5 col-md-5 col-sm-4 col-xs-12 padding-top-10">
                <h3>ANALISTA DE NÓMINA</h3>
                <div class="padding-0">Crepes & Waffles | Medellín</div>
                <div class="padding-0">1600000 $ | Termino Fijo</div>
            </div>
            <div class="boton col-lg-3 col-md-3 col-sm-2 col-xs-12 padding-30">
                <a href="#/oferta8" class="btn btn-lg bton-green">Ver Oferta</a>
            </div>
		</div>
		<div class="nodd margin-0 padding-0 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			 <div class="logo col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-0">
                <img src="assets/images/logo-empresa2.jpg" width="100%" class="img-responsive" />
            </div>
            <div class="detalle text-left col-lg-5 col-md-5 col-sm-4 col-xs-12 padding-top-10">
                <h3>AUXILIAR DE COCINA</h3>
                <div class="padding-0">Hotel Dann Carlton | Medellín</div>
                <div class="padding-0">750000 $ | Termino Fijo</div>
            </div>
            <div class="boton col-lg-3 col-md-3 col-sm-2 col-xs-12 padding-30">
                <a href="#/oferta1" class="btn btn-lg bton-green">Ver Oferta</a>
            </div>
		</div>
		<div class="odd margin-0 padding-0 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="logo col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-0">
				<img src="assets/images/logo-ejemplo.jpg" width="100%" class="img-responsive" />
			</div>
			<div class="detalle text-left col-lg-5 col-md-5 col-sm-4 col-xs-12 padding-top-10">
				<h3>ASISTENTE DE RECURSOS HUMANOS</h3>
				<div class="padding-0">JoyStaz Jeans | Medellín</div>
				<div class="padding-0">800000 $ | Termino Fijo</div>
			</div>
			<div class="boton col-lg-3 col-md-3 col-sm-2 col-xs-12 padding-30">
				<a href="#/oferta4" class="btn btn-lg bton-green">Ver Oferta</a>
			</div>
		</div>
	</section>
	<section id="section-blog" class="text-center margin-0 padding-20">
    	<div class="container">
        	<div class="row">
        		<h1 class="padding-bottom-20 padding-top-20">Visita <strong>Nuestro Blog</strong></h1>
        		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        			<div class="thumbnail padding-0">
        				<div class="img-hover">
                   			 <a href="https://blog.soyempleo.com/en-que-va-soyempleo/"><img src="assets/images/blog_4.png" class="img-responsive" alt="Publicacion Blog SoyEmpleo">
                        	<h4>¿En que va SoyEmpleo?</h4></a>
                        </div>
                        <div class="caption text-left">
                            <span class="autor margin-bottom-5">por <strong>SoyEmpleo</strong></span><span class="fecha margin-bottom-5 text-right pull-right">diciembre 19, 2015</span>
                            <p><a href="https://blog.soyempleo.com/en-que-va-soyempleo/" class="info">Queremos contarles un poco de nuestro proceso, de SoyEmpleo y por lo que trabajamos todos los días. Ya hace un mes lanzamos la primera versión de lo que será SoyEmpleo.com, la cual hemos llamado versión BETA, ya que todavía</a></p>
                            <a class="info" href="https://blog.soyempleo.com/en-que-va-soyempleo/">Leer más ></a>
                            <span class="comentarios pull-right text-right"><i class="fa fa-comment-o fa-lg"></i></span>
                        </div>
                    </div>
        		</div>
        		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        			<div class="thumbnail padding-0">
        				<div class="img-hover">
                   			<a href="https://blog.soyempleo.com/tips-para-crear-una-hoja-de-vida-excelente/"><img src="assets/images/blog_1.png" class="img-responsive" alt="Publicacion Blog SoyEmpleo">
                        	<h4>Tips para crear una hoja de vida excelente</h4></a>
                        </div>
                        <div class="caption text-left">
                            <span class="autor margin-bottom-5">por <strong>SoyEmpleo</strong></span><span class="fecha margin-bottom-5 text-right pull-right">noviembre 22, 2015</span>
                            <p><a href="https://blog.soyempleo.com/tips-para-crear-una-hoja-de-vida-excelente/" class="info">Que tal si alguien te pidiera ¿qué resumieras toda tu vida en una página? Toda tu vida! No es tarea fácil… Esa página debe ser algo extraordinario, debe reflejar lo que tú eres y resaltar lo mejor de ti. Esa página se llama</a></p>
                            <a class="info" href="https://blog.soyempleo.com/tips-para-crear-una-hoja-de-vida-excelente/">Leer más ></a>
                            <span class="comentarios pull-right text-right"><i class="fa fa-comment-o fa-lg"></i></span>
                        </div>
                    </div>
        		</div>
        		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        			<div class="thumbnail padding-0">
        				<div class="img-hover">
                   			<a href="https://blog.soyempleo.com/bienvenido-a-soyempleo/"><img src="assets/images/blog_2.png" class="img-responsive" alt="Publicacion Blog SoyEmpleo">
                        	<h4>Bienvenido a SoyEmpleo!</h4></a>
                        </div>
                        <div class="caption text-left">
                            <span class="autor margin-bottom-5">por <strong>SoyEmpleo</strong></span><span class="fecha margin-bottom-5 text-right pull-right">noviembre 22, 2015</span>
                            <p><a href="https://blog.soyempleo.com/bienvenido-a-soyempleo/" class="info">Este es el primer post en el blog de SoyEmpleo.com, un espacio donde dejaremos correr nuestra imaginación para acercarles a ustedes, artículos que encuentren interesantes y tips útiles para su vida laboral y personal</a></p>
                            <a class="info" href="https://blog.soyempleo.com/bienvenido-a-soyempleo/">Leer más ></a>
                            <span class="comentarios pull-right text-right"><i class="fa fa-comment-o fa-lg"></i></span>
                        </div>
                    </div>
        		</div>
        	</div>
        </div>
    </section><!-- /Sección Blog -->