    <section id="section-menu-perfil" class="margin-0 text-center padding-25">
    	<div class="container">
    		<div class="row">
                <div class="col-lg-offset-3 col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <ul>
                        <li class="padding-right-20 padding-left-20"><a href="#/session">MI PERFIL</a></li>
                        <li class="padding-right-20 padding-left-20"><a href="#">APLICACIONES</a></li>
                        <li class="padding-right-20 padding-left-20"><a href="#" class="active">BUSCAR OFERTAS</a></li>
                        <li class="padding-right-20 padding-left-20"><a href="#">CONFIG</a></li>
                    </ul>
                </div>
            </div>
    	</div>
    </section>
    <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
		<h1>00,000 OFERTAS DE EMPLEO EN TU ÁREA</h1>
	</div>
	<section id="section-buscar-int" class="text-center padding-15">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                <form class="form-inline" name="formBuscar" role="form" novalidate>
	                    <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 margin-right-5 text-center input-group input-group-sm pull-left">
	                        <span class="input-group-addon" id="basic-addon3"><i class="fa fa-search fa-lg"></i></span>
	                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="¿Qué empleo buscas?">
	                    </div>
	                    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 padding-0">
	                        <div class="styled-select">
	                            <select>
	                                <option>Categoria</option>
	                                <option>Ketchup</option>
	                                <option>Relish</option>
	                            </select>
	                        </div>
	                    </div>
	                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 padding-0 text-center">
	                        <button class="btn btn-lg bton-green padding-bottom-5 padding-top-5 padding-left-15 padding-right-15">Buscar</button>
	                    </div>
	                </form>
	            </div>
	        </div>
	    </div>
	</section>
	<section id="section-listar" class="section section-blanco margin-0 text-center padding-top-10">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 filtro padding-0 text-left">
						<div class="titulo col-lg-12 col-md-12 col-sm-12 col-xs-12">Filtrar por</div>
						<div class="header col-lg-12 col-md-12 col-sm-12 col-xs-12">Palabras claves</div>
						<div class="body col-lg-12 col-md-12 col-sm-12 col-xs-12">
							 <div id="custom-search-input padding-5">
				                <div class="input-group col-md-12">
				                    <input type="text" class="form-control input-lg" placeholder="Buscar" />
				                    <span class="input-group-btn">
				                        <button class="btn btn-info btn-lg" type="button">
				                            <i class="fa fa-search fa-lg"></i>
				                        </button>
				                    </span>
				                </div>
				            </div>
						</div>
						<div class="header col-lg-12 col-md-12 col-sm-12 col-xs-12">Sector</div>
						<div class="body col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Construcción (348)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Diseño / Artes (29)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Educación (256)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Farmacéutica (3)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Ganadería (23)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Hotelería (21)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Investigación (4)</span>
						</div>
						<div class="header col-lg-12 col-md-12 col-sm-12 col-xs-12">Área</div>
						<div class="body col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Administración (348)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Contabilidad (29)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Comercial (789)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Desarrollo (256)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Sistemas (345)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Ventas (998)</span>
						</div>
						<div class="header col-lg-12 col-md-12 col-sm-12 col-xs-12">Zona o Región</div>
						<div class="body col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Medellín (1048)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Bello (29)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Copacabana (256)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Caldas (3)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Envigado (23)</span>
						</div>
						<div class="header col-lg-12 col-md-12 col-sm-12 col-xs-12">Estudios</div>
						<div class="body col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Bachiller (456)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Técnicos (567)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Universitarios (567)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Postgrado (567)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Otros (23)</span>
						</div>
						<div class="header col-lg-12 col-md-12 col-sm-12 col-xs-12">Rando de Edad</div>
						<div class="body col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Menor a 30 (567)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Mayor a (567)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 padding-0">
									<label>Entre</label>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-0">
									<input type="number" class="form-control input" name="edadini" />
								</div>
								<div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
									<label>y</label>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-0">
									<input type="number" class="form-control input" name="edadfin" />
								</div>
							</span>
						</div>
						<div class="header col-lg-12 col-md-12 col-sm-12 col-xs-12">Experiencia</div>
						<div class="body col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Menos de 1 año (345)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Mayor a 3 años (567)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Mayor a 5 años (987)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Sin experiencia (5678)</span>
						</div>
						<div class="header col-lg-12 col-md-12 col-sm-12 col-xs-12">Aptitudes</div>
						<div class="body col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Puntual (345)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Responsable (789)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Proactivo (987)</span>
							<span class="list col-lg-12 col-md-12 col-sm-12 col-xs-12">Dinámico (5678)</span>
						</div>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 resultado">
						<div class="list-item col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20 padding-0">
						    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 logo margin-0 padding-0">
						    	<img src="assets/images/logo-thumb-empresa.png" width="100%" height="" class="img-responsive" />
						    </div>
							<div class="oferta col-lg-9 col-md-9 col-sm-9 col-xs-12 margin-0 padding-bottom-35 padding-top-40 padding-left-0">
							    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
							    	<div class="hd-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left "><a href="detalle">CARGO QUE OFRECE</a></div>
							    	<div class="em-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">Nombre de la Empresa</div>
							    	<div class="dt-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">Breve descripción de lo que la empresa esta buscando</div>
							    </div>
							    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-right">
							    	<div class="ub-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left padding-top-15">Ciudad<br />Salario<br />Fecha de Inicio<br /> Área de Actividad</div>
							    </div>
							</div>
						</div>
						<div class="list-item col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20 padding-0">
						    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 logo margin-0 padding-0">
						    	<img src="assets/images/logo-thumb-empresa.png" width="100%" height="" class="img-responsive" />
						    </div>
							<div class="oferta col-lg-9 col-md-9 col-sm-9 col-xs-12 margin-0 padding-bottom-35 padding-top-40 padding-left-0">
							    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
							    	<div class="hd-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left "><a href="detalle">CARGO QUE OFRECE</a></div>
							    	<div class="em-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">Nombre de la Empresa</div>
							    	<div class="dt-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">Breve descripción de lo que la empresa esta buscando</div>
							    </div>
							    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-right">
							    	<div class="ub-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left padding-top-15">Ciudad<br />Salario<br />Fecha de Inicio<br /> Área de Actividad</div>
							    </div>
							</div>
						</div>
						<div class="list-item col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20 padding-0">
						    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 logo margin-0 padding-0">
						    	<img src="assets/images/logo-thumb-empresa.png" width="100%" height="" class="img-responsive" />
						    </div>
							<div class="oferta col-lg-9 col-md-9 col-sm-9 col-xs-12 margin-0 padding-bottom-35 padding-top-40 padding-left-0">
							    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
							    	<div class="hd-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left "><a href="detalle">CARGO QUE OFRECE</a></div>
							    	<div class="em-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">Nombre de la Empresa</div>
							    	<div class="dt-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">Breve descripción de lo que la empresa esta buscando</div>
							    </div>
							    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-right">
							    	<div class="ub-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left padding-top-15">Ciudad<br />Salario<br />Fecha de Inicio<br /> Área de Actividad</div>
							    </div>
							</div>
						</div>
						<div class="list-item col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20 padding-0">
						    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 logo margin-0 padding-0">
						    	<img src="assets/images/logo-thumb-empresa.png" width="100%" height="" class="img-responsive" />
						    </div>
							<div class="oferta col-lg-9 col-md-9 col-sm-9 col-xs-12 margin-0 padding-bottom-35 padding-top-40 padding-left-0">
							    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
							    	<div class="hd-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left "><a href="detalle">CARGO QUE OFRECE</a></div>
							    	<div class="em-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">Nombre de la Empresa</div>
							    	<div class="dt-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">Breve descripción de lo que la empresa esta buscando</div>
							    </div>
							    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-right">
							    	<div class="ub-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left padding-top-15">Ciudad<br />Salario<br />Fecha de Inicio<br /> Área de Actividad</div>
							    </div>
							</div>
						</div>
						<div class="list-item col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20 padding-0">
						    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 logo margin-0 padding-0">
						    	<img src="assets/images/logo-thumb-empresa.png" width="100%" height="" class="img-responsive" />
						    </div>
							<div class="oferta col-lg-9 col-md-9 col-sm-9 col-xs-12 margin-0 padding-bottom-35 padding-top-40 padding-left-0">
							    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
							    	<div class="hd-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left "><a href="detalle">CARGO QUE OFRECE</a></div>
							    	<div class="em-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">Nombre de la Empresa</div>
							    	<div class="dt-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">Breve descripción de lo que la empresa esta buscando</div>
							    </div>
							    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-right">
							    	<div class="ub-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left padding-top-15">Ciudad<br />Salario<br />Fecha de Inicio<br /> Área de Actividad</div>
							    </div>
							</div>
						</div>
						<div class="list-item col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20 padding-0">
						    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 logo margin-0 padding-0">
						    	<img src="assets/images/logo-thumb-empresa.png" width="100%" height="" class="img-responsive" />
						    </div>
							<div class="oferta col-lg-9 col-md-9 col-sm-9 col-xs-12 margin-0 padding-bottom-35 padding-top-40 padding-left-0">
							    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
							    	<div class="hd-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left "><a href="detalle">CARGO QUE OFRECE</a></div>
							    	<div class="em-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">Nombre de la Empresa</div>
							    	<div class="dt-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">Breve descripción de lo que la empresa esta buscando</div>
							    </div>
							    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-right">
							    	<div class="ub-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left padding-top-15">Ciudad<br />Salario<br />Fecha de Inicio<br /> Área de Actividad</div>
							    </div>
							</div>
						</div>
						<div class="list-item col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20 padding-0">
						    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 logo margin-0 padding-0">
						    	<img src="assets/images/logo-thumb-empresa.png" width="100%" height="" class="img-responsive" />
						    </div>
							<div class="oferta col-lg-9 col-md-9 col-sm-9 col-xs-12 margin-0 padding-bottom-35 padding-top-40 padding-left-0">
							    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
							    	<div class="hd-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left "><a href="detalle">CARGO QUE OFRECE</a></div>
							    	<div class="em-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">Nombre de la Empresa</div>
							    	<div class="dt-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">Breve descripción de lo que la empresa esta buscando</div>
							    </div>
							    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-right">
							    	<div class="ub-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left padding-top-15">Ciudad<br />Salario<br />Fecha de Inicio<br /> Área de Actividad</div>
							    </div>
							</div>
						</div>
						<div class="list-item col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-20 padding-0">
						    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 logo margin-0 padding-0">
						    	<img src="assets/images/logo-thumb-empresa.png" width="100%" height="" class="img-responsive" />
						    </div>
							<div class="oferta col-lg-9 col-md-9 col-sm-9 col-xs-12 margin-0 padding-bottom-35 padding-top-40 padding-left-0">
							    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
							    	<div class="hd-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left "><a href="detalle">CARGO QUE OFRECE</a></div>
							    	<div class="em-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">Nombre de la Empresa</div>
							    	<div class="dt-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">Breve descripción de lo que la empresa esta buscando</div>
							    </div>
							    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-right">
							    	<div class="ub-oferta col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left padding-top-15">Ciudad<br />Salario<br />Fecha de Inicio<br /> Área de Actividad</div>
							    </div>
							</div>
						</div>
						<ul class="pagination col-lg-12 col-md-12 col-sm-12 col-xs-12">
			               <li class="anterior"><a href="#">«</a></li>
			               <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
			               <li><a href="#">2</a></li>
			               <li><a href="#">3</a></li>
			               <li><a href="#">4</a></li>
			               <li><a href="#">5</a></li>
			               <li class="siguiente pull-right"><a href="#">»</a></li>
			            </ul>
					</div>
				</div>
			</div>
		</div>
	</section>