    <section id="section-menu-perfil" class="margin-0 text-center padding-25">
    	<div class="container">
    		<div class="row">
                <div class="col-lg-offset-3 col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <ul>
                        <li class="padding-right-20 padding-left-20"><a href="#/session">MI PERFIL</a></li>
                        <li class="padding-right-20 padding-left-20"><a href="#">APLICACIONES</a></li>
                        <li class="padding-right-20 padding-left-20"><a href="#" class="active">BUSCAR OFERTAS</a></li>
                        <li class="padding-right-20 padding-left-20"><a href="#">CONFIG</a></li>
                    </ul>
                </div>
            </div>
    	</div>
    </section>
    <section id="section-configdatos" class="section section-gris config margin-0 text-center">
		<div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
			<h1>MODIFICAR DATOS DE TU CUENTA</h1>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<p class="padding-left-20 padding-right-20">Tu correo registrado actualmente es juansoler@correo.com cualquier notificación o mensajes que recibas llegará allí</p>
					<h4>¿Deseas actualizar tu correo electrónico?</h4>
					<div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center margin-bottom-20">
						<form class="form-registro form-estudios" name="formConfig" role="form" novalidate>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
								<input type="email" name="correonuevo" placeholder="Nuevo correo electrónico" class="input margin-5" />
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
								<input type="email" name="confirmarcorreo" placeholder="Confirmar correo electrónico" class="input margin-5" />
							</div>
							<p class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-left-20 padding-right-20">Puedes también actualizar tu contraseña desde esta sección, recuerda utilizar una contraseña fuerte para aumentar la seguridad en tu perfil</p>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
								<input type="password" name="passwordactual" placeholder="Contraseña Actual" class="input margin-5" />
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
								<input type="password" name="passwordconfirmar" placeholder="Confirmar contraseña" class="input margin-5" />
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
								<input type="text" name="passwordnuevo" placeholder="Nuevo Contraseña" class="input margin-5" />
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
								<input type="password" name="confirmarnueva" placeholder="Confirmar Contraseña Nueva" class="input margin-5" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section><!-- Config -->
	<section id="section-configprivacidad" class="section section-gris config margin-0 text-center">
		<div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
			<h1>NIVEL DE PRIVACIDAD</h1>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-offset-2 col-md-offset-2 col-lg-9 col-md-9 col-sm-12 col-xs-12 text-center margin-bottom-20">
						<form class="form-registro" name="formPrivacidad" role="form" novalidate>
							<div class="radio col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left margin-top-10 margin-bottom-10">
								<input type="checkbox" id="a1" name="publica" />
								<label for="a1"><span></span>Deseo hacer mi Hoja de Vida pública para toda las empresas</label>
							</div>
							<div class="radio col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left margin-top-10 margin-bottom-10">
								<input type="checkbox" id="a1" name="novisible" />
								<label for="a1"><span></span>Deseo hacer no visible mi Hoja de Vida y sólo aparecerá en las ofertas que aplique</label>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section><!-- Privacidad -->
	<section id="section-configelimina" class="section section-gris config config margin-0 text-center">
		<div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
			<h1>ELIMINAR MI PERFIL</h1>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-offset-2 col-md-offset-2 col-lg-9 col-md-9 col-sm-12 col-xs-12 text-center margin-bottom-20">
						<form class="form-registro" name="formElimnar" role="form" novalidate>
							<div class="radio col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin-top-10 margin-bottom-10">
								<input type="checkbox" id="a1" name="eliminar" />
								<label for="a1"><span></span>Deseo eliminar mi perfil y toda la información que en él contenga</label>
							</div>
							<p class="text-center">Sería una lastima que decidas eliminar tú perfil, en caso que no tengas otra opción nos gustaría saber</p>
							<h4><center>¿Por qué deseas eliminar tu Hoja de Vida?</center></h4>
							<p class="text-center">recuerda si lo eliminas será imposible recuperarlo en un futuro</p>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-left-0 margin-top-20">
								<textarea class="textarea-large margin-5" name="comentario"></textarea>
							</div>
						</form>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-bottom-20 text-center"><button class="btn btn-lg bton-green">Guardar Cambios</button></div>
			</div>
		</div>
	</section><!-- Privacidad -->