<style>
	.active{
		color: #495BC1 !important;
	}
	.nav .nav-tabs a{
		color:#727272;
	}
</style>
<section ng-controller="configProfileController as cgf">
	<section id="section-editarestudios" class="section section-blanco editarhv margin-0 text-center" ng-cloak>
		<div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
			<h1>CONFIGURACIONES</h1>
		</div>
		<div>
			<ul class="nav nav-tabs">
				<li ng-class="{'active': cgf.tab == 1}" ng-click="cgf.changeTab(1)" >
					<a>
						<strong>Datos de Cuenta</strong>
					</a>
				</li>
				<li ng-class="{'active': cgf.tab == 0}" ng-click="cgf.changeTab(0)">
					<a>
						<strong>Opciones de privacidad</strong>
					</a>
				</li>
			</ul>
			<!-- Comienzo de seccion para privacidad -->
			<section class="row padding-bottom-30" ng-if="cgf.tab == 0">
				<div>
					<h2 >Privacidad</h2>
					<p>
						A continuación podrás configurar todas tus opciones sobre la privacidad de tu cuenta
					</p>
					<hr>
				</div>
				<div class="col-xs-12">
					<div class="col-xs-offset-1 col-xs-1 margin-top-n10">
						<md-switch ng-model="cgf.deshabilitarPerfil" aria-label="Switch 1" style="margin-right: 20px" ng-click="cgf.deshabilitarCuenta()">
						</md-switch>
					</div>
					<div class="col-xs-9 font-size-16 text-justify margin-bottom-10">
						Si usted desea deshabilitar el perfil seleccione esta opción y  su perfil no sera tomado en cuenta para nuestra búsqueda de hojas de vida
					</div>
				</div>
				<div class="col-xs-12 margin-top-20">
					<div class="col-xs-offset-1 col-xs-2 margin-top-n10">
						<button class="btn btn-danger margin-top-10" ng-click="cgf.elimnarAcount()">
							Eliminar Cuenta
						</button>
					</div>
					<div class="col-xs-8 font-size-16 text-justify margin-bottom-10">
						Si usted desea eliminar su cuenta de nuestra base de datos presione el boton y confirmar que sea completar esta acción 
					</div>
				</div>
			</section>
			<!-- Fin de seccion de privacidad -->
			<!-- Comienzo de sección para datos de cuenta -->
			<section class="row padding-bottom-30" ng-if="cgf.tab == 1">
				<div>
					<h2 >Datos de cuenta</h2>
					<p>
						Aquí puedes administrar toda la información relacionada a tu cuenta 
					</p>
					<hr>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-3 col-sm-offset-1 col-xs-12" >Correo</label>
					<div class="col-sm-6 col-xs-12">
						<input type="text" 
						class="form-control" 
						ng-model="cgf.email" 
						ng-disabled="!cgf.editar"
						placeholder="Correo">
					</div>
				</div>
				<div class="col-xs-12 margin-top-15">
					<button 
					class="btn btn-success" 
					ng-click="cgf.changeMode(true)" 
					ng-if="!cgf.editar">
					Editar
				</button>
				<button 
				class="btn btn-success" 
				ng-click="cgf.changePasw(false, cgf.mail)" 
				ng-if="cgf.editar">
				Terminar
			</button>

		</div>
	</section>
	<!-- Fin de sección para datos de cuenta -->
</div>
</section>
</section>