  <section id="section-menu-perfil" class="margin-0 text-center padding-25">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-3 col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <ul>
                        <li class="padding-right-20 padding-left-20"><a href="#/session">MI PERFIL</a></li>
                        <li class="padding-right-20 padding-left-20"><a href="#">APLICACIONES</a></li>
                        <li class="padding-right-20 padding-left-20"><a href="#" class="active">BUSCAR OFERTAS</a></li>
                        <li class="padding-right-20 padding-left-20"><a href="#">CONFIG</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="section-hd-oferta" class="section section-gris margin-0 text-center">
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
			<h1>ASISTENTE CONTABLE (MEDELLÍN) - Papelería Colombia CA </h1>
		</div>
		<div class="container">
    		<div class="row">
    			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <center><img src="assets/images/user_male.png" class="img-circle img-responsive margin-5" width="100%" height="" /></center>
    				</div>
    				<div class="col-lg-7 col-md-7 col-sm-7 hidden-xs">
                        <p class="text-justify padding-top-15 padding-bottom-15 padding-left-10">Empresa del ramo papelero, en busca de diversificar nuestro portafolio de productos cada vez más, con personal con mistica y vocación de servicio al cliente, lo que permitirá generar para los clientes, accionistas, proveedores y empleados mejores y mayores oportunidades de crecimiento y desarrollo. Empresa del sector Otros, localizada en Medellín</p>
    				</div>
    				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-50">
                        <a href="#/actualiza" class="btn btn-lg bton-green">Editar mi Perfil</a>
                    </div>
    			</div>
    		</div>
    	</div>
    </section>
    <section id="section-dt-oferta" class="section section-blanco margin-0 text-center padding-top-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 margin-bottom-20">
                    <div class="titulo text-left col-lg-12 col-md-12 col-sm-12 col-xs-12">
    					Asistente Contable
    				</div>
    				<div class="detalle text-left col-lg-12 col-md-12 col-sm-12 col-xs-12">
    					Papelería Colombia CA<br />Colombia | Medellín
    				</div>
    				<div class="descripcion text-left padding-top-20 padding-bottom-20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    					<strong>OPCIONES DE CARRERA</strong><br />
    					ASISTENTE CONTABLE
    				</div>
    				<div class="descripcion text-left padding-top-20 padding-bottom-20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    					<strong>NIVEL PROFESIONAL REQUERIDO</strong><br />
    					EDUCACIÓN MÍNIMA: Bachiller / Educación Media
    				</div>
    				<div class="descripcion text-left padding-top-20 padding-bottom-20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    					<strong>IDIOMAS REQUERIDOS</strong><br />
    					ESPAÑOL: Avanzado | INGLES: Avanzado
    				</div>
    				<div class="descripcion text-left padding-top-20 padding-bottom-20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-0">
        					<strong>DESCRIPCIÓN</strong><br />
        					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        					<strong>FUNCIONES</strong><br/>
    	    				<ul><li>Ut enim ad minim veniam</li>
    	    					<li>Ut enim ad minim veniam</li>
    	    					<li>Ut enim ad minim veniam</li>
    	    					<li>Ut enim ad minim veniam</li>
    	    					<li>Ut enim ad minim veniam</li>
    	    					<li>Ut enim ad minim veniam</li>
    	    				</ul>
                        </div>
    				</div>
    				<div class="descripcion text-left padding-top-20 padding-bottom-20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    					<strong>SALARIO:  0.000 $</strong><br />
    					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    				</div>
    				<div class="row text-center margin-top-30 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btn-lg bton-green">Enviar mi Hoja de Vida</button>
                    </div>
    			</div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="compartir text-center padding-15">
                        <span class="hidden-xs">Compartir</span>
                        <ul class="list-inline">
                            <li class="margin-10"><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.soyempleo.com/"><i class="fa fa-facebook fa-lg"></i></a></li>
                            <li class="margin-10"><a href="https://twitter.com/?status=Tuitear Oferta de Empleo http://www.soyempleo.com/"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="margin-10"><a href="https://plus.google.com/share?url=http://www.soyempleo.com/"><i class="fa fa-google-plus fa-lg"></i></a></li>
                            <li class="margin-10"><a href="http://www.linkedin.com/shareArticle?url=http://www.soyempleo.com/"><i class="fa fa-linkedin fa-lg"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-0">
                        <hr class="hidden-xs" />
                        <h4>Ofertas Sugeridas</h4>
                    </div>
                    <div class="sugeridas col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-0 text-left margin-bottom-10">
                        <img src="assets/images/logo_empresa_1.png" class="img-responsive" width="100%" height="" />
                        <p class="padding-left-10"><strong><a href="#/detalle">CARGO QUE OFRECE</a></strong><br />Ciudad<br />Salario<br />Área de actividad</p>
    				</div>
    				<div class="sugeridas col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-0 text-left margin-bottom-10">
    					<img src="assets/images/logo_empresa_1.png" class="img-responsive" width="100%" height="" />
    					<p class="padding-left-10"><strong><a href="#/detalle">CARGO QUE OFRECE</a></strong><br />Ciudad<br />Salario<br />Área de actividad</p>
    				</div>
    			</div>
    		</div>
    	</div>
	</section>
	<section id="section-ofertas" class="text-center padding-top-30 padding-right-10 padding-left-10 padding-bottom-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-sm-offset-1 col-sm-10 col-xs-12">
					<h1>Últimas <strong>Empleos</strong> en <strong>Medellín</strong></h1>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-left-0">
                        <div class="panel panel-default panel-pricing">
                            <div class="panel-heading padding-0">
                                <img src="assets/images/logo_empresa_1.png" class="img-responsive" alt="Empresa Ofertante SoyEmpleo" width="" height="">
                            </div>
                             <div class="panel-body text-left">
	                            <h4>Cargo que se <strong>ofrece</strong></h4>
	                            <p><img src="assets/images/icon-map-market.png" alt="Ciudad vacantes" width="" height="" /> Ciudad </p>
	                            <p><img src="assets/images/icon-suitcase.png" lt="Salario ofrecido" width="" height="" /> Salario / <strong>Fecha de Contratación</strong></p>
	                        </div>
	                        <div class="panel-footer">
	                            <a href="#/detalle" class="btn btn-sm bton-green" onClick="$.scrollTo('html, body',900)">Ver Oferta!</a>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-left-0">
                        <div class="panel panel-default panel-pricing">
                            <div class="panel-heading padding-0">
	                            <img src="assets/images/logo_empresa_2.png" class="img-responsive" alt="Empresa Ofertante SoyEmpleo" width="" height="">
	                        </div>
	                         <div class="panel-body text-left">
                                <h4>Cargo que se <strong>ofrece</strong></h4>
                                <p><img src="assets/images/icon-map-market.png" alt="Ciudad vacantes" width="" height="" /> Ciudad </p>
                                <p><img src="assets/images/icon-suitcase.png" lt="Salario ofrecido" width="" height="" /> Salario / <strong>Fecha de Contratación</strong></p>
                            </div>
                            <div class="panel-footer">
                                <a href="#/detalle" class="btn btn-sm bton-green" onClick="$.scrollTo('html, body',900)">Ver Oferta!</a>
                            </div>
	                    </div>
	                </div>
	                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-left-0">
                        <div class="panel panel-default panel-pricing">
                            <div class="panel-heading padding-0">
	                            <img src="assets/images/logo_empresa_3.png"class="img-responsive" alt="Empresa Ofertante SoyEmpleo" width="" height="">
	                        </div>
	                         <div class="panel-body text-left">
                                <h4>Cargo que se <strong>ofrece</strong></h4>
                                <p><img src="assets/images/icon-map-market.png" alt="Ciudad vacantes" width="" height="" /> Ciudad </p>
                                <p><img src="assets/images/icon-suitcase.png" lt="Salario ofrecido" width="" height="" /> Salario / <strong>Fecha de Contratación</strong></p>
                            </div>
                            <div class="panel-footer">
                                <a href="#/detalle" class="btn btn-sm bton-green" onClick="$.scrollTo('html, body',900)">Ver Oferta!</a>
                            </div>
	                    </div>
	                </div>
				</div>
			</div>
		</div>
    </section><!-- /Sección Ofertas -->