    <!--vista apra llenar hoja de vida-->
        <div ng-controller="hojadevidaController as vm">
            <section id="section-datos" class="margin-0 text-center" ng-if="vm.code==3 && accountType == 'person'">
                <div ng-include="'app/sectionHoja/hojaGuardar2.html'"></div>
            </section> 
            <!-- <section id="section-datos" class="margin-0 text-center" ng-if="vm.code==3">
                <div ng-include="'app/perfil.html'"></div>
            </section> -->
        </div>