<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>probando</title>
    <link rel="stylesheet" href="../../bower_components/angular-material/angular-material.css">
</head>
<body ng-app="menuDemoWidth">

<div ng-controller="WidthDemoCtrl as ctrl" style="min-height:350px" ng-cloak>
    <md-menu>
        <md-button class="" ng-click="$mdOpenMenu($event)">
            Hola
        </md-button>
        <md-menu-content width="4">
            <md-menu-item>
                <md-button ng-click="ctrl.announceClick($index)"><span md-menu-align-target>Mi Hoja</span>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="ctrl.announceClick($index)"><span md-menu-align-target>Cerrar Sesión</span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>


<script src="../../bower_components/angular/angular.min.js"></script>
<script src="../../bower_components/angular-animate/angular-animate.js"></script>
<script src="../../bower_components/angular-aria/angular-aria.js"></script>
<script src="../../bower_components/angular-material/angular-material.js"></script>


<script>
    angular.module('menuDemoWidth', ['ngMaterial'])
            .controller('WidthDemoCtrl', DemoCtrl);
    function DemoCtrl($mdDialog) {
        var vm = this;
        this.announceClick = function (index) {
        };
    }
</script>
</body>
</html>