<div ng-controller="perfilController as pc" ng-init="pc.consultarDatos()">
    <section id="section-info" class="section section-blanco margin-0 text-center padding-10">
        <h3 class="font-size-16 text-justify padding-15"><strong>Hola {{pc.profileData.person.first_name}}</strong> bienvenido a tu perfil de soyempleo. En este podrás editar toda la información importante para que las empresas te conozcan y así nos das herramientas para recomendarte a los empleos disponibles.<br /><br /><strong>AHORA EMPECEMOS A EDITAR</strong></h3>
        <div class="header-section col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10 col-sm-12 col-xs-12 text-center">
            <h1>{{pc.profileData.person.first_name +" "+ pc.profileData.person.last_name}} </h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10 col-sm-12 col-xs-12 padding-15">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 foto">
                        <center><img src="../assets/images/user_male.png" class="img-circle img-responsive" width="150px" height="150px" /></center>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 informacion margin-0 text-center padding-top-30">
                        <p class="text-left padding-left-10 padding-right-10">CARGO: <span  ng-repeat="cargo in pc.profileData.person.experiences | limitTo:1">{{cargo.position | uppercase}}</span> <br> Ciudad: {{pc.profileData.person.act_city}}<br/>DOCUMENTO DE IDENTIDAD: {{pc.profileData.person.numb_doc}}<br/></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-0 text-center" ng-controller="barraController as br">
                        <p class="porciento"><span class="hidden-xs">PERFIL COMPLETADO</span>
                        <img src="../assets/images/progreso.png" width="" height="" /></p>
                        <div class="progress progress-striped active vertical bottom margin-top-10">
                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{br.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{br.progress}}%;"><div class="value">{{br.progress}}%</div></div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- Info Basica -->
    <section id="section-editardatos" class="section section-blanco margin-0 text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-20">
                    <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10 col-sm-12 col-xs-12 text-center margin-bottom-20">
                        <form class="form-registro" name="formDatos" role="form" novalidate>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="text" placeholder="Nombre Completo" name="nombre" class="input margin-5" value='{{pc.profileData.person.first_name+" "+pc.profileData.person.last_name}}' readonly="" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="text" placeholder="Correo electrónico" class="input margin-5" value='{{pc.profileData.user.email}}' readonly="" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="text" name="fechanac" placeholder="Fecha de Nacimiento" class="input margin-5" value='{{pc.profileData.person.birthdate | date: "MM/dd/yyyy"}}' readonly="" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="text" name="ciudadnac" placeholder="Ciudad de Nacimiento" class="input margin-5" value='{{pc.profileData.person.city_birth | uppercase}}' readonly="" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="text" name="departamento" placeholder="Departamento de Habitación" class="input margin-5" value='{{pc.profileData.person.act_department | uppercase}}' readonly="" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="text" name="ciudad" placeholder="Departamento de Habitación" class="input margin-5" value='{{pc.profileData.person.act_city | uppercase}}' readonly="" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="text" name="direccion" placeholder="Dirección Domicilio" class="input margin-5" value='{{pc.profileData.person.act_address | uppercase}}' readonly=""/>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="text" name="fijo" placeholder="Teléfono Fijo" class="input margin-5" value='{{pc.profileData.person.local_phone | phonenumber }}' readonly=""/>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="text" name="movil" placeholder="Teléfono Movil" class="input margin-5" value='{{pc.profileData.person.mobile_phone | phonenumber }}' readonly=""/>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="text" name="alternativo" placeholder="Teléfono Alternativo" class="input margin-5" value='{{pc.profileData.person.mobile_phone | phonenumber }}' readonly=""/>
                            </div>

                            <div class="radio col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left margin-top-10 margin-bottom-10">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-0">
                                    <span>Género:</span>
                                </div>
                                <div ng-if="pc.profileData.person.gender=='F'">
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 padding-0" >
                                        <input type="radio" id="g1" name="genero" checked="checked" />
                                        <label for="g1"><span></span> Femenino</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 padding-0">
                                        <input type="radio" id="g2" name="genero" disabled="" />
                                        <label for="g2"><span></span> Masculino</label>
                                    </div>
                                </div>
                                <div ng-if="pc.profileData.person.gender=='M'">
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 padding-0">
                                        <input type="radio" id="g1" name="genero" disabled="" />
                                        <label for="g1"><span></span> Femenino</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 padding-0">
                                        <input type="radio" id="g2" name="genero" checked="checked"/>
                                        <label for="g2"><span></span> Masculino</label>
                                    </div>
                                </div>
                            </div>
                            <div class="radio col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left margin-top-10 margin-bottom-10">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-0">
                                    <span>¿Posee transporte propio?:</span>
                                </div>
                                <div ng-if="pc.profileData.person.vehicle=='S'">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-0">
                                        <input type="radio" id="t1" name="vehiculo" checked="checked" />
                                        <label for="t1"><span></span> SI</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-0">
                                        <input type="radio" id="t2" name="vehiculo" disabled />
                                        <label for="t2"><span></span> NO</label>
                                    </div>
                                </div>
                                <div ng-if="pc.profileData.person.vehicle=='N'">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-0">
                                        <input type="radio" id="t1" name="vehiculo" disabled/>
                                        <label for="t1"><span></span> SI</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-0">
                                        <input type="radio" id="t2" name="vehiculo" checked="checked" />
                                        <label for="t2"><span></span> NO</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="radio col-lg-6 col-md-6 col-sm-6 col-xs-12 margin-top-10 margin-bottom-10 text-left padding-0">
                                    <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12 padding-0">
                                        <span>Licencia:</span>
                                    </div>
                                    <div ng-if="pc.profileData.person.driver_license=='S'">
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 padding-0">
                                            <input type="radio" id="l1" name="licencia" checked="checked" />
                                            <label for="l1"><span></span> SI</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 padding-0">
                                            <input type="radio" id="l2" name="licencia" disabled="" />
                                            <label for="l2"><span></span> NO</label>
                                        </div>
                                    </div>
                                    <div ng-if="pc.profileData.person.driver_license=='N'">
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 padding-0">
                                            <input type="radio" id="l1" name="licencia" disabled="" />
                                            <label for="l1"><span></span> SI</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 padding-0">
                                            <input type="radio" id="l2" name="licencia" checked="checked" />
                                            <label for="l2"><span></span> NO</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0" ng-if="pc.profileData.person.degree_license!='N'">
                                    <input type="text" name="grado" placeholder="Grado Licencia" class="input margin-5" value='{{pc.profileData.person.degree_license | uppercase }}' readonly=""/>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0" ng-if="pc.profileData.person.degree_license=='N'">
                                    <label for="l1"><span>NO POSEE LICENCIA</span></label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-estudios" class="section section-blanco hojadevida margin-0 text-center">
        <div class="header-section2 col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10 col-sm-12 col-xs-12 text-center">
            <h1>FORMACIÓN ACADÉMICA</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10 col-sm-12 col-xs-12 padding-top-20 padding-bottom-20">
                    <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="estudio in pc.profileData.person.studies">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">{{estudio.career | uppercase}}</span>
                        <span class="dominio col-lg-8 col-md-8 col-sm-8 col-xs-12 text-left">{{estudio.college | uppercase}}<br />{{estudio.career | uppercase}}  <br />{{estudio.created_at.sec | date:"yyyy"}} - {{estudio.updated_at.sec | date:"yyyy"}}</span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 text-center">
                        <a href="#/estudios" class="btn btn-lg bton-green padding-right-15 padding-left-15">Agregar Estudios</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- Estudios -->
    <section id="section-experiencia" class="section section-blanco hojadevida margin-0 text-center">
        <div class="header-section2 col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10 col-sm-12 col-xs-12 text-center">
            <h1>EXPERIENCIA LABORAL</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10 col-sm-12 col-xs-12 padding-top-20 padding-bottom-20">
                    <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="experiencia in pc.profileData.person.experiences">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">{{experiencia.position | uppercase}}</span>
                        <span class="dominio col-lg-8 col-md-8 col-sm-8 col-xs-12 text-left">{{experiencia.company}} <br />{{experiencia.start_year | date: "yyyy"}} - {{experiencia.start_year | date: "yyyy"}} ({{experiencia.start - experiencia.start + 1}} años)<br />Medellin. Colombia</span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 text-center">
                        <a href="#/experiencia" class="btn btn-lg bton-green padding-right-15 padding-left-15">Agregar Experiencia</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- Expreincia -->
    <section id="section-otros" class="section section-blanco hojadevida margin-0 text-center">
        <div class="header-section2 col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10 col-sm-12 col-xs-12 text-center">
            <h1>IDIOMAS Y SOFTWARE</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10 col-sm-12 col-xs-12 padding-top-20 padding-bottom-20">
                    <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="language in pc.profileData.person.languages">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">{{language.language}}</span>
                        <span class="dominio col-lg-8 col-md-8 col-sm-8 col-xs-12 text-left">{{pc.dominio(language.level)}}</span>
                    </div>
                    <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="software in pc.profileData.person.softwares">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center padding-top-30">{{software.software}}</span>
                        <span class="dominio col-lg-8 col-md-8 col-sm-8 col-xs-12 text-left">{{pc.dominio(software.level)}}</span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 text-center">
                        <a href="#/idiomas" class="btn btn-lg bton-green padding-right-15 padding-left-15">Agregar Idioma&Software</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- Otros estudios -->
    <section id="section-aptitud" class="section section-blanco hojadevida margin-0 text-center">
        <div class="header-section2 col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10 col-sm-12 col-xs-12 text-center">
            <h1>APTITUDES Y DESTREZAS</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10 col-sm-12 col-xs-12 padding-top-20">
                    <p class="skills padding-left-20 padding-right-20 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum scelerisque dui a feugiat. Ut molestie felis nec odio malesuada, et <span>puntual</span> neque sagittis. Suspendisse vitae mi venenatis, pharetra est vitae, luctus urna. Donec pulvinar finibus lorem at imperdiet. Ut sed <span>responsable</span>eget nisi sagittis mattis quis in libero. Praesent vehicula libero ut rhoncus convallis. Donec in lectus at ligula interdum vulputate <span>proactivo</span> eget risus. Duis <span>conocimientos en Excel</span> condimentum tempus. In <span>relaciones interpersonales</span> sit amet dui vel laoreet. Phasellus a pellentesque ligula. Donec a dictum diam. Nulla volutpat egestas sapien ut ultricies.</p>
                    <div class="mas-palabras col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-10">
                        <span class="keywords">Puntual</span><span class="keywords">Responsable</span><span class="keywords">Proactivo</span><span class="keywords">Conocimientos en Excel</span><span class="keywords">Relaciones Interpersonales</span>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- Aplicaciones -->
    <section id="section-sugerencias" class="section section-gris margin-0 text-center">
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
            <h1>OFERTAS SUGERIDAS</h1>
        </div>
        <div class="odd margin-0 padding-0 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="logo col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-0">
                <img src="../assets/images/logo-empresa1.jpg" width="100%" class="img-responsive" />
            </div>
            <div class="detalle text-left col-lg-5 col-md-5 col-sm-4 col-xs-12 padding-top-10">
                <h3>ANALISTA DE NÓMINA</h3>
                <div class="padding-0">Crepes & Waffles | Medellín</div>
                <div class="padding-0">1600000 $ | Termino Fijo</div>
            </div>
            <div class="boton col-lg-3 col-md-3 col-sm-2 col-xs-12 padding-30">
                <a href="#/oferta8" class="btn btn-lg bton-green">Ver Oferta</a>
            </div>
        </div>
        <div class="nodd margin-0 padding-0 col-lg-12 col-md-12 col-sm-12 col-xs-12">
             <div class="logo col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-0">
                <img src="../assets/images/logo-empresa2.jpg" width="100%" class="img-responsive" />
            </div>
            <div class="detalle text-left col-lg-5 col-md-5 col-sm-4 col-xs-12 padding-top-10">
                <h3>AUXILIAR DE COCINA</h3>
                <div class="padding-0">Hotel Dann Carlton | Medellín</div>
                <div class="padding-0">750000 $ | Termino Fijo</div>
            </div>
            <div class="boton col-lg-3 col-md-3 col-sm-2 col-xs-12 padding-30">
                <a href="#/oferta1" class="btn btn-lg bton-green">Ver Oferta</a>
            </div>
        </div>
        <div class="odd margin-0 padding-0 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="logo col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-0">
                <img src="../assets/images/logo-ejemplo.jpg" width="100%" class="img-responsive" />
            </div>
            <div class="detalle text-left col-lg-5 col-md-5 col-sm-4 col-xs-12 padding-top-10">
                <h3>ASISTENTE DE RECURSOS HUMANOS</h3>
                <div class="padding-0">JoyStaz Jeans | Medellín</div>
                <div class="padding-0">800000 $ | Termino Fijo</div>
            </div>
            <div class="boton col-lg-3 col-md-3 col-sm-2 col-xs-12 padding-30">
                <a href="#/oferta4" class="btn btn-lg bton-green">Ver Oferta</a>
            </div>
        </div>
    </section>
</div>