<div>
    <!-- <section id="section-menu-perfil">
        <div class="container">
            <div class="row">
                <ul>
                    <li><a href="#/session" class="active">MI PERFIL</a></li>
                    <li><a href="#">APLICACIONES</a></li>
                    <li><a href="#">BUSCAR OFERTAS</a></li>
                    <li><a href="#">CONFIG</a></li>
                </ul>
            </div>
        </div>
    </section> -->
    <section id="section-info" class="section section-gris">
        <div class="header-section">
            <h1>{{vm.nombreCompleto | uppercase}} </ </h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-1 col-lg-11 col-sm-11 col-xs-12">
                    

                    <div class="col-lg-3 col-sm-3 col-xs-12 foto">

                        <div class="hovereffect padding-left-10">
                            <img src="{{userAvatar}}" class="img-responsive img-circle" width="164.578" height="164.578"
                                 style="width:164.578px;height:164.578px;">

                            <div class="overlay img-circle img-responsive" width="164.500" height="164.578"
                                 style="width:164.500px;height:164.500px;">
                                <a class="info" href="" data-toggle="modal" data-target=".bs-example-modal-sm"
                                   ng-click="vm.openModal($event);"><i class="fa fa-cogs font-size-100"></i></a>
                            </div>

                        </div>
                    </div>



                    <div class="col-lg-6 col-sm-6 col-xs-12 informacion">

                        <p>{{vm.profileData.person.title | uppercase}} <br> {{vm.profileData.person.act_department}} | {{vm.profileData.person.act_city}}<br/>DOCUMENTO DE IDENTIDAD: {{vm.profileData.person.numb_doc}}<br/></p>
                        <!-- <a class="btn btn-lg button bton-green" ng-disabled="true">Actualizar mi Hoja de Vida</a>
                        <a class="btn btn-lg button bton-green" ng-disabled="true">Ver mi Hoja de Vida</a> -->
                    </div>

                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <p class="porciento">PERFIL COMPLETO <span class="porcentaje">{{vm.percentage}}%</span></p>
                    </div>
                    <div class="row padding-bottom-20">
                        <!-- <button class="btn btn-lg button bton-green col-xs-12 col-sm-2 col-md-2 col-sm-outset-3 col-md-outset-3" ng-disabled="true">Cambiar Foto</button> -->
                        <a class="btn btn-lg button bton-green col-xs-12 col-sm-4 col-md-4" ng-disabled="true">Actualizar mi Hoja de Vida</a>
                        <a class="btn btn-lg button bton-green col-xs-12 col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1" ng-disabled="true">Ver mi Hoja de Vida</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Info Basica -->
    <section id="section-postulacion" class="section section-gris">
        <div class="header-section">
            <h1>MIS APLICACIONES</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <p>Actualmente no haz optado por alguna oferta laboral, cuéntanos</p>
                    <h4>¿Qué estas buscando?</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- Aplicaciones -->
    <section id="section-buscar-int" class="section-buscar-int">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <form class="form-inline" name="formBuscar" role="form" novalidate>
                        <div class="input-group input-group-sm col-lg-6 col-sm-6 col-xs-6">
                            <span class="input-group-addon" id="basic-addon3"><i class="fa fa-search fa-lg"></i></span>
                            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                                   placeholder="¿Qué empleo buscas?">
                        </div>
                        <div class="styled-select col-lg-3 col-sm-3 col-xs-3">
                            <select>
                                <option>Categoria</option>
                                <option>Ketchup</option>
                                <option>Relish</option>
                            </select>
                        </div>
                        <button class="btn btn-lg bton-green col-lg-3 col-sm-3 col-xs-3">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Barra Buscar-->
    <section id="section-sugerencias" class="section section-gris">
        <div class="header-section">
            <h1>OFERTAS SUGERIDAS</h1>
        </div>
        <div class="odd row">
            <div class="logo img-responsive col-xs-12 col-sm-6 col-md-6 col-lg-6 padding-left-0">
                <img src="../assets/images/logo-empresa1.jpg" style="width:284.578px; height:96px;"/>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <h3 class="ellipsis">ANALISTA DE NÓMINA</h3>

                <div>Crepes & Waffles | Medellín</div>
                <div>1600000 $ | Termino Fijo</div>
            </div>
            <div class="boton col-xs-12 col-sm-1 col-md-1 col-lg-1">
                <a href="#/oferta8" class="btn btn-lg bton-green">Ver Oferta</a>
            </div>
        </div>                
        <div class="nodd row" style="padding-top: 0px; margin-top: -5px;">
            <div class="logo img-responsive col-xs-12 col-sm-6 col-md-6 col-lg-6 padding-left-0">
                <img src="../assets/images/logo-empresa2.jpg" style="width:284.578px; height:96px;"//>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <h3 class="ellipsis">AUXILIAR DE COCINA</h3>

                <div>Hotel Dann Carlton | Medellín</div>
                <div>750000 $ | Termino Fijo</div>
            </div>
            <div class="boton col-xs-12 col-sm-1 col-md-1 col-lg-1">
                <a href="#/oferta1" class="btn btn-lg bton-green">Ver Oferta</a>
            </div>
        </div>
        <div class="odd row" style="padding-top: 0px; margin-top: -5px;">
            <div class="logo img-responsive col-xs-12 col-sm-6 col-md-6 col-lg-6 padding-left-0">
                <img src="../assets/images/logo-empresa3.jpg" style="width:284.578px; height:96px;"/>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <h3 class="ellipsis">ASISTENTE DE RECURSOS HUMANOS</h3>
                <div>JoyStaz Jeans | Medellín</div>
                <div>800000 $ | Termino Fijo</div>
            </div>
            <div class="boton col-xs-12 col-sm-1 col-md-1 col-lg-1">
                <a href="#/oferta4" class="btn btn-lg bton-green">Ver Oferta</a>
            </div>
        </div>
    </section>
    <section id="section-blog">
        <div class="container">
            <div class="row">
                <h1 class="col-xs-12">Visita <strong>Nuestro Blog</strong></h1>
                <div class="col-sm-4 col-xs-12">
                    <div class="thumbnail">
                        <div class="img-hover">
                            <a href="https://blog.soyempleo.com/tips-para-crear-una-hoja-de-vida-excelente/"><img src="../assets/images/blog_1.png" class="img-responsive" alt="Publicacion Blog SoyEmpleo">
                            <h4 class="ellipsis">Tips para crear una hoja de vida excelente</h4></a>
                        </div>
                        <div class="caption">
                            <span class="autor">por <strong>SoyEmpleo</strong></span><span class="fecha">noviembre 22, 2015</span>
                            <p><a href="https://blog.soyempleo.com/tips-para-crear-una-hoja-de-vida-excelente/" class="info">Que tal si alguien te pidiera ¿qué resumieras toda tu vida en una página? Toda tu vida! No es tarea fácil… Esa página debe ser algo extraordinario, debe reflejar lo que tú eres y resaltar lo mejor de ti. Esa página se llama</a></p>
                            <a class="info" href="https://blog.soyempleo.com/tips-para-crear-una-hoja-de-vida-excelente/">Leer más ></a>
                            <span class="comentarios"><i class="fa fa-comment-o fa-lg"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="thumbnail">
                        <div class="img-hover">
                            <a href="https://blog.soyempleo.com/bienvenido-a-soyempleo/"><img src="../assets/images/blog_2.png" class="img-responsive" alt="Publicacion Blog SoyEmpleo">
                            <h4 class="ellipsis">Bienvenido a SoyEmpleo!</h4></a>
                        </div>
                        <div class="caption">
                            <span class="autor">por <strong>SoyEmpleo</strong></span><span class="fecha">noviembre 22, 2015</span>
                            <p><a href="https://blog.soyempleo.com/bienvenido-a-soyempleo/" class="info">Este es el primer post en el blog de SoyEmpleo.com, un espacio donde dejaremos correr nuestra imaginación para acercarles a ustedes, artículos que encuentren interesantes y tips útiles para su vida laboral y personal</a></p>
                            <a class="info" href="https://blog.soyempleo.com/bienvenido-a-soyempleo/">Leer más ></a>
                            <span class="comentarios"><i class="fa fa-comment-o fa-lg"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="thumbnail">
                        <div class="img-hover">
                             <a href="https://blog.soyempleo.com/como-buscar-empleo-y-no-morir-en-el-intento/"><img src="../assets/images/blog_3.png" class="img-responsive" alt="Publicacion Blog SoyEmpleo">
                            <h4 class="ellipsis">Como buscar empleo y no morir en el intento</h4></a>
                        </div>
                        <div class="caption">
                            <span class="autor">por <strong>SoyEmpleo</strong></span><span class="fecha">octubre 23, 2015</span>
                            <p><a href="https://blog.soyempleo.com/como-buscar-empleo-y-no-morir-en-el-intento/" class="info">La forma de encontrar trabajo ha cambiado para siempre y hay que adaptarse a una realidad: la búsqueda proactiva de trabajo. Si usted es de los que solo busca una plantilla en Word, se copia de ella y rellena todo con</a></p>
                            <a class="info" href="https://blog.soyempleo.com/como-buscar-empleo-y-no-morir-en-el-intento/">Leer más ></a>
                            <span class="comentarios"><i class="fa fa-comment-o fa-lg"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /Sección Blog -->
</div>