
.efectoMouse {
    cursor: pointer
}

.efectoMouseCancel {
    cursor: not-allowed
}

.btn-agregarEstudio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 8px
}

.select-stylep {
    font-size: 14px;
    line-height: inherit;
    color: #555;
    border: 0;
    border-bottom: 1px solid #ccc;
    appearance: none;
    background: url(../images/row.png) 95% 50% no-repeat #fff !important
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center
}

.etiqueta {
    color: #fff;
    border-radius: 8%;
    padding: 4px 15px;
    text-align: center
}

.complete-section {
    position: absolute;
    border-radius: 50%;
    background-color: #0f9634;
    color: #FFF;
    right: 10vw;
    width: 130px;
    height: 127px;
    font-size: 20px;
    margin-top: 15px;
    z-index: 99;
}

.textarea-large {
    width: 70vw;
}

.button-noStyle {
    border: transparent;
    background: transparent;
}

.inputw {
    height: 40px;
    border: none;
    margin: 4px;
    color: #bababa;
    padding: 4px 3px 4px 8px;
    border-radius: 4px;
}

.vertical {
    display: inline-block;
    width: 100%;
    height: 60px;
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.vertical {
    /*box-shadow: inset 0px 4px 6px #ccc;*/
}
.vertical .value{
   -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
  vertical-align: middle;
  padding: 10px 0px;
  font-weight:bold;
}
.progress-bar {
    box-shadow: inset 0px 4px 6px rgba(100,100,100,0.6);
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .margin-left-28 {
        margin-left: 28px !important;
    }
    .select-ext {
        width: 46.3% !important;
        margin-left: 65px;
    }
}

@media (max-width: 480px){
    .select-ext {
        width: 93.3% !important;
        margin-left: 4% !important;
    }
}
