//Estilo Form SoyEmpleo
.bton, .bton-green, .bton-orange{
	@include boton;
}
.bton-orange{
	background-color: rgba(230,127,34,1);
	-webkit-box-shadow: 0px 3px 0px rgba(210,84,0,1), 0px 9px 10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 3px 0px rgba(210,84,0,1), 0px 9px 10px rgba(0,0,0,0.7);
    box-shadow: 0px 3px 0px rgba(210,84,0,1), 0px 9px 10px rgba(0,0,0,0.7);
	&:hover {
		color: $texto_menu;
	    background-color: rgba(243,156,17,1);
	    -webkit-box-shadow: 0px 4px 0px rgba(230,127,34,1), 0px 9px 10px rgba(0,0,0,0.7);
	    -moz-box-shadow: 0px 4px 0px rgba(230,127,34,1), 0px 9px 10px rgba(0,0,0,0.7);
	    box-shadow: 0px 4px 0px rgba(230,127,34,1), 0px 9px 10px rgba(0,0,0,0.7);
	}
}
.bton-green{
	background-color: rgba(0,179,79,1);
	-webkit-box-shadow: 0px 3px 0px rgba(17,126,71,1), 0px 9px 10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 3px 0px rgba(17,126,71,1), 0px 9px 10px rgba(0,0,0,0.7);
    box-shadow: 0px 3px 0px rgba(17,126,71,1), 0px 9px 10px rgba(0,0,0,0.7);
	&:hover {
		color: $texto_menu;
	    background-color: rgba(0,203,90,1);
	    -webkit-box-shadow: 0px 4px 0px rgba(21,148,84,1), 0px 9px 10px rgba(0,0,0,0.7);
	    -moz-box-shadow: 0px 4px 0px rgba(21,148,84,1), 0px 9px 10px rgba(0,0,0,0.7);
	    box-shadow: 0px 4px 0px rgba(21,148,84,1), 0px 9px 10px rgba(0,0,0,0.7);
	}
}
.bton-gray{
	background-color: rgba(68,68,68,1);
	-webkit-box-shadow: 0px 3px 0px rgba(51,51,51,1), 0px 9px 10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 3px 0px rgba(51,51,51,1), 0px 9px 10px rgba(0,0,0,0.7);
    box-shadow: 0px 3px 0px rgba(51,51,51,1), 0px 9px 10px rgba(0,0,0,0.7);
	&:hover {
		color: #eaeaea;
	    background-color: rgba(68,68,68,1);
	    -webkit-box-shadow: 0px 4px 0px rgba(51,51,51,1), 0px 9px 10px rgba(0,0,0,0.7);
	    -moz-box-shadow: 0px 4px 0px rgba(51,51,51,1), 0px 9px 10px rgba(0,0,0,0.7);
	    box-shadow: 0px 4px 0px rgba(51,51,51,1), 0px 9px 10px rgba(0,0,0,0.7);
	}
}
.formas{
	input{
		height:42px;
	}
	input, textarea{
		font-size:135%;
		border:none;
		background-color:#e6e6e6;
		border-radius:4px;
		padding:4px 3px 4px 8px;
		color:$txtgrisclaro;
		margin:4px;
		width:100%;
	}
	textarea{
		height: 150px;
	}
}
form{
	font-family:$font;
}
.form-estudios{
	input,textarea{
		background:#ffffff;
	}
}
.form-referidos{
	.input{
		width:32% !important;
		float:left;
	}
}
.btn-agregarEstudio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 8px;
}
.form-registro{
	font-size:120%;
	width:100%;
	.label, .label-white{
		font:{
			weight:600;
			size:110%;
		}
	}
	.label{
		color:$txtgrismedio;
	}
	.label-white{
		color:$texto_menu;
	}
	input, .input{
		height:40px;
		font-size:110%;
		border:none;
		color:$txtgrismedio;
		padding:4px 3px 4px 8px;
		border-radius:4px;
	}
	input, .input, .inputx2, .inputx2SP{
		width: 100% !important;
	}
	.error{
		border: 2px solid #d83c3e;
	    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
	    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
	    &:focus{
	    	border: 2px solid #d83c3e;
		    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
		    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
	    }
	}
	.warning{
		border: 1px solid #ffbb00
	}
	.success{
		border: 2px solid #49c310;
	    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #0bc302;
	    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #0bc302;
	}
	textarea, .textarea, .textarea-large{
		font-size:100%;
		color:$txtgrismedio;
		padding:4px 3px 4px 8px;
		border:none;
		border-radius:4px;
		width: 100%;
		height: 150px;
	}
	.radio{
		position:relative;
		color:$txtgrismedio;
		span{
			color:$txtgrisclaro;
			font:{
				size:1.1em;
			}
		}
		label, .label-white{
			font:{
				family:$font;
				size:1.1em;
			}
		}
		label{
			color:$txtgrisclaro;
		}
		.label-white{
			color:$texto_menu;
		}
	}
	input[type="checkbox"], input[type="radio"]{ display: none; }
	input[type="checkbox"] + label span,
	input[type="radio"] + label span{
	 	display: inline-block;
		width: 28px;
	 	height: 28px;
	 	background: url(../images/radiobutton.png) left top no-repeat;
	 	margin: -1px 4px 0 0;
		vertical-align: middle;
		cursor:pointer;
	}
	input[type="checkbox"]:checked + label span,
	input[type="radio"]:checked + label span{
	 	background: url(../images/radiobutton.png) -28px top no-repeat;
	}
	input[type="checkbox"]:disabled + label span,
	input[type="radio"]:disabled + label span{
	 	background: url(../images/radiobutton.png) -56px top no-repeat;
	}
	.terminos{
		label{
			font:{
				weight:300;
				size:90%;
				color:#c8c8c8;
			}
		}
	}
	p{
		width:100%;
		clear:both;
		font-size:99% !important;
	}
	.span{
		width:97%;
		color:$texto_menu;
		text-align: right;
		display: inline-block;
	}
}
.efecto-mouse, .efectoMouse{
    cursor: pointer;
}
.efectoMouseCancel {
    cursor: not-allowed;
}
.select, .select2{
	color:$txtgrismedio;
	display: inline-table;
	line-height: 1;
	width:100%;
    height:30px;
	vertical-align: middle;
    overflow: hidden;
    border-radius:4px;
    background: url("../images/row.png") no-repeat 95% 50% #ffffff;
    select{
		font-size:100%;
	    background: transparent;
	    border:none;
		height:40px;
	    width: 100%;
	    padding: 0 4px;
	    line-height: 1;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	}
}
.select-style {
    font-size: 100%;
    line-height: inherit;
    color: $txtgrismedio;
    border: 0;
    border-bottom: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff url("../images/row.png") no-repeat 95% 50% !important;
}
.styled-select{
	border-collapse:separate;
	position:relative;
    border-radius: 4px;
    display: inline-table;
    font-size: $font-base;
    height: 30px;
    line-height: 1;
    width: 100%;
	vertical-align: middle;
    overflow: hidden;
    background: url("../images/row.png") no-repeat 98% 50% #ffffff;
    border: 1px solid #eee;
    color: #9f9999;
	select {
	    background: transparent;
	    width: 100%;
		padding: 5px;
	    font-size: $font-base;
	    line-height: 1;
	    border: 0;
	    height: 44px;
	    -webkit-appearance: none;
	    -moz-appearance: none;
    }
}