@media (min-width: 200px) and (max-width: 478px){
	.navbar-header{
		width: 100%;
		.navbar-brand{
		    padding: 0em;
		    width: auto;
		}
	}
	.navbar-default{
		.navbar-toggle {
			border: none;
			float: left;
		}
	}
	.navbar-nav {
		display:none;
	}
	.navbar-brand{
		padding: 0px;
	}
	.container{
    	width: 100%;
    }
    .section{
    	h4{
    		font-size: 1.5em;
    	}
    }
    .header-section, .header-section2{
    	h1{
    		font-size: 1.5em;
    	}
    }
    #section-bienvenida{
    	h2{
    		font-size: 1.5em;
    	}
    }
    #section-somos{
    	background:$azul_rey !important;
    	text-shadow:none;
    	color:$texto_menu;
    	h1, h2, h3{
    		font-size: 120%;
    	}
	}
	.embed-responsive-4by3 {
	    margin: 1em 1em;
	}
	.ad{
    	background: transparent !important;
    	padding: 0 !important;
    }
	.newsletter{
		p {
	    	width: 100%;
		}
		form{
			button{
				width:100%
			}
		}
	}
	.derechos{
		ul{
			li{
				padding: 0.5em 1em;
			}
		}
	}
	#section-dt-oferta{
		font-size: 100%;
	}
	.seguir{
		table{
			font:{
				size:110%;
			}
		}
	}
	#section-listar {
		.resultado{
			.list-item{
				.oferta{
					font-size: 110%;
					.hd-oferta{
						font-size: 110%;
					}
					.ub-oferta{
						font-size: 110%;
					}
				}
			}
		}
	}
	#section-info{
		.foto{
			top:0px;
		}
	}
}
@media (min-width: 479px) and (max-width: 588px){
    .navbar-header{
    	width: 100%;
    	.navbar-brand{
    		width: auto;
    	}
    }
    .navbar-default{
		.navbar-toggle {
			border: none;
			float: left;
		}
	}
	.navbar-nav {
		display:none;
	}
    .container{
    	width: 100%;
    }
    .section{
    	h4{
    		font-size: 1.7em;
    	}
    }
    .embed-responsive-4by3 {
	    margin: 1em 1em;
	}
    .header-section, .header-section2{
    	h1{
    		font-size: 1.4em;
    	}
    }
    #section-bienvenida{
    	h2{
    		font-size: 1.4em;
    	}
    }
    #section-dt-oferta{
		font-size: 100%;
	}
    #section-ofertas{
    	.panel{
    		.panel-heading{
    			img{
    				width:100%;
    			}
    		}
    	}
    }
    .newsletter{
		form{
			button{
				width:100%
			}
		}
    }
    .derechos{
		ul{
			li{
				padding: 0.5em 2em;
			}
		}
	}
	.seguir{
		table{
			font:{
				size:110%;
			}
		}
	}
	#section-listar {
		.resultado{
			.list-item{
				.oferta{
					font-size: 110%;
					.hd-oferta{
						font-size: 110%;
					}
					.ub-oferta{
						font-size: 110%;
					}
				}
			}
		}
	}
	#section-info{
		.foto{
			top:0px;
		}
	}
}
//Resolucion Tablet 7'
@media (min-width: 589px) and (max-width: 767px){
	.navbar-header{
		width: 100%;
    	.navbar-brand{
    		padding:0em 2em 0 3em;
    		width: auto;
    	}
    }
    .navbar-default{
		.navbar-toggle {
			border: none;
			float: left;
		}
	}
    .navbar-nav {
		display:none;
	}
	.container{
    	width: 100%;
    }
    #section-dt-oferta{
		font-size: 100%;
	}
    #section-ofertas{
    	.panel{
    		.panel-heading{
    			img{
    				width:100%;
    			}
    		}
    	}
    }
    .newsletter{
		form{
			button{
				width:100%
			}
		}
    }
    .seguir{
		table{
			font:{
				size:110%;
			}
		}
	}
	#section-listar {
		.resultado{
			.list-item{
				.oferta{
					font-size: 110%;
					.hd-oferta{
						font-size: 110%;
					}
					.ub-oferta{
						font-size: 110%;
					}
				}
			}
		}
	}
	#section-info{
		.foto{
			top:0px;
		}
	}
}
@media (min-width: 768px) and (max-width: 1024px){
	.navbar-header{
		width: 33%;
		.navbar-brand{
		    padding: 0 2em 0 1.3em
		}
	}
	.seguir{
		table{
			font:{
				size:110%;
			}
		}
	}
	#section-listar {
		.resultado{
			.list-item{
				.oferta{
					font-size: 110%;
					.hd-oferta{
						font-size: 110%;
					}
					.ub-oferta{
						font-size: 110%;
					}
				}
			}
		}
	}
}
@media (min-width: 1024px) and (max-width: 1439px){
	.navbar-header{
		width: 23%;
	}
}
@media only screen and (min-width: 1440px) {
    body{
    	font-size:140%;
    }
    .navbar-header {
	    height: 60px;
	}
	.menu {
	    min-height: 60px;
	}
    .side-persona{
		background:url(../images/banner_left_top_blur.jpg) no-repeat top center;
		&:hover{
			background:url(../images/banner_left_top.jpg)no-repeat top center;
		}
	}
	.side-empresa{
		background:url(../images/banner_right_top_blur.jpg) no-repeat top center;
		&:hover{
			background:url(../images/banner_right_top.jpg)no-repeat top center;
		}
	}
    #section-clientes{
	    .thumbnail{
	    	height:200px;
	    }
	}
}