#section-menu-perfil{
	background-color:$back_blanco;
	ul{
		list-style: none;
		display: block;
		li{
			float:left;
			display: inline-block;
		    position: relative;
			font:{
				size:1.3em;
				weight:400;
			}
			a{
				color:$azul_oscuro;
				display: block;
				&:hover{
					color:$azul_rey;
				}
			}
			&:last-child{
		    	&::before{
			   		display: none;
				}
			}
		}
		.active{
			color:$azul_rey;
			text-decoration: underline;
		}
		li::before {
		    border-right: 1px solid $azul_oscuro;
		    content: "";
		    height: 1.2em;
		    position: absolute;
		    right: 0;
		}
	}
}
#section-info{
	padding-bottom:1px;
	p{
		font:{
			size:1.5em;
			weight:400;
		}
		color:#000;
	}
	.foto{
		top:-25px;
		z-index: 9999;
		position:relative;
		img{
			border:2px solid $azul_rey;
		}
	}
	.porciento{
		color:$txtgrismasclaro;
		font:{
			size:130%;
			weight:400;
		}
		line-height: 1;
		.porcentaje{
			font:{
				size:500%;
				weight:900;
			}
		}
	}
}
#section-sugerencias{
	.odd{
		background-color: $back_section;
	}
	.nodd{
		background-color: $back_blanco;
	}
	.odd, .nodd{
		display:inline-block;
		border-bottom:1px solid $back_blanco;
		.detalle{
			h3{
				font-size: 150%;
			}
			div{
				font:{
					size:1.3em;
					weight:400;
				}
			}
		}
	}
}
.hojadevida{
	@include keys();
	.skills{
		span{
			color:$azul_rey;
			font-weight: 400;
		}
	}
	@include item(130%, 35px, 15px);
}
.editarhv, .config, .seguir{
	@include item(125%, 25px, 15px);
	.add{
		font-size: 140%;
		color: #000;
	}
	table{
		font:{
			size:145%;
		}
		color:#000;
		thead{
			tr{
				th{
					font-weight: 600;
					padding: 30px 5px;
				}
			}
		}
		tbody{
			tr{
				td{
					position: relative;
					padding:15px 7px;
					.titulo{
						font:{
							weight: 400;
							size: 130%;
						}
					}
					.detalle{
						color:$txtgrisclaro;
					}
					img{
						vertical-align: middle;
					}
					&:last-child{
				    	&::before{
					   		display: none;
						}
					}
				}
				td::before {
				    border-right:2px solid #ddd;
				    content: "";
				    height: 3em;
				    position: absolute;
				    right: 0;
				    top: 25px;
				}
			}
		}
	}
}
#section-listar{
	.filtro{
		background-color: $back_section;
		font:{
			size:145%;
			weight:600;
		}
		color: $txtgrisclaro;
		.titulo{
			padding:3% 4%;
			text-transform: uppercase;
		}
		.header{
			background-color: $azul_rey;
			color: $texto_menu;
			text-transform: uppercase;
			padding:2% 4%;
			margin:1% 0;
		}
		.body{
			padding:2% 4%;
			height:auto;
			overflow: auto;
			.list{
				display: inline-block;
				font-weight:400;
				font-size:90%;
			}
			label{
				font-weight: 400;
			}
			#custom-search-input{
			    border: solid 1px #E4E4E4;
			    border-radius: 6px;
			    background-color: #fff;
			    input{
				    border: 0;
				    box-shadow: none;
				}
				button{
				    margin: 2px 0 0 0;
				    background: none;
				    box-shadow: none;
				    border: 0;
				    color: #666666;
				    padding: 0 8px 0 10px;
				    border-left: solid 1px #ccc;
				    &:hover{
					    border: 0;
					    box-shadow: none;
					    border-left: solid 1px #ccc;
					}
				}
				.glyphicon-search{
				    font-size: 145%;
				    color:$azul_rey;
				}
			}
		}
	}
	.resultado{
		.list-item{
			display:inline-block;
			.oferta{
				border:2px solid $azul_rey;
				display:inline-block;
				color: $txtgrisclaro;
				font-size: 130%;
				.hd-oferta{
					color: #000;
					text-transform: uppercase;
					font:{
						weight:600;
					}
					font-size: 130%;
				}
				.em-oferta{color: #000;}
			}
		}
		.pagination{
			.anterior, .siguiente{
				>a{
					background-color:$azul_rey !important;
					color:$texto_menu !important;
					font:{
						weight:600;
					}
				}
			}
		}
		.pagination>li>a, .pagination>li>span {font-size:145%; margin: 0 5px;}
	}
}
#section-hd-oferta{
	p{
		font-size:130%;
	}
	img{
		border:1px solid $azul_rey;
	}
}
#section-dt-oferta{
	color:#000;
	font-size:120%;
	.titulo{
		font:{
			size:145%;
			weight: 600;
		}
		text-transform: uppercase;
	}
	.detalle{
		font-size:135%;
	}
	.descripcion{
		border-bottom: 1px solid $txtgrismasclaro;
		display: inline-block;
		p{
			font-size: 110%;
		}
	}
	strong{
		font-size:127%;
	}
	.compartir{
		background-color: $azul_rey;
		color: $texto_menu;
		font:{
			size: 130%;
			weight:600;
		}
		>ul{
			list-style: none;
			display: inline-block;
			>li{
				float: left;
				a{
					color: $texto_menu;
				}
			}
		}
	}
	hr{
		border:2px solid $txtgrisclaro;
	}
	h4{
		color:$azul_rey;
		font:{
			size: 120%;
			weight: 600;
		}
	}
	.sugeridas{
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border:1px solid $azul_rey;
		p{
			color:$txtgrisclaro;
			font:{
				size: 100%;
				weight: 400;
			}
		}
	}
}
#section-modal-referidos{
	border-radius:20px;
	border: 5px solid $azul_rey;
	.msg{
		color: $txtgrisclaro;
		font-weight: 400;
	}
	.msgfinal{
		font-weight: 400;
	}
}