//style.scss
strong{
	font-weight: 600;
}
body{
	background-color:$back_section;
	font-family: $font;
}
h1,h2,h3,h4,h5,h6{
	font-family: $font;
}
.clear{
	clear:both;
}
.navbar{
	margin-bottom:0px;
}
.navbar-right {
    margin-right: 0px;
}
.popover{
	color:#000;
}
.modal {
  display: flex !important;
  top: -90% !important;
  margin: 0 auto !important;
  position: relative !important;
}
//Estilo Temporal para las Barras de Busqueda
#section-buscar, #section-buscar-int{
	display: none;
}
//Estilo Banner Ppal
.side-persona{
	background:url(../images/banner_left_top_blur1.jpg) no-repeat top center;
	&:hover{
		background:url(../images/banner_left_top1.jpg)no-repeat top center;
	}
}
.side-empresa{
	background:url(../images/banner_right_top_blur1.jpg) no-repeat top center;
	&:hover{
		background:url(../images/banner_right_top1.jpg)no-repeat top center;
	}
}
.side-persona, .side-empresa{
	color:$texto_menu;
	img{
		padding:.5em 31%;
		width: 100%;
		max-width: 100%;
	}
	.banner_bttom{
		background-color:rgba(7,39,115,.6)!important;
		a{
			color: $texto_menu;
			&:hover{
				text-decoration: underline;
			}
		}
		>.button{
			font-size:140%;
		}
		p{
			font:{
				size:130%;
			}
		}
	}
}
//Estilo Barra Buscar
#section-buscar{
	background-color:$azul_oscuro;
	button{
		font-size:120%;
		border-radius: 4px;
	}
	.input-group-addon{
		background-color: $back_blanco;
		color:$txtgrisoscuro;
	}
	.form-inline{
		line-height: 1;
		.styled-select{
		    border-radius: 6px;
		}
	}
}
#section-buscar-int{
	background-color:$azul_oscuro;
	clear:both;
	button{
		font-size:110%;
		border-radius:2px;
	}
	input{
		border:none;
	    font-size: $font-base;
	    height: 34px;
	}
	.input-group-addon{
		background-color: $back_blanco;
		color:$txtgrisoscuro;
	}
	.form-inline{
		.styled-select{
		    border-radius: 2px;
		    font-size: ceil($font-base * 0.85);
		    height: 28px;
			select {
			    font-size: $font-base;
			    height: 32px;
		    }
		}
	}
}
//Estilo Somos
#section-somos{
	background:#3350AC url(../images/bkg_section2.jpg) no-repeat top center !important;
	background-size:cover;
	color:$texto_menu;
	width:100%;
	display: inline-block;
	font-family:$font;
	h1{
		font:{
			size:220%;
		}
		text-shadow: 2px 2px 5px #333333;
	}
	h2{
		font:{
			size:190%;
			weight:300;
		}
	}
	h3{
		font:{
			size:130%;
			weight:300;
		}
	}
	img{
		vertical-align: middle;
		display: inline-block;
	}
	.arrow{
		display: flex;
	    z-index: -9999;
	}
}
.embed-responsive-4by3 {
	padding:15% 20% 30%;
    box-shadow:2px 2px 3px #16210b;
    border-radius: 5px;
}
//Estilo Registro Empresa
#section-registroempresa{
	width:100%;
	display: inline-block;
	h1{
		font:{
			size:2em;
		}
		text-shadow: 2px 2px 5px #333333;
	}
	h2{
		font:{
			size:2em;
			weight:300;
		}
	}
	h3{
		font:{
			size:1.4em;
		}
	}
	img{
		display: inline-block;
	}
}
//Estilo Ofertas
#section-ofertas{
	background-color:$back_section;
	h1{
		font:{
			size:1.4em;
		}
		color:#333333;
	}
	.panel{
		.panel-body{
			h4{
				color:$azul_rey;
				font-size:1.1em;
				-webkit-transition: all 1s;
				   -moz-transition: all 1s;
				        transition: all 1s;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
				&:hover{
					white-space: initial;
					overflow:visible;
					cursor: pointer;
				}
			}
			p{
				font-size: 1.1em;
			}
		}
		.panel-footer {
		    background-color: $back_blanco;
		    border-top: none;
		}
	}
}
//Estilo Clientes
#section-clientes{
	background-color: $back_blanco !important;
	display:inline-block;
	h1{
		font:{
			size: 1.4em;
		}
	}
	.carousel-control {
	    height: 40px;
		width: 40px;
	    margin-top: 50px;
	    opacity: 1;
	}
	.carousel-control.right {
		right: -12px;
		background-image: none;
    	background-repeat: no-repeat;
	}
	.carousel-indicators {
		right: 50%;
		top: auto;
		bottom: -10px;
		margin-right: -19px;
	}
	.carousel-indicators li {
		background-color: $back_blanco;
	}
	.carousel-indicators .active {
		background-color: $back_blanco;
	}
	.carousel-control.left {
		background-image: none;
    	background-repeat: no-repeat;
	}
	.view{
		display: block;
		overflow: hidden;
		position:relative;
	}
}
.mask{
	background-color: rgba(73,91,193,.7)!important;
    color: $texto_menu !important;
    opacity:0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    &:hover{
    	opacity:1;
    	transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
    }
    img{
    	margin-right:auto;
    	margin-left: auto;
    	margin-top: 7%;
    }
	a.info{
    	padding:7px;
    	color:$texto_menu;
    	border-radius:6px;
    	font-weight: 600;
    	text-decoration: none;
    	border:2px solid rgba(255,255,255,1);
    	-webkit-box-shadow: 0px 0px 0px rgba(48,80,172,1), 0px 9px 20px rgba(48,80,172,0.8);
	    -moz-box-shadow: 0px 0px 0px rgba(48,80,172,1), 0px 9px 20px rgba(48,80,172,0.8);
	    box-shadow: 0px 0px 0px rgba(48,80,172,1), 0px 9px 20px rgba(48,80,172,0.8);
    }
}
//Estilo Blog
#section-blog{
	clear:both;
	h1{
		font:{
			size:1.4em;
		}
	}
	.thumbnail{
		border:none;
		background:transparent !important;
		h4{
			position:relative;
			color: $texto_menu;
			font:{
				size:110%;
			}
			top:-40px;
			z-index: 5;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-transition: all 1s;
			   -moz-transition: all 1s;
			        transition: all 1s;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			&:hover{
				white-space: initial;
				overflow:visible;
				cursor: pointer;
			}
		}
		.img-hover {
		    width:100%;
		    height:auto;
		    overflow: hidden;
		    img {
			    -webkit-transition: all 1s ease; /* Safari and Chrome */
			    -moz-transition: all 1s ease; /* Firefox */
			    -o-transition: all 1s ease; /* IE 9 */
			    -ms-transition: all 1s ease; /* Opera */
			    transition: all 1s ease;
			    width: 100%;
			}
			&:hover img {
			    -webkit-transform:scale(1.25); /* Safari and Chrome */
			    -moz-transform:scale(1.25); /* Firefox */
			    -ms-transform:scale(1.25); /* IE 9 */
			    -o-transform:scale(1.25); /* Opera */
			     transform:scale(1.25);
			}
		}
		.caption{
			position:relative;
			background:#1E2830;
			color: $texto_menu;
			font-size: 90%;
			top:-40px;
			z-index:999;
			>span{
				width: 50%;
				float: left;
			}
			.info{
				color: $texto_menu;
				&:hover{
					text-decoration: underline;
				}
			}
			&:hover{
				cursor: pointer;
				background:$azul_rey;
			}
		}
	}
}
//Estilo Contacto
.header-contacto{
	background:$azul_rey url(../images/hdr_contacto.jpg) no-repeat top center !important;
	background-size:cover;
	.encabeza{
		color: $texto_menu;
		h2{
			font-size:190%;
			text-shadow:2px 2px 3px #16210b;
		}
		p{
		    font-size: 140%;
		}
	}
}
.ad{
	background-color:$azul_rey;
	display:inline-table;
	font-size: 130%;
}
//Sections
.registro{
	p{
		font:{
			weight:300;
			size:1.2em;
		}
	}
}
.section{
	font-family:$font;
	p{
		font:{
			weight:300;
			size:1.3em;
		}
	}
	h4{
		font:{
			weight:300;
			size:1.8em;
		}
	}
}
.section-blanco{
	background-color: $back_blanco;
	color:$txtgrismedio;
}
.section-gris{
	background-color:$back_section;
	color:$txtgrismedio;
}
.header-section2, .header-section{
	padding:1px 0 3px 0;
	h1{
		font:{
			size:2.1em;
			weight:600;
		}
	}
}
.header-section{
	background:$azul_rey!important;
	h1{
		color:$texto_menu;
	}
}
.header-section2{
	background:$back_blanco !important;
	h1{
		color:$azul_rey;
	}
}
#section-bienvenida{
	background-color: $back_blanco;
	display: flex;
	h2{
		color:$azul_rey;
		font:{
			size:1.7em;
			family: $font;
			weight:normal;
		}
	}
}
#section-asistente{
	background:rgba(73, 91, 193, .9)!important;
	h2{
		font:{
			size:2em;
			weight:400;
		}
		color:$texto_menu;
	}
}
#section-datos{
	background-color:$back_section;
	h3{
		color:#8d8d8d;
		font-weight: 300;
	}
}
#section-skills{
	.mas-palabras{
		.keywords{
			float:left;
			background-color:#cdcdcd;
			color:$texto_menu;
			border-radius:20px;
			padding:7px 17px;
			margin:4px 3px;
		}
		.activo{
			background-color:$azul_rey;
		}
	}
}
#section-laboral{
	background-color:$azul_rey;
	color:$texto_menu;
	form{
		input[type="checkbox"] + label span,
		input[type="radio"] + label span{
		 	display: inline-block;
			width: 28px;
		 	height: 28px;
		 	background: url(../images/radiobutton-blanco.png) left top no-repeat;
		 	margin: -1px 4px 0 0;
			vertical-align: middle;
			cursor:pointer;
		}
		input[type="checkbox"]:checked + label span,
		input[type="radio"]:checked + label span{
		 	background: url(../images/radiobutton-blanco.png) -28px top no-repeat;
		}
		input[type="checkbox"]:disabled + label span,
		input[type="radio"]:disabled + label span{
		 	background: url(../images/radiobutton-blanco.png) -56px top no-repeat;
		}
	}
}
//Estilo del Footer
.footer{
    font:{
    	family: $font;
    }
    position: relative;
	bottom: 0;
	width:100%;
    .newsletter{
		color:$texto_menu;
		background-color:$azul_oscuro;
		h3{
			font:{
				size:130%;
				weight: 600;
			}
		}
	}
	.derechos{
		color:$texto_menu;
		background-color: $azul_rey;
		font-size: 13px;
		a{
			color: $texto_menu;
			font:{
				weight:600;
			}
		}
		ul{
			list-style: none;
			li{
				float:left;
				padding: 0.5em;
			}
		}
	}
	.menu-bottom{
		color:$txtgrisclaro;
		background-color: $back_blanco;
		border-top:1px solid $back_section;
		border-bottom:1px solid $back_section;
		>strong{
			font-weight: 600;
		}
		ul{
			list-style: none;
			li{
				a{
					color:$txtgrisclaro;
				}
			}
		}
	}
}