//Variables Globales
$font: "Open Sans",sans-serif;
$font-base: 14px;

$azul_rey: #495bc1;
$back_section: #eaeaea;
$back_blanco: #ffffff;
$azul_oscuro: #1E2830;

$txtgrisoscuro: #555555;
$texto_menu: #ffffff;
$txtgrisclaro: #878787;
$txtgrismedio: #666666;
$txtgrismasclaro: #bababa;