<div class="container-fluid padding-top-30">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 form-group">
		<div class="inner-addon left-addon">
         	<i class="glyphicon glyphicon-search"></i>
         	<input type="text" class="form-control" placeholder="Buscar por cargo o área profesional" ng-model="nbc.filtroTmp" />
        </div>	
	</div>
	<div class="col-xs-12 padding-top-30 border-bottom-1px border-color-c5c5c5 padding-bottom-10">
		<div class="col-xs-12 col-sm-8 hidden-xs">
			<span class="text-blue-soy font-open-sans font-bold font-size-25">
				{{nbc.itemsOffers.length}}
			</span>
			<span class="font-color-707070 font-open-sans font-size-25">
				Resultados para tú búsqueda
			</span>
		</div>
		<div class="col-xs-12 col-sm-8 visible-xs padding-0">
			<span class="text-blue-soy font-open-sans font-bold font-size-13">
				{{nbc.itemsOffers.length}}
			</span>
			<span class="font-color-707070 font-open-sans font-size-13">
				Resultados para tú búsqueda
			</span>
		</div>
		<div class="col-xs-12 col-sm-4 padding-0">
			<div class="col-xs-6 col-sm-6 padding-0">
				<span class="font-color-c5c5c5 font-open-sans font-size-25 hidden-xs">
					Ordenar por:
				</span>
				<span class="font-color-c5c5c5 font-open-sans font-size-12 visible-xs">
					Ordenar por:
				</span>
			</div>
			<div class="col-xs-6 col-sm-6 padding-0 hidden-xs">
				<div class="select">
					<select 
						name="filtro" 
						class="select-3 select-style fondo-eaeaea" 
						ng-model="nbc.orden"
						ng-change="nbc.orderBy();">
		                <option value="" selected>Elegir filtro</option>
		                <option value="relevance">Relevancia</option>
		                <option value="max_salary">Mayor Salario</option>
		                <option value="min_salary">Menor Salario</option>
		                <option value="date_actual">Más Reciente</option>
		                <option value="date_reverse">Más Antiguo</option>
		            </select>
				</div>	
			</div>
			<div class="col-xs-6 col-sm-6 visible-xs padding-0">
				<div class="nav-side-menu">
					
				  	<span class="visible-xs-inline mouse-pointer font-color-c5c5c5" data-toggle="collapse" data-target="#menu-content1"> <i class="fa fa-chevron-down toggle-btn text-blue-soy visible-xs-inline" data-toggle="collapse" data-target="#menu-content"></i>Filtros</span>
				  		
				        <div class="menu-list">
				  
				            <ul id="menu-content1" class="menu-content collapse out">

				                <li data-toggle="collapse" 
				                	class="collapsed">
				                	<a href="" 
				                		ng-click="nbc.orden='relevance'; nbc.orderBy();" 
				                		class="text-blue-soy" style="font-size: 12px; outline:none;">
				                		&nbsp;Relevancia
				                	</a>
				                </li>


				                <li data-toggle="collapse" 
				                	class="collapsed">
				                	<a href="" 
				                		ng-click="nbc.orden='max_salary'; nbc.orderBy();" 
				                		class="text-blue-soy" 
				                		style="font-size: 12px; outline:none;">
				                		&nbsp;Mayor Salario
				                	</a>
				                </li>


				                <li data-toggle="collapse" 
				                	class="collapsed">
				                	<a href="" 
				                		ng-click="nbc.orden='min_salary'; nbc.orderBy();" 
				                		class="text-blue-soy" 
				                		style="font-size: 12px; outline:none;">
				                		&nbsp;Menor Salario
				                	</a>
				                </li>
				                
			                	<li data-toggle="collapse" 
			                		class="collapsed">
				                	<a href="" 
				                		ng-click="nbc.orden='date_actual'; nbc.orderBy();" 
				                		class="text-blue-soy" style="font-size: 12px; outline:none;">
				                		&nbsp;Más Reciente
				                	</a>
				                </li>

				                <li data-toggle="collapse" 
				                	class="collapsed">
				                	<a href="" 
				                		ng-click="nbc.orden='date_reverse'; nbc.orderBy();" 
				                		class="text-blue-soy" style="font-size: 12px; outline:none;">
				                		&nbsp;Más Antiguo
				                	</a>
				                </li> 

				            </ul>
				     </div>
				</div>
			</div>
		</div>
	</div>
	<!--  -->
	<div class="nav-side-menu padding-top-30 col-sm-4">
	    <i class="fa fa-bars fa-2x toggle-btn text-blue-soy visible-xs-inline" data-toggle="collapse" data-target="#menu-content"></i>
	  	<span class="visible-xs-inline mouse-pointer font-color-c5c5c5" data-toggle="collapse" data-target="#menu-content">Filtros de busqueda</span>
	  		
	        <div class="menu-list">
	  
	            <ul id="menu-content" class="menu-content collapse out">

	                <li  data-toggle="collapse" data-target="#ubicacionFiltro" class="collapsed actives">
	                  <a href="" class="text-blue-soy">&nbsp;Ubicación <span class="arrow font-green-soy"></span></a>
	                </li>
	                <ul class="sub-menu collapse" id="ubicacionFiltro" >
	                	<li ng-repeat="ubi in nbc.ciudadesFiltro | orderObjectBy:'city'" class="{{ubi.style}}" ng-click="nbc.clickCiudades(ubi.city)">{{ubi.city | capitalize:true}} ({{ubi.cantidad}})</li>
	                </ul>


	                <li data-toggle="collapse" data-target="#fechaFiltro" class="collapsed">
	                	<a href="" class="text-blue-soy">&nbsp;Fecha de publicación <span class="arrow font-green-soy"></span></a>
	                </li>  
	                <ul class="sub-menu collapse" id="fechaFiltro">
	                	<li ng-click="nbc.clickFecha('0',true)" ng-class="nbc.fechas[0] ? 'fondo-activo':'fondo-default'">Cualquier fecha</li>
	                	<li ng-click="nbc.clickFecha('1',true)" ng-class="nbc.fechas[1] ? 'fondo-activo':'fondo-default'">Última semana</li>
	                	<li ng-click="nbc.clickFecha('2',true)" ng-class="nbc.fechas[2] ? 'fondo-activo':'fondo-default'">Último mes</li>
	                </ul>


	                <li data-toggle="collapse" data-target="#sectorfiltro" class="collapsed">
	                	<a href="" class="text-blue-soy">&nbsp;Sector <span class="arrow font-green-soy"></span></a>
	                </li>
	                <ul class="sub-menu collapse" id="sectorfiltro">
	                	<li ng-repeat="sec in nbc.sectoresFiltro | orderObjectBy:'sector'" ng-class="{ 'fondo-activo': sec.picked }" ng-click="nbc.clickSectores(sec.sector)">{{sec.sector | capitalize:true}} ({{sec.cantidad}})</li>
	                </ul>
	                
                	<li data-toggle="collapse" data-target="#salarioFiltro" class="collapsed">
	                	<a href="" class="text-blue-soy">&nbsp;Salario <span class="arrow font-green-soy"></span></a>
	                </li>
	                
	                <ul class="sub-menu collapse" id="salarioFiltro">
	                	<li>
	                		<div class="col-xs-6 text-left">
	                			<span>
		                			{{nbc.price.minPrice | currency: "$"}}
		                		</span>
	                		</div>
	                		<div class="col-xs-6 text-right">
	                			<span>
		                			{{nbc.price.maxPrice | currency: "$"}}
		                		</span>
	                		</div>
	                		<div class="col-xs-12 border-bottom-1px border-color-c5c5c5">
	                			<div range-slider min="nbc.price.range.min" max="nbc.price.range.max" model-min="nbc.price.minPrice" model-max="nbc.price.maxPrice" filter="currency:'$'" step="100">

	                			</div>
	                		</div>

	                	</li>
	                </ul>

	                <li data-toggle="collapse" data-target="#experienciaFiltro" class="collapsed">
	                	<a href="" class="text-blue-soy">&nbsp;Nivel de experiencia <span class="arrow font-green-soy"></span></a>
	                </li>  
	                <ul class="sub-menu collapse" id="experienciaFiltro">
	                	<li ng-repeat="expe in nbc.experienciaFiltro" class="{{expe.style}}" ng-click="nbc.clickExperiencia(expe.experiencia)">{{expe.experiencia | capitalize:true}} ({{expe.cantidad}})</li>
	                </ul>

	            </ul>
	     </div>
	</div>
	<!--  -->
	<div class="col-xs-12 col-sm-8 padding-top-30">
		<!--  -->
		<div class="col-xs-12 border-bottom-1px border-color-c5c5c5 padding-bottom-10 margin-bottom-30"  ng-repeat="item in  nbc.itemsOffers | startFrom:(nbc.currentPageOffers-1)*nbc.entryLimitOffers | limitTo:nbc.entryLimitOffers | filter: nbc.offersFilter">
			<div class="col-xs-12">
				<span class="font-open-sans font-color-707070 font-size-16" ng-if="!item.companies.social_name">
					{{item.companies.name | capitalize:true}}
				</span>
				<span class="font-open-sans font-color-707070 font-size-16" ng-if="item.companies.social_name">
					{{item.companies.social_name | capitalize:true}}
				</span>
			</div>
			<div class="col-xs-12">
				<span class="font-open-sans font-bold font-green-soy font-size-16">
					{{item.job_title | capitalize}}
				</span>
			</div>
			<div class="col-xs-12 col-sm-8">
				<span class="font-open-sans font-color-707070 font-light">
					{{item.job_description | capitalize}}
				</span><br>
				<span class="font-open-sans font-color-c5c5c5">
					Subido: {{item.fecha | date}}
				</span>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="col-xs-12">
					<button class="btn button bton-green col-xs-12 margin-bottom-20" ng-click="nbc.irOferta(item._id)">
						Ver oferta
					</button>
				</div>
			</div>
		</div> 
		
		<div ng-show="nbc.itemsOffers.length>nbc.entryLimitOffers" class="row text-center">
	        <ul uib-pagination 
				total-items="nbc.totalItemsOffers" 
				ng-model="nbc.currentPageOffers" 
				max-size="10" 
				class="pagination-sm" 
				boundary-links="true" 
				force-ellipses="true"
				previous-text="Anterior" 
				next-text="Siguiente" 
				first-text="Primero" 
				last-text="Último"
				items-per-page='nbc.entryLimitOffers'></ul>
	    </div>
	</div>
</div>