<div class="container-fluid padding-top-30">
	<div class="col-xs-12 text-center margin-bottom-30 padding-bottom-20" style="border-bottom: 2px solid blue;"> 
		<span class="font-size-30 font-bold font-open-sans text-blue-soy">Preseleccionados por SoyEmpleo</span>
	</div>
	
	<div class="col-xs-12 border-bottom-1px border-color-c5c5c5 padding-bottom-20 margin-top-15" ng-repeat="item in items1 | startFrom:(currentPage1-1)*entryLimit1 | limitTo:entryLimit1" ng-if="listaAdmin.length" style="box-shadow: 0px 3.5px 8px -1px #707070;">
		<!-- <div class="ribbon-gold"><span>Verificado</span></div> -->
		<div class="col-xs-12 col-sm-4">
			<div class="col-xs-12"> 
				<span ng-if="$last">
					<span ng-if="getLast(item._id)"></span>
				</span>
				<span class="font-open-sans font-size-20 font-bold" ng-class="item.isDescartado ? 'font-color-B3B4B3':'font-green-soy'">
					<i class="fa fa-trophy" aria-hidden="true"></i> {{item.person.first_name | capitalize:true }} {{item.person.last_name | capitalize:true }}
				</span>
			</div>
			<div class="col-xs-12" ng-if="item.person.title">
				<span class="font-open-sans font-light font-size-20" ng-if="!item.isDescartado">
					&nbsp;&nbsp;&nbsp;{{item.person.title | capitalize}}
				</span>
				<span class="font-open-sans font-bold font-color-B3B4B3 font-size-20" ng-if="item.isDescartado">
					&nbsp;&nbsp;&nbsp;DESCARTADO
				</span>
			</div>
			<div class="col-xs-12">
				<span class="font-open-sans font-light font-size-20" ng-class="item.isDescartado ? 'font-color-B3B4B3':'font-color-707070'">
					&nbsp;&nbsp;&nbsp;<i class="fa fa-map-marker" aria-hidden="true"></i> {{item.person.act_department | capitalize}} | {{item.person.act_city | capitalize}}
				</span><br>
				<span class="font-open-sans font-light font-size-20" ng-class="item.isDescartado ? 'font-color-B3B4B3':'font-color-707070'">
					&nbsp;&nbsp;&nbsp;{{item.person.edad | capitalize:true}}
				</span>
			</div>
		</div>

		<div class="col-xs-12 col-sm-2 notas">
			<div class="col-xs-12 text-center especial">
				<button uib-popover-template="item.dynamicPopover.templateUrl" 
					popover-title="Notas" 
					type="button"
					popover-is-open="item.dynamicPopover.picked" 
					class="btn button bton-green-invert col-xs-12 margin-bottom-20" 
					style='outline:0;' ng-click="toggleNotas(item);">
					<i class="fa fa-comments" aria-hidden="true"></i> Notas
				</button>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-3 border-right-c5c5c5 border-left-c5c5c5">
			<div class="col-xs-12 text-center especial">
				<button class="btn button col-xs-12 margin-bottom-20" ng-click="getPerson(item.person._id,'preseleccionado','Preseleccionar');" ng-disabled="item.isDescartado" ng-class="item.isDescartado ? 'bton-gray-disabled':'bton-green-invert'">
					<i class="fa fa-eye" aria-hidden="true"></i> Ver perfil
				</button>
			</div>
			<div class="col-xs-12 text-center especial">
			<iframe id="pdf_container" style="display:none" src=""></iframe>
				<button class="btn button col-xs-12 margin-bottom-20" ng-click="desHojaVida(item.person._id)" ng-disabled="pdfRefresh" ng-class="item.isDescartado ? 'bton-gray-disabled':'bton-green-invert'">
					<i class="fa fa-download" aria-hidden="true"></i> Descargar PDF
				</button>
			</div>
		</div>

		<div class="col-xs-12 col-sm-3">
			<div class="col-xs-12 text-center">
				<button class="btn button col-xs-12 margin-bottom-20" ng-click="cambiarEstatus(item._id,'preseleccionado');" ng-disabled="item.isDescartado" ng-class="item.isDescartado ? 'bton-gray-disabled':'bton-green'">
					<i class="fa fa-check" aria-hidden="true"></i> Preseleccionar
				</button>
			</div>
			<div class="col-xs-12 text-center">
				<button class="btn button col-xs-12 margin-bottom-20" ng-click="cambiarEstatus(item._id,'descartado');" ng-disabled="item.isDescartado" ng-class="item.isDescartado ? 'bton-gray-disabled':'bton-danger-invert'">
					<i class="fa fa-times" aria-hidden="true"></i> Descartar
				</button>
			</div>
		</div>
	</div>
	
	<div class="container-fluid padding-top-50" ng-if="!listaAdmin.length">
		<div class="col-xs-12 text-center">
			<img src="assets/images/person-ico-edit.png" alt="" width="15%"> 
		</div>
		<div class="col-xs-12 text-center padding-top-20">
			<span class="font-bold font-open-sans font-size-16 font-color-707070"> 
				En este momento no tienes candidatos recomendados por SoyEmpleo
			</span><br>
			<span class="font-light font-open-sans font-size-16 font-color-707070"> 
				Adquiere una vacante Premium y en menos de 24 horas te recomendaremos los mejores candidatos para tu oferta.
			</span>
		</div>
	</div> 
	<div ng-show="listaAdmin.length>5" class="row text-center">
        <ul uib-pagination 
			total-items="totalItems1" 
			ng-model="currentPage1" 
			max-size="10" 
			class="pagination-sm" 
			boundary-links="true" 
			force-ellipses="true"
			previous-text="Anterior" 
			next-text="Siguiente" 
			first-text="Primero" 
			last-text="Último"
			items-per-page='5'></ul>
    </div>


    <!-- /////////////////////////////////////////////////////////////////// -->
    <div class="col-xs-12 text-center margin-bottom-30 padding-bottom-20 padding-top-20" style="border-bottom: 2px solid blue;" ng-if="lastItem"> 
		<span class="font-size-30 font-bold font-open-sans text-blue-soy">Postulados Voluntariamente</span>
	</div>
	<div class="col-xs-12 border-bottom-1px border-color-c5c5c5 padding-bottom-20 margin-top-15" ng-repeat="item2 in items2 | startFrom:(currentPage2-1)*entryLimit2 | limitTo:entryLimit2" ng-if="lastItem" style="box-shadow: 0px 3.5px 8px -1px #707070;">
		<div class="col-xs-12 col-sm-6">
			<div class="col-xs-12"> 
				<span class="font-open-sans font-size-20 font-bold" ng-class="item2.isDescartado ? 'font-color-B3B4B3':'font-green-soy'">
					<i class="fa fa-trophy" aria-hidden="true"></i> {{item2.person.first_name | capitalize:true }} {{item2.person.last_name | capitalize:true }}
				</span>
			</div>
			<div class="col-xs-12" ng-if="item2.person.title && !item2.isDescartado">
				<span class="font-open-sans font-light font-size-20" ng-if="!item2.isDescartado">
					&nbsp;&nbsp;&nbsp;{{item2.person.title | capitalize}}
				</span>
				<span class="font-open-sans font-bold font-color-B3B4B3 font-size-20" ng-if="item2.isDescartado">
					&nbsp;&nbsp;&nbsp;DESCARTADO
				</span>
			</div>
			<div class="col-xs-12">
				<span class="font-open-sans font-light font-size-20" ng-class="item2.isDescartado ? 'font-color-B3B4B3':'font-color-707070'">
					&nbsp;&nbsp;&nbsp;<i class="fa fa-map-marker" aria-hidden="true"></i> {{item2.person.act_department | capitalize}} | {{item2.person.act_city | capitalize}}
				</span><br>
				<span class="font-open-sans font-light font-size-20" ng-class="item2.isDescartado ? 'font-color-B3B4B3':'font-color-707070'">
					&nbsp;&nbsp;&nbsp;{{item2.person.edad | capitalize:true}}
				</span>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-3 border-right-c5c5c5 border-left-c5c5c5">
			<div class="col-xs-12 text-center especial">
				<button class="btn button col-xs-12 margin-bottom-20" ng-click="getPerson(item2.person._id,'preseleccionado','Preseleccionar');" ng-disabled="item2.isDescartado" ng-class="item.isDescartado ? 'bton-gray-disabled':'bton-green-invert'">
					<i class="fa fa-eye" aria-hidden="true"></i> Ver perfil
				</button>
			</div>
			<div class="col-xs-12 text-center especial">
				<button class="btn button col-xs-12 margin-bottom-20" ng-click="desHojaVida(item2.person._id);" ng-disabled="item2.isDescartado" ng-class="item.isDescartado ? 'bton-gray-disabled':'bton-green-invert'">
					<i class="fa fa-download" aria-hidden="true"></i> Descargar PDF
				</button>
			</div>
		</div>

		<div class="col-xs-12 col-sm-3">
			<div class="col-xs-12 text-center">
				<button class="btn button col-xs-12 margin-bottom-20" ng-click="cambiarEstatus(item2._id,'preseleccionado');" ng-disabled="item2.isDescartado" ng-class="item.isDescartado ? 'bton-gray-disabled':'bton-green'">
					<i class="fa fa-check" aria-hidden="true"></i> Preseleccionar
				</button>
			</div>
			<div class="col-xs-12 text-center especial">
				<button class="btn button col-xs-12 margin-bottom-20" ng-click="cambiarEstatus(item2._id,'descartado');" ng-disabled="item2.isDescartado" ng-class="item.isDescartado ? 'bton-gray-disabled':'bton-danger-invert'">
					<i class="fa fa-times" aria-hidden="true"></i> Descartar
				</button>
			</div>
		</div>
	</div>

	<div ng-show="listaPerson.length>5 && lastItem" class="row text-center">
        <ul uib-pagination 
			total-items="totalItems2" 
			ng-model="currentPage2" 
			max-size="10" 
			class="pagination-sm" 
			boundary-links="true" 
			force-ellipses="true"
			previous-text="Anterior" 
			next-text="Siguiente" 
			first-text="Primero" 
			last-text="Último"
			items-per-page='5'></ul>
    </div>

    <!-- /////////////////////////////////////////////////////////////////// -->

</div> 