<div class="container-fluid padding-top-30">
	<div class="col-xs-12 text-left margin-bottom-30" ng-if="postulates[selected].person.studies.length"> 
		<span class="font-size-30 font-bold font-open-sans text-blue-soy">Formación Académica</span>
	</div>

	<div class="col-xs-12 col-sm-6 font-size-18 padding-bottom-30" ng-repeat="studies in postulates[selected].person.studies">
		<div class="col-xs-12 text-center">
			<span class="font-bold font-open-sans text-blue-soy">
				{{studies.study_level | capitalize:true}} ({{studies.start_year}}-<span ng-if="studies.actual">Actualidad</span><span ng-if="!studies.actual">{{studies.end_year}}</span>)
			</span>
		</div>
		<div class="col-xs-12 col-sm-4 text-right padding-left-0">
			<span class="font-bold font-open-sans">
				Institución:
			</span>
		</div>
		<div class="col-xs-12 col-sm-8 text-left">
			<span class="font-bold font-open-sans font-green-soy" ng-if="studies.college">
				{{studies.college | capitalize:true}}
			</span>
			<span class="font-bold font-open-sans font-green-soy" ng-if="!studies.college">
				---
			</span>
		</div>
		<div class="col-xs-12 col-sm-4 text-right padding-left-0">
			<span class="font-bold font-open-sans">
				Carrera/Estudio:
			</span>
		</div>
		<div class="col-xs-12 col-sm-8 text-left">
			<span class="font-light font-open-sans" ng-if="studies.career">
				{{studies.career | capitalize:true}}
			</span>
			<span class="font-bold font-open-sans" ng-if="!studies.career">
				---
			</span>
		</div>
		<div class="col-s-12 col-sm-4 text-right padding-left-0">
			<span class="font-bold font-open-sans">
				Promedio:
			</span>
		</div>
		<div class="col-s-12 col-sm-8 text-left">
			<span class="font-bold font-open-sans font-green-soy" ng-if="studies.average">
				{{studies.average | capitalize:true}}
			</span>
			<span class="font-bold font-open-sans font-green-soy" ng-if="!studies.average">
				---
			</span>
		</div>
	</div>

	<div class="col-xs-12 text-left margin-bottom-30 margin-top-40" ng-if="postulates[selected].person.experiences.length"> 
		<span class="font-size-30 font-bold font-open-sans text-blue-soy">Experiencia Laboral</span>
	</div>

	<div class="col-xs-12 font-size-18 padding-bottom-30" ng-repeat="experiences in postulates[selected].person.experiences" ng-class="{'profile-advance-border-left-CDD8DB': !$last}">
		<span class="profile-advance-circle">
			<span ng-class="{'profile-advance-circle-in':$last}"></span>
		</span>
		<div class="col-xs-12 col-sm-6 text-left">
			<span class="font-bold font-open-sans">
				{{experiences.position | capitalize}}
			</span>
		</div>
		<div class="col-xs-12 col-sm-5 text-right">
			<span class="font-bold font-open-sans text-blue-soy">
				({{experiences.start_month}}/{{experiences.start_year}} - {{experiences.end_month}}/{{experiences.end_year}})
			</span>
		</div>
		<div class="col-xs-12 text-left">
			<span class="font-bold font-open-sans font-green-soy">
				{{experiences.company | capitalize}}
			</span>
		</div>
		<div class="col-xs-12 text-left">
			<span class="font-light font-open-sans">
				Sector: {{experiences.sector_company | capitalize}} | Área: {{experiences.area_position | capitalize}}
			</span>
		</div>
		<div class="col-xs-12 text-left">
			<span class="font-light font-open-sans font-color-707070">
				Rol/Ocupación: {{experiences.description | capitalize}}
			</span>
		</div>
	</div>

	<div class="col-xs-12 text-left margin-bottom-30 margin-top-40" ng-if="postulates[selected].person.languages.length"> <!-- ng-if="postulates.experiences" -->
		<span class="font-size-30 font-bold font-open-sans text-blue-soy">Idiomas</span>
	</div>

	<div class="col-xs-12 col-sm-6 font-size-18 padding-bottom-30" ng-repeat="idioma in postulates[selected].person.languages">
		<div class="col-xs-12 col-sm-4 text-right padding-left-0">
			<span class="font-bold font-open-sans">
				Idioma:
			</span>
		</div>
		<div class="col-xs-12 col-sm-8 text-left">
			<span class="font-light font-open-sans" ng-if="idioma.language">
				{{idioma.language | capitalize:true}}
			</span>
			<span class="font-bold font-open-sans" ng-if="!idioma.language">
				---
			</span>
		</div>
		<div class="col-xs-12 col-sm-4 text-right padding-left-0">
			<span class="font-bold font-open-sans">
				Dominio:
			</span>
		</div>
		<div class="col-xs-12 col-sm-8 text-left">
			<span class="font-bold font-open-sans text-blue-soy" ng-if="idioma.level">
				{{idioma.level | nivel}}
			</span>
			<span class="font-bold font-open-sans" ng-if="!idioma.level">
				---
			</span>
		</div>
	</div>

	<div class="col-xs-12 text-left margin-bottom-30 margin-top-40" ng-if="postulates[selected].person.softwares.length"> <!-- ng-if="postulates.experiences" -->
		<span class="font-size-30 font-bold font-open-sans text-blue-soy">Software</span>
	</div>

	<div class="col-xs-12 col-sm-6 font-size-18 padding-bottom-30" ng-repeat="software in postulates[selected].person.softwares">
		<div class="col-xs-4 text-right padding-left-0">
			<span class="font-bold font-open-sans">
				Software/Programa:
			</span>
		</div>
		<div class="col-xs-12 col-sm-8 text-left">
			<span class="font-light font-open-sans" ng-if="software.software">
				{{software.software | capitalize:true}}
			</span>
			<span class="font-bold font-open-sans" ng-if="!software.software">
				---
			</span>
		</div>
		<div class="col-xs-12 col-sm-4 text-right padding-left-0">
			<span class="font-bold font-open-sans">
				Dominio:
			</span>
		</div>
		<div class="col-xs-12 col-sm-8 text-left">
			<span class="font-light font-open-sans" ng-if="software.level">
				{{software.level | nivel}}
			</span>
			<span class="font-bold font-open-sans" ng-if="!software.level">
				---
			</span>
		</div>
		<div class="col-xs-12 padding-top-20 col-sm-8 text-center">
			<span ng-repeat="nivel in software.nivel">
				<span style="padding: 0px 5px;">
					<span ng-class="nivel.act ? 'profile-level-on' : 'profile-level-off'">
					</span>
				</span>
			</span>
		</div>
	</div>

	<div class="col-xs-12 text-left margin-bottom-30 margin-top-40" ng-if="postulates[selected].person.skills.length"> 
		<span class="font-size-30 font-bold font-open-sans text-blue-soy">Habilidades</span>
	</div>

	<div class="col-xs-12 col-sm-6 font-size-18 padding-bottom-30" ng-repeat="skills in postulates[selected].person.skills">
		<div class="col-xs-4 text-right padding-left-0">
			<span class="font-bold font-open-sans">
				Habilidad:
			</span>
		</div>
		<div class="col-xs-12 col-sm-8 text-left">
			<span class="font-light font-open-sans" ng-if="skills.skill">
				{{skills.skill | capitalize:true}}
			</span>
			<span class="font-bold font-open-sans" ng-if="!skills.skill">
				---
			</span>
		</div>
		<div class="col-xs-12 col-sm-4 text-right padding-left-0">
			<span class="font-bold font-open-sans">
				Dominio:
			</span>
		</div>
		<div class="col-xs-12 col-sm-8 text-left">
			<span class="font-light font-open-sans" ng-if="skills.level">
				{{skills.level | nivel2}}
			</span>
			<span class="font-bold font-open-sans" ng-if="!skills.level">
				---
			</span>
		</div>
		<div class="col-xs-12 padding-top-20 col-sm-8 text-center">
			<span ng-repeat="nivel in skills.nivel">
				<span style="padding: 0px 5px;">
					<span ng-class="nivel.act ? 'profile-level-on' : 'profile-level-off'">
					</span>
				</span>
			</span>
		</div>
	</div>

	 <div class="col-xs-12 text-center margin-bottom-30 margin-top-40">
		<!--<div class="col-xs-12 col-sm-4 especial" >
			<button class="btn button col-xs-12 margin-bottom-20" ng-click="cambiarEstatus(postulates[selected]._id,postulates[selected].estado1);" ng-disabled="postulates[selected].isDescartado || postulates[selected].IsContratado" ng-class="postulates[selected].isDescartado || postulates[selected].IsContratado ? 'bton-gray-disabled':'bton-green'">
				{{postulates[selected].estado2}} candidato
			</button>
		</div>
		<div class="col-xs-12 col-sm-4 especial">
			<button class="btn button col-xs-12 margin-bottom-20" ng-click="cambiarEstatus(postulates[selected]._id,'descartado');" ng-disabled="postulates[selected].isDescartado" ng-class="postulates[selected].isDescartado ? 'bton-gray-disabled':'bton-danger-invert'">
				Descartar candidato 
			</button>
		</div> -->
		<div class="col-xs-12 col-sm-4 especial">
			<button class="btn button bton-green-invert col-xs-12 margin-bottom-20" ng-click="nbc.goToUrl('/#/postulados');">
				Volver al listado
			</button>
		</div>
	</div>
</div> 


