<div class="margin-bottom-10 container">
	<div class="col-xs-12 col-sm-6">
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light" for="idNombre">
				Nombre de la empresa
			</label>
		</div>	
		<input id="idNombre" class="form-control margin-bottom-10" maxlength="200" placeholder="Agrega el nombre de tu empresa" ng-model="nbc.nombre">
	</div>
	
	<div class="col-xs-12 col-sm-6">
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light" for="idNit">
				NIT de la empresa
			</label>
		</div>	
		<input id="idNit" class="form-control margin-bottom-10" rows="5" maxlength="200" placeholder="Agrega el NIT de tu empresa" ng-model="nbc.basicData.nro_doc">
	</div>

	<div class="col-xs-12 col-sm-6">
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light" for="idEmpleados">
				N° de empleados de la empresa
			</label>
		</div>	
		<input id="idEmpleados" class="form-control margin-bottom-10" rows="5" maxlength="200" placeholder="agrega el número de empleados de tu empresa" ng-model="nbc.basicData.employees_count">
	</div>
	
	<div class="col-xs-12 col-sm-6">
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light hidden-xs" for="idSector">
				Sector de la empresa
			</label>
			<label class="font-open-sans font-color-707070 font-light visible-xs" for="idSector2">
				Sector de la empresa
			</label>
		</div>	
		<select id="idSector" name="idSector" class="hidden-xs select-style form-control border-form-control margin-bottom-10" ng-model="nbc.basicData.sector">
            <option value="" selected>
            	Sector de la empresa
            </option>
            <option ng-repeat="l in nbc.listaSectores" value="{{l.description}}">
            	{{l.description}}
            </option>
        </select>

		<md-select ng-model="nbc.basicData.sector" placeholder="Sector" class="md-no-underline visible-xs" id='idSector2' name='idSector2' style="border: 1px solid #ccc; border-radius: 4px;">
        	<md-option ng-repeat="l in nbc.listaSectores" value="{{l.description}}">{{l.description}}</md-option>
        </md-select>

	</div>

	<div class="col-xs-12 col-sm-6">
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light hidden-xs" for="idDepartment">
				Departamento de la empresa
			</label>
			<label class="font-open-sans font-color-707070 font-light visible-xs" for="idDepartment2">
				Departamento de la empresa
			</label>
		</div>	
		<select name="idDepartment" class="select-style form-control border-form-control margin-bottom-10 hidden-xs" ng-model="nbc.basicData.department" ng-change="nbc.depSelected(nbc.basicData.department)">
            <option value="" selected>Departamento</option>
            <option ng-repeat="depa in nbc.listDepartamentos" value="{{depa.name}}">{{depa.name}}</option>
        </select>

        <md-select ng-model="nbc.basicData.department" placeholder="Departamento" class="md-no-underline visible-xs" id='idDepartment2' name='idDepartment2' style="border: 1px solid #ccc; border-radius: 4px;" ng-change="nbc.depSelected(nbc.basicData.department)">
        	<!-- <md-option value="">Departamento</md-option> -->
        	<md-option ng-repeat="depa in nbc.listDepartamentos" value="{{depa.name}}">{{depa.name}}</md-option>
        </md-select>
	</div>

	<div class="col-xs-12 col-sm-6">
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light hidden-xs" for="idCity">
				Ciudad de la empresa
			</label>
			<label class="font-open-sans font-color-707070 font-light visible-xs" for="idCity2">
				Ciudad de la empresa
			</label>
		</div>	
		<select name="idCity" class="select-style form-control border-form-control margin-bottom-10 hidden-xs" ng-model="nbc.cityTest">
            <option value="" selected>Ciudad</option>
            <option ng-repeat="ciud in nbc.listaCiudades" value="{{ciud.name}}">{{ciud.name}}</option>
        </select>

        <!-- <md-select ng-model="nbc.cityTest" placeholder="Ciudad" class="md-no-underline visible-xs" id='idCity2' name='idCity2' style="border: 1px solid #ccc; border-radius: 4px;">
        	<md-option ng-repeat="ciud in nbc.listaCiudades" value="{{ciud.name}}">{{ciud.name}}</md-option>
        </md-select> -->
	</div>

	<div class="col-xs-12 col-sm-12">
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light" for="idAddress">
				Dirección de la empresa
			</label>
		</div>	
		<input id="idAddress" class="form-control margin-bottom-10" rows="5" maxlength="200" placeholder="Agrega la dirección de tu empresa" ng-model="nbc.basicData.address">
	</div>

	<div class="col-xs-12">
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light" for="idDesc">
				Descripción de la empresa
			</label>
		</div>	
		<textarea id="idDesc" class="form-control resize-none margin-bottom-10" rows="5" maxlength="200" placeholder="Agrega la descripción de tu empresa" ng-model="nbc.basicData.description"></textarea>
	</div>
		
	<div class="col-xs-12 padding-bottom-20">
		<button class="btn button bton-green" ng-click="nbc.validarGuardarBasic();">Guardar</button>
	</div>
	<!-- <div class="col-xs-12">
		<textarea id="idDesc" class="form-control resize-none margin-bottom-10" rows="5" maxlength="200" placeholder="Agrega una nueva descripción a tu empresa" ng-model="nbc.descEnvio"></textarea>
	</div> -->
			    <!-- <button class="btn button bton-green" ng-click="nbc.guardarCampo('myDropdown1','description',nbc.descEnvio,'#idDesc');" ng-disabled="nbc.descEnvio==''">Guardar</button>  -->
</div>