<div class="container-fluid padding-top-50" ng-show="!nbc.postulations.length">
	<div class="col-xs-12 text-center">
		<img src="assets/images/person-ico-edit.png" alt="" width="15%"> 
	</div>
	<div class="col-xs-12 text-center padding-top-20">
		<span class="font-bold font-open-sans font-size-16 font-color-707070"> 
			Actualmente no estas aplicando a ninguna oferta laboral
		</span><br>
		<span class="font-light font-open-sans font-size-16 font-color-707070"> 
			Sí necesitas ayuda puedes usar el chat de ayuda, con gusto de ayudaremos.
		</span>
	</div>
	<div class="col-xs-12 col-sm-4 col-sm-offset-4 text-center padding-top-20">
		<button class="btn button bton-green col-xs-12 margin-bottom-20" onclick="$('#tab-5').prop('checked', true)">
			Buscar ofertas de empleo
		</button> 
	</div>
</div> 
<div class="container-fluid padding-top-30" ng-show="nbc.postulations.length">
	<div class="col-xs-12 text-left margin-bottom-30">
		<span class="font-size-30 font-bold font-open-sans text-blue-soy">Mis postulaciones</span>
	</div>
	<div class="col-xs-12 border-bottom-1px border-color-c5c5c5 padding-top-20" ng-repeat="postu in nbc.postulations">
		<div class="col-xs-12 col-sm-2 padding-bottom-20 centrar-xs">
			<img src="{{postu.offers.companies.logo}}" class="img-circle box-shadow-black border-color-fff border-4px" width="168">
		</div>
		<div class="col-xs-12 col-sm-8 centrar-xs">
			<div class="col-xs-12">
				<span class="font-open-sans font-color-707070 font-size-20" ng-if="postu.offers.companies.social_name">
					{{postu.offers.companies.social_name | capitalize:true}}
				</span>
				<span class="font-open-sans font-color-707070 font-size-20" ng-if="!postu.offers.companies.social_name">
					{{postu.offers.companies.name | capitalize:true}}
				</span>
			</div>
			<div class="col-xs-12">
				<span class="font-open-sans font-bold font-green-soy font-size-20">
					{{postu.offers.job_title}}
				</span>
			</div>
			<div class="col-xs-12">
				<span class="font-open-sans font-color-707070 font-light font-size-18">
					{{postu.offers.department | capitalize:true}} | {{postu.offers.city | capitalize:true}}
				</span><br>
				<span class="font-open-sans text-blue-soy font-bold font-size-18">
					<span ng-if="postu.offers.show_salary=='Si'">
						{{postu.offers.total | number:2}} $
					</span>
					<span ng-if="!postu.offers.show_salary=='Si'">
						A convenir
					</span> | Termino {{postu.offers.type_contract}}
				</span><br>
				<span class="font-open-sans font-color-c5c5c5 font-size-18">
					Subido: {{postu.offers.created_at | date}}
				</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm-2 padding-top-20 centrar-xs">
			<div class="col-xs-12">
				<button class="btn button bton-green col-xs-12 margin-bottom-20" ng-click="nbc.offersUrl(postu.offers.city,postu.offers.companies.name,postu.offers.job_title,postu.offers_id);">
					Ver oferta
				</button>
			</div>
		</div>
	</div>
</div>