<div class="container-fluid padding-top-30">
	<div class="col-xs-12 text-left margin-bottom-30"> 
		<span class="font-size-30 font-bold font-open-sans text-blue-soy">Ofertas activas</span>
	</div>

	<div class="container-fluid padding-top-50" ng-if="!nbc.numOffers">
		<div class="col-xs-12 text-center">
			<img src="assets/images/person-ico-edit.png" alt="" width="15%"> 
		</div>
		<div class="col-xs-12 text-center padding-top-20">
			<span class="font-bold font-open-sans font-size-16 font-color-707070"> 
				Actualmente no tienes ofertas laborales activas
			</span><br>
			<span class="font-light font-open-sans font-size-16 font-color-707070"> 
				Sí necesitas ayuda puedes usar el chat de ayuda, con gusto de ayudaremos.
			</span>
		</div>
	</div> 
	<div class="col-xs-12 border-bottom-1px border-color-c5c5c5 padding-bottom-20 margin-top-15" ng-repeat="item in  nbc.items | startFrom:(nbc.currentPage-1)*nbc.entryLimit | limitTo:nbc.entryLimit" ng-if="nbc.numOffers">
		<div class="col-xs-12 col-sm-6">
			<div class="col-xs-12"> 
				<span class="font-open-sans font-color-707070 font-size-16" ng-if="nbc.companyBasicData.company_basicdata.social_name==''">
					{{nbc.companyBasicData.company_basicdata.name | capitalize:true }}
				</span>
				<span class="font-open-sans font-color-707070 font-size-16" ng-if="nbc.companyBasicData.company_basicdata.social_name!=''">
					{{nbc.companyBasicData.company_basicdata.social_name | capitalize:true }}
				</span>
			</div>
			<div class="col-xs-12">
				<span class="font-open-sans font-bold font-green-soy font-size-16">
					{{item.job_title | capitalize}}
				</span>
			</div>
			<div class="col-xs-12">
				<span class="font-open-sans font-color-707070 font-light">
					{{item.job_description | capitalize}}
				</span><br>
				<span class="font-open-sans font-color-c5c5c5">
					Fecha límite: <!-- 09, Septiembre de 2016  -->{{item.limit_date.date | date:'fullDate' | capitalize}}
				</span>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-2 border-right-c5c5c5 border-left-c5c5c5 notas">
			<div class="col-xs-12 text-center">
				<span class="font-open-sans font-size-40 font-color-818181 font-bold">
					{{item.num_candidates}}
				</span><br>
				<span class="font-open-sans font-size-18 font-color-707070 font-light">
					Postulados
				</span>
			</div>
			<!-- <div class="col-xs-12 text-center">
				<button uib-popover-template="dynamicPopover.templateUrl" 
					popover-title="Notas" 
					type="button" 
					class="btn btn-green" style='outline:0;'>
					<i class="fa fa-commenting-o" aria-hidden="true"></i>
				</button>		
			</div>
			<div ng-include="'public/app/sections/myPopoverTemplate.html'"></div> -->
		</div>
		

		<div class="col-xs-12 col-sm-2" ><!-- ng-show="item.postuladosCant" -->
			<div class="col-xs-12 padding-top-25">
				<button class="btn button bton-green col-xs-12 margin-bottom-20" 
					ng-click="nbc.goPostulados(item._id);" 
					ng-disabled="nbc.isRefreshingPostu || isPageloading"
					ng-if="item.num_candidates && !item.finish">
					<span ng-show='nbc.isRefreshingPostu || isPageloading'>
			        	<i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i> Cargando
			        </span>
					<span ng-hide='nbc.isRefreshingPostu || isPageloading'>
			        	Ver Hojas de vida
			        </span>
				</button>
				<span ng-if="!item.num_candidates && !item.finish" style="padding: 10px 20px; border: 1px solid #c5c5c5; border-radius: 5px; color: #c5c5c5; cursor: default;">
					Ver Hojas de vida
				</span>
				<span class="font-open-sans font-bold font-color-B3B4B3 font-size-20" ng-if="item.finish">
					&nbsp;&nbsp;&nbsp;FINALIZADA
				</span> 
			</div>
		</div>

		<div class="col-xs-12 col-sm-2 border-left-c5c5c5">
			<div class="col-xs-4 col-sm-12 text-justify padding-top-20" ng-if="item.stop && item.finish">
				<button class="btn button bton-green margin-bottom-20 font-size-18" 
					ng-click="nbc.openModal($event,'dialog55');"
					ng-disabled="blockOffer">
					<span ng-show="blockOffer">
						<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
						Crear oferta
					</span>
					<span ng-show="!blockOffer">
						Crear oferta
					</span>
				</button>
			</div>
			<div class="col-xs-4 col-sm-12 text-justify">
				<span class="text-success font-open-sans font-size-18 mouse-pointer" ng-click="nbc.irEdicion(item._id)" ng-if="!item.finish">
					<i class="fa fa-pencil" aria-hidden="true"></i> Editar
				</span> 
			</div>
			<div class="col-xs-4 col-sm-12 text-justify">
				<span class="text-info font-open-sans font-size-18 mouse-pointer" 
					ng-click="nbc.pausarOferta(item,'Pausar');"
					ng-if="!item.stop && !item.finish">
					<i class="fa fa-pause" aria-hidden="true"></i> Pausar
				</span>
				<span class="text-info font-open-sans font-size-18 mouse-pointer" 
					ng-click="nbc.pausarOferta(item,'Reanudar');" 
					ng-if="item.stop && !item.finish">
					<i class="fa fa-play" aria-hidden="true"></i> Reanudar
				</span>
			</div>
			<div class="col-xs-4 col-sm-12 text-justify" ng-if="item.stop && !item.finish">
				<span class="font-red-soy font-open-sans font-size-18 mouse-pointer" 
					ng-click="nbc.detenerOferta(item);">
					<i class="fa fa-check" aria-hidden="true"></i> Finalizar
				</span>
			</div>
		</div>
	</div>
	<div ng-show="nbc.numOffers>5" class="row text-center">
		<ul uib-pagination 
			total-items="nbc.totalItems" 
			ng-model="nbc.currentPage" 
			max-size="10" 
			class="pagination-sm" 
			boundary-links="true" 
			force-ellipses="true"
			previous-text="Anterior" 
			next-text="Siguiente" 
			first-text="Primero" 
			last-text="Último"
			items-per-page='5'></ul>
    </div>

	<div class="col-xs-12 text-center padding-top-30">
		<button class="btn button bton-green margin-bottom-20" 
			ng-click="nbc.openModal($event,'dialog55');"
			ng-disabled="blockOffer">
			<span ng-show="blockOffer">
				<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
				Crear oferta
			</span>
			<span ng-show="!blockOffer">
				Crear oferta
			</span>
		</button>
	</div>

	<div id="div-gray-dashboard" class="col-xs-12 padding-top-50 text-center bg-color-EAF0F2 margin-top-30 padding-bottom-40">
		<div class="col-xs-12 col-sm-6 text-center border-right-818181 padding-bottom-50 padding-top-50">
			<span class="font-open-sans font-size-40 font-color-818181 font-bold">
				{{nbc.numOffers}}
			</span><br>
			<span class="font-open-sans font-size-18 font-color-707070 font-light">
				Ofertas creadas
			</span>
		</div>
		<div class="col-xs-12 col-sm-6 text-center  padding-bottom-50 padding-top-50"><!-- border-right-818181 -->
			<span class="font-open-sans font-size-40 font-color-818181 font-bold">
				{{nbc.postuladosTotal}}
			</span><br>
			<span class="font-open-sans font-size-18 font-color-707070 font-light">
				Postulados en total
			</span>
		</div>
		<!-- <div class="col-xs-12 col-sm-4 text-center padding-bottom-50 padding-top-50">
			<span class="font-open-sans font-size-20 text-blue-soy font-bold" >
				 {{isMembership ? 'Membresia activa':'Sin membresia activa'}}
			</span><br>
			<span class="font-open-sans font-size-18 text-blue-soy font-light" ng-if="isMembership">
				Fecha proximo pago:
			</span>
			<button ng-redirect="/membership" 
				class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30 "
				ng-if="!isMembership"> 	¡Suscribirse <strong>Ahora</strong>!
		    </button><br>
			<span class="font-open-sans font-size-18 font-color-707070 font-light" ng-if="isMembership">
				{{membershipDatas.period_end | date:"dd/MM/yyyy"}}
			</span>
		</div> -->
	</div> 
</div>
