<div class="container-fluid padding-top-50" ng-show="!nbc.preferencias.length">
	<div class="col-xs-12 text-center">
		<img src="assets/images/person-ico-edit.png" alt="" width="15%"> 
	</div>
	<div class="col-xs-12 text-center padding-top-20">
		<span class="font-bold font-open-sans font-size-16 font-color-707070"> 
			Actualmente no puedes ver sugerencias ya que aún no nos cuentas tus preferencias
		</span><br>
		<span class="font-light font-open-sans font-size-16 font-color-707070"> 
			Te invitamos a que agregues alguna preferencia.
		</span>
	</div>
	<div class="col-xs-12 col-sm-4 col-sm-offset-4 text-center padding-top-20">
		<button class="btn button bton-green col-xs-12 margin-bottom-20" ng-click="nbc.goToUrl('/profile/#/preferencias');">
			Agregar preferencia
		</button>
	</div>
</div> 
<div class="container-fluid padding-top-30" ng-show="nbc.preferencias.length"> 
	<div class="col-xs-12 text-left margin-bottom-30">
		<span class="font-size-30 font-bold font-open-sans text-blue-soy">Ofertas sugeridas</span>
	</div>

	<div class="col-xs-12 border-bottom-1px border-color-c5c5c5 padding-top-20" ng-repeat="ofertas in nbc.offersByPreference | startFrom:(nbc.currentPagePrefs-1)*nbc.entryLimitPrefs | limitTo:nbc.entryLimitPrefs">
		<div class="col-xs-12">
			<span class="font-open-sans font-color-707070 font-size-16">
				{{ofertas.companies.name | capitalize:true}}
			</span>
		</div>
		<div class="col-xs-12">
			<span class="font-open-sans font-bold font-green-soy font-size-16">
				{{ofertas.job_title | capitalize:true}}
			</span>
		</div>
		<div class="col-xs-12 col-sm-10">
			<span class="font-open-sans font-color-707070 font-light">
				{{ofertas.job_description | capitalize}}
			</span><br>
			<span class="font-open-sans font-color-c5c5c5">
				Subido: {{ofertas.updated_at | date}}
			</span>
		</div>
		<div class="col-xs-12 col-sm-2">
			<!-- <div class="col-xs-12 text-center">
				<div class="col-xs-6 text-center">
					<span class="font-size-30 font-color-707070">
						<i class="fa fa-share-alt" aria-hidden="true"></i>
					</span>
				</div>
				<div class="col-xs-6 text-center">
					<span class="font-size-30 font-color-707070">
						<i class="fa fa-star-o" aria-hidden="true"></i>
					</span>
				</div>
			</div> -->
			<div class="col-xs-12">
				<button class="btn button bton-green col-xs-12 margin-bottom-20" ng-click="nbc.offersUrl(ofertas.city,ofertas.companies.name,ofertas.job_title,ofertas._id);">
					Ver oferta
				</button>
			</div>
		</div>
	</div>
	
	<div ng-show="nbc.offersByPreference.length>nbc.entryLimitPrefs" class="row text-center">
        <ul uib-pagination 
			total-items="nbc.totalItemsPrefs" 
			ng-model="nbc.currentPagePrefs" 
			max-size="10" 
			class="pagination-sm" 
			boundary-links="true" 
			force-ellipses="true"
			previous-text="Anterior" 
			next-text="Siguiente" 
			first-text="Primero" 
			last-text="Último"
			items-per-page='nbc.entryLimitPrefs'></ul>
    </div>
	<div class="col-xs-12 text-center padding-top-30">
		<button class="btn button bton-green margin-bottom-20">
			Cargar más ofertas
		</button>
	</div>
</div>