<div class="margin-bottom-10 container">
	<div class="col-xs-12">
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light font-size-18" for="idNombre">
				Pulsa el <span class="text-blue-soy"><i class="fa fa-plus-circle" aria-hidden="true"></i></span> para cargar una nueva imagen
			</label>
		</div>
	</div>
	<div class="row" ng-if="nbc.officePictureLength==0">
        <div class="col-xs-12 text-center">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="padding-bottom: 2%;" ng-repeat="i in [1, 2, 3, 4]">
              <div class="border-uploader">
                <center>
                  <img class="img-responsive center-block soy-empleo-plus-lg" src="../assets/images/soyempleo-pus-lg.png" alt="" ng-click="nbc.openModal($event,'dialog5');">
                </center>
              </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="nbc.officePictureLength!=0">
        <div class="col-xs-12 text-center" id="officephotoshow">
            <div ng-repeat="n in nbc.photos" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 hovereffect3" style="padding-bottom: 2%;padding-top:2%;">
              <img class="img-responsive center-block thumbnail" src="{{n.url}}" alt="" ng-if="!isPageloading">
              <div class="overlay">
                <button class="info btn btn-danger" style="margin-top: 90px;" ng-click="nbc.deletePicture(n.position);">Eliminar</button>
              </div>
            </div>

            <div ng-repeat="i in nbc.repetidorImagen" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 div-buttom-uploader" style="padding-bottom: 2%;" ng-if="nbc.officePictureLength<4">
              <div class="border-uploader">
                <center>
                  <img class="img-responsive center-block soy-empleo-plus-lg" src="../assets/images/soyempleo-pus-lg.png" alt="" ng-click="nbc.openModal($event,'dialog5');">
                </center>
              </div>
            </div>
        </div>
    </div>

	<!-- <div class="col-xs-12 col-sm-6">
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light" for="idNombre">
				Nombre de la empresa
			</label>
		</div>	
		<input id="idNombre" class="form-control margin-bottom-10" maxlength="200" placeholder="Agrega un nuevo nombre a tu empresa" ng-model="nbc.nombre">
	</div>
	
	<div class="col-xs-12 col-sm-6">
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light" for="idNit">
				NIT de la empresa
			</label>
		</div>	
		<input id="idNit" class="form-control margin-bottom-10" rows="5" maxlength="200" placeholder="Agrega un nuevo NIT a tu empresa" ng-model="nbc.basicData.nro_doc">
	</div>

	<div class="col-xs-12 col-sm-6">
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light" for="idEmpleados">
				N° de empleados de la empresa
			</label>
		</div>	
		<input id="idEmpleados" class="form-control margin-bottom-10" rows="5" maxlength="200" placeholder="agrega el número de empleados de tu empresa" ng-model="nbc.basicData.employees_count">
	</div>
	
	<div class="col-xs-12 col-sm-6">
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light" for="idSector">
				Sector de la empresa
			</label>
		</div>	
		<select id="idSector" name="idSector" class="select-style form-control border-form-control margin-bottom-10" ng-model="nbc.basicData.sector">
            <option value="" selected>
            	Sector de la empresa
            </option>
            <option ng-repeat="l in nbc.listaSectores" value="{{l.description}}">
            	{{l.description}}
            </option>
        </select>
	</div>

	<div class="col-xs-12 col-sm-6">
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light" for="idDepartment">
				Departamento de la empresa
			</label>
		</div>	
		<select name="idDepartment" class="select-style form-control border-form-control margin-bottom-10" ng-model="nbc.basicData.department" ng-change="nbc.depSelected(nbc.basicData.department)">
            <option value="" selected>Departamento</option>
            <option ng-repeat="depa in nbc.listDepartamentos" value="{{depa.name}}">{{depa.name}}</option>
        </select>
	</div>

	<div class="col-xs-12 col-sm-6">
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light" for="idCity">
				Ciudad de la empresa
			</label>
		</div>	
		<select name="idCity" class="select-style form-control border-form-control margin-bottom-10" ng-model="nbc.cityTest">
            <option value="" selected>Ciudad</option>
            <option ng-repeat="ciud in nbc.listaCiudades" value="{{ciud.name}}">{{ciud.name}}</option>
        </select>
	</div>

	<div class="col-xs-12">
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light" for="idDesc">
				Descripción de la empresa
			</label>
		</div>	
		<textarea id="idDesc" class="form-control resize-none margin-bottom-10" rows="5" maxlength="200" placeholder="Agrega una nueva descripción a tu empresa" ng-model="nbc.basicData.description"></textarea>
	</div>
		
	<div class="col-xs-12">
		<button class="btn button bton-green" ng-click="nbc.validarGuardarBasic();">Guardar</button>
	</div> -->
	<div ng-include="'public/app/sections/imagenDialog.html'"></div>
</div>
