<!-- <div class="container-fluid padding-top-30">
	<div class="col-xs-12 text-left margin-bottom-30">
		<span class="font-size-30 font-bold font-open-sans text-blue-soy">Ofertas disponibles</span>
	</div>
	<div class="col-xs-12"> -->
		<!-- <div class="col-xs-12 text-center">
			<span class="font-open-sans font-green-soy font-size-18 font-bold">
				PLAN ACTUAL:
			</span>
			<span class="font-open-sans font-size-18 font-bold">
				Paquete de 25 a 50 Ofertas
			</span>
		</div> -->
		<!-- <div class="col-xs-12 text-center" ng-if="!nbc.companyBasicData.company_basicdata.membership">
			<span class="font-open-sans font-color-707070 font-size-18 font-light">
				Actualmente NO tienes una membresia activa
			</span>
			<button class="btn button bton-green margin-bottom-20" ng-click="nbc.openModal($event,'dialog65');">
				Comprar <b>membresia</b>
			</button>
		</div> -->
<!-- 	</div>
	<div id="div-gray-dashboard" class="col-xs-12 padding-top-50 text-center margin-top-30">
		<div class="col-xs-12 col-sm-4 text-center border-right-818181 padding-bottom-50 padding-top-50">
			<span class="font-open-sans font-size-40 font-color-818181 font-bold">
				{{ofertasDisponibles.basic}}
			</span><br>
			<span class="font-open-sans font-size-18 font-color-707070 font-light">
				Ofertas Básicas
			</span><br> -->
			<!-- <button class="btn btn-lg button bton-green margin-bottom-5 margin-top-5" ng-click="nbc.openModal($event,'dialog55',true);">
				Consigue más
			</button> -->
<!-- 		</div>
		<div class="col-xs-12 col-sm-4 text-center border-right-818181 padding-bottom-50 padding-top-50">
			<span class="font-open-sans font-size-40 font-color-818181 font-bold">
				{{ofertasDisponibles.premium + ofertasDisponibles.membership}}
			</span><br>
			<span class="font-open-sans font-size-18 font-color-707070 font-light">
				Ofertas Premium
			</span><br> -->
			<!-- <button class="btn btn-lg button bton-green margin-bottom-5 margin-top-5" ng-click="nbc.openModal($event,'dialog55',true);">
				Consigue más
			</button> -->
		<!-- </div> -->
		<!-- <div class="col-xs-12 col-sm-4 text-center padding-bottom-50 padding-top-50">
			<span class="font-open-sans font-size-40 text-blue-soy font-bold">
				{{ ofertasDisponibles.premium + ofertasDisponibles.basic + ofertasDisponibles.membership  }}
			</span><br>
			<span class="font-open-sans font-size-18 text-blue-soy font-light">
				Ofertas disponibles
			</span><br>
			<button class="btn btn-lg button bton-green margin-bottom-20 margin-top-5" ng-click="nbc.openModal($event,'dialog55',true);">
				Consigue más
			</button>
		</div> -->
		<!-- <div class="col-xs-12 col-sm-4 text-center padding-bottom-50 padding-top-50">
			<span class="font-open-sans font-size-20 text-blue-soy font-bold" >
				 {{isMembership ? 'Membresia activa':'Sin membresia activa'}}
			</span><br>
			<span class="font-open-sans font-size-18 text-blue-soy font-light" ng-if="isMembership">
				Fecha proximo pago:
			</span>
			<button ng-redirect="/membership" 
				class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30 "
				ng-if="!isMembership"> 	¡Suscribirse <b>Ahora</b>!
		    </button><br>
			<span class="font-open-sans font-size-18 font-color-707070 font-light" ng-if="isMembership">
				{{membershipDatas.period_end | date:"dd/MM/yyyy"}}
			</span>
		</div> -->
	<!-- </div>

	<div class="col-xs-12 text-center padding-top-30">
		<button class="btn button bton-green margin-bottom-20" 
			ng-click="nbc.openModal($event,'dialog55');"
			ng-disabled="blockOffer">
			<span ng-show="blockOffer">
				<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
				Crear oferta
			</span>
			<span ng-show="!blockOffer">
				Crear oferta
			</span>
		</button>
	</div>

</div> -->
<div class="container-fluid padding-top-30">
	<div class="col-xs-12 text-left margin-bottom-30"> 
		<span class="font-size-30 font-bold font-open-sans text-blue-soy">Servicios adicionales</span>
	</div>

	<div class="container-fluid padding-top-50" >
		<div class="col-xs-12 text-center">
			<img src="assets/images/soyempleo_preferencias.png" alt="" width="10%"> 
		</div>
		<div class="col-xs-12 text-center padding-top-20">
			<span class="font-bold font-open-sans font-size-16 font-color-707070"> 
				Pronto aquí podrás conseguir
			</span><br>
			<span class="font-light font-open-sans font-size-16 font-color-707070"> 
				servicios que harán tus procesos de cibtratación más fáciles y efectivos
			</span>
		</div>
	</div> 
</div>