<div class="margin-bottom-10 container">
	<div class="col-xs-12 col-sm-6">
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light" for="idNombreContact">
				Nombre completo
			</label>
		</div>	
		<input id="idNombreContact" class="form-control margin-bottom-10" maxlength="200" placeholder="Agrega el nombre del contacto en tú empresa" ng-model="nbc.basicData.contact[0].full_name">
	</div>
	
	<div class="col-xs-12 col-sm-6">
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light" for="idCargoContact">
				Cargo
			</label>
		</div>	
		<input id="idCargoContact" class="form-control margin-bottom-10" rows="5" maxlength="200" placeholder="Cargo en la empresa" ng-model="nbc.basicData.contact[0].position">
	</div>

	<div class="col-xs-12 col-sm-6">
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light" for="idTelContac">
				Teléfono
			</label>
		</div>	
		<input id="idTelContac" class="form-control margin-bottom-10" rows="5" maxlength="200" placeholder="Telefono de Oficina" ng-model="nbc.basicData.contact[0].local_phone">
	</div>

	<div class="col-xs-12 col-sm-6">
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light" for="idEmpleados">
				Celular
			</label>
		</div>	
		<input id="idEmpleados" class="form-control margin-bottom-10" rows="5" maxlength="200" placeholder="Teléfono movil" ng-model="nbc.basicData.contact[0].mobile_phone">
	</div>
		
	<div class="col-xs-12">
		<button class="btn button bton-green" ng-click="nbc.validarGuardarContact();">Guardar</button>
	</div>
</div>