<div class="margin-bottom-10 container">
	<div class="col-xs-12"> 
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light font-size-18" for="idNombreContact">
				Beneficios Extra
			</label>
		</div>
	</div>
	<div class="form-registro">
		<div class="radio col-lg-12 col-md-6 col-sm-12 col-xs-12 margin-top-10 margin-bottom-10 text-left padding-0">
	        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 2%;" ng-repeat="beneficios in nbc.values">
	            <input type="checkbox" id="{{beneficios.id}}" name="{{beneficios.nombre}}" required ng-model="beneficios.value"/><!-- ng-click="nbc.benefitsEditor($index,beneficios.value,beneficios.text);" -->
	            <label for="{{beneficios.id}}" class="font-open-sans font-color-707070 font-light"><span></span> {{beneficios.text}}</label>
	        </div>
	    </div>
	</div>	

	<div class="col-xs-12"> 
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light font-size-18" for="idNombreContact">
				Redes sociales
			</label>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6">
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light" for="idWebsite">
				Sitio web
			</label>
		</div>	
		<input id="idWebsite" class="form-control margin-bottom-10" maxlength="200" placeholder="Sitio web de la empresa" ng-model="nbc.aditionalData.website">
	</div>

	<div class="col-xs-12 col-sm-6">
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light" for="idTwitter">
				Twitter
			</label>
		</div>	
		<input id="idTwitter" class="form-control margin-bottom-10" maxlength="200" placeholder="Link de Twitter" ng-model="nbc.aditionalData.tw_url">
	</div>

	<div class="col-xs-12 col-sm-6">
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light" for="idFacebook">
				Facebook
			</label>
		</div>	
		<input id="idFacebook" class="form-control margin-bottom-10" maxlength="200" placeholder="Link de Facebook" ng-model="nbc.aditionalData.fb_url">
	</div> 

	<div class="col-xs-12 col-sm-6">
		<div class="text-left padding-top-10">
			<label class="font-open-sans font-color-707070 font-light" for="idLinkedin">
				LinkedIn
			</label>
		</div>	
		<input id="idLinkedin" class="form-control margin-bottom-10" maxlength="200" placeholder="Link de LinkedIn" ng-model="nbc.aditionalData.lk_url">
	</div>

	<div class="col-xs-12">
		<button class="btn button bton-green" ng-click="nbc.benefitsEditor();">Guardar</button>
	</div>
</div>