<div class="container-fluid padding-top-30">
	<div class="col-xs-12 col-sm-4 bg-color-EAF0F2 margin-bottom-20" ng-if="!nbc.respondidasLength">
		<div class="col-xs-12 margin-20-10">
			<span class="text-blue-soy font-open-sans font-size-18">
				Estas son algunas preguntas para conocerte mejor. No hay respuestas buenas o malas, solo sé tú mismo y muestra quien eres
			</span>
		</div>
		<div class="col-xs-6 col-xs-offset-3">
			<button class="btn btn-lg button bton-green col-xs-12 margin-bottom-20" ng-click="nbc.comenzarRespuesta();">
				Continuar
			</button>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 bg-color-EAF0F2 margin-bottom-20" ng-if="nbc.preguntasList.questions_not_answered.length && nbc.respondidasLength">
		<div class="col-xs-12 margin-20-10">
			<span class="text-blue-soy font-open-sans font-size-18">
				{{nbc.preguntasList.questions_not_answered[nbc.preguntasCount].description}}
			</span>
		</div>
		<div class="col-xs-12 margin-bottom-20">
			<textarea class="form-control resize-none" rows="5" ng-model="nbc.preguntasRest" maxlength="300"></textarea>
		</div>
		<div class="col-xs-6">
			<button class="btn btn-lg button bton-green col-xs-12 margin-bottom-20" ng-click="nbc.responderPregunta(nbc.preguntasList.questions_not_answered[nbc.preguntasCount].question_id,nbc.preguntasRest);">
				Responder
			</button>
		</div>
		<div class="col-xs-6 preguntas-box">
			<button class="padding-10-16 btn2 border-color-green-soy btn-lg button col-xs-12 margin-bottom-20" ng-click="nbc.saltarPreguntas()">
				Saltar
			</button>
		</div> 
		<div class="col-xs-12 padding-10 text-center">
			<span class="font-open-sans mouse-pointer" style="text-decoration: underline; color: #8d8de2 !important;" ng-click="nbc.goToUrl('/profile/#/preguntas');"> 
				Listado de preguntas y respuestas
			</span>
		</div> 
	</div>
	<div class="col-xs-12" ng-class="nbc.preguntasList.questions_not_answered.length ? 'col-sm-8':''" ng-if="nbc.percentage<98">
		<div class="col-xs-12 margin-bottom-30">
			<span class="font-size-30 font-bold font-open-sans text-blue-soy">Completa tu perfil</span>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-12 col-sm-6 mouse-pointer" ng-click="nbc.goToUrl('/profile/#/experiencia');" ng-if="!nbc.personExp.person_experiences.length || !nbc.personExp.area_time_experiences.length || !nbc.personExp.sector_time_experiences.length">
				<span class="font-size-30 font-green-soy font-open-sans mouse-pointer">
					<i class="fa fa-plus-square-o" aria-hidden="true"></i> Experiencia
				</span>
				<div class="col-xs-12">
					<p class="font-open-sans font-color-c5c5c5">{{nbc.profileData.person.first_name | capitalize}}, aún falta que agregues la experiencia de trabajos anteriores, o aprendizajes significativos...</p> 
				</div>
			</div>			
			<div class="col-xs-12 col-sm-6 padding-bottom-20 mouse-pointer" ng-click="nbc.goToUrl('/profile/#/profesional');" ng-if="!nbc.profileData.person.profile">
				<span class="font-size-30 font-green-soy font-open-sans mouse-pointer">
					<i class="fa fa-plus-square-o" aria-hidden="true"></i> Perfil profesional
				</span>
				<div class="col-xs-12">
					<p class="font-open-sans font-color-c5c5c5">Cuéntanos quien eres y en que te diferencias de los demás...</p>
				</div>
			</div>			
			<div class="col-xs-12 col-sm-6 mouse-pointer" ng-click="nbc.goToUrl('/profile/#/estudios');" ng-if="!nbc.personEstudies">
				<span class="font-size-30 font-green-soy font-open-sans mouse-pointer">
					<i class="fa fa-plus-square-o" aria-hidden="true"></i> Educación
				</span>
				<div class="col-xs-12">
					<p class="font-open-sans font-color-c5c5c5">Agrega también las escuelas, universidades o cursos que tengas...</p>
				</div>
			</div>			
			<div class="col-xs-12 col-sm-6 mouse-pointer" ng-click="nbc.goToUrl('/profile/#/actualiza');" ng-if="!nbc.profileData.person.first_name || !nbc.profileData.person.numb_doc || !nbc.profileData.person.birthdate || !nbc.profileData.person.city_birth || !nbc.profileData.person.act_department || !nbc.profileData.person.act_city || !nbc.profileData.person.local_phone || !nbc.profileData.person.mobile_phone || !nbc.profileData.person.gender || !nbc.profileData.person.vehicle">
				<span class="font-size-30 font-green-soy font-open-sans mouse-pointer">
					<i class="fa fa-plus-square-o" aria-hidden="true"></i> Datos personales
				</span>
				<div class="col-xs-12">
					<p class="font-open-sans font-color-c5c5c5">Necesitamos mas información personal para completar el perfil...</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid padding-top-50" ng-if="nbc.percentage>=98">
		<div class="col-xs-12 text-center">
			<img src="assets/images/person-ico-edit.png" alt="" width="15%"> 
		</div>
		<div class="col-xs-12 text-center padding-top-20">
			<span class="font-bold font-open-sans font-size-16 font-color-707070"> 
				¡Felicidades! tienes un excelente perfil :)
			</span><br>
			<span class="font-light font-open-sans font-size-16 font-color-707070"> 
				Y está listo para buscar ofertas de empleo
			</span>
		</div>
		<div class="col-xs-12 col-sm-4 col-sm-offset-4 text-center padding-top-20">
		<button class="btn button bton-green col-xs-12 margin-bottom-20" onclick="$('#tab-5').prop('checked', true)">
			Buscar ofertas de empleo
		</button>
	</div>
	</div> 
	<div class="col-xs-12 padding-top-50">
		<div class="col-xs-12 col-sm-3 col-sm-offset-3 text-center">
			<iframe id="pdf_container" style="display:none" src=""></iframe>
			<button class="btn btn-lg button bton-green col-xs-12 margin-bottom-20" ng-click="desHojaVida(nbc.profileData.person._id)" ng-disabled="pdfRefresh">
				Descargar hoja de vida
			</button>
		</div>
		<div class="col-xs-12 col-sm-3 text-center">
			<button class="btn btn-lg button bton-green col-xs-12 margin-bottom-20" ng-click="nbc.goProfile();">
				Actualizar hoja de vida
			</button>
		</div>
		<div class="col-xs-12 padding-10 text-center" ng-if="!nbc.preguntasList.questions_not_answered.length">
			<span class="font-open-sans mouse-pointer" style="text-decoration: underline; color: #8d8de2 !important;" ng-click="nbc.goToUrl('/profile/#/preguntas');">
				Listado de preguntas y respuestas
			</span>
		</div>
	</div>
</div>
