<div class="container-fluid padding-top-30">
	<div class="col-xs-12 text-left margin-bottom-30"> 
		<span class="font-size-30 font-bold font-open-sans text-blue-soy">Sobre mí</span>
	</div>

	<div class="col-xs-12 col-sm-6 font-size-18 padding-bottom-30">
		<div class="col-xs-6 text-right padding-left-0">
			<span class="font-bold font-open-sans">
				Documento de identidad:
			</span>
		</div>
		<div class="col-xs-6 text-left">
			<span class="font-light font-open-sans" ng-if="postulates[selected].person.numb_doc">
				{{postulates[selected].person.numb_doc | capitalize:true}}
			</span>
			<span class="font-bold font-open-sans font-green-soy" ng-if="!postulates[selected].person.numb_doc">
				---
			</span>
		</div>

		<div class="col-xs-6 text-right padding-left-0 padding-bottom-10">
			<span class="font-bold font-open-sans">
				Fecha de nacimiento:
			</span>
		</div>
		<div class="col-xs-6 text-left">
			<span class="font-light font-open-sans" ng-if="postulates[selected].person.birthdate">
				{{postulates[selected].person.birthdate | date}}
			</span>
			<span class="font-bold font-open-sans font-green-soy" ng-if="!postulates[selected].person.birthdate">
				---
			</span>
		</div>

		<div class="col-xs-6 text-right padding-left-0 padding-bottom-10">
			<span class="font-bold font-open-sans">
				Lugar de nacimiento:
			</span>
		</div>
		<div class="col-xs-6 text-left">
			<span class="font-light font-open-sans" ng-if="postulates[selected].person.city_birth">
				{{postulates[selected].person.city_birth | capitalize:true}}
			</span>
			<span class="font-bold font-open-sans font-green-soy" ng-if="!postulates[selected].person.city_birth">
				---
			</span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 font-size-18 padding-bottom-30">
		<div class="col-xs-6 text-right padding-left-0 padding-bottom-10">
			<span class="font-bold font-open-sans">
				Licencia de conducir:
			</span>
		</div>
		<div class="col-xs-6 text-left">
			<span class="font-light font-open-sans">
				{{postulates[selected].person.driver_license | sino}}
			</span>
		</div>
		<div class="col-xs-6 text-right padding-left-0 padding-bottom-10" ng-if="postulates[selected].person.driver_license=='S'">
			<span class="font-bold font-open-sans">
				Tipo:
			</span>
		</div>
		<div class="col-xs-6 text-left" ng-if="postulates[selected].person.driver_license=='S'">
			<span class="font-light font-open-sans">
				{{postulates[selected].person.degree_license | capitalize}}
			</span>
		</div>

		<div class="col-xs-6 text-right padding-left-0 padding-bottom-10" ng-if="postulates[selected].person.driver_license=='S'">
			<span class="font-bold font-open-sans">
				Vehiculo propio:
			</span>
		</div>
		<div class="col-xs-6 text-left" ng-if="postulates[selected].person.driver_license=='S'">
			<span class="font-light font-open-sans">
				{{postulates[selected].person.vehicle | sino}}
			</span>
		</div>
	</div>

	<div class="col-xs-12 text-left margin-bottom-30" ng-show="postulates[selected].preguntasList.questions_answered.length"> 
		<span class="font-size-30 font-bold font-open-sans text-blue-soy">Preguntas y respuestas</span>
	</div>

	<div class="col-xs-12 font-size-18 padding-bottom-30" ng-show="postulates[selected].preguntasList.questions_answered.length" ng-repeat="pre in postulates[selected].preguntasList.questions_answered">	
		<div class="col-xs-12 text-left"> 
			<span class="font-bold font-open-sans text-blue-soy">{{pre.question | capitalize}}</span>
		</div>
		<div class="col-xs-12 text-left"> 
			<span class="font-light font-open-sans">{{pre.answer | capitalize}}</span>
		</div>
	</div>

	<div class="col-xs-12 text-center margin-bottom-30 margin-top-40">
		<!-- <div class="col-xs-12 col-sm-4 especial" >
			<button class="btn button col-xs-12 margin-bottom-20" ng-click="cambiarEstatus(postulates[selected]._id,postulates[selected].estado1);" ng-disabled="postulates[selected].isDescartado || postulates[selected].IsContratado" ng-class="postulates[selected].isDescartado || postulates[selected].IsContratado ? 'bton-gray-disabled':'bton-green'">
				{{postulates[selected].estado2}} candidato
			</button>
		</div>
		<div class="col-xs-12 col-sm-4 especial">
			<button class="btn button col-xs-12 margin-bottom-20" ng-click="cambiarEstatus(postulates[selected]._id,'descartado');" ng-disabled="postulates[selected].isDescartado" ng-class="postulates[selected].isDescartado ? 'bton-gray-disabled':'bton-danger-invert'">
				Descartar candidato 
			</button>
		</div> -->
		<div class="col-xs-12 col-sm-4 especial">
			<button class="btn button bton-green-invert col-xs-12 margin-bottom-20" ng-click="nbc.goToUrl('/#/postulados');">
				Volver al listado
			</button>
		</div>
	</div>
</div>