<div class="container-fluid padding-top-30">
	<div class="col-xs-12 text-left margin-bottom-30 padding-left-30 padding-right-30">
		<span class="font-size-30 font-bold font-open-sans text-blue-soy">Completa tu perfil</span>
		<!-- <button ng-click="nbc.openModal($event,'dialog55');">
			modal prueba
		</button> -->
	</div>
	<div class="dropdownw col-xs-12 padding-left-30 padding-right-30">  
		<div class="col-xs-12">
			<button ng-click="nbc.openDropdown(1);" class="dropbtnw background-color-inherit border-none  width-100 font-size-20 text-left margin-10"><!-- dropbtnw-style clase para colocar una flechita verde indicando que habre hacia abajo, esto va en la clase del boton -->
				<span class="font-size-30 font-green-soy font-open-sans mouse-pointer">
					<i class="fa fa-plus-square-o" aria-hidden="true"></i> Datos básicos
				</span>
				<div class="col-xs-12">
					<p class="font-open-sans font-color-707070 font-light">Completa los datos básicos de empresa</p>
				</div>
			</button>
			<div id="myDropdown1" class="dropdownw-content text-center padding-20-50-md">
				<div ng-include="'public/app/sections/dashboard-empresa-perfil-basic.html'"></div>
		    </div>
		</div>
		<div class="col-xs-12"> 
			<button ng-click="nbc.openDropdown(2);" class="dropbtnw background-color-inherit border-none  width-100 font-size-20 text-left margin-10"><!-- dropbtnw-style clase para colocar una flechita verde indicando que habre hacia abajo, esto va en la clase del boton -->
				<span class="font-size-30 font-green-soy font-open-sans mouse-pointer">
					<i class="fa fa-plus-square-o" aria-hidden="true"></i> Logo de la empresa
				</span>
				<div class="col-xs-12">
					<p class="font-open-sans font-color-707070 font-light">Coloca el logo de tu empresa aquí</p>
				</div>
			</button>
			<div id="myDropdown2" class="dropdownw-content text-center padding-20-50-md">
				<div class="container">
					<div class="col-xs-12">
	                    <img class="img-responsive center-block thumbnail" src="{{userAvatar}}" alt="Logo de la empresa">
	                    <button class="btn btn-lg button bton-green margin-top-10" ng-click="nbc.openModal($event,'dialog3');">
	                    	Cargar logo
	                    </button>
	                </div>
				</div>
		    </div>
		</div>
		<div class="col-xs-12">
			<button ng-click="nbc.openDropdown(3);" class="dropbtnw background-color-inherit border-none  width-100 font-size-20 text-left margin-10"><!-- dropbtnw-style clase para colocar una flechita verde indicando que habre hacia abajo, esto va en la clase del boton -->
				<span class="font-size-30 font-green-soy font-open-sans mouse-pointer">
					<i class="fa fa-plus-square-o" aria-hidden="true"></i> Persona de contacto
				</span>
				<div class="col-xs-12">
					<p class="font-open-sans font-color-707070 font-light">La persona de su empresa con la que SoyEmpleo contactará</p>
				</div>
			</button>
			<div id="myDropdown3" class="dropdownw-content text-center padding-20-50-md">
				<div ng-include="'public/app/sections/dashboard-empresa-perfil-contact.html'"></div>
		    </div>
		</div>
		<div class="col-xs-12">
			<button ng-click="nbc.openDropdown(4);" class="dropbtnw background-color-inherit border-none  width-100 font-size-20 text-left margin-10"><!-- dropbtnw-style clase para colocar una flechita verde indicando que habre hacia abajo, esto va en la clase del boton -->
				<span class="font-size-30 font-green-soy font-open-sans mouse-pointer">
					<i class="fa fa-plus-square-o" aria-hidden="true"></i> Datos adicionales
				</span>
				<div class="col-xs-12">
					<p class="font-open-sans font-color-707070 font-light">Información adicional acerca de tú empresa</p>
				</div>
			</button>
			<div id="myDropdown4" class="dropdownw-content text-center padding-20-50-md">
				<div ng-include="'public/app/sections/dashboard-empresa-perfil-aditional.html'"></div>
		    </div>
		</div>
		<div class="col-xs-12">
			<button ng-click="nbc.openDropdown(5);" class="dropbtnw background-color-inherit border-none  width-100 font-size-20 text-left margin-10"><!-- dropbtnw-style clase para colocar una flechita verde indicando que habre hacia abajo, esto va en la clase del boton -->
				<span class="font-size-30 font-green-soy font-open-sans mouse-pointer">
					<i class="fa fa-plus-square-o" aria-hidden="true"></i> Imagenes adicionales
				</span>
				<div class="col-xs-12">
					<p class="font-open-sans font-color-707070 font-light">Sube fotos de las oficinas o equipos de trabajo, los candidatos valoran esto.</p>
				</div>
			</button>
			<div id="myDropdown5" class="dropdownw-content text-center padding-20-50-md">
				<div ng-include="'public/app/sections/dashboard-empresa-perfil-fotos.html'"></div>
		    </div>
		</div>
	</div>
	<!-- <div class="col-xs-12 padding-top-50 text-center padding-left-30 padding-right-30">
		<button class="btn btn-lg button bton-green margin-bottom-20" ng-click="nbc.goProfile();">
			Actualizar perfil
		</button>
	</div> -->

	<div id="div-gray-dashboard" class="col-xs-12 padding-top-50 padding-bottom-50 text-center bg-color-EAF0F2 margin-top-30">
		<div class="col-xs-12 col-sm-6 text-center border-right-818181 padding-bottom-50 padding-top-50">
			<span class="font-open-sans font-size-40 font-color-818181 font-bold">
				{{nbc.numOffers}}
			</span><br>
			<span class="font-open-sans font-size-18 font-color-707070 font-light">
				Ofertas creadas
			</span>
		</div>
		<div class="col-xs-12 col-sm-6 text-center padding-bottom-50 padding-top-50"><!-- border-right-818181  -->
			<span class="font-open-sans font-size-40 font-color-818181 font-bold">
				{{nbc.postuladosTotal}}
			</span><br>
			<span class="font-open-sans font-size-18 font-color-707070 font-light">
				Postulados en total
			</span>
		</div>
		<!-- <div class="col-xs-12 col-sm-4 text-center padding-bottom-50 padding-top-50">
			<span class="font-open-sans font-size-20 text-blue-soy font-bold" >
				 {{isMembership ? 'Membresia activa':'Sin membresia activa'}}
			</span><br>
			<span class="font-open-sans font-size-18 text-blue-soy font-light" ng-if="isMembership">
				Fecha proximo pago:
			</span>
			<button ng-redirect="/membership" 
				class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30 "
				ng-if="!isMembership"> 	¡Suscribirse <strong>Ahora</strong>!
		    </button><br>
			<span class="font-open-sans font-size-18 font-color-707070 font-light" ng-if="isMembership">
				{{membershipDatas.period_end | date:"dd/MM/yyyy"}}
			</span>
		</div> -->
	</div>
	<div class="container padding-left-0 padding-right-0">
	    	<div class="col-xs-12 text-center margin-bottom-20 margin-top-50">
				<span class="font-size-35 text-blue-soy font-open-sans" ng-if="!nbc.textSwitch">
					¿Por qué buscar personal en <strong>SoyEmpleo.com?</strong>
				</span>

				<span class="font-size-35 font-green-soy font-open-sans" ng-if="nbc.textSwitch">
					¿Por qué registrarme en <strong>SoyEmpleo.com?</strong>
				</span>
	    	</div>
	    	<div class="col-xs-12 col-sm-4 text-center">
	    		<span class="margin-bottom-20">
					<img src="assets/images/fav2web.png" alt="" width="30%" class="margin-20">
				</span>
				<p class="font-size-17" ng-if="!nbc.textSwitch">
					<strong>Ahorramos 60% de tu tiempo</strong> en el proceso de reclutamiento y selección
				</p>
				<p class="font-size-17" ng-if="nbc.textSwitch">
					<strong>Las mejores empresas</strong> buscan personal en SoyEmpleo.com
				</p>
	    	</div>
	    	<div class="col-xs-12 col-sm-4 text-center">
	    		<span class="margin-bottom-20">
					<img src="assets/images/favweb.png" alt="" width="30%" class="margin-20">
				</span>
				<p class="font-size-17" ng-if="!nbc.textSwitch">
					<strong>En 24 horas</strong> ya tienes los candidatos ideales
				</p>
				<p class="font-size-17" ng-if="nbc.textSwitch">
					<strong>Te ayudamos a crecer profesionalmente.</strong> Sólo te remitimos a empleos que mejoren tus condiciones actuales.
				</p>
	    	</div>
	    	<div class="col-xs-12 col-sm-4 text-center">
	    		<span class="margin-bottom-20">
					<img src="assets/images/handsgivingweb.png" alt="" width="30%" class="margin-20">
				</span>
				<p class="font-size-17" ng-if="!nbc.textSwitch">
					Apoyamos la selección en <strong>manos de expertos</strong>
				</p>
				<p class="font-size-17" ng-if="nbc.textSwitch">
					Las oportunidades llegan a ti, escucha ofertas de las <strong>mejores empresas.</strong>
				</p>
	    	</div>
	    	<div class="col-xs-12 margin-top-30 margin-bottom-30 text-center">
	    		<button ng-click="nbc.openModal($event,'dialog55');" 
	    			class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30"
	    			ng-disabled="blockOffer">
	    			<span ng-show="blockOffer">
						<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
						Crear oferta
					</span>
					<span ng-show="!blockOffer">
						Crear oferta
					</span>
		    	</button>
		    	<button ng-redirect="/persona" class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30" ng-if="nbc.textSwitch">¡Registrarse <strong>Ahora</strong>! 
		    	</button>
	    	</div>
    	</div>
    	<div ng-include="'public/app/sections/imagenDialogLogo.html'"></div>
</div>