<style>
    md-dialog {
        min-width: 650px;
    }
    md-dialog-actions{
        padding: 10px !important;
        margin: 10px !important;
    }
</style>
<script type="text/ng-template" id="dialog5.tmpl.html" style="width:900px;height:810px;">  
    <md-dialog aria-label="">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Selecciónar Imagen</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>

            <div class="md-dialog-content">
                <div id="kv-avatar-errors" class="center-block" style="width:800px;display:none"></div>
                <div class="container" style="padding: 10px !important; width: 280px !important;">
                    <form id="empreAditional2" name="upload" ng-submit="uploadFile2()" class="text-center" method="post">
                        <div class="kv-avatar center-block" style="width:200px">

                            <input id="avatar" name="avatar" type="file" class="file-loading" uploader-model="officePhoto" onchange="angular.element(this).scope().file_changed(this)"/>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-if="uploadGo">
                            <button ng-click="uploadFile()" style="padding-top: 5px;padding-bottom: 5px;margin-left: 30%;" class="btn btn-lg bton-green"><i class="fa fa-upload"> Agregar imagen</i></button>
                        </div>
                        <div class="col-xs-12" ng-if="uploadChange">
                            <span style="margin-top: 4% !important;"><img src="../assets/css/img/loading.gif" alt=""></span>
                        </div>
                        <div id="divLoader" style="display: none;" class="text-center col-xs-12">
                            <span style="margin-top: 4% !important;"><strong>Cargando imagen, por favor espere.</strong></span>
                        </div>

                    </form>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row paddin-10">
            <div>
                <button class="btn btn-lg bton-green" ng-click="cancel()">
                    Cancelar
                </button>
            </div>
            

        </md-dialog-actions>
    </md-dialog>
</script>
