<style>
    md-dialog {
        min-width: 90%;
    }
    md-dialog-actions{
        padding: 10px !important;
        margin: 10px !important;
    }
</style>
<script type="text/ng-template" id="dialog55.tmpl.html" style="width:70%;height:810px;">  
    <md-dialog aria-label="">
        <!-- <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>paquete</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar> -->

        <md-dialog-content>
            
            <div class="md-dialog-content">
                <div id="kv-avatar-errors" class="center-block" style="width:800px;display:none"></div>
                <div class="container" style="padding: 10px !important;">
                    <div class="col-xs-12 text-center padding-top-40">
                        <span class="font-size-40 font-bold font-open-sans text-blue-soy">¿Quieres postularte?</span>
                    </div>
                    
                    <div class="col-xs-12 text-center padding-bottom-40">
                        <p class="padding-top-20 font-open-sans font-bold font-color-707070 font-size-18">
                            Antes debes iniciar sesión, o registrarte cómo nuevo usuario
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-sm-offset-2 text-center">
                        <button class="btn btn-lg bton-green font-size-30 font-open-sans font-bold" 
                            ng-click="goToUrl('#/persona');cancel();">
                            Registarse 
                        </button>
                        
                    </div>
                    <div class="col-xs-12 col-sm-4 text-center padding-bottom-40">
                        <button class="btn btn-lg bton-green font-size-30 font-open-sans font-bold" 
                            ng-click="goToUrl('#/login');cancel();">
                            Iniciar sesión 
                        </button>
                    </div>
                    <div class="col-xs-12 text-center paddingbottom-40">
                        <p class="padding-top-20 font-open-sans font-bold font-color-707070 font-size-18">
                            "Podrás postularte a la oferta que deseas"
                        </p>
                        <span style="color:red">* </span><span class="font-open-sans font-light font-colo-707070">Totalmente GRATIS</span>
                    </div>

                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 border-top-2px border-color-c5c5c5 padding-top-40 text-center" ng-if="!isPackage">
                        <p class="font-open-sans font-bold font-color-707070 font-size-18">
                            ¿Necesitas contactarnos?
                        </p>
                        <button class="btn btn-lg bton-green" ng-click="cancel();goToUrl('/#/contacto/')">
                            Contacto
                        </button>
                        <button class="btn btn-lg bton-orange" ng-click="cancel()">
                            Cancelar
                        </button>
                    </div> 
                </div>
            </div>
        </md-dialog-content>

        <!-- <md-dialog-actions layout="row paddin-10">
            <div class="col-xs-12 text-center"ng-if="isPackage">
                <button class="btn btn-lg bton-green" ng-click="cancel()">
                    Finalizar
                </button>
            </div> 
            <div class="col-xs-12 text-center"ng-if="!isPackage">
                <p class="font-open-sans font-bold font-color-707070 font-size-18">
                    ¿Necesitas encontrar mas de dos empleados?
                </p>
                <button class="btn btn-lg bton-green" ng-click="goPackage()">
                    Ver Paquetes
                </button>
            </div> 
        </md-dialog-actions> -->
    </md-dialog>
</script>
