<script type="text/ng-template" id="myPopoverTemplate.html">
    <div class="row popover-header border-bottom-1px border-color-c5c5c5">
      <span ng-click="toggleNotas(item);" 
        class="mouse-pointer" 
        style="outline: 0;position: absolute;top: 5px;right: 5px;">
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    	<div class="col-xs-12 padding-top-8 padding-bottom-5">
    		<div class="col-xs-2 padding-0">
          <div class='sprite {{item.person.sprite}} img-circle' 
            ng-if="!item.person.avatar"></div>
    			<img ng-src="{{item.person.avatar}}" 
        		class="img-circle" 
        		alt="msj1" 
        		width="40" 
        		height="40"
            ng-if="item.person.avatar">
    		</div>
    		<div class="col-xs-10 padding-0">
				<div class="col-xs-12 padding-0">
					<p class="font-open-sans font-green-soy font-bold font-size-12" 
            style="width: 220px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin: 0px !important;"
            title="{{item.person.first_name | capitalize:true }} {{item.person.last_name | capitalize:true }}">
						{{item.person.first_name | capitalize:true }} {{item.person.last_name | capitalize:true }}
					</p>
					<p class="font-open-sans font-bold font-size-10 font-color-707070"
            style="width: 220px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin: 0px !important;"
            title="{{item.person.title | capitalize }}">
            {{item.person.title | capitalize }}
					</p>
					<p class="font-open-sans font-bold font-size-10 font-color-c5c5c5"
            style="width: 220px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin: 0px !important;"
            title="{{item.person.email }}">
            {{item.person.email }}
					</p>
				</div>
    		</div>
    	</div>
    </div>
    
    <div id='popover-content2' class="popover-content2">
    	<div id="nota{{nota._id}}"
            class="row padding-top-5 padding-bottom-5 margin-top-5 margin-bottom-5 bubble-chat"
            ng-repeat="nota in item.notas" 
            ng-if="item.notas.length" 
            ng-class="{ 'bubble-chat-error': (nota.errorDelete || nota.errorSend || nota.errorEdit) && nota.authorType=='company', 'bubble-chat': !nota.errorDelete && !nota.errorSend && !nota.errorEdit && nota.authorType=='company', 'bubble-chat2':nota.authorType!='company'}"
            style="position: relative;">
	    	<div class="col-xs-2">
	    		<img ng-src="{{nota.authorAvatar}}" 
                    class="img-circle" 
            		alt="{{userAvatar}}" 
            		width="40" 
            		height="40"
                    ng-if="!nota.is404"
                    on-src-error='nota'>

                <img ng-src="{{onSrcFail}}" 
                    class="img-circle" 
                    alt="IMG" 
                    width="40" 
                    height="40"
                    ng-if="nota.is404">
	    	</div>
	        <div class="col-xs-10">
          		<div class="col-xs-12 padding-0">
          			<div class="col-xs-10 padding-0 text-left">
                  <p class="font-open-sans text-blue-soy font-bold font-size-12" 
                    style="width: 154px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin: 0px !important;"
                    title="{{nota.authorName | capitalize:true }}">
                    {{nota.authorName | capitalize:true }}
                  </p>
          			</div>
                <div class="col-xs-1 padding-0 text-right" ng-if="nota.authorType=='company'" ng-hide='nota.deleting' ng-show="!nota.errorDelete && !nota.errorSend">
                  <span class="mouse-pointer" ng-click="prepararEdit(nota,item);" style="outline: 0;">
                    <i class='fa fa-pencil' aria-hidden='true'></i>
                  </span>
                </div>
          			<div class="col-xs-1 padding-0 text-right" ng-hide='nota.deleting' ng-if="nota.authorType=='company'">
          				<span class="mouse-pointer" ng-click="eliminarNota(nota,item);" style="outline: 0;">
      							<i class='fa fa-times' aria-hidden='true'></i>
      						</span>
          			</div>
                <div class="col-xs-2 padding-0 text-right" ng-show='nota.deleting'>
                  <span>
                    <i class='fa fa-circle-o-notch fa-spin' aria-hidden='true'></i>
                  </span>
                </div>
          		</div>
          		<div class="col-xs-12 padding-0">
          			<p class="font-open-sans font-color-707070 font-size-10 font-open-sans font-bold break-word">
						{{nota.comment}}
						<br>
						<span class="font-open-sans font-color-c5c5c5 font-size-10 font-light">
							{{nota.updated_at | date:'d MMMM, y h:mm a' | capitalize:true }}
						</span><br ng-if="nota.errorDelete || nota.errorSend || nota.errorEdit">
            <span class="font-open-sans font-color-c5c5c5 font-size-10 font-bold" style="color:red;" ng-if="nota.errorDelete && !nota.errorSend">
              Error al borrar
            </span>
            <span class="font-open-sans font-color-c5c5c5 font-size-10 font-bold" style="color:red;" ng-if="!nota.errorDelete && nota.errorSend">
              Error al enviar <span class="mouse-pointer" ng-click="reenviarNota(nota,item._id);" style="text-decoration: underline;">Reenviar</span>
            </span>
            <span class="font-open-sans font-color-c5c5c5 font-size-10 font-bold" style="color:red;" ng-if="!nota.errorDelete && !nota.errorSend && nota.errorEdit">
              Error al editar
            </span>
					</p>
          		</div>
	        </div>
	    </div>

      <div class="row padding-top-5 padding-bottom-5 margin-top-5 margin-bottom-5 bubble-chat" ng-if="!item.notas.length">
        <div class="col-xs-12 text-center">
          <span class="font-color-c5c5c5 font-size-50" ng-show='item.dynamicPopover.isAjax'>
            <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
          </span>
          <span class="font-color-c5c5c5 font-size-20 font-light font-open-sans" ng-hide='item.dynamicPopover.isAjax'>
            Sin notas
          </span>
        </div>
      </div>
	</div>

    <div class="row popover-footer">
    	<div class="col-xs-9 padding-top-8 padding-bottom-5">
    		<input id='notaInput' 
          type="text" 
          placeholder="Escribir nota" 
          ng-model='item.textoNota' 
          ng-enter="cargarChat(companyInfo.user_id,userAvatar,item);" 
          maxlength="250" 
          ng-hide="item.isEdit">

        <input id='notaInput' 
          type="text" 
          placeholder="Escribir nota" 
          ng-model='item.textoNota' 
          ng-enter="editarNota(item);" 
          maxlength="250" 
          ng-show="item.isEdit">
    	</div>
    	<div class="col-xs-3 padding-top-5 padding-bottom-5">
    		<button class="btn btn-green" 
    			ng-click="cargarChat(companyInfo.company_basicdata.social_name || companyInfo.company_basicdata.name,userAvatar,item);"
    			style="outline: none;"
          ng-disabled='item.dynamicPopover.isAjax' ng-if="!item.isEdit">
          <span ng-hide='item.dynamicPopover.isAjax'>
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </span>
          <span ng-show='item.dynamicPopover.isAjax'>
            <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
          </span>
        </button>
        <button class="btn btn-green" 
          ng-click="editarNota(item);"
          style="outline: none;"
          ng-disabled='item.dynamicPopover.isAjax' ng-if="item.isEdit">
          <span ng-hide='item.dynamicPopover.isAjax'>
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </span>
          <span ng-show='item.dynamicPopover.isAjax'>
            <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
          </span>
        </button>
    	</div>
    </div>
</script>