<!-- <div class="col-xs-1 col-xs-offset-10 col-sm-2 col-sm-offset-10 soy-empleo-flotante text-center top-200" ng-if="noc.isBasicValid">
    <div class="hidden-xs col-sm-6"> 
        <img src="assets/images/percent-{{noc.pasosCompletado}}.png" alt="Porcentaje completado" width="100" height="80">
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-6 progress vertical-bar">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{noc.barraCompletado}}%;">
        </div>
    </div>
    <div class="col-xs-12 padding-top-10">
        <span class="text-orange font-size-20 font-weight-700 text-avance">{{noc.barraCompletado}}%</span>
    </div> 
</div> --> 

<section id="section1" class="section section-blanco margin-0 text-center" ng-if="noc.isBasicValid">
    <div class="col-xs-12 margin-0 text-center border-bottom-2px border-color-c5c5c5 padding-10" ng-if="!isEdit"> 
        <div class="col-xs-12 col-sm-2 text-left">
            <p class="font-green-soy font-open-sans font-bold margin-top-10 mouse-pointer" ng-click="noc.goDashboard();">
                <i class="fa fa-chevron-left" aria-hidden="true"></i> Volver a mi perfil
            </p>
        </div>
        <div class="col-xs-12 col-sm-8 text-center">
            <p class="text-blue-soy font-open-sans font-bold margin-top-10" style="font-size: 25px !important;">
                ¡Perfecto! Ahora llenemos ciertos requisitos de la oferta
            </p>
        </div> 
    </div> 
    
    <div class="container" id="sect1">

            <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-40 padding-bottom-40">
                <div id="div_0" class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <p class="padding-left-20 padding-right-20 font-open-sans font-light" style="text-align:center;">En el siguente espacio describe tu oferta, escribe algo que anime a las personas a postularse y que los motive a trabajar en la empresa<span style="color:red;" ng-show="noc.camposValidos[0] && noc.jobDescription==''"> (Obligatorio)</span></p>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center padding-top-10">
                    <textarea name="jobDescription" placeholder="Agrega una breve descripción de la oferta, esto es esencial para que los candidatos sepan lo que la empresa necesita..." rows="5" cols="2" ng-model="noc.jobDescription" class="form-control fondo-eaeaea" maxlength="250" style="resize:none;" required data-ng-class='{ error: formDatos.jobDescription.$invalid && formDatos.jobDescription.$dirty,
                                success: formDatos.jobDescription.$valid && formDatos.jobDescription.$dirty}'></textarea>
                </div>  
            </div>

            <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-40 padding-bottom-40 padding-left-0 border-color-707070 border-top-1px">
                <div class="col-xs-12 padding-top-40">
                    <div id="div_1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <p class="padding-left-20 padding-right-20 text-blue-soy" style="text-align:center;"><strong>Funciones a desempeñar</strong><span style="color:red;" ng-show="noc.camposValidos[1] && noc.funcionesSelected.length == 0"> (Obligatorio)</span></p>
                    </div>
                    <div class="col-xs-12 padding-left-0">
                        <div class="margin-5">
                            <!-- <md-autocomplete 
                                class="fondo-eaeaea"
                                ng-disabled="false" 
                                md-no-cache="true" 
                                md-selected-item="noc.selectedItem" 
                                md-search-text-change="noc.searchTextChange(noc.funcion)" 
                                md-search-text="noc.funcion" 
                                md-selected-item-change="noc.selectedItemChange(item)" 
                                md-items="item in noc.querySearch(noc.funcion,noc.habilidades)" 
                                md-item-text="item.display" 
                                md-min-length="0" 
                                md-max-length="80"
                                ng-enter="noc.preFuncSelected(noc.funcion)"
                                placeholder="Agregar las Funciones o Habilidades"
                                hasBackdrop='false'>

                                <md-item-template>
                                    <span md-highlight-text="noc.searchText" md-highlight-flags="^i">{{item.display}}</span>
                                </md-item-template>
                            </md-autocomplete> -->
                            <angucomplete 
                                id="ex2" 
                                ng-enter="noc.preFuncSelected($('#ex1222_value').val())"
                                placeholder="Agregar las Funciones o Habilidades" 
                                pause="100"
                                selectedobject="noc.funcion" 
                                localdata="noc.habilidades" 
                                name="funcionSearch" 
                                searchfields="name" 
                                titlefield="name" 
                                minlength="1" 
                                maxlength="100" 
                                inputclass="form-control form-control-small fondo-eaeaea" 
                                ng-required="noc.carreraRequerida=='si'" 
                                ng-class='{ error: formDatos.funcionSearch.$error.required}'/>
                        </div>
                    </div> 
                    <div class="col-xs-6 col-xs-offset-3 padding-top-20">
                        <button id="btn-func" class="btn bton-green padding-right-15 padding-left-15"  ng-click="noc.preFuncSelected(noc.funcion);" ng-disabled="noc.tieneFunc()">Agregar función</button>
                    </div>                                       
                </div>
            </div>

            <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-10 padding-left-0">
                <div class="selected-box">
                    <ul style="padding: 0">
                        <li class="ellipsis" ng-repeat="funcion in noc.funcionesSelected">
                            <span class="text-left">
                                <a href="" ng-click="noc.eliminarFuncion($index);" style="display: inline-block;">
                                    <img src="assets/images/icon-eliminar.png" style="padding-bottom: 0px !important; width:15px; height:15px; float:right;">
                                </a>
                                <strong>{{funcion.name}}</strong>
                            </span>
                        </li>
                        <li class="ellipsis" ng-repeat="i in noc.repetidorFun">
                            <span class="text-left">
                                <strong>
                                    &nbsp;
                                </strong>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-10 border-bottom"></div>

            <div id="contract" class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-10">
                <span id="linea2" class="hidden-xss"></span>
                <div id="div_2" class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <p class="padding-left-20 padding-right-20 text-blue-soy" style="text-align:center;"><strong>Tipo de contrato</strong><span style="color:red;" ng-show="noc.camposValidos[2] && noc.contrato==''"> (Obligatorio)</span></p>
                </div>
                <div class="col-xs-5ths text-center">
                    <span class="padding-left-20 padding-right-20 " style="text-align:center;"><strong class="dinamic-text-size"><label for="contrato1">Indefinido</label></strong></span>
                </div> 
                <div class="col-xs-5ths text-center">
                    <span class="padding-left-20 padding-right-20 dinamic-text-size" style="text-align:center;"><strong><label for="contrato2">Fijo</label></strong></span>
                </div> 
                <div class="col-xs-5ths text-center">
                    <span id="obra" class="padding-left-20 padding-right-20 dinamic-text-size" style="text-align:center;"><strong><label for="contrato3">Obra/Labor</label></strong></span>
                </div> 
                <div class="col-xs-5ths text-center">
                    <span class="dinamic-text-size" style="text-align:center;"><strong><label for="contrato4">Prest. Servicios</label></strong></span>
                </div> 
                <div class="col-xs-5ths text-center">
                    <span class="padding-left-20 padding-right-20 dinamic-text-size" style="text-align:center;"><strong><label for="contrato5">Otro</label></strong></span>
                </div> 
                
                <div class="radio col-xs-12 margin-top-10 margin-bottom-10 text-left padding-0 margin-bottom-30">
                    <div class="col-xs-5ths padding-0 text-center radioLineal" ng-click="noc.contrato='Indefinido'">
                        <input type="radio" id="contrato1" name="contrato" value="Indefinido" required ng-model="noc.contrato"/>
                        <label for="contrato1"><span></span></label>
                    </div>
                    <div class="col-xs-5ths padding-0 text-center radioLineal" ng-click="noc.contrato='Fijo'">
                        <input type="radio" id="contrato2" name="contrato" value="Fijo" required ng-model="noc.contrato"/>
                        <label for="contrato2"><span></span></label>
                    </div>
                    <div class="col-xs-5ths padding-0 text-center radioLineal" ng-click="noc.contrato='Obra/Labor'">
                        <input type="radio" id="contrato3" name="contrato" value="Obra/Labor" required ng-model="noc.contrato"/>
                        <label for="contrato3"><span></span></label>
                    </div>
                    <div class="col-xs-5ths padding-0 text-center radioLineal" ng-click="noc.contrato='Prest. Servicios'">
                      <input type="radio" id="contrato4" name="contrato" value="Prest. Servicios" required ng-model="noc.contrato"/>
                      <label for="contrato4"><span></span></label>
                    </div>
                    <div class="col-xs-5ths padding-0 text-center radioLineal" ng-click="noc.contrato='Otro'">
                      <input type="radio" id="contrato5" name="contrato" value="Otro" required ng-model="noc.contrato"/>
                      <label for="contrato5"><span></span></label>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-10 border-bottom"></div>
            
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-10">
                <div id="div_3" class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <p class="padding-left-20 padding-right-20 text-blue-soy" style="text-align:center;"><strong>Salario</strong><span style="color:red;" ng-show="noc.camposValidos[3] && noc.total < 343500"> (Obligatorio)</span></p>
                </div>
                
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-bottom-10">
                    <input numbers-only maxlength="20" type="text" class="fondo-eaeaea" ng-model="noc.salario" placeholder="Salario" required ng-keyup="noc.sumatotal();">
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-bottom-10">
                    <input numbers-only maxlength="20" type="text" class="fondo-eaeaea" ng-model="noc.comisiones" placeholder="Comisiones" ng-keyup="noc.sumatotal();">
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-bottom-10">
                    <input type="text" class="fondo-eaeaea" ng-model="noc.total" placeholder="TOTAL" disabled>
                </div>
                <div class="col-xs-12">
                    <p class="padding-left-20 padding-right-20" style="text-align:center;"><span style="color:red;" ng-show="noc.total< 343500 && noc.total != 0"> El salario mínimo permitido es de $ 343.500</span></p>
                </div>
                <div class="radio col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left margin-top-10 margin-bottom-10">
                  <div id="div_4" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-0">
                    <span>¿Mostrar salario en la oferta?</span>
                    <span style="color:red;" ng-show="noc.camposValidos[4] && (noc.mostrarSalario== '' || noc.mostrarSalario==null)"> (Obligatorio)</span>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 padding-0" ng-click="noc.mostrarSalario='Si'">
                    <input type="radio" id="t1" name="mostrarSalario" value="Si" required ng-model="noc.mostrarSalario"/>
                    <label for="t1"><span></span> SI</label>
                  </div>
                  <div id="idSalario" class="col-lg-3 col-md-3 col-sm-3 col-xs-6 padding-0" ng-click="noc.mostrarSalario='No';noc.preguntaSalario();">
                    <input type="radio" id="t2" name="mostrarSalario" value="No" required ng-model="noc.mostrarSalario" ng-click="noc.preguntaSalario();"/>
                    <label for="t2"><span></span> NO</label>
                  </div>
                </div>
            </div>            
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-10 border-bottom"></div>
            <!-- <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-10 padding-bottom-20 text-center">
                <img src="assets/images/arrow_registro.png" alt="Continuar" class="mouse-click" ng-click="noc.gotoId('#section2');">
            </div> -->
    </div>   
</section>

<section id="section2" class="section section-blanco margin-0 text-center" ng-if="noc.isBasicValid">
    <!-- <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
        <h1>Estudios</h1>
    </div> -->

    <div class="container" id="sect2">
            
            <div id="levelOffers" class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-40">
                <span id="linea" class="hidden-xss"></span>
                <div id="div_5" class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <p class="padding-left-20 padding-right-20 text-blue-soy" style="text-align:center;"><strong>Estudios - Nivel Profesional</strong><span style="color:red;" ng-show="noc.camposValidos[5] && noc.nivelRequerido==''"> (Obligatorio)</span></p>
                </div>

                <div class="col-xs-5ths text-center">
                    <span class="padding-left-20 padding-right-20 " style="text-align:center;"><strong class="dinamic-text-size"><label for="level1">Ninguno</label></strong></span>
                </div> 
                <div class="col-xs-5ths text-center">
                    <span class="padding-left-20 padding-right-20 dinamic-text-size" style="text-align:center;"><strong><label for="level2">Bachiller</label></strong></span>
                </div> 
                <div class="col-xs-5ths text-center">
                    <span class="padding-left-20 padding-right-20 dinamic-text-size" style="text-align:center;"><strong><label for="level3">Técnico</label></strong></span>
                </div> 
                <div class="col-xs-5ths text-center">
                    <span class="padding-left-20 padding-right-20 dinamic-text-size" style="text-align:center;"><strong><label for="level4">Profesional</label></strong></span>
                </div> 
                <div class="col-xs-5ths text-center">
                    <span class="padding-left-20 padding-right-20 dinamic-text-size" style="text-align:center;"><strong><label for="level5">Postgrado</label></strong></span>
                </div>

                <div class="radio col-xs-12 margin-top-10 padding-0 margin-bottom-30">
                    <div class="col-xs-5ths padding-0 text-center radioLineal" ng-click='noc.nivelRequerido="Ninguno"'>
                      <input type="radio" id="level1" name="nivel" value="Ninguno" required ng-model="noc.nivelRequerido"/>
                      <label for="level1"><span></span></label>
                    </div>
                    <div class="col-xs-5ths padding-0 text-center radioLineal" ng-click='noc.nivelRequerido="Bachiller"'>
                      <input type="radio" id="level2" name="nivel" value="Bachiller" required ng-model="noc.nivelRequerido"/>
                      <label for="level2"><span></span></label>
                    </div>
                    <div class="col-xs-5ths padding-0 text-center radioLineal" ng-click='noc.nivelRequerido="Técnico"'>
                      <input type="radio" id="level3" name="nivel" value="Técnico" required ng-model="noc.nivelRequerido"/>
                      <label for="level3"><span></span></label>
                    </div>
                    <div class="col-xs-5ths padding-0 text-center radioLineal" ng-click='noc.nivelRequerido="Profesional"'>
                      <input type="radio" id="level4" name="nivel" value="Profesional" required ng-model="noc.nivelRequerido"/>
                      <label for="level4"><span></span></label>
                    </div>
                    <div class="col-xs-5ths padding-0 text-center radioLineal" ng-click='noc.nivelRequerido="Postgrado"'>
                      <input type="radio" id="level5" name="nivel" value="Postgrado" required ng-model="noc.nivelRequerido"/>
                      <label for="level5"><span></span></label>
                    </div>
                </div>
            </div>

            <!-- <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-10 border-bottom"></div> -->

            <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-10 padding-left-0">
                <div class="col-xs-12 padding-top-40">
                    <div id="div_6"  name ="div_6" class="col-lg-12 col-md-12 col-sm-12 text-center">
                        <p class="padding-left-20 padding-right-20 text-blue-soy" style="text-align:center;"><strong>Carreras preferidas</strong><span style="color:#495BC1" ng-show="noc.nivelRequerido=='Bachiller' || noc.nivelRequerido=='Ninguno' || noc.nivelRequerido==null || noc.nivelRequerido==''"> (Opcional)</span>
                        <span style="color:red;" ng-show="noc.camposValidos[6] && noc.preferenciasSelected.length==0"> (Obligatorio)</span></p>
                    </div>
                    <div class="col-xs-12 padding-left-0 objs-autocomplete">
                       <angucomplete 
                            id="ex1" 
                            placeholder="Carreras o estudios" 
                            pause="100"
                            selectedobject="noc.career" 
                            localdata="estudios" 
                            name="carrerasSerch" 
                            searchfields="name" 
                            titlefield="name" 
                            minlength="1" 
                            maxlength="100" 
                            inputclass="form-control form-control-small fondo-eaeaea" 
                            ng-required="noc.carreraRequerida=='si'" 
                            ng-class='{ error: formDatos.carrerasSerch.$error.required}'/>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-10 padding-left-0">
                <div class="selected-box">
                    <ul style="padding: 0">
                        <li class="ellipsis" ng-repeat="preferencia in noc.preferenciasSelected">
                            <span class="text-left">
                                <a href="" ng-click="noc.eliminarPreferencia($index);" style="display: inline-block;">
                                    <img src="assets/images/icon-eliminar.png" style="padding-bottom: 0px !important; width:15px; height:15px; float:right;">
                                </a>
                                <strong style="text-transform: uppercase;">{{preferencia.name}}</strong>
                            </span>
                        </li>
                        <li class="ellipsis" ng-repeat="i in noc.repetidorPre">
                            <span class="text-left">
                                <strong class="text-uppercase">
                                    &nbsp;
                                </strong>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-10 border-bottom"></div> -->

            <div class="col-xs-12 col-sm-8 col-sm-offset-2 margin-top-40 padding-left-0" id="idiomasOferta">

                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <p class="padding-left-20 padding-right-20 text-blue-soy" style="text-align:center;"><strong>Idiomas requeridos</strong><span style="color:#495BC1"> (Opcional)</span></p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="select">
                        <div class="col-xs-12 select">
                            <select 
                                name="idioma1" 
                                class="select-3 select-style fondo-eaeaea hidden-xs" 
                                ng-model="noc.idiomas[0].nombre" 
                                ng-change="noc.languageSelected(noc.idiomas[0].nombre,'0');noc.cargarCompletado();">
                                <option value="" selected>Elegir idioma</option>
                                <option ng-repeat="l in noc.listaIdiomas" value="{{l}}">{{l}}</option>
                            </select>
                            <md-select 
                                ng-model="noc.idiomas[0].nombre" 
                                placeholder="Idioma" 
                                class="md-no-underline visible-xs"
                                style="border: 1px solid #ccc; border-radius: 4px;"
                                ng-change="noc.languageSelected(noc.idiomas[0].nombre,'0');noc.cargarCompletado();">
                                <md-option ng-repeat="l in noc.listaIdiomas" value="{{l}}">{{l}}</md-option>
                            </md-select>
                        </div>
                        <div class="col-xs-12 select padding-top-5" ng-show="noc.idiomas[0].nombre!='' && noc.idiomas[0].nombre!=null">
                            <select 
                                name="nivelIdioma1" 
                                class="select-style hidden-xs" 
                                ng-model="noc.idiomas[0].nivel" 
                                style="border: 1px solid #C9DFF3;">
                                <option value="" selected>Nivel</option>
                                <option value="Básico">Básico</option>
                                <option value="Intermedio">Intermedio</option>
                                <option value="Avanzado">Avanzado</option>
                            </select>
                            <md-select 
                                ng-model="noc.idiomas[0].nivel" 
                                placeholder="Nivel" 
                                class="md-no-underline visible-xs"
                                style="border: 1px solid #ccc; border-radius: 4px;">
                                <md-option value="Básico">Básico</md-option>
                                <md-option value="Intermedio">Intermedio</md-option>
                                <md-option value="Avanzado">Avanzado</md-option>
                            </md-select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="select">
                        <div class="col-xs-12 select">
                            <select 
                                name="idioma2" 
                                class="select-3 select-style fondo-eaeaea hidden-xs" 
                                ng-model="noc.idiomas[1].nombre" 
                                ng-change="noc.languageSelected(noc.idiomas[1].nombre,'1');noc.cargarCompletado();">
                                <option value="" selected>Elegir idioma</option>
                                <option ng-repeat="l in noc.listaIdiomas" value="{{l}}">{{l}}</option>
                            </select>
                            <md-select 
                                ng-model="noc.idiomas[1].nombre" 
                                placeholder="Idioma" 
                                class="md-no-underline visible-xs"
                                style="border: 1px solid #ccc; border-radius: 4px;"
                                ng-change="noc.languageSelected(noc.idiomas[1].nombre,'1');noc.cargarCompletado();">>
                                <md-option ng-repeat="l in noc.listaIdiomas" value="{{l}}">{{l}}</md-option>
                            </md-select>
                        </div>
                        <div class="col-xs-12 select padding-top-5" ng-show="noc.idiomas[1].nombre!='' && noc.idiomas[1].nombre!=null">
                            <select 
                                name="nivelIdioma2" 
                                class="select-style hidden-xs" 
                                ng-model="noc.idiomas[1].nivel" 
                                style="border: 1px solid #C9DFF3;">
                                <option value="" selected>Nivel</option>
                                <option value="Básico" selected>Básico</option>
                                <option value="Intermedio" selected>Intermedio</option>
                                <option value="Avanzado" selected>Avanzado</option>
                            </select>
                            <md-select 
                                ng-model="noc.idiomas[1].nivel" 
                                placeholder="Nivel" 
                                class="md-no-underline visible-xs"
                                style="border: 1px solid #ccc; border-radius: 4px;">
                                <md-option value="Básico">Básico</md-option>
                                <md-option value="Intermedio">Intermedio</md-option>
                                <md-option value="Avanzado">Avanzado</md-option>
                            </md-select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="select">
                        <div class="col-xs-12 select">
                            <select 
                                name="idioma3" 
                                class="select-3 select-style fondo-eaeaea hidden-xs" 
                                ng-model="noc.idiomas[2].nombre" 
                                ng-change="noc.languageSelected(noc.idiomas[2].nombre,'2');noc.cargarCompletado();">
                                <option value="" selected>Elegir idioma</option>
                                <option ng-repeat="l in noc.listaIdiomas" value="{{l}}">{{l}}</option>
                            </select>
                            <md-select 
                                ng-model="noc.idiomas[2].nombre" 
                                placeholder="Idioma" 
                                class="md-no-underline visible-xs"
                                style="border: 1px solid #ccc; border-radius: 4px;"
                                ng-change="noc.languageSelected(noc.idiomas[2].nombre,'2');noc.cargarCompletado();">
                                <md-option ng-repeat="l in noc.listaIdiomas" value="{{l}}">{{l}}</md-option>
                            </md-select>
                        </div>
                        <div class="col-xs-12 select padding-top-5" ng-show="noc.idiomas[2].nombre!='' && noc.idiomas[2].nombre!=null">
                            <select 
                                name="nivelIdioma3" 
                                class="select-style hidden-xs" 
                                ng-model="noc.idiomas[2].nivel" 
                                style="border: 1px solid #C9DFF3;">
                                <option value="" selected>Nivel</option>
                                <option value="Básico" selected>Básico</option>
                                <option value="Intermedio" selected>Intermedio</option>
                                <option value="Avanzado" selected>Avanzado</option>
                            </select>
                            <md-select 
                                ng-model="noc.idiomas[2].nivel" 
                                placeholder="Nivel" 
                                class="md-no-underline visible-xs"
                                style="border: 1px solid #ccc; border-radius: 4px;">
                                <md-option value="Básico">Básico</md-option>
                                <md-option value="Intermedio">Intermedio</md-option>
                                <md-option value="Avanzado">Avanzado</md-option>
                            </md-select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-30 border-bottom"></div> -->
                
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 margin-top-40 padding-left-0">
                <div class="col-xs-12">
                    <div id="div_7" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <p class="padding-left-20 padding-right-20 text-blue-soy" style="text-align:center;"><strong>Softwares</strong><span style="color:#495BC1"> (Opcional)</span></p>
                        <p class="padding-left-20 padding-right-20" style="text-align:center;"><span>Por favor elige que softwares son necesarios manejar para optar por la oferta laboral (máximo 5 softwares)</span></p>
                    </div>
                    
                    <div class="col-xs-12 padding-left-0">
                        <div class="margin-5 select">
                            <select 
                                name="software" 
                                class="select-3 select-style fondo-eaeaea hidden-xs" 
                                ng-model="noc.software" 
                                ng-class='{error: formDatos.software.$invalid && formDatos.software.$touched, success: formDatos.software.$valid && formDatos.software.$touched}' 
                                ng-change="noc.softSelected(noc.software);noc.cargarCompletado();">
                                <option value="" selected>Seleccionar software</option>
                                <option ng-repeat="l in noc.listaSoftwares" value="{{l}}">{{l}}</option>
                            </select>
                            <md-select 
                                ng-model="noc.software" 
                                placeholder="Software" 
                                class="md-no-underline visible-xs"
                                style="border: 1px solid #ccc; border-radius: 4px;"
                                ng-change="noc.softSelected(noc.software);noc.cargarCompletado();">
                                <md-option ng-repeat="l in noc.listaSoftwares" value="{{l}}">{{l}}</md-option>
                            </md-select>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-10 padding-left-0">
                <div class="selected-box">
                    <ul style="padding: 0">
                        <li class="ellipsis" ng-repeat="software in noc.softwareSelected">
                            <span class="text-left">
                                <a href="" ng-click="noc.eliminarSoftware($index);" style="display: inline-block;">
                                    <img src="assets/images/icon-eliminar.png" style="padding-bottom: 0px !important; width:15px; height:15px; float:right;">
                                </a>
                                <strong style="text-transform: uppercase;">{{software.name}}</strong>
                            </span>
                        </li>
                        <li class="ellipsis" ng-repeat="i in noc.repetidorSof">
                            <span class="text-left">
                                <strong class="text-uppercase">
                                    &nbsp;
                                </strong>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-30 border-bottom"></div>
            <!-- <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-10 padding-bottom-20 text-center">
                <img src="assets/images/arrow_registro.png" alt="Continuar" class="mouse-click" ng-click="noc.gotoId('#section3');">
            </div> -->
    </div>
</section> 

<section id="section3" class="section section-blanco margin-0 text-center" ng-if="noc.isBasicValid">
    <!-- <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
        <h1>Experiencia</h1>
    </div> -->

    <div class="container" id="sect3">
        
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-20" id="aniosExpe">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <p class="padding-left-20 padding-right-20 text-blue-soy" style="text-align:center;"><strong>Experiencia</strong></p>
                <p class="padding-left-20 padding-right-20 font-open-sans font-light" style="text-align:center;">Años de experiencia<span style="color:#495BC1"> (Opcional)</span></p>

                <div class="col-xs-12">
                    <div class="select">
                        <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
                            <select 
                                name="minExpe" 
                                class="select-3 select-style fondo-eaeaea hidden-xs" 
                                required 
                                ng-model="noc.minExpe" 
                                ng-class='{error: formDatos.minExpe.$invalid && formDatos.minExpe.$touched, success: formDatos.minExpe.$valid && formDatos.minExpe.$touched}' 
                                ng-change="noc.expeSelected(noc.minExpe)">
                                <option value="" selected>Mínimo</option>
                                <option ng-repeat="l in noc.minExpeList" value="{{l.value}}">{{l.display}}</option>
                            </select>
                            <md-select 
                                ng-model="noc.minExpe" 
                                placeholder="Mínimo" 
                                class="md-no-underline visible-xs"
                                style="border: 1px solid #ccc; border-radius: 4px;"
                                ng-change="noc.expeSelected(noc.minExpe)">
                                <md-option ng-repeat="l in noc.minExpeList" value="{{l.value}}">{{l.display}}</md-option>
                            </md-select>
                        </div>
                        <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
                            <select 
                                name="maxExpe" 
                                class="select-3 select-style fondo-eaeaea hidden-xs" 
                                required 
                                ng-model="noc.maxExpe" 
                                ng-class='{error: formDatos.maxExpe.$invalid && formDatos.maxExpe.$touched, success: formDatos.maxExpe.$valid && formDatos.maxExpe.$touched}'>
                                <option value="" selected>Máximo</option>
                                <option ng-repeat="l in noc.maxExpeList" value="{{l.value}}">{{l.display}}</option>
                            </select>
                            <md-select 
                                ng-model="noc.maxExpe" 
                                placeholder="Máximo" 
                                class="md-no-underline visible-xs"
                                style="border: 1px solid #ccc; border-radius: 4px;">
                                <md-option ng-repeat="l in noc.maxExpeList" value="{{l.value}}">{{l.display}}</md-option>
                            </md-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

        <div class="col-xs-12 col-sm-8 col-sm-offset-2 margin-top-40 padding-left-0">
            <div class="col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <!-- <p class="padding-left-20 padding-right-20" style="text-align:center;"><strong>Sectores empresariales</strong><span style="color:#495BC1;"> (Opcional)</span></p> -->
                    <p class="padding-left-20 padding-right-20 font-light" style="text-align:center;"><span>¿En qué sectores prefiere que tenga experiencia el candidato?</span></p>
                </div>
                
                <div class="col-xs-12 padding-left-0">
                    <div class="margin-5 select">
                        <select 
                            name="sectores" 
                            class="select-3 select-style fondo-eaeaea hidden-xs" 
                            ng-model="noc.sectores" 
                            ng-class='{error: formDatos.sectores.$invalid && formDatos.sectores.$touched, success: formDatos.sectores.$valid && formDatos.sectores.$touched}' 
                            ng-change="noc.sectSelected(noc.sectores);noc.cargarCompletado();">
                            <option value="" selected>Seleccionar sector</option>
                            <option ng-repeat="sec in noc.listaSectores" value="{{sec.description}}">{{sec.description}}</option>
                        </select>
                        <md-select 
                            ng-model="noc.sectores" 
                            placeholder="Sector" 
                            class="md-no-underline visible-xs"
                            style="border: 1px solid #ccc; border-radius: 4px;"
                            ng-change="noc.sectSelected(noc.sectores);noc.cargarCompletado();">
                            <md-option ng-repeat="sec in noc.listaSectores" value="{{sec.description}}">{{sec.description}}</md-option>
                        </md-select>
                    </div>
                </div>                                       
            </div>
        </div>

        <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-10 padding-left-0">
            <div class="selected-box">
                <ul style="padding: 0" class="draglist">
                    <li class="ellipsis" ng-repeat="sector in noc.sectoresSelected">
                        <span class="text-left">
                            <a href="" ng-click="noc.eliminarSector($index);" style="display: inline-block;">
                                <img src="assets/images/icon-eliminar.png" style="padding-bottom: 0px !important; width:15px; height:15px; float:right;">
                            </a>
                            <strong class="text-uppercase">{{sector.name}}</strong>
                        </span>
                    </li>
                    <li class="ellipsis" ng-repeat="i in noc.repetidorSec">
                        <span class="text-left">
                            <strong class="text-uppercase">
                                &nbsp;
                            </strong>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8 col-sm-offset-2 margin-top-40 padding-left-0">
            <div class="col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <p class="padding-left-20 padding-right-20 font-light" style="text-align:center;"><span>Cantidad de ofertas</span></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-offset-4 padding-left-0">
                    <input numbers-only maxlength="20" type="text" class="fondo-eaeaea" ng-model="noc.cantOferta" placeholder="cantidad" required>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-30 border-bottom"></div>
    </div>
</section>

<section id="section4" class="section section-blanco margin-0 text-center" ng-if="noc.isBasicValid">
    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top-40 text-center">
        <p class="padding-left-20 padding-right-20 text-blue-soy" style="text-align:center;"><strong>Preferencias personales</strong></p>
    </div>

    <div class="container" id="sect4">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-20" id="aniosExpe">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <p class="padding-left-20 padding-right-20" style="text-align:center;">De la sopa de palabras del recuadro inferior escoge algunas palabras que consideres serían cualidades, habilidades o conocimientos útiles para el cargo que buscas<span style="color:#495BC1"> (Opcional)</span></p>
            </div>

            <div class="col-xs-12 div_word-soup-100">
                <ul id="tag-cloud">
                    <li class="tag-cloud tag-cloud-li" data-ng-repeat="word in noc.words | startFrom:(noc.currentPage-1)*noc.wordLimit | limitTo:noc.wordLimit" data-ng-class="{ 'tag-cloud-default': word.added==true,'tag-cloud-info': word.added==false}" data-ng-click="noc.wordAdd(word._id)">{{word.description}}</li>
                </ul>
            </div>
            <div class="col-xs-12 padding-top-10 text-center"> 
                <button id="wordLoadBtn" class="btn bton-green padding-right-15 padding-left-15"  ng-click="noc.wordLoad();"><i class="fa fa-refresh" aria-hidden="true"></i> Cargar palabras</button>
            </div>
            <div class="col-xs-12 padding-top-10 text-center div_word-soup-100" ng-show="noc.wordAdded.length>0">
                <ul id="tag-cloud">
                    <li class="tag-cloud tag-cloud-success" ng-repeat="w in noc.wordAdded">{{w.description}} <span ng-click="noc.wordDelete(w._id)"><i class="fa fa-times" aria-hidden="true"></i></span></li>
                </ul>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <p class="padding-left-20 padding-right-20" style="text-align:center;"><span>Puedes sugerir palabras que no estén en la sopa de palabras, separalas con una coma y pulsa ENTER para agregarlas a tu lista</span></p>
            </div>
            <div class="col-xs-12 padding-left-0">
                <div class="margin-5">
                    <input type="text" class="fondo-eaeaea" ng-model="noc.wordManual" ng-enter="noc.wordAddManual(noc.wordManual)" maxlength="30" placeholder="Sugerir palabras">
                </div>
            </div>
        </div>

        <!-- <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-10 padding-bottom-20 text-center">
            <img src="assets/images/arrow_registro.png" alt="Continuar" class="mouse-click" ng-click="noc.gotoId('#section5');">
        </div> -->
    </div>
</section>

<section id="section5" class="section-gris margin-top-40 padding-top-40 text-center padding-30" ng-if="noc.isBasicValid">
    
    <div class="container" id="sect5">
        <div id="levelRelevance" class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-10">
            <span id="linea" class="hidden-xss"></span>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <p class="padding-left-20 padding-right-20 text-blue-soy" style="text-align:center;"><strong>¿Es más relevante la experiencia o el estudio para este cargo?</strong><span style="color:#495BC1"> (Opcional)</span></p>
            </div>
            <div class="col-xs-12">
                <span class="text-orange">
                    <strong class="dinamic-text-size">"{{noc.relevanciaVacante}}"</strong>
                </span>
            </div>

            <div class="col-xs-12 text-center">
                <div class="col-xs-4 text-left">
                    <span>
                        <strong class="dinamic-text-size">Experiencia</strong>
                    </span>
                </div>
                <div class="col-xs-4 text-right col-xs-offset-4">
                    <span>
                        <strong class="dinamic-text-size">Estudios</strong>
                    </span>
                </div>
            </div>

            <div class="radio col-xs-12 margin-top-10 padding-0 margin-bottom-30">
                <div class="col-xs-5ths padding-0 text-center radioLineal" ng-click="noc.relevanciaVacante='Sólo es relevante la experiencia'">
                  <input type="radio" id="relevance1" name="relevance" value="Sólo es relevante la experiencia" required ng-model="noc.relevanciaVacante"/>
                  <label for="relevance1"><span></span></label>
                </div>
                <div class="col-xs-5ths padding-0 text-center radioLineal" ng-click="noc.relevanciaVacante='Es más relevante la experiencia'">
                  <input type="radio" id="relevance2" name="relevance" value="Es más relevante la experiencia" required ng-model="noc.relevanciaVacante"/>
                  <label for="relevance2"><span></span></label>
                </div>
                <div class="col-xs-5ths padding-0 text-center radioLineal" ng-click="noc.relevanciaVacante='Son igual de relevantes'">
                  <input type="radio" id="relevance3" name="relevance" value="Son igual de relevantes" required ng-model="noc.relevanciaVacante" checked/>
                  <label for="relevance3"><span></span></label>
                </div>
                <div class="col-xs-5ths padding-0 text-center radioLineal" ng-click="noc.relevanciaVacante='Son más relevantes los estudios'">
                  <input type="radio" id="relevance4" name="relevance" value="Son más relevantes los estudios" required ng-model="noc.relevanciaVacante"/>
                  <label for="relevance4"><span></span></label>
                </div>
                <div class="col-xs-5ths padding-0 text-center radioLineal" ng-click="noc.relevanciaVacante='Sólo son relavantes los estudios'">
                  <input type="radio" id="relevance5" name="relevance" value="Sólo son relavantes los estudios" required ng-model="noc.relevanciaVacante"/>
                  <label for="relevance5"><span></span></label>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section6" class="section section-blanco margin-0 text-center padding-30" ng-if="noc.isBasicValid">
    <div class="container padding-20" id="sect6">
        <div ng-show="ofertaConTicket" 
             class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 text-center">
            <button class="btn btn-lg bton-green padding-right-15 padding-left-15" 
                ng-click="noc.ofertarConTickets();" 
                ng-disabled="noc.isRefreshing">Finalizar
            </button>
        </div>

         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 text-center" 
            ng-show="!ofertaConTicket">
            <button class="btn btn-lg bton-green padding-right-15 padding-left-15" 
                ng-click="noc.openModal($event, noc.titulo);"
                ng-disabled="noc.isRefreshing">Finalizar
            </button>
        </div>
    </div>
</section>  
