<style>
    /* md-dialog {
        min-width: 90%;
    } */
    md-dialog-actions{
        padding: 10px !important;
        margin: 10px !important;
    }
</style>
<script type="text/ng-template" id="dialog55.tmpl.html">  
    <md-dialog aria-label="">
        <md-toolbar>
            <div class="md-toolbar-tools" style='background-color:#fff;'>
                <div class="col-xs-12 text-center padding-top-40">
                    <span class="font-size-30 font-bold font-open-sans font-green-soy">¿Qué tipo de oferta deseas crear?</span>
                </div>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" style='color: #707070 !important;'>
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            
            <div class="md-dialog-content" ng-if="!isPackage">
                <!-- <div class="container"> -->
                    <div class="col-xs-12 col-sm-4 col-sm-offset-2 text-center padding-bottom-40">
                        <button class="btn btn-lg bton-green font-size-30 font-open-sans font-bold" ng-click="tOfferta('g')">
                            Básica
                        </button>
                        <!-- <a class="btn btn-lg button bton-green" href="" ng-click="nbc.tOffert('g');">Seleccionar</a> -->
                        <p class="padding-top-20 font-open-sans font-bold font-color-707070 font-size-18">
                            "Sólo recibes candidatos postulados voluntariamente a tu oferta"
                        </p>
                        <span style="color:red">* </span><span class="font-open-sans font-light font-colo-707070">Totalmente GRATIS</span>
                    </div>
                    <div class="col-xs-12 col-sm-4 text-center padding-bottom-40">
                        <button class="btn btn-lg bton-green font-size-30 font-open-sans font-bold" ng-click="tOfferta('p')">
                            Premium
                        </button>
                        <p class="padding-top-20 font-open-sans font-bold font-color-707070 font-size-18">
                            "Recibes candidatos que cumplen con el perfil y les interesa tu oferta"
                        </p>
                        <span style="color:red">* </span><span class="font-open-sans font-light font-colo-707070">Por un costo de $189.000</span>
                    </div>

                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 border-top-2px border-color-c5c5c5 padding-top-40 text-center" ng-if="!isPackage">
                        <p class="font-open-sans font-bold font-color-707070 font-size-18">
                            ¿Necesitas encontrar mas de dos empleados?
                        </p>
                        <button class="btn btn-lg bton-green" ng-click="goPackage()">
                            Ver Paquetes
                        </button>
                        <button class="btn btn-lg bton-orange" ng-click="cancel()">
                            Cancelar
                        </button>
                    </div> 
                <!-- </div> -->
            </div>
            <div class="md-dialog-content" ng-if="isPackage">
                <div id="kv-avatar-errors" class="center-block" style="width:800px;display:none"></div>
                <div class="container" style="padding: 10px !important;">
                    
                    <div class="col-xs-12 text-center padding-top-40">
                        <span class="font-size-40 font-bold font-open-sans text-blue-soy">Plan Paquetes</span>
                    </div>
                    
                    <div class="col-xs-12 padding-top-40 text-center">
                        <p class="font-open-sans font-color-707070 font-light font-size-20">Selecciona el paquete que se adapte a tus necesidades.</p>
                    </div>

                    <div class="col-xs-12 text-center padding-10 padding-top-30 col-sm-6 col-sm-offset-3 border-bottom-2px border-color-c5c5c5">
                        <div class="col-xs-12">
                            <span class="text-blue-soy font-light font-size-18">1 oferta | </span><span class="font-color-808080 font-bold font-size-18">189.000</span>
                        </div>                  
                    </div>
                    
                    <div class="col-xs-12 text-center padding-10 padding-top-30 col-sm-6 col-sm-offset-3 border-bottom-2px border-color-c5c5c5">
                        <div class="col-xs-12">
                            <span class="text-blue-soy font-light font-size-18">2 a 3 ofertas | </span><span class="font-color-808080 font-bold font-size-18">175.000 | Ahorra 7% por oferta</span>
                        </div>                  
                    </div>
                    <div class="col-xs-12 text-center padding-10 padding-top-30 col-sm-6 col-sm-offset-3 border-bottom-2px border-color-c5c5c5">
                        <div class="col-xs-12">
                            <span class="text-blue-soy font-light font-size-18">4 a 5 ofertas | </span><span class="font-color-808080 font-bold font-size-18">160.000 | Ahorra 15% por oferta</span>
                        </div>                  
                    </div>

                    <div class="col-xs-12 text-center padding-10 padding-top-30 col-sm-6 col-sm-offset-3 border-bottom-2px border-color-c5c5c5">
                        <div class="col-xs-12">
                            <span class="text-blue-soy font-light font-size-18">6 a 11 ofertas | </span><span class="font-color-808080 font-bold font-size-18">149.000 | Ahorra 21% por oferta</span>
                        </div>                  
                    </div>

                    <div class="col-xs-12 text-center padding-10 padding-top-30 col-sm-6 col-sm-offset-3 border-bottom-2px border-color-c5c5c5">
                        <div class="col-xs-12">
                            <span class="text-blue-soy font-light font-size-18">12 a 17 ofertas | </span><span class="font-color-808080 font-bold font-size-18">139.000 | Ahorra 26% por oferta</span>
                        </div>                  
                    </div>

                    <div class="col-xs-12 text-center padding-10 padding-top-30 col-sm-6 col-sm-offset-3 border-bottom-2px border-color-c5c5c5">
                        <div class="col-xs-12">
                            <span class="text-blue-soy font-light font-size-18">18 a 25 ofertas | </span><span class="font-color-808080 font-bold font-size-18">125.000 | Ahorra 34% por oferta</span>
                        </div>                  
                    </div>
                    
                    <div class="col-xs-12 text-left padding-top-20 packages">
                        <div class="col-xs-12 col-sm-1 col-sm-offset-3">
                            <select id="idCantOffert" name="idCantOffert" class="select-style form-control border-form-control margin-bottom-10 hidden-xs" ng-model="cantElegida" ng-change="cambiarPaquete(cantElegida);">
                                <option value="">
                                    Cantidad
                                </option>
                                <option ng-repeat="n in cantidadList" value="{{n}}">{{n}}</option>
                            </select>

                            <md-select 
                                id='idCantOffert1'
                                name='idCantOffert1'
                                ng-model="cantElegida"
                                ng-change="cambiarPaquete(cantElegida);" 
                                placeholder="Cantidad" 
                                class="md-no-underline visible-xs md-select-especial">
                                <md-option 
                                    ng-repeat="n in cantidadList" 
                                    value="{{n}}">
                                    {{n}}
                                </md-option>
                            </md-select>
                        </div>
                        <div class="col-xs-12 col-sm-5">
                            <span class="font-green-soy font-bold font-size-18">{{cantElegida}} x {{precio | currency: "$"}} = {{totalPrecio | currency: "$"}} {{msgPrecio}}</span>
                        </div>
                    </div>

                    <div class="col-xs-12 text-center padding-top-40">
                        <div class="col-xs-6 text-right">
                            <form method="post" action="https://api.soyempleo.com/payments/senddata" ng-submit="procesarOferta('paquete')">
                                
                                <input name="description"   type="hidden"  value="{{descriptionCompra}}">
                                <input name="referenceCode" type="hidden"  value="{{reference1}}">
                                <input name="amount"        type="hidden"  value="{{totalPrecio}}">
                                <input name="signature"     type="hidden"  value="{{signature1}}">
                                <input name="buyerEmail"    type="hidden"  value="{{companyEmail}}">
                                <input name="extra1"    type="hidden" ng-value="idCompany">
                                <input name="extra2"    type="hidden" value="{{nombreVacante}}">
                                <button class="btn btn-lg bton-green" type="submit" ng-disabled="isRefreshing2">
                                    Comprar
                                </button>
                            </form>      
                        </div>
                        <div class="col-xs-6 text-left">
                            <button class="btn btn-lg bton-orange" ng-click="$mdDialog.cancel();cancel();">
                                Cancelar
                            </button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <!-- <md-dialog-actions layout="row paddin-10">
            <div class="col-xs-12 text-center"ng-if="isPackage">
                <button class="btn btn-lg bton-green" ng-click="cancel()">
                    Finalizar
                </button>
            </div> 
            <div class="col-xs-12 text-center"ng-if="!isPackage">
                <p class="font-open-sans font-bold font-color-707070 font-size-18">
                    ¿Necesitas encontrar mas de dos empleados?
                </p>
                <button class="btn btn-lg bton-green" ng-click="goPackage()">
                    Ver Paquetes
                </button>
            </div> 
        </md-dialog-actions> -->
    </md-dialog>
</script>
