<style>
    md-dialog {
        min-width: inherit !important;
    }
</style>

<script type="text/ng-template" id="dialog55.tmpl.html">  
    <md-dialog aria-label="" id='pricing-box-id'>
        <md-toolbar>
            <div class="md-toolbar-tools" style='background-color:#fff;'>
                <div class="col-xs-12 text-center padding-top-10" ng-if="!isPackage">
                    <span class="font-size-30 font-bold font-open-sans font-green-soy visible-md visible-lg">¿Qué tipo de oferta deseas crear?</span>
                    <span class="font-bold font-open-sans font-green-soy visible-sm visible-xs">¿Qué tipo de oferta deseas crear?</span>
                </div>

                <div class="col-xs-12 text-center padding-top-10" ng-if="isPackage">
                    <span class="font-size-30 font-bold font-open-sans font-green-soy visible-md visible-lg">Paquetes de vacantes {{tipoPackage | lowercase}}</span>
                    <span class="font-bold font-open-sans font-green-soy visible-sm visible-xs">¿Qué tipo de oferta deseas crear?</span>
                </div>
                <span flex></span>
                
                <md-button class="md-icon-button" ng-click="cancel()" style='color: #707070 !important;'>
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="!isPackage" id="pricing-box-cont">
                <div class="col-xs-12 col-sm-4 padding-bottom-70 pricing-box-fixed-bottom-div-parent pricing-box-inner-bg-white">
                    <div class="text-center padding-top-10 padding-bottom-10">
                        <span class="font-bold font-open-sans text-blue-soy font-size-20">
                            GRATIS
                        </span>
                    </div>
                    <div class="text-center">
                        <div class="padding-0">
                            <div class="tooltips-inner padding-10">
                                <img src="assets/images/icon-pricing-box-basic.png" alt="" width="18%">
                            </div>
                        </div>
                        <div class="pricing-box-inner-bg-white padding-bottom-30">
                            <div class="text-left padding-left-30 padding-right-30 font-open-sans font-color-707070 padding-bottom-10">
                                <p>• Recibe <strong>postulados ilimitados</strong> por 30 días </p>
                                <p>• Podrás ver los perfiles y datos de contacto de todos los postulados.</p>
                                <p>• No hacemos búsqueda activa de candidatos.</p>
                            </div>
                            <div class="padding-10 text-center margin-left-30 margin-right-30">
                                <span class="font-open-sans font-bold font-size-30 text-blue-soy">
                                    $ 0
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 text-center padding-top-30 pricing-box-fixed-bottom-div-child">
                        <button ng-click="tOfferta('free');" class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30">    Crear oferta
                        </button>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 padding-bottom-40 pricing-box-fixed-bottom-div-parent pricing-box-inner-bg-white">
                    <div class="text-center padding-top-10 padding-bottom-10">
                        <span class="font-bold font-open-sans text-blue-soy font-size-20">
                            BÁSICA
                        </span>
                    </div>
                    <div class="text-center">
                        <div class="padding-0">
                            <div class="tooltips-inner padding-10">
                                <img src="assets/images/icon-pricing-box-premium.png" alt="" width="18%">
                            </div>
                        </div>
                        <div class="pricing-box-inner-bg-white padding-bottom-30">
                            <div class="text-left padding-left-30 padding-right-30 font-open-sans font-color-707070">
                                <p>• El equipo de SoyEmpleo te va a remitir <strong>4 hojas de vida de candidatos acordes a tu perfil.</strong></p>
                                <p>• No hay verificación telefónica de los candidatos</p>
                                <p>• No hacemos pre-entrevista</p>
                                <p>• Demás beneficios de la vacante gratis</p>
                            </div>
                            <div class="padding-10 text-center margin-left-30 margin-right-30">
                               <span class="font-open-sans font-bold font-size-25 text-blue-soy">
                                    $ 50.000 
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Crear oferta individual -->
                    <div class="col-xs-12 text-center padding-top-30 pricing-box-fixed-bottom-div-child">
                        <button ng-click="tOfferta('basic');" class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30" ng-disabled="true">
                            Crear oferta
                        </button><br>
                        <p class="font-open-sans font-bold font-size-10 text-blue-soy">
                            TEMPORALMENTE FUERA DE SERVICIO
                        </p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 padding-bottom-40 pricing-box-fixed-bottom-div-parent">
                    <div class=" text-center padding-top-10 padding-bottom-10">
                        <span class="font-bold font-open-sans text-blue-soy font-size-20">
                            PREMIUM
                        </span>
                    </div>
                    <div class="text-center">
                        <div class="ppadding-0">
                            <div class="tooltips-inner padding-0">
                                <img src="assets/images/icon-pricing-box-membership.png" alt="" width="14%">
                            </div>
                        </div>
                        <div class="padding-bottom-30">
                            <div class="text-left padding-left-30 padding-right-30 font-open-sans font-color-707070 padding-bottom-0">
                                <p style="margin-bottom:2px;">• Contrata un <strong>experto en selección</strong></p>
                                <p style="margin-bottom:2px;">• Validación y pre-entrevista de los candidatos</p>
                                <p style="margin-bottom:2px;">• Informe y concepto profesional de cada uno de los aspirantes.</p>
                                <p style="margin-bottom:2px;">• Recibes candidatos listos para entrevista final y contratación.</p>
                                <p class="margin-bottom-0">• Publicación destacada</p>
                            </div>
                            <div class="padding-left-10 padding-right-10 padding-bottom-10 padding-top-0 text-center margin-left-30 margin-right-30">
                               <span class="font-open-sans font-bold font-size-25 text-blue-soy">
                                    $149.000
                                </span><br>
                                <span class="font-open-sans font-bold font-size-15 text-blue-soy">
                                    ó el 15% del salario*
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 text-center padding-top-30 pricing-box-fixed-bottom-div-child">
                        <button ng-click="tOfferta('premium');" class="btn btn-lg bton-green button margin-top-10 margin-bottom-10 padding-right-30 padding-left-30" ng-disabled="true">
                            Crear oferta
                        </button><br>
                        <p class="font-open-sans font-bold font-size-10 text-blue-soy">
                            TEMPORALMENTE FUERA DE SERVICIO
                        </p>
                    </div>
                </div>
            </div>

            <div class="md-dialog-content" ng-if="isPackage">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding-top-40 text-center">
                    <p class="font-open-sans font-color-707070 font-light font-size-20">
                        Contrata las vacantes {{tipoPackage | lowercase}} de todo el año y ahorra
                    </p>
                </div>

                <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
                    <p class="font-open-sans font-color-707070 font-light font-size-15">Tipo de vacantes que deseas comprar</p>
                    <button class="btn btn-lg" 
                        ng-click="goPackage('BASIC');" 
                        ng-class="tipoCompra=='BASIC' ? 'bton-green':''">
                        Básicas
                    </button>
                    <button class="btn btn-lg" 
                        ng-click="goPackage('PREMIUM');"
                        ng-class="tipoCompra=='PREMIUM' ? 'bton-green':''">
                        Premium
                    </button>       
                </div>

                <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-left padding-top-20 packages">
                    <div class="col-xs-12 col-sm-8">
                        <span class="text-blue-soy font-light font-size-18">
                            ¿Cuantos empleados necesitas?
                        </span>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <select id="idCantOffert" name="idCantOffert" class="select-style form-control border-form-control margin-bottom-10 hidden-xs" ng-model="cantElegida" ng-change="cambiarPaquete(cantElegida,tipoCompra);">
                            <option value="">
                                N°
                            </option>
                            <option ng-repeat="n in cantidadList" value="{{n}}">{{n}}</option>
                        </select>

                        <md-select 
                            id='idCantOffert1'
                            name='idCantOffert1'
                            ng-model="cantElegida"
                            ng-change="cambiarPaquete(cantElegida);" 
                            placeholder="N°" 
                            class="md-no-underline visible-xs md-select-especial">
                            <md-option 
                                ng-repeat="n in cantidadList" 
                                value="{{n}}">
                                {{n}}
                            </md-option>
                        </md-select>
                    </div> 
                    <div class="col-xs-12">
                        <span class="font-color-808080 font-bold font-size-18">
                            {{msgPrecio}}
                        </span>
                    </div>
                    <div class="col-xs-12">
                        <span class="font-green-soy font-bold font-size-18">{{cantElegida}} x {{precio | currency: "$"}} = {{totalPrecio | currency: "$"}}</span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center padding-top-40 padding-bottom-20">
                    <div class="col-xs-6 text-right"> 
                        <form method="post" action="https://api.soyempleo.com/payments/senddata" ng-submit="procesarOferta(tipoCompra)">
                            
                            <input name="description"   type="hidden"  value="{{descriptionCompra}}">
                            <input name="referenceCode" type="hidden"  value="{{reference1}}">
                            <input name="amount"        type="hidden"  value="{{totalPrecio}}">
                            <input name="signature"     type="hidden"  value="{{signature1}}">
                            <input name="buyerEmail"    type="hidden"  value="{{companyEmail}}">
                            <input name="extra1"    type="hidden" ng-value="idCompany">
                            <input name="extra2"    type="hidden" value="{{nombreVacante}}">
                            <button class="btn btn-lg bton-green" type="submit" ng-disabled="isRefreshing2">
                                Comprar
                            </button>
                        </form>      
                    </div>
                    <div class="col-xs-6 text-left">
                        <button class="btn btn-lg bton-orange" ng-click="$mdDialog.cancel();cancel();">
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </md-dialog>
</script>
