<script type="text/ng-template" id="dialog65.tmpl.html">  
    <md-dialog aria-label="" id='payingDiag'> 
        <md-toolbar>
            <div class="md-toolbar-tools" style='background-color:#fff;'>
                <div class="col-xs-12 text-center padding-top-10">
                    <span class="font-size-30 font-bold font-open-sans font-green-soy visible-md visible-lg">Membresia SoyEmpleo</span>
                    <span class="font-bold font-open-sans font-green-soy visible-sm visible-xs">Membresia SoyEmpleo</span>
                </div>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" style='color: #707070 !important;'>
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content paying-tabs" ng-if="!isPackage">
                <uib-tabset active="activeTab" id='tabsMembership'>
                    <uib-tab index="0" select="cambiarTabById(this,'mtp')">
                        <uib-tab-heading>
                            <span class="text-blue-soy">
                                <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                            </span> <span class="hidden-xs">Método de pago</span>
                        </uib-tab-heading>
                        <form class="form-registro" name="formPaying" role="form" novalidate>
                            <div class="containers">
                                <div ng-if="true">
                                <!-- <div ng-if="!tarjetas.length || nuevaTarjeta"> -->
                                    <div class="col-xs-12 border-bottom-1px border-color-c5c5c5">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="font-open-sans font-bold font-color-707070 font-size-20">
                                                Nueva tarjeta
                                            </span>
                                        </div>
                                        <!-- <div class="col-xs-12 col-sm-6 text-right hidden-xs" ng-if="tarjetas.length">
                                            <span class="font-open-sans font-bold text-blue-soy font-size-12 mouse-pointer" ng-click="nuevaTarjetaForm(false);">
                                                <i class="fa fa-credit-card-alt" aria-hidden="true"></i> Tarjeta agregada
                                            </span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 visible-xs" ng-if="tarjetas.length">
                                            <span class="font-open-sans font-bold text-blue-soy font-size-12 mouse-pointer" ng-click="nuevaTarjetaForm(false);">
                                                <i class="fa fa-credit-card-alt" aria-hidden="true"></i> Tarjeta agregada
                                            </span>
                                        </div> -->
                                    </div>
                                    <div class="col-xs-12 margin-bottom-10">
                                        <div class="col-xs-12 col-sm-6">
                                            <label class='padding-top-5' for="payer_name">Nombre de la tarjeta</label>
                                            <input type="text" 
                                                placeholder="Ej: José Torres" 
                                                name="payer_name" 
                                                class="inputx2 fondo-eaeaea"
                                                ng-model="payer_name" 
                                                maxlength="100" 
                                                minlength="2"
                                                pattern="[a-zA-ZA-ZΆ-ΫÀ-ÖØ-Þa-zά-ώß-öø-ÿ\s]+"
                                                required
                                                ng-class='{ error: formPaying.payer_name.$invalid && formPaying.payer_name.$touched, success: formPaying.payer_name.$valid && formPaying.payer_name.$touched }'
                                                uib-popover="{{formPaying.payer_name.$touched && formPaying.payer_name.$error.required ? 'Valor es requerido' : ''}}" popover-trigger="focus"/>
                                        </div>
                                        
                                        <div class="col-xs-12 col-sm-6" style="position: relative;" ng-model="creditCard" data-validate-card>
                                            <label class='padding-top-5' for="number">Número de la tarjeta</label>
                                            <input type="text" 
                                                placeholder="Ej: 8888 8888 8888 8888" 
                                                name="number" 
                                                class="inputx2 fondo-eaeaea"
                                                ng-model="creditCard.number" 
                                                maxlength="20" 
                                                minlength="2"
                                                required
                                                format-card
                                                numbers-only
                                                ng-class='{ error: !creditCard.valid && formPaying.number.$touched, success: formPaying.number.$valid && formPaying.number.$touched && creditCard.valid}'
                                                uib-popover="{{formPaying.number.$touched && formPaying.number.$error.required ? 'Valor es requerido' : ''}}" popover-trigger="focus" ng-keyup="enviarr(creditCard);"/>
                                            <div style="position: absolute;top: 40px;right: 28px;" ng-if="creditCard.number && creditCard.type && creditCard.valid" class='tdc-sprite {{creditCard.type}}'>
                                            </div>
                                        </div>
                                        
                                        <div class="col-xs-12 col-sm-6">
                                            <label class='padding-top-5' for="payer_street">Dirección</label>
                                            <input type="text" 
                                                name="payer_street" 
                                                class="inputx2 fondo-eaeaea"
                                                ng-model="payer_street" 
                                                maxlength="100" 
                                                minlength="2"
                                                required
                                                ng-class='{ error: formPaying.payer_street.$invalid && formPaying.payer_street.$touched, success: formPaying.payer_street.$valid && formPaying.payer_street.$touched }'
                                                uib-popover="{{formPaying.payer_street.$touched && formPaying.payer_street.$error.required ? 'Valor es requerido' : ''}}" popover-trigger="focus"/>
                                        </div>

                                        <div class="col-xs-12 col-sm-6">
                                            <label class='padding-top-5' for="credit_card_document">Documento del titular</label>
                                            <input type="text" 
                                                placeholder="Ej: 19123456" 
                                                name="credit_card_document" 
                                                class="inputx2 fondo-eaeaea"
                                                ng-model="credit_card_document" 
                                                maxlength="30" 
                                                minlength="5"
                                                numbers-only
                                                required
                                                ng-class='{ error: formPaying.credit_card_document.$invalid && formPaying.credit_card_document.$touched, success: formPaying.credit_card_document.$valid && formPaying.credit_card_document.$touched }'
                                                uib-popover="{{formPaying.credit_card_document.$touched && formPaying.credit_card_document.$error.required ? 'Valor es requerido' : ''}}" popover-trigger="focus"/>
                                        </div>
                                        
                                        <div class="col-xs-12 col-sm-6">
                                            <label class='padding-top-5' for="payer_phone">Teléfono del titular</label>
                                            <input type="text" 
                                                name="payer_phone" 
                                                class="inputx2 fondo-eaeaea"
                                                ng-model="payer_phone" 
                                                maxlength="20" 
                                                minlength="2"
                                                required
                                                ng-class='{ error: formPaying.payer_phone.$invalid && formPaying.payer_phone.$touched, success: formPaying.payer_phone.$valid && formPaying.payer_phone.$touched }'
                                                uib-popover="{{formPaying.payer_phone.$touched && formPaying.payer_phone.$error.required ? 'Valor es requerido' : ''}}" popover-trigger="focus"/>
                                        </div>

                                        <div class="col-xs-12 col-sm-3">
                                            <label class='padding-top-5' for="payer_city">Ciudad</label>
                                            <input type="text" 
                                                placeholder="" 
                                                name="payer_city" 
                                                class="inputx2 fondo-eaeaea"
                                                ng-model="payer_city" 
                                                maxlength="50" 
                                                minlength="2"
                                                required
                                                ng-class='{ error: formPaying.payer_city.$invalid && formPaying.payer_city.$touched, success: formPaying.payer_city.$valid && formPaying.payer_city.$touched }'
                                                uib-popover="{{formPaying.payer_city.$touched && formPaying.payer_city.$error.required ? 'Valor es requerido' : ''}}" popover-trigger="focus"/>
                                        </div>

                                        <div class="col-xs-12 col-sm-3">
                                            <label class='padding-top-5' for="payer_state">Departamento</label>
                                            <input type="text" 
                                                placeholder="EJ: Antioquia" 
                                                name="payer_state" 
                                                class="inputx2 fondo-eaeaea"
                                                ng-model="payer_state" 
                                                maxlength="40" 
                                                minlength="2"
                                                required
                                                ng-class='{ error: formPaying.payer_state.$invalid && formPaying.payer_state.$touched, success: formPaying.payer_state.$valid && formPaying.payer_state.$touched }'
                                                uib-popover="{{formPaying.payer_state.$touched && formPaying.payer_state.$error.required ? 'Valor es requerido' : ''}}" popover-trigger="focus"/>
                                        </div>

                                        <div class="col-xs-12 col-sm-4">
                                            <div class="select">
                                                <label class='padding-top-5' for="credit_card_expiration_month">Mes/Expira</label>
                                                <select 
                                                    name="credit_card_expiration_month" 
                                                    class="select-3 select-style fondo-eaeaea hidden-xs" 
                                                    ng-model="credit_card_expiration_month"
                                                    ng-class='{error: formPaying.credit_card_expiration_month.$invalid && formPaying.credit_card_expiration_month.$touched, success: formPaying.credit_card_expiration_month.$valid && formPaying.credit_card_expiration_month.$touched}'
                                                    uib-popover="{{formPaying.credit_card_expiration_month.$touched && formPaying.credit_card_expiration_month.$error.required ? 'Valor es requerido' : ''}}" popover-trigger="focus"
                                                    required>
                                                    <option value="" selected>Elegir mes</option>
                                                    <option ng-repeat="l in listaMesCC" value="{{l.mes}}">{{l.mes}}</option>
                                                </select>
                                                <md-select 
                                                    ng-model="credit_card_expiration_month" 
                                                    placeholder="MM" 
                                                    class="md-no-underline visible-xs"
                                                    ng-class='{error: formPaying.credit_card_expiration_month.$invalid && formPaying.mes.$touched, success: formPaying.credit_card_expiration_month.$valid && formPaying.credit_card_expiration_month.$touched}'
                                                    style="border: 1px solid #ccc; border-radius: 4px;"
                                                    uib-popover="{{formPaying.mes.$touched && formPaying.mes.$error.required ? 'Valor es requerido' : ''}}" 
                                                    popover-trigger="focus"
                                                    required>
                                                    <md-option ng-repeat="l in listaMesCC" value="{{l.mes}}">{{l.mes}}</md-option>
                                                </md-select>
                                            </div>
                                        </div>
                                        
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="select">
                                                <label class='padding-top-5' for="credit_card_expiration_year">Año/Expira</label>
                                                <select 
                                                    name="credit_card_expiration_year" 
                                                    class="select-3 select-style fondo-eaeaea hidden-xs" 
                                                    ng-model="credit_card_expiration_year"
                                                    ng-class='{error: formPaying.credit_card_expiration_year.$invalid && formPaying.credit_card_expiration_year.$touched, success: formPaying.credit_card_expiration_year.$valid && formPaying.credit_card_expiration_year.$touched}'
                                                    uib-popover="{{formPaying.credit_card_expiration_year.$touched && formPaying.credit_card_expiration_year.$error.required ? 'Valor es requerido' : ''}}" 
                                                    popover-trigger="focus"
                                                    required>
                                                    <option value="" selected>Elegir año</option>
                                                    <option ng-repeat="l in listaAniosCC" value="{{l.anio}}">{{l.anio}}</option>
                                                </select>
                                                <md-select 
                                                    ng-model="credit_card_expiration_year" 
                                                    placeholder="YYYY" 
                                                    class="md-no-underline visible-xs"
                                                    ng-class='{error: formPaying.credit_card_expiration_year.$invalid && formPaying.credit_card_expiration_year.$touched, success: formPaying.credit_card_expiration_year.$valid && formPaying.credit_card_expiration_year.$touched}'
                                                    style="border: 1px solid #ccc; border-radius: 4px;"
                                                    uib-popover="{{formPaying.credit_card_expiration_year.$touched && formPaying.credit_card_expiration_year.$error.required ? 'Valor es requerido' : ''}}" 
                                                    popover-trigger="focus"
                                                    required>
                                                    <md-option ng-repeat="l in listaAniosCC" value="{{l.anio}}">{{l.anio}}</md-option>
                                                </md-select>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-4">
                                            <label class='padding-top-5' for="credit_card_ccv">PIN/CVC</label>
                                            <input type="text" 
                                                placeholder="Ej: 888" 
                                                name="credit_card_ccv" 
                                                class="inputx2 fondo-eaeaea"
                                                ng-model="credit_card_ccv" 
                                                maxlength="3" 
                                                minlength="3"
                                                numbers-only
                                                required
                                                ng-class='{ error: formPaying.credit_card_ccv.$invalid && formPaying.credit_card_ccv.$touched, success: formPaying.credit_card_ccv.$valid && formPaying.credit_card_ccv.$touched }'
                                                uib-popover="{{formPaying.credit_card_ccv.$touched && formPaying.credit_card_ccv.$error.required ? 'Valor es requerido' : ''}}" popover-trigger="focus"/>
                                        </div>

                                        <!-- <div class="col-xs-12 col-sm-5ths">
                                            <label class='padding-top-5' for="payer_country">País</label>
                                            <input type="text" 
                                                placeholder="EJ: Colombia" 
                                                name="payer_country" 
                                                class="inputx2 fondo-eaeaea"
                                                ng-model="payer_country" 
                                                maxlength="2" 
                                                minlength="2"
                                                required
                                                ng-class='{ error: formPaying.payer_country.$invalid && formPaying.payer_country.$touched}'
                                                uib-popover="{{formPaying.payer_country.$touched && formPaying.payer_country.$error.required ? 'Valor es requerido' : ''}}" popover-trigger="focus"/>
                                        </div>

                                        <div class="col-xs-12 col-sm-5ths">
                                            <label class='padding-top-5' for="payer_postal_code">Código postal</label>
                                            <input type="text" 
                                                name="payer_postal_code" 
                                                class="inputx2 fondo-eaeaea"
                                                ng-model="payer_postal_code" 
                                                maxlength="10" 
                                                minlength="2"
                                                required
                                                ng-class='{ error: formPaying.payer_postal_code.$invalid && formPaying.payer_postal_code.$touched}'
                                                uib-popover="{{formPaying.payer_postal_code.$touched && formPaying.payer_postal_code.$error.required ? 'Valor es requerido' : ''}}" popover-trigger="focus"/>
                                        </div> -->
                                    </div>
                                    <div class="col-xs-12 border-top-1px border-color-c5c5c5 text-center">
                                        <!-- <button id="goButton" class="btn btn-lg bton-green padding-right-15 padding-left-15 margin-top-10" ng-click="cambioIndividual(1);">Registrar</button> -->

                                        <button id="goButton" class="btn btn-lg bton-green padding-right-15 padding-left-15 margin-top-5 margin-bottom-5" ng-disabled="validarEnvioBoton(!creditCard.valid || formPaying.$invalid)"
                                        ng-click="agregarTarjeta(payer_name,creditCard,payer_street,credit_card_document,payer_phone,payer_city,payer_state,credit_card_expiration_month,credit_card_expiration_year,credit_card_ccv,payer_country,payer_postal_code);">Siguente paso</button>
                                    </div>
                                </div>
                                <div ng-if="false">
                                <!-- <div ng-if="tarjetas.length && !nuevaTarjeta"> -->
                                    <div class="col-xs-12 border-bottom-1px border-color-c5c5c5">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="font-open-sans font-bold font-color-707070 font-size-20">
                                                Tarjeta agregada
                                            </span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 text-right hidden-xs">
                                            <span class="font-open-sans font-bold text-blue-soy font-size-12 mouse-pointer" ng-click="nuevaTarjetaForm(true);">
                                                <i class="fa fa-credit-card-alt" aria-hidden="true"></i> Nueva tarjeta
                                            </span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 visible-xs">
                                            <span class="font-open-sans font-bold text-blue-soy font-size-12 mouse-pointer" ng-click="nuevaTarjetaForm(true);">
                                                <i class="fa fa-credit-card-alt" aria-hidden="true"></i> Nueva tarjeta
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 margin-top-20 margin-bottom-20">
                                        
                                        <div class="col-xs-12 col-sm-4 col-sm-offset-0 outline-none mouse-pointer" ng-click="seleccionarTarjeta($index);" style="border: 5px solid #fff;" ng-repeat="tarjetas in tarjetas">
                                            <div class="col-xs-12" ng-class="tarjetas.picked ? 'paying-card-border-active':'paying-card-border-default'">
                                                <div style="position: absolute;right: 6px;z-index: 1001;">
                                                    <span class="text-white">
                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                                <div class="col-xs-8 padding-top-25 padding-bottom-25">
                                                    <span class="font-bold font-open-sans" ng-class="tarjetas.picked ? 'font-green-soy':'text-white'">
                                                        SELECCIONADA
                                                    </span>
                                                </div>
                                                <!-- <div class="col-xs-4 text-right padding-top-25 padding-bottom-25">
                                                    <img src="assets/images/icons/{{tarjetas.type}}.jpg" alt="" style="width: 30px;">
                                                </div> -->
                                                <div class="col-xs-4 text-right margin-top-20 padding-bottom-25 tdc-sprite {{tarjetas.type}}">
                                                </div>
                                                <div class="tarjeta-in col-xs-12 padding-top-25 padding-bottom-25 hidden-xs">
                                                    <span class="font-fold font-open-sans font-size-20">
                                                        {{tarjetas.number}}
                                                    </span>
                                                </div>
                                                <div class="tarjeta-in col-xs-12 padding-top-15 padding-bottom-25 visible-xs">
                                                    <span class="font-fold font-open-sans font-size-20">
                                                        {{tarjetas.number}}
                                                    </span>
                                                </div>
                                                <div class="tarjeta-in col-xs-12 padding-top-25 padding-bottom-40 hidden-xs">
                                                    <span class="font-light font-open-sans font-size-default">
                                                        {{tarjetas.name}}
                                                    </span>
                                                </div>
                                                <div class="tarjeta-in col-xs-12 padding-top-15 padding-bottom-15 visible-xs">
                                                    <span class="font-light font-open-sans font-size-default">
                                                        {{tarjetas.name}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- <div class="col-xs-12 border-top-1px border-color-c5c5c5 text-center">
                                        <button id="goButton" class="btn btn-lg bton-green padding-right-15 padding-left-15 margin-top-10" ng-disabled="formPaying.titulo.$invalid || formPaying.area.$invalid || formPaying.departamento.$invalid || formPaying.ciudad.$invalid"
                                        ng-click="agregarTarjeta();">Registrar tarjeta</button>
                                    </div> -->
                                </div>
                            </div>
                        </form>
                    </uib-tab>
                    
                    <uib-tab index="1" heading="Procesar pago" select="cambiarTabById(this)" disable="blockeaTab || !procesado">
                        <uib-tab-heading>
                            <span class="text-blue-soy">
                                <i class="fa fa-money" aria-hidden="true"></i>
                            </span> <span class="hidden-xs">Procesar pago</span>
                        </uib-tab-heading>
                        <div class="containers">
                            <div class="col-xs-12 border-bottom-1px border-color-c5c5c5">
                                <span class="font-open-sans font-bold font-color-707070 font-size-20">
                                    Realizar pago
                                </span>
                            </div>
                            <div class="col-xs-12 margin-bottom-20">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="col-xs-12">
                                        <h4 class="font-bold font-open-sans font-color-707070">
                                            Instrumento de pago
                                        </h4>
                                    </div>
                                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 outline-none mouse-pointer" style="border: 5px solid #fff;">
                                        <div class="col-xs-12" ng-class="tarjetaSelecta.picked ? 'paying-card-border-active':'paying-card-border-default'">
                                            <div style="position: absolute;right: 6px;z-index: 1001;">
                                                <span class="text-white">
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                            <div class="col-xs-8 padding-top-25 padding-bottom-25">
                                                <span class="font-bold font-open-sans" ng-class="tarjetaSelecta.picked ? 'font-green-soy':'text-white'">
                                                    SELECCIONADA
                                                </span>
                                            </div>
                                            <!-- <div class="col-xs-4 text-right padding-top-25 padding-bottom-25">
                                                <img src="assets/images/icons/{{tarjetaSelecta.type}}.jpg" alt="" style="width: 30px;">
                                            </div> -->
                                            <div class="col-xs-4 text-right margin-top-20 padding-bottom-25 tdc-sprite {{tarjetaSelecta.type}}">
                                            </div>
                                            <div class="col-xs-12 padding-top-25 padding-bottom-25">
                                                <span class="font-fold font-open-sans font-size-20">
                                                    {{tarjetaSelecta.number}}
                                                </span>
                                            </div>
                                            <div class="col-xs-12 padding-top-25 padding-bottom-40">
                                                <span class="font-light font-open-sans">
                                                    {{tarjetaSelecta.name}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="col-xs-12">
                                        <h4 class="font-bold font-open-sans font-color-707070">
                                            Detalles de pago
                                        </h4>
                                    </div>

                                    <div class="col-xs-12">
                                        <span class="font-open-sans font-bold text-blue-soy">
                                            Nombre de plan:
                                        </span><br>
                                        <span class="font-open-sans font-light font-color-707070">
                                            {{planDetails.description}}
                                        </span>
                                    </div>
                                    
                                    <div class="col-xs-12">
                                        <p class="font-open-sans font-light font-color-707070">
                                            Podrás crear ofertas básicas de forma ilimitada, y tendrás una oferta <strong>Premium</strong> al mes.
                                        </p>
                                    </div>
                                    
                                    <div class="col-xs-12 border-top-1px border-color-c5c5c5 padding-top-10">
                                        <span class="font-open-sans font-bold text-blue-soy">
                                            Total a pagar:
                                        </span><br>
                                        <span class="font-open-sans font-light font-color-707070">
                                            {{planDetails.currency}} {{planDetails.tax_return_base}} + IVA / Mensual
                                        </span>
                                    </div>

                                    <div class="col-xs-12 border-top-1px border-color-c5c5c5 text-center">
                                        <!-- <button id="goButton" class="btn btn-lg bton-green padding-right-15 padding-left-15 margin-top-10" ng-click="cambioIndividual(1);">Registrar</button> -->
                                        <button id="goButton" 
                                            class="btn btn-lg bton-green padding-right-15 padding-left-15 margin-top-10"
                                            ng-disabled="isAjax"
                                            ng-click="comprarMembresia(payer_name,creditCard,payer_street,credit_card_document,payer_phone,payer_city,payer_state,credit_card_expiration_month,credit_card_expiration_year,credit_card_ccv,'co','1234');">
                                            <span ng-hide='isAjax'>
                                                <strong> Comprar membresia</strong>
                                            </span>
                                            <span ng-show='isAjax'>
                                                <i class='fa fa-circle-o-notch fa-spin'></i>
                                                Procesando
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </md-dialog-content>

        <!-- <md-dialog-actions layout="row">
            <span flex></span>
            <div class="col-xs-12 border-top-1px border-color-c5c5c5 text-center">
                <button id="goButton" class="btn btn-lg bton-green padding-right-15 padding-left-15 margin-top-10" ng-disabled="formPaying.titulo.$invalid || formPaying.area.$invalid || formPaying.departamento.$invalid || formPaying.ciudad.$invalid"
                ng-click="agregarTarjeta();">Registrar tarjeta</button>
            </div>
        </md-dialog-actions> -->
    </md-dialog>
</script>