<section id="section-referencias" class="section section-gris margin-0 text-center">
  <div ng-controller="referenciasController as rp">
      <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center" id="Referencias-Personales">
          <h1>Referencias Personales</h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p class="padding-left-20 padding-right-20">Facilítanos la información sobre las personas que tienen buenas referencias de ti, llena los campos de abajo con su información de contacto, entre más referencias popngas mejor. Es muy valioso que consideres colocar referencias de tus jefes inmediatos</p>
            <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center margin-bottom-20">
              <form class="form-registro" ng-model="formReferencias" name="formReferencias" role="form" novalidate>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                  <input type="text" name="nombreReferido" ng-model="nombreReferido"
                         placeholder="Nombre completo" class="input margin-5" required minlength="4"
                         ng-class='{error: formReferencias.nombreReferido.$invalid && formReferencias.nombreReferido.$dirty,
                             success: formReferencias.nombreReferido.$valid && formReferencias.nombreReferido.$dirty}'>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                  <input type="text" name="empresaLaboraReferido" ng-model="empresaLaboraReferido"
                         placeholder="Empresa donde labora" class="input margin-5" required minlength="4"
                         ng-class='{error: formReferencias.empresaLaboraReferido.$invalid && formReferencias.empresaLaboraReferido.$dirty,
                             success: formReferencias.empresaLaboraReferido.$valid && formReferencias.empresaLaboraReferido.$dirty}'/>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                  <input type="text" name="cargoPersonaReferido" ng-model="cargoPersonaReferido"
                         placeholder="Cargo que desempeña" class="input margin-5" required minlength="3" onkeypress="return soloLetras(event)"
                         ng-class='{error: formReferencias.cargoPersonaReferido.$invalid && formReferencias.cargoPersonaReferido.$dirty,
                             success: formReferencias.cargoPersonaReferido.$valid && formReferencias.cargoPersonaReferido.$dirty}'/>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                  <input type="text" name="tlfPersonaReferido" ng-model="tlfPersonaReferido"
                         onkeypress="return valTlf(event)"
                         placeholder="Teléfono de contacto" class="input margin-5" required minlength="7"
                         ng-class='{error: formReferencias.tlfPersonaReferido.$invalid && formReferencias.tlfPersonaReferido.$dirty,
                             success: formReferencias.tlfPersonaReferido.$valid && formReferencias.tlfPersonaReferido.$dirty}'/>
                </div>
                <div ng-if="formReferencias.$invalid" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left margin-5">
                  <label class="efectoMouseCancel label"><img src="assets/images/plus.png" width="" height="" /> Agregar otra referencia</label>
                </div>
                <div ng-if="formReferencias.$valid" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left margin-5">
                  <label class="efectoMouse label" ng-click="rp.registrarReferencia(nombreReferido, empresaLaboraReferido,
             cargoPersonaReferido, tlfPersonaReferido)">
                    <img src="assets/images/plus.png" width="" height=""/> Agregar otra referencia
                  </label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-bottom-20 text-center">
                  <a class="btn btn-lg bton-green padding-right-15 padding-left-15" href="app/externals/modals/registro-referidos.html" rel="modal:open"> Finalizar </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>