<section id="section-datos" class="margin-0 text-center">
  <div class="container" id="hojaVida" ng-controller="hojadevidaController as hv" ng-init="hv.cargaInicial()">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>Comienza a llenar los datos de tu hoja de vida</h3>
            <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-10 col-xs-12 text-center margin-bottom-20">
              <form class="form-registro" name="formDatos" role="form" novalidate>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                  <div class="select margin-5">
                    <select class="select-style" name="tipoDoc" id="tipoDoc" ng-model="tipoDoc" required ng-disabled="pasoHojaVida"
                            ng-class='{error: formDatos.tipoDoc.$invalid && formDatos.tipoDoc.$touched,
                                    success: formDatos.tipoDoc.$valid && formDatos.tipoDoc.$touched && !pasoHojaVida}'>
                        <option value="" selected>Tipo de documento</option>
                        <option value="1">Cédula</option>
                        <option value="2">Pasaporte</option>
                        <option value="3">Cedula de extranjeria</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                  <input type="text" name="documento" placeholder="Documento Nro" class="input margin-5" required
                       ng-model="documento" minlength="4" maxlength="12" ng-disabled="hv.pasoHojaVida"
                       data-ng-class='{error: formDatos.documento.$invalid && formDatos.documento.$dirty,
                               success: formDatos.documento.$valid && formDatos.documento.$dirty && !hv.pasoHojaVida}'
                       uib-popover="{{formDatos.documento.$touched && formDatos.documento.$error.required ?
                                'Valor es requerido' : ''}}" popover-trigger="focus"/>
                  </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                  <input type="text" name="fechanac" placeholder="Fecha de nacimiento Ej: 02/02/1989" class="input margin-5" required
                       ng-model="fechanac" data-ng-class='{error: formDatos.fechanac.$invalid &&
                               formDatos.fechanac.$touched, success: formDatos.fechanac.$valid && formDatos.fechanac.$dirty
                               && !pasoHojaVida}' ng-disabled="hv.pasoHojaVida" onkeypress="return validarFecha(event)"
                       uib-popover="{{(formDatos.fechanac.$touched && formDatos.fechanac.$error.required) ?
                               'Fecha Invalida Ej: 02/02/1989' : ''}}" minlength="10" maxlength="10"
                       popover-trigger="focus" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                  <input type="text" name="ciudadnac" placeholder="Ciudad de nacimiento" class="input margin-5" required
                       ng-model="ciudadnac" minlength="3" maxlength="100" ng-disabled="pasoHojaVida"
                       data-ng-class='{error: formDatos.ciudadnac.$invalid && formDatos.ciudadnac.$dirty,
                               success: formDatos.ciudadnac.$valid && formDatos.ciudadnac.$dirty && !hv.pasoHojaVida}'
                       uib-popover="{{formDatos.ciudadnac.$touched && formDatos.ciudadnac.$error.required ?
                                'Valor es requerido' : ''}}"
                       popover-trigger="focus" onkeyup="return soloLetras(event)"/>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                  <div class="select margin-5">
                    <select name="departamento" class="select-style" required ng-model="departamento" ng-disabled="hv.pasoHojaVida"
                            ng-class='{error: formDatos.departamento.$invalid && formDatos.departamento.$touched,
                                         success: formDatos.departamento.$valid && formDatos.departamento.$touched && !pasoHojaVida}'>
                        <option value="" selected>Departamento donde vives</option>
                        <option ng-repeat="l in hv.listDepartamentos" value="{{l}}">{{l}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                  <div class="select margin-5">
                    <select name="ciudad" class="select-style" required ng-model="ciudad" ng-disabled="pasoHojaVida"
                            ng-class='{error: formDatos.ciudad.$invalid && formDatos.ciudad.$touched,
                                         success: formDatos.ciudad.$valid && formDatos.ciudad.$touched && !hv.pasoHojaVida}'
                            ng-change="hv.seleccionarCiudadSaludo(ciudad)">
                        <option value="" selected>Ciudad donde vives</option>
                        <option ng-repeat="l in hv.listaCiudades" value="{{l}}">{{l}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                  <input type="text" name="direccion" placeholder="Dirección domicilio" class="input margin-5" required
                       ng-model="direccion" minlength="4" maxlength="200" ng-disabled="pasoHojaVida"
                       data-ng-class='{error: formDatos.direccion.$invalid && formDatos.direccion.$dirty,
                               success: formDatos.direccion.$valid && formDatos.direccion.$dirty && !pasoHojaVida}'
                       uib-popover="{{formDatos.direccion.$touched && formDatos.direccion.$error.required ?
                               'Valor es requerido' : ''}}" popover-trigger="focus"/>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                  <input type="text" name="fijo" placeholder="Teléfono fijo" class="input margin-5"
                       ng-model="fijo" minlength="7" maxlength="16" ng-disabled="hv.pasoHojaVida"
                       data-ng-class='{error: formDatos.fijo.$invalid && formDatos.fijo.$dirty, success:
                               formDatos.fijo.$valid && formDatos.fijo.$dirty && !hv.pasoHojaVida}' uib-popover="{{formDatos.fijo.$touched
                               && formDatos.fijo.$error.required ? 'Valor es requerido' : ''}}"
                       popover-trigger="focus" pattern="[0-9\s|+|(|)]+"/>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                  <input type="text" name="movil" placeholder="Teléfono movil" class="input margin-5" required
                       ng-model="movil" minlength="10" maxlength="16" ng-disabled="pasoHojaVida"
                       data-ng-class='{error: formDatos.movil.$invalid && formDatos.movil.$dirty,
                               success: formDatos.movil.$valid && formDatos.movil.$dirty && !hv.pasoHojaVida}'
                       uib-popover="{{formDatos.movil.$touched && formDatos.movil.$error.required ?
                                'Valor es requerido' : ''}}" popover-trigger="focus" pattern="[0-9\s|+|(|)]+"/>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                  <input type="text" name="alternativo" placeholder="Teléfono alternativo" class="input margin-5"
                       ng-model="alternativo" minlength="7" maxlength="16" ng-disabled="pasoHojaVida"
                       data-ng-class='{error: formDatos.alternativo.$invalid && formDatos.alternativo.$dirty ,
                               success: formDatos.alternativo.$valid && formDatos.alternativo.$dirty && !pasoHojaVida}'
                       uib-popover="{{formDatos.alternativo.$touched && formDatos.alternativo.$error.pattern ?
                               'Telefono Invalido' : ''}}" popover-trigger="focus" pattern="[0-9\s|+|(|)]+"/>
                </div>
                 <div class="radio col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left margin-top-10 margin-bottom-10">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-0">
                      <span>Género:</span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 padding-0">
                      <input type="radio" id="g1" name="genero" value="F" required ng-model="genero" ng-disabled="hv.pasoHojaVida"/>
                      <label for="g1"><span></span> Femenino</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 padding-0">
                      <input type="radio" id="g2" name="genero" value="M" required ng-model="genero" ng-disabled="hv.pasoHojaVida"/>
                      <label for="g2"><span></span> Masculino</label>
                    </div>
                </div>
                <div class="radio col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left margin-top-10 margin-bottom-10">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-0">
                    <span>¿Posee transporte propio?:</span>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-0">
                    <input type="radio" id="t1" name="vehiculo" value="S" required
                           ng-model="vehiculo" ng-disabled="hv.pasoHojaVida"/>
                    <label for="t1"><span></span> SI</label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-0">
                    <input type="radio" id="t2" name="vehiculo" value="N" required
                           ng-model="vehiculo" ng-disabled="hv.pasoHojaVida"/>
                    <label for="t2"><span></span> NO</label>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="radio col-lg-6 col-md-6 col-sm-6 col-xs-12 margin-top-10 margin-bottom-10 text-left padding-0">
                      <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12 padding-0">
                        <span>Licencia:</span>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 padding-0">
                        <input type="radio" id="l1" name="licencia" value="S" required
                               ng-model="licencia" ng-disabled="pasoHojaVida"/>
                        <label for="l1"><span></span> SI</label>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 padding-0">
                        <input type="radio" id="l2" name="licencia" value="N" required
                               ng-model="licencia" ng-disabled="hv.pasoHojaVida"/>
                        <label for="l2"><span></span> NO</label>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0" ng-if="licencia!='N'">
                    <div class="select margin-5">
                      <select name="grado" class="select-style" required ng-model="grado" ng-class='{error:
                              formDatos.grado.$invalid && formDatos.grado.$touched, success: formDatos.grado.$valid
                               && formDatos.grado.$touched}' ng-disabled="hv.pasoHojaVida">
                          <option value="" selected>Grado</option>
                          <option value="1">A1-A2 (Motos)</option>
                          <option value="2">B1-B2 (automoviles y camionetas)</option>
                          <option value="3">B3 (tractomulas)</option>
                          <option value="4">C (vehículos de serv. publico)</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="terminos col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left margin-5">
                    <input type="checkbox" id="c1" name="condiciones" required
                           ng-model="formBasico.condiciones" ng-disabled="hv.pasoHojaVida"/>
                    <label for="c1"><span></span>
                        He leido y acepto las <a href="app/externals/modals/terminos-legales.html" rel="modal:open">Condiciones Legales</a>. Reglamento de Prestación de Servicios y la <a href="app/externals/modals/politicas-privacidad.html" rel="modal:open">Política de Privacidad de SoyEmpleo.com</a></label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 text-center">
                    <button class="btn btn-lg bton-green padding-right-15 padding-left-15" ng-disabled="formDatos.$invalid || hv.pasoHojaVida" ng-click="hv.registrarHojaVida(tipoDoc, documento, fechanac, ciudadnac, departamento, ciudad, direccion, fijo, movil, alternativo, genero, vehiculo, licencia, grado)">
                        Continuar
                    </button>
                </div>
            </form>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
            <h4>Haz completado el</h4>
            <div class="progress progress-striped active vertical bottom margin-top-50 margin-bottom-50">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><div class="value">20%</div></div>  
            </div>
            <h4>tu Perfil</h4>
          </div>
        </div>
    </div>
  </div>
</section>