<style>
/*
 * jQuery highlightTextarea
 * Copyright 2014-2015 Damien "Mistic" Sorel (http://www.strangeplanet.fr)
 * Licensed under MIT (http://opensource.org/licenses/MIT)
 */
    .highlightTextarea {
        position: relative;
    }

    .highlightTextarea .highlightTextarea-container {
        position: absolute;
        margin: 0;
        overflow: hidden;
    }

    .highlightTextarea .highlightTextarea-highlighter {
        position: relative;
        border: none;
        padding: 0;
        margin: 0;
        color: transparent;
        cursor: text;
        overflow: hidden;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    .highlightTextarea.debug .highlightTextarea-highlighter {
        color: red;
        border: 1px solid red;
        margin: -1px;
    }

    .highlightTextarea mark {
        line-height: inherit;
        margin: 0;
        padding: 0;
        color: #495BC1 !important;
        font-family: inherit;
        z-index: 999;
        font-weight: 600;
    }

    .highlightTextarea input, .highlightTextarea textarea {
        position: absolute;
        left: 0;
        top: 0;
        resize: none;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    .highlightTextarea .ui-wrapper {
        margin: 0 !important;
    }

    .highlightTextarea .ui-resizable-se {
        bottom: 15px;
        right: 0;
    }
</style>
<section id="section-skills" class="section section-gris margin-0 text-center">
    <div ng-controller="quieneresController as qe" ng-init="qe.cargaInicial()">
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center" id="perfilProfesional">
            <h1>CREEMOS TU PERFIL PROFESIONAL</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="padding-left-20 padding-right-20">Esta es tal vez la parte más importante de tu hoja de vida, aquí es donde le dirás a las empresas quien eres y en que te diferencias. Hemos identificados algunas palabras claves que harán tu hoja de vida más atractiva y efectiva, intenta utilizar algunas de las palabras de la lista de abajo</p>
                    <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center margin-bottom-20">
                        <form class="form-registro" name="formSkills" role="form" novalidate>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-left-0 margin-top-20">
                                <textarea class="textarea-large margin-5" id="skills" name="skills" ng-model="skills" ng-disabled="qe.pasoPerfil" required ng-keyup="qe.resaltarPalabra()" cols="50" rows="10" maxlength="500" placeholder="Limite de caracteres 500">
                                </textarea>
                            </div>
                            <div class="mas-palabras col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-10 text-center">
                                <span class="keywords activo col-sm-3 vertical-align-center" ng-repeat="l in qe.listPalabrasClave" id="p{{$index}}" ng-click="qe.addPalabra(l,$index)">{{l}}</span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10 margin-bottom-10 text-center">
                                <button class="btn btn-lg bton-green padding-right-15 padding-left-15"><i class="fa fa-refresh"></i> Cargar otras palabras
                                </button>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-bottom-20 text-center">
                                <button class="btn btn-lg bton-green padding-right-15 padding-left-15"
                                        ng-disabled="formSkills.$invalid || qe.pasoPerfil"
                                        ng-click="qe.registrarPerfilProfesional(skills)">Guardar y Continuar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $('#skills').highlightTextarea({
        words: palabras,
        caseSensitive: false
    });
</script>