<div class="container">
    <div class="complete-section vertical-align-center" ng-show="pasoDatosBasicos">
        Sección Completada
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 registro padding-20">
            <p class="padding-left-20 padding-right-20">La forma más fácil y efectiva de buscar el empleo que deseas. A medida de que vayas avanzando te haremos algunas preguntas para conocerte mejor. Primero dime,</p>
            <h2>¿Cuál es tu nombre completo y correo electrónico?</h2>
            <p class="padding-left-20 padding-right-20">{{l}}</p>
            <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-10 col-xs-12 text-center margin-bottom-20">
                <form class="form-registro" name="formRegistro" role="form" novalidate onsubmit="false" ng-disabled="true">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type="text" placeholder="Nombres | Mínimo 2 letras" name="nombre" class="input margin-5"
                           ng-model="nombre"  maxlength="30" pattern="[a-zA-Z\s]+"
                           required ng-class='{ error: formRegistro.nombre.$invalid && formRegistro.nombre.$dirty,
                                    success: formRegistro.nombre.$valid && formRegistro.nombre.$dirty && !pasoDatosBasicos}'
                           uib-popover="{{formRegistro.nombre.$touched && formRegistro.nombre.$error.required ?
                                   'Valor es requerido | Mínimo 2 letras' : ''}}" popover-trigger="focus"
                           ng-keyup="cortarString(nombre)"
                           ng-blur="cortarString(nombre)" ng-disabled="pasoDatosBasicos"
                            />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type="text" placeholder="Apellidos | Mínimo 4 letras" name="Apellidos" class="input margin-5"
                           ng-model="apellidos" minlength="2" maxlength="30"
                           required data-ng-class='{ error: formRegistro.apellidos.$invalid && formRegistro.apellidos.$dirty,
                                    success: formRegistro.apellidos.$valid && formRegistro.apellidos.$dirty && !pasoDatosBasicos}'
                           uib-popover="{{formRegistro.apellidos.$touched && formRegistro.apellidos.$error.required ?
                                   'Valor es requerido | Mínimo 4 letras' : ''}}" popover-trigger="focus" ng-disabled="pasoDatosBasicos"
                           onkeypress="return soloLetras(event);"
                            />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <input type="email" placeholder="Correo electrónico" class="inputx2 margin-5" ng-model="email"
                           name="email" required data-ng-class='{ error: formRegistro.email.$error.email,
		    				success: !formRegistro.email.$invalid && formRegistro.email.$dirty && !pasoDatosBasicos}'
                           uib-popover="{{(formRegistro.email.$touched && formRegistro.email.$error.required) ||
                                   formRegistro.email.$error.email ? 'Email inválido' : ''}}" popover-trigger="focus"
                           ng-disabled="pasoDatosBasicos" maxlength="50"/>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type="password" placeholder="Contraseña para tu cuenta " class="input margin-5" name="password"
                           ng-model="password" minlength="4" maxlength="30" required data-ng-class='{error: password!=repetir &&
                                   (formRegistro.password.$touched && formRegistro.repetir.$touched) ||
                                   (formRegistro.password.$invalid && formRegistro.password.$dirty),
                                   success: (formRegistro.password.$valid && formRegistro.password.$dirty) &&
                                   (password==repetir) && !pasoDatosBasicos}' uib-popover="{{formRegistro.password.$touched &&
                                   formRegistro.password.$error.required ? 'Valor es requerido' : ''}}"
                           popover-placement="bottom" popover-trigger="focus"
                           ng-disabled="pasoDatosBasicos"/>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type="password" placeholder="Confirmar contraseña" class="input margin-5" minlength="4"
                           name="repetir" ng-model="repetir" maxlength="30 required data-ng-class='{error:
                                   password!=repetir && (formRegistro.password.$touched &&
                                   formRegistro.repetir.$touched) || (formRegistro.repetir.$invalid &&
                                   formRegistro.repetir.$dirty), success: (password==repetir) &&
                                   formRegistro.repetir.$valid && formRegistro.repetir.$dirty && !pasoDatosBasicos}'
                           uib-popover="{{(formRegistro.repetir.$touched && formRegistro.repetir.$error.required)
                                    || (formData.password!=formData.repetir) ? 'Contraseñas NO coinciden' : ''}}"
                           popover-placement="bottom" popover-trigger="focus"
                           ng-disabled="pasoDatosBasicos"/>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 text-center">
                        <button class="btn btn-lg bton-green padding-right-15 padding-left-15" ng-disabled="!formRegistro.$valid
                        || password!=repetir || pasoDatosBasicos"
                                ng-click="registrarDatosBasicos(nombre,apellidos,email,password)">¡Empecemos!
                        </button>
                    </div>
                  </form>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
                  <img src="assets/images/saludo-beta.png" alt="Logo SoyEmpleo" width="" height="" />
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 margin-bottom-10 text-center">
              <a href=""><img src="assets/images/arrow_home.png" alt="Crea tu Perfil" width="" height="" /></a>
            </div>
        </div>
    </div>
</div>
<div id="section-asistente" class="margin-0 text-center" ng-show="formRegistro.$valid && password==repetir && pasoDatosBasicos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <h2>Perfecto {{nombreSaludo}}, ahora...</h2>
            </div>
        </div>
    </div>
</div>