<section id="section-estudios" class="section section-gris margin-0 text-center">
    <div ng-controller="estudiosController as ec" ng-init="ec.cargaInicial()">
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center" id="personaEstudios">
            <h1>¡Nos Encanta {{ec.ciudadSelect}}!</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="padding-left-20 padding-right-20">Tenemos excelentes ofertas de empleo en tu ciudad; cuentanos</p>
                    <h4>¿Qué tal tus estudios?</h4>
                    <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center margin-bottom-20">
                        <form class="form-estudios form-registro" name="formEstudios" ng-model="formEstudios" role="form"
                              novalidate>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0 padding-top-10">
                                <label class="label">Tipo de Estudios</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <div class="select margin-5">
                                    <select class="select-style" name="nivelEstudio" ng-model="$parent.nivelEstudio"
                                            id="nivelEstudio"
                                            ng-class='{error: formEstudios.nivelEstudio.$invalid && formEstudios.nivelEstudio.$touched,
                    success: formEstudios.nivelEstudio.$valid && formEstudios.nivelEstudio.$touched && !ec.pasoEstudios}'
                                            class="select-style input select-ext" ng-disabled="ec.pasoEstudios"
                                            required ng-change="imprimex(nivelEstudio)">
                                        <option value="" selected>Nivel de Estudio</option>
                                        <option value="Colegio">Colegio</option>
                                        <option value="Estudios Tecnicos y Tecnologicos">Estudios Tecnicos y Tecnologicos
                                        </option>
                                        <option value="Universidad">Universidad</option>
                                        <option value="Postgrado">Postgrado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <np-autocomplete name="institucion" ng-model="institucion" list="ec.listInstituciones"
                                                 idx="institucion"
                                                 disabled="ec.pasoEstudios"
                                                 class="input margin-left-n2"
                                                 placeholder="Nombre de la Institución"
                                                 tovalidate="formEstudios.institucion"
                                                 validateext="!ec.pasoEstudios">
                                </np-autocomplete>
                            </div>

                            <div ng-if="nivelEstudio=='Universidad' || nivelEstudio=='Estudios Tecnicos y Tecnologicos'
                            || nivelEstudio=='Postgrado'" id="contentCarrera">

                                <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0 margin-bottom-5">
                                    <np-autocomplete name="carrera" ng-model="carrera" list="listEstudios" idx="carrera"
                                                     placeholder="Estudios" class="input margin-left-n2 margin-top-10"
                                                     tovalidate="formEstudios.carrera" disabled="pasoEstudios"
                                                     validateext="!disabled">
                                    </np-autocomplete>
                                </div>

                                <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-lg-6  col-md-6 col-sm-6 col-xs-12 padding-left-0 margin-top-5">
                                    <input type="text" id="titulo" name="titulo" placeholder="Titulo Obtenido"
                                           class="input margin-5"
                                           ng-model="titulo" ng-class='{error: formEstudios.titulo.$invalid && formEstudios.titulo.$dirty,
                success: formEstudios.titulo.$valid && formEstudios.titulo.$dirty && !ec.pasoEstudios}' required maxlength="50"
                                           minlength="3" ng-disabled="ec.pasoEstudios"/>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0 padding-top-10">
                                    <label class="label ">Fecha de inicio</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-0">
                                        <div class="select2 margin-5">
                                            <select name="mesfecini" id="mesfecini" ng-model="mesfecini" required
                                                    ng-disabled="pasoEstudios"
                                                    ng-class='{error: formEstudios.mesfecini.$invalid && formEstudios.mesfecini.$touched,
                        success: formEstudios.mesfecini.$valid && formEstudios.mesfecini.$touched && !pasoEstudios}'
                                                    class="select-style">
                                                <option value="" selected>Mes</option>
                                                <option value="1">Enero</option>
                                                <option value="2">Febrero</option>
                                                <option value="3">Marzo</option>
                                                <option value="4">Abril</option>
                                                <option value="5">Mayo</option>
                                                <option value="6">Junio</option>
                                                <option value="7">Julio</option>
                                                <option value="8">Agosto</option>
                                                <option value="9">Septiembre</option>
                                                <option value="10">Octubre</option>
                                                <option value="11">Noviembre</option>
                                                <option value="12">Diciembre</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-sm-offset-1 col-xs-12 padding-0">
                                        <div class="select2 margin-5">
                                            <select name="annofecini" id="annofecini" ng-model="annofecini"
                                                    class="select-style" ng-change="ec.minYear(annofecini)"
                                                    ng-disabled="pasoEstudios"
                                                    ng-class='{error: formEstudios.annofecini.$invalid && formEstudios.annofecini.$touched,
                    success: formEstudios.annofecini.$valid && formEstudios.annofecini.$touched && !ec.pasoEstudios}'
                                                    required >
                                                <option value="" selected>Año</option>
                                                <option ng-repeat="a in ec.listAnios" value="{{a}}">{{a}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div id="contentFechaFin" ng-if="!studActualmente">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0 padding-top-10">
                                        <label class="label margin-top-5">Fecha de fin</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xs-12 padding-0">
                                            <div class="select2 margin-5">
                                                <select name="mesFecFin" id="mesFecFin" ng-model="mesFecFin"
                                                        class="select-style"
                                                        ng-disabled="pasoEstudios"
                                                        ng-class='{error: formEstudios.mesFecFin.$invalid && formEstudios.mesFecFin.$touched,
                        success: formEstudios.mesFecFin.$valid && formEstudios.mesFecFin.$touched && !ec.pasoEstudios}'
                                                        required>
                                                    <option value="" selected>Mes</option>
                                                    <option value="1">Enero</option>
                                                    <option value="2">Febrero</option>
                                                    <option value="3">Marzo</option>
                                                    <option value="4">Abril</option>
                                                    <option value="5">Mayo</option>
                                                    <option value="6">Junio</option>
                                                    <option value="7">Julio</option>
                                                    <option value="8">Agosto</option>
                                                    <option value="9">Septiembre</option>
                                                    <option value="10">Octubre</option>
                                                    <option value="11">Noviembre</option>
                                                    <option value="12">Diciembre</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-sm-offset-1 col-xs-12 padding-0">
                                            <div class="select2 margin-5">
                                                <select name="annofecFin" ng-model="annofecFin" class="select-style"
                                                        ng-disabled="ec.pasoEstudios"
                                                        ng-class='{error: formEstudios.annofecFin.$invalid && formEstudios.annofecFin.$touched,
                    success: formEstudios.annofecFin.$valid && formEstudios.annofecFin.$touched && !ec.pasoEstudios}'
                                                        required>
                                                    <option value="" selected>Año</option>
                                                    <option ng-repeat="a in ec.minAnoEstudio" value="{{a}}">{{a}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="radio col-lg-offset-6 col-md-offset-6 col-lg-6 col-md-6 col-sm-8 col-xs-12 text-left margin-top-10 margin-bottom-10">
                                    <input type="checkbox" id="studActualmente" name="studActualmente"
                                           ng-model="studActualmente"
                                           ng-disabled="ec.pasoEstudios"/>
                                    <label for="studActualmente"><span></span>Actualmente</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0 padding-top-10">
                                <label class="label">Promedio de crédito acumulado</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="text" name="promedio" id="promedio" placeholder="Promedio"
                                       class="input margin-5"
                                       maxlength="4" pattern="[0-9\s|.|,]+"
                                       ng-disabled="ec.pasoEstudios"
                                       ng-model="promedio" ng-class='{error: formEstudios.promedio.$invalid && formEstudios.promedio.$dirty,
            success: formEstudios.promedio.$valid && formEstudios.promedio.$dirty && !ec.pasoEstudios}'
                                       onkeypress="return validarNumero(event);"/>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-left-0 margin-top-20">
                                <textarea class="textarea margin-5" name="studActividades" ng-model="studActividades" id="studActividades"
                                          ng-disabled="pasoEstudios" maxlength="500" minlength="4"
                                          placeholder="Cuéntanos en que te destacabas, cuales eran tus materias favoritas, si hiciste parte de algún grupo de investigación, deportivo o cultural, si fuiste voluntario en algún evento o si tuviste alguna mención de honor"> </textarea>
                            </div>

                            <div ng-if="formEstudios.$valid"
                                 class="btn-agregarEstudio col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-10 text-center">
                                <label class="label btn-agregarEstudio efectoMouse"
                                       ng-click="ec.registrarEstudios(nivelEstudio, institucion ,carrera, titulo ,mesfecini, annofecini,
            mesFecFin, annofecFin, studActualmente, Promedio)">
                                    <img src="assets/images/plus.png" width="" height=""/> Agregar estudios </label>
                            </div>

                            <div ng-if="formEstudios.$invalid"
                                 class="btn-agregarEstudio col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-10 text-center">
                                <label class="label btn-agregarEstudio efectoMouseCancel">
                                    <img src="assets/images/plus.png" width="" height=""/> Agregar estudios
                                </label>
                            </div>

                            <div ng-repeat="l in ec.estudiosAgragados" class="col-lg-12 col-md-12 col-sm-12 col-xs-12
                            text-center flex-center">
                                <span style="color: #fff;"
                                      class="col-xs-10 margin-bottom-20 bg-primary vertical-align-center radius-4">
                                    {{l.study_level}} en ({{l.college}})
                                    <span class="margin-left-5 font-size-22 efectoMouse" ng-click="ec.eliminarEstudio($index)"
                                          ng-disabled="ec.pasoEstudios">
                                     &#x2715;
                                    </span>
                                </span>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 text-center">
                                <button class="btn bton-green padding-right-15 padding-left-15"
                                        ng-disabled="ec.estudiosAgragados.length<1 || ec.pasoEstudios"
                                        ng-click="ec.guardarEstudios()">Guardar y Continuar
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
                        <img src="assets/images/soyempleo_estudios.png" alt="Logo SoyEmpleo" width="" height=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>