<section id="section-idiomas" class="section section-gris margin-0 text-center">
    <div ng-controller="idiomaController as ip" ng-init="ip.cargaInicial()">
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center" id="PersonaIdiomas">
            <h1>Idiomas y Software</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <p class="padding-left-20 padding-right-20">Cuéntanos que otros idiomas entiendes, selecciona de la lista de abajo los idiomas que mejor domines</p>
                  <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center margin-bottom-20">
                      <form class="form-registro" ng-model="formOtros" name="formOtros" role="form" novalidate>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                            <div class="select2 margin-5">
                                <select name="idioma" class="select-style" ng-model="idioma"
                                        ng-class='{error: formOtros.idioma.$invalid && formOtros.idioma.$touched,
                                             success: formOtros.idioma.$valid && formOtros.idioma.$touched && !pasoIdiomas}'
                                        required ng-disabled="ip.pasoIdiomas">
                                    <option value="" selected>Idioma</option>
                                    <option ng-repeat="l in ip.listIdiomas" value="{{l}}">{{l}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                            <div class="select2 margin-5">
                                <select name="nivel" class="select-style" ng-model="nivelIdioma"
                                        ng-class='{error: formOtros.nivelIdioma.$invalid && formOtros.nivelIdioma.$touched,
                                             success: formOtros.nivelIdioma.$valid && formOtros.nivelIdioma.$touched && !ip.pasoIdiomas}'
                                        required ng-disabled="ip.pasoIdiomas">
                                    <option value="" selected>Nivel</option>
                                    <option value="1" selected>Básico</option>
                                    <option value="2" selected>Intermedio</option>
                                    <option value="3" selected>Avanzado</option>
                                </select>
                            </div>
                        </div>
                        <div ng-if="formOtros.$valid && !ip.pasoIdiomas" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-10 text-center">
                            <label class="label efectoMouse" ng-click="ip.registraridiomas(idioma,nivelIdioma)">
                                <img src="assets/images/plus.png" width="" height="" /> Agregar Idioma</label>
                        </div>

                        <div ng-if="formOtros.$invalid || ip.pasoIdiomas" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-10 text-center">
                            <label class="label efectoMouseCancel"><img src="assets/images/plus.png" width="" height="" /> Agregar Idioma</label>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center flex-center">
                            <span ng-repeat="l in ip.idiomasAgregados" style="color: #fff;"
                                  class="col-xs-10 col-sm-6 bg-primary margin-bottom-20 radius-4">
                                {{l.language}} ({{l.nivelTexto}})
                                <span ng-if="!ip.pasoIdiomas" class="margin-left-5 font-size-22 efectoMouse"
                                      ng-click="ip.eliminarIdioma($index)"
                                      ng-disabled="ip.pasoIdiomas">
                                &#x2715;
                                </span>
                                <span ng-if="ip.pasoIdiomas" class="margin-left-5 font-size-22 efectoMouseCancel"
                                      ng-disabled="ip.pasoIdiomas">
                                &#x2715;
                                </span>
                            </span>
                        </div>
                    </form>

                    <form class="form-registro" name="formOtros2" role="form" novalidate>
                        <p class="padding-left-20 padding-right-20">Queremos conocer que tan bien manejas ciertos programas y softwares, por favor selecciona los que mejor manejes de la lista que corresponde</p>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                            <div class="select2 margin-5">
                                <select name="programa" class="select-style" ng-model="programa" ng-disabled="ip.pasoIdiomas"
                                        ng-class='{error: formOtros2.programa.$invalid && formOtros2.programa.$touched,
                                             success: formOtros2.programa.$valid && formOtros2.programa.$touched && !ip.pasoIdiomas}'
                                        required>
                                    <option value="" selected>Programas</option>
                                    <option ng-repeat="l in ip.listSoftware" value="{{l}}">{{l}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                            <div class="select2 margin-5">
                                <select name="nivelPrograma" class="select-style" ng-model="nivelPrograma"
                                        ng-disabled="ip.pasoIdiomas"
                                        ng-class='{error: formOtros2.nivelPrograma.$invalid && formOtros2.nivelPrograma.$touched,
                                             success: formOtros2.nivelPrograma.$valid && formOtros2.nivelPrograma.$touched && !pasoIdiomas}'
                                        required>
                                    <option value="" selected>Nivel</option>
                                    <option value="1" selected>Básico</option>
                                    <option value="2" selected>Intermadio</option>
                                    <option value="3" selected>Avanzado</option>
                                </select>
                            </div>
                        </div>
                        <div ng-if="formOtros2.$valid && !ip.pasoIdiomas" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-10 text-center">
                            <label class="font-size-18 efectoMouse" ng-click="ip.registrarProgramas(programa,nivelPrograma)">
                                <img src="assets/images/plus.png" width="" height="" /> Agregar más programas</label>
                        </div>
                        <div ng-if="formOtros2.$invalid || ip.pasoIdiomas" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-10 text-center">
                            <label class="font-size-18 efectoMouseCancel"><img src="assets/images/plus.png" width="" height="" /> Agregar más programas</label>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center flex-center" ng-if="!ip.pasoIdiomas">
                            <span ng-repeat="l in ip.softwareAgregados" style="color: #fff;" ng-disabled="pasoIdiomas"
                                  class="col-xs-10 col-sm-6 bg-primary margin-bottom-20 radius-4">
                                {{l.software}} ({{l.nivelTexto}})
                                <span class="margin-left-5 font-size-22 efectoMouse" ng-click="ip.eliminarSoftware($index)">
                                &#x2715;
                                </span>
                            </span>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center flex-center" ng-if="ip.pasoIdiomas">
                            <span ng-repeat="l in ip.softwareAgregados" style="color: #fff;" ng-disabled="pasoIdiomas"
                                  class="col-xs-6 col-sm-6 etiqueta label-primary margin-left-5 margin-bottom-20">
                                {{l.software}} ({{l.nivelTexto}})
                                <span class="margin-left-5 font-size-22 efectoMouseCancel">
                                &#x2715;
                                </span>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10 margin-top-20 text-center">
                    <button class="btn btn-lg bton-green padding-right-15 padding-left-15" ng-disabled="pasoIdiomas"
                            ng-click="ip.guardarCambiosIdiomas()">Guardar y Continuar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</section>