<section id="section-preferencias" class="section section-gris margin-0 text-center">
    <div ng-controller="preferenciasController as pr" ng-init="pr.cargaInicial()">
        <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center" id="preferencias-section">
            <h1>Preferencias</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12 padding-20">
                    <p class="padding-left-20 padding-right-20">Tú trabajo es algo en lo que vas a estar por lo menos 8 horas diarias, no es buena idea estar un tercio de tu tiempo haciendo algo que no ames</p>
                    <h4>Cuentános, ¿En qué área y en que sector quieres trabajar?</h4>
                    <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center margin-bottom-20">
                        <form class="form-registro" name="formPreferencias" role="form" novalidate>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <div class="select2 margin-5">
                                    <select name="areas" ng-model="areas" class="select-style" ng-disabled="pr.pasoPreferencis"
                                            ng-class='{error: formPreferencias.areas.$invalid && formPreferencias.areas.$touched,
                                                 success: formPreferencias.areas.$valid && formPreferencias.areas.$touched && !pr.pasoPreferencis}'
                                            required>
                                        <option value="" selected>Áreas</option>
                                        <option ng-repeat="l in pr.listAreas" value="{{l}}">{{l}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <div class="select2 margin-5">
                                    <select name="sector" ng-model="sector" class="select-style" ng-disabled="pr.pasoPreferencis"
                                            ng-class='{error: formPreferencias.sector.$invalid && formPreferencias.sector.$touched,
                                                 success: formPreferencias.sector.$valid && formPreferencias.sector.$touched && !pr.pasoPreferencis}'>
                                        <option value="" selected>Sector</option>
                                        <option ng-repeat="l in pr.listSector" value="{{l}}">{{l}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 margin-bottom-20 text-center">
                                <button class="btn btn-lg bton-green padding-right-15 padding-left-15"
                                        ng-disabled="formPreferencias.$invalid || pr.pasoPreferencis"
                                        ng-click="pr.registrarPreferencias(areas, sector)">Guardar y Continuar
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
                        <img src="assets/images/soyempleo-registro.png" alt="Logo SoyEmpleo"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>