<section id="section-laboral" class="section margin-0 text-center">
    <div ng-controller="experienciaController as el" ng-init="el.cargaInicial()">
        <div class="header-section2 col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center" id="experienciaLaboral">
            <h1>¿alguna vez has trabajado?</h1>
        </div>
        <div class="container">
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="padding-left-20 padding-right-20">Cuéntanos tu experiencia, queremos conocerte más</p>
                    <h4>¿En qué sitios has trabajado?</h4>
                    <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center margin-bottom-20">
                        <form class="form-registro" role="form" name="formLaboral" novalidate>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-left-0">
                                <input type="text" name="nombreEmpresa" ng-model="nombreEmpresa" minlength="4"
                                       placeholder="Nombre de la empresa" class="input margin-5" ng-disabled="el.pasoExpTrabajo"
                                       ng-class='{error: formLaboral.nombreEmpresa.$invalid && formLaboral.nombreEmpresa.$dirty,
                            success: formLaboral.nombreEmpresa.$valid && formLaboral.nombreEmpresa.$dirty && !el.pasoExpTrabajo}'
                                       required maxlength="50"/>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <div class="select2 margin-5">
                                    <select name="sectorEmpresa" ng-model="sectorEmpresa" class="select-style" required
                                            ng-disabled="el.pasoExpTrabajo"
                                            ng-class='{error: formLaboral.sectorEmpresa.$invalid && formLaboral.sectorEmpresa.$touched,
                                success: formLaboral.sectorEmpresa.$valid && formLaboral.sectorEmpresa.$touched && !el.pasoExpTrabajo}'>
                                        <option value="" selected>Sector</option>
                                        <option ng-repeat="l in el.listSector" value="{{l}}">{{l}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <div class="select2 margin-5">
                                    <select name="areaCargoEmpresa" class="select-style" ng-model="areaCargoEmpresa"
                                            ng-disabled="el.pasoExpTrabajo"
                                            ng-class='{error: formLaboral.areaCargoEmpresa.$invalid && formLaboral.areaCargoEmpresa.$touched,
                            success: formLaboral.areaCargoEmpresa.$valid && formLaboral.areaCargoEmpresa.$touched && !el.pasoExpTrabajo}'
                                            required>
                                        <option value="" selected>Áreas</option>
                                        <option ng-repeat="l in el.listAreas" value="{{l}}">{{l}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-left-0">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                    <label class="label-white">Fecha de inicio</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                    <label class="label-white" ng-show="!actualmenteEmpresa">Fecha de fin</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-left-0">
                                    <div class="select2 margin-5">
                                        <select name="mesInicioEmpresa" class="select-style" ng-model="mesInicioEmpresa"
                                                ng-disabled="el.pasoExpTrabajo"
                                                ng-class='{error: formLaboral.mesInicioEmpresa.$invalid && formLaboral.mesInicioEmpresa.$touched,
                            success: formLaboral.mesInicioEmpresa.$valid && formLaboral.mesInicioEmpresa.$touched && !el.pasoExpTrabajo}'
                                                required>
                                            <option value="" selected>Mes</option>
                                            <option value="1">Enero</option>
                                            <option value="2">Febrero</option>
                                            <option value="3">Marzo</option>
                                            <option value="4">Abril</option>
                                            <option value="5">Mayo</option>
                                            <option value="6">Junio</option>
                                            <option value="7">Julio</option>
                                            <option value="8">Agosto</option>
                                            <option value="9">Septiembre</option>
                                            <option value="10">Octubre</option>
                                            <option value="11">Noviembre</option>
                                            <option value="12">Diciembre</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-left-0">
                                    <div class="select2 margin-5">
                                        <select name="annoInicioEmpresa" class="select-style" ng-model="annoInicioEmpresa" required
                                                ng-disabled="el.pasoExpTrabajo"  ng-change="el.minYear(annofecini)"
                                                ng-class='{error: formLaboral.annoInicioEmpresa.$invalid && formLaboral.annoInicioEmpresa.$touched,
                        success: formLaboral.annoInicioEmpresa.$valid && formLaboral.annoInicioEmpresa.$touched && !el.pasoExpTrabajo}'>
                                            <option value="" selected>Año</option>
                                            <option ng-repeat="a in el.minAnoEstudio" value="{{a}}">{{a}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div ng-if="!actualmenteEmpresa">
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
                                        <div class="select2 margin-5">
                                            <select name="mesFinEmpresa" class="select-style" ng-model="mesFinEmpresa" required
                                                    ng-disabled="el.pasoExpTrabajo"
                                                    ng-class='{error: formLaboral.mesFinEmpresa.$invalid && formLaboral.mesFinEmpresa.$touched,
                        success: formLaboral.mesFinEmpresa.$valid && formLaboral.mesFinEmpresa.$touched && !pasoExpTrabajo}'>
                                                <option value="" selected>Mes</option>
                                                <option value="1">Enero</option>
                                                <option value="2">Febrero</option>
                                                <option value="3">Marzo</option>
                                                <option value="4">Abril</option>
                                                <option value="5">Mayo</option>
                                                <option value="6">Junio</option>
                                                <option value="7">Julio</option>
                                                <option value="8">Agosto</option>
                                                <option value="9">Septiembre</option>
                                                <option value="10">Octubre</option>
                                                <option value="11">Noviembre</option>
                                                <option value="12">Diciembre</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-left-0">
                                        <div class="select2 margin-5">
                                            <select name="annoFinEmpresa" class="select-style" ng-model="annoFinEmpresa" required
                                                    ng-disabled="el.pasoExpTrabajo"
                                                    ng-class='{error: formLaboral.annoFinEmpresa.$invalid && formLaboral.annoFinEmpresa.$touched,
                    success: formLaboral.annoFinEmpresa.$valid && formLaboral.annoFinEmpresa.$touched && !el.pasoExpTrabajo}'>
                                                <option value="" selected>Año</option>
                                                <option ng-repeat="a in el.listAnios" value="a">{{a}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="radio col-lg-offset-6 col-md-offset-6 col-lg-6 col-md-6 col-sm-8 col-xs-12 text-left margin-top-10 margin-bottom-10">
                                <input type="checkbox" id="e1" name="actualmenteEmpresa" ng-model="actualmenteEmpresa"
                                       ng-disabled="pasoExpTrabajo"/>
                                <label for="e1" class="label-white"><span></span>Actualmente</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="text" name="cargoEmpresa" placeholder="Cargo desempeñado" class="input margin-5"
                                       ng-model="cargoEmpresa" required minlength="4" maxlength="50"
                                       ng-class='{error: formLaboral.cargoEmpresa.$invalid && formLaboral.cargoEmpresa.$dirty,
            success: formLaboral.cargoEmpresa.$valid && formLaboral.cargoEmpresa.$dirty && !el.pasoExpTrabajo}'
                                       ng-disabled="el.pasoExpTrabajo"/>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                                <input type="text" placeholder="Último salario devengado" name="ultSalarioEmpresa" class="input margin-5"
                                       ng-model="ultSalarioEmpresa" minlength="1" onkeypress="return validarNumero(event);"
                                       ng-class='{error: formLaboral.ultSalarioEmpresa.$invalid && formLaboral.ultSalarioEmpresa.$dirty,
            success: formLaboral.ultSalarioEmpresa.$valid && formLaboral.ultSalarioEmpresa.$dirty && !el.pasoExpTrabajo}'
                                       ng-disabled="el.pasoExpTrabajo" maxlength="50" pattern="[0-9\s|.|,]+">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-left-0 margin-top-20">
                                    <textarea class="textarea-large margin-5" name="descripcionEmpresa" ng-model="descripcionEmpresa"
                                      ng-disabled="el.pasoExpTrabajo" maxlength="400"
                                      placeholder="Cuéntanos tus funciones y responsabilidades, que aprendiste de este empleo y que habilidades nuevas adquiriste, si te destacaste o recibiste un premio, se breve y conciso"></textarea>
                            </div>

                            <div ng-if="formLaboral.$invalid  || pasoExpTrabajo" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-10 text-center">
                                <label class="efectoMouseCancel text-white"><img src="assets/images/plus-blanco.png" width="" height="" /> Agregar empleo</label>
                            </div>

                            <div ng-if="formLaboral.$valid && !pasoExpTrabajo" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-10 text-center">
                                <label class="efectoMouse text-white" ng-click="el.registrarExpLaboral(nombreEmpresa, sectorEmpresa,
            areaCargoEmpresa, mesInicioEmpresa, annoInicioEmpresa, mesFinEmpresa, annoFinEmpresa, cargoEmpresa,
            ultSalarioEmpresa, descripcionEmpresa, actualmenteEmpresa )">
                                    <img src="assets/images/plus-blanco.png" width="" height="" />
                                    Agregar empleo
                                </label>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center flex-center">
                                <span ng-repeat="l in expLaboralAgregados" style="color: #fff;"
                                      class="col-xs-6 col-sm-6 etiqueta label-info margin-left-5 margin-bottom-20">
                                    {{l.company}}
                                    <span ng-if="!el.pasoExpTrabajo" class="margin-left-5 font-size-22 efectoMouse"
                                          ng-click="el.eliminarExpLaboral($index)">
                                    &#x2715;
                                    </span>
                                    <span ng-if="pasoExpTrabajo" class="margin-left-5 font-size-22 efectoMouseCancel">
                                    &#x2715;
                                    </span>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
                        <img src="assets/images/soyempleo-registro.png" alt="Logo SoyEmpleo" width="" height="" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 text-center">
                        <button class="btn btn-lg bton-green padding-right-15 padding-left-15" ng-if="sinExpe"
                                ng-click="el.saltarSinExp()">
                            Saltar, no tengo experiencia
                        </button>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10 margin-top-20 text-center">
                        <button class="btn btn-lg bton-green padding-right-15 padding-left-15" ng-if="!sinExpe"
                                ng-click="el.guardarCambiosExpLab()">
                            Guardar y Continuar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>