<section id="section-editardatos" class="text-center section-blanco" ng-cloak>
  <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
    <h1>DATOS ADICIONALES</h1>
  </div>
  <div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-20">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin-bottom-20">
          <div class="form-registro" name="formDatos"><!-- <form class="form-registro" name="formDatos" role="form" novalidate> -->
            <div class="row">
              <label for="fotos" style="margin-left: 2%; margin-right:2%;" class="col-xs-12">Una imagen dice más que mil palabras, sube fotos de las oficinas o equipos de trabajo, los candidatos valoran esto.</label>
              
            <div class="row" ng-if="vm.officePictureLength==0">
                <div class="col-xs-12 text-center">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="padding-bottom: 2%;" ng-repeat="i in [1, 2, 3, 4]">
                      <div class="border-uploader">
                        <center>
                          <img class="img-responsive center-block soy-empleo-plus-lg" src="../assets/images/soyempleo-pus-lg.png" alt="" ng-click="vm.openModal($event);">
                        </center>
                      </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="vm.officePictureLength!=0">
                <div class="col-xs-12 text-center" id="officephotoshow">
                    <div ng-repeat="n in vm.photos" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 hovereffect3" style="padding-bottom: 2%;padding-top:2%;">
                      <img class="img-responsive center-block thumbnail" src="{{n.url}}" alt="">
                      <div class="overlay">
                        <button class="info btn btn-danger" style="margin-top: 90px;" ng-click="vm.deletePicture(n.position);">Eliminar</button>
                      </div>
                    </div>

                    <div ng-repeat="i in vm.repetidorImagen" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 div-buttom-uploader" style="padding-bottom: 2%;" ng-if="vm.officePictureLength<4">
                      <div class="border-uploader">
                        <center>
                          <img class="img-responsive center-block soy-empleo-plus-lg" src="../assets/images/soyempleo-pus-lg.png" alt="" ng-click="vm.openModal($event);">
                        </center>
                      </div>
                    </div>
                </div>
            </div>

              <label for="fotos" style="margin-left: 2%; margin-right:2%; padding-top:2%;" class="col-xs-12">Es importante que los candidatos conozcan los beneficios extras que ofrece la empresa, esto ayudará atraerlos</label>
 
              <div class="radio col-lg-12 col-md-6 col-sm-12 col-xs-12 margin-top-10 margin-bottom-10 text-left padding-0">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 2%;" ng-repeat="beneficios in vm.values">
                  <input type="checkbox" id="{{beneficios.id}}" name="{{beneficios.nombre}}" required ng-model="beneficios.value" ng-click="vm.benefitsEditor($index,beneficios.value,beneficios.text);"/>
                  <label for="{{beneficios.id}}"><span></span> {{beneficios.text}}</label>
                </div>
              </div>

              <!-- <div class="hovereffect3 margin-tb-5">
                  <div ng-class="vm.isEdit[10] ? 'isBlock':'isDisabled'">
                    <input type="text" placeholder="Cargo en la empresa" name="companyRepCharge" class="input margin-tb-5"
                  ng-model="vm.companyRefCharge" minlength="4"
                  required data-ng-class='{ error: formDatos.companyRefCharge.$invalid && formDatos.companyRefCharge.$dirty,
                  success: formDatos.nemployeeNumberit.$valid && formDatos.companyRefCharge.$dirty}'
                  uib-popover="{{formDatos.companyRefCharge.$touched && formDatos.companyRefCharge.$error.required ?
                  'Valor es requerido' : ''}}" popover-trigger="focus"
                  onkeypress="return soloLetras(event);"
                  ng-keyup="vm.separarNombre(vm.companyRefCharge)"
                  ng-blur="vm.blurEdit();vm.guardarCambios(10)"/>
                  </div>
                  <div class="overlay" ng-class="vm.isEdit[10] ? 'isNone':'isBlock'">
                    <button class="info btn btn-primary" style="margin-top: 10px;" ng-click="vm.focusEdit();vm.editarCampo(10);">Editar</button>
                  </div>
                </div> -->

              <label for="fotos" style="margin-left: 2%; margin-right:2%; padding-top:2%;" class="col-xs-12">Redes Sociales de <span style="text-transform: capitalize;">{{companyName}}</span></label>
              <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="hovereffect3 margin-tb-5">
                  <div ng-class="vm.isEdit[0] ? 'isBlock':'isDisabled'">
                    <input maxlength="50" ng-focus="vm.isFocus[0]" type="text" placeholder="Sitio Web" name="website" class="input margin-tb-5"
                      ng-model="vm.aditionalData.website" minlength="1"
                      required data-ng-class='{ error: formDatos.website.$invalid && formDatos.website.$dirty,
                      success: formDatos.website.$valid && formDatos.website.$dirty}'
                      uib-popover="{{formDatos.website.$touched && formDatos.website.$error.required ?
                      'Valor es requerido' : ''}}" popover-trigger="focus"
                      ng-blur="vm.blurEdit(0);vm.guardarCambios(0,vm.aditionalData.website,'website');vm.dataEditor(vm.aditionalData.website,'website',0);"/>
                  </div>
                  <div class="overlay" ng-class="vm.isEdit[0] ? 'isNone':'isBlock'">
                    <button class="info btn btn-primary" style="margin-top: 10px;" ng-click="vm.focusEdit(0);vm.editarCampo(0);">Editar</button>
                  </div>
                </div>                                  
              </div>

              <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="hovereffect3 margin-tb-5">
                  <div ng-class="vm.isEdit[1] ? 'isBlock':'isDisabled'">
                    <input maxlength="50" ng-focus="vm.isFocus[1]" type="text" placeholder="Link de Twitter" name="tw_url" class="input margin-tb-5"
                      ng-model="vm.aditionalData.tw_url" minlength="1"
                      required data-ng-class='{ error: formDatos.tw_url.$invalid && formDatos.tw_url.$dirty,
                      success: formDatos.tw_url.$valid && formDatos.tw_url.$dirty}'
                      uib-popover="{{formDatos.tw_url.$touched && formDatos.tw_url.$error.required ?
                      'Valor es requerido' : ''}}" popover-trigger="focus"
                      ng-blur="vm.blurEdit(1);vm.guardarCambios(1,vm.aditionalData.tw_url,'tw_url');vm.dataEditor(vm.aditionalData.tw_url,'tw_url',1);"/>
                  </div>
                  <div class="overlay" ng-class="vm.isEdit[1] ? 'isNone':'isBlock'">
                    <button class="info btn btn-primary" style="margin-top: 10px;" ng-click="vm.focusEdit(1);vm.editarCampo(1);">Editar</button>
                  </div>
                </div>                                  
              </div>

              <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="hovereffect3 margin-tb-5">
                  <div ng-class="vm.isEdit[2] ? 'isBlock':'isDisabled'">
                    <input maxlength="50" ng-focus="vm.isFocus[2]" type="text" placeholder="Link de Facebook" name="fb_url" class="input margin-tb-5"
                      ng-model="vm.aditionalData.fb_url" minlength="1"
                      required data-ng-class='{ error: formDatos.fb_url.$invalid && formDatos.fb_url.$dirty,
                      success: formDatos.fb_url.$valid && formDatos.fb_url.$dirty}'
                      uib-popover="{{formDatos.fb_url.$touched && formDatos.fb_url.$error.required ?
                      'Valor es requerido' : ''}}" popover-trigger="focus"
                      ng-blur="vm.blurEdit(2);vm.guardarCambios(2,vm.aditionalData.fb_url,'fb_url');vm.dataEditor(vm.aditionalData.fb_url,'fb_url',2);"/>
                  </div>
                  <div class="overlay" ng-class="vm.isEdit[2] ? 'isNone':'isBlock'">
                    <button class="info btn btn-primary" style="margin-top: 10px;" ng-click="vm.focusEdit(2);vm.editarCampo(2);">Editar</button>
                  </div>
                </div>                                  
              </div>

              <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="hovereffect3 margin-tb-5">
                  <div ng-class="vm.isEdit[3] ? 'isBlock':'isDisabled'">
                    <input maxlength="50" ng-focus="vm.isFocus[3]" type="text" placeholder="Link de Linkedin" name="lk_url" class="input margin-tb-5"
                      ng-model="vm.aditionalData.lk_url" minlength="1"
                      required data-ng-class='{ error: formDatos.lk_url.$invalid && formDatos.lk_url.$dirty,
                      success: formDatos.lk_url.$valid && formDatos.lk_url.$dirty}'
                      uib-popover="{{formDatos.lk_url.$touched && formDatos.lk_url.$error.required ?
                      'Valor es requerido' : ''}}" popover-trigger="focus"
                      ng-blur="vm.blurEdit(3);vm.guardarCambios(3,vm.aditionalData.lk_url,'lk_url');vm.dataEditor(vm.aditionalData.lk_url,'lk_url',3);"/>
                  </div>
                  <div class="overlay" ng-class="vm.isEdit[3] ? 'isNone':'isBlock'">
                    <button class="info btn btn-primary" style="margin-top: 10px;" ng-click="vm.focusEdit(3);vm.editarCampo(3);">Editar</button>
                  </div>
                </div>                                  
              </div>           
            </div>

          </div><!-- </form> -->
        </div>
      </div>
    </div>
  </div>
  <div ng-include="'app/sectionCompany/imagenDialog.html'">
</div>
</section>