<section id="section-editardatos" class="text-center section-blanco" ng-cloak>
  <div class="header-section col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0 text-center">
    <h1>DATOS BÁSICOS</h1>
  </div>
  <div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-20">
        <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center margin-bottom-20">
          <!-- <form id="reg-empre" class="form-registro" name="formDatos" role="form" novalidate action="" method="post" enctype="multipart/form-data"> -->
          <div id="reg-empresas" class="form-registro" name="formDatos">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                  <label for="nombre">Nombre de la Empresa</label>
                  <div class="hovereffect3 margin-tb-5">
                    <div ng-class="vm.isEdit[0] ? 'isBlock':'isDisabled'">
                      <input maxlength="50" ng-focus="vm.isFocus[0]" type="text" placeholder="Razón Social" name="nombre" class="input margin-tb-5"
                  ng-model="vm.basicData.social_name" minlength="4"
                  required data-ng-class='{ error: formDatos.nombre.$invalid && formDatos.nombre.$dirty,
                  success: formDatos.nombre.$valid && formDatos.nombre.$dirty}'
                  uib-popover="{{formDatos.nombre.$touched && formDatos.nombre.$error.required ?
                  'Valor es requerido' : ''}} " popover-trigger="focus"
                  ng-blur="vm.blurEdit(0);vm.guardarCambios(0,vm.basicData.social_name,'social_name');vm.dataEditor(vm.basicData.social_name,'social_name',0)"
                  />
                    </div>
                    

                  <div class="overlay" ng-class="vm.isEdit[0] ? 'isNone':'isBlock'">
                    <button class="info btn btn-primary" style="margin-top: 10px;" ng-click="vm.focusEdit(0);vm.editarCampo(0);">Editar</button>
                  </div>
                  </div>

                 <!--  <div class="hovereffect3 margin-tb-5">
                    <div ng-class="vm.isEdit[1] ? 'isBlock':'isDisabled'">
                      <input nit-Numbers maxlength="11" ng-focus="vm.isFocus[1]" type="text" placeholder="NIT" name="nit" class="input margin-tb-5" mask="999999999-9"
                  ng-model="vm.basicData.nro_doc" minlength="11"
                  required data-ng-class='{ error: formDatos.nit.$invalid && formDatos.nit.$dirty,
                  success: formDatos.nit.$valid && formDatos.nit.$dirty}'
                  uib-popover="{{formDatos.nit.$touched && formDatos.nit.$error.required ?
                  'Valor es requerido' : ''}}" popover-trigger="focus"
                  ng-blur="vm.blurEdit(1);vm.guardarCambios(1,vm.basicData.nro_doc,'nro_doc');vm.dataEditor(vm.basicData.nro_doc,'nro_doc',1)"
                  />
                    </div>
                    <div class="overlay" ng-class="vm.isEdit[1] ? 'isNone':'isBlock'">
                    <button class="info btn btn-primary" style="margin-top: 10px;" ng-click="vm.focusEdit(1);vm.editarCampo(1);">Editar</button>
                  </div>
                  </div> -->


                  <div class="hovereffect3 margin-tb-5">
                    <div ng-class="vm.isEdit[1] ? 'isBlock':'isDisabled'">
                      <input maxlength="11" ng-focus="vm.isFocus[1]" type="text" placeholder="NIT" name="nit" class="input margin-tb-5"
                  ng-model="vm.basicData.nro_doc" minlength="1"
                  required data-ng-class='{ error: formDatos.nit.$invalid && formDatos.nit.$dirty,
                  success: formDatos.nemployeeNumberit.$valid && formDatos.nit.$dirty}'
                  uib-popover="{{formDatos.nit.$touched && formDatos.nit.$error.required ?
                  'Valor es requerido' : ''}}" popover-trigger="focus"
                  ng-blur="vm.blurEdit(1);vm.guardarCambios(1,vm.basicData.nro_doc,'nro_doc');vm.dataEditor(vm.basicData.nro_doc,'nro_doc',1)"
                  />
                    </div>
                    <div class="overlay" ng-class="vm.isEdit[1] ? 'isNone':'isBlock'">
                    <button class="info btn btn-primary" style="margin-top: 10px;" ng-click="vm.focusEdit(1);vm.editarCampo(1);">Editar</button>
                  </div>
                  </div>

                  
                  <div class="hovereffect3 margin-tb-5">
                    <div ng-class="vm.isEdit[2] ? 'isBlock':'isDisabled'">
                      <input maxlength="20" ng-focus="vm.isFocus[2]" numbers-only type="text" placeholder="Número de Empleados" name="employeeNumber" class="input margin-tb-5"
                  ng-model="vm.basicData.employees_count" minlength="1"
                  required data-ng-class='{ error: formDatos.employeeNumber.$invalid && formDatos.employeeNumber.$dirty,
                  success: formDatos.nemployeeNumberit.$valid && formDatos.employeeNumber.$dirty}'
                  uib-popover="{{formDatos.employeeNumber.$touched && formDatos.employeeNumber.$error.required ?
                  'Valor es requerido' : ''}}" popover-trigger="focus"
                  ng-blur="vm.blurEdit(2);vm.guardarCambios(2,vm.basicData.employees_count,'employees_count');vm.dataEditor(vm.basicData.employees_count,'employees_count',2)"
                  />
                    </div>
                    <div class="overlay" ng-class="vm.isEdit[2] ? 'isNone':'isBlock'">
                    <button class="info btn btn-primary" style="margin-top: 10px;" ng-click="vm.focusEdit(2);vm.editarCampo(2);">Editar</button>
                  </div>
                  </div>
                  
                  <div class="hovereffect3 margin-tb-5">
                    <div ng-class="vm.isEdit[3] ? 'isBlock':'isDisabled'">
                      <select name="department" ng-focus="vm.isFocus[3]" class="select-style input" ng-model="vm.basicData.department" ng-class='{error: formDatos.department.$invalid && formDatos.department.$touched,
                      success: formDatos.department.$valid && formDatos.department.$touched}' ng-change="vm.depSelected(vm.basicData.department)" ng-blur="vm.blurEdit(3);vm.guardarCambios(3,vm.basicData.department,'department');vm.dataEditor(vm.basicData.department,'department',3)">
                        <option value="" selected>Departamento</option>
                        <option value="{{vm.basicData.department}}" selected ng-if="vm.basicData.department!=''">{{vm.basicData.department}}</option>
                        <option ng-repeat="l in vm.listDepartamentos" value="{{l._id}}">{{l.name}}</option>
                      </select>
                    </div>
                    <div class="overlay" ng-class="vm.isEdit[3] ? 'isNone':'isBlock'">
                      <button class="info btn btn-primary" style="margin-top: 2.5px;" ng-click="vm.focusEdit(3);vm.editarCampo(3);">Editar</button>
                    </div>
                  </div>

                  <div class="hovereffect3 margin-tb-5">
                    <div ng-class="vm.isEdit[4] ? 'isBlock':'isDisabled'">
                      <select name="city" ng-focus="vm.isFocus[4]" class="select-style input" ng-model="vm.basicData.city" ng-class='{error: formDatos.city.$invalid && formDatos.city.$touched,
                        success: formDatos.city.$valid && formDatos.city.$touched}'
                        ng-blur="vm.blurEdit(4);vm.guardarCambios(4,vm.basicData.city,'city');vm.dataEditor(vm.basicData.city,'city',4)">
                        <option value="" selected>Ciudad</option>
                        <option value="{{vm.basicData.city}}" ng-if="vm.basicData.city!=''" selected>
                          {{vm.basicData.city}}
                        </option>
                        <option ng-repeat="l in vm.listaCiudades" value="{{l.name}}">{{l.name}}</option>
                      </select>

                    </div>
                    <div class="overlay" ng-class="vm.isEdit[4] ? 'isNone':'isBlock'">
                    <button class="info btn btn-primary" style="margin-top: 2.5px;" ng-click="vm.focusEdit(4);vm.editarCampo(4);">Editar</button>
                  </div>
                  </div>
                  <div class="hovereffect3 margin-tb-5">
                    <div ng-class="vm.isEdit[5] ? 'isBlock':'isDisabled'">
                      <input maxlength="50" ng-focus="vm.isFocus[5]" type="text" placeholder="Dirección" name="address" class="input margin-tb-5"
                  ng-model="vm.basicData.address" minlength="4"
                  required data-ng-class='{ error: formDatos.address.$invalid && formDatos.address.$dirty,
                  success: formDatos.nemployeeNumberit.$valid && formDatos.address.$dirty}'
                  uib-popover="{{formDatos.address.$touched && formDatos.address.$error.required ?
                  'Valor es requerido' : ''}}" popover-trigger="focus"
                  ng-blur="vm.blurEdit(5);vm.guardarCambios(5,vm.basicData.address,'address');vm.dataEditor(vm.basicData.address,'address',5)"
                  />
                    </div>
                    <div class="overlay" ng-class="vm.isEdit[5] ? 'isNone':'isBlock'">
                    <button class="info btn btn-primary" style="margin-top: 10px;" ng-click="vm.focusEdit(5);vm.editarCampo(5);">Editar</button>
                  </div>
                  </div>

                  <div class="hovereffect3 margin-tb-5">
                    <div ng-class="vm.isEdit[6] ? 'isBlock':'isDisabled'">
                      <select name="companySector" ng-focus="vm.isFocus[6]" class="select-style input" ng-model="vm.basicData.sector" ng-class='{error: formDatos.companySector.$invalid && formDatos.companySector.$touched,
                      success: formDatos.companySector.$valid && formDatos.companySector.$touched}' ng-blur="vm.blurEdit(6);vm.guardarCambios(6,vm.basicData.sector,'sector');vm.dataEditor(vm.basicData.sector,'sector',6)">
                        <option value="" selected>Sector de la empresa</option>
                        <option value="{{vm.basicData.sector}}" selected ng-if="vm.basicData.sector!=''">{{vm.basicData.sector}}</option>
                        <option ng-repeat="l in vm.listaSectores" value="{{l.description}}">{{l.description}}</option>
                      </select>
                    </div>
                    <div class="overlay" ng-class="vm.isEdit[6] ? 'isNone':'isBlock'">
                      <button class="info btn btn-primary" style="margin-top: 2.5px;" ng-click="vm.focusEdit(6);vm.editarCampo(6);">Editar</button>
                    </div>
                  </div>

                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                  <!-- <form id="reg-empre" name="formDatos" role="form" novalidate action="" method="post" enctype="multipart/form-data">
                  <div id="kv-avatar-errors" class="center-block" style="width:800px;display:none"></div>
                  <label for="_token">Coloca el logo de tu empresa aquí</label>
                  <div class="container" style="padding: 10px !important; width: 280px !important; margin-top: 20px; margin-left: 10%;">
                    <div class="kv-avatar center-block" style="width:200px">
                      <input id="logo" name="logo" type="file" class="file-loading" onchange="previewFileLogoCompany()">
                    </div>

                    <div id="divButton" style="display: none;">
                      <button class="btn btn-lg bton-green" style="margin-top: 2% !important;" onclick="subirImagenLogoCompany()">
                          Guardar
                      </button>
                    </div>
                    <div id="divLoader"style="display: none;">
                      <span class="file-loading btn btn-lg bton-white" style="margin-top: 4% !important;"></span>
                    </div>
                    </form> -->
                    <div class="row">
                      <div class="col-xs-12">
                        <label for="_token">Coloca el logo de tu empresa aquí</label>
                      </div>
                      <div class="col-xs-12 hovereffect3 margin-tb-5">
                        <img class="img-responsive center-block thumbnail" src="{{userAvatar}}" alt="">
                        <div class="overlay">
                          <button class="info btn btn-success" style="margin-top: 90px;" ng-click="vm.openModalLogo($event);">Cargar logo</button>
                        </div>
                      </div>
                  </div>
                  </div>
                </div>
            </div>
            
            <div class="row topline" style="margin-left: 10px; margin-bottom: 30px;">
              <div class="col-xs-12 col-sm-8">
                  <div class="hovereffect3 margin-tb-5">
                <div ng-class="vm.isEdit[7] ? 'isBlock':'isDisabled'">
                  <textarea maxlength="250" ng-focus="vm.isFocus[7]" class="form-control" rows="5" ng-model="vm.basicData.description"
                    placeholder="Cuentanos que hace tu empresa" ng-blur="vm.blurEdit(7);vm.guardarCambios(7,vm.basicData.description,'description');vm.dataEditor(vm.basicData.description,'description',7)"></textarea>
                </div>
                <div class="overlay" ng-class="vm.isEdit[7] ? 'isNone':'isBlock'">
                  <button class="info btn btn-primary" style="margin-top: 50px;" ng-click="vm.focusEdit(7);vm.editarCampo(7);">Editar</button>
                </div>
              </div>
              </div>
              <div class="hidden-xs col-sm-4">
                  <img src="../assets/images/soyempleo_laboral.png" class="img-responsive" alt="">
              </div>
            </div>  
            
            <div class="row" style="font-weight: 700;">
              <label class="col-xs-12" for="nombre">Persona de contacto</label>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                <div class="hovereffect3 margin-tb-5">
                  <div ng-class="vm.isEdit[8] ? 'isBlock':'isDisabled'">
                    <input maxlength="50" ng-focus="vm.isFocus[8]" type="text" placeholder="Nombre Completo" name="companyRepName" class="input margin-tb-5"
                    ng-model="vm.basicData.contact[0].full_name" minlength="4"
                    required data-ng-class='{ error: formDatos.companyRepName.$invalid && formDatos.companyRepName.$dirty,
                    success: formDatos.nemployeeNumberit.$valid && formDatos.companyRepName.$dirty}'
                    uib-popover="{{formDatos.companyRepName.$touched && formDatos.companyRepName.$error.required ?
                    'Valor es requerido' : ''}}" popover-trigger="focus"
                    onkeypress="return soloLetras(event);"
                    ng-blur="vm.blurEdit(8);vm.guardarCambios(8,vm.basicData.contact[0].full_name,'full_name');vm.contactEditor(vm.basicData.contact[0].full_name,'full_name',8);"/>
                  </div>
                  <div class="overlay" ng-class="vm.isEdit[8] ? 'isNone':'isBlock'">
                    <button class="info btn btn-primary" style="margin-top: 10px;" ng-click="vm.focusEdit(8);vm.editarCampo(8);">Editar</button>
                  </div>
                </div>
                <div class="hovereffect3 margin-tb-5">
                  <div ng-class="vm.isEdit[9] ? 'isBlock':'isDisabled'">
                    <input maxlength="20" ng-focus="vm.isFocus[9]" numbers-only type="text" placeholder="Telefono de Oficina" name="companyRepTel" class="input margin-tb-5"
                  ng-model="vm.basicData.contact[0].local_phone" minlength="4"
                  required data-ng-class='{ error: formDatos.companyRefTel.$invalid && formDatos.companyRefTel.$dirty,
                  success: formDatos.nemployeeNumberit.$valid && formDatos.companyRefTel.$dirty}'
                  uib-popover="{{formDatos.companyRefTel.$touched && formDatos.companyRefTel.$error.required ?
                  'Valor es requerido' : ''}}" popover-trigger="focus"
                  ng-blur="vm.blurEdit(9);vm.guardarCambios(9,vm.basicData.contact[0].local_phone,'local_phone');vm.contactEditor(vm.basicData.contact[0].local_phone,'local_phone',9);"/>
                  </div>
                  <div class="overlay" ng-class="vm.isEdit[9] ? 'isNone':'isBlock'">
                    <button class="info btn btn-primary" style="margin-top: 10px;" ng-click="vm.focusEdit(9);vm.editarCampo(9);">Editar</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-left-0">
                <div class="hovereffect3 margin-tb-5">
                  <div ng-class="vm.isEdit[10] ? 'isBlock':'isDisabled'">
                    <input maxlength="50" ng-focus="vm.isFocus[10]" type="text" placeholder="Cargo en la empresa" name="companyRepCharge" class="input margin-tb-5"
                  ng-model="vm.basicData.contact[0].position" minlength="3"
                  required data-ng-class='{ error: formDatos.companyRefCharge.$invalid && formDatos.companyRefCharge.$dirty,
                  success: formDatos.nemployeeNumberit.$valid && formDatos.companyRefCharge.$dirty}'
                  uib-popover="{{formDatos.companyRefCharge.$touched && formDatos.companyRefCharge.$error.required ?
                  'Valor es requerido' : ''}}" popover-trigger="focus"
                  onkeypress="return soloLetras(event);"
                  ng-blur="vm.blurEdit(10);vm.guardarCambios(10,vm.basicData.contact[0].position,'position');vm.contactEditor(vm.basicData.contact[0].position,'position',10);"/>
                  </div>
                  <div class="overlay" ng-class="vm.isEdit[10] ? 'isNone':'isBlock'">
                    <button class="info btn btn-primary" style="margin-top: 10px;" ng-click="vm.focusEdit(10);vm.editarCampo(10);">Editar</button>
                  </div>
                </div>
                <div class="hovereffect3 margin-tb-5">
                  <div ng-class="vm.isEdit[11] ? 'isBlock':'isDisabled'">
                    <input maxlength="20" ng-focus="vm.isFocus[11]" numbers-only type="text" placeholder="Teléfono movil" name="companyRepCel" class="input margin-tb-5"
                  ng-model="vm.basicData.contact[0].mobile_phone" minlength="4"
                  required data-ng-class='{ error: formDatos.companySector.$invalid && formDatos.companySector.$dirty,
                  success: formDatos.nemployeeNumberit.$valid && formDatos.companySector.$dirty}'
                  uib-popover="{{formDatos.companySector.$touched && formDatos.companySector.$error.required ?
                  'Valor es requerido' : ''}}" popover-trigger="focus"
                  ng-blur="vm.blurEdit(11);vm.guardarCambios(11,vm.basicData.contact[0].mobile_phone,'mobile_phone');vm.contactEditor(vm.basicData.contact[0].mobile_phone,'mobile_phone',11);"/>
                  </div>
                  <div class="overlay" ng-class="vm.isEdit[11] ? 'isNone':'isBlock'">
                    <button class="info btn btn-primary" style="margin-top: 10px;" ng-click="vm.focusEdit(11);vm.editarCampo(11);">Editar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </div>
  <div ng-include="'app/sectionCompany/imagenDialogLogo.html'">
</section>