<style>
    md-dialog {
        min-width: 650px;
    }
    md-dialog-actions{
        padding: 10px !important;
        margin: 10px !important;
    }
</style>
<script type="text/ng-template" id="dialog3.tmpl.html" style="width:900px;height:810px;">  
    <md-dialog aria-label="" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Selecciónar Imagen</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons text-white">X</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>

            <div class="md-dialog-content">
                <div id="kv-avatar-errors" class="center-block" style="width:800px;display:none"></div>
                <div class="container" style="padding: 10px !important; width: 280px !important;">
                    <form id="reg-empre" name="reg-empre" class="text-center" action="" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="_token" id="_token">
                        <input type="hidden" name="_userId" id="_userId">
                        <div class="kv-avatar center-block" style="width:200px">

                            <input id="logo" name="logo" type="file" class="file-loading" onchange="previewFileLogoCompany()">
                        </div>

                        <div id="divButton" style="display: none;">
                            <button id="logoBtn" class="btn btn-lg bton-green" style="margin-top: 2% !important;" onclick="subirImagenLogoCompany()">
                                Guardar
                            </button>
                            
                        </div>

                        <div id="divLoader" style="display: none;" class="text-center col-xs-12">
                            <span style="margin-top: 4% !important;"><strong>Cargando imagen, por favor espere.</strong></span>
                        </div>
                        
                    </form>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row paddin-10">
            <div>
                <button class="btn btn-lg bton-green" ng-click="cancel()">
                    Cancelar
                </button>
            </div>
            

        </md-dialog-actions>
    </md-dialog>
</script>



