<style>
    md-dialog {
        min-width: 650px;
    }
    md-dialog-actions {
        padding: 10px !important;
        margin: 10px !important;
    }
    .form-estudios input, .form-estudios textarea {
        background-color: transparent !important;
    }
    md-autocomplete.md-default-theme, md-autocomplete {
        background-color: #fff !important;
        height: 36px !important;
        margin-top: -3px !important;
        display: inherit;
    }
    .md-virtual-repeat-container.md-autocomplete-suggestions-container {
        background-color: #fff !important;
    }
    md-virtual-repeat-container{
        z-index: 999999 !important;
        border: 1px solid #ccc !important;
    }
    .error-input{
        border: 2px solid #D71515;
    }
    .text-soy{
        color: #3F51B5;
    }
</style>
<script type="text/ng-template" id="newpasw.tmpl.html" style="width:700px;height:710px;">
    <md-dialog aria-label="" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Cambiar contraseña</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <form name="newPaswForm">
                <div class="md-dialog-content">
                    <div class="row margin-bottom-10">
                        <div class="col-lg-4 col-lg-offset-1">
                            <span class="font-size-18 margin-top-20">Ingrese contraseña actual</span></div>
                            <div class="col-lg-6 text-right">
                                <input type="password"
                                class="form-control"
                                name="paswAct"
                                ng-model="paswAct"
                                minlength="6"
                                required
                                ng-class="{'error-input': newPaswForm.paswAct.$invalid && newPaswForm.paswAct.$touched}">
                                <small class="text-danger" ng-show="newPaswForm.paswAct.$invalid && newPaswForm.paswAct.$touched">
                                    Debe ingresar una contraseña de al menos 6 dígitos
                                </small>
                            </div>
                            <div class="col-lg-4 col-lg-offset-1 margin-top-30">
                                <span class="font-size-18">Ingrese nueva contraseña</span>
                            </div>
                            <div class="col-lg-6 text-right margin-top-30">
                                <input type="password"
                                class="form-control"
                                name="pasnew"
                                ng-model="pasnew"
                                minlength="6"
                                required
                                ng-class="{'error-input': newPaswForm.pasnew.$invalid && newPaswForm.pasnew.$touched}">
                                <small class="text-danger" ng-show="newPaswForm.pasnew.$invalid && newPaswForm.pasnew.$touched">
                                    Debe ingresar una contraseña de al menos 6 dígitos
                                </small>
                            </div>
                            <div class="col-lg-4 col-lg-offset-1 margin-top-10">
                                <span class="font-size-18">Repita la nueva contraseña</span>
                            </div>
                            <div class="col-lg-6 text-right margin-top-10">
                                <input type="password"
                                class="form-control"
                                name="pasnew2"
                                ng-model="pasnew2"
                                minlength="6"
                                required
                                ng-class="{'error-input': newPaswForm.pasnew2.$invalid && newPaswForm.pasnew2.$touched}">
                                <small class="text-danger" ng-show="newPaswForm.pasnew2.$invalid && newPaswForm.pasnew2.$touched">
                                    Debe ingresar una contraseña de al menos 6 dígitos
                                </small>
                                <center>
                                    <small class="text-danger font-size-18" ng-show="pasnew2 != pasnew && newPaswForm.pasnew2.$touched && newPaswForm.pasnew.$touched">
                                        Las contraseñas ingresadas no coinciden
                                    </small>
                                </center>
                            </div>
                        </div>
                    </form>
                </md-dialog-content>
                <md-dialog-actions layout="row paddin-10">
                    <button class="btn btn-lg bton-green" ng-click="mostrar(pasnew, paswAct)" ng-disabled="newPaswForm.$invalid" >
                        Siguiente
                    </button>
                </md-dialog-actions>
            </md-dialog>
        </script>