<style>
    md-dialog {
        min-width: 650px;
    }

    md-dialog-actions {
        padding: 10px !important;
        margin: 10px !important;
    }

    .form-estudios input, .form-estudios textarea {
        background-color: transparent !important;
    }

    md-autocomplete.md-default-theme, md-autocomplete {
        background-color: #fff !important;
        height: 36px !important;
        margin-top: -3px !important;
        display: inherit;
    }

    .md-virtual-repeat-container.md-autocomplete-suggestions-container {
        background-color: #fff !important;
    }

</style>
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/ng-template" id="sociales.tmpl.html" style="width:900px;height:810px;" class="padding-20">
    <md-dialog aria-label="" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>¿Te gustó SoyEmpleo.com? Síguenos en Facebook</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons text-white">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <center>
                <div class="fb-page" data-href="https://www.facebook.com/soyempleo/" data-tabs="timeline" data-width="600"
                     data-height="350" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false"
                     data-show-facepile="false">
                    <div class="fb-xfbml-parse-ignore">
                        <blockquote cite="https://www.facebook.com/soyempleo/"><a
                                href="https://www.facebook.com/soyempleo/">SoyEmpleo</a></blockquote>
                    </div>
                </div>
            </center>
        </md-dialog-content>

        <md-dialog-actions layout="row paddin-10">
            <button class="btn btn-lg bton-green" ng-click="cancel()">
                Listo
            </button>
        </md-dialog-actions>
    </md-dialog>
</script>