<div class="panel-group body-accordion" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel-heading profile" id="profile" ng-cloak>
        <div class="col-xs-4 pull-left profile-img">
            <img src="{{userAvatar}}" class="img-circle" alt=""
            style="width: 65px !important; height: 65px !important;"/>
            <!-- <img src="{{companyAvatar}}" class="img-circle" alt=""
            style="width: 65px !important; height: 65px !important;"/> -->
        </div>
        <div class="col-xs-6">
            <small class="text-green-soy"><strong>Bienvenido</strong></small>
            <br/>
            <h4 class="text-blue-soy font-size-18 mouse-pointer" np-redirect="">{{lt.nombreSaludoCompany}}</h4>
        </div>
    </div>
    <div class="panel-heading margin-top-80" role="tab" id="share">
        <h4 class="panel-title ">
            <div class="fb-share-button" data-href="http://soyempleo.com/"
            data-layout="button_count"></div>
        </h4>
    </div>
    <div class="panel-heading" role="tab" id="DatosPersonales">
        <h4 class="panel-title ">
            <button data-toggle="collapse" class="collapsed btn-accordion" data-parent="#accordion"
                href="#resumenCollapse" aria-expanded="false" np-redirect="basicData">
                <span class="material-icons col-xs-3"><i class="fa fa-building"></i></span>
                <span class="col-xs-9 text-left title-in-button">Datos Básicos</span>
            </button>
        </h4>
    </div>
    <div class="panel-heading" role="tab" id="DatosPersonales">
        <h4 class="panel-title ">
            <button data-toggle="collapse" class="collapsed btn-accordion" data-parent="#accordion"
                href="#resumenCollapse" aria-expanded="false" np-redirect="aditionalData">
                <span class="material-icons col-xs-3"><i class="fa fa-info-circle"></i></span>
                <span class="col-xs-9 text-left title-in-button">Datos Adicionales</span>
            </button>
        </h4>
    </div>
</div>