<!--vista apra llenar hoja de vida-->
        <div ng-controller="hojaCompanyController as vm" ng-if="true">
            <section id="section-datos" class="margin-0 text-center" >
                <div ng-include="'app/sectionCompany/basicData.html'"></div>
            </section> 
            <!-- <section id="section-datos" class="margin-0 text-center" ng-if="vm.code==3">
                <div ng-include="'app/perfil.html'"></div>
            </section> -->
        </div>

        <!-- ng-if="accountType == 'company'" -->